{% extends "dashboard/blocks/comment_details.html" %}
{% load i18n %}

{% block comment_content %}
{{ block.super }}
<div class="base-navigation-link">
  <i class="fa-solid fa-angles-left"></i>
  <a href="{% url "comment_list" %}">
    <span>Back to overview</span>
  </a>
</div>
<div class="comment-section-head">
  <div class="comment-section-title">
    <span>Comment - Details</span>
    {% if show_edit is True %}
    {% if edit is True %}
    <a href="{% url "comment_details" pk=comment.id%}" class="comment-edit-link">
      <button id"comment-action-edit" class="comment-section-action button-icon">
        <i class="fa-solid fa-circle-xmark"></i><span>Cancel</span>
      </button>
    </a>
    {% else %}
    <a href="{% url "comment_edit" pk=comment.id edit="edit"%}" class="comment-edit-link">
      <button id"comment-action-edit" class="comment-section-action button-icon">
        <i class="fa-solid fa-pen"></i><span>Edit</span>
      </button>
    </a>
    {% endif %}
    {% endif %}
  </div>
  {% comment %} Check if there's any button to show {% endcomment %}
  {% if show_context is True and comment.base_url or form_moderators or comment.can_moderate or delete_form or comment_form %}
  <div class="comment-section-actions desktop">
    {% include "dashboard/common/comment_details_actions.html" with form_id="comment-moderation-form" %}
  </div>
  <div class="comment-section-actions mobile">
    <div class="custom-dropdown">
      <div id="comment-details-actions-dropdown" class="custom-dropdown-toggle">
        <button id"comment-action-context" class="comment-section-action button-icon">
          <i class="fa-solid fa-sliders"></i>
          <span>Actions</span>
        </button>
      </div>
      <div class="custom-dropdown-content right-absolute" aria-labelledby="comment-details-actions-dropdown">
        <div class="comment-details-actions-menu">
          {% include "dashboard/common/comment_details_actions.html" with form_id="comment-moderation-form" %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
<hr>

<div id="comment-details">
  {% if comment.can_moderate and moderate_form %}
  <form id="comment-moderation-form"
        method="POST"
        action="{% url moderate_form.post_url pk=comment.id %}"
        class="form-deactivate-on-submit">
    {% csrf_token %}
    {% for field in moderate_form.visible_fields %}
    <div class="comment-details-entry">
      <div class="comment-details-label">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.help_text %}
        <i class="fa-solid fa-circle-question"></i>
        <div role="tooltip" class="custom-tooltip">
          {{ field.help_text }}
        </div>
        {% endif %}
      </div>
      <div class="comment-details-value">
        {{ field }}
      </div>
    </div>
    {% endfor %}
    {% for field in moderate_form.hidden_fields %}
    {{ field }}
    {% endfor %}
  </form>
  {% endif %}
  <div id="comment-details-serie" class="comment-details-entry">
    <div class="comment-details-label">
      Serie
    </div>
    <div class="comment-details-value">
      {{ comment.site_name|upper }}
    </div>
  </div>
  <div id="comment-details-article" class="comment-details-entry">
    <div class="comment-details-label">
      Article
    </div>
    <div class="comment-details-value">
      {% if comment.base_url %}
      <a target="_blank" href="{{ comment.base_url }}">{{ comment.doi }}</a>
      {% else %}
      {{ comment.doi }}
      {% endif %}
    </div>
  </div>
  <div id="comment-details-author" class="comment-details-entry">
    <div class="comment-details-label">
      Author
    </div>
    <div class="comment-details-value">
      {% if comment.author_name %}
      <a href="mailto:{{ comment.author_email }}">{{ comment.author_name }}</a>
      {% endif %}
    </div>
  </div>
  {% if comment.author_provider in "orcid,some_other_provider" and comment.author_provider_uid %}
  <div id="commen-details-author-provider" class="comment-details-entry">
    <div class="comment-details-label">
      Author {{ comment.author_provider|upper }}
    </div>
    <div class="comment-details-value">
      {% if comment.author_provider_link %}
      <a href="{{ comment.author_provider_link }}" target="_blank">
        {{ comment.author_provider_uid }}
      </a>
      {% else %}
      {{ comment.author_provider_uid }}
      {% endif %}
      </div>
  </div>
  {% endif %}
  <div class="comment-details-date comment-details-entry">
    <div class="comment-details-label">
      Submitted on
    </div>
    <div class="comment-details-value">
      {{ comment.date_submitted|date:"DATE_FORMAT" }}
    </div>
  </div>
  <div id="comment-details-status" class="comment-details-entry">
    <div class="comment-details-label">
      Status
    </div>
    <div class="comment-details-value">
      <span class="comment-status comment-status-{{ comment.status }}">{{ comment.status|title }}</span>
    </div>
  </div>
  {% if display_moderators %}
  <div id="comment-details-moderators" class="comment-details-entry">
    {% if display_moderated_by %}
    <div class="comment-details-label">
      Processed by
    </div>
    <div class="comment-details-value">
      {{ comment.moderation_data.moderated_by.first_name }} {{ comment.moderation_data.moderated_by.last_name }}
    </div>
    {% else %}
    <div class="comment-details-label">
      Moderator(s)
    </div>
    <div class="comment-details-value comment-details-row">
      {% if comment.moderators_processed %}
      <div class="comment-details-column">
        {% with moderators=comment.moderators_processed.values %}
        {% for moderator in moderators %}
        <div>{% if moderators|length > 1 %}-&nbsp;{%endif%}{{ moderator.first_name }} {{ moderator.last_name }}</div>
        {% endfor %}
        {% endwith %}
      </div>
      {% if moderator_remove_form%}
      <div class="comment-details-column">
        <button id="edit-comment-moderators"
            class="custom-modal-opener comment-moderator-button comment-section-action button-icon button-deactivable"
            data-modal-id="comment-edit-moderators-modal">
          <i class="fa-solid fa-pen"></i><span>Edit</span>
        </button>
      </div>
      {% endif %}
      {% endif %}
    </div>
    {% endif %}
  </div>
  {% comment %} Pending invitations with moderation rights over the comment {% endcomment %}
  {% if invitations %}
  <div id="comment-details-invitations" class="comment-details-entry">
    <div class="comment-details-label">
      Pending invitations
    </div>
    <div class="comment-details-value">
      <div class="comment-details-column">
        {% for invitation in invitations %}
        <div>
          <span>{{ invitation.first_name }} {{ invitation.last_name }}</span>
          <span>({{ invitation.email }}) - </span>
          <span class="{% if invitation.key_expired %}comment-label-error{% else %}comment-label-success{% endif %}">Expire on: <i>{{ invitation.date_expired|date:"DATE_FORMAT" }}</i></span>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}
  {% if comment.moderation_data.date_moderated %}
  <div class="comment-details-date comment-details-entry">
    <div class="comment-details-label">
      Processed on
    </div>
    <div class="comment-details-value">
      {{ comment.moderation_data.date_moderated|date:"DATE_FORMAT" }}
    </div>
  </div>
  {% endif %}
  {% if comment.parent %}
  <div class="comment-details-parent comment-details-entry">
    <div class="comment-details-label">
      Answering to
    </div>
    <div class="comment-details-value">
      {% if comment.base_url %}
      <a target="_blank" href="{{ comment.base_url }}#article-comment-{{comment.parent.id}}">
        {{ comment.parent.author_display_name }}
      </a>
      {% else %}
      {{ comment.parent.author_display_name }}
      {% endif %}
    </div>
  </div>
  {% endif %}
  <div id="comment-details-content" class="comment-details-entry">
    <div class="comment-details-label">
      Comment
    </div>
    <div class="comment-details-value">
      {% if edit is True %}
      <form action="{{ post_url }}" method="POST" class="form-deactivate-on-submit">
        {% csrf_token %}
        <div id="comment-edit-input">
          {{ comment_form.media }}
          {{ comment_form }}
        </div>
      </form>
      {% else %}
      {{ comment.sanitized_html|safe }}
      {% endif %}
    </div>
  </div>
  </div>
</div>
{% endblock comment_content%}
