{% extends "dashboard/blocks/comment_wrapper.html" %}

{% block comment_content %}

<div id="submitted-comments" class="comment-list-section">
  <div class="comment-section-head">
    <div class="comment-section-title">
      <span>Pending comments</span>
      <span class="table-badge-count">{{ submitted_comments|length }}</span>
    </div>
  </div>
  <hr>
  <div class="comment-list-section-content">
    {% if submitted_comments %}
    <div class="comment-table-actions">
      <input type="text" id="submitted-comment-search" class="table-search" placeholder="Search in table...">
      {% if submitted_comments|length > 5 %}
      <div class="comment-table-pagination">
        <div class="comment-table-pagination-choice">
          <select class="comment-table-pagination-count">
            <option value="5">5</option>
            <option value="10" selected="selected">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
          <div>rows per page</div>
        </div>
        <div class="comment-table-pagination-buttons">
          <button class="comment-pagination-button comment-pagination-previous">
            Previous
          </button>
          <button class="comment-pagination-button comment-pagination-next">
            Next
          </button>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="comment-table-wrapper">
      <table class="comment-table">
        {% include "dashboard/common/comment_list_header.html" with sort_header="date_submitted" %}
        <tbody>
          {% for comment in submitted_comments %}
          {% include "dashboard/common/comment_list_entry.html" with comment=comment %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <p>There are no pending comments</p>
    {% endif %}
  </div>
</div>

<div id="validated-comments" class="comment-list-section">
  <div class="comment-section-head">
    <div class="comment-section-title">
      <span>Processed comments</span>
      <span class="table-badge-count">{{ processed_comments|length }}</span>
    </div>
  </div>
  <hr>
  <div class="comment-list-section-content">
    {% if processed_comments %}
    <div class="comment-table-actions">
      {% if processed_comments|length > 5 %}
      <input type="text" id="validated-comment-search" class="table-search" placeholder="Search in table...">
      <div class="comment-table-pagination">
        <div class="comment-table-pagination-choice">
          <select class="comment-table-pagination-count">
            <option value="5">5</option>
            <option value="10" selected="selected">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
          <div>rows per page</div>
        </div>
        <div class="comment-table-pagination-buttons">
          <button class="comment-pagination-button comment-pagination-previous">
            Previous
          </button>
          <button class="comment-pagination-button comment-pagination-next">
            Next
          </button>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="comment-table-wrapper">
      <table class="comment-table">
        {% include "dashboard/common/comment_list_header.html" with display_published=True display_moderated_by=True sort_header="date_moderated" %}
        <tbody>
          {% for comment in processed_comments %}
          {% include "dashboard/common/comment_list_entry.html" with comment=comment display_published=True display_moderated_by=True %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
      <p>There are no processed comments</p>
    {% endif %}
  </div>
</div>

{% endblock comment_content %}
