{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
  <div class="right_col" role="main">
    <h1>Nettoyage de l'historique </h1>
    <hr>
    <div class="col-xs-12">
      <form method="post">{% csrf_token %}
        <p>Cette action préservera uniquement la dernière action pour chaque pid</p>
        <p>Entrées d'historique qui seront supprimées : {{ object.count }}<p>
        <input type="submit" class="btn btn-danger" value="Nettoyer l'historique">
        <a class='btn btn-default' href="{% url 'history' %}">Retour</a>
      </form>
    </div>
  </div>
{% endblock content %}
