{% load i18n %}
{% load static %}
{% load stringsfilter %}

{% with descriptions=journal.get_descriptions %}
{% with sorted_issues|first as first_vserie %}
{% with first_vserie.volumes|first as first_volume %}
{% with first_volume.issues|first as first_issue %}

<div class="container">
  <div class="row" style="margin-top: 20px; margin-bottom:20px">
    {% if journal.icon %}
      <div class="col-xs-2" style="min-width:110px">
        <div class="cover-thumbnail">
            <a href="{{ journal.icon }}" class="lightbox" title="">
              <img src="{{ journal.small_icon }}">
            </a>
        </div>
    {% elif journal.small_icon %}
        <div class="col-xs-3" style="min-width:110px; margin-top: 20px;">
          <img src="{{ journal.small_icon }}" alt="cover">
    {% else %}
        <div class="col-xs-2" style="min-width:110px">
          <img src="/static/ptf/img/journal-generic.png" alt="cover">
    {% endif %}
    </div>
    {% if first_issue.my_publisher.pub_key == 'societe-mathematique-de-france' %}
    <div class="col-xs-8" style="padding-top:0px">
    {% else %}
    <div class="col-xs-10" style="padding-top:0px">
    {% endif %}
      <h3>
      {% if request.session.formula_display == 'tex' %}
        {{ journal.title_tex|safe }}
      {% else %}
        {{ journal.title_html|safe }}
      {% endif %}
      </h3>

      {% for description in descriptions.all %}
      {% if LANGUAGE_CODE == description.lang or description.lang == "und" %}
        {% if request.session.formula_display == 'tex' %}
        {{ description.value_tex|safe }}
        {% else %}
        {{ description.value_html|safe }}
        {% endif %}
      {% endif %}
      {% endfor %}

      <p>
        {% if journal.issn %}ISSN: {% trans 'Edition papier' %} : {{ journal.issn }}{% endif %}{% if journal.issn and journal.e_issn %}, {% endif %}{% if journal.e_issn %}{% trans 'Edition électronique' %} : {{ journal.e_issn }}{% endif %}
        <br>
        {% trans 'Période couverte dans Numdam' %} : <time datetime="{{ journal.fyear }}">{{ journal.fyear }}</time>-<time datetime="{{ journal.lyear }}">{{ journal.lyear }}</time>
        <br>
        {% if journal.wall %}
          {% trans 'Barrière mobile : ' %}<time datetime="P{{ journal.wall }}Y">{{ journal.wall }} {% trans 'an' %}{{ journal.wall|pluralize }}</time>
        {% endif %}
      </p>
      {% if journal.alive and current_edition %}
        <p>
          <a href="{{ current_edition }}" target="_blank">{% trans 'Edition courante' %}</a>
        </p>
      {% endif %}

      {% if journal.coltype != 'journal' and journal.coltype != 'acta' %}
        {% if journal.coltype|startswith:'book' %}
          <p><a href="/series?{{ '"'|add:journal.title_html|add:'"-p/' }}">{% trans "Affichage des livres par titre" %}</a></p>
        {% elif journal.coltype|startswith:'lecture-notes' %}
          <p><a href="/lectures?{{ '"'|add:journal.title_html|add:'"-p/' }}">{% trans "Affichage des livres par titre" %}</a></p>
        {% endif %}
      {% endif %}

      <!-- fonctionnalité par encore prête -->
      <!-- Button trigger modal -->
      <button type="button" id="history-button" class="btn btn-info hidden" data-toggle="modal" data-target="#history-modal">
        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
        {% if LANGUAGE_CODE == 'en'  %}
          History
        {% else %}
          Historique
        {% endif %}
      </button>

      <!-- Modal -->
      <div class="modal fade" id="history-modal" tabindex="-1" role="dialog" aria-labelledby="HistoryGraph">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">
                {{ journal.title_html|safe }} -
                {% if LANGUAGE_CODE == 'en'  %}
                  History
                {% else %}
                  Historique
                {% endif %}
              </h4>
            </div>
            <div class="modal-body">
              <div id="journal-graph" class="text-center" data-issn="{{ journal.issn }}" data-e-issn="{{ journal.e_issn }}" data-pid="{{ journal.pid }}">
                <svg id="svg-canvas">
                  <g transform="translate(20, 20)"/>
                </svg>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                {% if LANGUAGE_CODE == 'en'  %}
                  Close
                {% else %}
                  Fermer
                {% endif %}
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
    {% if first_issue.my_publisher.pub_key == 'societe-mathematique-de-france' %}
      <div class="col-xs-2" style="min-width:110px">
        <a href="https://smf.emath.fr"><img src="/static/mersenne_cms/img/logo-societe-mathematique-de-france.jpg" width="80px"></a>
      </div>
    {% endif %}
  </div>
</div>

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
