{% load i18n %}
{% load static %}
<div class="comment-wrapper comment-wrapper-{{ comment.status }}">
  {% comment %} Contains Author, Date and action buttons(respond) {% endcomment %}
  <div class="comment-header">
    <div class="comment-header-metadata">
      {% comment %} The author is absent for deleted comments {% endcomment %}
      {% if comment.article_author_comment %}
      <div class="comment-author comment-author-badge">
        {{ comment.author_display_name }}
      </div>
      <span class="hyphen-separator">-</span>
      {% else %}
      {% if comment.editorial_team_comment %}
      <div class="comment-author comment-editorial-team-badge">
        {{ comment.author_display_name }}
      </div>
      <span class="hyphen-separator">-</span>
      {% else %}
      {% if comment.author_display_name %}
      <div class="comment-author">
        {{ comment.author_display_name }}
        {% if comment.author_provider == "orcid" and comment.author_provider_link %}
        <a class="icon-badge-link" href="{{ comment.author_provider_link }}" target="_blank">
          <sup><img class="comment-orcid-badge" src="{% static "ptf/img/orcid.svg" %}"></sup>
        </a>
        {% endif %}
      </div>
      <span class="hyphen-separator">-</span>
      {% endif %}
      {% endif %}
      {% endif %}
      <div class="comment-date">
        {{comment.date_submitted|date:"DATE_FORMAT"}}
      </div>
      {% if comment.parent %}
        <span class="hyphen-separator">-</span>
        <div class="comment-replying-to">
          {% trans 'En réponse à' %}&nbsp;<a class="comment-fragment-link" href="#article-comment-{{ comment.parent.id }}">{{ comment.parent.author_display_name }}</a>
        </div>
      {% endif %}
    </div>
    {% if comment.show_buttons %}
    {% comment %} Buttons are collapsed in a dropdown menu for small screens {% endcomment %}
    <div class="comment-buttons mobile-buttons">
      <button id="comment-buttons-dropdown-{{ comment.id }}"
              type="button"
              class="custom-dropdown-toggle btn light-btn fa fa-ellipsis-h"
              data-bs-toggle="dropdown"
              ara-haspopup="true"
              aria-expanded="false">
      </button>
      <div class="dropdown-menu custom-dropdown-content right-absolute" aria-labelledby="comment-buttons-dropdown-{{ comment.id }}">
        <div class="comment-buttons-mobile-wrapper">
          {% include "common/article_comment_buttons.html"%}
        </div>
      </div>
    </div>
    {% comment %} Default buttons {% endcomment %}
    <div class="comment-buttons desktop-buttons">
      {% include "common/article_comment_buttons.html"%}
    </div>
    {% else %}
    <div class="comment-preview-tag">
      <strong>{% trans "Aperçu" %}</strong>
    </div>
    {% endif %}
  </div>
  <div class="comment-body-wrapper">
    <div class="comment-body apply-show-more-overlay apply-show-less-overlay">
      {{ comment.sanitized_html|safe }}
    </div>
  </div>
</div>
