{% load i18n %}
<button href="#article-comment-{{ comment.id }}" class="btn light-btn comment-get-link">
  <i class="fa fa-link" aria-hidden="true"></i>
  {% trans 'Copier le lien' %}
</button>
<button class="btn btn-primary article-comment-reply" data-comment-id="{{ comment.id }}">
  <i class="fa fa-reply" aria-hidden="true"></i>
  {% trans 'Répondre' %}
</button>
