{% load i18n %}

<div class="comment-sign-in-wrapper">
  <div class="comment-sign-in">
    <p>{% trans "Vous devez vous connecter pour continuer." %}</p>
    <a class="comment-sign-in-button" href="{{ authentication_url }}">
      <i class="fa fa-user" aria-hidden="true"></i>
      {% trans "S'authentifier" %}
    </a>
  </div>
</div>
