#comment-dashboard-content-wrapper {
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 15px;
    line-height: initial;
    display: inline-block;
    text-align: left;
    color: var(--text-color-default)
}

a, a:hover, a:active, a:focus {
    all: unset;
}

a {
    color: var(--link-color);
}

a:hover, a:focus {
    text-decoration: underline;
    color: var(--color-primary);
    cursor: pointer;
}

.container-width {
    width: min(1600px, 95vw);
}

.comment-centered-content-container {
    text-align: center;
}

.comment-section-head {
    margin: 1.5em 0em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comment-section-title {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    color: var(--color-primary);
    font-weight: 600;
    gap: 1em;
    align-items: center;
}

.comment-list-section-content {
    margin: 2em;
    margin-bottom: 4em;
}

.comment-table-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.comment-table-pagination {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    padding: 10px;
}

select.comment-table-pagination-count {
    padding: 5px;
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    color: var(--color-primary);
    font-weight: bold;

}

select.comment-table-pagination-count option {
    color: var(--color-primary);
}

.comment-table-pagination-choice {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.comment-table-pagination-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.comment-pagination-button {
    padding: 6px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--text-color-primary);
}

.comment-pagination-link:hover,
.comment-pagination-previous:hover,
.comment-pagination-next:hover,
.comment-pagination-link.comment-pagination-active {
    color: var(--text-hover-primary);
}

.comment-pagination-link:hover,
.comment-pagination-previous:hover,
.comment-pagination-next:hover {
    cursor: pointer
}

.comment-pagination-active {
    font-weight: 700;
}

.comment-table-wrapper {
    display: block;
    overflow-x: auto;
    min-height: calc(2 * var(--comment-list-min-height));
    /* max-height: 70vh; Not needed anymore now that we have pagination. */
}

.comment-table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    overflow: auto;
}

.comment-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--color-primary);
    color: var(--text-color-primary);
    background-clip: padding-box;
    font-weight: bold;
    text-align: left;
    padding: 1.6em 0.8em;
    white-space: nowrap;
}

.comment-table thead th.comment-list-detail {
    text-align: center;
}

.comment-table th:first-child {
    border-top-left-radius: 4px;
}

.comment-table th:last-child {
    border-top-right-radius: 4px;
}

.comment-table th:first-child,
.comment-table td:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    background-clip: padding-box;
}


.comment-table td:first-child {
    background-color: inherit;
}

.cell-content {
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.cell-limit-height {
    min-height: var(--comment-list-min-height);
    max-height: var(--comment-list-max-height);
    overflow: hidden;
}

.comment-content.cell-limit-height  {
    display: block;
}

.comment-content p {
    margin: 10px 0px;
}

.cell-content-center {
    display: flex !important;
    align-items: center;
}

.comment-list-detail a,
.comment-list-detail .button-light,
.comment-list-detail button,
.comment-list-detail .comment-section-action {
    padding: 0.45em;
    border-radius: 3px;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 2em;
    width: 2em;
    box-shadow: 0 0 3px 0 #b0b0b0;
    transition: 0.2s ease-out;
}

.comment-list-detail a,
.comment-list-detail .button-light {
    color: var(--color-primary);
    font-weight: bold;
}

.comment-list-detail a:hover,
.comment-list-detail .button-light:hover {
    box-shadow: 0 0 5px 1px #b0b0b0;
    background-color: #ddd;
    text-decoration: unset;
}

.comment-list-detail .cell-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.comment-list-detail .comment-quick-actions {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.cell-column {
    flex-direction: column;
    justify-content: center;
}

.show-more-overlay {
    margin-top: -4.5em;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: -0.4em;
    padding: 1em;
    justify-content: center;
}

.comment-table tbody tr:nth-child(even) .show-more-overlay.more {
    background: linear-gradient(rgba(255, 255, 255, 0), #eaeaea)
}

.comment-table tbody tr:nth-child(odd) .show-more-overlay.more {
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(254, 254, 254))
}

.show-more-overlay.less {
    margin-top: 0px;
}

.show-more-overlay > span {
    padding: 0.5em;
    background-color: var(--color-primary);
    color: var(--text-color-primary);
    border-radius: 3px;
}


.display-none {
    display: none !important;
}

.comment-table td {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 0.4em;
}

.comment-table td span {
    /* Unset shitty Bootstrap's styling */
    line-height: unset !important;
}

.comment-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.comment-table tbody tr:nth-child(odd) {
    background-color: rgb(254, 254, 254);
}

.comment-table tbody tr:nth-child(even) {
    background-color: #eaeaea;
}

.comment-table tbody tr:hover {
    background-color: var(--color-secondary) !important;
    cursor: pointer;
    /* border-bottom: 2px solid var(--color-primary); */
}

.comment-table tbody tr:hover .show-more-overlay.more {
    background: linear-gradient(rgba(var(--color-secondary-rgb), 0), rgba(var(--color-secondary-rgb), 1)) !important;
}

#comment-details {
    padding: 1.5em;
}

.comment-list-content {
    max-width: min(500px, 30vw);
    min-width: 130px;
}

.comment-details-entry {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    margin-bottom: 1.5em;
    overflow: hidden;
}

.base-navigation-link a {
    color: var(--color-primary);
}

.base-navigation-link a:hover {
    text-decoration: unset;
}

.base-navigation-link a > span {
    text-decoration: underline;
}

.base-navigation-link a:hover {
    color: #626262;
}

.comment-details-label {
    flex: 0 0 min(40vw, 200px);
    color: var(--color-primary);
    font-weight: 600;
    text-align: right;
}

.comment-details-label::after {
    content: ":";
    display: inline;
}

.custom-tooltip {
    display: none;
    position: absolute;
    text-align: left;
    margin: 10px;
    padding: 10px;
    background-color: var(--default-background-color);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    font-weight: normal;
}

.comment-details-entry:hover .custom-tooltip,
.comment-details-entry:active .custom-tooltip,
.comment-details-entry:focus .custom-tooltip {
    display: block;
}

.comment-details-value {
    flex-grow: 1;
    display: contents;
}

#comment-details-moderators {
    align-items: center;
}

#comment-details-content .comment-details-value {
    overflow: auto;
    display: initial;
}

/* Remove the potential top margin and padding of the first element of a comment */
#comment-details-content .comment-details-value > :first-child,
#comment-details-content .comment-details-value > :first-child > :first-child {
    margin-top: 0px;
    padding-top: 0px;
}

.comment-details-column {
    display: flex;
    flex-direction: column;
}

.comment-details-row {
    display: flex;
    flex-direction: row;
    gap: 2em;
    flex-wrap: wrap;
}

#comment-details-moderators .comment-details-row {
    align-items: center;
}

.comment-label-error {
    color: var(--color-error);
}

.comment-label-success {
    color: var(--color-success);
}

.comment-status {
    box-sizing: border-box;
    padding: 0.2em;
    border-radius: 3px;
}

.comment-status-validated {
    background-color: var(--color-success);
    color: var(--text-color-primary);
}

.comment-status-rejected{
    background-color: var(--color-error);
    color: var(--text-color-primary);
}

.comment-status-deleted {
    background-color: #393939;
    color: #edf6ff;
}

.comment-status-submitted {
    background-color: var(--color-warning);
    color: var(--text-color-primary);
}

.comment-section-actions.desktop {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.comment-section-actions.mobile {
    display: none;
    position: relative;
}

.comment-details-actions-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    background: #fdfdfd;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 0 rgb(0, 0, 0, 0.2);
}

.comment-section-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    height: fit-content
}

.comment-section-action:hover {
    cursor: pointer;
}

.comment-section-action i {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

button {
    all: unset;
    border-radius: 3px;
    font-size: 1em;
}


button:hover,
.button-icon:hover {
    transition: 0.2s ease-out;
    filter: brightness(92%);
}

button:active,
.button-icon:active,
.custom-dropdown-open .custom-dropdown-toggle .button-icon {
    filter: brightness(80%);
}

button[disabled=true] {
    background-color: rgb(187, 187, 187);
    border-color: rgb(187, 187, 187);
}

button[disabled=true]:hover {
    filter: unset;
    cursor: unset;
}

.button-success {
    border: unset;
    color: var(--text-color-primary);
    background-color: var(--color-success);
    border: 2px solid var(--color-success);
}

.button-success:hover {
    background-color: var(--text-color-primary);
    color: var(--color-success);
    filter: unset;
}

.button-error {
    border: unset;
    color: var(--text-color-primary);
    background-color: var(--color-error);
    border: 2px solid var(--color-error);
    transition: 0.2s ease-out;
}

.button-error:hover {
    background-color: var(--text-color-primary);
    color: var(--color-error);
    filter: unset;
}

.button-info {
    border: unset;
    color: var(--text-color-primary);
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.button-info:hover {
    background-color: var(--text-color-primary);
    color: var(--color-primary);
    filter: unset;
}

.button-icon {
    border: unset;
    color: inherit;
    background-color: var(--default-background-color);
}

.table-badge-count {
    padding: 0.3em;
    color: var(--text-color-primary);
    background-color: var(--color-primary);
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.85em;
}

input.table-search {
    width: min(80%, 500px);
    height: 3em;
    text-indent: 0.5em;
}

/* input.table-search:focus, */
input.table-search.active {
    border: 3px solid goldenrod;
    border-radius: 4px;
}

.cell-header-sort::before {
    content: "\f161";
    font: var(--fa-font-solid);
    margin-right: 0.5em;
    display: inline-block;
    transition: transform 0.2s ease-out;
}

.cell-header-sort.ascending::before {
    transform: rotate(180deg);
}

.cell-header-sort:hover,
.cell-header-sort.sorted {
    cursor: pointer;
    color: var(--text-hover-primary);
}

.comment-list-section > hr,
.comment-section-head + hr {
    height: 0px;
    border: 1px solid var(--color-primary);
}

.display-block {
    display: block;
}

#comment-language-select select,
#comment-language-select option {
    width: 7em;
    height: 2em;
}

#comment-edit-input {
    max-width: 1200px;
}

#comment-edit-input .django-ckeditor-widget {
    display: block !important;
}

.comment-edit-link, .comment-edit-link:hover, .comment-edit-link:active {
    all: inherit;
    font-weight: normal;
    font-size: initial;
}

@media all and (max-width: 1600px) {
    #comment-dashboard-content-wrapper {
        font-size: 14px;
    }
}

@media all and (max-width: 1200px)  {
    #comment-dashboard-content-wrapper {
        font-size: 13px;
    }
}

@media all and (max-width: 700px) {
    .comment-section-actions.desktop {
        display: none;
    }
    .comment-section-actions.mobile {
        display: block;
    }
}
