{% extends "common/allauth_form_base_template.html" %}
{% load static %}

{% block title %}Trammel - Login{% endblock title %}
{% block page_title_anonymous %}Trammel &nbsp;-&nbsp; Login{% endblock page_title_anonymous %}

{% block allauth_form_content %}
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {% include "common/allauth_form_errors.html"%}
  {% include "common/allauth_form_inputs.html" %}
  <div class="form-buttons">
    <button type="submit">LOGIN</button>
  </div>
  <div id="form-text">
      <div><a href="{% url "account_reset_password" %}">Forgot password ?</a>
  </div>
</form>
{% endblock allauth_form_content %}
