{% extends "common/allauth_form_base_template.html" %}

{% block title %}Trammel - Change password{% endblock title %}
{% block page_title_authenticated %}Change password{% endblock page_title_authenticated %}

{% block allauth_form_content %}
<div class="form-description">
    <p>
        Fill the following form to change the password associated with your account.
    </p>
</div>
<form method="POST" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {% include "common/allauth_form_errors.html"%}
    {% include "common/allauth_form_inputs.html" %}
    <div class="form-buttons">
        <button type="submit">CHANGE PASSWORD</button>
    </div>
    <div id="form-text">
        <div><a href="{% url "account_reset_password" %}">Forgot password ?</a>
    </div>
</form>
{% endblock allauth_form_content %}
