{% extends "common/allauth_form_base_template.html" %}

{% block title %}Trammel - Password reset{% endblock title %}
{% block page_title_authenticated %}Password reset{% endblock page_title_authenticated %}
{% block page_title_anonymous %}Trammel - Password reset{% endblock page_title_anonymous %}

{% block allauth_form_content %}
  <div class="form-description">
    {% if token_fail %}
    <p>
        The password reset link was invalid, possibly because it has already been used.<br>
        Please request a <a href="{{ passwd_reset_url }}">new password reset</a> or go back to the <a href="{% url "oidc:account_login" %}">login</a> screen.
    </p>
    {% else %}
    <p>
        Please fill the form below to reset your password.
    </p>
    {% endif %}
  </div>
{% if not token_fail %}
<form method="POST" action="{{action_url}}">
    {% csrf_token %}
    {% include "common/allauth_form_errors.html"%}
      {% include "common/allauth_form_inputs.html" %}
    <div class="form-buttons">
        <button type="submit">RESET PASSWORD</button>
    </div>
    <div id="form-text">
        {% if user.is_authenticated %}
        <span>Back to the <a href="{% url "home" %}">home</a> screen</span>
        {% else %}
        <span>Back to the <a href="{% url "account_login" %}">login</a> screen</span>
        {% endif %}
    </div>
</form>
{% endif %}
{% endblock allauth_form_content %}
