{% extends "common/allauth_form_base_template.html" %}

{% block title %}Trammel - Reset password{% endblock title %}
{% block page_title_authenticated %}Reset password{% endblock page_title_authenticated %}
{% block page_title_anonymous %}Trammel - Reset password{% endblock page_title_anonymous %}


{% block allauth_form_content %}
<div class="form-description">
  <p>
    Enter your email adress below and click the button to reset your account password.
  </p>
</div>
<form method="POST" action="{% url 'account_reset_password' %}">
  {% csrf_token %}
  {% include "common/allauth_form_errors.html"%}
  {% include "common/allauth_form_inputs.html" %}
  <div class="form-buttons">
      <button type="submit">RESET PASSWORD</button>
  </div>
  <div id="form-text">
      {% if user.is_authenticated %}
      <span>Back to the <a href="{% url "home" %}">home</a> screen</span>
      {% else %}
      <span>Back to the <a href="{% url "account_login" %}">login</a> screen</span>
      {% endif %}
  </div>
</form>
{% endblock allauth_form_content %}
