{% extends "common/allauth_form_base_template.html" %}

{% block title %}Trammel - Password reset{% endblock title %}
{% block page_title_authenticated %}Password reset <i class="fa-solid fa-circle-check"></i>{% endblock page_title_authenticated %}
{% block page_title_anonymous %}Trammel - Password reset <i class="fa-solid fa-circle-check"></i>{% endblock page_title_anonymous %}

{% block allauth_form_content %}
<div class="form-description">
  <p>
    Your password has been reset.
  </p>
  {% if user.is_authenticated%}
  <p>
      Back to the <a href="{% url "home" %}">home</a> screen
  </p>
  {% else %}
  <p>
    Back to the <a href="{% url "account_login" %}">login</a> screen
  </p>
  {% endif %}
</div>
{% endblock allauth_form_content %}
