{% extends "common/allauth_form_base_template.html" %}

{% block title %}Trammel - Reset password{% endblock title %}
{% block page_title_authenticated %}Reset password <i class="fa-solid fa-circle-check"></i>{% endblock page_title_authenticated %}
{% block page_title_anonymous %}Trammel - Reset password <i class="fa-solid fa-circle-check"></i>{% endblock page_title_anonymous %}

{% block allauth_form_content %}
<div class="form-description">
  <p>
      We have sent you an e-mail to reset your password.
      Please check your spam folder if you do not see the e-mail in the next few minutes.
  </p>
  {% if user.is_authenticated%}
  <p>
      Back to the <a href="{% url "home" %}">home</a> screen
  </p>
  {% else %}
  <p>
    Back to the <a href="{% url "account_login" %}">login</a> screen
  </p>
  {% endif %}
</div>
{% endblock allauth_form_content %}
