{% extends "common/allauth_form_base_template.html" %}

{% load static %}

{% block title %}Trammel - Signup{% endblock title %}
{% block page_title_anonymous %}Trammel &nbsp;-&nbsp; Signup{% endblock page_title_anonymous %}


{% block allauth_form_content %}
<form method="POST" action="{% url "account_signup" %}">
  {% csrf_token %}
  {% if form.errors %}
  <div>
    {% for field in form %}
    {% for error in field.errors %}
    <div class="message-error">
      {{ field.label|title }}&nbsp;-&nbsp;<strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="message-error">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="form-inputs">
    {% for field in form %}
    <div class="form-input {% if field.errors%}input-error{% endif %}">
      {% comment %} E-mail is a hidden field, we don't want the user to change it on signup
      We display a disabled field with the e-mail value instead
      {% endcomment %}
      {% if field.label|lower in "email,e-mail" %}
      {{ field }}
      <div class="block-input">
        <label>E-mail:</label>
        <input type="email" disabled="" value="{{ field.initial }}">
      </div>
      {% else %}
      {% comment %} Adapt the layout according to the input type {% endcomment %}
      {% with type=field.field.widget.input_type%}
      {% comment %} Inline input {% endcomment %}
      {% if type == "checkbox" %}
      <div class="inline-input">
        {{ field.label_tag }}
        {{ field }}
      </div>
      {% comment %} Block input (default) - label and input on 2 different lines {% endcomment %}
      {% else %}
      <div class="block-input">
        {{ field.label_tag }}
        {{ field }}
      </div>
      {% endif %}
      {% endwith %}
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <div class="form-buttons">
    <button type="submit" class="btn btn-primary btn-lg">SIGN UP</button>
  </div>
</form>
{% endblock allauth_form_content %}
