{% extends "common/allauth_form_base_template.html" %}

{% block title %}Trammel - Signup closed{% endblock title %}
{% block page_title_anonymous %}Trammel - Signup closed <i class="fa-solid fa-circle-xmark"></i>{% endblock page_title_anonymous %}

{% block allauth_form_content %}
<div class="form-description">
    <p>
      Signing up to Trammel is not possible.
    </p>
    <p>
      <a href="{% url 'account_login'%}">Go back to the login page</a>
    </p>
</div>
{% endblock allauth_form_content %}
