body:has(#history_graph) {
    padding-left: 20px;
    padding-right: 20px;
}

#recup_taille_div {
    padding-left: calc(52% - 529px);
    padding-right: calc(52% - 529px);
}

#history_graph {
    overflow-x: auto;
}

#history_graph svg {
    max-width: none;
}

g .label {
    font-weight: 400;
    white-space: normal;
}

#history_graph .graph-text {
    font-size: 14px;
    min-width: 300px;
    color: #333;
    white-space: normal;
}

#history_graph .graph-text .active {
    font-weight: bold;
}

.graph-content {
    padding-top: 1px;
}

#history_graph rect {
    fill: #fff;
    stroke: #aaa;
}

#history_graph .node.active rect {
    stroke-width: 2px;
    stroke: #333;
    fill: #cbc4f7;
    /* fill: #b8acff;
    fill: #b0a2ff;*/
}

.edgePath {
  stroke: #aaa;
  fill: #aaa;
  stroke-width: 2px;
}

.graph-text {
  max-width: 400px;
}

#history_graph .graph-description {
    margin-top: 20px;
}
