<template>
    <div class="form-row">
        <label>{{  label }}</label>
        <input
            v-bind="$attrs"
            :placeholder="label"
            :value="modelValue"
            @input="$emit('update:modelValue', $event.target.value)"    
        >
    </div>
    
</template>

<script>
export default {
    props : {
        label: {
            type: String,
            default: ''
        },
        modelValue : {
            type: ["String", "Number"],
            default: ''
        },
        error: {
            type: String,
            default: ''
        }        
    }
}
</script>