<template>
    <div class="form-row">
        <label>{{  label }}</label>
        <input
            :id="'image-input-' + ImageIndex"
            v-bind="$attrs"
            :placeholder="label"
            :value="modelValue"
            @change="loadImage(ImageIndex, $event)"
            @input="$emit('update:modelValue', $event.target.value)"
            accept=".jpg, .jpeg, .png"

        >
    </div>
    <div class="canvas">
        <img :id="'image-article-' + ImageIndex" class="img-preview" />
    </div>
    
</template>

<script>
function displayImage(ImageIndex, data, name) {
  let output = document.getElementById("image-article-" + ImageIndex);
  output.src = data;
  output.name = name;
  document.getElementById("image-label-" + ImageIndex).innerHTML = name;
}
export default {
    props : {
        label: {
            type: String,
            default: ''
        },
        modelValue : {
            type: "file",
            default: ''
        },
        error: {
            type: String,
            default: ''
        },
        ImageIndex : 0        
    },
    methods: {
        loadImage(ImageIndex, event) {
            if (event.target.files[0].type.match("^image")) {
                console.log("file", event.target.files[0])
                console.log("illustration", this.IssueIllustration)
                this.IssueIllustration = event.target.files[0]
                console.log("illustration", this.IssueIllustration)
                this.readImage(ImageIndex, event.target.files[0]);
            }
        },
        readImage(ImageIndex, imageFile) {
            let reader = new FileReader();
            reader.onload = function () {
                displayImage(ImageIndex, reader.result, imageFile.name);
            };
            reader.readAsDataURL(imageFile);
        },
    }
}
</script>