<template>
    <div class="form-row">
        <label>{{  label }}</label>
        <input
            v-bind="$attrs"
            type="checkbox"
            :checked="modelValue"
            @change="updateInput"    
        />
    </div>
    
</template>

<script>
export default {
    props : {
        label: {
            type: String,
            default: ''
        },
        modelValue : {
            type: Boolean,
            default: false
        },
        error: {
            type: String,
            default: ''
        },
        checked: {
            type: Boolean,
            default: false
        }     
    },
    methods: {
        updateInput(event) {
            console.log("dans le update")
            console.log("avant", this.checked)
            this.$emit('update:modelValue', event.target.checked)
            console.log("après", this.checked)
        }
    }
}
</script>