<template>
    <div class="form-row form-box">
        <label v-if="label"> {{ contrib["last_name"] }} {{ contrib["first_name"] }}</label>
    
        <div class="sc-form-row">
            <BaseInput
              v-model="contrib['first_name']"
              label="Firstname:"
              type="text"
            />
            <BaseInput
                v-model="contrib['last_name']"
                label="Lastname:"
                type="text"
            />
            <BaseCheckbox
              v-model="contrib['corresponding']"
              label="Corresponding Author:"
              type="boolean"
            />
            <BaseInput
                v-model="contrib['email']"
                label="Email:"
                type="text"
            />
            <BaseTextArea
                v-model="contrib['address_text']"
                label="Affiliation:"
                type="text"
            />
            <BaseInput
                v-model="contrib['orcid']"
                label="ORCID:"
                type="text"
            />
            <BaseCheckbox
              v-model="contrib['equal_contrib']"
              label="Equal contrib:"
            />
            <BaseCheckbox
              v-model="contrib['deceased_before_publication']"
              label="Deceased:"
            />
            <button id="iconBin" @click="$emit('remove-contributor')" title="Delete this image" style="margin-left: 95%;"><i class="bi bi-trash"></i></button>
        </div>
        
    </div>
    
</template>

<script>
import BaseInput from "../components/BaseInput.vue"
import BaseCheckbox from "../components/BaseCheckbox.vue"
import BaseTextArea from "../components/BaseTextArea.vue"
export default {
    components: {
        BaseInput,
        BaseCheckbox,
        BaseTextArea
    },
    props : {
        label: {
            type: String,
            default: ''
        },
        index: {
            type: Number,
            default: 0,
            required: true
        },
        contrib: {
            type: Object,
            required: true,
            validator: function (value) {
                const requiredKeys = ['firstname', 'lastname']
                return requiredKeys.every(key => value.hasOwnPropertiy(key))
            }
        },
        modelValue : {
            type: Object,
            required: true,
            validator: function (value) {
                const requiredKeys = ['firstname', 'lastname', 'contributing']
                return requiredKeys.every(key => value.hasOwnPropertiy(key))
            }
        },
        error: {
            type: String,
            default: ''
        }      
    }
}
</script>