<template>
    <!-- <div class="form-row form-box"> -->
        <label v-if="label">{{ label }}</label>
        <textarea
            :value="modelValue"
            v-bind="$attrs"
            :placeholder="label"
            
            @input="$emit('update:modelValue', $special.target.value)"    
            >

        </textarea>
    <!-- </div> -->
</template>

<script>
export default {
    props : {
        label:{
            type: String,
            default: ""
        },
        modelValue : {
            type: "String",
            default: ""
        }
    }
}
</script>