/* T:wqitre de Page */
header {
    background-color: white; /*#e6e7e9;*/
    margin-bottom: 15px;
}

body {
    height: 100%;
}

.menu-bottom {
    background-color: #f8f8f8;
}

#mersenne-banner {
    width: 100%;
    height: auto;
}

#mersenne-banner-small {
    display: none;
}

.logo-cirm {
    height: 100px;
    margin-top: 10px;
}

.top-title-div {
    text-align: center;
    margin-top: 4%;
    font-family: "Roboto Slab", serif;
}

.top-title:hover {
    text-decoration: none;
}

.navbar-header {
    min-height: 5px;
}

#ccirm-navbar-collapse {
    padding-left: 0px;
    font-size: 18px;
}

#ccirm-navbar-collapse .navbar-nav {
    width: 100%;
    text-align: center;
}

#ccirm-navbar-collapse .navbar-nav > li {
    float: none;
    display: inline-block;
}

#content {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.all-but-footer {
    min-height: calc(100% - 179px); /* 100% - height(footer=149)*/
    height: auto !important;
}

/* Page background */
.page-container {
    /*min-height: calc(100% - 434px);
    height: auto !important;*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

#page-title {
}

#header-wrapper {
    display: table;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
}

#header-left {
    /*float: left;*/
    width: 30%;
    margin-left: -15px;
    display: table-cell;
}

#header-title {
    /*float: left;*/
    width: calc(70% - 55px);
    height: 100%;
    min-height: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#header-right {
    float: right;
    margin-right: -10px;
}

.navbar-default {
    background-color: transparent;
    border: 0;
}

.navbar-default .navbar-nav > li > a {
    color: rgb(51, 51, 51);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: rgb(51, 51, 51);
}

#mersenne-header {
    background-color: #00b2b2;
    color: rgb(51, 51, 51);
}

#mersenne-header .row {
    margin: 0px;
}

#mersenne-header h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
}

#header-title h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.menu-top {
    background-color: #00b2b2;
    border: 0px;
    font-weight: bold;
    /*margin-bottom: 0px;*/
}

@media all and (min-width: 1200px) {
    .menu-top .navbar-nav {
        margin-left: 5%;
    }
}

@media all and (min-width: 1300px) {
    .menu-top .navbar-nav {
        margin-left: 10%;
    }
}

@media all and (min-width: 1400px) {
    .menu-top .navbar-nav {
        margin-left: 20%;
    }
}

.menu-bottom {
    border: 0px;
    margin-left: 20%;
    margin-bottom: 0px;
}

.menu-bottom .navbar-nav {
    float: left;
}

.menu-bottom .navbar-nav > li {
    float: left;
}

.journal-logo {
    text-align: center;
    max-width: 400px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo-mersenne {
    height: 60px;
}

.logo-footer {
    height: 45px;
}

/*
.navbar-default .navbar-nav > li > a {
    color: rgb(51,51,51);
}
*/

.dropdown-accordion {
    display: none;
    float: right;
}

.search-button-div {
    width: 100px;
    padding-right: 0px;
    padding-left: 0px;
}

.browse-or {
    text-align: center;
    margin-top: 7px;
}

#footer {
    background-color: #e6e7e9;
}

.footer-text {
    padding-left: 15%;
    padding-top: 15px;
    color: black;
    font-size: 12px;
}

.footer-text a {
    color: black;
}

#footer {
    margin-top: 30px;
    padding-top: 15px;
    position: relative;
    height: 149px;
}

.logos-footer {
    margin-bottom: 10px;
    font-size: 12px;
    color: black;
}

.logos-footer a {
    margin-right: 7%;
}

.logos-footer a:last-child {
    margin-right: 0px;
}

#sidebar {
    width: 250px;
    /*    transition: all 0.3s;*/
    padding-top: 0px;
}

#toggle-sidebar {
    display: none;
    margin-bottom: 20px;
}

.cms-breadcrumb {
    list-style: none;
    display: inline-block;
}
.cms-breadcrumb .icon {
    font-size: 14px;
}
.cms-breadcrumb li {
    float: left;
}
.cms-breadcrumb li a {
    color: white;
    display: block;
    background: #00b2b2; /*#3498db;*/
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}
.cms-breadcrumb li:nth-child(even) a {
    background-color: #00b2b2; /*#2980b9;*/
}
.cms-breadcrumb li:nth-child(even) a:before {
    border-color: #00b2b2; /*#2980b9;*/
    border-left-color: transparent;
}
.cms-breadcrumb li:nth-child(even) a:after {
    border-left-color: #00b2b2; /*#2980b9;*/
}
.cms-breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.cms-breadcrumb li:first-child a:before {
    border: none;
}
.cms-breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.cms-breadcrumb li:last-child a:after {
    border: none;
}
.cms-breadcrumb li a:before,
.cms-breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #00b2b2; /*#3498db;*/
    border-width: 20px 10px;
    width: 0;
    height: 0;
}
.cms-breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}
.cms-breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #00b2b2; /*#3498db;*/
}
.cms-breadcrumb li a:hover {
    background-color: rgb(51, 51, 51); /*#ffe898;*/
    color: white;
}
.cms-breadcrumb li a:hover:before {
    border-color: rgb(51, 51, 51); /*#ffe898;*/
    border-left-color: transparent;
}
.cms-breadcrumb li a:hover:after {
    border-left-color: rgb(51, 51, 51); /* #ffe898; */
}
.cms-breadcrumb li.active a {
    background-color: rgb(51, 51, 51); /*#ffe898;*/
    color: white;
}
.cms-breadcrumb li.active a:before {
    border-color: rgb(51, 51, 51); /*#ffe898;*/
    border-left-color: transparent;
}
.cms-breadcrumb li.active a:after {
    border-left-color: rgb(51, 51, 51); /*#ffe898;*/
}

.cms-breadcrumb li.breadcrumb-previous a,
.cms-breadcrumb li.breadcrumb-next a {
    margin-right: 5px;
}

.cms-breadcrumb li:last-child a {
    margin-right: 5px;
}

ul.cms-breadcrumb {
    padding-left: 0px;
}

.article-breadcrumb {
    padding-left: 6%;
    padding-right: 0px;
    right: 18%;
}

.btn-tex {
    padding-right: 0px;
    text-align: right;
    max-width: 200px;
}

.site-settings {
    font-size: 30px;
}

@media all and (max-width: 1400px) {
    .page-container .journal-logo {
        max-width: 300px;
    }
}

@media all and (max-width: 1300px) {
    .page-container .journal-logo {
        max-width: 200px;
    }
}

@media all and (max-width: 1199px) {
    .browse-or {
        width: 40px;
        height: 27px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-text {
        padding-left: 50px;
    }

    .page-container .journal-logo {
        display: none;
    }

    .regular-content {
        margin-left: 8%;
    }

    .article-breadcrumb {
        right: 0px;
    }

    .btn-tex {
        margin-bottom: 10px;
        padding-left: 10px;
        text-align: left;
    }
}

@media all and (max-width: 1200px) {
    .cms-breadcrumb {
        padding-left: 0px;
    }

    .logos-footer a {
        margin-right: 5%;
    }

    .page-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .article-breadcrumb {
        padding-left: 10px;
    }
}

@media all and (max-width: 1050px) {
    .footer-logo-text {
        display: none;
    }
}

@media all and (max-width: 900px) {
    #mersenne-header {
        height: 140px;
    }

    .page-container {
        /*min-height: calc(100% - 291px);*/
        padding-top: 20px;
    }

    #mersenne-header .journal-logo {
        width: 120px;
    }

    .journal-header-content {
        width: calc(100% - 130px);
    }

    #mersenne-header .journal-logo img {
        height: 100px;
        padding-left: 0px;
    }

    #mersenne-header h1 {
        float: left;
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 40px;
    }

    #search-group-btn {
        display: none;
    }

    #line-container,
    .search-group {
        width: 250px;
        margin-right: 10px;
        height: 34px;
    }

    .menu-top {
        display: none;
    }

    .dropdown-accordion {
        display: block;
    }

    .journal-title:after {
        display: block;
        clear: both;
        content: "";
    }

    .page-container h2 {
        margin-top: 10px;
    }

    .cms-page {
        padding-left: 10px;
        margin-bottom: 20px;
    }

    .footer-text {
        padding-left: 20px;
    }

    .logo-mersenne {
        height: 50px;
    }

    .logo-footer {
        height: 35px;
    }

    .logos-footer a {
        margin-right: 10px;
    }

    .regular-content {
        margin-left: 0px;
    }
}

@media all and (max-width: 814px) {
    #header-title h1 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 32px;
    }
}

@media all and (max-width: 768px) {
    .all-but-footer {
        min-height: calc(100% - 219px);
    }

    #footer {
        height: 189px;
    }

    #sidebar {
        display: none;
    }
    #toggle-sidebar {
        display: block;
    }
    #results {
        width: 100%;
    }
}

@media all and (min-width: 768px) {
    #sidebar {
        display: block;
    }
    #toggle-sidebar {
        display: none;
    }
    #results {
        width: calc(100% - 250px);
    }
}

@media all and (max-width: 700px) {
    #mersenne-header {
        height: 170px;
    }

    #header-title h1 {
        font-size: 30px;
    }

    .page-container .journal-logo {
        display: none;
    }

    .browse-or {
        margin-right: 30%;
    }

    #line-container,
    .search-group {
        width: 300px;
        margin-top: 5px;
    }

    .search-button-div {
        margin-top: 10px;
    }

    .page-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media all and (max-width: 600px) {
    #header-left {
        width: 50px;
    }

    #header-title h1 {
        font-size: 24px;
    }

    #header-right {
        margin-bottom: 5px;
    }

    #mersenne-banner {
        display: none;
    }

    #mersenne-banner-small {
        display: block;
        width: 50px;
        margin-top: 5px;
    }

    #header-title {
        width: calc(100% - 110px);
        min-height: 50px;
    }

    #search-button-text {
        display: none;
    }

    .search-button-div {
        width: 40px;
    }
}

@media all and (max-width: 560px) {
    #line-container,
    .search-group {
        width: 220px;
    }
}

@media all and (max-width: 500px) {
    #mersenne-header {
        height: 160px;
    }

    .page-container {
        min-height: calc(100% - 371px);
    }

    #mersenne-header .journal-logo {
        width: 90px;
    }

    .journal-header-content {
        width: calc(100% - 100px);
    }

    #mersenne-header .journal-logo img {
        height: 80px;
    }

    #mersenne-header h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .logo-footer {
        margin-top: 5px;
    }
}

@media all and (max-width: 450px) {
    #footer {
        height: 209px;
    }

    .page-container {
        min-height: calc(100% - 391px);
    }

    #mersenne-header h1 {
        font-size: 14px;
    }

    .journal-header-content {
        padding-right: 0px;
    }
}

@media all and (max-width: 400px) {
    #mersenne-header .journal-logo {
        width: 70px;
    }

    .journal-header-content {
        width: calc(100% - 80px);
    }

    #mersenne-header .journal-logo img {
        height: 60px;
    }

    #line-container,
    .search-group {
        width: 200px;
    }

    .searchinput {
        padding-left: 3px;
    }

    .logo-footer {
        height: 30px;
    }
}

.logos-footer a.no-margin {
    margin-right: 0px;
}

.menu-top {
    border-top: 1px solid rgb(51, 51, 51);
    border-bottom: 1px solid rgb(51, 51, 51);
    border-radius: 0px;
}

/* Barre de recherche */
.search-bar-row {
    background-color: #12aeab;
    padding-top: 16px;
}

#search-bar {
    padding-top: 0px;
    margin-left: 5px;
}

#search-bar .btn-primary {
    background-color: white;
    border-color: #ccc;
    color: black;
}

#line-container {
    padding-left: 0px;
}

/* Pagination resultat recherche */
.pagination > .active > a {
}
.pagination > li > a {
}

/* Container menu + page */
.content-container {
}

/* Contenu de la page */
.cms-page {
}

/* Menu gauche */
.sidebar {
}
li.mersenne-cms-menu-lvl1 {
}
li.mersenne-cms-menu-lvl2 {
}
.nav-tabs > li.active > a:hover {
}
.nav-tabs > li.active > a {
}
.nav-tabs > li > a:hover {
}
.nav-tabs > li > a:focus {
    outline: none;
}

/*.page-container .row {
    margin: 0px;
}*/

.cms-page-content {
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    width: 95%;
}

.volume-ligne,
.journal-content {
    margin-top: 50px;
    font-size: 20px;
}

.recent-articles {
    min-width: 380px;
}

.recent-articles-header {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(51, 51, 51);
    text-align: center;
}

.article-short {
    font-size: 14px;
}

.article-short h2 {
    font-size: 14px;
    margin: 0px;
}

.article-tab {
    font-size: 16px;
}

.article-title a {
    color: #333;
}

.facet-header,
.facet-header-no-click {
    background-color: rgb(51, 51, 51);
    color: white;
}

.lightbox {
    height: 150px;
    border: 1px solid #c7c7c7;
}

.btn-toggle,
.btn-toggle:hover,
.btn-toggle:focus,
.btn-toggle:active {
    color: white;
    background-color: rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
}

#main-dropdown-menu {
    left: -143px;
    width: 200px;
}

.panel-heading > a {
    text-decoration: none;
    outline-style: none;
}

.panel-group {
    margin-bottom: 0px;
}

.panel-group .panel {
    border-radius: 0px;
}

.panel-title > a:hover {
    background-color: rgb(51, 51, 51);
    color: white;
    text-decoration: none;
    outline-style: none;
}

.panel-title {
    margin-top: 0px;
    line-height: 24px;
}

.panel-body a {
    line-height: 40px;
}

.citation-document-title {
    font-weight: bold;
}

.citation-volume {
    font-weight: normal;
}

.container-flex {
    font-size: 16px;
}

.container-flex > .flex-group .flex-item {
    margin-left: 0px;
    margin-right: 20px;
}
