{% load i18n %}
{% load static %}

<div class="logo-footer-div d-flex mx-auto flex-nowrap gap-2 align-items-center {{extra_class}}">
  <span class="footer-logo-text text-nowrap">{% trans logo_text %} {% block colon %}:{% endblock colon %} </span>
  <a class="logo-footer" href="{{logo_link}}"><img class="logo-footer" src="{% static logo %}"></a>
</div>