{% load static %}
{% load i18n %}
{% load cms_tags %}

{% block footer %}
<footer id="footer" class="mt-auto">

  {% if logos_pos == "top" %}
  {% include "common/footer/footer-logos.html" %}
  {% endif %}

  <div id="info-line" class="d-flex flex-nowrap justify-content-around align-items-center col-12 col-md-10 col-xl-8 mx-auto">
    <div class="footer-text d-flex justify-content-center align-items-center">
      {% include "common/footer/footer_issns.html" %}
  <!--    <span>©&nbsp;2018 - {% now "Y" %}&nbsp;</span><a href="http://www.centre-mersenne.org">Centre Mersenne</a>, <a href="{% url 'home' %}">Algebraic Combinatorics</a>, and the authors-->
    </div>

    {% if logos_pos == "between" %}
    {% include "common/footer/footer-logos.html" %}
    {% endif %}
  
    <nav class="navbar menu-bottom">
      <div class="container-fluid justify-content-center align-items-center">
        <ul class="nav d-flex justify-content-center align-items-end {% if logos_pos == "between" %}flex-column{% endif %}" style="column-gap: 1rem;">
          <li>
            <a class="menu-link nav-link p-0" href='{% url 'syndication-feed' %}' alt='syndication feed'>
              <i class="fa fa-rss d-inline" aria-hidden="true"></i> {% trans "Nous suivre" %}
            </a>
          </li>

          {% get_all_pages request 'bottom' as pages %}
          {% include "common/menu-elements.html" with pages=pages pos="bottom" %}
        </ul>
      </div>
    </nav>
  </div>
</footer>
{% endblock footer %}
