  <div id="archiving-progress" class="hidden" data-url-progress="{% url 'trammel-tasks-progress' task_name %}">
    <h4>Archiving Progress</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="min-width: 2em;">0%</div>
      <div class="progress-bar progress-bar-warning" style="width: 0%">0%</div>
    </div>
  </div>
  <p id="results">
  </p>

