{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block extra_css %}
<link href="{% static 'vuejs/css/app.css' %}" rel="stylesheet">
<style>
body {
  background: #FFFFFF;
}
body .container.body .right_col {
  background: #FFFFFF;
}
.d-none {
  display: none !important;
}
</style>
{% endblock extra_css %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
<div class="right_col" role="main">
  <h1>
    {% if article %}
    <a href="{% url 'collection-detail' article.my_container.get_top_collection.pid %}">{{article.my_container.get_top_collection.pid}}</a> |&nbsp;
    <a href="{% url 'issue-items' article.my_container.pid %}">{{article.my_container.pid}}</a> |
    <a href="{% url 'article' article.pid %}">{{article.pid}}</a>
    {% else %}{{issue_id}} : Nouvel article{% endif %}
  </h1>
  <br/>

  <div id="app"></div>
</div>

{% endblock content %}

{% block extrajs %}
<script src="{% static "ptf/js/mathjax-config.js" %}" ></script>
<script type="text/javascript" id="MathJax-script"  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="{% static 'vuejs/js/chunk-vendors.js' %}" ></script>
<script src="{% static 'vuejs/js/app.js' %}"></script>
{% endblock %}
