{% load i18n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <title>
    {% block title %}
    {% trans "Trammel" %}
    {% endblock title %}
  </title>
  {% block meta %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0">

  {% endblock meta %}
  {% block css %}
  {% block base_css %}
  <link rel="stylesheet" href="{% static "ptf/vendors/bootstrap/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "ptf/vendors/font-awesome/css/font-awesome.min.css" %}">
  <link rel="stylesheet" href="{% static "ptf/css/ptf.css" %}">
  <link rel="stylesheet" href="{% static "ptf/css/style.css" %}">
  <link rel="stylesheet" href="{% static "ptf-tools/css/ptf_tools.css"%} ">

  <!-- Custom Theme Style -->
  {% if user.is_authenticated %}
  <link rel="stylesheet" href="{% static "ptf-tools/vendors/gentelella/css/custom.min.css" %}">
  {% endif %}

  <link rel="stylesheet" href="{% static "ptf-tools/vendors/bootstrap-toggle/css/bootstrap-toggle.min.css" %}">
  <link rel="stylesheet" href="{% static "ptf-tools/vendors/datatables/css/dataTables.bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "ptf-tools/vendors/datatables/css/buttons.bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "ptf-tools/vendors/pnotify/css/pnotify.css" %}">
  <link rel="stylesheet" href="{% static "ptf-tools/vendors/pnotify/css/pnotify.buttons.css" %}">
  <link rel="stylesheet" href="{% static "ptf/css/custom-dropdown.css"%} ">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
  <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
  {% endblock base_css %}

  {% block extra_css %}
  <!--
    Custom Theme Style
    [GA - 9/11/2023]  I put this in extra_css to be able to easily discard it. It sets defaults to many tags
                      (such as th, td, label, ...) which renders an ugly layout with the comments styles.
  -->
  {% if user.is_authenticated %}
  <link rel="stylesheet" href="{% static "ptf-tools/css/editorial_tools.css" %}">
  {% endif %}
  {% endblock extra_css %}

  {% endblock css %}
  {% endblock head %}
</head>

<body class="nav-md">
  {% block body %}
  <div class="container body">
    <div class="main_container">

      {% block sidebar %}
      {% include "side_bar_left.html" %}
      {% endblock sidebar %}

      {% block top_nav %}
      {% include "top_nav.html" %}
      {% endblock top_nav %}

      {% block content %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endblock %}

      {% if user.is_authenticated %}
      {% if 'accounts/' in request.path %}
        </div>
      </div>
      {% endif %}
      {% endif %}
    </div>
  </div>
  {% endblock body %}

  {% block footer %}
  {% if user.is_authenticated %}
  <div style="margin-top: 50px; margin-right: 20px; text-align:right">Credits: Trammel of Archimedes image by CMG Lee</div>
  {% endif %}
  {% endblock footer %}

  {% if user.is_authenticated %}
  {% block js %}
  <script type="text/javascript" src="{% static "ptf/vendors/jquery/js/jquery-3.5.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "ptf/vendors/bootstrap/js/bootstrap.min.js"%} "></script>
  <script type="text/javascript" src="{% static "ptf/vendors/clipboard/js/clipboard.min.js"%} "></script>


  <script type="text/javascript" src="{% static "ptf-tools/vendors/bootstrap-toggle/js/bootstrap-toggle.min.js"%} "></script>
  <script type="text/javascript" src="{% static "ptf-tools/vendors/datatables/js/jquery.dataTables.min.js"%} "></script>
  <script type="text/javascript" src="{% static "ptf-tools/vendors/datatables/js/dataTables.bootstrap.min.js"%} "></script>
  <script type="text/javascript" src="{% static "ptf-tools/vendors/datatables/js/dataTables.buttons.min.js"%} "></script>
  <script type="text/javascript" src="{% static "ptf-tools/vendors/datatables/js/buttons.bootstrap.min.js"%} "></script>
  <script type="text/javascript" src="{% static "ptf-tools/vendors/datatables/js/buttons.html5.min.js"%} "></script>
  <script type="text/javascript" src="{% static "ptf-tools/vendors/pnotify/js/pnotify.js"%} "></script>
  <script type="text/javascript" src="{% static "ptf-tools/vendors/pnotify/js/pnotify.buttons.js"%} "></script>
  <script type="text/javascript" src="{% static "ptf-tools/js/form_in_popup.js"%} "></script>
  <script type="text/javascript" src="{% static "ptf-tools/js/mersenne.js"%} "></script>
  <script type="text/javascript" src="{% static "ptf-tools/js/dashboard.js"%} "></script>
  <script type="text/javascript" src="{% static "ptf-tools/js/editorial_tools.js"%} "></script>
  <script type="text/javascript" src="{% static "ptf/js/custom-dropdown.js"%} "></script>
  <script type="text/javascript" src="https://cdn.ckeditor.com/4.21.0/full-all/ckeditor.js"></script>
<!--  <script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>-->
  {% block extrajs %}{% endblock extrajs %}
  {% endblock js %}
  {% endif %}

</body>

</html>
