{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="right_col" role="main" xmlns="http://www.w3.org/1999/html">
{% if book.bibitem_set and book.bibitem_set.count %}
  <div class="row">
    <div class="col-xs-12">
      <div id="handle-all-progress" class="progress" style="display:none">
        <div class="progress-bar" role="progressbar" aria-valuenow="00" aria-valuemin="0" aria-valuemax="100" style="width:0%">0%</div>
        <br/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#MatchingModal" data-pid="{{book.pid}}" role="button" class="btn btn-default open-matching-dialog admin-mode" data-toggle="modal"><i class="fa fa-heart"></i> Matching</a>
          <a id='fetch-all-external-link-button' data-all-url="{% url 'api-fetch-all' book.pid %}" data-one-url="/fetch-id/toreplacepid" href="#" role="button" class="btn btn-default admin-mode"><i class="fa fa-chevron-down"></i> Tous</a>
          <button class="btn btn-default" id="cancel-all-button" style="display:none">Annuler</button>
          <input id="cancel-all-checkbox" type="checkbox" value="" style="display:none">
          {% include "common/matching.html" %}
          <div class="pull-right">
            {% comment %}
            <a href="{% url 'update-matching' book.pid 'mark-checked' %}" id="check-all-ids" class="btn btn-success"><i class="fa fa-ok"></i> Marquer les ids comme vérifiés</a>
            {% endcomment %}
            <a href="{% url 'update-matching' book.pid 'mark-unchecked' %}" id="uncheck-all-ids" class="btn btn-default"><i class="fa fa-erase"></i> Marquer les ids comme non vérifiés</a>
            <a href="{% url 'update-matching' book.pid 'delete' %}" id="delete-all-ids" class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer tous les ids externes</a>
          </div>
          <hr>
          <div class="pull-right">
            Liens vers :
            <a href="{{ test_website }}{% url 'item_id' pid=book.pid %}" class="btn btn-default btn-xs" role="button" target='_blank'>
              <i class="fa fa-external-link" aria-hidden="true"></i> Test
            </a>
            <a href="{{ prod_website }}{% url 'item_id' pid=book.pid %}" class="btn btn-default btn-xs" role="button" target='_blank'>
              <i class="fa fa-external-link" aria-hidden="true"></i> Prod
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}


{% if not volume_items %}
{% comment %}

  <div>
    <div id="crumbs" style="margin-top:10px;">
      <ul>
        {%  with coltype|add:'-books' as url %}
          <li><a href="{% url url book.my_collection.pid %}">{{ book.my_collection.title_html|safe }}</a>
        </li>{% endwith %}
        <li><a href="{% url 'volume-items' book.get_vid %}">
        {% if book.vseries %}{%  trans 'Série' %} {{ book.vseries }} : {% endif %}
          {% if book.volume %}
            {% trans 'Tome' %} {{ book.volume }} ({{ book.year }})
          {% else %}
            {{ book.year }}
          {% endif %}
          </a></li>
      </ul>
      {% if book.number %}
        <ul class="crumb-noarrow">
          <li>
            <a href="#">{% trans 'Fascicule' %} no. {{ book.number }}</a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
  {% endcomment %}
{% else %}
  <div style="margin-bottom:-10px;margin-left:10px">
    <a href="{% url 'book-items' book.pid %}">
      {% trans 'Fascicule' %}{% if book.number %} no. {{ book.number }}{% endif %} </a>
  </div>
{% endif %}


{% with binary_files=book.get_binary_files_href %}
  <div class="container" style="margin-bottom: 30px">
    {% if book.title_html %}
      <h4 style="margin-top:0px">{% include 'common/common-title.html' with item=book with_links=False %}</h4>
    {% endif %}
    {% include 'common/common-contrib.html' with item=book %}
    <div class="row">
      {% if book.small_icon or volume_items %}
        <div style="float:left;width:100px;padding-top:21px">
          {% if book.icon %}
            <div class="cover-thumbnail">
              <a href="{{ book.icon }}" class="lightbox" title="">
                <img src="{{ book.small_icon }}" width="80px">
              </a>
            </div>
          {% endif %}
          <br>
          {% if book.my_publisher.pub_key == 'societe-mathematique-de-france' %}
            <a href="https://smf.emath.fr"><img src="{% static "mersenne_cms/img/logo-societe-mathematique-de-france.jpg" %}" width="80px"></a>
          {% endif %}
        </div>
      {% endif %}
      <div style="float:left;width:calc(100% - 100px);min-width: 1200px;">
        <hr style="margin-top:20px;margin-bottom:15px"></hr>
        {% if binary_files.self %}
          <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-12">
              <div class="wrapper-float">
                <div style="float:left;margin-right:10px">{% trans 'Tome complet' %}</div>
                <div style="float:left">
                  {% include 'common/common-binary-files.html' with embargo=book.embargo binary_files=binary_files.self %}
                </div>
              </div>
            </div>
          </div>
          <hr style="margin-top:15px;margin-bottom:15px"></hr>
        {% endif %}
        {% if binary_files.toc %}
          <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-12">
              <div class="wrapper-float">
                <div style="float:left;margin-right:10px">{% trans 'Liste complète des exposés' %}</div>
                <div style="float:left">
                  {% include 'common/common-binary-files.html' with embargo=book.embargo binary_files=binary_files.toc %}
                </div>
              </div>
            </div>
          </div>
          <hr style="margin-top:15px;margin-bottom:15px"></hr>
        {% endif %}
        {% if binary_files.frontmatter %}
          <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-12">
              <div class="wrapper-float">
                <div style="float:left;margin-right:10px">{% trans 'Pages préliminaires' %}</div>
                <div style="float:left">
                  {% include 'common/common-binary-files.html' with embargo=book.embargo binary_files=binary_files.frontmatter %}
                </div>
              </div>
            </div>
          </div>
          <hr style="margin-top:15px;margin-bottom:15px"></hr>
        {% endif %}
        <a href="{% url 'container_edit' book.pid %}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
        <a href="#" data-url="{% url 'doi_check' book.pid %}" data-matching-indicator="doiregisterissue-indicator" data-reload="1" class="btn btn-default handle-one-button"><i class="glyphicon glyphicon-refresh" aria-hidden="true"></i> Check all DOIs</a>
        <a href="#" data-url="{% url 'doi_register' book.pid %}" data-matching-indicator="doiregisterissue-indicator" data-reload="1" class="btn btn-default handle-one-button{%if not allow_crossref %} disabled{% endif %}"><i class="glyphicon glyphicon-record" aria-hidden="true"></i> Record Book DOI and/or all DOIs</a>
        Pas de Record DOI par book-part
        {% if request.user.is_superuser %}
                <a href="#"
                   data-url="{% url 'force_doi_register' book.pid %}"
                   data-matching-indicator="doiregisterissue-indicator"
                   data-reload="1"
                   class="btn btn-warning handle-one-button">
                    <i class="glyphicon glyphicon-record" aria-hidden="true"></i> Force Record all DOIs
                </a>
              {% endif %}
        <i id="doiregisterissue-indicator" class="fa fa-spinner fa-spin hidden" aria-hidden="true"></i>
<div class='pull-right'>
                Liens vers :
                <a href="{{ test_website }}{% url 'issue-items' pid=pid %}" class="btn btn-default btn-xs" role="button" target='_blank'>
                  <i class="fa fa-external-link" aria-hidden="true"></i> Test
                </a>
                <a href="{{ prod_website }}{% url 'issue-items' pid=pid %}" class="btn btn-default btn-xs" role="button" target='_blank'>
                  <i class="fa fa-external-link" aria-hidden="true"></i> Prod
                </a>
              </div>        <hr style="margin-top:15px;margin-bottom:15px"></hr>

    <div class="row">
        <div class="col-sm-2" style="border-left:1px solid grey;">DOI Container : {{book.doi}}</div>
            <div class="col-sm-1" style="color: {% if book.doi %}{% if book.doibatch.status == 'Enregistré' %}green{% elif book.doibatch.status == 'Erreur' %}red{% elif book.doibatch.status == 'En cours' %}orange{% else %}red{% endif %}{% else %}red{% endif %};">
              {% if book.doi %}
                {% if book.doibatch %}
                  {{book.doibatch.status}}<span title="{{book.doibatch.log}}"><i class="fa fa-question-circle-o"></i></span>
                {% else %}
                  Non enregistré
                <!-- Lors de l'import d'une issue, le DOIBatch lié à un article existant n'est pas conservé
                 dans l'idéal il faut réenregistré tous les DOI car les métadonnées peuvent avoir changées
                -->
                {% endif %}
              {% else %}Pas de DOI{% endif %}
         </div>
    </div>
       <hr style="margin-top:15px;margin-bottom:15px"></hr>



        {% for article in book_parts %}
          <div class="row" style="margin-bottom:10px;">
            <div class="col-sm-7">
              <p style="margin:0">
                <a href="#" data-url="{% url 'article_delete' article.pid %}" data-matching-indicator="doiregisterbook-indicator" data-reload="1"
                   class="btn btn-xs btn-default handle-one-button"><span class="glyphicon glyphicon-trash"></span></a>
                {% include 'common/common-contrib.html' with item=article %}
              </p>
              {% include 'common/common-title-with-pdf.html' with item=article embargo=article.my_container.embargo binary_files=article.get_binary_files_href.self %}
              <div>
                {{ article.get_page_text }}
                {% if article.page_type == 'volant' %} ({% trans 'Pages volantes' %}){% endif %}
                {% if article.page_type == 'supplement' %} ({% trans 'Pages supplémentaires' %}){% endif %}
                {% if article.page_type == 'preliminaire' %} ({% trans 'Pages préliminaires' %}){% endif %}
                {% if article.page_type == 'special' %} ({% trans 'Pages spéciales' %}){% endif %}
              </div>
            </div>
            <div class="col-sm-1" style="border-left:1px solid grey;">DOI : {{article.doi}}</div>
            <div class="col-sm-1" style="color: {% if article.doi %}{% if article.doibatch.status == 'Enregistré' %}green{% elif article.doibatch.status == 'Erreur' %}red{% elif article.doibatch.status == 'En cours' %}orange{% else %}red{% endif %}{% else %}red{% endif %};">
              {% if article.doi %}
                {% if article.doibatch %}
                  {{article.doibatch.status}}<span title="{{article.doibatch.log}}"><i class="fa fa-question-circle-o"></i></span>
                {% else %}
                  Non enregistré
                <!-- Lors de l'import d'une issue, le DOIBatch lié à un article existant n'est pas conservé
                 dans l'idéal il faut réenregistré tous les DOI car les métadonnées peuvent avoir changées
                -->
                {% endif %}
              {% else %}Pas de DOI{% endif %}
            </div>
            <div class="col-sm-1" >
              {% if article.doi %}
              <a href="#" data-url="{% url 'doi_check' article.pid %}" data-matching-indicator="doiregister-indicator-{{forloop.counter}}" data-reload="1" class="btn btn-default handle-one-button " >
                <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i> Check DOI</a>
              {% endif %}
            </div>
            <div class="col-sm-2" >
              {% if article.deployed_date %}Mise en ligne : <br>{{article.deployed_date }}{% else %}<span style="color: orange;" >Version métadonnées non déployée</span><br>Last deployed_date : {{article.my_container.deployed_date }}{% endif %}
              {% if article.date_online_first %}<br>Online First : <br>{{article.date_online_first }}{% endif %}
              <br>Date de publication : <br>{{article.date_published }}</div>

          </div>
          {% if not forloop.last %}
            <hr style="margin-top:15px;margin-bottom:15px"/>
          {% endif %}
        {% endfor %}
        {% if binary_files.backmatter %}
          <hr style="margin-top:20px;margin-bottom:15px"></hr>
          <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-12">
              <div class="wrapper-float">
                <div style="float:left;margin-right:10px">{% trans 'Pages finales' %}</div>
                <div style="float:left">
                  {% include 'common/common-binary-files.html' with embargo=book.embargo binary_files=binary_files.backmatter %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endwith %}

{% include 'common/common-bibliographie.html' with resource=book admin_mode=True  %}
</div>

{% endblock content %}








