{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="right_col dashboard" role="main" dashboard="{{ dashboard.pk }}">
    <div style="margin-top:50px">
      <div class="tab-content" style="margin-top:10px">
        <h2>Liste des éléments de la revue {{ aid }} pour l'année {{ year }}</h2>
        <table style="width:100%">
          <tr style="padding-left:7%">
            <td>Nombre total d'éléments : {{ collection.count }}</td>
          </tr>
          {% for element in collection %}
            <tr style="padding-left:7%">
              <td>{{ element.doi }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
