{% load static %}
{% load i18n %}

<div class="form-group contrib-group">
  <label class="control-label col-md-1 col-sm-1 col-xs-12"></label>
  <input name="contrib-p-{% if write_template %}##i##"{% else %}{{ i }}{% endif %}" value="{{ contribution.prefix }}" type="text" placeholder="Prefix" class="col-xs-1 first-input-of-contrib">
  <input name="contrib-f-{% if write_template %}##i##"{% else %}{{ i }}{% endif %}" value="{{ contribution.first_name }}" type="text" placeholder="First name" class="col-xs-1">
  <input name="contrib-l-{% if write_template %}##i##"{% else %}{{ i }}{% endif %}" value="{{ contribution.last_name }}" type="text" placeholder="Last name" class="col-xs-1">
  <input name="contrib-s-{% if write_template %}##i##"{% else %}{{ i }}{% endif %}" value="{{ contribution.suffix }}" type="text" placeholder="Suffix" class="col-xs-1">
  <input name="contrib-o-{% if write_template %}##i##"{% else %}{{ i }}{% endif %}" value="{{ contribution.orcid }}" type="text" placeholder="Orcid" class="col-xs-1">
  <div class="col-xs-1"><input name="contrib-d-{% if write_template %}##i##"{% else %}{{ i }}{% endif %}" {% if contribution.deceased_before_publication %}checked{% endif %} type="checkbox"> Deceased</div>
  <div class="col-xs-1"><input name="contrib-e-{% if write_template %}##i##"{% else %}{{ i }}{% endif %}" {% if contribution.equal_contrib %}checked{% endif %} type="checkbox"> Equal Contrib</div>
  <div class="col-xs-1"><input style="max-width: 120px" name="email-{% if write_template %}##i##"{% else %}{{ i }}{% endif %}" value="{{contribution.email}}" type="text"></div>
  <div class="col-xs-1"><input name="corresponding-{% if write_template %}##i##"{% else %}{{ i }}{% endif %}" {% if contribution.corresponding %}checked{% endif %} type="checkbox"> Corresp</div>
  <button type="button" class="btn btn-sm btn-default remove-contrib-field"><span class="glyphicon glyphicon-minus"></span></button>
</div>
