{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<div class="right_col" role="main">
  {% if name == 'special_issue_create'%}
  <h1>{{ colid }} : Nouveau numéro spécial</h1>
  {% else %}
  <h1>{% if pid %}<a href="{% url 'issue-items' pid %}">{{pid}}</a>{% else %}{{colid}} : Nouveau fascicule{% endif %}</h1>
  {% endif %}
  <div class="row">
    {% if name == 'special_issue_create'%}
    <form action="{% url 'special_issue_create' colid %}" method="post" enctype="multipart/form-data" class="form-horizontal form-label-left">{% csrf_token %}
    {% else %}
    <form action="{% if pid %}{% url 'container_edit' pid %}{% else %}{% url 'container_create' colid %}{% endif %}" method="post" enctype="multipart/form-data" class="form-horizontal form-label-left">{% csrf_token %}
    {% endif %}
      <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="id_pid">PID:</label>
          <input id="id_pid" name="pid" class="col-md-10 col-sm-10 col-xs-12" value="{{ form.pid.initial }}" type="text" data-colid="{{colid}}">
      </div>
      <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="id_pid">Title:</label>
          <input id="id_title" name="title" class="col-md-10 col-sm-10 col-xs-12" value="{{ form.title.initial }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="id_pid">Title translation ({{container.trans_lang}}):</label>
          <input id="id_trans_title" name="trans_title" class="col-md-10 col-sm-10 col-xs-12" value="{{ form.trans_title.initial }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="id_publisher">Publisher:</label>
          <input id="id_publisher" name="publisher" class="col-md-10 col-sm-10 col-xs-12" value="{{ form.publisher.initial }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="id_year">Year:</label>
          <input id="id_year" name="year" class="col-md-10 col-sm-10 col-xs-12" value="{{ form.year.initial }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="id_volume">Volume:</label>
        <input id="id_volume" name="volume" class="col-md-10 col-sm-10 col-xs-12" value="{{ form.volume.initial }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="id_number">Number:</label>
          <input id="id_number" name="number" class="col-md-10 col-sm-10 col-xs-12" value="{{ form.number.initial }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="id_icon">Icon{% if form.icon.initial %} ({{form.icon.initial}}){% endif %}:</label>
        <input id="id_icon" name="icon" class="col-md-10 col-sm-10 col-xs-12" type="file">
      </div>
      <br/>
      <div class="form-group">
        <div class="col-md-10 col-sm-10 col-xs-12 col-sm-offset-3">
          <input type="submit" value="Sauver"/>
        </div>
      </div>
      {% if colid %}<input type="hidden" id="id_colid" name="colid" value="{{colid}}">{% endif %}
      {% if form.errors %}
      <div class="has-error">
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% for field in form %}
          {% if field.errors %}
            <div class="alert alert-danger">
              <strong>{{field.name}} {{ field.errors|escape }}</strong>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </form>
  </div>
</div>

{% endblock content %}
