{% load crispy_forms_tags %}

<div class="row">
  Collection : {{colid}}<br>
  <hr>
  Transfert de {{pid}} vers {{site}}
  <form class="form-horizontal" method="get" action="{% url 'api_deploy_jats_resource' colid pid site %}">
    {% crispy form helper %}
    <hr>
    <button type="submit" id="createfrontpage" data-loading-text='<i class="fa fa-spinner fa-pulse" aria-hidden="true"></i> Création en cours...' class="btn btn-primary col-xs-offset-3">Créer</button>
    <button type="button" id="close-createfrontpage-modal" class="btn btn-default" data-dismiss="modal">Close</button>
  </form>
</div>
