{% extends "base.html" %}

{% load static %}
{% load helpers %}
{% load i18n %}

{% block content %}
<div class="right_col" role="main">
  {{ block.super }}
  <form action="{% url 'diff_cedrics_issue' colid %}" method="post" id="issue-diff-form">{% csrf_token %}
    {{ form }}
    <button class="btn btn-primary" type="submit">Importer</span></button>
    <a href="{% url 'collection-detail' colid %}" class="btn btn-default">Cancel</a>
    <hr>
    {% include "diff_container.html" %}
    <input type="hidden" name="xissue_encoded" value="{{xissue_encoded}}">
    <input type="hidden" name="filename" value="{{filename}}">
  </form>

</div>
{% endblock %}
