{% load static %}
{% load helpers %}
{% load i18n %}

<div class="row">
  <div class="col-xs-12">
    {% for key, value in diff.items %}
      {% if key == "publisher" %}
        <div class="row">
          <div class="col-xs-1 diff-label">{{key}}</div>
          <div class="col-xs-11 col-xs-offset-1">
            {% for pub_key, pub_value in value.items %}
              <div class="row">
                <div class="col-xs-1 diff-label">{{pub_key}}</div>
                <span class="col-xs-3 diff-value">{{pub_value.0}}</span>
                <span class="col-xs-3 diff-value">{{pub_value.1}}</span>
              </div>
            {% endfor %}
          </div>
        </div>
      {% elif key != "articles" %}
        <div class="row">
          <div class="col-xs-1 diff-label">{{key}}</div>
          <span class="col-xs-3 diff-value">{{value.0}}</span>
          <span class="col-xs-3 diff-value">{{value.1}}</span>
        </div>
      {% endif %}
    {% endfor %}

    {% if diff.articles and diff|length > 1 %}<hr>{% endif %}

    {% if diff.articles %}
      <div class="row">
        <div class="col-xs-12">
          <ul class="nav nav-tabs article-tab">
            {% for article in diff.articles %}
            <li {% if forloop.first %}class="active"{% endif%}><a data-toggle="tab" href="#article-{{forloop.counter}}"><h3>{{article.doi|short_doi}}</h3></a></li>
            {% endfor %}
          </ul>
          <div class="tab-content" style="margin-top:10px">
            {% for article in diff.articles %}
              <div id="article-{{forloop.counter}}" class="tab-pane fade {% if forloop.first %}in active{% endif%}">
                <h3><a href="{% url 'item_id' article.pid %}">{{article.pid}}</a></h3>
                <br/>

                {% if article.diff.contrib_groups %}
                  {% include "diff_contribs.html" with contrib_groups=article.diff.contrib_groups %}
                {% endif %}

                <table class="diff-lg-table">
                  <thead>
                    <tr>
                      <th>Attribut</th>
                      <th>Existant</th>
                      <th>Fichier XML</th>
                    </tr>
                  </thead>

                {% for akey, avalue in article.diff.items %}
                  {% if akey == "kwd_groups" %}
                    <tr><td colspan="3">
                    {% include "diff_kwd_groups.html" with kwd_groups=avalue %}
                    </td></tr>
                  {% elif akey != "bibitems" and akey != "contrib_groups" %}
                    <tr></tr>
                      <td class="diff-value">{{akey}}</td>
                      <td class="diff-value">{{avalue.0}}</td>
                      <td class="diff-value">{{avalue.1}}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
                </table>

                {% if article.diff.bibitems %}
                  <br/>
                  <h4>Bibliographie</h4>
                  <div class="row">
                    <div class="col-xs-11 col-xs-offset-1">
                      {% for bib_diff in article.diff.bibitems %}
                        <h5>{{bib_diff.label}}</h5>
                        {% for ref_key, ref_value in bib_diff.diff.items %}
                          {% if ref_key != 'contrib_groups' %}
                            <div class="row">
                            <div class="col-xs-1 diff-label">{{ref_key}}</div>
                            <span class="col-xs-3 diff-value">{{ref_value.0}}</span>
                            <span class="col-xs-3 diff-value">{{ref_value.1}}</span>
                            </div>
                          {% else %}
                            {% include "diff_contribs.html" with contrib_groups=ref_value %}
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>

