{% load static %}
{% load helpers %}
{% load i18n %}

{% for kwd_group in kwd_groups %}
  <div class="row"><div class="col-xs-12">
    <p><span class="diff-label">{{ kwd_group.0 }}</span>
  {% if kwd_group.1.0.0.0 == 'len' %}: Nombre de mots clés différents</p>
  {% elif kwd_group.1.0.0 == 'value_xml' %}:<span style="width:50px; display:inline-block"> </span>{{kwd_group.1.0.1}}<span style="width:50px; display:inline-block"> </span><span style="width:50px; display:inline-block"> </span>{{kwd_group.1.0.2}}
  {% else %}
    </p>

    <div style="margin-left:30px; margin-bottom: 20px;">
      <table class="diff-small-table">
        <thead>
          <tr>
            <th>Kwds</th>
            <th>Existant</th>
            <th>Fichier XML</th>
          </tr>
        </thead>
      {% for kwd in kwd_group.1.0 %}
        <tr>
          <td>{{ kwd.0 }}</td>
          <td>{{ kwd.1 }}</td>
          <td>{{ kwd.2 }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>

  {% endif %}
  </div></div>
{% endfor %}
