{% load static %}
{% load helpers %}
{% load i18n %}

{% for contrib_group in contrib_groups %}
  <div class="row"><div class="col-xs-12">
    <p><span class="diff-label">{{ contrib_group.0 }}</span> <!-- usually "authors" -->
  {% if contrib_group.1.0.0.0 == 'len' %}: Nombre d'auteurs différents</p>
  {% else %}
    </p>

    <div style="margin-left:30px; margin-bottom: 20px;">
      <table class="diff-small-table">
        <thead>
          <tr>
            <th>Auteurs</th>
            <th>Existant</th>
            <th>Fichier XML</th>
          </tr>
        </thead>
      {% for contrib in contrib_group.1.0 %}
        <tr>
          <td>{{ contrib.0 }}</td>
          <td>
          {% for contrib_diff in contrib.1 %}
            {{ contrib_diff.0 }}: {{ contrib_diff.1 }}<br/>
          {% endfor %}
          </td>
          <td>
            {% for contrib_diff in contrib.1 %}
            {{ contrib_diff.2 }}<br/>
          {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>

  {% endif %}
  </div></div>
{% endfor %}
