{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="right_col" role="main">
  <div class="collection-card-overview-item">
    {% if user.is_superuser %}
      <a href="{% url 'archive_collection' 'ALL' %}" id="celery-archiving" class="btn btn-default">
        <span class="glyphicon glyphicon-floppy-disk"></span> Backup the centre Mersenne
      </a>

      {% include "archive_progress.html" with task_name="archive_trammel_resource" %}
    {% endif %}
  </div>
</div>
{% if overview %}
<div id="collections-overview" class="right_col" role="main">
  <h1>Collections overview</h1>
  <hr>
  <div id="remote-servers-status">
    {% if comment_server_ok is False %}
    <div class="server-status-description">
      <span class="error-div">
        The comment data is not available. Please try again.
      </span>
    </div>
    {% endif %}
    {% if translation_server_ok is False %}
    <div class="server-status-description">
      <span class="error-div">
        The translation data is not available. Please try again.
      </span>
    </div>
    {% endif %}
  </div>
  <div id="collections-card-list">
    {% for collection in collections %}
    <div class="collection-card-overview">
      <a class="collection-card-overview-header" href="{% url "collection-detail" pid=collection.pid %}">
        <div class="collection-card-overview-title">
          <span>{{ collection.title_html|safe }}</span>
        </div>
      </a>
      <div class="collection-card-overview-content">
        {% comment %} Comments {% endcomment %}
        {% if comment_server_ok is True %}
        <a href="{% url "comment_list" %}" class="collection-card-overview-item">
          {% if "pending_comments" not in collection %}
          <div class="collection-card-item-icon">
            <i class="fa fa-comments icon-info" aria-hidden="true"></i>
          </div>
          <div class="collection-card-item-details">
            No comments in database.
          </div>
          {% else %}
          {% if collection.pending_comments > 0 %}
          <div class="collection-card-item-icon">
            <i class="fa fa-comments icon-alert" aria-hidden="true"></i>
          </div>
          <div class="collection-card-item-details">
            <span class="collection-overview-badge-count">{{ collection.pending_comments }}</span> comments awaiting for moderation.
          </div>
          {% else %}
          <div class="collection-card-item-icon">
            <i class="fa fa-comments icon-success" aria-hidden="true"></i>
          </div>
          <div class="collection-card-item-details">
            All comments processed.
          </div>
          {% endif %}
          {% endif %}
        </a>
        {% endif %}
        {% comment %} Translations - TO BE TESTED ONCE THE TRANSLATION API IS UP {% endcomment %}
        {% if translation_server_ok is True %}
        <div class="collection-card-overview-item">
          {% if "pending_translations" not in collection %}
          <div class="collection-card-item-icon">
            <i class="fa fa-file-excel-o icon-info" aria-hidden="true"></i>
          </div>
          <div class="collection-card-item-details">
            No translations in database.
          </div>
          {% else %}
          {% if collection.pending_translations > 0 %}
          <div class="collection-card-item-icon">
            <i class="fa fa-file-excel-o icon-alert" aria-hidden="true"></i>
          </div>
          <div class="collection-card-item-details">
            <span class="collection-overview-badge-count">{{ collection.pending_translations }}</span> translations awaiting for review.
          </div>
          {% else %}
          <div class="collection-card-item-icon">
            <i class="fa fa-file-excel-o icon-success" aria-hidden="true"></i>
          </div>
          <div class="collection-card-item-details">
            All translations processed.
          </div>
          {% endif %}
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% endblock content %}
