{% load crispy_forms_tags %}

<div class="row">
  <form class="form-horizontal" method="get" action="{% url 'diff_cedrics_issue' colid %}">
    {% crispy form helper %}
    <hr>
    <button type="submit" id="importcedrics" data-loading-text='<i class="fa fa-spinner fa-pulse" aria-hidden="true"></i> Import en cours...' class="btn btn-primary col-xs-offset-3">Importer</button>
    <button type="button" id="close-importcedrics-modal" class="btn btn-default" data-dismiss="modal">Close</button>
  </form>
</div>
