{% load crispy_forms_tags %}

<div class="row">
  <form class="form-horizontal" id="cedricsArticleForm" method="post" action="{% url 'import_cedrics_article' colid %}" data-articles-url="{% url 'ajax_load_article_choices' %}" data-colid="{{colid}}">
    {% crispy form helper %}
    <hr>
    <button type="submit" id="importarticle" data-loading-text='<i class="fa fa-spinner fa-pulse" aria-hidden="true"></i> Import en cours...' class="btn btn-primary col-xs-offset-3">Importer</button>
    <button type="button" id="close-importarticle-modal" class="btn btn-default" data-dismiss="modal">Close</button>
  </form>
</div>

<script>
    $("#id_issue").change(function () {
      var url = $("#cedricsArticleForm").attr("data-articles-url");
      var colid = $("#cedricsArticleForm").attr("data-colid");
      var issue = $("#id_issue option:selected").text();  // get the selected issue from the HTML input

      $.ajax({
        url: url,
        data: {
          'colid': colid,
          'issue': issue
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_article").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
</script>
