{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="right_col" role="main" xmlns="http://www.w3.org/1999/html">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% if not volume_items %}
  <div>
    <div id="crumbs" style="margin-top:10px;">
      <ul>
        <li>
          <a href="{% url "collection-detail" pid=issue.my_collection.pid %}">{{ issue.my_collection.title_html|safe }}</a>
        </li>
        <li>
          <a href="{% url 'volume-items' issue.get_vid %}">
            {% if issue.vseries %}
              {%  trans 'Série' %} {{ issue.vseries }} :
            {% endif %}
            {% if issue.volume %}
              {% trans 'Tome' %} {{ issue.volume }} ({{ issue.year }})
            {% else %}
              {{ issue.year }}
            {% endif %}
          </a>
        </li>
      </ul>
      {% if issue.number %}
        <ul class="crumb-noarrow">
          <li>
            <a href="#">{% trans 'Fascicule' %} no. {{ issue.number }}</a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
{% else %}
  <div style="margin-bottom:-10px;margin-left:10px">
    <a href="{% url 'issue-items' issue.pid %}">
      {% trans 'Fascicule' %}{% if issue.number %} no. {{ issue.number }}{% endif %} </a>
  </div>
{% endif %}
{% with binary_files=issue.get_binary_files_href %}
  <div class="container" style="margin-bottom: 30px">
    {% if issue.title_html %}
      <h4 style="margin-top:0px">{% include 'common/common-title.html' with item=issue with_links=False %}</h4>
    {% endif %}
    {% include 'common/common-contrib.html' with item=issue %}
    <div class="row">
      {% if issue.small_icon or volume_items %}
        <div style="float:left;width:100px;padding-top:21px">
          {% if issue.icon %}
            <div class="cover-thumbnail">
              <a href="{{ issue.icon }}" class="lightbox" title="">
                <img src="{{ issue.small_icon }}" width="80px">
              </a>
            </div>
          {% endif %}
          <br>
          {% if issue.my_publisher.pub_key == 'societe-mathematique-de-france' %}
            <a href="https://smf.emath.fr"><img src="{% static "mersenne_cms/img/logo-societe-mathematique-de-france.jpg" %}" width="80px"></a>
          {% endif %}
        </div>
      {% endif %}
      <div style="float:left;width:calc(100% - 100px);min-width: 1200px;">
        {% if binary_files.self %}
          <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-12">
              <div class="wrapper-float">
                <div style="float:left;margin-right:10px">{% trans 'Tome complet' %}</div>
                <div style="float:left">
                  {% include 'common/common-binary-files.html' with embargo=issue.embargo binary_files=binary_files.self show_button=True %}
                </div>
              </div>
            </div>
          </div>
          <hr style="margin-top:15px;margin-bottom:15px"></hr>
        {% endif %}
        {% if binary_files.toc %}
          <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-12">
              <div class="wrapper-float">
                <div style="float:left;margin-right:10px">{% trans 'Liste complète des exposés' %}</div>
                <div style="float:left">
                  {% include 'common/common-binary-files.html' with embargo=issue.embargo binary_files=binary_files.toc show_button=True %}
                </div>
              </div>
            </div>
          </div>
          <hr style="margin-top:15px;margin-bottom:15px"></hr>
        {% endif %}
        {% if binary_files.frontmatter %}
          <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-12">
              <div class="wrapper-float">
                <div style="float:left;margin-right:10px">{% trans 'Pages préliminaires' %}</div>
                <div style="float:left">
                  {% include 'common/common-binary-files.html' with embargo=issue.embargo binary_files=binary_files.frontmatter show_button=True %}
                </div>
              </div>
            </div>
          </div>
          <hr style="margin-top:15px;margin-bottom:15px"></hr>
        {% endif %}
        <div class="col-lg-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <a href="{% url 'container_edit' issue.pid %}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
              <a href="#"
                 data-url="{% url 'doi_check' issue.pid %}"
                 data-matching-indicator="doiregisterissue-indicator"
                 data-reload="1"
                 class="btn btn-default handle-one-button">
                  <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i> Check all DOIs
              </a>
              <a href="#"
                 data-url="{% url 'doi_register' issue.pid %}"
                 data-matching-indicator="doiregisterissue-indicator"
                 data-reload="1"
                 class="btn btn-default handle-one-button{% if not allow_crossref %} disabled{% endif %}">
                  <i class="glyphicon glyphicon-record" aria-hidden="true"></i> Record all DOIs
              </a>
              <a href="#"
                 data-url="{% url 'doaj_register' issue.pid %}"
                 data-matching-indicator="doiregisterissue-indicator"
                 class="btn btn-default handle-doaj-button">
                  <i class="glyphicon glyphicon-export" aria-hidden="true"></i> Send metadata DOAJ
              </a>

              {% if request.user.is_superuser %}
                <a href="#"
                   data-url="{% url 'force_doi_register' issue.pid %}"
                   data-matching-indicator="doiregisterissue-indicator"
                   data-reload="1"
                   class="btn btn-warning handle-one-button">
                    <i class="glyphicon glyphicon-record" aria-hidden="true"></i> Force Record all DOIs
                </a>
              {% endif %}

              <a href="#"
                 data-url="{% url 'add_issue_pdf' issue.pid 'test_website' %}"
                 data-matching-indicator="doiregisterissue-indicator"
                 data-reload="1"
                 class="btn btn-default handle-one-button">
                  <img src="{% static 'ptf/img/pdf_black.gif' %}"> add PDF from mathdoc-tex
              </a>
              <a href="#"
                 data-url="{% url 'add_issue_pdf' issue.pid 'website' %}"
                 data-matching-indicator="doiregisterissue-indicator"
                 data-reload="1"
                 class="btn btn-default handle-one-button"
                 title="Send the issue PDF to the production website">
                  <span class="glyphicon glyphicon-cloud-upload" style="font-size:20px;vertical-align:middle;color:#777"></span>
                  <img src="{% static 'ptf/img/pdf_black.gif' %}">
              </a>

              <i id="doiregisterissue-indicator" class="fa fa-spinner fa-spin hidden" aria-hidden="true"></i>
              <div class='pull-right'>
                Liens vers :
                <a href="{{ test_website }}{% url 'issue-items' pid=pid %}" class="btn btn-default btn-xs" role="button" target='_blank'>
                  <i class="fa fa-external-link" aria-hidden="true"></i> Test
                </a>
                <a href="{{ prod_website }}{% url 'issue-items' pid=pid %}" class="btn btn-default btn-xs" role="button" target='_blank'>
                  <i class="fa fa-external-link" aria-hidden="true"></i> Prod
                </a>
              </div>
            </div>
          </div>
        </div>
        {% for article in articles %}
          <div class="row {% if article.do_not_publish %}do-not-publish-row{% endif %}" style="margin-bottom:10px;">
            <div class="col-sm-6">
              <div class="pull-right">
                <div class="checkbox checkbox-switch switch-primary">
                  <form action="{% url 'do_not_publish_article' article.pid %}" method="post">{% csrf_token %}
                    <label>
                      <input id="id_do_not_publish" name="do_not_publish" class="" {% if article.do_not_publish %}checked{% endif %} type="checkbox" onclick="this.form.submit();">
                      <span></span>Do not publish
                    </label>
                  </form>
                </div>
                {% comment %}
                <div class="checkbox checkbox-switch switch-primary">
                  <form action="{% url 'show_article_body' article.pid %}" method="post">{% csrf_token %}
                    <label>
                      <input id="id_show_article_body" name="show_article_body" class="" {% if article.show_body %}checked{% endif %} type="checkbox" onclick="this.form.submit();">
                      <span></span>Show Full text
                    </label>
                  </form>
                </div>
                {% endcomment %}
              </div>
              <div style="margin-bottom:5px">
                <a href="{% url 'edit-article' issue.get_top_collection.pid article.doi %}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="#" data-url="{% url 'article_delete' article.pid %}" data-matching-indicator="doiregisterissue-indicator" data-reload="1"
                   class="btn btn-xs btn-default handle-one-button"><span class="glyphicon glyphicon-trash"></span></a>
                <div class="btn-group" style="margin-bottom:5px">
                  <div class="btn-group">
                    <button id="deploy-one-site-sel-{{ forloop.counter }}"
                          type="button"
                          class="btn btn-xs btn-default dropdown-toggle"
                          value="test_website"
                          data-bs-toggle="dropdown"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">
                      <i id="matching-indicator-{{forloop.counter}}" class="fa fa-spinner fa-spin hidden" aria-hidden="true"></i>
                      Test <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="select_target" data-row="{{ forloop.counter }}" value="test_website">Test</a></li>
                      <li><a class="select_target" data-row="{{ forloop.counter }}" value="website">Prod</a></li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-xs btn-default handle-one-button"
                     data-url="{% url 'api_deploy_jats_resource' issue.get_top_collection.pid article.pid 'toreplacesite' %}"
                     data-select-id="deploy-one-site-sel-{{ forloop.counter }}"
                     data-reload="1"
                     data-matching-indicator="matching-indicator-{{ forloop.counter }}">
                    <i class="fa fa-arrow-circle-o-up"></i> Transfer to
                  </a>
                </div>
              </div>
              {% include 'common/common-contrib.html' with item=article for_issue=True %}
              {% include 'common/common-title-with-pdf.html' with item=article embargo=article.my_container.embargo binary_files=article.get_binary_files_href.self show_button=True %}
              <div>
                {{ article.get_page_text }}
                {% if article.page_type == 'volant' %} ({% trans 'Pages volantes' %}){% endif %}
                {% if article.page_type == 'supplement' %} ({% trans 'Pages supplémentaires' %}){% endif %}
                {% if article.page_type == 'preliminaire' %} ({% trans 'Pages préliminaires' %}){% endif %}
                {% if article.page_type == 'special' %} ({% trans 'Pages spéciales' %}){% endif %}
              </div>
            </div>
            <div class="col-sm-2" style="border-left:1px solid grey;">{{article.doi}}<br/>{{article.pid}}<br/>{{article.get_ojs_id}}</div>
            <div class="col-sm-1" style="color: {% if article.doi %}{% if article.doibatch.status == 'Enregistré' %}green{% elif article.doibatch.status == 'Erreur' %}red{% elif article.doibatch.status == 'En cours' %}orange{% else %}red{% endif %}{% else %}red{% endif %};">
              {% if article.doi %}
                {% if article.doibatch %}
                  {{article.doibatch.status}}<span title="{{article.doibatch.log}}"><i class="fa fa-question-circle-o"></i></span>
                {% else %}
                  Non enregistré
                <!-- Lors de l'import d'une issue, le DOIBatch lié à un article existant n'est pas conservé
                 dans l'idéal il faut réenregistré tous les DOI car les métadonnées peuvent avoir changées
                -->
                {% endif %}
              {% else %}Pas de DOI{% endif %}
            </div>
            <div class="col-sm-1" >
              {% if article.do_not_publish %}
                <span class="glyphicon glyphicon-remove do-not-publish-icon" title="Ne sera pas publié"></span>
              {% else %}
                {% if article.doi %}
                    <a href="#" data-url="{% url 'doi_check' article.pid %}" data-matching-indicator="doiregister-indicator-{{forloop.counter}}" data-reload="1" class="btn btn-default handle-one-button"><i class="glyphicon glyphicon-refresh" aria-hidden="true"></i> Check DOI</a>
                  {% if article.allow_crossref %}
                    <a href="#" data-url="{% url 'doi_register' article.pid %}" data-matching-indicator="doiregister-indicator-{{forloop.counter}}" data-reload="1" class="btn btn-default handle-one-button {% if not article.date_online_first and not article.date_published %}disabled " aria-disabled="true{% endif %}"><i class="glyphicon glyphicon-record" aria-hidden="true"></i> Record DOI</a>
                    {% if issue.get_top_collection.pid == 'CRBIOL' %}
                      <a href="#" data-url="{% url 'pubmed_register_form' article.pid %}" modal-title="Register an article un PubMed"
                        class="form-modal-button-no-ajax-submit btn btn-default">Record PubMed</a>
                    <!--<a href="#" data-url="{% url 'pubmed_register' article.pid %}" data-matching-indicator="doiregister-indicator-{{forloop.counter}}" data-reload="1" class="btn btn-default handle-one-button {% if not article.date_online_first and not article.date_published %}disabled " aria-disabled="true{% endif %}"><i class="glyphicon glyphicon-record" aria-hidden="true"></i> Record Pubmed</a>-->
                    {% endif %}
                    <i id="doiregister-indicator-{{ forloop.counter }}" class="fa fa-spinner fa-spin hidden" aria-hidden="true"></i>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <div class="col-sm-2" >
              {% if article.deployed_date %}
                Mise en ligne : {{article.deployed_date|date:"d/m/Y H:i" }}
              {% else %}
                <span style="color: orange;" >Version métadonnées non déployée</span><br>Dernier déploiement : {{article.my_container.deployed_date|date:"d/m/Y H:i" }}
              {% endif %}
              {% if article.date_online_first|date:"d/m/Y H:i" %}
                <br>
                Online First : {{article.date_online_first|date:"d/m/Y H:i" }}
              {% endif %}
              <br>
              Date de publication : {{article.date_published|date:"d/m/Y H:i" }}
              {% if article.last_match %}
                <br>
                Dernier Matching : {{article.last_match|date:"d/m/Y H:i" }}
              {% endif %}
            </div>
          </div>
          {% if not forloop.last %}
            <hr style="margin-top:15px;margin-bottom:15px"/>
          {% endif %}
        {% endfor %}
        {% if binary_files.backmatter %}
          <hr style="margin-top:20px;margin-bottom:15px"></hr>
          <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-12">
              <div class="wrapper-float">
                <div style="float:left;margin-right:10px">{% trans 'Pages finales' %}</div>
                <div style="float:left">
                  {% include 'common/common-binary-files.html' with embargo=issue.embargo binary_files=binary_files.backmatter show_button=True %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endwith %}
  <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Title</h4>
        </div>
        <div id="form-modal-body" class="modal-body">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block extrajs %}
<script src="{% static 'ptf-tools/js/collection_detail_table.js' %}"></script>
{% endblock extrajs %}
