{% load static %}
{% load i18n %}

<div class="form-group kwd-{% if unstructured %}uns-{% endif %}group-{{kwd_lang}}" {% if unstructured %}data-uns="1"{% endif %}>
  <label class="control-label col-md-2 col-sm-2 col-xs-12"></label>
  <input name="kwd-{% if unstructured %}uns-{% endif %}{{kwd_lang}}-{% if write_template %}##i##"{% else %}{{i}}{% endif %}" value="{%if write_template %}##value##{% else %}{{ kwd.value }}{% endif %}" type="text" placeholder="Value" class="{% if unstructured %}col-xs-4{% else %}col-xs-2{% endif %} first-input-of-kwd">
  {% if unstructured %} <button type="button" class="btn btn-sm btn-default split-kwd-field" data-lang="{{kwd_lang}}"><span class="glyphicon glyphicon-scissors"></span></button>{% endif %}
  <button type="button" class="btn btn-sm btn-default remove-kwd-field" data-lang="{{kwd_lang}}"><span class="glyphicon glyphicon-minus"></span></button>
</div>
