{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}


<div class="right_col" role="main">
  <h1>Numdam</h1>

  {% spaceless %}
  <div class="row" style="margin-top:0px">
      <a href="#" data-all-url="{% url 'api_deploy_all_numdam' %}" data-one-url="{% url 'api_deploy_jats_resource' 'numdam' 'toreplacepid' 'numdam' %}" class="btn btn-default handle-all-button"><span class="glyphicon glyphicon-upload"></span> Transfer all</a>
      <a href="{% url 'numdam-archive' 'ALL' %}" id="celery-archiving" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span> Archive Numdam</a>
      <a href="{% url 'tasks-failed' %}" id="archive-errors-btn" class="btn btn-default hidden"><span class="glyphicon glyphicon-fire"></span> Archiving errors</a>
      <button class="btn btn-default" id="cancel-all-button" style="display:none">Cancel</button>
      <input id="cancel-all-checkbox" type="checkbox" value="" style="display:none">
  </div>

  {% endspaceless %}
  <div id="handle-all-progress" class="progress" style="display:none">
    <div class="progress-bar" role="progressbar" aria-valuenow="00" aria-valuemin="0" aria-valuemax="100" style="width:0%">0%</div>
    <br/>
  </div>

  {% include "archive_progress.html" with task_name="archive_numdam_issue" %}

  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-11 col-md-11 col-lg-10">
      {% for colid in numdam_collections %}
        <a href="{% url 'collection-detail' colid %}">{{colid}}</a>
      {% endfor %}
    </div>
  </div>

  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-11 col-md-11 col-lg-10">
      <h4>New issues in numdam-pre</h4>
      {% for group in added_issues %}
      <h5>{{group.colid}}</h5>
      <p>
        {% for pid in group.issues %}{{pid}} &nbsp;&nbsp;{% endfor %}
      </p>
      {% endfor %}
      {% if removed_issues|length > 0 %}
        <br/>
        <h4>Removed issues in numdam-pre</h4>
        {% for group in removed_issues %}
        <h5>{{group.colid}}</h5>
        <p>
          {% for pid in group.issues %}{{pid}} &nbsp;&nbsp;{% endfor %}
        </p>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-11 col-md-11 col-lg-10">
      <h4>Fascicules</h4>
      <table id="table_issues" class="display" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for obj in objs %}
          <tr>
            <td style="width:250px" ><a href="{% url 'issue-items' obj.pid %}">{{obj.pid}}</a> </td>
            <td style="width: 400px">
              <a href="#" data-url="{% url 'api_delete_numdam' obj.pid %}" data-reload="1" class="btn btn-default handle-one-button"><span class="glyphicon glyphicon-trash"></span> Delete the list</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

{% endblock content %}
{% block extrajs %}
  <script src="{% static 'ptf-tools/js/archiving.js' %}"></script>
{% endblock extrajs %}
