{% load crispy_forms_tags %}

<div class="row">
  <form class="form-horizontal" method="get" action="{% url 'pubmed_register' pid %}">
    {% crispy form helper %}
    <hr>
    <button type="submit" id="register-pubmed" class="btn btn-primary col-xs-offset-3">Register</button>
    <button type="button" id="close-register-pubmed-modal" class="btn btn-default" data-dismiss="modal">Close</button>
  </form>
</div>
