{% load static %}
{% load i18n %}
{% load tools_helpers %}

{% if user.is_authenticated %}
<div class="col-md-3 left_col" style="overflow: visible;">
  <div style="max-height: none;" tabindex="0">
    <div style="position:relative; top:0; left:0;" dir="ltr">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;text-align: center;margin-top:25px;">
          <a href="{% url 'home' %}" class="" style="color:#FFFFFF"><object type="image/svg+xml" data="{% static "ptf-tools/img/logo-trammel.svg" %}" width="200"></object> <h3>Trammel</h3></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
          <div class="profile_pic">
          </div>
          <div class="profile_info">
          </div>
        </div>

        <br>

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="margin-top:160px">
          {% block menus %}
          <div class="menu_section">
            <h3>Collections</h3>

            {% if user.is_staff %}
            <ul class="nav side-menu" style="line-height:0.1">
              {% for colid in 'a'|get_mersenne_collections %}
              <li><a href="{% url 'collection-detail' colid %}">{{colid}}</a></li>
              {% endfor %}
              <li><a href="{% url 'collection-detail' 'PROCEEDINGS' %}">PROCEEDINGS</a></li>
              <li><a href="{% url 'collection-detail' 'GEODESIC' %}">Geodesic</a></li>
            </ul>
            <br/><br/>

            <h3><a href="{% url 'numdam' %}">Numdam</a></h3>
            <br/><br/>
            <h3><a href="{% url 'history' %}">Historique</a></h3>
            {% if error_count %}<h4 style="margin-left:30px;"><span class="label label-danger">{{error_count}} Errors</span></h4>{% endif %}
            {% if warning_count %}<h4 style="margin-left:30px;"><span class="label label-warning">{{warning_count}} Warnings</span></h4>{% endif %}
            {% if clockss_error_count %}<h4 style="margin-left:30px;"><span class="label label-danger">{{clockss_error_count}} CLOCKSS Errors </span></h4>{% endif %}
            {% if last_clockss_event %}<h4 style="margin-left:30px;"><span class="label label-warning">last sync : {{last_clockss_event}} days ago</span></h4>{% endif %}

            {% else %}
            <ul class="nav side-menu" style="">
              {% for colid in user|get_authorized_collections %}
              <li><a href="{% url 'collection-detail' colid %}">{{colid}}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          {% endblock menus %}
        </div>

      </div>
    </div>
  </div>
</div>
{% endif %}
