{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}


<div class="right_col" role="main">
  <h1>Celery Tasks</h1>

  <table class="table table-striped caption-top align-middle">
    <thead class="thead-light">
      <tr>
        <th scope="col">Status</th>
        <th scope="col">Date Created</th>
        <th scope="col">Date Done</th>
        <th scope="col">Result</th>
        <th scope="col">Traceback</th>
      </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
      <td>{{task.status}}</td>
      <td>{{task.date_created}}</td>
      <td>{{task.date_done}}</td>
      <td>{{task.result}}</td>
      <td>{{task.traceback}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

</div>

{% endblock content %}

