{% load i18n %}
{% load moderation_tags %}
{% load stringsfilter %}

{% if user.is_authenticated %}
<div class="top_nav">
  <div class="nav_menu">

    <nav>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <form class="navbar-form" method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button class="btn btn-default" class="nav-link" onclick="this.closest('form').submit();return false;">Logout</button>
          </form>
        </li>
        <li class="nav-item  my-dropdown-menu">
          <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Account
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change password</a></li>
          </ul>
        </li>
        <li class="nav-item{% if request.path == "/" %} active{% endif %}"><a href="/">Home</a></li>
        {% if user.is_staff %}
        <li class="nav-item"><a href="{% url 'published_articles' %}">Statistics</a></li>
        {% endif %}
        {% comment %}
          Comments moderation.
          This is a menu for admin moderators and only a nav link for other moderators
        {% endcomment %}
        {% if user|show_comments_nav %}
        {% if user|can_manage_moderators %}
        <li id="comment-menu" class="nav-item custom-dropdown{% if request.path|startswith:"/comments/" %} active{% endif %}">
          <a class="custom-dropdown-toggle" id="comment-dropdown-menu">
            Comment
            <span class="caret"></span>
          </a>
          <div class="custom-dropdown-content" aria-labelledby="comment-dropdown-menu">
            <div id="comment-menu-content">
              <a class="nav-item" href="{% url "comment_list" %}">Dashboard</a>
              <a class="nav-item" href="{% url "comment_moderators" %}">Manage moderators</a>
            </div>
          </div>
        </li>
        {% else %}
        <li class="nav-item{% if request.path|startswith:"/comments/" %} active{% endif %}"><a href="{% url "comment_list" %}">Comments</a></li>
        {% endif %}
        {% endif %}

        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
        {% endif %}
      </ul>
    </nav>

  </div>
</div>
{% endif %}
