:root {
    --header-bg-color: white;
    --header-padding: 0;
    --header-nav-border: 0;

    --header-nav-link-color: black;
    --header-nav-link-hover-color: black;
    --header-nav-link-hover-bg-color: #eee;
    --header-active-nav-link-bg-color: black;
    --header-active-nav-link-color: white;

    --dropdown-item-hover-bg-color: #eee;

    --btn-info-color: white;
    --btn-info-bg-color: #5bc0de;
    --btn-info-border-color: #46b8da;
    --btn-info-hover-color: white;
    --btn-info-hover-bg-color: #31b0d5;
    --btn-info-hover-border-color: #269abc;

    --article-title-link-color: #2e75b6;
    --article-title-link-hover-color: black;

    --navbar-collapse-link-color: #9d9d9d;
    --navbar-collapse-link-bg-color: transparent;
    --navbar-collapse-link-hover-color: white;
    --navbar-collapse-link-hover-bg-color: transparent;
    --navbar-collapse-link-active-color: white;
    --navbar-collapse-link-active-bg-color: black;
    --navbar-collapse-dropdown-bg-color: transparent;
    --navbar-collapse-dropdown-item-color: #9d9d9d;
    --navbar-collapse-dropdown-item-bg-color: transparent;
    --navbar-collapse-dropdown-item-hover-color: white;
    --navbar-collapse-dropdown-item-hover-bg-color: transparent;

    --footer-link-color: #5bc0de;
    --footer-link-hover-color: #5bc0de;
    --footer-link-hover-decoration: underline;

    --facet-header-color: black;
}

body {
    font-size: 14px;
}

main.container {
    padding-top: 0;
}

.card-heading {
    background-color: #f5f5f5;
}

.carousel-control-prev {
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0,0.8)), to(rgba(0,0,0,0.0001)));
    background-image: linear-gradient(to right, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.0001) 100%);
    background-repeat: repeat-x;
}

.carousel-control-next {
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.8) 100%);
    background-image: -o-linear-gradient(left, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.8) 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0,0.0001)), to(rgba(0,0,0,0.8)));
    background-image: linear-gradient(to right, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.8) 100%);
    background-repeat: repeat-x;
}

#citation-tab .nav-link:hover {
    background-color: #eee;
    text-decoration: none !important;
    color: black;
}

#citation-tab .nav-link.active {
    background-color: black;
    color: white;
}

.menu-bottom .menu-link, .menu-top .menu-link {
    font-weight: bold;
}

.card-title {
    font-weight: normal !important;
}

a.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    color: inherit;
}

a.list-group-item:hover {
    background-color: #f5f5f5 !important;
}

a.list-group-item:focus {
    background-color: inherit;
}

small {
    color: #777;
    font-size: 75% !important;
}

h4 {
    font-size: 18px;
}

main > nav > ul {
    justify-content: end;
}

.nav-pills {
    margin-top: 5px;
}

.nav-pills > li > a {
    color: #333;
    font-variant: small-caps;
}

.membership-thumbnail {
    max-width: 111px;
    max-height: 55px;
    margin-bottom: 5px;
}

.sponsor-thumbnail {
    min-height: 55px;
    max-height: 55px;
}

.with-bottom-margin {
   margin-bottom: 35px;
}
/*
    Boutton : Get full text pdf / home page
*/

.logos-footer {
    width: 50%;
    padding: 0 0 !important;
}

.logo-footer-div {
    flex-direction: column;
}

.col-sm-10 a {
    margin-bottom: 15px;
}
/*
    Boutton : Peer reviewed and recommended by PCI

.btn_recommendation{
    background-color: transparent;
    border: 1px solid #2e75b6;
    padding: 5px;
}
*/
/* Footer
 * */

footer {
    color: white;
    background-color: black;
}

.footer-text {
    font-size: 14px;
}

.footer-text > a {
    color: #5bc0de;
}

.footer-thumbnail > img {
    max-height: 45px;
    margin-top: 5px;
    margin-bottom: 11px;
}

.mathdoc-thumbnail > img {
    max-height: 35px;
}

/* Bibliography
 * */

.italique {
    font-style: italic;
}

.smallcaps {
    font-variant: small-caps;
}

.citation-author {
    font-variant: small-caps;
}

.citation-document-title {
    font-weight: bold;
    color: #555555;
}

.citation-publication-title {
    font-style: italic;
}

.bibitemcls {
    font-size: 14px;
}

.img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.img-container img {
    display: block;
    float: left;
    flex: 0 0 auto;
    max-width: 200px;
    margin: 20px;
}

@media screen and (min-width: 1200px) {
    .img-container img {
        width: calc(16.66666% - 40px);
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .img-container img {
        width: calc(25% - 50px);
    }
}

@media screen and (min-width: 550px) and (max-width: 992px) {
    .img-container img {
        width: calc(33.333333% - 50px);
    }
}

@media screen and (min-width: 370px) and (max-width: 550px) {
    .img-container img {
        width: calc(50% - 50px);
    }
}

@media screen and (max-width: 370px) {
    .img-container img {
        width: 100%;
        height: 100%;
    }
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}

#article-body-html table {
    width:  100%;
    margin-left: 0;
}

.article-body-img {
    max-width: 50%;
}

.PCJ-Section {
    
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.PCJ-Subsection {
    
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.PCJ-Sub-subsection {
    
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
}

.PCJ-text {
    
    font-size: 14px;
    text-align: justify;
}

.PCJ-caption-figure {
    
    font-size: 11px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.PCJ-Figure {
    text-align: center;
}

.PCJ-table {
    border-collapse: collapse;
    
    font-size: 11px;
    max-width: 90%;
    margin-left: 5%;

    
}

.PCJ-table tbody {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.PCJ-table thead {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.title-row {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}



.PCJ-table-legend {
    
    font-size: 11px;
}

.PCJ-note-table {
    
    font-size: 11px;
}

.PCJ-Reference {
    
    font-size: 14px;
}

.PCJ-Equation {
    
    font-size: 14px;
}
.PCJ-OrderedList ol {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10.5pt;
    counter-reset: pcj_equation; /* Réinitialise le compteur */
}

.PCJ-OrderedList ol li {
    counter-increment: pcj_equation; /* Incrémente le compteur à chaque élément de liste */
    display: flex;
    align-items: baseline;
    
}

.PCJ-OrderedList li::before {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10.5pt;
    content: "(" counter(pcj_equation) ")";
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #2e75b6;
}

 ol {
    list-style-type: none;
    counter-reset: pcj_equation; 
}

 ol li {
    counter-increment: pcj_equation;
    display: flex;
    align-items: baseline;
    
}

.article-list::before {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10.5pt;
    content: "(" counter(pcj_equation) ")";
    margin-right: 5px;
} 

figure {
    background-color: white;
    text-align: center;
    margin-bottom: 30px;
}

#article-body-html th {
    display: table-cell;
    vertical-align: middle;
    text-align: inherit;
}

.PCJ-table p {
    display: table-cell;
}

.PCJ-text + .PCJ-text {
    margin-top: -17px;
}

.PCJ-table + .PCJ-text {
    margin-top: 20px;
}

.PCJ-table + .PCJ-Section {
    margin-top: 20px;
}
.mathjax-formula.display {
    padding-left: 40%;
}

.tooltipPCJ {
    position: relative;
}

.highlight {
    background: #E4EEF3;
    transition: all 0.5s ease;
    border: solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #8f9699;
}

.tooltipPCJ .tooltiptextshow {
    visibility: visible;
    opacity: 1;
    font-size: 11px;
    border-style: solid;
    border-color: #e4eef3;
    border-width: 2px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    bottom: 100%;
    left:50%;
    z-index: 1;
    min-width: 200px;
    box-shadow: 1px 10px 25px dimgrey;
    padding: 10px;
}

.tooltiptexthidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}
