{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

{% if messages %}
  {% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" fade show role="alert" >
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }}
  </div>
</div>
{% endfor %}
{% endif %}

<div class="spinner-border mt-4" role="status" style="display:none">
  <span class="visually-hidden">Loading...</span>
</div>

{% include "editor/submission_table.html" with submissions=submitted_submissions with_user=True with_accept=True with_delete=True with_doi=True caption="Submissions awaiting approval" %}
{% include "editor/submission_table.html" with submissions=edit_submissions with_user=True with_accept=False with_delete=True with_datatable=True caption="Submissions in progress" %}
{% include "editor/submission_table.html" with submissions=accepted_submissions with_user=True with_accept=False with_delete=False with_revert=True with_datatable=True with_doi=True caption="Accepted submissions" %}
{% include "editor/submission_table.html" with submissions=published_submissions published=True with_user=True with_accept=False with_delete=False with_datatable=True with_doi=True caption="Published articles" %}

{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function() {

    $('.with-datatable').DataTable({
        columnDefs: [{ "targets": 1, "type": "natural" }, { "targets": 3, "type": "natural" }],
    });

    $(".btnForFile").on('click', function() {
      $(this).parent().children('.inputForFile').trigger('click');
    });

    $(".inputForFile").on('change', function() {
      $(this).parent().submit();
    });

  });
</script>
{% endblock %}
