{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    <h1 class="mb-5 mt-5">Create a new submission</h1>
    <form method="post">
      {% csrf_token %}

      {% if form.errors %}
      <div class="mb-4">
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      <div class="form-outline mb-5">
        <label for="id_preprint_id" class="form-label">Preprint id</label>
        <input type="text" name="preprint_id" value="{{object.preprint_id}}" class="form-control" id="id_preprint_id" placeholder="DOI (10...), HAL (hal-...) or arXiv (arXiv:...)">
      </div>
      <div class="form-outline mb-5">
        <label for="id_recommendation_doi" class="form-label">Recommendation doi</label>
        <input class="form-control" type="text" name="recommendation_doi" value="{{object.recommendation_doi}}" class="form-control" id="id_recommendation_doi" placeholder="10.24072/pci...">
        <div class="form-info">The recommendation DOI is visible in the Peer Community In recommendation webpage, under the recommendation in 'Cite this recommendation as:'</div>
      </div>
      <div class="form-check mb-2">
        <input class="form-check-input checkbox-of-submission" type="checkbox" value="" id="checkbox_author" required>
        <label class="form-check-label" for="checkbox_author">I am an author of the article and I am acting on behalf of all authors.</label>
      </div>
      <div class="form-check mb-5">
        <input class="form-check-input checkbox-of-submission" type="checkbox" value="" id="checkbox_review" required>
        <label class="form-check-label" for="checkbox_review">This article has been recommended by a PCI and has not been published and is not under consideration for review or publication elsewhere.</label>
      </div>
<!--      <div class="form-floating mb-4">-->
<!--        <input type="text" name="preprint_id" value="{{object.preprint_id}}" class="form-control" id="id_preprint_id" required>-->
<!--        <label for="id_preprint_id" class="form-label">Preprint doi</label>-->
<!--      </div>-->
<!--      <div class="form-floating mb-4">-->
<!--        <input class="form-control" type="text" name="recommendation_doi" value="{{object.recommendation_doi}}" class="form-control" id="id_recommendation_doi" required>-->
<!--        <label for="id_recommendation_doi" class="form-label">Recommendation doi</label>-->
<!--      </div>-->
      <button type="submit" class="btn btn-success create-form-long-action">Create</button>
    </form>
    <div class="spinner-border mt-4" role="status" style="display:none">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
{% endblock %}
