{% if submissions %}
<div class="table-responsive m-5">
  <h2>{{caption}}</h2>
<table class="table table-striped caption-top align-middle {% if with_datatable %}with-datatable{% endif %}">
  <thead class="thead-light">
  <tr>
    <th scope="col">PCI</th>
    <th scope="col">Recommendation DOI</th>
    <th scope="col">Titre</th>
    {% if with_doi %}
    <th scope="col">PCJ DOI</th>
    {% endif %}
    {% if with_user %}
    <th scope="col">User</th>
    {% endif %}
    {% if published %}
      <th scope="col">Date</th>
    {% else %}
      <th scope="col">Actions</th>
    {% endif %}
  </tr>
  </thead>
  <tbody>
  {% for submission in submissions %}
  <tr>
    <td>{{submission.article.get_subj_text}}</td>
    <td><a href="http://doi.org/{{submission.recommendation_doi}}">{{submission.recommendation_doi}}</a></td>
    <td>{{submission.article.title_tex}}</td>
    {% if with_doi %}
      {% if published %}
        <td><a href="https://peercommunityjournal.org/articles/{{submission.article.doi}}">{{submission.article.doi}}</a></td>
      {% else %}
        <td><a href="https://pcj-test.centre-mersenne.org/articles/{{submission.article.doi}}">{{submission.article.doi}}</a></td>
      {% endif %}
    {% endif %}
    {% if with_user %}
    {% with first_user=submission.users.first %}
    <td>{{submission.corresponding_emails_display}}</td>
    {% endwith %}
    {% endif %}
    <td style="min-width: {% if with_accept %}{% if with_delete %}310{% else %}250{% endif %}{% else %}{% if with_delete %}150{% else %}{% if with_revert %}220{% else %}120{% endif %}{% endif %}{% endif %}px">
      {% if with_delete %}
      <div class="float-end">
        <form onsubmit="return confirm('Do you really want to delete the submission?');" id="form-delete-{{submission.pk}}" action={% url 'submission-delete' submission.pk %} method="POST">
        {% csrf_token %}
        <button type="submit" name="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
        </form>
      </div>
      {% endif %}
      {% if with_accept %}
<!--      <div class="float-end me-1">-->
<!--        <form action={% url 'api-fetch-refs-crossref' 'PCJ' submission.article.doi %} method="POST" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->
<!--        <input class="inputForFile" style="display:none" type="file" name="filename" onchange="console.log(this.files[0].name);" />-->
<!--        <button type="button" name="button" class="btn btn-secondary btnForFile"><i class="bi bi-cloud-download"></i></button>-->
<!--        </form>-->
<!--      </div>-->
      <div class="float-end me-1">
        <form action={% url 'submission-accept' submission.pk %} method="POST">
          {% csrf_token %}
          <button type="submit" name="submit" class="btn btn-success long-action" href=""><i class="bi bi-check-lg"></i> Accept</button>
        </form>
      </div>
      {% endif %}
      {% if with_revert %}
      <div class="float-end me-1">
        <form action={% url 'submission-revert' submission.pk %} method="POST">
        {% csrf_token %}
        <button type="submit" name="submit" class="btn btn-secondary" href=""><i class="bi bi-skip-backward"></i> Revert</button>
        </form>
      </div>
      {% endif %}
      {% if published %}
          {{submission.article.date_published|date:"Y-m-d"}}
      {% else %}
        <a class="btn btn-secondary" href="{% url 'preview-article' colid submission.article.doi %}"><i class="bi bi-eye"></i> Preview</a>
      {% endif %}
      {% if with_delete %}
      <div class="float-end me-1">
        <form action={% url 'api-fetch-crossref' colid submission.article.doi %} method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary long-action" name="Submit" title="Get references from Crossref"><i class="bi bi-cloud-download"></i></button>
        </form>
      </div>
      {% endif %}
      {% comment %}
      <a class="btn btn-secondary" href="{% url 'edit-article' colid submission.article.doi %}"><i class="bi bi-pencil"></i> Edit</a>
      <a href="{% url 'submission-update' submission.pk %}">Edit submission</a>
      {% endcomment %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endif %}

