{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
{% if submissions %}
<table class="">
  <tr>
    <thead class="thead-light">
    <tr>
      <th scope="col">Preprint DOI</th>
      <th scope="col">Recommendation DOI</th>
      <th scope="col">PDF</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for submission in submissions %}
    <tr>
      <td>{{submission.preprint_id}}</td>
      <td>{{submission.recommendation_doi}}</td>
      <td>{{submission.pdf}}</td>
      <td>
        <a href="{% url 'submission-update' submission.pk %}">Edit submission</a>
        <a href="{% url 'edit-article' colid submission.article.doi %}">Edit article metadata</a>
        <br/>
        <form action={% url 'api-fetch-crossref' colid submission.article.doi %} method="POST">
        <button type="submit" class="btn btn-primary" name="Submit">Get metadata from Crossref</button>
        </form>
      </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
EMPTY
{% endif %}
<div>
  <a href="{% url 'submission-create' %}">Create new submission</a>
</div>
{% endblock %}
