{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load helpers %}

{% block center_middle %}
<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    <form method="post" enctype="multipart/form-data" id="submission-form">
      {% csrf_token %}

      {% if object.is_invalid %}
      <div class="alert alert-danger">
        <strong>
          <p>Your article is not ready for submission.</p>
          <p class="mb-0">Check the errors in the Preview and correct them in Edit window.</p>
        </strong>
      </div>
      {% endif %}

<!--      <div class="float-end"><i class="bi bi-pencil"></i></div>-->
      <div class="form-outline mb-4">
        <label for="id_preprint_id" class="form-label">Preprint doi: {{object.preprint_id}}</label>
        <input type="text" name="preprint_id" value="{{object.preprint_id}}" class="form-control" id="id_preprint_id" hidden>
        <p class="form-label">Title: {{object.article.title_tex}}</p>
      </div>
      <div class="form-floating mb-4">
        <input class="form-control" type="text" name="recommendation_doi" value="{{object.recommendation_doi}}" class="form-control" id="id_recommendation_doi" placeholder="10.../..." required>
        <label for="id_recommendation_doi" class="form-label">Recommendation doi</label>
      </div>
      <div class="form-outline mb-4">
        {% if object.pdf %}
        <div class="row g-0 justify-content-between">
          <div class="col-8">
            <label for="id_pdf" class="form-label">PDF</label>
            <input class="form-control" type="file" name="pdf" id="id_pdf">
          </div>
          <div class="col-4 align-self-end">
            <p class="text-end">{{object.pdf|basename}}</p>
          </div>
        </div>
        {% else %}
        <label for="id_pdf" class="form-label">PDF</label>
        <input class="form-control" type="file" name="pdf" id="id_pdf">
        {% endif %}
      </div>
      <div class="form-outline mb-5">
        {% if object.image %}
        <div class="row g-0 justify-content-between">
          <div class="col-8">
            <label for="id_image" class="form-label">Image (png or jpeg files) for which you own the rights</label>
            <input class="form-control" type="file" name="image" id="id_image">
          </div>
          <div class="col-4">
            <figure class="text-end">
              <img src="{{object.image.url}}" height="100"/>
              <figcaption class="text-center">{{object.image|basename}}</figcaption>
            </figure>
          </div>
        </div>
        {% else %}
          <label for="id_image" class="form-label">Image (png or jpeg files) for which you own the rights</label>
          <input class="form-control" type="file" name="image" id="id_image">
        {% endif %}
      </div>


      {% if form.errors %}
      <div class="mb-4">
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      <button type="submit" class="btn btn-outline-secondary" name="save_for_later">Save data for later use</button>
      <button type="submit" class="btn btn-success {% if object.is_invalid %}btn-not-allowed disabled{% endif %}" name="save_and_submit">Save and Submit my article</button>
<!--      <button type="button" class="btn btn-success {% if object.is_invalid %}btn-not-allowed disabled{% endif %}" name="save_and_submit" data-bs-toggle="modal" data-bs-target="#confirmSubmitModal">Submit my article</button>-->
<!--      <input type="hidden" id="is-submit" name="is_submit" value="">-->
    </form>
    <form onsubmit="return confirm('Do you really want to delete the submission?');" id="form-delete-{{submission.pk}}" action={% url 'submission-delete' submission.pk %} method="POST">
    {% csrf_token %}
    <button type="submit" name="submit" class="btn btn-link mt-4 p-0">Delete submission</button>
    </form>
  </div>
</div>

{% comment %}
<div class="modal fade" id="confirmSubmitModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Submit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-check mb-2">
          <input class="form-check-input checkbox-of-submission" type="checkbox" value="" id="checkbox_author">
          <label class="form-check-label" for="checkbox_author">I am an author of the article and I am acting on behalf of all authors.</label>
        </div>
        <div class="form-check">
          <input class="form-check-input checkbox-of-submission" type="checkbox" value="" id="checkbox_review">
          <label class="form-check-label" for="checkbox_review">This article has been recommended by a PCI and has not been published and is not under consideration for review or publication elsewhere.</label>
        </div>
      </div>
      <div class="modal-footer">
        <a data-form="submission-form" href="#" id="submit-submission" class="btn btn-success success submit-form-with-popup disabled">Submit</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endcomment %}

{% endblock %}
