<p>
  Dear {{ full_name }},
  <br>
  <br>
  Thank you for submitting a new comment for the article <a href="{{ article_url }}">"{{ article_title }}"</a>.
  Your comment will be published after validation by a moderator.
  <br>
  You can check the status of your comment(s) anytime at the following url: <a href="{{ comment_dashboard_url }}">{{ comment_dashboard_url }}</a>
  <br>
  <br>
  If you have any questions, please contact us.
  <br>
  {{ email_signature }}
</p>
