{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
  {% comment %}
  <div class="cover-thumbnail">
    <a href="{% static "img/MRR.jpg" %}" class="lightbox" title="">
      <img src="{% static "img/MRR.jpg" %}">
    </a>
  </div>
  {% endcomment %}
  {% include "common/issue-list.html" %}
{% endblock content %}
