{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {% if form.errors %}
      <div class="mb-4">
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
      </div>
      {% endif %}
<!--      <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">-->
      <div class="form-outline mb-4">
        <h3>{% trans "Sign Up" %}</h3>
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
      </div>

      <div class="form-outline mb-4">
        <input type="email" name="email" id="id_email" class="form-control form-control-lg"
               placeholder="Enter a valid email address" autocomplete="email" required />
      </div>

      <div class="form-outline mb-4">
        <input type="text" name="username" id="id_username" class="form-control form-control-lg"
               placeholder="Username" autocomplete="username" required />
      </div>



      <div class="form-outline mb-3">
        <input type="password" name="password1" id="id_password1" class="form-control form-control-lg"
               placeholder="Password" autocomplete="new-password" required />
      </div>

      <div class="form-outline mb-3">
        <input type="password" name="password2" id="id_password2" class="form-control form-control-lg"
               placeholder="Password (again)" required />
      </div>

      <div class="text-center text-lg-start mt-4 pt-2">
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-primary btn-lg">{% trans "Sign Up" %}</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}

