{% load i18n %}
{% autoescape off %}

Hello {{ full_name }},
<br>
<br>
{% if invite_message_html %}{{ invite_message_html}}{% else %}{% if invite_message_txt %}{{ invite_message_txt }}{% else %}You have been invited to join Trammel.{% endif %}{% endif %}
<br>
If you'd like to join, please go to <a href="{{ invite_url }}" target="_blank">{{ invite_url }}</a>
<br>
<br>
Trammel team
{% endautoescape %}
