{% extends "base.html" %}

{% load i18n %}
{% load helpers %}
{% load static %}

{% block page_title %}
  <h1 class="pkp_site_name">
    <a href="/" class="is_img" style="width: 92px; height: 100px;">
      <img src="{% static "ahl/img/logo.svg" %}" alt="Annales Henri Lebesgue - Latest articles" style="margin-top: 0px; margin-left: 0px; position: absolute; top: 10px; left: 0px;" width="487" height="422">
    </a>
  </h1>
{% endblock page_title %}

{% block container %}
<div class="page_contents_ahl">
  <div class="page_article_ahl">
    <div class="navigation navigation-flat">
      <div class="previous">Latest articles</div>
      <div class="next"><a href="{% url 'item_id' 'AHL' %}">{% trans "All issues" %}</a></div>
      <div class="clearfix navigation-clearfix"></div>
    </div>
  </div>

  {% for article in articles %}
    {% include 'blocks/article-summary.html' with article=article show_date=True %}
  {% endfor %}
</div>

<div class="movie_container">
  <div class="movie">
    <div class="content"></div>
    <div class="close-fg"></div>
    <div class="close"></div>
  </div>
</div>

{% endblock %}

