{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_title %}
  <h1 class="pkp_site_name">
    <a href="/" class="is_img" style="width: 92px; height: 100px;">
      <img src="{% static "ahl/img/logo.svg" %}" alt="{{ article.title_html }} - Annales Henri Lebesgue" style="margin-top: 0px; margin-left: 0px; position: absolute; top: 10px; left: 0px;" width="487" height="422">
    </a>
  </h1>
{% endblock page_title %}

{% block title %}
  {{ article.title_tex }}
{% endblock %}

{% block extra_head %}
{% include "common/article-head.html" %}
{% endblock %}

{% block content %}
  {% include "common/common-article.html" %}
{% endblock %}


