{% load i18n %}
{% load helpers %}
{% load static %}

{% with article.get_binary_files_href.self as binary_files %}
<div class="article {% if show_date %}article-with-date{% endif %}" id="">
  {% if show_date %}
  <div class="date">{% if article.date_published %}{{ article.date_published|date:"b Y"|capfirst }}{% else %}MMM AAAA{% endif %}</div>
  {% endif %}
  <div>
    <div class="authors"><a href="{% url 'item_id' article.pid %}{% if source %}?source={{ source }}{% endif %}">{% include 'common/common-contrib.html' with item=article no_links=True %}</a></div>
    <a class="permalink" href="{% url 'item_id' article.pid %}{% if source %}?source={{ source }}{% endif %}">
      <div class="title">
        {% if request.session.formula_display == 'tex' %}
            {{ article.title_tex|safe }}
        {% else %}
            {{ article.title_html|safe }}
        {% endif %}
      </div>
    </a>
  </div>
  <ul class="actions">
    <li class="viewDetails">View details</li>
    <li class="hideDetails" style="display: none">Hide details</li>
    <li><a href="{{ binary_files.pdf |replace_basename_binary_file }}">{% trans "Download PDF" %}</a></li>
    {% if binary_files.tex %}
      <li><a href="{{ binary_files.tex |replace_basename_binary_file }}">{% trans "Download TeX" %}</a></li>
    {% endif %}
    {% with binary_files=article.get_binary_files_href.video %}
      {% if binary_files.video %}
        <li class="movie-openpopup" id="{{binary_files.video}}">Watch talk</li>
      {% endif %}
    {% endwith %}
    <li><a href="{% url 'bibtex' article.pid %}">{% trans "Download bibTeX entry" %}</a></li>
  </ul>
  <div class="details" style="display: none">
    <div class="info">
      {% if article.doi %}
        <span class="name">Permalink</span><a href="{{ article.get_doi_href }}">{{ article.get_doi_href }}</a>
      {% endif %}
    </div>
    <div class="info">
      {% with kwd_tuple=article.get_kwds_by_type %}
        {% if kwd_tuple.1|length %}
          <span class="name">Keywords</span>
          <span class="maxjax-formula">
          {% for kwd in kwd_tuple.1 %}{{ kwd.value|safe }}{% if not forloop.last %},&nbsp;{% endif %}{% endfor %}
          </span>
        {% endif %}
      {% endwith %}
    </div>
    <div class="info">
      {% if article.abstract_set.count %}
        {% with abstract=article.abstract_set.first %}
        <span class="name">Abstract</span>{{ abstract.value_html|safe }}
        {% endwith %}
      {% endif %}
    </div>
    <div class="info">
      <ul class="info_view_more">
        <li><a href="{% url 'item_id' article.pid %}">View more</a></li>
      </ul>
    </div>
  </div>
</div>
{% endwith %}


