{% extends "base.html" %}

{% load i18n %}
{% load helpers %}
{% load static %}

{% block page_title %}
  <h1 class="pkp_site_name">
    <a href="/" class="is_img" style="width: 92px; height: 100px;">
      <img src="{% static "ahl/img/logo.svg" %}" alt="Annales Henri Lebesgue - Volume {{ issue.volume }}" style="margin-top: 0px; margin-left: 0px; position: absolute; top: 10px; left: 0px;" width="487" height="422">
    </a>
  </h1>
{% endblock page_title %}

{% block container %}
<div class="page_contents_ahl">
  <div class="page_article_ahl">
    <div class="navigation">
      {% if breadcrumb.all_crumbs.0.previous %}
        <div class="previous"><a href="{{breadcrumb.all_crumbs.0.previous}}">{% trans "Previous issue" %}</a></div>
      {% else %}
        <div class="previous disabled">{% trans "Previous issue" %}</div>
      {% endif %}
      <a href="{% url 'item_id' 'AHL' %}">{% trans "All issues" %}</a> <span class="active">> {{breadcrumb.all_crumbs.0.crumbs.1.title}}</span>
      {% if breadcrumb.all_crumbs.0.next %}
        <div class="next"><a href="{{breadcrumb.all_crumbs.0.next}}">{% trans "Next issue" %}</a></div>
      {% else %}
        <div class="next disabled">{% trans "Next issue" %}</div>
      {% endif %}
    </div>
  </div>

  {% for article in articles %}
  {% include 'blocks/article-summary.html' with article=article %}
  {% endfor %}
</div>

{% endblock %}

