{% extends "base.html" %}

{% load static %}

{% block page_title %}
  <h1 class="pkp_site_name">
    <a href="/" class="is_img" style="width: 92px; height: 100px;">
      <img src="{% static "ahl/img/logo.svg" %}" alt="Annales Henri Lebesgue - All issues" style="margin-top: 0px; margin-left: 0px; position: absolute; top: 10px; left: 0px;" width="487" height="422">
    </a>
  </h1>
{% endblock page_title %}

{% block title %}
  {{ journal.title_tex }}
{% endblock %}

{% block container %}
  {% include "common/issue-list.html" with use_item_url=True %}
{% endblock %}
