{% extends "base.html" %}

{% load i18n %}
{% load helpers %}
{% load static %}

{% block page_title %}
  <h1 class="pkp_site_name">
    <a href="/" class="is_img" style="width: 92px; height: 100px;">
      <img src="{% static "ahl/img/logo.svg" %}" alt="Annales Henri Lebesgue - Search results" style="margin-top: 0px; margin-left: 0px; position: absolute; top: 10px; left: 0px;" width="487" height="422">
    </a>
  </h1>
{% endblock page_title %}

{% block extra_head %}
<meta name="robots" content="noindex">
{% endblock extra_head %}

{% block container %}
<div id="search-content">
  <div id="search-bar">
    {% include 'common/search-bar.html' %}
  </div>
  <div class="search-pagination">
    <h4>{{ results.hits }} {% trans 'résultat' %}{% if results.hits > 1 %}s{% endif %}</h4>
    {% include "common/results-pagination.html" %}
    {% if results.hits < 20 %}<hr></hr>{% endif %}
    {% if results.hits == 0 %}
      {% include 'common/help.html' %}
    {% endif %}
  </div>

  {% for result in results.docs %}
    <div class="page_article_ahl">
      <div class="authors">{{ result.au|safe }}</div>
      <div class="title">
        <a class="permalink" href="{% url 'item_id' result.pid %}">
        {% if request.session.formula_display == 'tex' %}
            {{ result.title_tex|safe }}
        {% else %}
            {{ result.title_html|safe }}
        {% endif %}
        </a>
      </div>
      <div>
          {% if request.session.formula_display == 'tex' %}
            {{ result.collection_title_tex|safe }},
          {% else %}
            {{ result.collection_title_html|safe }},
          {% endif %}
          {% if result.volume %}
            {% include 'common/volume_string.html' %} {{ result.volume|safe }} ({{ result.year|safe }})
            {% if result.number %} no. {{ result.number }}{% endif %}
          {% else %} no. {{ result.number }} ({{ result.year|safe }}){% endif %}
          {{ result.page_range }}
        </div>
      <ul class="actions">
      <li><a href="{% url 'item_id' result.pid %}">View details</a></li>
      <li><a href="{{ result.pdf |replace_basename_binary_file }}">{% trans "Download PDF" %}</a></li>
      </ul>
      {% if result.highlighting %}
      <div class="highlight">
        {% trans result.highlighting.field %} : <em>{{ result.highlighting.value|safe }}</em>
      </div>
      {% endif %}

      {% if not forloop.last %}<hr></hr>{% endif %}
    </div>
  {% endfor %}

  <div class="search-pagination">
  {% include "common/results-pagination.html" %}
  </div>
</div>
{% endblock %}

