{% extends "base.html" %}

{% load i18n %}
{% load helpers %}
{% load static %}

{% block page_title %}
  <h1 class="pkp_site_name">
    <a href="/" class="is_img" style="width: 92px; height: 100px;">
      <img src="{% static "ahl/img/logo.svg" %}" alt="Annales Henri Lebesgue - Search" style="margin-top: 0px; margin-left: 0px; position: absolute; top: 10px; left: 0px;" width="487" height="422">
    </a>
  </h1>
{% endblock page_title %}

{% block container %}

<div id="search-bar" style="padding-top: 50px;">
  {% include 'common/search-bar.html' %}
</div>

{% endblock %}

