<p>
  Dear {{ full_name }},
  <br>
  <br>
  Your comment for the article <a href="{{ article_url}}">"{{ article_name }}"</a> has been published.
  <br>
  You can view it by navigating to the following url: <a href="{{ comment_url }}">{{ comment_url }}</a>.
  <br>
  <br>
  {{ email_signature }}
</p>
