<p>
  Dear {{ full_name }},
  <br>
  <br>
  New comments have been submitted for the following collections: <br>{{ comments_data|safe }}
  <br>
  You can manage them by navigating to the following url: <a href="{{ comment_dashboard_url }}">{{ comment_dashboard_url }}</a>
  <br>
  <br>
  You are receiving this e-mail because you are assigned as a comment moderator for the collections: {{ collections }}.
  <br>
  <br>
  {{ email_signature }}
</p>
