<p>
  Dear {{ full_name }},
  <br>
  <br>
  The user {{ sign_up_name }} ({{ sign_up_email }}) has successfully created an account on Trammel using your invitation sent on {{ invitation_date|date:"DATE_FORMAT"}}.
  The user can now moderate the comments you gave him/her access to.
  <br>
  You can manage your moderators by navigating to the following url: <a href="{{ comment_moderator_url }}">{{ comment_moderator_url }}</a>.
  <br>
  <br>
  {{ email_signature }}
