<p>
  Dear {{ article_author_name }},
  <br>
  <br>
  A comment for your article <a href="{{ article_url}}">"{{ article_name }}"</a> has been pusblished by {{ full_name }}.
  <br>
  You can view it by navigating to the following url: <a href="{{ comment_url }}">{{ comment_url }}</a>.
  <br>
  <br>
  {{ email_signature }}
</p>
