<p>
  Dear {{ full_name }},
  <br>
  <br>
  Your comment for the article <a href="{{ article_url}}">{{ article_name }}</a> has been rejected.
  {% if comment_guidelines_url %}
  <br>
  Please see the comment guidelines related to the article there: <a href="{{ comment_guidelines_url}}">{{ comment_guidelines_url }}</a>
  {% endif %}
  <br>
  <br>
  {{ email_signature }}
</p>
