<p>
  Dear {{ full_name }},
  <br>
  <br>
  {{ inviter_name }} requested you to moderate a comment for the article <a href="{{ article_url}}">"{{ article_title }}"</a>.
  <br>
  You can perform your moderation by navigating to the following url: <a href="{{ comment_dashboard_url }}">{{ comment_dashboard_url }}</a>.
  <br>
  <br>
  {{ email_signature }}
</p>
