{% load i18n %}

{% for one_breadcrumb in breadcrumb.all_crumbs %}
  <div class='row'>
    <div class='col-xs-12 col-md-7 col-lg-8'>
      <nav aria-label="Items navigation">
        <ul class="pagination">
          {% if one_breadcrumb.previous %}
            <li><a href="{{ one_breadcrumb.previous }}"><span aria-hidden="true">&laquo;</span></a></li>
          {% else %}
            <li class='disabled'><a><span aria-hidden="true">&laquo;</span></a></li>
          {% endif %}
          <li>
            {% for crumb in one_breadcrumb.crumbs %}
              <a href="{{ crumb.href }}">{{ crumb.title|safe }}</a>
            {% endfor %}
          </li>
          {% if one_breadcrumb.next %}
            <li><a href="{{ one_breadcrumb.next }}"><span aria-hidden="true">&raquo;</span></a></li>
          {% else %}
            <li class='disabled'><a><span aria-hidden="true">&raquo;</span></a></li>
          {% endif %}
        </ul>
      </nav>
    </div>

    <div class='col-xs-12 col-md-5 col-lg-4'>
      {% if article and breadcrumb.show_tex and forloop.counter == 1 %}
        <div class="show-tex">
          {% include "common/tex.html" %}
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
