{% load i18n %}
{% load helpers %}
{% load static %}

{% if embargo %}
  <span class="glyphicon glyphicon-time" alt="{% trans 'Le texte intégral des articles récents est réservé aux abonnés de la revue.' %}"></span>
  {% if display_embargo_text %}
    <span style="line-height:24px;display:inline-block;vertical-align: middle"> {% trans 'Le texte intégral des articles récents est réservé aux abonnés de la revue.' %}
    {% if doi %}{% blocktrans %}Consultez l'article sur le <a href='{{ doi }}'>site de la revue</a>{% endblocktrans %}
    {% elif website %}{% blocktrans %}Consultez le <a href='{{ website }}'>site de la revue</a>{% endblocktrans %}{% endif %}
    </span>
  {% endif %}
{% else %}
  {% if binary_files.pdf %}
    <a href="{{ binary_files.pdf |replace_basename_binary_file }}">
      <img src="{% static 'ptf/img/pdf.gif' %}">
    </a>
  {% endif %}
  {% if SHOW_DJVU and binary_files.djvu %}
    <a href="{{ binary_files.djvu |replace_basename_binary_file }}">
      <img src="{% static 'ptf/img/djvu.png' %}">
    </a>
  {% endif %}
  {% if binary_files.tex %}
    <a href="{{ binary_files.tex |replace_basename_binary_file }}">
      <img src="{% static 'ptf/img/tex.png' %}">
    </a>
  {% endif %}
{% endif %}
