{% load i18n %}

{% if facets %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        {% trans category_name %}
        {% if facets|length > 5 %}
          ({{ facets|length }}{% if facets|length == 100 %}+{% endif %})
          <button type="button" class="btn btn-primary btn-xs expand-facet">
            <i class="fa fa-chevron-down hiddenable"></i>
            <i class="fa fa-chevron-up hidden"></i>
          </button>
        {% endif %}
      </h4>
    </div>
    <ul class="list-group">
      {% for facet in facets %}
        <li class='list-group-item{% if forloop.counter > 5 %} hidden{% endif %}{% if facet.active == 'active' %} list-group-item-info{% endif %}'>
          <a href="{{ facet.href }}">{% trans facet.name %}</a> ({{ facet.count }})
          {% if facet.active == 'active' %}
            <a href="{{ facet.href }}"><i class="fa fa-remove" aria-hidden="true"></i></a>
          {% endif %}
          {% if facet.sub_facets %}
            <button type="button" class="btn btn-default btn-xs expand-subfacet">
              <i class="fa fa-chevron-down hiddenable"></i>
              <i class="fa fa-chevron-up hidden"></i>
            </button>
            {% for subfacet in facet.sub_facets %}
              <a class="subfacet{% if not subfacet.active == 'active' %} hidden{% endif %}" href="{{ subfacet.href }}"><br>{{ subfacet.name }} ({{ subfacet.count }})</a>
            {% endfor %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
