{% load i18n %}
{% load static %}

<div class='row'>
  <div class='hidden-xs col-sm-6 col-md-4 col-lg-3'>
    <img src="{% static "jtnb/img/jtnb_cover.jpg" %}" class="img-thumbnail">
  </div>
  <div class='col-xs-12 col-sm-6 col-md-8 col-lg-9'>
    {% for vserie in sorted_issues %}
      {% if vserie.vseries %}
        <div class="flex-item">
          <h4>{% trans "Série" %} {{ vserie.vseries }}</h4>
        </div>
      {% endif %}
      <div class='row'>
      {% for volume in vserie.volumes %}
        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
          <div class="panel panel-default">
            <div class="panel-body">
              {% with volume.issues|first as first_issue %}
                {% if first_issue.ctype == 'issue' %}
                  {% if volume.volume %}
                    <a href="{% url 'volume-items' first_issue.get_vid %}">
                      <strong>{% include 'common/volume_string.html' %} {{ volume.volume }}</strong>
                    </a>
                    ({% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }})
                  {% else %}
                    <a href="{% url 'issue-items' first_issue.pid %}">
                      {% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }}
                    </a>
                  {% endif %}
                {% else %}
                  {% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }}
                {% endif %}
                <br>
                {% for issue in volume.issues %}
                  {% if issue.number %}
                    <a href="{% url 'issue-items' issue.pid %}">[{{ issue.number }}]</a>
                  {% endif %}
                {% endfor %}
                {% if first_issue.embargo %}
                  <span title="{% if LANGUAGE_CODE == 'fr' %}Le texte intégral des articles récents est réservé aux abonnés{% else %}The full text of recent articles is available to subscribers only{% endif %}"></span>
                {% endif %}
              {% endwith %}
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
