{% load i18n %}
{% load static %}

{% with binary_files=issue.get_binary_files_href %}
  {% if articles_to_appear %}
    <h3>{% trans "Articles acceptés à paraître dans un prochain fascicule" %}</h3>
  {% else %}
    {% if issue.title_html %}
      <h4>{% include 'common/common-title.html' with item=issue with_links=False %}</h4>
    {% endif %}
    <h2>
      {% if LANGUAGE_CODE == 'fr' %}Sommaire{% endif %}
      {% if issue.number and volume_items %}
        {% if LANGUAGE_CODE == 'fr' %} du {% endif %}
        <a href="{% url 'issue-items' issue.pid %}">{% trans 'Fascicule' %} no. {{ issue.number }}</a>
      {% endif %}
      {% if LANGUAGE_CODE == 'en' %} Table of Contents{% endif %}
    </h2>
  {% endif %}

  {% if binary_files.toc %}
    <p>{% trans 'Liste complète des exposés' %}</p>
    {% include 'common/common-binary-files.html' with embargo=issue.embargo binary_files=binary_files.toc %}
  {% endif %}

  {% if binary_files.frontmatter %}
    <p>{% trans 'Pages préliminaires' %}</p>
    {% include 'common/common-binary-files.html' with embargo=issue.embargo binary_files=binary_files.frontmatter %}
  {% endif %}

  <ul class='list-group'>
    {% for article in articles %}
      <li class='list-group-item'>
        <div class='row'>
          <div class='col-sm-10'>
            <h5 class="list-group-item-heading"><strong>{% include 'common/common-title.html' with item=article with_links=True %}</strong></h5>
            <p>{% include 'common/common-contrib.html' with item=article %}</p>
            {% include 'common/common-binary-files.html' with embargo=article.my_container.embargo binary_files=article.get_binary_files_href.self %}
          </div>
          <div class='col-sm-2 text-right'>
            {{ article.get_page_text }}
            {% if article.page_type == 'volant' %} ({% trans 'Pages volantes' %}){% endif %}
            {% if article.page_type == 'supplement' %} ({% trans 'Pages supplémentaires' %}){% endif %}
            {% if article.page_type == 'preliminaire' %} ({% trans 'Pages préliminaires' %}){% endif %}
            {% if article.page_type == 'special' %} ({% trans 'Pages spéciales' %}){% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  {% if binary_files.backmatter %}
    <p>{% trans 'Pages finales' %}</p>
    {% include 'common/common-binary-files.html' with embargo=issue.embargo binary_files=binary_files.backmatter %}
  {% endif %}
{% endwith %}
