{% load i18n %}

<div class="input-group additional-input-group">

  <!-- Dates inputs -->
  <div class="input-group-addon {% if write_template or not obj.name == 'date' %}hidden{% endif %}">{% trans 'Entre' %}</div>
  <input class="form-control {% if write_template or not obj.name == 'date' %}hidden{% endif %}" type="text" name="q-f-{% if write_template %}__INPUT_NUMBER__{% else %}{{ i }}{% endif %}" value="{{ obj.first }}" placeholder="{% trans 'Année' %}" />
  <div class="input-group-addon {% if write_template or not obj.name == 'date' %}hidden{% endif %}">{% trans 'et' %}</div>
  <input class="form-control {% if write_template or not obj.name == 'date' %}hidden{% endif %}" type="text" name="q-l-{% if write_template %}__INPUT_NUMBER__{% else %}{{ i }}{% endif %}" value="{{ obj.last }}" placeholder="{% trans 'Année' %}" />

  <!-- Text inputs (author, ref, title, full text)-->
  <div class="input-group-addon {% if obj.name == 'date' %}hidden{% endif %}">
    <input class="bt-checkbox" type="checkbox" name="not{% if write_template %}__INPUT_NUMBER__{% else %}{{ i }}{% endif %}" {% if obj.not %}checked{% endif %} /> Not
  </div>
  <input class="form-control searchinput {% if obj.name == 'date' %}hidden{% endif %}" type="text" name="q{% if write_template %}__INPUT_NUMBER__{% else %}{{ i }}{% endif %}" value="{{ obj.value }}" placeholder="{% trans 'Rechercher des articles, des auteurs...' %}"/>

  <div class="input-group-btn">
    <!-- Search Category DropDown Button -->
    <input type="hidden" name="qt{% if write_template %}__INPUT_NUMBER__{% else %}{{ i }}{% endif %}" value="{% if obj.name %}{{ obj.name }}{% else %}author{% endif %}">
    <div class='btn-group' role='group'>
      <button id='qsname' type="button" class="btn btn-primary dropdown-toggle hidden-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if not obj.name or obj.name == 'author' %}
          {% trans 'Auteur' %}
        {% elif obj.name == 'date' %}
          {% trans 'Date' %}
        {% elif obj.name == 'body' %}
          {% trans 'Plein texte' %}
        {% elif obj.name == 'title' %}
          {% trans 'Titre' %}
        {% elif obj.name == 'references' %}
          {% trans 'Bibliographie' %}
        {% else %}
          {% trans 'Tout' %}
        {% endif %}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">{% trans 'Tout' %}</a></li>
        <li><a href="#">{% trans 'Auteur' %}</a></li>
        <li><a href="#">{% trans 'Titre' %}</a></li>
        <li><a href="#">{% trans 'Date' %}</a></li>
        <li><a href="#">{% trans 'Bibliographie' %}</a></li>
        <li><a href="#">{% trans 'Plein texte' %}</a></li>
      </ul>
    </div>
    <!-- Remove Button -->
    <button type="button" class="btn btn-primary remove-search-field">
      <i class="fa fa-minus"></i>
    </button>
  </div><!-- /input-group-btn -->
</div>
