{% load i18n %}

<form id="main-search" class='form-horizontal' action="{% url 'search' %}" method='post'>
  {% csrf_token %}
  <div class="input-group">
    <div class="input-group-btn">
      <a href="{% url 'journal-issues' COLLECTION_PID %}" class="btn btn-primary">{% trans 'Feuilleter' %}</a>
    </div>
    <input class="form-control searchinput" type="text" name="q0" value="{{ qs.0.value }}" placeholder="{% trans 'Rechercher des articles, des auteurs...' %}"/>
    <div class="input-group-btn">
      <button class="searchclear btn btn-default hidden" type="button">
        <i class="fa fa-times-circle"></i>
      </button>
      <input id='qt0' type="hidden" name="qt0" value="{% if qs.0.name %}{{ qs.0.name }}{% else %}all{% endif %}">
      <div class='btn-group' role='group'>
        <button id='qsname' type="button" class="btn btn-primary dropdown-toggle hidden-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if not qs.0.name or qs.0.name == 'all' %}
            {% trans 'Tout' %}
          {% elif qs.0.name == 'author' %}
            {% trans 'Auteur' %}
          {% elif qs.0.name == 'body' %}
            {% trans 'Plein texte' %}
          {% elif qs.0.name == 'references' %}
            {% trans 'Bibliographie' %}
          {% else %}
            {% trans 'Titre' %}
          {% endif %}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a id='all' href="#">{% trans 'Tout' %}</a></li>
          <li><a id='author' href="#">{% trans 'Auteur' %}</a></li>
          <li><a id='title' href="#">{% trans 'Titre' %}</a></li>
          <li><a id='references' href="#">{% trans 'Bibliographie' %}</a></li>
          <li><a id='body' href="#">{% trans 'Plein texte' %}</a></li>
        </ul>
      </div>
      <button id="add-search-field" type="button" class="btn btn-primary hidden-xs">
        <i class="fa fa-plus"></i>
      </button>
      <button type="submit" class="btn btn-primary" name="Submit">
        <i class="fa fa-search"></i>
        <span class="hidden-xs">{% trans 'Rechercher' %}</span>
      </button>
    </div>
  </div>
  {% for obj in qs|slice:"1:" %}
    {% include "common/search-form.html" with i=forloop.counter obj=obj write_template=False %}
  {% endfor %}
</form>
<div id="template-search-form" class="hidden">
  {% include "common/search-form.html" with write_template=True %}
</div>
