{% load i18n %}

<h4>{{ results.hits }} {% trans 'résultat' %}{{ results.hits|pluralize }}</h4>
{% include "common/results-pagination.html" %}
<ul class="list-unstyled">
  {% for result in results.docs %}
    <li>
      {% include 'common/common-title-with-pdf.html' with item=result embargo=result.embargo binary_files=result for_search=True %}
      <p>
        {{ result.au|safe }}
      </p>
      <p>
        {% if request.session.formula_display == 'tex' %}
          {{ result.collection_title_tex|safe }},
        {% else %}
          {{ result.collection_title_html|safe }},
        {% endif %}
        {% if result.volume %}
          {% include 'common/volume_string.html' %} {{ result.volume|safe }} ({{ result.year|safe }})
          {% if result.number %} no. {{ result.number }}{% endif %}
        {% else %} no. {{ result.number }} ({{ result.year|safe }}){% endif %}
        {{ result.page_range }}
      </p>
      {% if result.highlighting %}
        <p class="highlight">{% trans result.highlighting.field %} : <em>{{ result.highlighting.value|safe }}</em>
        </p>
      {% endif %}
      <hr>
    </li>
  {% endfor %}
</ul>
{% include "common/results-pagination.html" %}
