{% comment %}
  Template for a breadcrumb.
  Arguments:
    - `breadcrumb`   A Breadcrumb instance.
{% endcomment %}
{% if breadcrumb and breadcrumb.items %}
{% load static %}
<link rel="stylesheet" href="{% static "mesh/css/components/breadcrumb.css" %}" />

<div id="mesh-breadcrumb">
  {% for item in breadcrumb.items %}
  <div class="mesh-breadcrumb-item">
    {% if not forloop.first %}
    <i class="mesh-breadcrumb-separator fa-solid fa-angles-right"></i>
    {% endif %}
    {% if item.url %}
    <a class="mesh-breadcrumb-item-text" href="{{ item.url }}">
      {% include "mesh/components/icon.html" with icon_class=item.icon_class %}
      <i>
        {% if item.html %}
        {{ item.title|safe }}
        {% else %}
        {{ item.title }}
        {% endif %}
      </i>
    </a>
    {% else %}
    <div class="mesh-breadcrumb-item-text">
      {% include "mesh/components/icon.html" with icon_class=item.icon_class %}
      <i>{{ item.title }}</i>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endif %}
