{% comment %}
  Template for a button.
  Arguments:
    - `button`  A Button instance.
{% endcomment %}
{% if button %}
{% if button.is_form %}
<form method="POST" action="{{ button.attrs.href|first }}" class="form-mesh-button">
  {% csrf_token %}
  {{ button.form }}
  <button type="submit" {% include "mesh/components/html_attrs.html" with attrs=button.attrs %}>
    {% include "mesh/components/icon.html" with icon_class=button.icon_class %}
    {{ button.title }}
  </button>
</form>
{% elif button.is_link %}
<a {% include "mesh/components/html_attrs.html" with attrs=button.attrs %}>
  {% include "mesh/components/icon.html" with icon_class=button.icon_class %}
  {{ button.title }}
</a>
{% else %}
<button {% include "mesh/components/html_attrs.html" with attrs=button.attrs %}>
  {% include "mesh/components/icon.html" with icon_class=button.icon_class %}
  {{ button.title }}
</button>
{% endif %}
{% endif %}
