{% comment %}
  Template for a filter set.
  Arguments:
    - `filter_set`   A FilterSet instance.
{% endcomment %}
{% load i18n %}
<fieldset id="{{ filter_set.id }}" class="mesh-filter-set mesh-component">
  <div  class="mesh-filter-set-title"
        data-collapse-toggle="{{ filter_set.id }}-list-collapse"
        aria-controls="#{{ filter_set.id }}-list-collapse"
        role="button"
        data-tooltip="{% translate "Toggle filters" %}"
        data-tooltip-position="top">
    <span>
      {{ filter_set.name }}
      <i class="collapse-icon fa-solid fa-angle-down"></i>
      {% if filter_set.active %}
      <span class="mesh-filter-active-badge">{{ filter_set.applied_filters|length }}</span>
      {% endif %}
    </span>
    <span class="mesh-filter-set-reset as-link" tabindex="0" data-tooltip="{% translate "Clear all applied filters" %}" >{% translate "RESET" %}</span>
  </div>
  {% comment %} On init: toggle filters only if a filter is active or `filters_opened` is true. {% endcomment %}
  <div  id="{{ filter_set.id }}-list-collapse"
        class="custom-collapse{% if filter_set.active or request.GET.filters_opened == "true" %} show{% endif %}">
    <div class="mesh-filter-set-filter-list">
      {% for filter in filter_set.filters %}
      {% include "mesh/components/filter.html" with filter=filter %}
      {% endfor %}
    </div>
  </div>
</fieldset>
