{% comment %}
  Template for a filter.
  Arguments:
    - `filter`   A Filter instance.
{% endcomment %}
{% comment %} Do not display if there's no value {% endcomment %}
{% if filter.values %}
<div class="mesh-filter{% if filter.active %} active{% endif %}" data-filter-param="{{ filter.get_query_param }}">
  <div class="mesh-filter-name">
    {{ filter.name }}
    {% if filter.active %}
    <i class="mesh-filter-active-badge fa-solid fa-check"></i>
    {% endif %}
  </div>
  <div class="mesh-filter-values-list">
    {% for filter_value in filter.values %}
    <div class="mesh-filter-value {% if filter_value.active %} active{% endif %}">
      <input  id="mesh-filter-{{ filter.name }}-{{ filter_value.value }}"
              class="mesh-filter-input"
              type="checkbox"
              {% if filter_value.active %}checked="true"{% endif %}
              data-filter-param="{{ filter.get_query_param }}"
              data-filter-value="{{ filter_value.value }}">
      <label for="mesh-filter-{{ filter.name }}-{{ filter_value.value }}">{{ filter_value.name }}</label>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
