{% load i18n %}
{% load mesh_tags %}

{% if summary.reviewers_count %}
<div class="submission-review-summary">
  <div data-tooltip-position="bottom" data-tooltip="{% translate "Current round" %}"><i class="fa-solid fa-hashtag" aria-hidden="true"></i>&nbsp;{{ submission_proxy.current_version.number }}</div>
  <div data-tooltip="{% translate "Answered review requests" %}"><i class="fa-solid fa-user-group" aria-hidden="true"></i>&nbsp;{{ summary.reviewers_count.value }}/{{ summary.reviewers_count.total }}</div>
  <div data-tooltip="{% translate "Submitted reports out of accepted requests" %}"><i class="fa-solid fa-file-lines" aria-hidden="true"></i>&nbsp;{{ summary.reports_count.value }}/{{ summary.reports_count.total }}</div>
</div>
{% endif %}


