{% comment %}
  Template for a stepper.
  Arguments:
    - `stepper`   A StepperConfig instance.
{% endcomment %}
{% load static %}
{% if stepper %}
<link rel="stylesheet" href="{% static "mesh/css/components/stepper.css" %}">

<div class="mesh-stepper">
  {% for step in stepper.steps %}
  <div  class="mesh-stepper-item{% if step.completed %} completed{% endif %}{% if step.active %} active{% endif %}"
        data-tooltip="{{ step.tooltip }}"
        data-tooltip-position="top">
    <div class="mesh-stepper-item-number-wrapper">
      <div class="mesh-stepper-item-number">
        {{ forloop.counter }}
      </div>
    </div>
    <div class="mesh-stepper-item-text">
      <div class="mesh-stepper-item-label">
        {% if step.can_navigate and step.href %}
        <a href="{{ step.href }}">
          {{ step.title }}
        </a>
        {% else %}
        {{ step.title }}
        {% endif %}
      </div>
      {% if step.description %}
      <div class="mesh-stepper-item-description">
        {{ step.description }}
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
<div class="mesh-stepper-buttons clearfix mt-3">
  {% include "mesh/components/button.html" with button=stepper.get_previous_button %}
  <div class="float-end">
  {% include "mesh/components/button.html" with button=stepper.get_next_button %}
  </div>
</div>
{% endif %}
