{% comment %}
  Template for a tree tree_node.
  Arguments:
    - `tree_node`   A TreeNode instance.
    - `level`       The nesting level
{% endcomment %}
{% load static %}
{% comment %} <link rel="stylesheet" href="{% static "mesh/css/components/tree_node.css" %}" /> {% endcomment %}

<div class="tree-node level-{{ level }}">
  {% if tree_node.item %}
  <div class="tree-node-meta">
    {% if tree_node.href %}
    <a class="tree-node-title" href="{{ tree_node.href }}">
      {{ tree_node.item }}
    </a>
    {% else %}
    <div class="tree-node-title">
      {{ tree_node.item }}
    </div>
    {% endif %}
    {% if tree_node.buttons %}
    {% comment %} DISPLAY BUTTONS NEXT TO TITLE {% endcomment %}
    {% endif %}
  </div>
  {% endif %}
  {% if tree_node.children %}
  <div class="tree-node-children">
    {% for child in tree_node.children %}
    {% include "mesh/components/tree_node.html" with tree_node=child level=level|add:"1" %}
    {% endfor %}
  </div>
  {% endif %}
</div>
