{% load i18n %}
{% load helpers %}

{% with abstracts=resource.get_abstracts %}
{% with avertissements=resource.get_avertissements %}
{% with abstract_count=abstracts.count %}
{% if abstract_count %}

{% if SHOW_BODY or collection.pid == 'PCJ' and body_html %}
    <div class="row">
  <div class="row">
    <div class="col-12">
      {% comment %}
      <div class="panel-heading">
        <div class="accordion-toggle" data-bs-toggle="collapse" data-bs-target="#abstract-html">
            <span class="panel-title">{% trans 'Résumé' %}</span>
        </div>
      </div>
      {% endcomment %}
      <div id="abstract-html" class="acollapse in" style="margin-top:20px">
        <p class="panel-title" style="font-size:30px;margin-bottom: 10px;">{% trans 'Résumé' %}{% if abstract_count > 1 %}s{% endif %}</p>
        {% if abstract_count == 1 %}
          {% with abstract=abstracts.first %}
            {% if request.session.formula_display == 'tex' %}
              {{ abstract.value_tex|safe }}
            {% else %}
              {{ abstract.value_html|safe }}
            {% endif %}
            {% include 'common/avertissements.html' %}
            {% include 'common/annexes.html' %}
          {% endwith %}
        {% else %}
          <ul class="nav nav-tabs article-tab">
          {% for abstract in abstracts.all %}
          
            {% comment %} {% if position == 'abstract' %}
                {% if display_lang == abstract.lang and abstract.tag == 'abstract' %}
                  <li class="nav-item">
                    <a class="nav-link active" lang="{{ abstract.lang }}" data-bs-toggle="tab" href="#abstract-{{ abstract.lang }}"><span>{% include "common/translation.html" %}</span></a>
                  </li>
                {% endif %}
            {% elif position == "footnote" %}
                {% if display_lang == abstract.lang and abstract.tag == 'tail_fr' or abstract.tag == 'tail_en' %}
                  <li class="nav-item">
                    <a class="nav-link active" lang="{{ abstract.lang }}" data-bs-toggle="tab" href="#abstract-{{ abstract.lang }}"><span>{% include "common/translation.html" %}</span></a>
                  </li>
                {% endif %}
            {% endif %} {% endcomment %}
          {% endfor %}
          {% for abstract in abstracts.all %}
            
              <li class="nav-item">
              {% comment %} {% if display_lang != abstract.lang %} {% endcomment %}
                <a class="nav-link " lang="{{ abstract.lang }}" data-bs-toggle="tab" href="#abstract-{{ abstract.lang }}">
                  <span>{% include "common/translation.html" %}</span>
                </a>
              {% comment %} {% endif %} {% endcomment %}
              </li>
            
          {% endfor %}
          </ul>
          <div class="tab-content" style="margin-top:10px">

              {% for abstract in abstracts.all %}
                {% if display_lang == abstract.lang %}
                  <div lang="{{ abstract.lang }}" id="abstract-{{ abstract.lang }}" class="tab-pane fade show active">
                    {% if request.session.formula_display == 'tex' %}
                      {{ abstract.value_tex|safe }}
                    {% else %}
                      {{ abstract.value_html|safe }}
                    {% endif %}
                    {% include 'common/avertissements.html' %}
                    {% include 'common/annexes.html' %}
                  </div>
                {% endif %}
              {% endfor %}
              {% for abstract in abstracts.all %}
                {% if display_lang != abstract.lang %}
                  <div lang="{{ abstract.lang }}" id="abstract-{{ abstract.lang }}" class="tab-pane fade">
                    {% if request.session.formula_display == 'tex' %}
                      {{ abstract.value_tex|safe }}
                    {% else %}
                      {{ abstract.value_html|safe }}
                    {% endif %}
                    {% include 'common/avertissements.html' %}
                    {% include 'common/annexes.html' %}
                  </div>
                {% endif %}
              {% endfor %}
          </div>

        {% endif %}

{% else %}
<div>
  <div class="col-12">
        <div style="margin-top:20px;margin-bottom:30px">
          <ul class="nav nav-tabs article-tab">
            {% if abstract_count == 1 %}
              {% with abstract=abstracts.first %}
                <li class="nav-item active">
                  <a class="nav-link active" lang="{{ abstract.lang }}" data-bs-toggle="tab" data-bs-target="#abstract-{{ abstract.lang }}" href="#abstract-{{ abstract.lang }}"><span title='{% include "common/translation.html" %}'>{% trans 'Résumé' %}</span></a>
                </li>
              {% endwith %}
            {% else %}
              {% for abstract in abstracts.all %}
                {% if LANGUAGE_CODE == abstract.lang %}
                  <li class="nav-item active">
                    <a class="nav-link active" lang="{{ abstract.lang }}" data-bs-toggle="tab" data-bs-target="#abstract-{{ abstract.lang }}" href="#abstract-{{ abstract.lang }}"><span title='{% include "common/translation.html" %}'>{% trans 'Résumé' %}</span></a>
                  </li>
                {% endif %}
              {% endfor %}
              {% for abstract in abstracts.all %}
                {% if LANGUAGE_CODE != abstract.lang %}
                  <li class="nav-item">
                    <a class="nav-link" lang="{{ abstract.lang }}" data-bs-toggle="tab" data-bs-target="#abstract-{{ abstract.lang }}" href="#abstract-{{ abstract.lang }}">
                      <span title='{% include "common/translation.html" %}'>{% language abstract.lang %}{% trans 'Résumé' %}{% endlanguage %}</span>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endif %}
          </ul>
          <div class="tab-content" style="margin-top:10px">
            {% if abstract_count == 1 %}
              {% with abstract=abstracts.first %}
                <div lang="{{ abstract.lang }}" id="abstract-{{ abstract.lang }}" class="tab-pane fade show active">
                  {% if display_errors and not abstract.value_tex %}<p class="display-errors">No abstract</p>{% endif %}
                  {% if request.session.formula_display == 'tex' %}
                    {{ abstract.value_tex|safe }}
                  {% else %}
                    {{ abstract.value_html|safe }}
                  {% endif %}
                  {% include 'common/avertissements.html' %}
                  {% include 'common/annexes.html' %}
                </div>
              {% endwith %}
            {% else %}
              {% for abstract in abstracts.all %}
                {% if LANGUAGE_CODE == abstract.lang %}
                  <div lang="{{ abstract.lang }}" id="abstract-{{ abstract.lang }}" class="tab-pane fade show active">
                    {% if request.session.formula_display == 'tex' %}
                      {{ abstract.value_tex|safe }}
                    {% else %}
                      {{ abstract.value_html|safe }}
                    {% endif %}
                    {% include 'common/avertissements.html' %}
                    {% include 'common/annexes.html' %}
                  </div>
                {% endif %}
              {% endfor %}
              {% for abstract in abstracts.all %}
                {% if LANGUAGE_CODE != abstract.lang %}
                  <div lang="{{ abstract.lang }}" id="abstract-{{ abstract.lang }}" class="tab-pane fade">
                    {% if request.session.formula_display == 'tex' %}
                      {{ abstract.value_tex|safe }}
                    {% else %}
                      {{ abstract.value_html|safe }}
                    {% endif %}
                    {% include 'common/avertissements.html' %}
                    {% include 'common/annexes.html' %}
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
  </div>
</div>
{% endif %}

{% if SHOW_BODY  or collection.pid == 'PCJ' and body_html %}
      </div>
    </div>
  </div>
{% endif %}

{% endif %}
{% endwith %}
{% endwith %}
{% endwith %}

