{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center align-items-center h-100 mt-5">
  <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    {% if process == "connect" %}
    <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

    <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
    {% else %}
    <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

    <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <button class="btn btn-outline-primary btn-lg" type="submit">{% trans "Continue" %}</button>
    </form>
  </div>
</div>
{% endblock %}
