header {
    background-color: #ffffff;
    margin-bottom: 15px;
}

body {
    height: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
}

.menu-bottom {
    background-color: #f8f8f8;
}

.div-logo-mrr,
.div-top-title {
    float: left;
    text-align: center;
    height: 140px;
}

.div-logo-mrr {
    margin-left: 4%;
    margin-right: 8%;
}
.div-top-title {
    width: calc(88% - 140px);
    margin-top: 20px;
}
.div-top-title img {
    height: 120px;
}
.div-menu-sm {
    display: block;
}
.div-menu-lg {
    display: none;
}

.logo-mrr {
    height: 100px;
    margin-top: 35px;
    margin-left: 0px;
    margin-bottom: 15px;
}

.top-title:hover {
    text-decoration: none;
}

.top-title-h {
    display: none;
}
.top-title-v {
    display: block;
}

@media all and (min-width: 600px) {
    .div-logo-mrr {
        margin-left: 8%;
        margin-right: 4%;
    }
    .div-top-title {
        width: calc(88% - 140px);
        margin-top: 20px;
    }
    .logo-mrr {
        height: 150px;
        margin-top: 20px;
    }
    .div-top-title img {
        height: unset;
    }
}

@media all and (min-width: 768px) {
    .div-logo-mrr {
        margin-right: 0%;
    }

    .div-menu-sm {
        display: none;
    }
    .div-menu-lg {
        display: block;
    }

    .div-top-title {
        margin-bottom: 25px;
    }

    .div-menu-lg .navbar-nav {
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

@media all and (min-width: 1050px) {
    .top-logo-title-row {
        margin-bottom: 20px;
    }
    .div-logo-mrr {
        margin-left: 4%;
    }
    .logo-mrr {
        margin-top: 15px;
    }
    .div-top-title {
        width: calc(96% - 200px);
        height: unset;
    }
    .top-title-h {
        display: block;
    }
    .top-title-v {
        display: none;
    }
    .div-top-title {
        margin-top: 50px;
    }
    .logo-mrr {
        height: 200px;
    }
}

@media all and (min-width: 1200px) {
    .div-logo-mrr {
        margin-left: 8%;
    }
    .div-top-title {
        width: calc(92% - 200px);
    }
}

.navbar-header {
    min-height: 5px;
}

.menu-mrr-navbar-collapse {
    padding-left: 0px;
    font-size: 18px;
}

.menu-mrr-navbar-collapse .navbar-nav > li {
    float: none;
    display: inline-block;
}

.searchclear {
    color: #b2b4b1;
}

#content {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Page background */
.page-container {
    min-height: calc(100% - 490px); /* 100% - height(header=245) - height(footer=130) - margin(header=10) - border(footer=1) */
    height: auto !important;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

#page-title {
}

.mrr-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-default {
    background-color: transparent;
    border: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #333;
    font-weight: bold;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #8080ff;
}

.language-form {
    margin-top: 10px;
}

#mersenne-header {
    background-color: #eeeeee;
    color: white;
}

#mersenne-header .row {
    margin: 0px;
}

#mersenne-header h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.menu-top {
    background-color: #eeeeee;
    border: 0px;
    font-weight: bold;
    /*margin-bottom: 0px;*/
}

.menu-bottom {
    border: 0px;
    margin-bottom: 0px;
}

.menu-bottom .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

.menu-bottom .navbar-nav > li {
    float: left;
}

.journal-logo {
    text-align: center;
    max-width: 400px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo-mersenne {
    height: 60px;
}

.logo-footer {
    height: 45px;
}

.dropdown-accordion {
    display: none;
    float: right;
}

.search-button-div {
    width: 100px;
    padding-right: 0px;
    padding-left: 0px;
}

.browse-or {
    text-align: center;
    margin-top: 7px;
}

#footer {
    background-color: #eeeeee;
    border-top: 0px;
}

.footer-text {
    padding-left: 15%;
    padding-top: 15px;
    color: #333;
    font-size: 12px;
    font-weight: 600;
}

.footer-text a {
    color: #333;
}

#footer {
    margin-top: 30px;
    padding-top: 15px;
    position: relative;
    height: 149px;
}

.logos-footer {
    margin-bottom: 10px;
    font-size: 12px;
    color: #333;
    font-weight: 600;
}

.logos-footer a {
    margin-right: 7%;
}

.logos-footer a:last-child {
    margin-right: 0px;
}

#sidebar {
    width: 250px;
    /*    transition: all 0.3s;*/
    padding-top: 0px;
}

/*

.wrapper-sidebar {
    display: flex;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -250px;
}
*/

#toggle-sidebar {
    display: none;
    margin-bottom: 20px;
}

.cms-breadcrumb {
    list-style: none;
    display: inline-block;
}
.cms-breadcrumb .icon {
    font-size: 14px;
}
.cms-breadcrumb li {
    float: left;
}
.cms-breadcrumb li a {
    color: #333;
    display: block;
    background: #d9dbd7; /*#3498db;*/
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}
.cms-breadcrumb li:nth-child(even) a {
    background-color: #d9dbd7; /*#2980b9;*/
}
.cms-breadcrumb li:nth-child(even) a:before {
    border-color: #d9dbd7; /*#2980b9;*/
    border-left-color: transparent;
}
.cms-breadcrumb li:nth-child(even) a:after {
    border-left-color: #d9dbd7; /*#2980b9;*/
}
.cms-breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.cms-breadcrumb li:first-child a:before {
    border: none;
}
.cms-breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.cms-breadcrumb li:last-child a:after {
    border: none;
}
.cms-breadcrumb li a:before,
.cms-breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #d9dbd7; /*#3498db;*/
    border-width: 20px 10px;
    width: 0;
    height: 0;
}
.cms-breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}
.cms-breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #d9dbd7; /*#3498db;*/
}
.cms-breadcrumb li a:hover {
    background-color: #d9dbd7; /*#ffe898;*/
    color: black;
}
.cms-breadcrumb li a:hover:before {
    border-color: #d9dbd7; /*#ffe898;*/
    border-left-color: transparent;
}
.cms-breadcrumb li a:hover:after {
    border-left-color: #d9dbd7; /* #ffe898; */
}
.cms-breadcrumb li.active a {
    background-color: #8080ff; /*#ffe898;*/
    color: white;
}
.cms-breadcrumb li.active a:before {
    border-color: #8080ff; /*#ffe898;*/
    border-left-color: transparent;
}
.cms-breadcrumb li.active a:after {
    border-left-color: #8080ff; /*#ffe898;*/
}

.cms-breadcrumb li.breadcrumb-previous a,
.cms-breadcrumb li.breadcrumb-next a {
    margin-right: 5px;
}

.cms-breadcrumb li:last-child a {
    margin-right: 5px;
}

ul.cms-breadcrumb {
    padding-left: 0px;
}

.article-breadcrumb {
    padding-left: 6%;
    padding-right: 0px;
    right: 18%;
}

.btn-tex {
    padding-right: 0px;
    text-align: right;
    max-width: 200px;
}

.site-settings {
    font-size: 30px;
}

@media all and (max-width: 1400px) {
    .page-container .journal-logo {
        max-width: 300px;
    }
}

@media all and (max-width: 1300px) {
    .page-container .journal-logo {
        max-width: 200px;
    }
}

@media all and (max-width: 1199px) {
    .browse-or {
        width: 40px;
        height: 27px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-text {
        padding-left: 40px;
    }

    .page-container .journal-logo {
        display: none;
    }

    .regular-content {
        margin-left: 8%;
    }

    .article-breadcrumb {
        right: 0px;
    }

    .btn-tex {
        margin-bottom: 10px;
        padding-left: 0px;
        text-align: left;
    }
}

@media all and (max-width: 1200px) {
    .cms-breadcrumb {
        padding-left: 0px;
    }

    .logos-footer a {
        margin-right: 5%;
    }
}

@media all and (max-width: 1050px) {
    .footer-logo-text {
        display: none;
    }
}

@media all and (max-width: 900px) {
    #mersenne-header {
        height: 140px;
    }

    .page-container {
        min-height: calc(100% - 291px);
        padding-top: 20px;
    }

    #mersenne-header .journal-logo {
        width: 120px;
    }

    .journal-header-content {
        width: calc(100% - 130px);
    }

    #mersenne-header .journal-logo img {
        height: 100px;
        padding-left: 0px;
    }

    #mersenne-header h1 {
        float: left;
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 40px;
    }

    #search-group-btn {
        display: none;
    }

    #line-container,
    .search-group {
        width: 250px;
        margin-right: 10px;
        height: 34px;
    }

    .menu-top {
        display: none;
    }

    .dropdown-accordion {
        display: block;
    }

    .journal-title:after {
        display: block;
        clear: both;
        content: "";
    }

    .page-container h2 {
        margin-top: 10px;
    }

    .cms-page {
        padding-left: 10px;
        margin-bottom: 20px;
    }

    .footer-text {
        padding-left: 20px;
    }

    .logo-mersenne {
        height: 50px;
    }

    .logo-footer {
        height: 35px;
    }

    .logos-footer a {
        margin-right: 10px;
    }

    .regular-content {
        margin-left: 0px;
    }
}

@media all and (max-width: 768px) {
    .page-container {
        min-height: calc(100% - 331px);
    }

    #footer {
        height: 189px;
    }

    #sidebar {
        display: none;
    }
    #toggle-sidebar {
        display: block;
    }
    #results {
        width: 100%;
    }
}

@media all and (min-width: 768px) {
    #sidebar {
        display: block;
    }
    #toggle-sidebar {
        display: none;
    }
    #results {
        width: calc(100% - 250px);
    }
}

@media all and (max-width: 700px) {
    #mersenne-header {
        height: 170px;
    }

    .page-container {
        min-height: calc(100% - 361px);
    }

    .page-container .journal-logo {
        display: none;
    }

    .browse-or {
        margin-right: 30%;
    }

    #line-container,
    .search-group {
        width: 300px;
        margin-top: 5px;
    }

    .search-button-div {
        margin-top: 10px;
    }
}

@media all and (max-width: 600px) {
    #search-button-text {
        display: none;
    }

    .search-button-div {
        width: 40px;
    }
}

@media all and (max-width: 560px) {
    #line-container,
    .search-group {
        width: 220px;
    }
}

@media all and (max-width: 500px) {
    #mersenne-header {
        height: 160px;
    }

    .page-container {
        min-height: calc(100% - 371px);
    }

    #mersenne-header .journal-logo {
        width: 90px;
    }

    .journal-header-content {
        width: calc(100% - 100px);
    }

    #mersenne-header .journal-logo img {
        height: 80px;
    }

    #mersenne-header h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .logo-footer {
        margin-top: 5px;
    }
}

@media all and (max-width: 450px) {
    #footer {
        height: 209px;
    }

    .page-container {
        min-height: calc(100% - 391px);
    }

    #mersenne-header h1 {
        font-size: 14px;
    }

    .journal-header-content {
        padding-right: 0px;
    }
}

@media all and (max-width: 400px) {
    #mersenne-header .journal-logo {
        width: 70px;
    }

    .journal-header-content {
        width: calc(100% - 80px);
    }

    #mersenne-header .journal-logo img {
        height: 60px;
    }

    #line-container,
    .search-group {
        width: 200px;
    }

    .searchinput {
        padding-left: 3px;
    }

    .logo-footer {
        height: 30px;
    }
}

.logos-footer a.no-margin {
    margin-right: 0px;
}

.menu-top {
    border-top: 1px solid #fcfae1;
    border-bottom: 1px solid #fcfae1;
    border-radius: 0px;
}

/* Barre de recherche */
.search-bar-row {
    background-color: #d9d9ff;
    padding-top: 16px;
}

#search-bar {
    padding-top: 0px;
    margin-left: 5px;
}

#search-bar .btn-primary {
    background-color: #8080ff;
    border-color: #8080ff;
    color: white;
}

#line-container {
    padding-left: 0px;
}

/* Pagination resultat recherche */
.pagination > .active > a {
}
.pagination > li > a {
}

/* Container menu + page */
.content-container {
}

/* Contenu de la page */
.cms-page {
}

/* Menu gauche */
.sidebar {
}
li.mersenne-cms-menu-lvl1 {
}
li.mersenne-cms-menu-lvl2 {
}
.nav-tabs > li.active > a:hover {
}
.nav-tabs > li.active > a {
}
.nav-tabs > li > a:hover {
}
.nav-tabs > li > a:focus {
    outline: none;
}

.page-container .row {
    margin: 0px;
}

.cms-page-content {
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    width: 95%;
}

.volume-ligne,
.journal-content {
    margin-top: 50px;
    font-size: 20px;
}

.recent-articles {
    min-width: 380px;
}

.recent-articles-header {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #fcfae1;
    text-align: center;
}

.article-short {
    font-size: 14px;
}

.article-short h2 {
    font-size: 14px;
    margin: 0px;
}

.article-tab {
    font-size: 16px;
}

.article-title a {
    color: #333;
}

.facet-header,
.facet-header-no-click {
    background-color: #d9dbd7;
    color: #333;
}

.lightbox {
    height: 150px;
    border: 1px solid #c7c7c7;
}

.lightbox img {
    height: 148px;
}

.lightbox-zoom {
    background-color: rgba(255, 255, 255, 0.7);
}

.btn-toggle,
.btn-toggle:hover,
.btn-toggle:focus,
.btn-toggle:active {
    color: white;
    background-color: #fcfae1;
    border-color: #fcfae1;
}

#main-dropdown-menu {
    left: -143px;
    width: 200px;
}

.panel-heading > a {
    text-decoration: none;
    outline-style: none;
}

.panel-group {
    margin-bottom: 0px;
}

.panel-group .panel {
    border-radius: 0px;
}

.panel-title > a:hover {
    background-color: #fcfae1;
    color: white;
    text-decoration: none;
    outline-style: none;
}

.panel-title {
    margin-top: 0px;
    line-height: 24px;
}

.panel-body a {
    line-height: 40px;
}

.citation-document-title {
    font-weight: bold;
}

.citation-volume {
    font-weight: normal;
}

.container-flex {
    font-size: 16px;
}

.container-flex > .flex-group .flex-item {
    margin-left: 0px;
    margin-right: 20px;
}
