{% extends "base_backend.html" %}  {% comment %} TODO FIX for PTF - GDML {% endcomment %}
{% load i18n %}
{% load static %}

{% block extra_css %}
  <link href="{% static 'vuejs/css/app.css' %}" rel="preload" as="style">
  <link href="{% static 'vuejs/js/app.js' %}" rel="preload" as="script">
  <link href="{% static 'vuejs/js/chunk-vendors.js' %}" rel="preload" as="script">
  <link href="{% static 'vuejs/css/app.css' %}" rel="stylesheet">
  <style>
  .header {
    height: 5rem;
  }
  </style>
{% endblock extra_css %}

{% block content %}
<div id="app"></div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'vuejs/js/chunk-vendors.js' %}"></script>
<script src="{% static 'vuejs/js/app.js' %}"></script>

{% endblock %}

