{% extends "common/footer/footer-logos.html" %}

{% load static %}
{% load i18n %}

{% block extra_logo %}

{% with logo_text="Publié par" logo1="pmb/img/logo-ufc.png" logo2="pmb/img/logo-pufc.png" logo_link1="http://lmb.univ-fcomte.fr/" logo_link2="http://pufc.univ-fcomte.fr/" %}
  <div class="logo-footer-div d-flex mx-auto flex-nowrap gap-2 align-items-center order-1 {{extra_class}}">
    <span class="footer-logo-text text-nowrap">{% trans logo_text %}</span>
    <div class="d-flex flex-nowrap">
      <a class="logo-footer" href="{{logo_link1}}"><img class="logo-footer" src="{% static logo1 %}"></a>
      <a class="logo-footer" href="{{logo_link2}}"><img class="logo-footer" src="{% static logo2 %}"></a>
    </div>
  </div>
{% endwith %}

{% endblock extra_logo %}