{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Page Not Found" %}
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-12 text-center">
      <h1>Oops : Cette page ne semble pas (encore ?) exister</h1>
    </div>
  </div>
{% endblock %}
