{% extends "top-collapse.html" %}

{% load i18n %}
{% load static %}
{% load cms_tags %}

{% block navbar %}
{% static "roia/img/roia_logo.png" as logo%}
{% with logo=logo %}
{{ block.super }}
{% endwith %}
{% endblock navbar %}

{% block search_bar %}
<header id="jumbotron" class='bg-yellow py-1 px-4 mb-4 d-flex align-items-center'>
  <div class='container-fluid'>
    {{ block.super }}
  </div>
</header>
{% endblock search_bar %}