{% extends 'base.html' %}

{% load cms_tags %}
{% load static %}
{% load i18n %}

{% block title %}
  Journal de l'École Polytechnique {{ block.super }}
{% endblock %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'ptf/vendors/flag-icon/css/flag-icon.min.css' %}" />
  <link rel="stylesheet" href="{% static 'ptf/vendors/bootstrap-select/css/bootstrap-select.min.css' %}" />
{% endblock %}

{% block container %}
  {% block content %}
    {% block left %}
      {% block content_left %}

      {% endblock %}
    {% endblock %}

    {% block breadcrumb %}
      {% if not page %}
        <div class="row">
          <div class="col-12 col-lg-3 order-lg-2 btn-tex">
            {% include 'common/tex.html' %}
          </div>
          <div class="col-12 col-lg-9 order-lg-1 article-breadcrumb">
            {% include 'common/breadcrumb.html' with page=page item_pid=pid %}
          </div>
        </div>
      {% endif %}
    {% endblock %}

    {% block center_middle %}
      {% include 'mersenne_cms/page_content.html' %}
    {% endblock %}
  {% endblock %}
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'jep/js/signatures.js' %}"></script>
  <script src="{% static 'ptf/vendors/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'ptf/vendors/bootstrap-select/js/defaults-fr_FR.min.js' %}"></script>
  <script type="text/javascript" src="{% static "ptf/js/bs5/select.js" %}"></script>
{% endblock %}
