{% load i18n %}
{% load static %}
{% load cms_tags %}

{% get_all_pages request 'top' as pages %}

<header class='container-fluid'>
  <div class='row'>
    <div class='d-none d-lg-block col-lg-2' style='flex-grow: 1'>
      <a href="https://www.polytechnique.edu/fr" target='_blank'>
        <img src="{% static "jep/img/ecolepolytnew-vertical.png" %}" class="img-fluid mx-auto d-block logo-ep" alt="logo École polytechnique">
      </a>
    </div>
    <div class='col-12 col-md-8 col-lg-6'>
      <a href="{% url 'home' %}">
        <img src="{% static 'jep/img/titre-jep-jr_low.png' %}" class="img-fluid mx-auto d-block" alt="logo Journal de l'École Polytechnique">
      </a>
    </div>
    <div class='d-none d-md-block col-sm-4 col-lg-2 signature' style='flex-grow: 1'>
    </div>
  </div><!--/.row -->
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light">
        <!-- Brand and toggle get grouped for better mobile display -->
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#jep-navbar-collapse" aria-controls="jep-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="jep-navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/journals/JEP/">{% trans "Tous les articles en ligne" %}</a>
            </li>
            {% for page, sub_pages, is_active in pages %}
              {% if sub_pages %}
                <li class="nav-item dropdown {% if is_active %}active{% endif %}">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ page.menu_title }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for sub_page in sub_pages %}
                      <li><a class="dropdown-item" href="{% url 'page_detail' sub_page.slug %}">{{ sub_page.menu_title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                {% if page.is_link %}
                  <li class="nav-item {% if is_active %}active{% endif %}">
                    <a class="nav-link" href="{% url 'page_detail' page.slug %}">
                      {{ page.menu_title }}{% if is_active %} <span class="visually-hidden">(current)</span>{% endif %}
                    </a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="#">{{ page.menu_title }}</a>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
          {% include "common/language-select.html" %}
        </div><!-- /.navbar-collapse -->
      </nav>
      <div id='search-bar'>
        {% include "common/search-bar.html" with with_browse=True %}
      </div><!-- /#search-bar -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</header>