:root {
    --color-primary: #2A3F54;
    --text-color-primary: white;
    --text-hover-primary: gold;
    --color-success: #26943f;
    --color-error: #a94442;
}

.title-underline {
    border-bottom: 1px solid var(--color-primary);
}

.comment-moderator-section-content {
    padding: 10px 20px;
}

.comment-moderator-section {
    margin-top: 50px;
}

.moderator-table-wrapper {
    text-align: center;
    overflow: auto;
    max-height: 70vh;
}


.comment-moderator-table {
    display: inline-table;
    text-align: left;
    max-width: 1300px;
    width: 100%;
    min-width: 500px;
}

.comment-moderator-table tbody tr:hover {
    background-color: #e7e7e7;
}

.comment-moderator-table td,
.comment-moderator-table th {
    padding: 10px;
    width: 25%;
}

#comment-pending-invitations-table td,
#comment-pending-invitations-table th {
    width: unset;
}

#comment-pending-invitations-table a {
    text-decoration: underline;
}

.comment-moderator-table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

.comment-moderator-table tr:nth-child(even) {
    background-color: #F7F7F7;
}

.comment-moderator-table th {
    position: sticky;
    z-index: 1;
    top: 0;
    border-bottom: 1px solid #ddd;
    background-color: var(--color-primary);
    height: 3.5em;
    color: var(--text-color-primary)
}

.comment-moderator-table th:first-child {
    border-top-left-radius: 4px;
}

.comment-moderator-table th:last-child {
    border-top-right-radius: 4px;
}

.comment-moderator-button,
.comment-moderator-button:hover,
.comment-moderator-button:active,
.comment-moderator-button:focus {
    all: unset;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid transparent;
}

.comment-moderator-button:hover {
    background-color: #e0e0e0;
    cursor: pointer;
    border-color: #dbdbdb;
}

.comment-moderator-button:active {
    background-color: #dbdbdb;
    box-shadow: inset 1px -1px 1px 0px #dbdbdb;
}

h2 button {
    margin-left: 10px !important;
    font-size: 0.8em !important;
}

.comment-moderator-actions i {
    font-size: 10px;
}

.comment-moderator-button i {
    margin-right: 5px;
}

.comment-moderator-actions > button,
.comment-moderator-actions > button:hover,
.comment-moderator-actions > button:active,
.comment-moderator-actions > button:focus {
    padding: 0px 10px;
}

.custom-modal-content {
    background-color: #F7F7F7;
    min-width: min(800px, 90vw);
    max-width: 1200px;
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    text-align: left;
}

.custom-modal-header {
    background-color: var(--color-primary);
    color: var(--text-color-primary);
}

.custom-modal-buttons {
    gap: 0.8em;
    padding-right: 1em;
}

.custom-modal-button {
    padding: 0.5em;
    background-color: #F7F7F7;
    color: var(--color-primary);
    border-radius: 4px;
}

.custom-modal-button:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.custom-modal-button > i {
    margin-right: 0.2em;
}

.moderator-form-submit {
    all: unset;
    padding: 0.6em;
    background-color: var(--color-primary);
    color: var(--text-color-primary);
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    transition: all 0.2s ease-out;
}

.moderator-form-submit:hover,
.moderator-form-submit:focus-visible {
    cursor: pointer;
    background-color: var(--text-color-primary);
    color: var(--color-primary);
    filter: unset;
}

.custom-modal-panel-switches {
    gap: 0.8em;
    padding: 1em;
    border-bottom: 1px solid gray;
}

.custom-modal-panel-switch:after {
    content: '';
    height: 1.5em;
    padding-left: 1.2em;
    border-right: 1px solid var(--text-color-primary);
}

.custom-modal-panel-switch {
    padding: 0.4em;
}

.custom-modal-panel-switch:hover,
.custom-modal-panel-switch.active {
    color: var(--text-hover-primary);
}

.custom-modal-panel-switch:hover:before,
.custom-modal-panel-switch.active:before {
    position: absolute;
    content: "";
    left:0;
    bottom: 0;
    height: 2px;
    width: calc(100% - 1.4em);
    border-bottom: 1px solid var(--text-hover-primary);
}

.custom-modal-panel-switch:last-child:hover:before,
.custom-modal-panel-switch:last-child.active:before {
    width: 100%;
}

.custom-modal-panel-switch:last-child:after {
    all: unset;
}

.custom-modal-panel {
    padding: 2em;
}

.moderator-modal-panel-content {
    position: relative;
}

.moderator-modal-panel-content > * {
    margin-bottom: 2em;
}

.moderator-modal-panel-content > *:last-child {
    margin-bottom: unset;
}

.comment-moderator-modal input[type="text"],
.comment-moderator-modal input[type="email"] {
    height: 3em;
    width: min(800px, 100%);
    text-indent: 0.5em;
    display: block;
}

.moderator-form input {
    margin-bottom: 1em;
}

.moderator-form input:last-child {
    margin-bottom: unset;
}

.moderator-form ul {
    list-style: none;
}

.comment-moderator-modal label.required::after {
    content: " *";
    color: #9d3636;
}

.custom-datalist {
    position: absolute;
    background-color: #fcfcfc;
    border: 1px solid #b9b9b9;
    border-radius: 0 0 4px 4px;
    border-top: none;
    width: 100%;
    padding: 0.5em;
    overflow-y: auto;
    max-height: min(60vh, 10em);
}

.custom-datalist > option {
    padding: 0.3em;
    font-size: 1em;
    line-height: unset;
    margin-bottom: 0.2em;
}

.custom-datalist > option:hover,
.custom-datalist > option.active {
    background-color: var(--color-primary);
    color: var(--text-color-primary);
    cursor: pointer;
}

.moderator-form-buttons {
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moderator-form-buttons button i {
    margin-right: 5px;
}

button[disabled=true] {
    background-color: rgb(187, 187, 187);
    border-color: rgb(187, 187, 187);
}

button[disabled=true]:hover {
    filter: unset;
    cursor: unset;
}

.comment-label-error {
    color: var(--color-error);
}

.comment-label-success {
    color: var(--color-success);
}
