{% load i18n %}

{% for one_breadcrumb in breadcrumb.all_crumbs %}
  <div class='d-flex flex-nowrap flex-column flex-sm-row justify-content-between mb-2'>
    <div class='mb-3'>
      <nav aria-label="Items navigation">
        <ul class="pagination">
          {% if one_breadcrumb.previous %}
            <li class="page-item"><a class="page-link" href="{{ one_breadcrumb.previous }}"><span aria-hidden="true">&laquo;</span></a></li>
          {% else %}
            <li class='disabled page-item'><a class="page-link"><span aria-hidden="true">&laquo;</span></a></li>
          {% endif %}
          <li class="page-item d-flex">
            {% for crumb in one_breadcrumb.crumbs %}
              <a href="{{ crumb.href }}" class="page-link text-nowrap {% if forloop.first or forloop.last %}d-none d-sm-block{% endif %}">{{ crumb.title|safe }}</a>
            {% endfor %}
          </li>
          {% if one_breadcrumb.next %}
            <li class="page-item"><a class="page-link" href="{{ one_breadcrumb.next }}"><span aria-hidden="true">&raquo;</span></a></li>
          {% else %}
            <li class='disabled page-item'><a class="page-link"><span aria-hidden="true">&raquo;</span></a></li>
          {% endif %}
        </ul>
      </nav>
    </div>

    <div>
      {% if article and breadcrumb.show_tex and forloop.counter == 1 %}
        <div class="show-tex">
          {% include "common/tex.html" %}
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
