{% load i18n %}

<form action="{% url 'set_formula_display' %}" method="post">{% csrf_token %}
  {% if request.session.formula_display != 'tex' %}
    <input id="btn-tex" type="submit" value="{% trans 'TeX : Off' %}" class="btn btn-light border">
    <input type="hidden" name="formula-display" value="tex">
  {% else %}
    <input id="btn-tex" type="submit" value="{% trans 'TeX : On' %}" class="btn btn-light border active">
    <input type="hidden" name="formula-display" value="mathml">
  {% endif %}
</form>
