{% extends "common/footer/footer-logos.html" %}
{% load static %}

    {% block extra_logo %}
     <span class="footer-logo-text">Publisher :</span><a class="logo-footer" href="https://www.ntnu.edu/"><img align="middle" class="logo-footer" src="{% static "art/img/ntnu_logo.png" %}"></a>
    {% endblock extra_logo %}
