{% extends "base.html" %}
{% load i18n %}
{% block scripts %}{% endblock %}
{% block page_id %}404{% endblock %}
{% block content %}
<div class="cms-page">
<div>
<h3>{% trans 'Page inexistante' %}</h3>
</div>


  </div>

{% endblock %}
