{% load i18n %}
{% load static %}
{% load cms_tags %}
{% load helpers %}
{% load stringsfilter %}

{% get_all_pages request 'top' as pages %}


<header>
  <div id="header-wrapper">
    <div id="header-left">
      <a href="/"><img src="{% static "proceedings/img/gauche.png" %}" id="mersenne-banner"  alt="Mersenne banner"><img src="{% static "mersenne_cms/img/logo-mersenne.png" %}" id="mersenne-banner-small"></a>
    </div>
    <div id='header-title'>
        <h1><a class="top-title" href="/">{%trans 'Livres, Actes et Séminaires du Centre Mersenne'%}</a></h1>
    </div>
    <div id='header-right'>
      {% get_language_info_list for LANGUAGES as languages %}
      <form class="language-form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <select class="selectpicker" data-width="fit" name="language" onchange="this.form.submit()">
          {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %} data-content='<span><span class="flag-icon {% get_flag_icon language.code %}"></span></span>'>
              {{ language.name_local }}
            </option>
          {% endfor %}
        </select>
      </form>
    </div>
  </div>
  <nav class="navbar navbar-default desktop" role="navigation">
    <div class="container">
      <button class="navbar-toggle collapsed" data-target="#menu-proceedings" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu-proceedings">
        <div class="menu">
          <ul class="nav navbar-nav ">
            <li {% if coltype|startswith:'book' %}class="nav-active"{% endif %} ><a class="nav-link" href="{% url 'malsm_books' %}">{% trans "Livres" %}</a></li>
            <li {% if coltype == 'acta' or coltype == "lecture-notes" %}class="nav-active"{% endif %} ><a class="nav-link" href="{% url 'actas_and_lectures' %}">{% trans "Séminaires" %}</a></li>
            <li {% if coltype == 'proceeding' %}class="nav-active"{% endif %} ><a class="nav-link" href="{% url 'proceedings' %}">{% trans "Congrès" %}</a></li>
          </ul>
        </div>
        <div class="navbar-right" id='search-bar'>
          {% include "common/search-bar.html" with with_browse=False %}
        </div>
      </div>
    </div>
  </nav>
</header>
