{% load i18n %}

{% with binary_files=issue.get_binary_files_href %}
  {% if articles_to_appear %}
    <h3>{% trans "Articles acceptés à paraître dans un prochain fascicule" %}</h3>
  {% else %}
    {% if issue.title_html %}
      <h5>{% include 'common/title/title.html' with item=issue with_links=False %}</h5>
    {% endif %}
    <h2 class="fw-bolder">
      {% if LANGUAGE_CODE == 'fr' %}Sommaire{% endif %}
      {% if issue.number and volume_items %}
        {% if LANGUAGE_CODE == 'fr' %} du {% endif %}
        <a href="{% url 'issue-items' issue.pid %}">{% trans 'Numéro' %} {{ issue.number }}</a>
      {% endif %}
      {% if LANGUAGE_CODE == 'en' %} Table of Contents{% endif %}
    </h2>
  {% endif %}

  {% if binary_files.frontmatter %}
    <p>{% trans 'Pages préliminaires' %}</p>
    {% include 'common/binary-files.html' with embargo=issue.embargo binary_files=binary_files.frontmatter %}
  {% endif %}

  <ul class='list-group mb-3'>
    {% for article in articles %}
      <li class='list-group-item'>
        <div class='row'>
          <div class='col-12 col-md-10 d-flex flex-column gap-2'>
            <h5 class="list-group-item-heading m-0 fs-6"><strong>{% include 'common/title/title.html' with item=article with_links=True %}</strong></h5>
            {% include 'common/contribution/contrib.html' with item=article %}
            {% include 'common/binary-files.html' with embargo=article.my_container.embargo binary_files=article.get_binary_files_href.self %}
          </div>
          <div class='col-12 col-md-2 text-end'>
            {{ article.get_page_text }}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  {% if binary_files.backmatter %}
    <p>{% trans 'Pages finales' %}</p>
    {% include 'common/binary-files.html' with embargo=issue.embargo binary_files=binary_files.backmatter %}
  {% endif %}
{% endwith %}
