:root {
    --color-primary: #7D67FF; /* #009966;*/
    --color-secondary: #003c57;
    --color-text-primary: white;
    --breadcrumb-color: white;
    --breadcrumb-background-color: var(--color-primary);
    --breadcrumb-active-background-color: var(--color-secondary);
    --breadcrumb-hover-background-color: var(--color-secondary);
    --comment-color-primary: var(--color-primary);
    --comment-header-background-color: #dfdfdf8a;
    --comment-target-header-background-color: #d8f1e8;
    --comment-article-author-color: var(--color-primary);
    --comment-editorial-team-color: var(--color-primary);

    --header-nav-link-color: var(--color-primary);
    --header-nav-link-hover-color: black;
    --header-nav-link-hover-bg-color: transparent;

    --header-active-nav-link-bg-color: var(--color-primary);
    --header-active-nav-link-color: white;

    --btn-primary-color: white;
    --btn-primary-bg-color: var(--color-primary);
    --btn-primary-border-color: var(--color-primary);
    --btn-primary-hover-color: white;
    --btn-primary-hover-bg-color: var(--color-secondary);
    --btn-primary-hover-border-color: black;

    --btn-light-color: white;
    --btn-light-bg-color: var(--color-primary);
    --btn-light-border-color: var(--color-primary);
    --btn-light-hover-color: white;
    --btn-light-hover-bg-color: var(--color-secondary);
    --btn-light-hover-border-color: black;

    --footer-link-color: var(--color-primary);
    --footer-link-hover-color: black;

    --link-color: var(--color-primary);
    --link-hover-color: var(--color-secondary);

    --header-bg-color: white;
    --header-nav-border: none;
    --search-bar-border: 1px solid var(--search-bar-border-color);

    --outline-item-color: var(--color-primary);
    --outline-item-hover-color: var(--color-secondary);
    --outline-item-active-color: white;
    --outline-item-active-bg-color: var(--color-primary);

    --nav-tabs-link-color: var(--color-primary);
    --nav-tabs-link-hover-color: var(--color-primary);
    --nav-tabs-link-active-color: black;

    --facet-header-bg-color: var(--color-secondary);
    --facet-header-color: white;

    --btn-dark-color: white;
    --btn-dark-bg-color: var(--color-secondary);
    --btn-dark-border-color: var(--color-secondary);
    --btn-dark-hover-color: white;
    --btn-dark-hover-bg-color: var(--color-secondary);
    --btn-dark-hover-border-color: var(--color-secondary);
}

@media all and (min-width: 1600px) {
    .cms-page-container,
    .article-container {
        max-width: 1000px !important;
    }
}

@media all and (min-width: 1400px) {
    .cms-page-container,
    .article-container {
        max-width: 900px;
    }

    .outline-div {
        min-width: max(220px, 52% - 600px);
        width: max-content;
        max-width: calc(52% - 570px);
    }
}

.btn-tex input.btn {
    color: black;
    background-color: #f8f9fa;
}

.btn-tex input.btn:hover {
    color: black;
    background-color: #dee2e6;
}

.tab-content .nav-pills .nav-link {
    color: var(--color-primary);
}

.tab-content .nav-pills .nav-link.active {
    color: white;
    background-color: var(--color-primary);
}

.btn-link {
    color: var(--color-primary);
}

.btn-link:hover {
    color: var(--color-secondary);
}

a.dropdown-item:hover {
    text-decoration: none;
}

.submenu {
    padding-left: 2rem;
}

.outline-div {
    padding: 0;
}

.related-articles {
    right: 0;
    top: 374px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 20px;
    display: block !important;
    position: absolute;
}

.related-articles-inner {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 4px 10px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}

@media all and (max-width: 1399.8px) {
    .related-articles {
        position: static;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        width: 100%;
    }
}

.img-bandeau {
    width: 840px;
}

.fig-bandeau {
    width: 100%;
    overflow: hidden;
}

#search-group-btn .border-end {
    border-right-color: transparent !important;
}

.language-select-nav button {
    font-size: 10px;
    background-color: white;
    border-color: #ccc;
    color: black;
}

.language-select-nav button:hover, .language-select-nav button:focus {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: black;
}

#all-cr-nav a {
    padding-left: 15px;
    padding-right: 15px;
    height: 24px;
    font-size: 14px;
}

.menu-top .nav-pills .nav-link {
    border-radius: 0;
}

main.container > div:last-of-type {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 4px 10px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 25px;

    margin: 0;
}

main.container {
    padding-top: 0;
}

.logo-cras {
    max-width: 350px;
}

.panel-heading > a {
    text-decoration: none;
    outline-style: none;
}

.panel-group {
    margin-bottom: 0px;
}

.panel-title > a:hover {
    background-color: var(--color-primary);
    color: white;
    text-decoration: none;
    outline-style: none;
}

.panel-title {
    margin-top: 0px;
    line-height: 24px;
}

.panel-default > .panel-heading {
    background-color: #f8f8f8;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-default > .panel-heading a {
    display: block;
    padding: 10px 15px;
}

.panel-default > .panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform 0.25s linear;
    -webkit-transition: -webkit-transform 0.25s linear;
}

.panel-heading:hover {
    background-color: var(--color-primary);
}

.panel-default > .panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-default > .panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.article-issue-title .article-title a {
    color: var(--color-primary);
    font-weight: normal;
}

.mrs-journal-icon {
    height: 150px;
    border: 1px solid #777;
    box-shadow: 3px 4px 3px #888888;
    margin-top: 25px;
}

.mrs-journal-icon.volume-toc {
    margin-top: 0px;
}

.boxed-text {
    border: 1px solid #333;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.list-of-issues {
    font-size: 16px;
}

.checkbox.checbox-switch {
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.checkbox.checbox-switch label,
.checkbox-inline.checbox-switch {
    display: inline-block;
    position: relative;
    padding-left: 0;
}
.checkbox.checbox-switch label input,
.checkbox-inline.checbox-switch input {
    display: none;
}
.checkbox.checbox-switch label span,
.checkbox-inline.checbox-switch span {
    width: 35px;
    border-radius: 20px;
    height: 18px;
    border: 1px solid #dbdbdb;
    background-color: rgb(255, 255, 255);
    border-color: rgb(223, 223, 223);
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.checkbox.checbox-switch label span:before,
.checkbox-inline.checbox-switch span:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(255,255,255);
    content: " ";
    top: -2px;
    position: relative;
    left: 0;
    transition: all 0.3s ease;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}
.checkbox.checbox-switch label > input:checked + span:before,
.checkbox-inline.checbox-switch > input:checked + span:before {
    left: 17px;
}


/* Switch Default */
.checkbox.checbox-switch label > input:checked + span,
.checkbox-inline.checbox-switch > input:checked + span {
    background-color: rgb(180, 182, 183);
    border-color: rgb(180, 182, 183);
    box-shadow: rgb(180, 182, 183) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch label > input:checked:disabled + span,
.checkbox-inline.checbox-switch > input:checked:disabled + span {
    background-color: rgb(220, 220, 220);
    border-color: rgb(220, 220, 220);
    box-shadow: rgb(220, 220, 220) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch label > input:disabled + span,
.checkbox-inline.checbox-switch > input:disabled + span {
    background-color: rgb(232,235,238);
    border-color: rgb(255,255,255);
}
.checkbox.checbox-switch label > input:disabled + span:before,
.checkbox-inline.checbox-switch > input:disabled + span:before {
    background-color: rgb(248,249,250);
    border-color: rgb(243, 243, 243);
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

/* Switch Light */
.checkbox.checbox-switch.switch-light label > input:checked + span,
.checkbox-inline.checbox-switch.switch-light > input:checked + span {

    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/* Switch Dark */
.checkbox.checbox-switch.switch-dark label > input:checked + span,
.checkbox-inline.checbox-switch.switch-dark > input:checked + span {
    background-color: rgb(52,58,64);
    border-color: rgb(52,58,64);
    box-shadow: rgb(52,58,64) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-dark label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-dark > input:checked:disabled + span {
    background-color: rgb(100, 102, 104);
    border-color: rgb(100, 102, 104);
    box-shadow: rgb(100, 102, 104) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/* Switch Success */
.checkbox.checbox-switch.switch-success label > input:checked + span,
.checkbox-inline.checbox-switch.switch-success > input:checked + span {
    background-color: rgb(40, 167, 69);
    border-color: rgb(40, 167, 69);
    box-shadow: rgb(40, 167, 69) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-success label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-success > input:checked:disabled + span {
    background-color: rgb(153, 217, 168);
    border-color: rgb(153, 217, 168);
    box-shadow: rgb(153, 217, 168) 0px 0px 0px 8px inset;
}

/* Switch Danger */
.checkbox.checbox-switch.switch-danger label > input:checked + span,
.checkbox-inline.checbox-switch.switch-danger > input:checked + span {
    background-color: rgb(200, 35, 51);
    border-color: rgb(200, 35, 51);
    box-shadow: rgb(200, 35, 51) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-danger label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-danger > input:checked:disabled + span {
    background-color: rgb(216, 119, 129);
    border-color: rgb(216, 119, 129);
    box-shadow: rgb(216, 119, 129) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/* Switch Primary */
.checkbox.checbox-switch.switch-primary label > input:checked + span,
.checkbox-inline.checbox-switch.switch-primary > input:checked + span {
    background-color: rgb(0, 105, 217);
    border-color: rgb(0, 105, 217);
    box-shadow: rgb(0, 105, 217) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-primary label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-primary > input:checked:disabled + span {
    background-color: rgb(109, 163, 221);
    border-color: rgb(109, 163, 221);
    box-shadow: rgb(109, 163, 221) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/* Switch Info */
.checkbox.checbox-switch.switch-info label > input:checked + span,
.checkbox-inline.checbox-switch.switch-info > input:checked + span {
    background-color: rgb(23, 162, 184);
    border-color: rgb(23, 162, 184);
    box-shadow: rgb(23, 162, 184) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-info label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-info > input:checked:disabled + span {
    background-color: rgb(102, 192, 206);
    border-color: rgb(102, 192, 206);
    box-shadow: rgb(102, 192, 206) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/* Switch Warning */
.checkbox.checbox-switch.switch-warning label > input:checked + span,
.checkbox-inline.checbox-switch.switch-warning > input:checked + span {
    background-color: rgb(255, 193, 7);
    border-color: rgb(255, 193, 7);
    box-shadow: rgb(255, 193, 7) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-warning label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-warning > input:checked:disabled + span {
    background-color: rgb(226, 195, 102);
    border-color: rgb(226, 195, 102);
    box-shadow: rgb(226, 195, 102) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

.breadcrumb-row {
    margin-bottom:15px;
}

@media (min-width: 1120px) {
    #article-body-html {
        margin-left: 0%;
        margin-right: 0%;
    }
}

#lang-form .btn {
    font-size: 10px;
    padding: 3px 19px 3px 6px;
}

@media all and (max-width: 767.8px) {

    #title-cr {
        height: 180px;
    }
}

.article-div .disp-quote {
    font-size: 12px;
    margin-left: 5%;
    margin-right: 5%;
}

.article-body-img {
    max-width: 70%;
    margin-bottom: 5px;
}

p:has(img.img-bandeau) {
    /* Pour ne pas que les images bandeau ne dépassent de leur parent. */
    overflow-x: hidden;
}

figcaption {
    font-weight: bold;
}

figcaption p {
    font-weight: normal;
}

.article-container figure {
    text-align: center;
}

.last_article_title a {
    color: var(--color-primary);
}
