/* Global variables */
:root {
    --primary-color: #003c57;
    --primary-accent-color: #001824;
    --secondary-color: #f7f0d9;
    --secondary-accent-color: #777;

    --header-bg-color: var(--secondary-color);
    --header-nav-link-color: #333;
    --header-nav-link-hover-bg-color: var(--primary-color);
    --header-active-nav-link-bg-color: var(--primary-color);

    --search-bar-bg-color: var(--secondary-color);

    --btn-primary-bg-color: var(--primary-color);
    --btn-primary-border-color: #00293e;
    --btn-primary-hover-bg-color: var(--primary-accent-color);
    --btn-primary-hover-border-color: var(--header-nav-link-color);

    --btn-dark-bg-color: var(--primary-color);
    --btn-dark-border-color: #00293e;
    --btn-dark-hover-bg-color: var(--primary-accent-color);
    --btn-dark-hover-border-color: var(--header-nav-link-color);

    --btn-light-color: var(--header-nav-link-color);
    --btn-light-bg-color: #fff;
    --btn-light-border-color: #ccc;
    --btn-light-hover-color: var(--header-nav-link-color);
    --btn-light-hover-bg-color: #e6e6e6;
    --btn-light-hover-border-color: #adadad;

    --dropdown-item-color: var(--primary-accent-color);
    --dropdown-item-hover-color: var(--header-nav-link-color);
    --dropdown-item-hover-bg-color: var(--secondary-color);

    --footer-link-color: var(--secondary-accent-color);
    --footer-link-hover-color: var(--header-nav-link-color);
    --footer-text-color: var(--secondary-accent-color);

    --breadcrumb-color: var(--primary-accent-color);
    --breadcrumb-background-color: var(--secondary-color);
    --breadcrumb-active-background-color: var(--primary-color);
    --breadcrumb-hover-background-color: var(--primary-color);

    --facet-header-bg-color: var(--primary-color);

    --bs-body-font-size: 14px;
    --bs-body-line-height: 1.42857143;

    --searchclear-color: #ccc;
}

/* Global Styles */
ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 20px;
    margin-bottom: 10px !important;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small {
    font-size: 75%;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 30px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 14px;
}

h6,
.h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: normal;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: #00070b;
}

/* Page title */
header {
    margin-bottom: 15px;
}

.menu-bottom {
    background-color: #f8f8f8;
}

.logo-ep {
    max-width: 90px;
    margin-top: 10px;
}

.signature {
    margin-left: 0;
}

.signature>img {
    max-width: 250px;
    margin-top: 10px;
}

.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    padding: 0;
}

.dropdown-menu {
    background-color: var(--btn-light-bg-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    line-height: 20px;
    font-size: 14px;
    padding: 5px 0;
}

#navbarDropdown.show {
    color: #555;
    background-color: #f1e5be;
}

@media (max-width: 767px) {
    .dropdown-item:active {
        background-color: var(--secondary-color);
        color: var(--secondary-accent-color);
    }
}

@media (min-width: 767px) {
    .dropdown-item:active {
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5;
    }
}

@media (max-width: 767px) {
    .dropdown-menu {
        position: static !important;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }
}

@media (min-width: 767px) {
    .dropdown-menu.custom-select {
        min-width: 100% !important;
    }
}

@media (max-width:767px) {
    .dropdown-menu.custom-select {
        background-color: var(--btn-light-bg-color);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        line-height: 20px;
        font-size: 14px;
        padding: 5px 3.5px;
        border: 1px solid rgba(0, 0, 0, .15);
    }
}

@media (min-width: 767px) {
    #jep-navbar-collapse {
        padding-left: 50px;
    }
}

.navbar-nav {
    margin: 7.5px -15px
}

.navbar-toggler:hover {
    background-color: #ddd;
    border-color: #ddd;
}

.navbar-toggler:focus {
    background-color: #ddd;
    border-color: #ddd;
    box-shadow: none;
}

.separator {
    opacity: 1;
}

.input-group-text {
    line-height: 20px;
    background-color: var(--secondary-color);
    border: 0;
}

@media (max-width: 767px) {
    .navbar-nav .dropdown-menu>li>a {
        line-height: 20px;
    }
}

/* jep and default (added with minus) category filters */
#category-filter.btn,
.btn.btn-light.dropdown-toggle.rounded-0.border-0.border-start.border-end {
    border-radius: 0;
}


#add-search-field.btn,
.remove-search-field {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#search-group-btn>.btn {
    border: 1px solid var(--primary-accent-color);
}

.searchinput {
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* TODO: Neccessary rule, as currently, clicking inside a searchinput triggers the 'focus-visible' pseudo-class instead of the expected 'focus' pseudo-class (which should only be triggered on mobile tap or tab-focusing) */
.searchinput:focus-visible {
    outline: none !important;
}

.searchinput:focus,
.form-control:focus,
.searchinput:focus-visible {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #66afe9 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* Targets all 'not' checkboxes of the search-bar */
[id^="not"] {
    margin-bottom: 0px;
}

.searchclear {
    font-size: 18px;
    top: 20%;
}

.form-control {
    border: 1px solid #ced4da;
    /* Must be handeled by the input */
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
}

.search-group-inner {
    flex-grow: 1
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.nav-pills .nav-link.active {
    background-color: var(--primary-color);
}

.nav-link {
    color: var(--header-nav-link-color);
}

.nav-link:hover {
    color: var(--header-nav-link-hover-bg-color);
}

.nav-link:focus {
    color: var(--header-active-nav-link-bg-color);
}

.btn-primary:active:focus,
.btn-dark:active:focus {
    text-decoration: none;
    box-shadow: none;
}

.btn-primary:focus,
.btn-dark:focus {
    text-decoration: none;
    box-shadow: none;
}

.btn-primary:active,
.btn-dark:active {
    color: var(--btn-primary-color);
    background-color: var(--btn-primary-hover-bg-color);
    border-color: var(--btn-primary-border-color);
}

.btn.btn-light,
.btn.btn-light:focus:active {
    box-shadow: none;
    border: 1px solid var(--btn-light-border-color) !important;
}

.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light:focus:active {
    border-color: #adadad !important;
}

.btn.btn-light:active,
.btn.btn-light:focus:active {
    background-color: #d4d4d4;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.btn-link, .nav-pills .nav-link.active {
    color: var(--primary-color)
}
.btn.btn-link:focus {
    box-shadow: none;
}


.page-link {
    color: var(--primary-color);
    background-color: var(--btn-light-bg-color);
    text-decoration: none;
    border-color: #ddd;
}

.page-link:hover,
.page-link:focus {
    color: var(--primary-color);
    background-color: var(--btn-light-bg-color);
    box-shadow: none;
}

.page-item.active .page-link {
    color: var(--btn-light-bg-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    text-decoration: none;
}

.language-select-button {
    color: #333;
    background-color: var(--btn-light-bg-color);
    border-color: #ccc;
}

.language-select-button:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.language-select-button:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.language-select-button:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.breadcrumb-sm {
    margin-left: 15px;
}

.d-flex {
    flex-wrap: wrap;
}

/* Page background */
.page-container {
    min-height: calc(100% - 396px);
    height: auto !important;
    padding-top: 40px;
    padding-bottom: 20px;
}

#mersenne-header {
    background-color: #f7f0d9;
    color: var(--primary-color);
}

#mersenne-header .row {
    margin: 0px;
}

#mersenne-header h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.menu-top {
    background-color: #f7f0d9;
    border: 0px;
    font-weight: bold;
}

@media all and (min-width: 1200px) {
    .menu-top .navbar-nav {
        margin-left: 5%;
    }
}

@media all and (min-width: 1300px) {
    .menu-top .navbar-nav {
        margin-left: 10%;
    }
}

@media all and (min-width: 1400px) {
    .menu-top .navbar-nav {
        margin-left: 20%;
    }
}

.menu-bottom {
    border: 0px;
    margin-left: 20%;
    margin-bottom: 0px;
}

.menu-bottom .navbar-nav {
    float: left;
}

.menu-bottom .navbar-nav>li {
    float: left;
}

.journal-logo {
    text-align: center;
    max-width: 400px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo-mersenne {
    height: 60px;
}

#mersenne-header a {
    color: var(--primary-color);
}

#mersenne-header .active .dropdown-menu a {
    color: var(--primary-color);
    background-color: white;
}

#mersenne-header a:hover,
#mersenne-header a:focus,
#mersenne-header .active a,
#mersenne-header .active a:hover,
#mersenne-header .active .menu-focus {
    color: white;
    background-color: var(--primary-color);
}

#mersenne-header .journal-logo a:hover,
#mersenne-header .journal-logo a:focus,
#mersenne-header .journal-logo .active a,
#mersenne-header .journal-logo .active a:hover,
#mersenne-header .journal-logo .active .menu-focus {
    color: white;
    background-color: #f7f0d9;
}

#mersenne-header .journal-logo img {
    width: auto;
    height: 200px;
    padding-left: 20px;
}

.dropdown-accordion {
    display: none;
    float: right;
}

.search-button-div {
    width: 100px;
    padding-right: 0px;
    padding-left: 0px;
}

.browse-or {
    text-align: center;
    margin-top: 7px;
}

.footer-text {
    padding-left: 15%;
    padding-top: 15px;
    color: #777;
    font-size: 12px;
}

.footer-text a {
    color: #777;
}

#footer {
    margin-top: 30px !important;
    padding-top: 15px;
    position: relative;
    height: 149px;
}

.logos-footer {
    margin-bottom: 10px;
    font-size: 12px;
}

.logos-footer a {
    margin-right: 7%;
}

.logos-footer a:last-child {
    margin-right: 0px;
}

.upper-right-content#syndication-feed-url {
    flex: 2;
}

#sidebar {
    width: 250px;
    padding-top: 0px;
}

#toggle-sidebar {
    display: none;
    margin-bottom: 20px;
}

.cms-breadcrumb {
    list-style: none;
    display: inline-block;
}

.cms-breadcrumb .icon {
    font-size: 14px;
}

.cms-breadcrumb li {
    float: left;
}

.cms-breadcrumb li a {
    color: var(--primary-color);
    display: block;
    background: #f7f0d9;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}

.cms-breadcrumb li:nth-child(even) a {
    background-color: #f7f0d9;
}

.cms-breadcrumb li:nth-child(even) a:before {
    border-color: #f7f0d9;
    border-left-color: transparent;
}

.cms-breadcrumb li:nth-child(even) a:after {
    border-left-color: #f7f0d9;
}

.cms-breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.cms-breadcrumb li:first-child a:before {
    border: none;
}

.cms-breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.cms-breadcrumb li:last-child a:after {
    border: none;
}

.cms-breadcrumb li a:before,
.cms-breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #f7f0d9;
    border-width: 20px 10px;
    width: 0;
    height: 0;
}

.cms-breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}

.cms-breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #f7f0d9;
}

.cms-breadcrumb li a:hover {
    background-color: var(--primary-color);
    color: white;
}

.cms-breadcrumb li a:hover:before {
    border-color: var(--primary-color);
    border-left-color: transparent;
}

.cms-breadcrumb li a:hover:after {
    border-left-color: var(--primary-color);
}

.cms-breadcrumb li.active a, .nav-pills .nav-link.active {
    background-color: var(--primary-color);
    color: white;
}

.cms-breadcrumb li.active a:before {
    border-color: var(--primary-color);
    border-left-color: transparent;
}

.cms-breadcrumb li.active a:after {
    border-left-color: var(--primary-color);
}

.cms-breadcrumb li.breadcrumb-previous a,
.cms-breadcrumb li.breadcrumb-next a {
    margin-right: 5px;
}

.cms-breadcrumb li:last-child a {
    margin-right: 5px;
}

ul.cms-breadcrumb {
    padding-left: 0px;
}

.article-breadcrumb {
    padding-left: 0px;
    padding-right: 0px;
    right: 18%;
}

.btn-tex {
    padding-right: 0px;
    text-align: right;
    max-width: 200px;
}

.site-settings {
    font-size: 30px;
}

@media all and (max-width: 1400px) {
    .page-container .journal-logo {
        max-width: 300px;
    }
}

@media all and (max-width: 1300px) {
    .page-container .journal-logo {
        max-width: 200px;
    }
}

@media all and (max-width: 1199px) {
    .browse-or {
        width: 40px;
        height: 27px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-text {
        padding-left: 50px;
    }

    .page-container .journal-logo {
        display: none;
    }

    .regular-content {
        margin-left: 8%;
    }

    .article-breadcrumb {
        right: 0px;
    }

    .btn-tex {
        margin-bottom: 10px;
        padding-left: 0px;
        text-align: left;
    }
}

@media all and (max-width: 1200px) {
    .cms-breadcrumb {
        padding-left: 0px;
    }

    .logos-footer a {
        margin-right: 5%;
    }
}

@media all and (max-width: 1050px) {
    .footer-logo-text {
        display: none;
    }
}

@media all and (max-width: 900px) {
    #mersenne-header {
        height: 140px;
    }

    .page-container {
        min-height: calc(100% - 291px);
        padding-top: 20px;
    }

    #mersenne-header .journal-logo {
        width: 120px;
    }

    .journal-header-content {
        width: calc(100% - 130px);
    }

    #mersenne-header .journal-logo img {
        height: 100px;
        padding-left: 0px;
    }

    #mersenne-header h1 {
        float: left;
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 40px;
    }

    #search-group-btn {
        display: none !important;
    }

    #line-container,
    .search-group {
        width: 250px;
        margin-right: 10px;
        height: 34px;
    }

    .menu-top {
        display: none;
    }

    .dropdown-accordion {
        display: block;
    }

    .journal-title:after {
        display: block;
        clear: both;
        content: "";
    }

    .page-container h2 {
        margin-top: 10px;
    }

    .cms-page {
        padding-left: 10px;
        margin-bottom: 20px;
    }

    .footer-text {
        padding-left: 20px;
    }

    .logo-mersenne {
        height: 50px;
    }

    .logo-footer {
        height: 35px;
    }

    .logo-footer-edix {
        height: 50px;
    }

    .logos-footer a {
        margin-right: 10px;
    }

    .regular-content {
        margin-left: 0px;
    }
}

@media all and (max-width: 768px) {
    .page-container {
        min-height: calc(100% - 331px);
    }

    #footer {
        height: 189px;
    }

    #sidebar {
        display: none;
        width: 100%;
    }

    #toggle-sidebar {
        display: block;
    }

    #results {
        width: 100%;
    }
}

@media all and (min-width: 768px) {
    #sidebar {
        display: block;
    }

    #toggle-sidebar {
        display: none;
    }

    #results {
        width: calc(100% - 250px);
    }
}

@media all and (max-width: 700px) {
    #mersenne-header {
        height: 170px;
    }

    .page-container {
        min-height: calc(100% - 361px);
    }

    .page-container .journal-logo {
        display: none;
    }

    .browse-or {
        margin-right: 30%;
    }

    #line-container,
    .search-group {
        width: 300px;
        margin-top: 5px;
    }

    .search-button-div {
        margin-top: 10px;
    }
}

@media all and (max-width: 600px) {
    #search-button-text {
        display: none;
    }

    .search-button-div {
        width: 40px;
    }
}

@media all and (max-width: 560px) {

    #line-container,
    .search-group {
        width: 220px;
    }
}

@media all and (max-width: 500px) {
    #mersenne-header {
        height: 160px;
    }

    .page-container {
        min-height: calc(100% - 371px);
    }

    #mersenne-header .journal-logo {
        width: 90px;
    }

    .journal-header-content {
        width: calc(100% - 100px);
    }

    #mersenne-header .journal-logo img {
        height: 80px;
    }

    #mersenne-header h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .logo-footer {
        margin-top: 5px;
    }
}

@media all and (max-width: 450px) {
    #footer {
        height: 209px;
    }

    .page-container {
        min-height: calc(100% - 391px);
    }

    #mersenne-header h1 {
        font-size: 14px;
    }

    .journal-header-content {
        padding-right: 0px;
    }
}

@media all and (max-width: 400px) {
    #mersenne-header .journal-logo {
        width: 70px;
    }

    .journal-header-content {
        width: calc(100% - 80px);
    }

    #mersenne-header .journal-logo img {
        height: 60px;
    }

    #line-container,
    .search-group {
        width: 200px;
    }

    .searchinput {
        padding-left: 3px;
    }

    .logo-footer {
        height: 30px;
    }

    .logo-footer-edix {
        height: 43px;
    }
}

.menu-top {
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    border-radius: 0px;
}

/* Search page */
.search-results {
    overflow: clip;
}

.fade.show #filters-modal {
    background: rgb(0,0,0,0.25);
}

/* Search bar */
div#search-bar {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

#mersenne-header .search-button {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}

#line-container {
    padding-right: 15px;
}

.nav-tabs>li>a:focus {
    outline: none;
}

.nav-tabs .nav-link {
    color: var(--primary-color)
}

.nav-tabs .nav-link:hover {
    color: var(--primary-accent-color)
}

.page-container .row {
    margin: 0px;
}

.cms-page-content {
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    width: 95%;
}

.volume-ligne,
.journal-content {
    margin-top: 50px;
    font-size: 20px;
}

.recent-articles {
    min-width: 380px;
}

.recent-articles-header {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary-color);
    text-align: center;
}

.article-short {
    font-size: 14px;
}

.article-short h2 {
    font-size: 14px;
    margin: 0px;
}

.article-tab {
    font-size: 16px;
}

.article-title a {
    color: #333;
}

.facet-header,
.facet-header-no-click {
    background-color: var(--primary-color);
    color: white;
}

.lightbox {
    height: 150px;
    border: 1px solid #c7c7c7;
}

.btn-toggle,
.btn-toggle:hover,
.btn-toggle:focus,
.btn-toggle:active {
    color: white;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

#main-dropdown-menu {
    left: -143px;
    width: 200px;
}

.citation-document-title {
    font-weight: normal;
}

.citation-volume {
    font-weight: bold;
}

.citation-series {
    font-style: normal;
}

.container-flex {
    font-size: 16px;
}

.container-flex>.flex-group .flex-item {
    margin-left: 0px;
    margin-right: 20px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.container {
    padding: 0;
    margin-right: auto;
    margin-left: auto
}

.container-fluid {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    margin-bottom: 20px;
    border-radius: 4px;
}
