{% load crispy_forms_tags %}
{% load crispy_forms_utils %}

{% specialspaceless %}
<div class="row">
  {% if formset_tag %}
  <form {{ flat_attrs|safe }} method="{{ form_method }}" {% if formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
  {% endif %}
      {% if formset_method|lower == 'post' and not disable_csrf %}
          {% csrf_token %}
      {% endif %}

      <div>
          {{ formset.management_form|crispy }}
      </div>

      {% include "bootstrap3/errors_formset.html" %}

      <div class="hidden empty-form">
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-body">
              {% for field in formset.empty_form %}
                  {% include 'bootstrap3/field.html' %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% for form in formset %}
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-body">
              {% include "bootstrap3/display_form.html" %}
            </div>
          </div>
        </div>
      {% endfor %}

      {% if inputs %}
          <div class="form-actions">
              {% for input in inputs %}
                  {% include "bootstrap3/layout/baseinput.html" %}
              {% endfor %}
          </div>
      {% endif %}
  {% if formset_tag %}</form>{% endif %}
</div>
{% endspecialspaceless %}
