{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Page Not Found" %}
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-12 text-center">
      <h1>{% trans "Page Not Found" %}</h1>
    </div>
  </div>
{% endblock %}
