
{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load helpers %}

{% block container %}

<div class="grid-container articles-container">
    {% for article in articles %}
      <div class="grid-item article-grid-item">
        <div class="article-image-grid">
          {% if article.icon %}
            <a href="{% url 'article' article.pid %}">
            <img src="{{ article.icon }}" alt="" class="article-icon-grid"></a><br/>
          {% endif %}
        </div>
        <div class="article-text-grid">
          <h4><a href="{% url 'article' article.pid %}">{% include 'common/common-title.html' with item=article for_search=True %}</a></h4>
          <p>{% include 'common/common-contrib.html' with item=article %}</p>
          <p class="block-with-ellipsis aellipsis-4-lines">
            {% for abstract in article.abstract_set.all %}
              {% if LANGUAGE_CODE == abstract.lang %}
                {% if request.session.formula_display == 'tex' %}
                  {{ abstract.value_tex|safe }}
                {% else %}
                  {{ abstract.value_html|safe }}
                {% endif %}
              {% endif %}
            {% endfor %}
          </p>
          <div style="float:left">
            Published: <time datetime="{{ article.date_published|date:'Y-m-d' }}">{{ article.date_published|date:"Y-m-d" }}</time>
            {% comment %}{% if article.deployed_date %}{% trans "Mis en ligne le : " %}{{ article.deployed_date|date:"Y-m-d" }}{% endif %}{% endcomment %}
          </div>
          <div style="float:right">
            {% with binary_files=article.get_binary_files_href.self %}
              {% if binary_files.pdf %}
                <strong><a href="{{ binary_files.pdf |replace_basename_binary_file }}">PDF</a></strong>
              {% endif %}
            {% endwith %}
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}

{% block extra_js %}
{% endblock extra_js %}

