{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {{ article.title_tex }}
{% endblock %}

{% block extra_head %}
  {% include "common/article-head.html" %}
{% endblock %}

{% block content_left %}
{% endblock content_left %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block center_middle %}
  <div style="margin-left:-15px" class="clearfix">
    {% include "common/breadcrumb.html" %}
    <div class="article-page-image-large">
      {% if article.icon %}
          <img src="{{ article.icon }}" alt="" class="article-icon-grid">
      {% endif %}
    </div>
    <div class="article-page-content">

      <div class="article-page-image-small">
        {% if article.icon %}
            <img src="{{ article.icon }}" alt="" class="article-icon-grid">
        {% endif %}
      </div>

      {% block specific %}
        <div style="font-size:18px;margin-bottom:10px">
          {% include 'common/common-title.html' with item=article %}
        </div>
        <div style="margin-bottom:5px; font-size: 16px">
          {% include 'common/common-contrib.html' with item=article article_page=True%}
        </div>
      {% endblock %}
      <div style="margin-bottom:10px">
        {% include 'common/common-info-article.html' %}
      </div>

      <div style="margin-top:20px;margin-bottom:20px">
        {% include 'common/common-binary-files.html' with embargo=article.my_container.embargo binary_files=article.get_binary_files_href.self display_embargo_text=True website=article.get_collection.website doi=article.get_doi_href %}
      </div>
    </div>

    {% include 'common/common-abstract.html' with resource=article %}
    {% include 'common/common-tabs.html' with resource=article %}
    {% include 'common/common-bibliographie.html' with resource=article %}

  </div>
{% endblock %}


