<ul class="nav nav-pills ms-auto me-auto mb-1">
    {% for key,value in menu %}
      {% if item.separator %}<li>------------</li>{% endif %}
      <li class="nav-item {% if request.resolver_match.url_name == value  %}active{% endif %}">
        {% if key == 'front-office' %}
          <a class="nav-link" href="{% url value %}" target="_blank">{{ key }}</a>
        {% else %}
          <a class="nav-link" href="{% url value %}">{{ key }}</a>
        {% endif %}
      </li>
    {% endfor %}
</ul>

