{% load i18n %}

<div class="d-flex flex-nowrap align-items-center" style="margin-top:20px; margin-bottom:5px; padding: 0 10px; gap: 1rem;">
  <h4 class="mb-0 text-nowrap">
    {{ journals.count }}
    {% if coltype == "journal" %}
      {% trans 'Revues' %}
    {% else %}
      {% if coltype == "acta" %}
        {% trans 'Séminaires' %}
      {% else %}
        Collections
      {% endif %}
    {% endif %}
  </h4>
  <div class="input-group" style="max-width:300px">
    <input id="journal-filter" type="text" class="form-control" placeholder="{% trans "Titre" %}">
    <span id="journal-filter-remove" class="btn btn-outline-secondary"><i class="fa fa-remove"></i></span>
  </div>
</div>

<script type="text/javascript">
  window.onload = function() {
    document.getElementById('journal-filter').focus();
  };
</script>
