{% load i18n %}

<div class="container">
  <div class="row" style="margin-top: 20px; margin-bottom:20px">
    <div class="col-2" style="min-width:110px">
      {% if journal.icon %}
        <div class="cover-thumbnail">
            <a href="{{ journal.icon }}" class="lightbox" title="">
              <img src="{{ journal.small_icon }}">
            </a>
        </div>
      {% else %}
        <img src="/static/ptf/img/journal-generic.png" alt="cover">
      {% endif %}
    </div>
    <div class="col-8" style="padding-top:0px">
      <h3>
      {% if request.session.formula_display == 'tex' %}
        {{ journal.title_tex|safe }}
      {% else %}
        {{ journal.title_html|safe }}
      {% endif %}
      </h3>

      {% block journal_description %}
      {% endblock journal_description %}

      <p>
       {% if journal.issn %}ISSN: {% trans 'Edition papier' %} : {{ journal.issn }}{% endif %}{% if journal.issn and journal.e_issn %}, {% endif %}{% if journal.e_issn %}{% trans 'Edition électronique' %} : {{ journal.e_issn }}{% endif %}
      <br>
      {% trans 'Période couverte dans' %}
      {% if COLLECTION_PID == 'ALL' %}Numdam{% else %}Centre Mersenne{% endif %}
      : {{ journal.fyear }}-{{ journal.lyear }}
      </p>

    </div>
    <div class="col-2" style="min-width:110px">
      {% with sorted_issues|first as first_vserie %}
        {% with first_vserie.volumes|first as first_volume %}
          {% with first_volume.issues|first as first_issue %}
            {% if first_issue.my_publisher.pub_key == 'societe-mathematique-de-france' %}
              {% include "common/smf.html" %}
            {% endif %}
          {% endwith %}
        {% endwith %}
      {% endwith %}
    </div>

  </div>
</div>


