<p>
  Dear translator(s),
  <br/>
  <br/>
  Your translation in {{trans_display_lang}} of the article <strong>"{{translation.article.title_tex}}"</strong> is now <a href="{{article_url}}">available</a> on the French Academy of Sciences’ Comptes Rendus website.
  <br/>
  <br/>
  Thank you for contributing to the multilingual dissemination of scientific knowledge!
  <br/>
  <br/>
  Best regards,
  <br/>
  The Editorial Team of the French Academy of Sciences,
  <br/>
  {{editorial_email}}
  <br/>
  <br/>
  --
  <br/>
  <br/>
  Cher(s) traducteur(s),
  <br/>
  <br/>
  Votre traduction en {{trans_display_lang_fr}} de l'article <strong>"{{translation.article.title_tex}}"</strong> est à présent <a href="{{article_url}}">disponible</a> sur le site internet des Comptes Rendus de l’Académie des sciences.
  <br/>
  <br/>
  Merci d'avoir contribué à la diffusion multilingue de la connaissance scientifique !
  <br/>
  <br/>
  Cordialement,
  <br/>
  L'équipe éditoriale de l'Académie des Sciences,
  <br/>
  {{editorial_email}}

</p>
