<p>
  Dear Sir/Madam,
  <br/>
  <br/>
  Your article <strong>"{{translation.article.title_tex}}"</strong>, published on {{translation.article.date_published|date:"Y-m-d" }} in French Academy of Sciences’ Comptes Rendus, has just been translated into {{trans_display_lang}} by voluntary contributors.
  <br/>
  <br/>
  You can find the translation of your article on <a href="https://doi.org/{{translation.article.doi}}">our website</a>.
  <br/>
  <br/>
  If you notice any breach of our Code of Ethics and Good Scientific Practice, or if you have any questions, please do not hesitate to contact us.
  <br/>
  <br/>
  Best regards,
  <br/>
  The Editorial Team of the French Academy of Sciences,
  <br/>
  {{editorial_email}}
  <br/>
  <br/>
  --
  <br/>
  <br/>
  Madame, monsieur,
  <br/>
  <br/>
  Votre article <strong>"{{translation.article.title_tex}}"</strong>, publié le {{translation.article.date_published|date:"Y-m-d" }} dans les Comptes Rendus, vient d’être traduit en {{trans_display_lang_fr}} par des contributeurs volontaires.
  <br/>
  <br/>
  Retrouvez la traduction de votre article sur <a href="https://doi.org/{{translation.article.doi}}">notre site internet</a>
  <br/>
  <br/>
  Si vous constatez un manquement à notre Code d’éthique et de bonnes pratiques scientifiques, ou que vous avez des questions, n’hésitez pas à nous contacter.
  <br/>
  <br/>
  Bien cordialement,
  <br/>
  L'équipe éditoriale de l'Académie des Sciences,
  <br/>
  {{editorial_email}}
</p>

