<p>
  Dear translator(s),
  <br/>
  <br/>
  We would like to thank you for contributing to the dissemination of the French Academy of Sciences’ Comptes Rendus by translating the article <strong>"{{translation.article.title_tex}}"</strong>. You will receive a message as soon as your translation is available online.
  <br/>
  <br/>
  If you have any questions, please do not hesitate to contact us.
  <br/>
  <br/>
  Best regards,
  <br/>
  The Editorial Team of the French Academy of Sciences,
  <br/>
  {{editorial_email}}
  <br/>
  <br/>
  --
  <br/>
  <br/>
  Cher(s) traducteur(s),
  <br/>
  <br/>
  Nous vous remercions d'avoir contribué à la diffusion des Comptes Rendus de l'Académie des sciences en traduisant l'article <strong>"{{translation.article.title_tex}}"</strong>. Vous recevrez un message dès que votre traduction sera disponible en ligne.
  <br/>
  <br/>
  Si vous avez des questions, n'hésitez pas à nous contacter.
  <br/>
  <br/>
  Cordialement,
  <br/>
  L'équipe éditoriale de l'Académie des Sciences,
  <br/>
  {{editorial_email}}

</p>
