<p>
  Dear Centre Mersenne,
  <br/>
  <br/>
  Editorial Team has accepted  <strong>"{{translation.article.title_tex}}"</strong> .
  <br/>
  <br/>
  url : <a href="{{article_url}}">{{article_url}}/</a>
</p>
