{% load i18n %}
{% load helpers %}
{% load stringsfilter %}
{% load static %}

{% if ALLOW_TRANSLATION %}
<div class="d-flex justify-content-md-between align-items-start align-items-md-center flex-column flex-md-row gap-3">
  <div class="btn-group">
  <button type="button" class="btn border dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% if display_lang == article.lang %}{% trans 'Version originale' %}&nbsp;&nbsp;<span class="flag-icon {% get_flag_icon display_lang %}"></span>
    {% else %}{% trans 'Traduction' %}&nbsp;&nbsp;<span class="flag-icon {% get_flag_icon display_lang %}"></span>
    {% endif %}
  </button>
  <ul id="lang-menu" class="dropdown-menu" style="text-align:right">
    {% for lang in languages %}
    <li><a class="dropdown-item" href="{% url 'article-lang' lang article.doi%}">{% if lang == article.lang %}{% trans 'Version originale' %}&nbsp;&nbsp;{% else %}{% trans 'Traduction' %}&nbsp;&nbsp;{% endif %} <span class="flag-icon {% get_flag_icon lang %}"></span></a></li>
    {% endfor %}
    {% if article.doi|allow_translation %}
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{{start_translation_url}}">{% trans 'Proposez une traduction' %}</a></li>
    {% endif %}
  </ul>
  </div>

  <div class="form-group">
    <div class="checkbox checbox-switch switch-primary"
      {% if LANGUAGE_CODE == 'fr' %}
        {% if request.session.formula_display == 'tex' %}
           title="Cliquez pour afficher les formules sous forme graphique"
        {% else %}
           title="Cliquez pour afficher le code source TeX"
        {% endif %}
      {% else %}
        {% if request.session.formula_display == 'tex' %}
           title="Click to display formulæ in graphical form"
        {% else %}
           title="Click to display the TeX source code"
        {% endif %}
      {% endif %}>
      <form action="{% url 'set_formula_display' %}" method="post">{% csrf_token %}
        <input type="hidden" name="formula-display" value="{% if request.session.formula_display == 'tex' %}mathml{% else %}tex{% endif %}"/>
        <label>
          <input type="checkbox" onclick="this.form.submit();" {% if request.session.formula_display == 'tex' %}checked{% endif %} />
          <span></span>
          {% trans 'Afficher les formules comme du code source TeX' %}
        </label>
      </form>
    </div>
  </div>
</div>
{% if is_translation %}
  <div class="boxed-text" style="margin-top: 20px; margin-bottom: 20px; padding-top: 10px">
    {% if LANGUAGE_CODE == "fr" %}
        <p>Avertissement : cette traduction{% if not full_translation %} du texte intégral{% endif %} est mise à la disposition du public dans le but d'élargir la diffusion scientifique de l'article original, mais n'a été vérifiée ni par les auteurs (à moins que leurs noms figurent parmi ceux des auteurs de la traduction) ni par l'équipe éditoriale de la revue. Cette version n'engage pas la responsabilité scientifique des éditeurs. La version originale reste la seule version scientifique de référence.</p>
    {% else %}
      <p>Disclaimer: this translation{% if not full_translation %} of the full text{% endif %} is made available to the public with the aim of broadening the scientific dissemination of the original article, but has not been verified by either the authors (unless their names appear among those of the authors of the translation) or the journal's editorial team. This version does not engage the scientific responsibility of the editors. The original version remains the only scientific reference.</p>
    {% endif %}
  </div>
{% else %}
<br>
{% endif %}
{% endif %}
