{% load i18n %}
{% load static %}

<div class="special-issue-citation" >
    <h4><i class="bi bi-info-circle-fill" style="color: var(--color-primary);"></i></h4>


    <div style="padding-top: 5px; padding-left: 10px;">

        {% for special_issue in special_issues %}
            {% if LANGUAGE_CODE == 'fr' %}
            <!--We can get a ResourceInSpecialIssue (if article notice) object or a Container object (if issue items list )-->
                {% if special_issue.classname == 'Container' %}
                    Cet article fait partie du numéro thématique   <a href="{% url 'item_id' special_issue.pid %}">{{ special_issue.trans_title_html }}</a> coordonné par
                {% else %}

                    Cet article fait partie du numéro thématique <a href="{% url 'item_id' special_issue.my_container.pid %}">{{ special_issue.my_container.trans_title_html }}</a> coordonné par
                {% endif %}
            {% else %}
                {% if special_issue.classname == 'Container' %}
                    This article is part of the thematic issue <a href="{% url 'item_id' special_issue.pid %}">{{ special_issue.title_html }}</a> edited by
                {% else %}
                    This article is part of the thematic issue <a href="{% url 'item_id' special_issue.my_container.pid  %}">{{ special_issue.my_container.title_html }}</a> edited by
                {% endif %}
            {% endif %}


            {% if special_issue.classname == 'Container' %}
                {% for contribution in special_issue.contributions.all %}


                    {% if forloop.first %}
                        {% if no_links %}
                            {{contribution.display_name}}.
                        {% else %}
                            <a href="{{ contribution.get_absolute_url }}">{{contribution.display_name}}{% if special_issue.contributions.all|length > 1 %} <i>et al.</i>{% endif %}</a>.
                        {% endif %}
                        {% if contribution.idref %}<sup><a href="https://www.idref.fr/{{contribution.idref}}" target="_blank"><img style="width:16px;margin-top:-3px;margin-left:3px" src='{% static "ptf/img/logo-idref.png" %}'></a></sup>&nbsp;{% endif %}
                        {% if contribution.orcid %}<sup><a href="{{contribution.orcid_href}}" target="_blank"><img style="width:16px;margin-top:-3px;margin-left:3px" src='{% static "ptf/img/orcid.svg" %}'></a></sup>&nbsp;{% endif %}
                    {% endif %}
                {% empty %}
                {% endfor %}
            {% else %}
                {% for contribution in special_issue.my_container.contributions.all %}


                    {% if forloop.first %}
                        {% if no_links %}
                            {{contribution.display_name}}.
                        {% else %}
                            <a href="{{ contribution.get_absolute_url }}">{{contribution.display_name}}{% if special_issue.my_container.contributions.all|length > 1 %} <i>et al.</i>{% endif %}</a>.
                        {% endif %}
                        {% if contribution.idref %}<sup><a href="https://www.idref.fr/{{contribution.idref}}" target="_blank"><img style="width:16px;margin-top:-3px;margin-left:3px" src='{% static "ptf/img/logo-idref.png" %}'></a></sup>&nbsp;{% endif %}
                        {% if contribution.orcid %}<sup><a href="{{contribution.orcid_href}}" target="_blank"><img style="width:16px;margin-top:-3px;margin-left:3px" src='{% static "ptf/img/orcid.svg" %}'></a></sup>&nbsp;{% endif %}
                    {% endif %}
                {% empty %}
                {% endfor %}
            {% endif %}
        {% endfor %}

    </div>

</div>
