{## commun pour article/book-part ##}
{% load i18n %}
{% load helpers %}
{% load stringsfilter %}
{% load static %}

{% if article_show_body %}{% include "common/outline/outline-sm.html" %}{% endif %}
{{article.get_ojs_id}}
{% block article-header %}
  {% include "common/article/article-header.html" %}
{% endblock article-header %}

<div id="article-div" class="article-div">
  {% block article-title-block %}
  <div {% if admin_mode and article.do_not_publish %}class="do-not-publish-row"{% endif %}>
    {% if admin_mode and article.do_not_publish %}<p style="color:white; font-size:20px; text-align: center"> NE SERA PAS PUBLIÉ </p>{% endif %}

    {% if article.my_container.my_publisher.pub_key == 'societe-mathematique-de-france' %}
    <div class="float-minus-100">
    {% else %}
    <div class="col-12">
    {% endif %}

      {% with heading=article|get_article_heading %}
        {% if heading %}
          <div class="article-subj" style="margin-bottom:0px">{{heading|safe}}</div>
        {% endif %}
      {% endwith %}
      <div style="font-size:18px;margin-bottom:10px">
        {% include 'common/title/title.html' with item=article %}
      </div>
      {% include 'common/contribution/contrib.html' with item=article article_page=True %}

      <div style="margin-bottom:10px">
        {% include 'common/article/info-article.html' %}
      </div>

      {% with binary_files=article.get_binary_files_href %}
      {% if is_translation %}
        {% if full_translation %}
        <div style="margin-top:20px;margin-bottom:20px">
          <div style="float:left; margin-right: 5px">{% if full_translation %}{% trans "Traduit par :" %}{% else %}{% trans 'Texte intégral traduit par :' %}{% endif %}</div>
          {% with original_contributions=article.contributions.all|filter_by_role:"author" %}
          {% include 'common/contribution/contrib.html' with item=translated_article article_page=True original_contributions=original_contributions %}
          {% endwith %}
        </div>
        {% endif %}
        {% if binary_files.translations %}
          <div class="binary-file-icon" style="margin-top:20px;margin-bottom:10px">
          {% for trans_lang, trans_files in binary_files.translations.items %}
            {% if trans_lang == display_lang and trans_files.pdf %}<a href="{{trans_files.pdf}}" target="_blank" ><img src="{% static 'ptf/img/pdf.gif' %}" style="vertical-align:middle"></a>{% endif %}
          {% endfor %}
          </div>
        {% endif %}
      {% else %}
        <div class="binary-file-icon" style="margin-top:20px;margin-bottom:10px">
          {% include 'common/binary-files.html' with embargo=article.my_container.embargo binary_files=article.get_binary_files_href.self display_embargo_text=True website=article.get_collection.website doi=article.get_doi_href show_button=show_button %}
        </div>
      {% endif %}
      {% endwith %}
      {%  if special_issues %}
        {% include 'common/article/article-in-special-issue.html' %}
      {% endif %}
    </div>

    {% if article.my_container.my_publisher.pub_key == 'societe-mathematique-de-france' %}
      {% include "common/smf.html" %}
      <div class="clearfix"></div>
    {% endif %}
  </div>
  {% endblock article-title-block %}

  {% include 'common/relations.html' %}
  {% include 'common/abstract/graphical-abstract.html' with images=article.get_illustrations %}
  {% if is_translation %}
    {% include 'common/abstract/abstract-translation.html' with resource=article %}
  {% else %}
    {% include 'common/abstract/abstract.html' with resource=article %}
  {% endif %}
  {% include 'common/article/tabs.html' with resource=article %}

  {% if SHOW_BODY or collection.pid == 'PCJ' and body_html %}
      <div class="row">
        <div class="col-12">
          <p  id="article-body-html-title" class="panel-title show-body-panel-title"
              data-bs-toggle="collapse" data-bs-target="#article-body-html"
              aria-controls="article-body-html" aria-expanded="true"
              style="font-size:30px; margin-top: 20px; margin-bottom: 10px; cursor: pointer;">
            {% if ALLOW_TRANSLATION %}
              {% if is_translation %}
                {% trans "Traduction du texte intégral" %}
              {% else  %}
                {% trans 'Version originale du texte intégral' %}
              {% endif %}
              {% if article.doi|allow_translation %}
              <span style="font-size: 20px">(<a href="{{start_translation_url}}">{% trans 'Proposez une traduction' %} {% if is_translation %}{% trans 'dans une autre langue' %}{% endif %}</a>)</span>
              {% endif %}
            {% else %}
              {% trans "Texte intégral" %}
              {% with binary_files=article.get_binary_files_href %}
                <p style="font-style: italic;">The full text below may contain a few conversion errors compared to the <a target="_blank" href="{{binary_files.self.pdf}}" class="">version of record of the published article. </a></p>
              {% endwith %}
            {% endif %}
            <span class="collapse-icon">
              <i class="fa fa-chevron-up"></i>
              <i class="fa fa-chevron-down"></i>
            </span>
          </p>
          {% if is_translation and not full_translation %}
            <div style="margin-top:10px;margin-bottom:10px;">
              <div style="float:left; margin-right: 5px">{% trans 'Texte intégral traduit par :' %}</div>
              {% with original_contributions=article.contributions.all|filter_by_role:"author" %}
              {% include 'common/contribution/contrib.html' with item=translated_article article_page=True original_contributions=original_contributions %}
              {% endwith %}
            </div>
          {% endif %}
          <div id="article-body-html" class="collapse show open-on-outline-submenu collapse-body">
            {{body_html|safe}}
          </div>
          <hr class="panel-title-separator">
        </div>
      </div>
  {% endif %}

  {% include 'common/bibliographie.html' with resource=article %}

  {% if article.footnotes_html %}
  <div class="row footnotes" style="margin-top:30px;">
    <div class="col-12">
    {{article.footnotes_html|safe}}
    </div>
  </div>
  {% endif %}

  {% if COMMENTS_VIEWS_ARTICLE_COMMENTS %}
  {% include 'common/article_comments_section.html' %}
  {% endif %}


</div>
