{# descriptif de l'article : Collection/Container/pages #}
{# commun pour common-article / resource-citation #}
{% load i18n %}
{% spaceless %}

{% if is_translation %}
  {% if article.my_container.title_tex and is_cr %}
    <div class=""><span class="article-issue-title-label">{% trans "Article du numéro thématique : " %}</span>
      {% if display_lang == article.my_container.trans_lang %}
        <a href="{{ article.my_container.get_absolute_url }}">{{article.my_container.trans_title_tex|safe }}</a>
      {% else %}
        <a href="{{ article.my_container.get_absolute_url }}">{{article.my_container.title_tex|safe }}</a>
      {% endif %}
    </div>
  {% endif %}
{% else %}
  {% if article.my_container.ctype != 'issue' %}
    {% if request.session.formula_display == 'tex' or with_tex %}
      <span style="display:inline-block;">{{ article.my_container.title_tex|safe }}, </span>
    {% else %}
      <span style="display:inline-block;">{{ article.my_container.title_html|safe }}, </span>
    {% endif %}
  {% endif %}
  {% if request.session.formula_display == 'tex' or with_tex %}
    {{ article.my_container.my_collection.title_tex|safe }}{{ article.get_citation_base|safe }}
  {% else %}
    {{ article.my_container.my_collection.title_html|safe }}{{ article.get_citation_base|safe }}
  {% endif %}
{% endif %}

{% block extra_info_block %}
{% endblock extra_info_block %}

{% endspaceless %}
