{% comment %} These alerts are handles via custom-alerts.css and custom-alerts.js files {% endcomment %}
{% if messages %}
<div class="custom-alert-messages">
  {% for message in messages %}
  <div class="custom-alert custom-alert-{{ message.tags }}" role="alert">
    <button aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message|safe }}
  </div>
  {% endfor %}
</div>
{% endif %}
