{% load i18n %}
{% load helpers %}
{% load static %}

{% if SHOW_BODY or collection.pid == 'PCJ' and body_html %}
  <div class="row">
  <div class="col-12">
    <div id="common-tabs-html" class="acollapse" style="margin-top:20px">
      <span class="panel-title" style="font-size:30px">{% trans 'Métadonnées' %}{% if is_translation %} {% trans 'de la traduction' %}{% endif %}</span>
{% else %}
      <div>
        <div class="col-12">
{% endif %}

          {% with has_detailed_info=resource.has_detailed_info %}
          {% with binary_files=article.get_binary_files_href %}

          <div style="margin-top:10px;margin-bottom:10px">
            <ul class="nav nav-tabs article-tab">
              {% if has_detailed_info or citing_articles %}
              <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#info-tab" href="#info-tab">{% trans "Détail" %}</a></li>
              {% endif %}
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab"data-bs-target="#citation-tab" href="#citation-tab">Export</a></li>
              <li class="nav-item">
                <a class="nav-link {% if not has_detailed_info and not citing_articles %}active{% endif %}" data-bs-toggle="tab" data-toggle="tab" data-bs-target="#how-to-cite-tab" href="#how-to-cite-tab">{% trans "Comment citer" %}</a>
              </li>
              {% if reviews %}
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-bs-target="#review-history-tab" href="#review-history-tab">Review History</a></li>
              {% endif %}
              {% if recommendations %}
              <li class="nav-item"><a id="a-recommendation-tab" class="nav-link" data-bs-toggle="tab" data-toggle="tab" data-bs-target="#recommendation-tab" href="#recommendation-tab">Peer-Reviews, data and code</a></li>
              {% endif %}
              {% block extra_tab %}{% endblock %}
            </ul>
            <div class="tab-content" style="margin-top:10px">
              <div id="info-tab" class="tab-pane fade {% if has_detailed_info or citing_articles %}show active{% endif%}">
                {% if is_translation %}
                  {% trans "Traduction mise en ligne le : " %}{% if translated_article.date_published %}<time datetime="{{ translated_article.date_published|date:'Y-m-d' }}">{{ translated_article.date_published|date:"Y-m-d" }}</time><br>{% else %}YYYY{% endif %}
                {% else %}
                  {% if resource.date_received %}{% trans "Reçu le : "%}<time datetime="{{ resource.date_received|date:'Y-m-d' }}">{{ resource.date_received|date:"Y-m-d" }}</time><br>{% endif %}
                  {% if resource.date_revised and resource.date_accepted %}
                    {% if resource.date_revised > resource.date_accepted %}
                      {% trans "Accepté le : " %}<time datetime="{{ resource.date_accepted|date:'Y-m-d' }}">{{ resource.date_accepted|date:"Y-m-d" }}</time><br>
                      {% trans "Accepté après révision le : " %}<time datetime="{{ resource.date_revised|date:'Y-m-d' }}">{{ resource.date_revised|date:"Y-m-d" }}</time><br>
                    {% else %}
                      {% trans "Révisé le : " %}<time datetime="{{ resource.date_revised|date:'Y-m-d' }}">{{ resource.date_revised|date:"Y-m-d" }}</time><br>
                      {% trans "Accepté le : " %}<time datetime="{{ resource.date_accepted|date:'Y-m-d' }}">{{ resource.date_accepted|date:"Y-m-d" }}</time><br>
                    {% endif %}
                  {% else %}
                    {% if resource.date_revised %}{% trans "Révisé le : " %}<time datetime="{{ resource.date_revised|date:'Y-m-d' }}">{{ resource.date_revised|date:"Y-m-d" }}</time><br>{% endif %}
                    {% if resource.date_accepted %}{% trans "Accepté le : " %}<time datetime="{{ resource.date_accepted|date:'Y-m-d' }}">{{ resource.date_accepted|date:"Y-m-d" }}</time><br>{% endif %}
                  {% endif %}
                    {% if resource.date_online_first %}{% trans "Première publication : " %}<time datetime="{{ resource.date_online_first|date:'Y-m-d' }}">{{ resource.date_online_first|date:"Y-m-d" }}</time><br>{% endif %}
                  {% if resource.date_published %}{% trans "Publié le : " %}<time datetime="{{ resource.date_published|date:'Y-m-d' }}">{{ resource.date_published|date:"Y-m-d" }}</time><br>{% endif %}
                {% endif %}
                <!--{% if resource.deployed_date %}{% trans "Mis en ligne le : " %}<time datetime="{{ resource.deployed_date|date:'Y-m-d' }}">{{ resource.deployed_date|date:"Y-m-d" }}</time><br>{% endif %}-->
                <div style="margin-top:5px">
                  {% if not is_translation %}
                    {% if not full_text or source_eudml %}
                      {% for extlink in resource.extlink_set.all %}
                        {% if extlink.rel == 'article' %}Source: <a href="{{extlink.location}}">{{source.name}}</a><br>{% endif %}
                      {% endfor %}
                    {% endif %}


                    {% for extid in resource.extid_set.all|sort_by:'id_type' %}
                    {% include 'common/extid/externalid_detail.html' with externalid=extid resource_type='extid' sequence=0 %}
                    {% endfor %}
                    {% if admin_mode %}
                      {% include 'common/extid/externalid_form.html' with sequence=0 %}
                      <a class='btn btn-default btn' href="{% url 'extid-create' resource_pk=resource.pk %}" title="Ajouter un nouvel id">
                        Ajouter un nouvel id <i class='glyphicon glyphicon-plus'></i>
                      </a>
                    {% endif %}
                    {% if resource.extid_set.all or citing_articles|length %}
                      {% with total=citing_articles|length %}
                      {% if total and SITE_NAME == 'numdam' %}
                      |
                      <a href="{% url 'article-citations' resource.pid %}">
                        {{ total }}
                        {% filter lower %}{% blocktrans %}Citation{% endblocktrans %}{% endfilter %}{{ total|pluralize }} {% trans 'dans' %}
                        Numdam</a>
                      {% endif %}
                      {% endwith %}
                    {% endif %}
                  {% endif %}
                </div>
                {% if is_translation %}

                  {% include 'common/resourceid.html' with item=translated_article %}
                {% else %}
                  {% include 'common/resourceid.html' with item=resource %}
                {% endif %}

                {% if collection.pid == "PCJ" %}
                  {% with atype=resource.atype|get_type_value %}
                  Type: {% trans atype %}<br>
                  {% endwith %}
                {% endif %}

                {% if resource.kwd_set.count or translated_article.kwd_set.count %}
                <div style="margin-top:5px">
                  {% with kwd_tuple=resource.get_kwds_by_type %}
                    {% if kwd_tuple.0|length %}
                      {% include 'common/article/kwd.html' with title='Classification : ' kwds=kwd_tuple.0 kwd_lang='' %}<br/>
                    {% endif %}
                    {% if translated_article.kwd_set.count and display_lang == translated_article.lang %}
                      {% include 'common/article/kwd.html' with title='Mots clés : ' kwds=translated_article.kwd_set.all kwd_lang=translated_article.lang%}<br/>
                    {% elif display_lang == translated_article.lang and display_lang == resource.trans_lang %}
                      {% include 'common/article/kwd.html' with title='Mots clés : ' kwds=kwd_tuple.2 kwd_lang=translated_article.lang %}<br/>
                    {% else %}
                      {% if kwd_tuple.1|length %}
                        {% if not kwd_tuple.2|length and not translated_article.kwd_set.count %}
                          {% include 'common/article/kwd.html' with title='Mots clés : ' kwds=kwd_tuple.1 kwd_lang='' %}<br/>
                        {% else %}
                          {% include 'common/article/kwd.html' with title='Mots clés : ' kwds=kwd_tuple.1 kwd_lang=resource.lang %}<br/>
                        {% endif %}
                      {% endif %}
                      {% if kwd_tuple.2|length %}
                        {% include 'common/article/kwd.html' with title='Mots clés : ' kwds=kwd_tuple.2 kwd_lang=resource.trans_lang %}<br/>
                      {% endif %}
                    {% endif %}
                  {% endwith %}
                </div>
                {% endif %}
                <div style="margin-top:5px">
                   {% with notes=resource.get_notes %}
                      {% for note in notes %}
                        Note : {{note.value_html}}<br>
                      {% endfor %}
                  {% endwith %}
                </div>
                {% comment %}
                {% if resource.award_set.count %}
                {% trans 'Source de financement' %}:
                {% for award in resource.award_set.all %}{{award.abbrev}}: {{award.award_id}}{% if not forloop.last %},&nbsp;{% endif %}{% endfor %}
                <br>
                {% endif %}
                {% endcomment %}

                {% with binary_files=article.get_binary_files_href.video %}
                {% if binary_files.video %}
                <br /> (Vidéo: {{binary_files.video}})
                {% endif %}
                {% endwith %}

                {% if not is_translation %}
                {% with authors=article.contributions.all|filter_by_role:"author" %}
                {% if authors %}
                <div style="margin-top:5px">
                {% with addresses=authors|get_addresses %}
                {% if addresses %}
                <span id="affiliation-toggle" data-bs-toggle="collapse" href="#affiliation_details" role="button" aria-expanded="false" aria-controls="affiliation_details">{% trans "Affiliations des auteurs :" %}
                <span id="details-caret" class="caret-icon fa fa-caret-down" style="margin-left:3px"></span></span>
                <div class="collapse" id="affiliation_details" style="margin-top:10px;margin-left:10px">
                  <div class="card card-body">
                    <p>{% for contribution, addresses_with_index in authors|contributions_with_index:addresses %}
                    {{contribution.display_name}}&hairsp;<sup class="d-inline-block">{% for address in addresses_with_index %}{{address.index}}{% if not forloop.last %}, {% endif %}{% endfor %}</sup>{% if not forloop.last %}{% if LANGUAGE_CODE == 'fr' %}&nbsp;{% endif %}; {% endif %}
                    {% endfor %}</p>
                    {% include 'blocks/affiliations.html' with addresses=addresses article_page=True with_letter=False %}
                  </div>
                </div>
                {% endif %}
                {% endwith %}
                </div>
                {% endif %}
                {% endwith %}
                {% endif %}

                {% if licence %}
                {% with 'ptf/img/'|add:licence|add:'.png' as img_licence %}
                <div style="margin-top:20px">
                {% trans 'Licence :' %} <img src="{% static img_licence %}" class="img-cc"> {{licence}}
                </div>
                <div style="margin-top:5px">
                {% trans "Droits d'auteur : Les auteurs conservent leurs droits" %}
                </div>
                {% endwith %}
                {% endif %}

                {% if article.funding_statement_html %}
                <div class="footnotes" >
                  {% trans "Financement :" %}<br/>
                  {{article.funding_statement_html|safe}}
                </div>
                {% endif %}

                {% if article.is_uga_pci %}
                <div style="margin-top:5px">Web-published in collaboration with: UGA Éditions</div>
                {% endif %}

              </div>
              <div id="citation-tab" class="tab-pane fade">
                <div class="upper">

                  <ul class="nav nav-pills">
                    <li role="presentation" class="nav-item"><a class="nav-link active"  data-bs-toggle="tab" data-bs-target="#bibtex" href="#bibtex">BibTeX</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-bs-target="#ris" href="#ris">RIS</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-bs-target="#enw" href="#enw">EndNote</a></li>
                  </ul>

                  <div class="tab-content">
                    <div id="bibtex" class="tab-pane fade show active">
                      <pre class="upper-right-content" id="bibtex-div">{{bibtex}}</pre>
                      <button class="fa fa-clipboard copy-button btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#bibtex-div" aria-hidden="true" title="{% trans "Copier dans le presse-papier" %}"></button>
                      {% with ext="bib" %}<a class="fa fa-download export-button btn btn-primary" title="{% trans "Télécharger" %}" href="{% url 'export_citation' resource.pid ext %}"></a>{% endwith %}
                    </div>
                    <div id="ris" class="tab-pane fade">
                      <pre class="upper-right-content" id="ris-div">{{ris}}</pre>
                      <button class="fa fa-clipboard copy-button btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#ris-div" aria-hidden="true" title="{% trans "Copier dans le presse-papier" %}"></button>
                      {% with ext="ris" %}<a class="fa fa-download export-button btn btn-primary" title="{% trans "Télécharger" %}" href="{% url 'export_citation' resource.pid ext %}"></a>{% endwith %}
                    </div>
                    <div id="enw" class="tab-pane fade">
                      <pre class="upper-right-content" id="enw-div">{{enw}}</pre>
                      <button class="fa fa-clipboard copy-button btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#enw-div" aria-hidden="true" title="{% trans "Copier dans le presse-papier" %}"></button>
                      {% with ext="enw" %}<a class="fa fa-download export-button btn btn-primary" title="{% trans "Télécharger" %}" href="{% url 'export_citation' resource.pid ext %}"></a>{% endwith %}
                    </div>
                  </div>

                </div>
              </div>
              <div id="how-to-cite-tab" class="tab-pane fade {% if not has_detailed_info and not citing_articles %}show active{% endif %}">
                <div class="upper-right">
                  <pre class="upper-right-content" id="how-to-cite-div">{{ howtocite|safe }}</pre>
                  <button class="fa fa-clipboard copy-button btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#how-to-cite-div" aria-hidden="true" title="{% trans "Copier dans le presse-papier" %}"></button>
                </div>
              </div>
              {% if reviews %}
              <div id="review-history-tab" class="tab-pane fade">
                {% for review in reviews %}
                <br />
                <p>
                  <a href="{{ review.get_href }}"><img src="{% static 'ptf/img/pdf.gif' %}"> Description of the review history</a>
                </p>
                {% endfor %}
              </div>
              {% endif %}
              {% if recommendations %}
              <div id="recommendation-tab" class="tab-pane fade">
                {% for recommendation in recommendations %}
                <p>
                  PCI peer reviews and recommendation, and links to data, scripts, code and supplementary information: <a href="https://doi.org/{{ recommendation.id_value }}" target="_blank">{{ recommendation.id_value }}</a>
                </p>
                <p><strong>Conflict of interest of the recommender and peer reviewers:</strong><br/>The recommender in charge of the evaluation of the article and the reviewers declared that they have no conflict of interest (as defined in the code of conduct of PCI) with the authors or with the content of the article.</p>
                {% endfor %}
              </div>
              {% endif %}
              {% block extra_tab_content %}{% endblock %}
            </div>
          </div>

          {% endwith %}
          {% endwith %}

          {% if SHOW_BODY or collection.pid == 'PCJ' and body_html %}
        </div>
      </div>
    </div>
    {% else %}
  </div>
</div>
{% endif %}
