{% load i18n %}
{% load static %}
{% load helpers %}

<header>
  <nav class="navbar navbar-default">
    {% if not homepage %}
      <a href="{% url 'home' %}" class="navbar-left logo-gdml"><img src="{% static "gdml/gdml-logo.png" %}" style="height:50px" alt="logo dml"></a>
    {% endif %}
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gdml-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="gdml-navbar-collapse">
      <ul class="nav navbar-nav">
        <li {% if coltype == 'journal' %}class="active"{% endif %}>
          <a href="{% url 'journals' %}">{% trans 'Revues' %}</a>
        </li>
        <li {% if coltype == 'book-series' %}class="active"{% endif %}>
          <a href="{% url 'book-series' %}">{% trans 'Livres' %}</a>
        </li>
        <li {% if 'source' in request.path %}class="active"{% endif %} style="margin-left:50px">
          <a href="{% url 'show_harvest_source' %}">{% trans 'Sources' %}</a>
        </li>
      </ul>
      {% get_language_info_list for LANGUAGES as languages %}
        <form class="navbar-form navbar-right" action="{% url 'set_language' %}" method="post">{% csrf_token %}
          <select class="selectpicker" data-width="fit" name="language" onchange="this.form.submit()">
            {% for language in languages %}
              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %} data-content='<span><span class="flag-icon {% get_flag_icon language.code %}"></span></span>'>
                {{ language.name_local }}
              </option>
            {% endfor %}
          </select>
        </form>
    </div>
  </nav>
</header>
{% if not homepage %}
  <div class="row topsearch" >
    <div class="container">
      <div id='search-bar'>
        {% include "common/search/search-bar.html" with with_browse=False %}
      </div><!-- /#search-bar -->
    </div><!-- /.container -->
  </div><!-- /.row -->
{% endif %}
