{% load static %}

<div class="form-template-{{ sequence }}{% if not externalid %} hidden{% endif %}">
  <div class="row admin-mode">
    <div class="col-3" style="margin-top:5px">
      <span class="externalid-link {% if externalid.false_positive %}false-positive{% elif externalid.checked %}externalid-valid{% endif %}"
            data-url="{% if externalid %}{% if resource_type == 'bibitemid' %}{% url 'api-fetch-id' bibitem.pk externalid.id_value externalid.id_type 'bibitemid' %}{% else %}{% url 'api-fetch-id' resource.pk externalid.id_value externalid.id_type 'extid' %}{% endif %}{% endif %}">
        {% if externalid and externalid.id_type != 'pmid' %}<i class="glyphicon glyphicon-chevron-down" style="font-size:10px"></i>{% endif %}
        {% if externalid.id_type == "doi" %} DOI {{ externalid.id_value }} {% endif %}
        {% if externalid.id_type == "numdam-id" %} Numdam {{ externalid.id_value }} {% endif %}
        {% if externalid.id_type == "mr-item-id" %} MR {{ externalid.id_value }}{% endif %}
        {% if externalid.id_type == "zbl-item-id" %} Zbl {{ externalid.id_value }}{% endif %}
        {% if externalid.id_type == "jfm-item-id" %} JFM {{ externalid.id_value }}{% endif %}
        {% if externalid.id_type == "sps-id" %} SPS {{ externalid.id_value }}{% endif %}
        {% if externalid.id_type == "pmid" %} PMID {{ externalid.id_value }}{% endif %}
      </span>
      <i class="fa fa-spinner fa-spin hidden"></i>
      {% if externalid and externalid.id_type != 'pmid' %}<a class="externalid-link-blank" href="{{ externalid.get_href }}" target="_blank" style="margin-left:20px"><span class="glyphicon glyphicon-link"></span></a>{% endif %}
    </div>
    <div class="col-3 externalid-checkbox">
      <label class="checkbox-inline{% if externalid.false_positive %} hidden{% endif %}" title="Marquer l'id comme (non) vérifié">
        <input class="externalid externalid-checked" {% if externalid.checked %}checked{% endif %}
               data-url="{% if externalid %}{% if resource_type == 'bibitemid' %}{% url 'update-bibitemid' externalid.pk 'toggle-checked' %}{% else %}{% url 'update-extid' externalid.pk 'toggle-checked' %}{% endif %}{% endif %}"
               data-bs-toggle="toggle"
               data-on="<i class='glyphicon glyphicon-ok'></i>"
               data-off="<i class='glyphicon glyphicon-ok'></i>"
               data-onstyle="success"
               data-style="ios"
               type="checkbox">
      </label>
      <label class="checkbox-inline" title="Marquer l'id comme faux positif">
        <input class="externalid externalid-other" {% if externalid.false_positive %}checked{% endif %}
               data-url="{% if externalid %}{% if resource_type == 'bibitemid' %}{% url 'update-bibitemid' externalid.pk 'toggle-false-positive' %}{% else %}{% url 'update-extid' externalid.pk 'toggle-false-positive' %}{% endif %}{% endif %}"
               data-bs-toggle="toggle"
               data-on="<i class='glyphicon glyphicon-remove'></i>"
               data-off="<i class='glyphicon glyphicon-remove'></i>"
               data-onstyle="danger"
               data-style="ios"
               type="checkbox">
      </label>
    </div>
    <div class="col-2">
      <a href="{% if externalid %}{% if resource_type == 'bibitemid' %}{% url 'bibitemid-update' externalid.pk %}{% else %}{% url 'extid-update' externalid.pk%}{% endif %}{% endif %}"
         class="btn btn-xs btn-default externalid-update"
         title="Modifier l'id">
        <span class="glyphicon glyphicon-edit"></span>
      </a>
      <a href="{% if externalid %}{% if resource_type == 'bibitemid' %}{% url 'update-bibitemid' externalid.pk 'delete' %}{% else %}{% url 'update-extid' externalid.pk 'delete' %}{% endif %}{% endif %}"
         class="btn btn-default externalid-trash"
         title="Supprimer l'id">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-10 externalid-result hidden">
    </div>
  </div>
</div>
