:root {
    --color-primary: #2A3F54;
    --text-color-primary: white;
    --text-color-default: #000000;
    --color-secondary: #b4dbff;
    /* https://stackoverflow.com/questions/40010597/how-do-i-apply-opacity-to-a-css-color-variable */
    --color-secondary-rgb: 180, 219, 255;
    --color-success: #26943f;
    --color-error: #a94442;
    --color-warning: #d7ab2b;
    --link-color: #4e4eca;
    --default-background-color: white;
    --comment-list-min-height: 8em;
    --comment-list-max-height: 8em;
    --text-hover-primary: gold;
}


.comment-container-trammel {
    width: min(1600px, calc(100vw - 270px));
}

@media (max-width: 991px) {
    .comment-container-trammel {
        width: 95vw;
    }
}
