<template>
  <div id="app">
    <Collection></Collection>
  </div>
</template>

<script>
import Collection from './components/Collection.vue'
import Vue from 'vue'
export default {
  name: 'App',
  components: {
    Collection,
  }
}
    Vue.config.devtools = true;
</script>

<style>
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
  height: 100%;
}
</style>
