
{% load i18n %}

{% block center_header %}
<div class="container">
  <div class="row" style="margin-top: 20px; margin-bottom:40px">
    <div class="col-xs-3" style="min-width:110px">
      <div class="cover-thumbnail">
          <a href="{{ journal.icon }}" title="" target="_blank">
            <img class="col-desc-icon" src="{{ journal.small_icon }}">
          </a>
      </div>
    </div>
    <div class="col-xs-9" style="padding-top:0px">
      <h3 style="margin-top:0px">
      {% if request.session.formula_display == 'tex' %}
        {{ journal.title_tex|safe }}
      {% else %}
        {{ journal.title_html|safe }}
      {% endif %}
      </h3>

      {% with descriptions=journal.get_descriptions %}
        {% for description in descriptions.all %}
          {% if LANGUAGE_CODE == description.lang or description.lang == "und" %}
            {% if request.session.formula_display == 'tex' %}
              {{ description.value_tex|safe }}
            {% else %}
              {{ description.value_html|safe }}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endwith %}

      <p>
       {% if journal.issn %}ISSN: {% trans 'Edition papier' %} : {{ journal.issn }}{% endif %}{% if journal.issn and journal.e_issn %}, {% endif %}{% if journal.e_issn %}{% trans 'Edition électronique' %} : {{ journal.e_issn }}{% endif %}
      </p>

    </div>
  </div>
</div>

{% endblock center_header %}

