{% load i18n %}
<h2>
  {% trans 'Flux RSS' %}
</h2>
<p>
  {% trans "Sélectionnez puis copiez les liens des séries voulues dans votre lecteur de flux RSS préféré : " %}<br>
  <div class="row">
    <div class="col-md-12">
      <h4>Journées Équations aux dérivées partielles</h4>
    </div>
    <div class="col-md-12">
      <div class="upper-right">
        <pre class="upper-right-content" id="syndication-feed-url-jedp">{{request.scheme}}://{{ request.get_host }}{% url 'latest-articles-feed' name=request.site.name jid='JEDP' %}</pre>
        <button class="copy-button btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#syndication-feed-url-jedp" aria-hidden="true" title="{% trans "Copier dans le presse-papier" %}">
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Séminaire Laurent Schwartz — EDP et applications</h4>
    </div>
    <div class="col-md-12">
      <div class="upper-right">
        <pre class="upper-right-content" id="syndication-feed-url-slsedp">{{request.scheme}}://{{ request.get_host }}{% url 'latest-articles-feed' name=request.site.name jid='SLSEDP' %}</pre>
        <button class="copy-button btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#syndication-feed-url-slsedp" aria-hidden="true" title="{% trans "Copier dans le presse-papier" %}">
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Séminaire de Théorie spectrale et géométrie (Grenoble)</h4>
    </div>
    <div class="col-md-12">
      <div class="upper-right">
        <pre class="upper-right-content" id="syndication-feed-url-tsg">{{request.scheme}}://{{ request.get_host }}{% url 'latest-articles-feed' name=request.site.name jid='TSG' %}</pre>
        <button class="copy-button btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#syndication-feed-url-tsg" aria-hidden="true" title="{% trans "Copier dans le presse-papier" %}">
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Winter Braids Lecture Notes</h4>
    </div>
    <div class="col-md-12">
      <div class="upper-right">
        <pre class="upper-right-content" id="syndication-feed-url-wbln">{{request.scheme}}://{{ request.get_host }}{% url 'latest-articles-feed' name=request.site.name jid='WBLN' %}</pre>
        <button class="copy-button btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#syndication-feed-url-wbln" aria-hidden="true" title="{% trans "Copier dans le presse-papier" %}">
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
  </div>
</p>
