:root {
    --body-fg: #333;
    --body-bg: #f7f7f7;
    --body-quiet-color: #666;
    --hairline-color: #e8e8e8;
    --border-color: #ccc;
    --link-visited-color: #485cc5;
    --link-fg: #447e9b;
    --color-blue: #4169e1;
    --color-dark-green: #005c47;
    --color-violet: #41086d;
    --color-grey: #666666;
    --list-min-height: 8em;
    --list-max-height: 8em;
}

a:hover,
a:visited,
a:active {
    color: var(--link-visited-color);
    text-decoration: none;
}

dt.article-title {
    color: var(--color-blue);
    font-weight: normal;
}

dt.authors {
    color: var(--color-dark-green);
    font-weight: normal;
}

dt.journal-title {
    color: var(--color-violet);
    font-weight: normal;
}

dt.citation-base {
    color: var(--color-grey);
    font-weight: normal;
}

dd {
    margin-left: 0;
}

hr {
    clear: both;
    color: var(--hairline-color);
    background-color: var(--hairline-color);
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 1px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
}

h1 {
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 25px;
    color: var(--body-quiet-color);
}

h2 {
    font-size: 16px;
    margin: 1em 0 0.5em 0;
}

h2.subhead {
    font-weight: normal;
    margin-top: 0;
}

h5 {
    font-size: 10px;
    margin: 1.5em 0 0.5em 0;
    color: var(--body-quiet-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* FORM DEFAULTS */

input,
textarea,
select,
.form-row p,
form .button {
    margin: 2px 0;
    padding: 2px 3px;
    font-weight: normal;
    font-size: 13px;
}

input[type="number"] {
    max-width: 60px;
}

input.menu_title {
    width: 400px;
}

textarea {
    vertical-align: top;
}

textarea,
select {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
    color: var(--body-fg);
    background-color: var(--body-bg);
}

/* TABLES */

table {
    border-collapse: collapse;
    border-color: var(--border-color);
}

td,
th {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid var(--hairline-color);
    vertical-align: top;
    padding: 8px;
}

th {
    font-weight: 600;
    text-align: left;
}

thead th {
    color: var(--body-quiet-color);
    padding: 5px 10px;
    font-size: 11px;
    background: var(--body-bg);
    border: none;
    border-top: 1px solid var(--hairline-color);
    border-bottom: 1px solid var(--hairline-color);
}

tr:nth-child(odd) {
    background: var(--body-bg);
}

tr:nth-child(even) {
    background: #f0f0f0;
}

label {
    font-weight: normal;
    color: var(--body-quiet-color);
    font-size: 13px;
}

label.required {
    font-weight: bold;
    color: var(--body-fg);
}

label.page::after {
    content: " :";
    margin-right: 10px;
}

.navbar-nav .open .dropdown-menu {
    /* fix dropdown menu item size with Gentellela (and Bootstrap 3 ?) */
    width: 100px;
}

.debug {
    max-width: 1200px;
    margin-top: 80px;
}

.debug li {
    margin-bottom: 10px;
}

.debug pre {
    color: #5a738e;
    background-color: inherit;
    border: none;
}

.btn-select-site {
    padding-top: 7px;
    padding-bottom: 7px;
    border-width: 1px;
    border-color: #5a738e;
    font-weight: bold;
}

.btn-deploy {
    border-color: #e19998;
    border-width: 1px;
}

.btn-test {
    border-color: #62b869;
}

.btn-edit {
    border-color: #61719b;
    margin-top: 10px;
}

.img-ga-summary-trammel {
    max-height: 80px;
    max-width: 80px;
    margin: auto;
    display: block;
}

.img-ga-preview {
    max-height: 100px;
    max-width: 100px;
    margin: 20px;
    display: block;
}

#id_doi_list {
    height: 120px;
    width: 350px;
}

#id_exclusion_list {
    height: 120px;
    width: 350px;
}

#id_automatic_list {
    margin-top: 40px;
    margin-bottom: 40px;
}

textarea[disabled] {
    background: rgba(128, 128, 128, 0.15);
}

.page-table a {
    color: var(--link-fg);
    font-weight: bold;
    font-size: 12px;
}

.page-table tr:nth-child(odd) {
    background-color: white;
}

.newBox {
    display: flex;
    align-items: center;
    justify-content: left;
}

.newBox .badge-create-page {
    padding: 8px 14px 8px 14px;
    background-color: #456cd6;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 13px;
    line-height: 1.2;
    border-radius: 5px;
}

.helptext {
    font-size: 11px;
    color: var(--body-quiet-color);
}

#status-spinner {
    vertical-align: middle;
    display: none;
    width: 18px;
    height: 18px;
    margin-left: 6px;
    border-radius: 50%;
    border: 2px solid var(--color-blue);
    border-color: white transparent white transparent;
    animation: status-spinner 2s linear infinite;
}

@keyframes status-spinner {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(100deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.news-table {
    width: 100%;
}

.list-news-title {
    width: 20%;
}

.list-news-content {
    position: relative;
    width: 80%;
}

.list-news-content > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
    position: absolute;
    left: 1px;
    right: 0;
    top: 8px;
    bottom: 0;
}


