:root {
    --color-primary: #2a3f54;
    --success-color: #26943f;
    --error-color: #a94442;
    --error-background-color: #f2dede;
    --text-color-primary: white;
}

#comment-menu > .custom-dropdown-content {
    background-color: #f5f5f5;
    border: 1px solid #D9DEE4;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    right: 0;
}

#comment-menu-content {
    display: flex;
    flex-direction: column;
}

#comment-menu-content a,
#comment-menu-content a:hover {
    all: unset;
    color: #515356;
}

#comment-menu-content > a,
#comment-menu-content > a:hover {
    white-space: nowrap;
    padding: 10px;
    min-height: 25px;
}

#comment-menu-content > a:hover {
    cursor: pointer;
    background-color: #D9DEE4;
}

.top_nav #comment-menu.custom-dropdown-open {
    background-color: #D9DEE4;
}

.top_nav .nav li.nav-item.active > a {
    background-color: #D9DEE4;
}

.top_nav .nav li.nav-item.active > a:hover {
    background-color: #cfd5db;
}

#allauth-template {
    font-size: 16px;
}

#allauth-template .trammel-logo {
    width: 200px;
}

#allauth-template a {
    text-decoration: underline;
}

#allauth-template.allauth-template-in-app {
    position: initial !important;
}

#allauth-template.centering-container {
    position: relative;
    text-align: center;
}

#allauth-template .centered-content {
    display: inline-block;
}

#allauth-template .account-page-content {
    max-width: 800px;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#allauth-template .account-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
    width: 100%;
    justify-content: space-between;

    padding: 1rem;
    border-radius: 3px;
}

#allauth-template .account-page-title {
    font-size: 1.6em;
    font-weight: 700;
    display: inline;
}

#allauth-form {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: min(500px, 85vw);
    /* font-size: 15px; */
    margin-bottom: 2em;
}

#allauth-form .form-description {
    text-align: left;
}

#allauth-form .form-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 4em;
    align-items: baseline;
    text-align: left;
}

#allauth-form .form-input {
    width: 100%;
    font-size: 0.9em;
}

#allauth-form .form-input label {
    font-weight: 600;
}

#allauth-form .block-input {
    display: flex;
    flex-direction: column;
}

#allauth-form .block-input > label {
    margin-bottom: 0.2em;
}

#allauth-form .inline-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#allauth-form .inline-input > label {
    margin-right: 1em;
    margin-bottom: 0px;
}

#allauth-form .input-error label {
    color: var(--error-color);
}

#allauth-form .input-error input {
    border: 2px inset var(--error-color);
    border-radius: 2px;
}

#allauth-form .input-error input:focus-visible {
    outline: 2px outset var(--error-background-color);
}


#allauth-form .form-inputs input[type="text"],
#allauth-form .form-inputs input[type="email"],
#allauth-form .form-inputs input[type="password"] {
    box-sizing: border-box;
    text-indent: 0.8em;
    height: 3em;
    width: 100%;
}

#allauth-form .form-inputs input[type="checkbox"] {
    box-sizing: border-box;
    margin: 0;
    height: 1.5em;
    width: 1.5em;
}

#allauth-form .form-buttons {
    margin-bottom: 0.5em;
}

#allauth-form .form-buttons button {
    padding: 0.7em 1.5em 0.6em;
    font-size: 1em;
    font-weight: 600;
    background-color: var(--color-primary);
    color: var(--text-color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    transition: 0.2s ease-out;
}

#allauth-form .form-buttons button:hover {
    background-color: transparent;
    color: var(--color-primary);
}

#form-text a:hover {
    text-decoration: underline;
}
.error-div {
    color: var(--error-color);
    background-color: var(--error-background-color);
    border: 1px solid #ebccd1;
    border-radius: 4px;
}

#allauth-form .message-error {
    font-size: 0.8em;
    text-align: left;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid transparent;
    border-radius: 4px;
    color: var(--error-color);
    background-color: var(--error-background-color);
    border-color: #ebccd1;
}

#remote-servers-status {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.server-status-description > span {
    padding: 5px;
    display: inline-block;
    width: fit-content;
}

.icon-alert {
    color: var(--error-color);
}

.icon-success {
    color: var(--success-color);
}

.icon-info {
    color: var(--color-primary);
}

.collection-overview-badge-count {
    color: var(--error-color);
    font-weight: bold;
    border-radius: 2px;
}

#collections-overview {
    font-size: 15px;
    min-height: 90vh;
}

#collections-card-list {
    width: 100%;
    padding: 2em;
    display: grid;
    gap: 5em;
    grid-template-columns: repeat(auto-fill, min(25em, 80vw));
    justify-content: center;
}

.collection-card-overview {
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0 rgb(0, 0, 0, 0.2);
    border-radius: 4px;
    min-height: 20em;
}

.collection-card-overview:hover {
    border-color: #9db6d9;
    box-shadow: 0px 0px 5px 1px rgba(74, 117, 159, 0.8);
}

.collection-card-overview-header{
    min-height: 5.95em;
    display: block;
    background-color: var(--color-primary);
    color: aliceblue;
    padding: 1.5em;
    font-weight: bold;
    font-size: 1.3em;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.collection-card-overview-title {
    text-align: center;
}

a.collection-card-overview-header {
    color: aliceblue;
}

a.collection-card-overview-header:hover {
    text-decoration: underline;
}

.collection-card-overview-content {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em
}

a.collection-card-overview-item:hover {
    cursor: pointer;
    background-color: #cde7ff;
    border-radius: 4px;
}

.collection-card-overview-item {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    align-items: center;
    padding: 2px;
}

.collection-card-item-icon {
    flex: 0 0 30px;
    text-align: left;
    font-size: 1.4em;
}

.collection-card-item-details {
    flex-grow: 1;
    text-align: left;
}

@media all and (max-width: 1630px) {
    #collections-overview {
        font-size: 13px;
    }
}

@media all and (max-width: 992px) {
    #allauth-template {
        font-size: 14px;
    }
}

@media all and (max-width: 768px) {
    #allauth-template {
        font-size: 13px;
    }
    #allauth-template .trammel-logo {
        width: 150px;
    }
}

@media all and (max-width: 450px) {
    #allauth-template .trammel-logo {
        width: 100px;
    }
}


#special-issue {
    display: inline-grid;
    padding-left: 13%;
    width: 100%;
}
