.grid {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
}

.gutter-col {
  grid-row: 1/-1;
  cursor: col-resize;
  z-index: 0;
  border-style: solid;
  border-color: darkslategray;
  border-width: 1px;
  border-radius: 4px;
  background-color: #e4eef3;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter-col-1 {
  grid-column: 2;
}