:root {
    --header-height: 150px;
}

/* html,
body {
    height: 100%;
} */

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
}

.page-container {
    position: relative;
    min-height: calc(100% - var(--header-height) - 171px);
    /* 100% - height(header) - height(footer=160) + margin(header=10) + border(footer=1) */
    height: auto !important;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-top: var(--header-height);
}

#breadcrumb {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 24px;
    z-index: 2;
}

.breadcrumb-chevron {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 24px;
    color: #888;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.disabled.breadcrumb-disabled {
    color: #bbb;
}

.nav-pills > li > a,
.nav-pills > li > form > a {
    color: #333;
    font-variant: small-caps;
}

.nav-pills > li > a:hover,
.nav-pills > li > form > a:hover {
    color: #333;
    background-color: #eee;
}

.nav-pills .nav-link.active {
    color: #eee;
    background-color: #333;
}

.header {
    background-color: white;
    position: fixed;
    top: 0;
    height: var(--header-height);
    width: 100%;
    z-index: 10;
}

/*@media (max-height: 250px) {*/
/*    .header {*/
/*        visibility: hidden;*/
/*        opacity: 0;*/
/*        transition: 1.5s;*/
/*    }*/
/*    .page-container {*/
/*        margin-top: 0;*/
/*    }*/
/*}*/

@media screen and (max-width: 1400px) {
    .button-text {
        display: none;
    }
}

.ckeditor-content {
    margin-top: -15px;
    /* display: flex; */
    margin-bottom: 10px;
    /* position: sticky; */
}

.django-ckeditor-widget {
    width: 100%;
    padding-right: 10px;
}


.full-text-button-container {
    display: flex;
    flex-wrap: wrap;
    /* position: sticky; */

    /* z-index: 1; */
}

#buttons-plus-ckeditor {
    position: sticky;
}

.conversion-button {
    border: none;
    border-radius: 5px;
    width: 160px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
}


.conversion-button:hover {
    background: #e4eef3;
    border-radius: 5px;
    border-color: #333;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 160px;
    height: 40px;
}


#bodyHtmlForm {
    /* position: sticky; */
    width: 100%;
    margin-top: -10px;
}

.article_html_preview {
    max-width: inherit;
}

.hmtl_image_preview {
    max-width: 100%;
}

#article-body-html table {
    width:  100%;
    margin-left: 0;
}

.article-body-img {
    max-width: 50%;
    height: auto;
}
.PCJ-Section {
    
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.PCJ-Subsection {
    
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.PCJ-Sub-subsection {
    
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
}

.PCJ-text {
    
    font-size: 14px;
    text-align: justify;
}

.PCJ-caption-figure {
    
    font-size: 11px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.PCJ-Figure {
    text-align: center;
}

.PCJ-table {
    border-collapse: collapse;
    
    font-size: 11px;
    max-width: 90%;
    margin-left: 5%;

    
}

.PCJ-table tbody {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.PCJ-table thead {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.title-row {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.bottom-screen {
    position: fixed;
    z-index: 1;
}

.PCJ-table-legend {
    
    font-size: 11px;
}

.PCJ-note-table {
    
    font-size: 11px;
}

.PCJ-Reference {
    
    font-size: 14px;
}

.PCJ-Equation {
    text-align: center;
    font-size: 14px;
}
.PCJ-OrderedList ol {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10.5pt;
    counter-reset: pcj_equation; /* Réinitialise le compteur */
}

.PCJ-OrderedList ol li {
    counter-increment: pcj_equation; /* Incrémente le compteur à chaque élément de liste */
    display: flex;
    align-items: baseline;
    
}

.PCJ-OrderedList li::before {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10.5pt;
    content: "(" counter(pcj_equation) ")";
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #2e75b6;
}

 ol {
    list-style-type: none;
    counter-reset: pcj_equation; 
}

 ol li {
    counter-increment: pcj_equation;
    display: flex;
    align-items: baseline;
    
}

.article-list::before {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10.5pt;
    content: "(" counter(pcj_equation) ")";
    margin-right: 5px;
} 

figure {
    background-color: white;
    text-align: center;
    margin-bottom: 30px;
}

#article-body-html th {
    display: table-cell;
    vertical-align: middle;
    text-align: inherit;
}

.PCJ-table p {
    display: table-cell;
}

.PCJ-text + .PCJ-text {
    margin-top: -17px;
}

.PCJ-table + .PCJ-text {
    margin-top: 20px;
}

.PCJ-table + .PCJ-Section {
    margin-top: 20px;
}

.highlight {
    background: #E4EEF3;
    transition: all 0.5s ease;
    border: solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #8f9699;
}



.tooltipPCJ {
    position: relative;
}

.tooltipPCJ .tooltiptextshow {
    visibility: visible;
    opacity: 1;
    font-size: 11px;
    border-style: solid;
    border-color: #e4eef3;
    border-width: 2px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    bottom: 100%;
    left:50%;
    z-index: 1;
    min-width: 200px;
    box-shadow: 1px 10px 25px dimgrey;
    padding: 10px;
}

.tooltiptexthidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}


.split {
    height: 100%;
    width: 50%;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: #ffffff;
  }
  
  .right {
    right: 0;
    margin-left: 10px;
    background-color: #ffffff;
  }
  
  .divider {
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 5px;
    cursor: ew-resize;
    background-color: #888;
  }
  
  .split-container {
    display: flex;
  }

h2 {
    font-size: 21px;
}

#article-body-html-title:hover {
    cursor: pointer;
}

.collapse-icon {
    float:right;
    margin-right:10px;
}

.article-page-image-large {
    max-width: 50%;
}

.button-up-page {
    width: 100px; 
    position: fixed;
    bottom:5px;
    right:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-documents {
    padding: 10px;
    margin-bottom: 10px;

}

.next-button {
    font-size: 1em;
    height: 38px;
}

.number-breadcrumb {
    margin-top: 3px;
}

#right-pannel {
    scroll-behavior: smooth;
}

.PCJ-topics-help-text {
    position: absolute;
    top: 103%;
    left: 7.4%;
    font-weight: bold;
}

.cke_notifications_area {
    display: none;
}
