{% if show_context is True and comment.base_url %}
<a target="_blank" href="{{ comment.base_url }}#article-comment-{{ comment.id }}">
  <button id"comment-action-context" class="comment-section-action button-info">
    <i class="fa-solid fa-magnifying-glass"></i><span>Context</span>
  </button>
</a>
{% endif %}
{% if form_moderators %}
<button class="custom-modal-opener comment-moderator-button comment-section-action button-icon button-deactivable"
        data-modal-id="comment-add-moderator-modal"
        data-modal-panel="moderator-modal-panel-add-existing">
  <i class="fa-solid fa-plus"></i>
  <span>Add a moderator</span>
</button>
{% endif %}

{% if comment.can_moderate %}
<button type="submit"
        class="comment-section-action comment-section-action-moderation button-success button-deactivable"
        data-status="{{ comment_status_validated }}"
        data-form-id="{{ form_id }}">
        <i class="fa-solid fa-check"></i><span>Validate</span>
</button>
<button type="submit"
        class="comment-section-action comment-section-action-moderation button-error button-deactivable"
        data-status="{{ comment_status_rejected }}"
        data-form-id="{{ form_id }}">
        <i class="fa-solid fa-xmark"></i><span>Reject</span>
</button>
{% endif %}

{% if delete_form %}
<form method="POST" action="{% url delete_form.post_url pk=comment.id %}" class="form-deactivate-on-submit">
  {% csrf_token %}
  {% for field in delete_form.hidden_fields %}
  {{ field }}
  {% endfor %}
  <button type="submit" class="comment-section-action button-error button-deactivable">
    <i class="fa-solid fa-trash"></i><span>Delete</span>
  </button>
</form>
{% endif %}

{% if comment_form %}
<button type="submit" class="comment-content-submit comment-section-action button-success button-deactivable">
  <span>Submit
</button>
{% endif %}
