<tr data-href="{% url "comment_details" pk=comment.id %}" class="tr-init">
  <td class="comment-list-detail">
    <div class="cell-content cell-content-center">
      <a  class="button-light"
          href="{% url "comment_details" pk=comment.id %}"
          title="View comment details">
        <i class="fa-solid fa-magnifying-glass"></i>
      </a>
      {% if comment.can_moderate %}
      <div class="comment-quick-actions">
        <form method="POST"
              action="{% url validate_form.post_url pk=comment.id %}"
              class="form-deactivate-on-submit"
              title="Validate comment">
          {% csrf_token %}
          {% for field in validate_form.hidden_fields %}
          {{ field }}
          {% endfor %}
          <button type="submit"
            class="comment-section-action comment-section-action-moderation button-success button-deactivable">
            <i class="fa-solid fa-check"></i>
          </button>
        </form>
        <form method="POST"
              action="{% url reject_form.post_url pk=comment.id %}"
              class="form-deactivate-on-submit"
              title="Reject comment">
          {% csrf_token %}
          {% for field in reject_form.hidden_fields %}
          {{ field }}
          {% endfor %}
          <button type="submit"
            class="comment-section-action comment-section-action-moderation button-error button-deactivable">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </form>
      </div>
      {% endif %}
    </div>
  </td>
  <td class="comment-list-site">
    <div class="cell-content cell-content-center">{{ comment.site_name|upper }}</div></td>
  <td class="comment-list-article">
    <div class="cell-content cell-content-center">
      {% if comment.base_url%}
      <a target="_blank" href="{{ comment.base_url }}">{{ comment.doi }}</a>
      {% else %}
      {{ comment.doi }}
      {% endif%}
    </div>
  </td>
  <td class="comment-list-article" data-value="{{ comment.date_submitted|date:"U" }}">
    <div class="cell-content cell-content-center">{{ comment.date_submitted|date:"DATE_FORMAT" }}</div></td>
  <td class="comment-list-status">
    <div class="cell-content cell-content-center"><span class="comment-status comment-status-{{ comment.status }}">{{ comment.status|title }}</span></div>
  </td>
  {% if display_moderators %}
  {% if display_moderated_by %}
  <td class="comment-list-moderated-by">
    <div class="cell-content cell-content-center">{{ comment.moderation_data.moderated_by.first_name }} {{ comment.moderation_data.moderated_by.last_name }}</div></td>
  </td>
  {% else %}
  <td class="comment-list-moderators">
    <div class="cell-content cell-column">
      {% with moderators=comment.moderators_processed.values %}
      {% for moderator in moderators %}
      <div>{% if moderators|length > 1 %}-&nbsp;{%endif%}{{ moderator.first_name }} {{ moderator.last_name }}</div>
      {% endfor %}
      {% endwith %}
    </div>
  </td>
  {% endif %}
  {% endif %}
  {% if display_published %}
  <td class="comment-list-date" data-value="{{ comment.moderation_data.date_moderated|date:"U" }}">
    <div class="cell-content cell-content-center">{{ comment.moderation_data.date_moderated|date:"DATE_FORMAT" }}</div>
  </td>
  {% endif %}
  <td class="comment-list-author">
    <div class="cell-content cell-content-center"><a href="mailto:{{ comment.author_email }}">{{ comment.author_name }}</a></div>
  </td>
  <td class="comment-list-content">
    <div class="comment-content cell-content cell-limit-height cell-content-center"><div>{{ comment.sanitized_html|safe }}</div></div>
    <div class="show-more-overlay more display-none"><span>Show more</span></div>
    <div class="show-more-overlay less display-none"><span>Show less</span></div>
  </td>
</tr>
