{% load i18n %}
<thead>
  <tr>
    <th class="comment-list-detail"><i class="fa-solid fa-sliders"></i></th>
    <th class="comment-list-site cell-header-sort">Journal</th>
    <th class="comment-list-article cell-header-sort">Article</th>
    <th class="comment-list-date cell-header-sort{% if sort_header == "date_submitted" %} sorted ascending{% endif %}">Submitted on</th>
    <th class="comment-list-status cell-header-sort">Status</th>
    {% if display_moderators %}
    {% if display_moderated_by %}
    <th class="comment-list-moderated-by cell-header-sort">Processed by</th>
    {% else %}
    <th class="comment-list-moderators">Moderator(s)</th>
    {% endif %}
    {% endif %}
    {% if display_published %}
    <th class="comment-list-date cell-header-sort{% if sort_header == "date_moderated" %} sorted ascending{% endif %}">Processed on</th>
    {% endif %}
    <th class="comment-list-author cell-header-sort">Author</th>
    <th class="comment-list-content">Comment</th>
  </tr>
</thead>
