{% load helpers %}
{% load cms_tags %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html>
<head>
{% block head %}
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0">
  {% block extra_head %}{% endblock extra_head %}
  <title>
  {% block title %}
    MathS in A. {{ block.super }}
  {% endblock title %}
  </title>
  {% block css %}
    <link rel="stylesheet" href="{% static "ptf/vendors/bootstrap/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "ptf/vendors/font-awesome/css/font-awesome.min.css" %}" />
    <link rel="stylesheet" href="{% static "ptf/vendors/flag-icon/css/flag-icon.min.css" %}" />
    <link rel="stylesheet" href="{% static "ptf/vendors/bootstrap-select/css/bootstrap-select.min.css" %}">
    <link rel="stylesheet" href="{% static "ptf/css/ptf.css" %}" />
    <link rel="stylesheet" href="{% static "ptf/css/style.css" %}" />
    <link rel="stylesheet" href="{% static "ptf/css/search-bar.css" %}" />
    <link rel="stylesheet" href="{% static "msia/css/style_msia.css" %}" />
    <link rel="shortcut icon" type="images/x-icon" href="{% static "msia/img/favicon.ico" %}" />
    {% block extra_css %}
    {% endblock extra_css %}
  {% endblock css %}
  {% include "blocks/header_rss_links.html" %}
{% endblock head %}
</head>
<body>
{% block body %}

  {% block top %}
    {% include "top.html" %}
  {% endblock top %}

  {% block menu_top %}{% endblock menu_top %}

  <div class="page-container">
    {% block container %}
    <div class="row">
      {% if display_new_articles %}
        <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1 ">
              <h4 class="recent-articles-header">{% trans 'Présentation' %}</h4>
      {% elif page %}
          <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3"></div>
          <div class="col-xs-12 col-sm-10 col-md-10 col-md-offset-1 col-lg-7 regular-content">
         {% elif results %}
            <div class="col-12 regular-content">
        {% else %}
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 regular-content">
      {% endif %}

        {% block content %}

          <div id="content" class="wrapper-float">
            {% block content_top %}
            {% endblock %}
            {% block left %}
              <div id="left">
                {% block menu_left %}{% endblock %}
                {% block content_left %}{% endblock %}
              </div>
            {% endblock left %}
            <div id="center">
              {% block breadcrumb %}
                {% if not page %}
                  <div class="row">
                    <div class="col-md-12 col-lg-3 col-lg-push-9 btn-tex">
                      {% include "common/tex.html" %}
                    </div>
                    <div class="col-xs-12 col-lg-9 col-lg-pull-3 article-breadcrumb">
                      {% include "common/breadcrumb.html" with page=page item_pid=pid %}
                    </div>
                  </div>
                {% endif %}
              {% endblock breadcrumb %}
              {% block center_header %}{% endblock %}
              {% block center_middle %}
                {% include "mersenne_cms/page_content.html" %}
              {% endblock %}
              {% block center_footer %}{% endblock %}
            </div>
            {% block right %}
              <div id="right">
                {% block menu_right %}{% endblock %}
                {% block content_right %}{% endblock %}
              </div>
            {% endblock right %}
          </div>
        {% endblock content %}
      </div>
      {% if display_new_articles %}
        <div class="col-xs-12 col-sm-5 col-sm-offset-1  col-lg-5 col-lg-offset-1 recent-articles">
          <h4 class="recent-articles-header">{% trans 'Articles récents' %}</h4>


    {% for article in latest_articles %}

        <div class="col-xs-12 col-lg-6">
          <div class="article-image-grid">
            {% if article.icon %}
              <a href="{% url 'article' article.pid %}"><img src="{{ article.icon }}" alt="" class="article-icon-grid"></a><br/>
            {% endif %}
          </div>
          <div class="article-text-grid">
            <h4><a href="{% url 'article' article.pid %}">{% include 'common/common-title.html' with item=article for_search=True %}</a></h4>
            <p>{% include 'common/common-contrib.html' with item=article %}</p>
            <div class="block-with-ellipsis ">
              {% for abstract in article.abstract_set.all %}

                {% if request.session.formula_display == 'tex' %}
                  {{ abstract.value_tex|safe }}
                {% else %}
                  {{ abstract.value_html|safe }}
                {% endif %}

            {% endfor %}
            </div>
            <div style="float:left">
              {% comment %}Published: {{ article.date_published|date:"Y-m-d" }}{% endcomment %}
              {% if article.date_published %}{% trans "Mis en ligne le : " %}<time datetime="{{ article.date_published|date:'Y-m-d' }}">{{ article.date_published|date:"Y-m-d" }}</time>{% endif %}
            </div>
            <div style="float:right">
              {% with binary_files=article.get_binary_files_href.self %}
                {% if binary_files.pdf %}
                  <strong><a href="{{ binary_files.pdf |replace_basename_binary_file }}">PDF</a></strong>
                {% endif %}
              {% endwith %}
            </div>
          <div class="clearfix"></div>
        </div>

      </div>
    {% endfor %}
          {% if latest_articles|length > 2 %}
          <div class="clearfix"></div>
            <div class="col-12 pull-right" style="margin-top: 20px;"><a href="{% url 'issue-items' issue.pid %}" style="padding-right:15px; ">View More...</a></div>
          {% endif %}
        </div>

      {% endif %}
    </div>
    {% endblock container %}
  </div>

  {% block footer %}
    {% include "footer.html" %}
  {% endblock footer %}

  {% block js %}
    <script type="text/javascript" src="{% static "ptf/vendors/jquery/js/jquery-3.5.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "ptf/vendors/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "ptf/vendors/bootstrap-select/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "ptf/vendors/bootstrap-select/js/defaults-fr_FR.min.js" %}"></script>
    <script src="{% static "ptf/vendors/clipboard/js/clipboard.min.js"%} "></script>
    <script src="{% static "ptf/vendors/dotdotdot/js/jquery.dotdotdot.js" %}"></script>
    <script type="text/javascript" src="{% static "ptf/js/ptf.js" %}"></script>
    <script type="text/javascript" src="{% static "ptf/js/search-bar.js" %}"></script>
    <script src="{% static "msia/js/msia.js" %}"></script>
    {% if request.session.formula_display != 'tex' %}
    <script src="{% static "ptf/js/mathjax-config.js" %}" defer></script>
    <script type="text/javascript" id="MathJax-script" defer
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    {% endif %}
    {% block extra_js %}
    {% endblock extra_js %}
  {% endblock js %}
{% endblock body %}
</body>
</html>
