{% load static %}
{% load i18n %}
{% load cms_tags %}
<div id="footer">

  <div class="logos-footer">
    <div id="logo-left-container">
      <div class="logo-container">
        <div class="logo-img">
          <a href="http://smai.emath.fr/"><img class="img-footer" src="{% static "msia/img/smai_logo.png" %}"></a>
        </div>
        <div class="logo-text">
          <span>Published by<br/>Société de Mathématiques Appliquées et Industrielles</span>
        </div>
      </div>
      <div class="logo-container">
        <div class="logo-img">
          <a href="http://www.mathdoc.fr"><img class="img-footer-mathdoc" src="{% static "mersenne_cms/img/logo-mathdoc-footer.png" %}"></a>
        </div>
        <div class="logo-text">
          <span>Developed by<br>Mathdoc</span>
        </div>
      </div>
    </div>
    <div id="logo-right-container">
      <div class="logo-container">
        <div class="logo-img">
          <a href="http://www.centre-mersenne.org"><img class="img-footer" src="{% static "msia/img/logo-mersenne-msia.png" %}"></a>
        </div>
        <div class="logo-text logo-text-mersenne">
          <span>for open scientific publishing</span>
        </div>
      </div>
    </div>
  </div>

  <div class="text-footer">
    <div class="footer-text">
      {% include "footer_issns.html" %}
      {% now "Y" as cur_year %}
<!--      <span>©&nbsp;2019{% if cur_year != "2019" %} - {{cur_year}}{% endif %}&nbsp;</span><a href="http://www.centre-mersenne.org">Centre Mersenne</a>, <a href="{% url 'home' %}"><i>MathematicS in Action</i></a>, and the authors-->
    </div>
    <div class="menu-footer">
      {% get_all_pages request 'bottom' as pages %}
      <nav class="navbar navbar-default menu-bottom">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
          <li>
            <a href='{% url 'syndication-feed' %}' alt='syndication feed'>
              <i class="fa fa-rss" aria-hidden="true"></i> {% trans "Nous suivre" %}
            </a>
          </li>

          {% for page, sub_pages, is_active in pages %}
            {% if sub_pages %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-link" data-toggle="dropdown" >{{ page.menu_title }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% for sub_page in sub_pages %}
                  {% with sub_page.slug as slug %}
                    <li><a href="{% url 'page_detail' slug %}" class="menu-link">{{ sub_page.menu_title }}</a></li>
                  {% endwith %}
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              {% if page.is_link %}
                {% with page.slug as slug %}
                  <li><a href="{% url 'page_detail' slug %}" class="menu-link">{{ page.menu_title }}</a></li>
                {% endwith %}
              {% else %}
                <li><a href="#" class="menu-link">{{ page.menu_title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="clearfix" />
</div>
