{% load i18n %}
{% load static %}
{% load cms_tags %}
{% load helpers %}

{% get_all_pages request 'top' as pages %}
{% url 'home' as home_url %}

<div id="mersenne-header">
  <div class="journal-logo ">
    <div class="journal-logo-inner">
      <a href="{% url 'home' %}" >
        <img class="logo" src="{% static "msia/img/logo.png" %}">
      </a>
    </div>
  </div>
  <div class="journal-header-content">
    <div class="journal-menu">
      <nav class="navbar navbar-default menu-top navbar-right">
        <div class="acontainer-fluid">

          <ul class="nav navbar-nav ">
            <li {% if request.get_full_path == home_url %}class="active"{% endif %}><a href="/" class="menu-link"><i style='font-size: 17px' class="glyphicon glyphicon-home"></i>
</a></li>
          {% for page, sub_pages, is_active in pages %}
            {% if sub_pages %}
              <li class="dropdown {% if is_active %}active{% endif %}">
                <a href="#" class="dropdown-toggle menu-link" data-toggle="dropdown" >{{ page.menu_title }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% for sub_page in sub_pages %}
                  {% with sub_page.slug as slug %}
                    <li><a href="{% url 'page_detail' slug %}" class="menu-link">{{ sub_page.menu_title }}</a></li>
                  {% endwith %}
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              {% if page.is_link %}
                {% with page.slug as slug %}
                  <li {% if is_active %}class="active"{% endif %}><a href="{% url 'page_detail' slug %}" class="menu-link">{{ page.menu_title }}</a></li>
                {% endwith %}
              {% else %}
                <li><a href="#" class="menu-link">{{ page.menu_title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
                <li><a href="/journals/MSIA" class="menu-link">{% filter upper %}{% trans 'Feuilleter'%}{% endfilter %}</a></li>
          </ul>
 {% get_language_info_list for LANGUAGES as languages %}
          <form class="navbar-form " id="language_selector" action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <select class="selectpicker" data-width="fit" name="language" onchange="this.form.submit()">
              {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %} data-content='<span><span class="flag-icon {% get_flag_icon language.code %}"></span></span>'>
                  {{ language.name_local }}
                </option>
              {% endfor %}
            </select>
          </form>
        </div>
      </nav>
    </div>
    <div class="journal-simple-search">
      <form method="post" action="{% url 'search' %}">{% csrf_token %}
        <div class="input-group">
          <input class="searchinput form-control" type="text" name="q0" value="{{ qs.0.value }}"{% trans 'Rechercher des articles, des auteurs...' %}/>
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
        <input type="hidden" name="qt0" value="all">
      </form>
    </div>
  </div>
  <div style="clear: both"></div>
</div>
