{% comment %} {% extends "mersenne_cms/base.html" %} {% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static " css/style_lepede1.css " %}" />
{% endblock extra_css %}

{% block base_title%}{{ block.super }}
{% endblock base_title %}

{% block extra_js %}
{% endblock extra_js %}
{% endcomment %}
{% load static %}
{% load i18n %}
{% load ahl_tags %}

<html xml:lang="en-US" lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block extra_head %}{% endblock extra_head %}
  <title>Annales Henri Lebesgue</title>
  <link rel="icon" href="{% static "ahl/lebesgue/icon/favicon_en_US.png" %}">
  <meta name="description" content="A generalist, quality peer-reviewed, open access mathematics journal">
  <link rel="stylesheet" href="{% static "ptf/vendors/bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:light">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono">

  <link rel="stylesheet" href="{% static "ptf/vendors/font-awesome/css/font-awesome.min.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/css/ptf.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "ptf/css/search-bar.css" %}" />
  <link rel="stylesheet" href="{% static "ahl/lebesgue/css/style.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "ahl/css/style_ahl.css" %}" type="text/css">
  {% include "blocks/header_rss_links.html" %}
</head>

<body class="{% if request.path == '/' %}pkp_page_index {% endif %}pkp_op_index has_site_logo" dir="ltr">
  <div class="cmp_skip_to_content">
    <a href="#pkp_content_main">Skip to main content</a>
    <a href="#pkp_content_nav">Skip to main navigation menu</a>
    <a href="#pkp_content_footer">Skip to site footer</a>
  </div>
  <div class="pkp_structure_page">
    <header class="pkp_structure_head" id="headerNavigationContainer" role="banner">
      <div class="pkp_head_wrapper">
        <div class="pkp_site_name_wrapper">
          {% block page_title %}
          <h1 class="pkp_site_name">
            <a href="/" class="is_img" style="width: 92px; height: 100px;">
              <img src="{% static "ahl/img/logo.svg" %}" alt="Annales Henri Lebesgue" style="margin-top: 0px; margin-left: 0px; position: absolute; top: 10px; left: 0px;" width="487" height="422">
            </a>
          </h1>
          {% endblock page_title %}
        </div>
        <nav id="pkp_content_nav" class="pkp_navigation_primary_row navDropdownMenu" aria-label="Site Navigation">
          <div class="pkp_navigation_primary_wrapper">
            <div class="pkp_navigation_primary">
              <div class="hline top"></div>
              <ul id="navigationPrimary" class="pkp_nav_list" style="opacity: 1;">
                <li aria-haspopup="true" aria-expanded="false" class="with-submenu">
                  <div>
                    <a href="{% url 'articles' %}">contents</a>
                    <div class="circle" style="margin-top: 7px; margin-left: 0px; margin-right: 0px; position: absolute; top: 4px; left: 36px; opacity: 0.3;"></div>
                  </div>
                  <ul>
                    <li style="padding-left: 0px; padding-right: 0px;">
                      <a href="/search-form">Search</a>
                    </li>
                    <li style="padding-left: 0px; padding-right: 0px;">
                      <a href="/page/coming-articles">Articles to appear</a>
                    </li>
                    <li style="padding-left: 0px; padding-right: 0px;">
                      <a href="{% url 'articles' %}">Latest articles</a>
                    </li>
                    <li style="padding-left: 0px; padding-right: 0px;">
                      <a href="{% url 'item_id' 'AHL' %}">All issues</a>
                    </li>
                  </ul>
                </li>
                <li style="padding-left: 0px; padding-right: 0px;">
                  <div>
                    <a href="https://annales.lebesgue.fr/index.php/AHL/about/editorialTeam">editorial board</a>
                    <div class="circle" style="margin-top: 0px; margin-left: 0px; margin-right: 0px; position: absolute; top: 4px; left: 63px; opacity: 0.3;"></div>
                  </div>
                </li>
                <li>
                  <div>
                    <a href="https://annales.lebesgue.fr" class="is_text">henri lebesgue</a>
                    <div class="annales_text">annales</div>
                  </div>
                </li>
                <li>
                  <div>
                    <a href="https://annales.lebesgue.fr/index.php/AHL/submission_fast">submission</a>
                    <div class="circle" style="margin-top: 0px; margin-left: 0px; margin-right: 0px; position: absolute; top: 4px; left: 58px; opacity: 0.3;"></div>
                  </div>
                </li>
                {% comment %}
                <li>
                  <div>
                    <a href='{% url 'latest-articles-feed' name=request.site.name %}' alt='latest articles published feed'>
                      <i class="fa fa-rss" aria-hidden="true"></i>
                    </a>
                    <div class="circle" style="margin-top: 0px; margin-left: 0px; margin-right: 0px; position: absolute; top: 4px; left: 58px; opacity: 0.3;"></div>
                  </div>
                </li>
                {% endcomment %}
                <li aria-haspopup="true" aria-expanded="false" class="with-submenu">
                  <div>
                    <a href="https://annales.lebesgue.fr/index.php/AHL/about">About</a>
                    <div class="circle" style="margin-top: 0px; margin-left: 0px; margin-right: 0px; position: absolute; top: 4px; left: 36px; opacity: 0.3;"></div>
                  </div>
                  <ul>
                    <li style="padding-left: 0px; padding-right: 0px;">
                      <a href="https://annales.lebesgue.fr/index.php/AHL/about/news">NEWS</a>
                    </li>
                    <li style="padding-left: 0px; padding-right: 0px;">
                      <a href="https://annales.lebesgue.fr/index.php/AHL/about">ABOUT THE JOURNAL</a>
                    </li>
                    <li style="padding-left: 0px; padding-right: 0px;">
                      <a href="https://annales.lebesgue.fr/index.php/AHL/about/faq">FAQ</a>
                    </li>
                    <li style="padding-left: 0px; padding-right: 0px;">
                      <a href="https://annales.lebesgue.fr/index.php/AHL/about/contact">Contact</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="hline bottom"></div>
            </div>
          </div>
        </nav>
      </div>
      <!-- .pkp_head_wrapper -->
    </header>
  </div>

    <!-- .pkp_structure_head -->
    <div class="pkp_structure_content has_sidebar">
      <div id="pkp_content_main" class="pkp_structure_main pkp_structure_frontend" role="main">

        <div class="page-container">
          {% block container %}
            {% block content %}
              <div id="content" class="wrapper-float">
                {% block content_top %}
                {% endblock %}
                {% block left %}
                  <div id="left">
                    {% block menu_left %}{% endblock %}
                    {% block content_left %}{% endblock %}
                  </div>
                {% endblock left %}
                <div id="center">
                  {% block center_header %}{% endblock %}
                  {% block center_middle %}
                    {% include "mersenne_cms/page_content.html" %}
                  {% endblock %}
                  {% block center_footer %}{% endblock %}
                </div>
                {% block right %}
                  <div id="right">
                    {% block menu_right %}{% endblock %}
                    {% block content_right %}{% endblock %}
                  </div>
                {% endblock right %}
              </div>
            {% endblock content %}
          {% endblock container %}
        </div>

        <!-- .page -->
      </div>
      <!-- pkp_structure_main -->
    </div>
    <!-- pkp_structure_page -->


  {% block footer %}
     {% include "footer.html" %}
  {% endblock footer %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js" type="text/javascript"></script>
  <script src="{% static "ahl/lebesgue/js/frontend.min.js" %}" type="text/javascript"></script>
  <script type="text/javascript" src="{% static "ptf/vendors/bootstrap/js/bootstrap.min.js" %}"></script>
  <script src="{% static "ptf/vendors/clipboard/js/clipboard.min.js"%} "></script>
  <script type="text/javascript" src="{% static "ptf/js/ptf.js" %}"></script>
  <script type="text/javascript" src="{% static "ptf/js/search-bar.js" %}"></script>
  <script src="{% static "ptf/js/mathjax-config.js" %}" defer></script>
  <script type="text/javascript" id="MathJax-script" defer
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
</body>

</html>
