{% load static %}
{% load i18n %}
{% load cms_tags %}

<div class="pkp_structure_footer">
  <div id="pkp_content_footer" class="pkp_structure_main pkp_structure_frontend">
    <div class="pkp_navigation_primary">
      <div class="hline top"></div>
      <div style="margin-top: 10px">
        <div style="float: left; text-align: left">
          {% include "footer_issns.html" %}
          {% now "Y" as cur_year %}
<!--          <span>©&nbsp;2018 - {{cur_year}}&nbsp;</span><a href="http://www.centre-mersenne.org">Centre Mersenne</a>, <a href="https://annales.lebesgue.fr">Annales Henri Lebesgue</a>, and the authors-->
        </div>
        {% get_all_pages request 'bottom' as pages %}
        <div class="page_article_ahl" style="float: right; margin-top: 10px; margin-left: 20px">
        <ul class="actions">
          <li>
            <a href='{% url 'syndication-feed' %}' alt='syndication feed'>
              <i class="fa fa-rss" aria-hidden="true"></i> {% trans "Nous suivre" %}
            </a>
          </li>
          <li><a href="/page/legal-notice_en">Legal Notice</a></li>
        </ul>
        </div>
        <!--<nav class="navbar navbar-default menu-bottom">-->
          <!--<div class="container-fluid">-->
            <!--<ul class="nav navbar-nav">-->
              <!--<li><a href="/page/legal-notice_en">Legal Notice</a></li>-->
              <!--<li><a href="/page/contact_en">Contact</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</nav>-->
      </div>
    </div>
  </div>
</div>

