{% load i18n %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
<div>
  <form class="row g-3" method="post" action="{% url 'search' %}">{% csrf_token %}
    <div class="d-flex align-items-start mb-3">
      {% if with_browse %}
      <div class="col-2" style="padding-left:0px;padding-right:0px;width:118px">
        <a href="{% url 'journal-issues' COLLECTION_PID %}" class="btn btn-primary">{% trans 'Feuilleter' %}</a>
      </div>
      <div class="col-1 browse-or"><em>{% trans 'ou' %}</em></div>
      <div class="col-7" id="line-container">
      {% elif with_articles %}
      <div class="col-2" style="padding-left:0px;padding-right:0px;width:118px">
        <a href="{% url 'articles' %}" class="btn btn-primary">{% trans 'Afficher les articles' %}</a>
      </div>
      <div class="col-1 text-center"><em>{% trans 'ou' %}</em></div>
      <div class="col-7" id="line-container">
      {% else %}
      <div class="col-9 offset-1" id="line-container">
      {% endif %}
      <div class="input-group search-group">
        <div class="search-group-inner d-flex input-group">
          <input class="searchinput border-0 form-control px-2 py-1" type="text" name="q0" value="{{ qs.0.value }}"
                 {% if not qs.0.name or qs.0.name == 'all' %}placeholder="{% if COLLECTION_PID == 'ALL' %}{% trans 'Rechercher des articles, des livres...' %}{% else %}{% trans 'Rechercher des articles, des auteurs...' %}{% endif %}"{% endif %}/>
          <span class="searchclear fa fa-remove hidden" aria-label="Clear"></span>
          <input type="hidden" name="qt0" value="{% if qs.0.name %}{{ qs.0.name }}{% else %}all{% endif %}">
          <button id="category-filter" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            {% if not qs.0.name or qs.0.name == 'all' %}
              {% trans 'Tout' %}
            {% elif qs.0.name == 'author' %}
              {% trans 'Auteur' %}
            {% elif qs.0.name == 'body' %}
              {% trans 'Plein texte' %}
            {% elif qs.0.name == 'references' %}
              {% trans 'Bibliographie' %}
            {% else %}
              {% trans 'Titre' %}
            {% endif %}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">{% trans 'Tout' %}</a></li>
            <li><a class="dropdown-item" href="#">{% trans 'Auteur' %}</a></li>
            <li><a class="dropdown-item" href="#">{% trans 'Titre' %}</a></li>
            <li><a class="dropdown-item" href="#">{% trans 'Bibliographie' %}</a></li>
            <li><a class="dropdown-item" href="#">{% trans 'Plein texte' %}</a></li>
          </ul>
          <button id="add-search-field" type="button" class="btn btn-primary">
            <span class="bi bi-plus-lg"></span>
          </button>
        </div>
      </div><!-- /input-group -->

        {% for obj in qs|slice:"1:" %}
          {% include "ptf/bs5/common/search/search-form.html" with i=forloop.counter obj=obj write_template=False %}
        {% endfor %}

      </div>
      <div class="col-2 search-button-div text-end">
        <button type="submit" class="btn btn-primary" name="Submit">
          <i class="bi bi-search"></i>
          <span id="search-button-text">{% trans 'Rechercher' %}</span>
        </button>
        {% block help %}
        {% if not with_browse and not with_articles %}
          <a href="{% url 'help' %}"><img src="/static/mersenne_cms/img/question.png" alt="{% trans 'Help' %}"></a>
        {% endif %}
        {% endblock help %}
      </div>
    </div>
  </form>
  <div id="template-search-form" style="display:none">
    {% include "ptf/bs5/common/search/search-form.html" with write_template=True %}
  </div>
</div>
