{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_css %}
<link href="{% static 'vuejs/css/app.css' %}" rel="preload" as="style">
<link href="{% static 'vuejs/js/app.js' %}" rel="preload" as="script">
<link href="{% static 'vuejs/js/chunk-vendors.js' %}" rel="preload" as="script">
<link href="{% static 'vuejs/css/app.css' %}" rel="stylesheet">
<style>
.page-container {
  margin-top: 15rem;
}
.header {
  height: 15rem;
}
</style>
{% endblock extra_css %}

{% block center_middle %}
<div id="app">
  <Article></Article>
</div>

<script>
  window.submission_id = {{ submission.pk }}
  window.is_staff = {{ is_staff }}
</script>
<form onsubmit="return confirm('Do you really want to delete the submission?');" id="form-delete-{{submission.pk}}" action={% url 'submission-delete' submission.pk %} method="POST">
  {% csrf_token %}
  <button type="submit" name="submit" class="btn btn-link mt-4 p-0">Delete submission</button>
</form>
{% endblock center_middle %}

{% block extra_js %}
<script src="{% static 'vuejs/js/chunk-vendors.js' %}"></script>
<script src="{% static 'vuejs/js/app.js' %}"></script>
{% endblock %}

