{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block center_middle %}
<div class="container">
<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-10 col-lg-10 col-xl-9 ">
    <div style="margin-left:-15px">
      {% if article.icon %}
      <div class="article-page-image-large" style="float:right">
        <img src="{{ article.icon }}" alt="" class="article-icon-grid">
      </div>
      <div class="article-page-content">
      {% else %}
      <div>
      {% endif %}
        {% block specific %}

        <div class="article-subj">Section: {{ article.get_pci_value }}</div>
        {% with topics=article.get_topics %}
        {% if topics %}
        <div class="article-subj">Topic: {{topics}}</div>
        {% endif %}
        {% endwith %}
        {% with conference=article.get_conference %}
        {% if conference %}
        <div>Conference: {{conference}}</div>
        {% endif %}
        {% endwith %}

        <div style="font-size:18px;margin-bottom:10px">
          {% include 'common/common-title.html' with item=article %}
        </div>
        <div style="margin-bottom:5px; font-size: 16px">
          {% include 'common/common-contrib.html' with item=article %}
        </div>
        {% endblock %}
        <div style="margin-bottom:10px">
          {% include 'common/common-info-article.html' %}
        </div>

        <div style="margin-top:20px;margin-bottom:20px">
          {% include 'common/common-binary-files.html' with embargo=article.my_container.embargo binary_files=article.get_binary_files_href.self display_embargo_text=True website=article.get_collection.website doi=article.get_doi_href %}
        </div>
      </div>
      <div class="clearfix"></div>

      {% include 'common/common-relations.html' %}
      {% include 'common/common-abstract.html' with resource=article %}
      {% include 'common/common-tabs.html' with resource=article howtocite=article.get_citation bibtex=article.get_bibtex %}
      {% comment %} <div id="article-body-html" class="open-on-outline-submenu collapse-body collapse in"> {% endcomment %}
      {% include 'common/common-article.html' %}
        {% comment %} {% if SHOW_BODY or body_html%}
          <div id="article-body-html">
          {{ article.body_html|safe }}
          </div>
        {% endif %} {% endcomment %}
      {% comment %} </div> {% endcomment %}
      {% include 'common/common-bibliographie.html' with resource=article %}

    </div>
  </div>
</div>
</div>
{% endblock center_middle %}


