{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block extra_css %}
<style>
.page-container {
  margin-top: 15rem;
}
.header {
  height: 15rem;
  z-index: 1;
}
</style>

{% endblock extra_css %}

{% block center_middle %}
  
  <div class="grid">
    <div id="left-pannel">
      <h2>Article HTML conversion</h2>
      {% if not article.body_html %}
      <p>You can upload your '.docx' article in the 'Finalize Submission' at the field 'Source'.</p>
      <p>When it's done, a 'convert' button will appear.</p>
      <p>By clicking on it, your '.docx' article will be converted in html format.</p>
      {% endif %}
      <div id="buttons-plus-ckeditor">
        <div class="full-text-button-container">
          {% if source and source.file %}
          <form method="POST" action="{% url "convert-file" colid doi %}" enctype="multipart/form-data">
              <button class='convert-button conversion-button ' >Convert</button>
              {% csrf_token %}
          </form> 
          {% endif %}
          {% if article.body_html %}
          <input id="submitBodyHtmlButton" class="conversion-button" type="submit" value="Save" >
          <!-- Button trigger modal -->
          <button type="button" class="conversion-button" data-bs-toggle="modal" data-bs-target="#deleteBodyHtmlModal">
            Delete html version
          </button>
          <a class="btn btn-lg btn-success {% if not is_submission_valid or not is_article_valid %}disabled{% endif %}" href="{% url 'submission-finalize' submission_id %}" style="font-size: 1em; height: 40px;">Next</a>
          {% endif %}
        </div>
        {% if article.body_html %}
        <div class="ckeditor-content">
            <form id="bodyHtmlForm"  method="POST" action="{% url "save-convert-page" colid doi %}" enctype="multipart/form-data">
                <br/>
                {{ form.media }}
                {{ form.content }}
                <br/>      
                {% csrf_token %}
            </form>
        </div>
        {% endif %}
      </div>
      

      
    </div>

    <div class="gutter-col gutter-col-1"></div>
    
    <div id="right-pannel">
      <div class="row d-flex justify-content-center align-items-center h-100"> 
        <div class="col-md-11 col-lg-11 col-xl-10 ">
          {% include 'common/article/article.html' %}
        </div>
      </div>
      <div class="button-up-page" >
        <div style="font-size:40px;">
          <a href="#pcj-title-block"><i class="bi bi-arrow-up-circle-fill" style="color:#e4eef3; -webkit-text-stroke-width: 0.02em;
        -webkit-text-stroke-color: black;"></i></a>
        </div>
        <a class="btn btn-lg btn-success {% if not is_submission_valid or not is_article_valid %}disabled{% endif %}" href="{% url 'submission-finalize' submission_id %}" style="font-size: 1em; height: 40px; margin-left:11px; margin-bottom:5px;">Next</a>
      </div>
    </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="deleteBodyHtmlModal"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="delete-modal modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm delete</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          </br>
          Warning! 
          You are about to delete the html version of the article.
          </br>
        </div>
        <div class="delete-modal modal-footer">
          <form method="POST" action="{% url "delete-convert" colid doi %}">
          <input type="submit" class="btn btn-danger" data-bs-dismiss="modal" value="Delete">
          {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div>
  
</div>




{% endblock center_middle %}

{% block extra_js %}
<script src="{% static 'vuejs/js/chunk-vendors.js' %}"></script>
<script src="{% static 'editor/js/full_text.js' %}"></script>
{% endblock %}
