{% load cms_tags %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block extra_head %}{% endblock extra_head %}

  <title>{% block title %}PCJ Submission {{ block.super }}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static "ptf/vendors/font-awesome/css/font-awesome.min.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/css/full_text.css" %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="{% static "editor/css/style_editor.css" %}" />
  <link rel="stylesheet" href="{% static "editor/css/split-grid-style.css" %}">
  <link rel="stylesheet" href="{% static "ptf/css/ptf.css" %}">
  {% comment %} <link rel="stylesheet" href="{% static "ptf/css/full_text.css" %}"> {% endcomment %}
  <link rel="stylesheet" href="{% static "ptf/css/bs5/base.css" %}" />
  

  <link rel="shortcut icon" type="images/x-icon" href="{% static 'editor/img/favicon.ico' %}" />
  {% block extra_css %}
  {% endblock extra_css %}
  {% include "blocks/header_rss_links.html" %}
</head>

<body>
  <div class="all-but-footer">
    {% include "top.html" %}
    <content>
      <div class="clearfix"></div>
      <div class="container-fluid page-container">

        {% block container %}
        {% block content %}
        {% block left %}
        {% block content_left %}
        {% endblock content_left %}
        {% endblock left %}

        {% block center_header %}
        {% endblock center_header%}

        {% block center_middle %}
        <div class="row d-flex mt-5">
          <div class="col-md-8 col-lg-8 col-xl-8 offset-xl-2">
            {% include "mersenne_cms/page_content.html" %}
          </div>
        </div>
        {% endblock center_middle%}

        {% block center_footer %}
        {% endblock center_footer %}
        {% endblock content %}
        {% endblock container %}
      </div>
    </content>
  </div>


  <script src="{% static "ptf/vendors/jquery/js/jquery-3.5.1.min.js" %}"></script>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  <script src="{% static "ptf/vendors/clipboard/js/clipboard.min.js"%} "></script>
  <script type="text/javascript" src="{% static "ptf/vendors/bootstrap-multiselect/js/bootstrap-multiselect.js" %}"></script>
  
  <script type="text/javascript" src="https://unpkg.com/split-grid/dist/split-grid.js"></script>
  <script src="{% static "editor/js/split.js" %}"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.12.1/sorting/natural.js"></script>
  {% if request.session.formula_display != 'tex' %}
  <script src="{% static "ptf/js/mathjax-config.js" %}" defer></script>
  <script type="text/javascript" id="MathJax-script" defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
  {% endif %}
  <script src="{% static "editor/js/editor.js" %}"></script>
  {% block extra_js %}{% endblock extra_js %}
</body>

</html>

