{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block extra_css %}
<style>
.page-container {
  margin-top: 15rem;
}
.header {
  height: 15rem;
  z-index: 1;
}
</style>

{% endblock extra_css %}

{% block center_middle %}
  
  <div class="grid">
    <div id="left-pannel">
      <h2>Post publication modification</h2>

      <div id="buttons-plus-ckeditor">
        <div class="full-text-button-container">
          {% if article.body_html %}
          <input id="submitBodyHtmlButton" class="conversion-button" type="submit" title="Save and publish modifications" value="Save modifications" >
          <form action="{% url 'post-publication-update' colid doi %}" method="POST">
            {% csrf_token %}
            <button  id='postPublicationUpdate' class="conversion-button" type="submit" value="Update article" >
            Update article  
            </button>
          </form>
          
          {% endif %}
        </div>
        {% if article.body_html %}
        <div class="ckeditor-content">
            <form id="bodyHtmlForm"  method="POST" action="{% url "post-publication-modification" colid doi %}" enctype="multipart/form-data">
                <br/>
                {{ form.media }}
                {{ form.content }}
                <br/>      
                {% csrf_token %}
            </form>
        </div>
        {% endif %}
      </div>
      

      
    </div>

    <div class="gutter-col gutter-col-1"></div>
    
    <div id="right-pannel">
      <div class="row d-flex justify-content-center align-items-center h-100"> 
        <div class="col-md-11 col-lg-11 col-xl-10 ">
          {% include 'common/article/article.html' %}
        </div>
      </div>
      <div class="button-up-page" >
        <div style="font-size:40px;">
          <a href="#pcj-title-block"><i class="bi bi-arrow-up-circle-fill" style="color:#e4eef3; -webkit-text-stroke-width: 0.02em;
        -webkit-text-stroke-color: black;"></i></a>
        </div>
      </div>
    </div>
  </div>



{% endblock center_middle %}

{% block extra_js %}
<script src="{% static 'vuejs/js/chunk-vendors.js' %}"></script>
<script src="{% static 'editor/js/full_text.js' %}"></script>
{% endblock %}