{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block extra_css %}
<link href="{% static 'vuejs/css/app.css' %}" rel="preload" as="style">
<link href="{% static 'vuejs/js/app.js' %}" rel="preload" as="script">
<link href="{% static 'vuejs/js/chunk-vendors.js' %}" rel="preload" as="script">
<link href="{% static 'vuejs/css/app.css' %}" rel="stylesheet">
<style>
.page-container {
  margin-top: 15rem;
}
.header {
  height: 15rem;
  z-index: 1;
}
</style>
{% endblock extra_css %}

{% block center_middle %}
<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-8 col-lg-6 col-xl-4">
    <h3 style="font-weight:bold;">Summary</h3>
    <div style="margin-left:10px; margin-bottom:50px;">
      <p class="form-label"><strong>Preprint ID</strong>: {{ doi }}</p>
      <p class="form-label"><strong>Title</strong>: {{ artitcle_title|safe }} </p>

      <p class="form-label"><strong>Recommendation DOI</strong>: {{ recommendation_doi }}</p>
    </div>
    

    <p>Before submitting, please take a moment to review the files you've provided.</p>
    
    <h3 style="font-weight:bold">Files</h3>
    
    <div class="check-documents">
      
      <p class="form-label"><strong>PDF</strong>: {{ pdf_file_name }}</p>

      <p class="form-label"><strong>Illustration image</strong>: {{ article_image }}</p>

      <p class="form-label"><strong>Source</strong>: {{ source_file_name }}</p>

      <p class="form-label"><strong>Bibliographie</strong>: {{ biblio_file_name }}</p>
    </div>
    
    <div>
      <h3>Modifications</h3>
      <p>If you need to make changes, use the <a href="{% url 'submission-update' submission_id %}">"Files"</a> or <a href="{% url 'edit-article' colid doi %}">"Edit article metadata"</a> tabs or delete the submission using the link below</p>
    </div>
    <form method="post" enctype="multipart/form-data" id="submission-form">
      {% csrf_token %}
      <p>If everything is correct, you can now submit your article. <button type="submit" class="btn btn-success {% if not is_submission_valid or not is_article_valid %}disabled{% endif %}" name="save_and_submit" style="margin-left: 50px;">Submit my article</button></p>
    </form>
    <form onsubmit="return confirm('Do you really want to delete the submission?');" id="form-delete-{{submission.pk}}" action={% url 'submission-delete' submission.pk %} method="POST">
      {% csrf_token %}
      <button type="submit" name="submit" class="btn btn-link mt-4 p-0">Delete submission</button>
    </form>

  </div>
</div>
{% endblock center_middle %}

{% block extra_js %}
<script src="{% static 'vuejs/js/chunk-vendors.js' %}"></script>

{% comment %} <script src="{% static 'vuejs/js/app.js' %}"></script> {% endcomment %}
{% endblock %}