{% load i18n %}
{% load static %}
{% load cms_tags %}
{% load socialaccount %}

{% get_all_pages request 'top' as pages %}
{% url 'home' as home_url %}
<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid content">
      <a href="{% url 'home' %}">
        <img src="{% static "editor/img/logo-pcj.png" %}" height="70">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="nav nav-pills ms-auto me-auto mb-1">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/page/about/">About</a></li>
          <li class="nav-item"><a class="nav-link active" href="/page/submit/">Submit</a></li>
          <li class="nav-item"><a class="nav-link" href="/page/instructions/">Instructions</a></li>
          <li class="nav-item"><a class="nav-link" href="/page/people/">People</a></li>
        </ul>
        <ul class="nav nav-pills ms-auto mb-1">
          {% if user.is_staff %}<li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'staff-home' %}">Dashboard</a></li>{% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="editorSettingsDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu" aria-labelledby="editorSettingsDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change password</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              <a class="nav-link" onclick="this.closest('form').submit();return false;">Logout</a>
            </form>
          </li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>


  {% if show_breadcrumb %}
  {% if user.is_staff %}
  <div id="breadcrumb" class="d-flex justify-content-center align-items-center">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e4eef3">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <div class="navbar-nav">
            <span class="breadcrumb-chevron" style="{% if current_page == 'files' %}color: black{% endif %}"><i class="bi bi-1-circle"></i></span>
            <a class="number-breadcrumb nav-link {% if current_page == 'files' %}active{% endif %}{% if state not in 'edit_invalid edit edit_not_yet_valid submitted_to_pcj' %}disabled breadcrumb-disabled{% endif %} save-reminder" href="{% url 'submission-update' submission_id %}">Files</a>
            
            <span class="breadcrumb-chevron" style="{% if current_page == 'edit' %}color: black{% endif %}"><i class="bi bi-2-circle"></i></span>
            <a class="number-breadcrumb nav-link {% if disable_edit %}disabled breadcrumb-disabled{% endif %}{% if current_page == 'edit' %}active{% endif %}" href="{% url 'edit-article' colid doi %}">Edit Article Metadata</a>

            <span class="breadcrumb-chevron" style="{% if current_page == 'convert' %}color: black{% endif %}"><i class="bi bi-3-circle"></i></span>
            <a class="number-breadcrumb nav-link {% if current_page == 'convert'%}active{% endif %}" href="{% url 'convert-file' colid doi %}">Full text</a>
            
            <span class="breadcrumb-chevron" style="{% if current_page == 'finalize' or current_page == 'posted' %}color: black;{% endif %}"><i class="bi bi-4-circle"></i></span>
            {% if state == 'submitted_to_pcj'%}
            <a class="number-breadcrumb nav-link {% if current_page == 'finalize' %}active{% endif %}{% if not is_article_valid or not is_submission_valid %}disabled breadcrumb-disabled{% endif %} save-reminder" href="{% url 'submission-finalize' submission_id %}">Finalize</a>
            {% elif state == 'accepted' %}
            <a class="number-breadcrumb nav-link {% if current_page == 'posted' %}active{% endif %} save-reminder" href="{% url 'submission-posted' submission_id %}">End of Submission</a>
            {% else %}
            <a class="number-breadcrumb nav-link {% if disable_edit or not is_submission_valid or not is_article_valid %}disabled breadcrumb-disabled{% endif %}{% if current_page == 'send-submission' or current_page == 'finalize' %}active{% endif %}" href="{% url 'send-submission-request' submission_id %}">Send submission request</a>
            {% endif %}
            
          </div>
        </div>
      </div>
    </nav>
  </div>
  {% else %}
  <div id="breadcrumb" class="d-flex justify-content-center align-items-center">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e4eef3">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <div class="navbar-nav">
            <span class="breadcrumb-chevron" ><i class="bi bi-1-circle"></i></span>
            <a class="nav-link disabled breadcrumb-disabled" aria-current="page" href="">Create Submission</a>
            <span class="breadcrumb-chevron" style="{% if current_page == 'files' %}color: black{% endif %}"><i class="bi bi-2-circle"></i></span>
            <a class="nav-link {% if disable_edit %}disabled breadcrumb-disabled{% endif %}{% if current_page == 'files' %}active{% endif %} save-reminder" href="{% url 'submission-update' submission_id %}">Files</a>
            <span class="breadcrumb-chevron" style="{% if current_page == 'edit' %}color: black{% endif %}"><i class="bi bi-3-circle"></i></span>
            <a class="nav-link {% if disable_edit %}disabled breadcrumb-disabled{% endif %}{% if current_page == 'edit' %}active{% endif %}" href="{% url 'edit-article' colid doi %}">Edit Article Metadata</a>            
            
            <span class="breadcrumb-chevron" style="{% if current_page == 'posted' or current_page == 'send-submission' %}color: black{% endif %}"><i class="bi bi-4-circle"></i></span>
            {% if submission_ended %}
            <a class="nav-link {% if current_page == 'posted' %}active{% endif %} save-reminder" href="{% url 'submission-posted' submission_id %}">End of Submission</a>
            {% else %}
            <a class="nav-link {% if disable_edit or not is_submission_valid or not is_article_valid %}disabled breadcrumb-disabled{% endif %}{% if current_page == 'send-submission'%}active{% endif %}" href="{% url 'send-submission-request' submission_id %}">Send submission request</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </div>
  {% endif %}
  {% endif %}

</div>

