{% load i18n %}

<div class="search-button-div d-flex{% if under_search_input %} order-2 order-md-0{% endif %}">
  <button type="submit" class="btn btn-primary search-button d-flex flex-nowrap align-items-center gap-1" name="Submit">
    <i class="fa fa-search"></i>
    <span id="search-button-text" class="{% if under_search_input %}{% else %}d-none d-sm-block{% endif %}">{% trans 'Rechercher' %}</span>
  </button>
  {% block help %}
  {% if with_help %}
    <a href="{% url 'help' %}"><img src="/static/mersenne_cms/img/question.png"></a>
  {% endif %}
  {% endblock help %}
</div>