{% load i18n %}

<div class="input-group search-group search-group-added d-none d-lg-flex flex-nowrap">
  <div {% if obj.name == 'date' %}style="display:none"{% endif %} class="input-group flex-nowrap">
    <div {% if obj.name == 'date' %}style="display:none"{% else %}style="display:flex"{% endif %} class="input-group-text flex-nowrap justify-content-center align-items-center gap-1 px-2 search_first_box">
      <input id="not{% if write_template %}##i##"{% else %}{{ i }}{% endif %}" class="bt-checkbox" type="checkbox" name="not{% if write_template %}##i##"{% else %}{{ i }}" {% if obj.not %}checked{% endif %}{% endif %} /> <label for="not{% if write_template %}##i##"{% else %}{{ i }}{% endif %}">NOT</label>
    </div>
    <div {% if obj.name == 'date' %}style="display:none"{% endif %} class="search-group-inner input-group w-100 p-0">
      <input class="searchinput form-control rounded-0 border-0 w-100 h-100 px-2 py-1" type="text" name="q{% if write_template %}##i##"{% else %}{{ i }}" value="{{ obj.value }}"{% endif %}/>
      <i class="searchclear fa fa-remove hidden"></i>
    </div>
  </div>

  <div {% if write_template or obj.name != 'date' %}style="display:none"{% endif %} class="flex-grow-1 input-group">
    <!-- <div class="container"> -->
    <!-- <div class="row"> -->
    <span class="input-group-text search_first_box">{% trans 'Entre' %}</span>
    <input class="form-control" type="text" name="q-f-{% if write_template %}##i##"{% else %}{{ i }}" value="{{ obj.first }}"{% endif %} placeholder="{% trans 'Année' %}" />
    <span class="input-group-text">{% trans 'et' %}</span>
    <input class="form-control rounded-0" type="text" name="q-l-{% if write_template %}##i##"{% else %}{{ i }}" value="{{ obj.last }}"{% endif %} placeholder="{% trans 'Année' %}" />
  <!-- </div> -->
  <!-- </div> -->
</div>
<div class="input-group-btn d-flex flex-nowrap" id="search-group-btn">
    <input type="hidden" name="qt{% if write_template %}##i##{% else %}{{ i }}{% endif %}" value="{% if obj.name %}{{ obj.name }}{% else %}author{% endif %}">
    <button type="button" class="btn btn-light dropdown-toggle rounded-0 border-0 border-start border-end" data-bs-toggle="dropdown" aria-expanded="false">
      {% if not obj.name or obj.name == 'author' %}
        {% trans 'Auteur' %}
      {% elif obj.name == 'date' %}
        {% trans 'Date' %}
      {% elif obj.name == 'body' %}
        {% trans 'Plein texte' %}
      {% elif obj.name == 'title' %}
        {% trans 'Titre' %}
      {% elif obj.name == 'references' %}
        {% trans 'Bibliographie' %}
      {% elif obj.name == 'kwd' %}
        {% trans 'Mots clés' %}
      {% elif with_abstract and obj.name == 'abstract' %}
        {% trans 'Résumé' %}
      {% else %}
        {% trans 'Tout' %}
      {% endif %}
    </button>
    <ul class="dropdown-menu">
      <li><a href="#" class="dropdown-item">{% trans 'Tout' %}</a></li>
      <li><a href="#" class="dropdown-item">{% trans 'Auteur' %}</a></li>
      <li><a href="#" class="dropdown-item">{% trans 'Titre' %}</a></li>
      <li><a href="#" class="dropdown-item">{% trans 'Date' %}</a></li>
      <li><a href="#" class="dropdown-item">{% trans 'Bibliographie' %}</a></li>
      <li><a href="#" class="dropdown-item">{% trans 'Mots clés' %}</a></li>
      {% if with_abstract %}
        <li><a href="#" class="dropdown-item">{% trans 'Résumé' %}</a></li>
      {% endif %}
      <li><a href="#" class="dropdown-item">{% trans 'Plein texte' %}</a></li>
    </ul>
    <button type="button" class="btn btn-light border-0 remove-search-field">
      <i class="fa fa-minus"></i>
    </button>
  </div>
</div><!-- /input-group -->

