{% load i18n %}

<div class="px-0 text-nowrap browse-button">
  <a href="{% url 'journal-issues' COLLECTION_PID %}" class="btn btn-primary search-button">{% block browse_btn_text %}{% trans 'Parcourir les volumes' %}{% endblock %}</a>
</div>