{% load i18n %}
{% load stringsfilter %}

<div class="row flex-nowrap w-100" style="max-width: 100%"> 
  <div class="d-none{% if results.hits > 0 %} d-md-block col-xl-3{% endif %}" id="sidebar">
    {% include "common/search/facet/facets.html" %}
  </div>
  <div class="{% if results.hits > 0 %}col-xl-9{% else %}w-100{% endif %}" id="results">
    <div id="toggle-sidebar" class="d-flex d-md-none justify-content-center align-items-center mb-4">
      <button type="button" id="sidebarCollapse" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#filters-modal">
          <i class="fa fa-align-left"></i>
          {% trans "Filter results" %}
      </button>
    </div>
    <div id="filters-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-label">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-label">
              {% trans "Filter results" %}
            </h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% include "common/search/facet/facets.html" %}
          </div>
        </div>
      </div>
    </div>
    <div class="search-results">
      <div class="results-header">
        <h4>{{ results.hits }} {% trans 'résultat' %}{{ results.hits|pluralize }}</h4>
        {% include "common/results-pagination.html" %}
      </div>
      {% for result in results.docs %}
        <div class="row">
          <div class="col-12">
            {% include 'common/title/title-with-pdf.html' with item=result embargo=result.embargo binary_files=result for_search=True %}
            <p>
              {{ result.au|safe }}
            </p>
            <p>
              {% if result.pid|is_translation %}
                {% trans 'Titre original :' %}
                {% if request.session.formula_display == 'tex' %}
                  {{ result.trans_title_tex|safe }}
                {% else %}
                  {{ result.trans_title_html|safe }}
                {% endif %}
              {% else %}
                {% if request.session.formula_display == 'tex' %}
                  {{ result.collection_title_tex|safe }},
                {% else %}
                  {{ result.collection_title_html|safe }},
                {% endif %}
                {% if result.volume %}
                  {% include 'common/volume/volume_string.html' %} 
                  {{ result.volume|safe }} ({{ result.year|safe }})
                  {% if result.article_number %}no. {{ result.article_number }}{% endif %}
                  {% if result.number %}no. {{ result.number }}{% endif %}
                {% else %}
                  {% if result.container_title_tex %}
                  {% if request.session.formula_display == 'tex' %}
                    {{ result.container_title_tex|safe }},
                  {% else %}
                    {{ result.container_title_html|safe }},
                  {% endif %}
                {% endif %}
                {% if result.article_number %}no. {{ result.article_number }}{%endif %}
                ({{ result.year|safe }})
                {% if result.number %}no. {{ result.number }}{% endif %}
                {% endif %}
                {{ result.page_range }}
              {% endif %}
            </p>
            {% if result.highlighting and not result.pid|is_translation %}
              <p class="highlight">
                {% trans result.highlighting.field %} : 
                {% comment %} Sometimes it's not safe (at least to render) if the value contains HTML {% endcomment %}
                <em class="text-break">{{ result.highlighting.value|safe }}</em> 
              </p>
            {% endif %}
    
            <hr>
          </div>
        </div>
      {% endfor %}
      {% include "common/results-pagination.html" %}
    </div>
  </div>
</div>
