{% load i18n %}

{% comment %}
La variable search_button_next_line permet de déplacer le bouton de recherche en dehors du même div que le field pour la recherche
Utile pour le nouveau design d'ALCO par exemple
{% endcomment %}

{% block searchbar %}
<form class="d-flex gap-2 align-items-center align-items-md-start {% if search_button_next_line %}flex-row justify-content-between justify-content-start flex-wrap{% else %}flex-column flex-md-row{% endif %}" method="post" action="{% url 'search' %}">{% csrf_token %}

  {% include "common/search/search-bar-browse.html" %}

  <div class="flex-grow-1 d-flex gap-2 w-100 align-items-stretch align-items-lg-start">
    <div class="flex-grow-1" id="line-container">
      <div class="d-flex input-group search-group flex-nowrap">
        <div class="search-group-inner input-group w-100" id="search-input-group">
          <input class="searchinput form-control" type="text" name="q0" value="{{ qs.0.value }}"
                  {% if not qs.0.name or qs.0.name == 'all' %}placeholder="{% if COLLECTION_PID == 'ALL' %}{% trans 'Rechercher des articles, des livres...' %}{% else %}{% trans 'Rechercher des articles, des auteurs...' %}{% endif %}"{% endif %}/>
          <i class="searchclear fa fa-remove hidden" role="button"></i>
          <input type="hidden" name="qt0" value="{% if qs.0.name %}{{ qs.0.name }}{% else %}all{% endif %}">
          <button type="button" class="btn btn-light dropdown-toggle border-0 {% if not hide_plus %}rounded-0 border-end{% else %}rounded-0 rounded-end{% endif %} d-flex flex-nowrap align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
            {% if not qs.0.name or qs.0.name == 'all' %}
              {% trans 'Tout' %}
            {% elif qs.0.name == 'author' %}
              {% trans 'Auteur' %}
            {% elif qs.0.name == 'body' %}
              {% trans 'Plein texte' %}
            {% elif qs.0.name == 'references' %}
              {% trans 'Bibliographie' %}
            {% elif qs.0.name == 'kwd' %}
              {% trans 'Mots clés' %}
            {% elif qs.0.name == 'abstract' %}
              {% trans 'Résumé' %}
            {% else %}
              {% trans 'Titre' %}
            {% endif %}
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" class="dropdown-item">{% trans 'Tout' %}</a></li>
            <li><a href="#" class="dropdown-item">{% trans 'Auteur' %}</a></li>
            <li><a href="#" class="dropdown-item">{% trans 'Titre' %}</a></li>
            <li><a href="#" class="dropdown-item">{% trans 'Bibliographie' %}</a></li>
            {% if with_kw %}
              <li><a href="#" class="dropdown-item">{% trans 'Mots clés' %}</a></li>
            {% endif %}
            {% if with_abstract %}
              <li><a href="#" class="dropdown-item">{% trans 'Résumé' %}</a></li>
            {% endif %}
            <li><a href="#" class="dropdown-item">{% trans 'Plein texte' %}</a></li>
          </ul>
          {% if not hide_plus %}
          <button id="add-search-field" type="button" class="btn btn-light">
            <i class="fa fa-plus"></i>
          </button>
          {% endif %}
        </div>
      </div>

      {% comment %} En théorie, on est pas censé avoir besoin de vérifier ça {% endcomment %}
      {% if not hide_plus %}
        {% for obj in qs|slice:"1:" %}
          {% include "common/search/search-form.html" with i=forloop.counter obj=obj write_template=False %}
        {% endfor %}
      {% endif %}
    </div>

    {% if search_button_next_line %}
    {% else %}
    {% include "common/search/search-button.html" %}
    {% endif %}
  </div>

  {% if search_button_next_line %}
  {% include "common/search/search-button.html" with under_search_input=True %}
  {% endif %}
</form>
<div id="template-search-form" style="display:none">
  {% include "common/search/search-form.html" with write_template=True %}
</div>
{% endblock searchbar %}
