{% load i18n %}

{% if ALLOW_TRANSLATION and article_title and is_translation %}
  <span class="common-title article-title"><a href="{{ article.get_absolute_url }}">{{ article_title|safe }}</a></span>
  {% if article_original_title %}<br><span class="article-trans-title">{% trans "Titre original :" %} {{article_original_title|safe}}</span>{% endif %}
{% else %}
  <span class="common-title article-title">
    {% if with_links %}<a href="{{ item.get_absolute_url }}">{% endif %}
    {% if request.session.formula_display == 'tex' %}
        {{ item.title_tex|safe }}
    {% else %}
        {{ item.title_html|safe }}
    {% endif %}
    {% if with_links %}</a>{% endif %}
  </span>
  {% if item.trans_lang == LANGUAGE_CODE and item.trans_title_tex %}
  <br>
  <span class="article-trans-title">[{% if request.session.formula_display == 'tex' %}{{ item.trans_title_tex|safe }}{% else %}{{ item.trans_title_html|safe }}{% endif %}]</span>
  {% endif %}
{% endif %}

{% if virtual_issues %}
<p>Cet article fait partie du numéro spécial</p>
{% for virtual_issue in virtual_issues%}
<ul>
  <li>{{virtual_issue.title_tex}}</li>
</ul>
{% endfor %}
{%endif%}