{% load i18n %}
{% load helpers %}

{% with article.get_binary_files_href.self as binary_files %}
<div class="page_article_ahl">
  <div class="navigation">
    {% if breadcrumb.previousItem %}
      <div class="previous"><a href="{{breadcrumb.previousItem.url}}">{% trans "Previous article" %}</a></div>
    {% else %}
      <div class="previous disabled">{% trans "Previous article" %}</div>
    {% endif %}
    <a href="{% url 'item_id' article.my_container.pid %}">{{breadcrumb.items.1.title}}</a>
    {% if breadcrumb.nextItem %}
      <div class="next"><a href="{{breadcrumb.nextItem.url}}">{% trans "Next article" %}</a></div>
    {% else %}
      <div class="next disabled">{% trans "Next article" %}</div>
    {% endif %}
  </div>

  <div class="bibentry">
    <div class="authors">{% include 'common/common-contrib.html' with item=article no_links=True %}</div>
    <div class="title">
      {% if request.session.formula_display == 'tex' %}
        {{ article.title_tex|safe }}
      {% else %}
        {{ article.title_html|safe }}
    {% endif %}</div>
    <div class="journal">{% include 'common/common-info-article.html' %}</div>
  </div>
  <ul class="actions">
    <li><a href="{{ binary_files.pdf |replace_basename_binary_file }}">{% trans "Download PDF" %}</a></li>
    {% if binary_files.tex %}
      <li><a href="{{ binary_files.tex |replace_basename_binary_file }}">{% trans "Download TeX" %}</a></li>
    {% endif %}
    <li><a href="{% url 'bibtex' article.pid %}">{% trans "Download bibTeX entry" %}</a></li>
  </ul>

  <h3>{% trans "Metadata" %}</h3>

  <div class="details">
    <div class="info">
      <span class="name">{% trans "DOI" %}</span><a href="{{ article.get_doi_href }}">{{ article.doi }}</a>
    </div>
    <div class="info">
      {% with kwd_tuple=article.get_kwds_by_type %}
        {% if kwd_tuple.1|length %}
          <span class="name">Keywords</span>
          <span class="maxjax-formula">
          {% for kwd in kwd_tuple.1 %}{{ kwd.value|safe }}{% if not forloop.last %},&nbsp;{% endif %}{% endfor %}
          </span>
        {% endif %}
      {% endwith %}
    </div>
  </div>

  <h3>{% trans "Abstract" %}</h3>
  {% with abstract=article.get_abstracts.first %}
    <div id="abstract-{{ abstract.lang }}" class="tab-pane fade in active">
      {% if request.session.formula_display == 'tex' %}
        {{ abstract.value_tex|safe }}
      {% else %}
        {{ abstract.value_html|safe }}
      {% endif %}
    </div>
  {% endwith %}

  {% with intros=article.get_editorial_intros %}
  {% with intros_count=intros.count %}
  {% if intros_count %}
    {% with intro=intros.first %}
    <h3>Editorial Introduction</h3>
    <div id="intro-{{ intro.lang }}" class="tab-pane fade in active">
      {% if request.session.formula_display == 'tex' %}
        {{ intro.value_tex|safe }}
      {% else %}
        {{ intro.value_html|safe }}
      {% endif %}
    </div>
    {% endwith %}
  {% endif %}
  {% endwith %}
  {% endwith %}

  {% if movie_html %}
  <h3>{% trans "Talk" %}</h3>
  <div class="youtube">
    {{movie_html|safe}}
  </div>
  {% endif %}
  <br/>

  <h3>{% trans "Bibliographie" %}</h3>
  {% include 'common/common-bibliographie-content.html' with resource=article %}

    {% if article.doi %}
    <div id="citations-html" style="display:none">
      <h3>{% trans "Cité par" %}</h3>
      <div id="citations-div" data-url="{% url 'api_citedby' article.doi %}" style="margin-top:20px;margin-bottom: 20px"></div>
      <p><em>{% trans "Cité par" %} <span id="citations-number"></span> {% trans "Sources :" %} <span id="citations-sources"></span></em></p>
    </div>
    {% endif %}

  <br/>

</div>
{% endwith %}
