{% load i18n %}

<ul class='list-group'>
  {% for article in articles %}
    <li class='list-group-item d-flex flex-column gap-3'>
      <div class='row'>
        <div class="col-md-2">
          <img src="{{ article.icon }}" class="img-fluid">
        </div>
        <div class='col-md-10'>
          <h4><small class="text-muted">
          {% with section=article.get_pci_value topics=article.get_topics conferences=article.get_conference %}
          Section: {{ section|title }}
          {% if topics %}
            ; Topics: {{ topics }}
          {% endif %}
          {% if conferences %}
            ; Conference: {{ conferences }}
          {% endif %}
          {% endwith %}
          </small></h4>

          <h4 class="list-group-item-heading"><strong>{% include 'common/title/title.html' with item=article with_links=True %}</strong></h4>
          {% include 'common/contribution/contrib.html' with item=article article_page=False %}

          <p class="text-muted">
            {{ article.doi }} - {% include 'common/article/info-article.html' %}
          </p>

          {% if binary_files %}
          {% include 'common/binary-files.html' with embargo=article.my_container.embargo binary_files=article.get_binary_files_href.self %}
          {% endif %}
          
          {% if show_button_pdf %}
             <a target="_blank" href="/item/{{article.doi}}.pdf" class="btn btn-primary{% if small %} btn-xs{%endif%}" >
                <i class="fa fa-file-pdf-o {% if not small %} fa-lg{% endif %}" aria-hidden="true"></i> Get full text PDF
            </a>
          {% endif %}
        </div>
      </div>
      {% if abstract %}
        <div class='row'>
          <div class='col-12'>
            {% for abstract in article.abstract_set.all %}
              {% if request.session.formula_display == 'tex' %}
                {{ abstract.value_tex|safe }}
              {% else %}
                {{ abstract.value_html|safe }}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </li>
  {% empty %}
    Coming soon...
  {% endfor %}
</ul>
