{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
  {{ category }} | Peer Community Journal
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block center_middle %}

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url category_type|add:'-list' %}">{{category_type|capfirst}}s</a></li>
    <li class="breadcrumb-item active">{{ category }}</li>
  </ol>

  <h1>{{ category }} </h1>
  {% if subcategory %}
  <h2 style="margin-top:10px"><small>{{subcategory_type|capfirst}}: {{ subcategory }}</small></h2>
  {% endif %}
  <p>Number of articles: {{nbArticle}}</p>
  <br>

  {% with articles=object_list %}
    {% include "pcj/article_list.html" with show_button_pdf=True %}
  {% endwith %}

  {% include 'common/paginator.html' %}
{% endblock %}
