{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load pcj_helpers %}

{% block title %}
  {{ category_type|capfirst }}s | Peer Community Journal
{% endblock %}

{% block center_middle %}

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">{{ category_type|capfirst }}s</li>
  </ol>

  <h1>{% trans "Browse by "|add:category_type %}</h1>
  <br>

  <div class="{% if category_type != "conference" %}list-group{% else %}d-flex flex-column gap-1 align-items-start{% endif %}">

    {% for category, category_data in category_list.items %}
      {% if category_data.total > 1 %}
        {% with tag=category_data.tag %}
        <a href="#topic-{{tag}}" class="list-group-item section-link" {% if forloop.counter != 1 %}style="border-top-width: 0;"{% endif %} data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="#topic-{{tag}}">
          <i class="fa fa-chevron-right"></i> {{category_data.value}} <span class="badge rounded-pill bg-secondary float-end">{{ category_data.total }} </span>
        </a>
        <div class="list-group collapse rounded-0" id="topic-{{tag}}">
          <a href="{% url category_type|add:"-detail" slug=category %}" class="list-group-item rounded-0 ps-5" style="border-top-width: 0;">All {{ subcategory_type }}s</a>
          {% for subcategory, subcategory_data in category_data.items %}
            {% if subcategory != "total" and subcategory != "value" and subcategory != "tag" %}
              <a href="{% url category_type|add:"-detail" slug=category %}?{{subcategory_type}}={{subcategory}}" class="list-group-item ps-5">{{ subcategory_type|capfirst }}: {{ subcategory_data.title }} <span class="badge rounded-pill bg-secondary float-end">{{ subcategory_data.total }}</span></a>
            {% endif %}
          {% endfor %}
        </div>
        {% endwith %}
      {% else %}
        <a href="{% url category_type|add:"-detail" slug=category %}" class="{% if category_type != "conference" %}list-group-item{% endif %}" {% if forloop.counter != 1 %}style="border-top-width: 0;"{% endif %} > {{category_data.value}} {% if category_type != "conference" %}<span class="badge rounded-pill bg-secondary float-end">{{ category_data.total }} </span>{% endif %}</a>
      {% endif %}
    {% endfor %}
  </div>

{% endblock %}
