{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
  Home | Peer Community Journal
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block center_middle %}
  <div class="row">
    <div class="col-md-9">
      <h1>{% trans "Latest Articles" %}</h1>
      <br>
      {% with articles=object_list abstract=True section=True %}
        {% include "pcj/article_list.html" with show_button_pdf=True %}
      {% endwith %}
      <a href="{% url 'volume-items' vid=latest_volume %}" class="btn btn-light border my-3">View more articles</a>
    </div>
    <div class="col-md-3">
      <h3>Follow us</h3>
      <ul class="list-unstyled">
        <li><a href="mailto:contact@peercommunityjournal.org"><i class="fa fa-envelope-o" aria-hidden="true"></i> contact@peercommunityjournal.org</a></li>
        <li><a href='{% url 'syndication-feed' %}' alt='syndication feed'><i class="fa fa-rss"></i> RSS feed</a></li>
        <li><a href="https://ecoevo.social/@PeerCommunityJournal" target="_blank"> <i class="fa-brands fa-mastodon"></i> on Mastodon</a></li>
        <li><a href="https://bsky.app/profile/peercomjournal.bsky.social" target="_blank"><i class="fa-brands fa-bluesky"></i> on Bluesky</a></li>
        <li><a href="https://twitter.com/peercomjournal" target="_blank"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i> on X</a></li>
      </ul>
      <h3>People</h3>
      <ul class="list-unstyled">
        <li><a href="{% url "page_detail" "people" %}#ExecutiveBoard">Executive board</a></li>
        <li><a href="{% url "page_detail" "people" %}#Managingcoordinator">Managing coordinator</a></li>
        <li><a href="{% url "page_detail" "people" %}#Editorialboard">Editorial board</a></li>
      </ul>

      <h3>Sections</h3>
      <ul class="list-unstyled">
        {% for sectionKey, sectionValue in sections.items %}
          <li><a href="{% url "section-detail" slug=sectionKey %}" >{{ sectionValue.value}} <span class="badge rounded-pill bg-secondary">{{sectionValue.total}}</span></a></li>
        {% endfor %}
      </ul>
      {% if conferences %}
      <h3>Conferences</h3>
      <ul class="list-unstyled">
      {% for conf in conferences %}
        <li><a href="{% url 'conference-detail' slug=conf %}">{{ conf }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}

     <h3>Indexed by</h3>
      <ul class="list-unstyled" style="margin-bottom:0">
        <li>
          <a href=" https://scholar.google.com/citations?hl=fr&view_op=list_hcore&venue=hHk_uAgENbQJ.2023" target="_blank"><img src="{% static 'pcj/img/Logo_Google_Scholar.png' %}" class="img-responsive databases-thumbnail"></a></li>
        <li> <img src="{% static 'pcj/img/logo_Web_of_Science.png' %}" class="img-responsive databases-thumbnail" alt="logo Web of Science"></li>
        <li><img src="{% static 'pcj/img/Logo_Scopus.png' %}" class="img-responsive databases-thumbnail" alt="logo doaj"></li>
        <li>
          <a href="https://app.dimensions.ai/discover/publication?search_mode=content&or_facet_source_title=jour.1413381" target="_blank"><img src="{% static 'pcj/img/Logo_Dimensions.png' %}" class="img-responsive databases-thumbnail"></a> </li>
        <li>
          <a href="https://europepmc.org/search?query=%28LABS_PUBS:%221826%22%29&page=1"  target="_blank"><img src="{% static 'pcj/img/Logo_Europe_PMC.png' %}" class="img-responsive databases-thumbnail" alt="logo plan s"></a></li>
        <li>
          <a href="https://www.semanticscholar.org/venue?name=Peer%20Community%20Journal" target="_blank"><img src="{% static 'pcj/img/Logo_Semantic_Scholar.png' %}" class="img-responsive databases-thumbnail" alt="logo Semantic scholar"></a></li>
      </ul>
      <div class="with-bottom-margin">
        <a href="/page/indexation">View all databases</a>
      </div>

      <h3>Supporters</h3>
      <!-- Carousel -->
      <div id="supporters-carousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          {% for supporter in supporters %}
            <div class="carousel-item{% if forloop.first %} active{% endif %}">
              <img src="{{supporter}}" class="d-block mx-auto img-fluid sponsor-thumbnail">
            </div>
          {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control-prev" href="#supporters-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control-next" href="#supporters-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="with-bottom-margin">
        <a href="/page/supporters">View all supporters</a>
      </div>

      <h3>Membership</h3>
      <!-- Carousel -->
      <div id="members-carousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item  active">
            <img src="{% static 'pcj/img/logo_crossref.svg' %}" class="d-block mx-auto img-fluid membership-thumbnail" alt="logo crossref">
          </div>
          <div class="carousel-item">
            <img src="{% static 'pcj/img/logo_clocks.png' %}" class="d-block mx-auto img-fluid membership-thumbnail" alt="logo clocks">
          </div>
          <div class="carousel-item">
            <img src="{% static 'pcj/img/logo_cope.png' %}" class="d-block mx-auto img-fluid membership-thumbnail" alt="logo cope">
          </div>
          <div class="carousel-item">
            <img src="{% static 'mersenne_cms/img/logo-FJN-long.png' %}" class="d-block mx-auto img-fluid membership-thumbnail" alt="logo FJN">
          </div>
        </div>
        <a class="left carousel-control-prev" href="#members-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control-next" href="#members-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="with-bottom-margin">
        <a href="/page/membership">View all membership</a>
      </div>

      <h3>Image Credits</h3>
      <p>
      The network image was drawn by Martin Grandjean: <a target="_blank" href="http://www.martingrandjean.ch/wp-content/uploads/2013/10/Graphe3.png">A force-based network visualization</a> CC BY-SA
      </p>
    </div>
  </div>
{% endblock %}
