{% load i18n %}

{% for article in latest_articles %}
  {% if max and forloop.counter < max %}
    <div class="row article-short">
      <div class="col-12">
        <span class="common-title last_article_title"><a href="{{ article.absolute_url }}">{{ article.title | safe }}</a></span>
        {% include 'common/title/title.html' with item=article embargo=article.collection.embargo binary_files=article.get_binary_files_href.self with_links=True %}
        <p style="margin:0">{{article.author | safe}}</p>
        <time datetime="{{ article.date_publication|date:'Y-m-d' }}">{{ article.date_publication|date:"Y-m-d" }}</time>
      </div>
    </div>
    {% if not forloop.last %}
      <hr style="margin-top:0px;margin-bottom:15px"></hr>
    {% endif %}
  {% endif %}
{% endfor %}

