{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load helpers %}



{% block extra_css %}
<link href="{% static 'vuejs/css/app.css' %}" rel="preload" as="style">
<link href="{% static 'vuejs/js/app.js' %}" rel="preload" as="script">
<link href="{% static 'vuejs/js/chunk-vendors.js' %}" rel="preload" as="script">
<link href="{% static 'vuejs/css/app.css' %}" rel="stylesheet">
<link href="{% static 'traduction/css/edit.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block center_middle %}
<div id="app"></div>
{% endblock center_middle %}

{% block footer %}
{% endblock footer %}

{% block extra_js %}
<script src="{% static 'vuejs/js/chunk-vendors.js' %}"></script>
<script src="{% static 'vuejs/js/app.js' %}"></script>
{% endblock %}
