{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block center_middle %}
<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-8 col-lg-8 col-xl-7 offset-xl-1">
    <div style="margin-left:-15px">
      {% if article.icon %}
      <div class="article-page-image-large">
        <img src="{{ article.icon }}" alt="" class="article-icon-grid">
      </div>
      <div class="article-page-content">
      {% else %}
      <div>
      {% endif %}
        {% block specific %}
        <div class="article-subj" style="margin-bottom:0px">{{article.get_collection.title_tex}}</div>
        <div style="font-size:18px;margin-bottom:10px">
          {% include 'common/common-title.html' with item=article %}
        </div>
        <div style="margin-bottom:5px; font-size: 16px">
          {% include 'common/common-contrib.html' with item=article %}
        </div>
        {% endblock %}
        <div style="margin-bottom:10px">
          {% include 'common/common-info-article.html' %}
        </div>

        <div style="margin-top:20px;margin-bottom:20px">
          {% include 'common/common-binary-files.html' with embargo=article.my_container.embargo binary_files=article.get_binary_files_href.self display_embargo_text=True website=article.get_collection.website doi=article.get_doi_href %}
        </div>
      </div>
      <div class="clearfix"></div>

      {% include 'common/common-relations.html' %}
      {% include 'common/common-abstract.html' with resource=article %}
      {% include 'common/common-tabs.html' with resource=article howtocite=article.get_citation bibtex=article.get_bibtex %}
      {% include 'common/common-bibliographie.html' with resource=article %}

    </div>
  </div>
</div>
{% endblock center_middle %}

