{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block extra_head %}{% endblock extra_head %}

  <title>{% block title %}Article translation {{ block.super }}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static "ptf/vendors/font-awesome/css/font-awesome.min.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/vendors/bootstrap5/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/css/bs5/ptf.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/css/bs5/base.css" %}" />
  {% comment %} <link rel="stylesheet" href="{% static "cr_app/css/cr_common.css" %}" /> {% endcomment %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="{% static "ptf/vendors/flag-icon/css/flag-icon.min.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/vendors/lightbox/css/lightbox.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/css/ptf.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/css/style.css" %}" />
  <link rel="stylesheet" href="{% static "traduction/css/style_traduction.css" %}" />

  <link rel="shortcut icon" type="images/x-icon" href="{% static 'traduction/img/favicon.ico' %}" />

  {% block extra_css %}

  {% endblock extra_css %}
  {% include "blocks/header_rss_links.html" %}
</head>
<body data-bs-spy="scroll" data-bs-target="#toc-entries" data-bs-offset="0" tabindex="0" >
  <div class="all-but-footer">
    <div id="header" class="sticky-top">
      {% block top %}
        {% include "top.html" %}
      {% endblock top %}
      {% block breadcrumb %}
          {% if not page %}
              {% include "common/breadcrumb.html" with page=page item_pid=pid %}
          {% endif %}
      {% endblock breadcrumb %}
      <div class="clearfix"></div>
    </div>
    <div class="container-fluid page-container">

      {% block container %}
        {% block content %}
          {% block left %}
            {% block content_left %}
            {% endblock content_left %}
          {% endblock left %}

          {% block center_header %}
          {% endblock center_header%}

          {% block center_middle %}
            <div class="row d-flex mt-5">
              <div class="col-md-8 col-lg-8 col-xl-8 offset-xl-2">
              </div>
            </div>
          {% endblock center_middle%}

          {% block center_footer %}
          {% endblock center_footer %}
        {% endblock content %}
      {% endblock container %}
    </div>
  </div>
  {% block footer %}
  {% include "footer.html" %}
  {% endblock footer %}

  <script src="{% static "ptf/vendors/jquery/js/jquery-3.5.1.min.js" %}"></script>
  <script src="{% static "ptf/vendors/bootstrap5/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "ptf/vendors/clipboard/js/clipboard.min.js"%} "></script>
  <script src="{% static "ptf/vendors/lightbox/js/lightbox.js" %} "></script>
  <script src="{% static "traduction/js/traduction.js" %}"></script>
  {% comment %} <script src="{% static "traduction/js/display_lang.js" %}"></script> {% endcomment %}
  <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.12.1/sorting/natural.js"></script>
  <script type="text/javascript" src="/static/ptf/js/bs5/select.js"></script>
  <script type="text/javascript" src="/static/ptf/js/bs5/lightbox.js"></script>
  {% if request.session.formula_display != 'tex' %}
  <script src="{% static "ptf/js/mathjax-config.js" %}" defer></script>
  <script type="text/javascript" id="MathJax-script" defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
  {% endif %}

  {% block extra_js %}{% endblock extra_js %}
</body>
</html>
