{% load static %}
{% load i18n %}

<footer id="footer">
  {% if LANGUAGE_CODE == 'en' %}
    <div class="logos-footer col-xs-12">
      <span class="footer-logo-text english-text">{% trans "Diffusé par" %} :</span><a class="logo-footer english-text" href="http://www.centre-mersenne.org" target='_blank'><img align="middle" class="logo-footer" src="{% static "ptf/img/logo-mersenne.png" %}"></a>
      <span class="footer-logo-text english-text">{% trans "Développé par" %} :</span><a class="logo-footer english-text" href="http://www.mathdoc.fr" target='_blank'><img align="middle" class="logo-footer" src="{% static "ptf/img/logo-mathdoc-footer.png" %}"></a>
    </div>

    <div class="row m-0">
      <div class="col-xs-12 col-sm-7 order-2 order-sm-1 footer-text">
        {% now "Y" as cur_year %}
        <span>©&nbsp;{{cur_year}}&nbsp;</span><a href="http://www.centre-mersenne.org">Centre Mersenne</a>
      </div>
      <div class="col-xs-12 col-sm-5 order-1 order-sm-2">
        <div class="d-flex justify-content-end">
          <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="{% url 'legal' %}">Legal information</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'code-of-conduct' %}">Code of Conduct & Ethics</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'faq' %}">Faq</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact us</a></li>
          </ul>
        </div>
      </div>
    </div>
  {% else %}
    <div class="logos-footer col-xs-12">
      <span class="footer-logo-text english-text">Diffusé par :</span><a class="logo-footer english-text" href="http://www.centre-mersenne.org" target='_blank'><img align="middle" class="logo-footer" src="{% static "ptf/img/logo-mersenne.png" %}"></a>
      <span class="footer-logo-text english-text">Développé par :</span><a class="logo-footer english-text" href="http://www.mathdoc.fr" target='_blank'><img align="middle" class="logo-footer" src="{% static "ptf/img/logo-mathdoc-footer.png" %}"></a>
    </div>

    <div class="row m-0">
      <div class="col-xs-12 col-sm-7 order-2 order-sm-1 footer-text">
        {% now "Y" as cur_year %}
        <span>©&nbsp;{{cur_year}}&nbsp;</span><a href="http://www.centre-mersenne.org">Centre Mersenne</a>
      </div>
      <div class="col-xs-12 col-sm-5 order-1 order-sm-2">
        <div class="d-flex justify-content-end">
          <ul class="nav nav-pills">
            <li class="nav-item" ><a class="nav-link" href="{% url 'legal' %}">Mentions légales</a></li>
            <li class="nav-item" ><a class="nav-link" href="{% url 'code-of-conduct' %}">Code de conduite et éthique</a></li>
            <li class="nav-item" ><a class="nav-link" href="{% url 'faq' %}">Faq</a></li>
            <li class="nav-item" ><a class="nav-link" href="{% url 'contact' %}">Nous contacter</a></li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
</footer>
