{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>MathJax TeX to MathML Page</title>
<script>
function toMathML(jax,callback) {
  var mml;
  try {
    mml = jax.root.toMathML("");
  } catch(err) {
    if (!err.restart) {throw err} // an actual error
    return MathJax.Callback.After([toMathML,jax,callback],err.restart);
  }
  MathJax.Callback(callback)(mml);
}
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\\\(","\\\\)"]]}
  });
  MathJax.Hub.Queue(
    function () {
      var jax = MathJax.Hub.getAllJax();
      var formulas = [];
      for (var i = 0; i < jax.length; i++) {
        toMathML(jax[i],function (mml) {
<!--          var oldDom = document.getElementById("top");-->
<!--          var newDom = document.createElement("div");-->
<!--          newDom.setAttribute("id", "mml");-->
<!--          newDom.innerHTML = mml;-->
<!--          oldDom.parentNode.insertBefore(newDom, oldDom);-->
          formulas.push(mml);

          if (i+1 == jax.length) {
<!--            var field_dict = {{ field_dict|safe }};-->
<!--            doi = field_dict['doi'];-->
            $.post("/api-mathjax-cb/", {'doi': '{{ doi|safe }}', 'formulas': JSON.stringify(formulas)}, function(result){
            });
          }
        });
      }
    }
  );
</script>
<script src="{% static "ptf/vendors/jquery/js/jquery-3.5.1.min.js" %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML-full"></script>
</head>
<body>
<div id="top">{% for formula in tex_formulas %}{{ formula|safe }}{% endfor %}
</div>
</body>
</html>

