{% load i18n %}
{% load static %}
{% load cms_tags %}
{% load socialaccount %}

{% url 'home' as home_url %}

<div id="top">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a href="{% url 'home' %}">
            <img class="img-fluid" src="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse {% if page %}mb-5{% endif %}" id="navbarNavAltMarkup">
            <ul class="nav nav-pills ms-auto me-auto">
              {% if LANGUAGE_CODE == "en" %}
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'instructions' %}">Instructions</a></li>
              {% else %}
              <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">À propos</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'instructions' %}">Instructions</a></li>
              {% endif %}
            </ul>
            {% if LANGUAGE_CODE == "en" %}
            <h2>Translations of centre Mersenne articles</h2>
            {% else %}
            <h2 >Traduction des articles du centre Mersenne</h2>
            {% endif %}
            <ul class="nav nav-pills ms-auto">
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" aria-current="page" {% if user.is_staff %} href= "{% url 'staff-home' %}" {% else %} href=  "{% url 'translation-list' %}" {% endif %} >Dashboard</a>-->
<!--              </li>-->
              <li class="language-select-nav ms-1">
                {%  include "common/language-select.html" with inside_dropdown=True%}
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item-traduction" title="My account">
                <a class="nav-link" href="https://connect.mathdoc.fr"><i class="bi bi-person-fill"></i></a>
              </li>
              <li class="nav-item-traduction" title="Logout">
                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  <a class="nav-link" onclick="this.closest('form').submit();return false;"><i class="bi bi-power"></i></a>
                </form>
              </li>
              {% else %}
              <li class="nav-item-traduction">
                <form method="post" action="{% provider_login_url 'mathdoc-auth' %}">
                  {% csrf_token %}
                  <a class="nav-link" onclick="this.closest('form').submit();return false;">Login</a>
                </form>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
</div>
