/* Titre de Page */
:root {
    --header-padding: 0;
    --header-nav-link-color: #329797;
    --header-active-nav-link-color: white;
    --header-active-nav-link-bg-color: #329797;
}
html,
body {
    height: 100%;
}

#content {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Page background */
.page-container {
    min-height: calc(100% - 396px); /* 100% - height(header=245) - height(footer=130) - margin(header=10) - border(footer=1) */
    height: auto !important;
    padding-top: 40px;
    padding-bottom: 20px;
}

#page-title {
}

header {
    background-image: url("/static/art/img/ART_background.jpg");
}

.journal-header-content {
    color: #329797;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    height: 245px;
}

.menu-link.nav-link {
    font-size: 14px;
}

a.menu-link.nav-link:hover{
    color: white;
    background-color: #329797;
  }

.search-button {
    display: none;
}

#search-bar form {
  padding-left: 5%;
  padding-right: 20%;
}

#navbar-collapse-button {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#mersenne-header {
    /*height: 170px;*/
    background-image: url("/static/art/img/ART_background.jpg");
    color: #329797;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    height: 245px;
}

#mersenne-header .row {
    margin: 0px;
}

#mersenne-header h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.menu-top {
    background-color: transparent;
    border: 0px;
    font-weight: bold;
    /*margin-bottom: 0px;*/
}

@media all and (min-width: 992px) {
    .menu-top {
        margin-right: -60px;
    }
}

.menu-bottom {
    border: 0px;
    margin-left: 20%;
    margin-bottom: 0px;
}

.menu-bottom .navbar-nav {
    float: left;
}

.menu-bottom .navbar-nav > li {
    float: left;
}

.journal-logo {
    text-align: center;
    max-width: 520px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo-mersenne {
    height: 60px;
}

.logo-footer {
    height: 45px;
}

/*
.navbar-default .navbar-nav > li > a {
    color: #329797;
}
*/

#mersenne-header a {
    color: #329797;
}

#mersenne-header .active .dropdown-menu a {
    color: #329797;
    background-color: white;
}

#mersenne-header a:hover,
#mersenne-header a:focus,
#mersenne-header .active a,
#mersenne-header .active a:hover,
#mersenne-header .active .menu-focus {
    color: white;
    background-color: #329797;
}

#mersenne-header .journal-logo a:hover,
#mersenne-header .journal-logo a:focus,
#mersenne-header .journal-logo .active a,
#mersenne-header .journal-logo .active a:hover,
#mersenne-header .journal-logo .active .menu-focus {
    color: white;
    background-color: transparent;
}

#mersenne-header .journal-logo img {
    width: auto;
    height: 200px;
    padding-left: 20px;
}

.dropdown-accordion {
    display: none;
    float: right;
}

.search-button-div {
    width: 100px;
    padding-right: 0px;
    padding-left: 0px;
}

.browse-or {
    text-align: center;
    margin-top: 7px;
}

.footer-text {
    padding-left: 15%;
    padding-top: 15px;
    color: #777;
    font-size: 12px;
}

.footer-text a {
    color: #777;
}

#footer {
    margin-top: 0px;
    padding-top: 15px;
    position: relative;
    height: 149px;
}

.logos-footer {
    margin-bottom: 10px;
    font-size: 12px;
}

.logos-footer a {
    margin-right: 7%;
}

.logos-footer a:last-child {
    margin-right: 0px;
}

#sidebar {
    width: 250px;
    /*    transition: all 0.3s;*/
    padding-top: 0px;
}

/*

.wrapper-sidebar {
    display: flex;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -250px;
}
*/

#toggle-sidebar {
    display: none;
    margin-bottom: 20px;
}

.cms-breadcrumb {
    list-style: none;
    display: inline-block;
}
.cms-breadcrumb .icon {
    font-size: 14px;
}
.cms-breadcrumb li {
    float: left;
}
.cms-breadcrumb li a {
    color: #329797;
    display: block;
    background: lightblue; /*#3498db;*/
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}
.cms-breadcrumb li:nth-child(even) a {
    background-color: lightblue; /*#2980b9;*/
}
.cms-breadcrumb li:nth-child(even) a:before {
    border-color: lightblue; /*#2980b9;*/
    border-left-color: transparent;
}
.cms-breadcrumb li:nth-child(even) a:after {
    border-left-color: lightblue; /*#2980b9;*/
}
.cms-breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.cms-breadcrumb li:first-child a:before {
    border: none;
}
.cms-breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.cms-breadcrumb li:last-child a:after {
    border: none;
}
.cms-breadcrumb li a:before,
.cms-breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid lightblue; /*#3498db;*/
    border-width: 20px 10px;
    width: 0;
    height: 0;
}
.cms-breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}
.cms-breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: lightblue; /*#3498db;*/
}
.cms-breadcrumb li a:hover {
    background-color: #329797; /*#ffe898;*/
    color: white;
}
.cms-breadcrumb li a:hover:before {
    border-color: #329797; /*#ffe898;*/
    border-left-color: transparent;
}
.cms-breadcrumb li a:hover:after {
    border-left-color: #329797; /* #ffe898; */
}
.cms-breadcrumb li.active a {
    background-color: #329797; /*#ffe898;*/
    color: white;
}
.cms-breadcrumb li.active a:before {
    border-color: #329797; /*#ffe898;*/
    border-left-color: transparent;
}
.cms-breadcrumb li.active a:after {
    border-left-color: #329797; /*#ffe898;*/
}

.cms-breadcrumb li.breadcrumb-previous a,
.cms-breadcrumb li.breadcrumb-next a {
    margin-right: 5px;
}

.cms-breadcrumb li:last-child a {
    margin-right: 5px;
}

ul.cms-breadcrumb {
    padding-left: 0px;
}

.article-breadcrumb {
    padding-left: 0px;
    padding-right: 0px;
    right: 18%;
}

.btn-tex {
    padding-right: 0px;
    padding-left: 50px;
    text-align: right;
    max-width: 200px;
}

.site-settings {
    font-size: 30px;
}

.journal-logo-small,
.journal-logo-medium {
    display: none;
}

.journal-logo {
    display: block;
}

@media all and (max-width: 1400px) {
    .page-container .journal-logo {
        max-width: 300px;
    }
}

@media all and (max-width: 1300px) {
    .page-container .journal-logo {
        max-width: 200px;
    }
}

@media all and (max-width: 1199px) {
    .browse-or {
        width: 40px;
        height: 27px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-text {
        padding-left: 50px;
    }

    .journal-logo-small,
    .journal-logo {
        display: none;
    }

    .journal-logo.page-margin {
        display: block;
    }

    .journal-logo-medium {
        display: block;
    }

    .journal-logo-medium img {
        height: 200px;
    }

    .regular-content {
        margin-left: 8%;
    }

    .article-breadcrumb {
        right: 0px;
    }

    .btn-tex {
        margin-bottom: 10px;
        padding-left: 0px;
        text-align: left;
    }
}

@media all and (max-width: 1200px) {
    .cms-breadcrumb {
        padding-left: 0px;
    }

    .logos-footer a {
        margin-right: 5%;
    }
}

@media all and (max-width: 1050px) {
    .journal-logo-medium img {
        height: 180px;
    }
}

@media all and (max-width: 992px) {
    .journal-logo-medium,
    .journal-logo {
        display: none;
    }

    .journal-logo-small {
        display: block;
        padding-left: 15px;
    }

    .journal-logo-small img {
        height: 180px;
    }

    .page-container .journal-logo {
        display: none;
    }
}

@media all and (max-width: 900px) {
    #mersenne-header {
        height: 140px;
    }

    .page-container {
        min-height: calc(100% - 291px);
        padding-top: 20px;
        margin-left: 30px;
    }

    #mersenne-header .journal-logo {
        width: 120px;
    }

    .journal-logo-small img {
        height: 100px;
    }

    .journal-header-content {
        width: calc(100% - 150px);
    }

    #mersenne-header .journal-logo img {
        height: 100px;
        padding-left: 0px;
    }

    #mersenne-header h1 {
        float: left;
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 40px;
    }

    #search-bar {
        padding-top: 5px;
    }

    #search-group-btn {
        display: none;
    }

    #line-container,
    .search-group {
        width: 250px;
        margin-right: 10px;
        height: 34px;
    }

    .menu-top {
        display: none;
    }

    .dropdown-accordion {
        display: block;
    }

    .journal-title:after {
        display: block;
        clear: both;
        content: "";
    }

    .page-container h2 {
        margin-top: 10px;
    }

    .cms-page {
        padding-left: 10px;
        margin-bottom: 20px;
    }

    .footer-text {
        padding-left: 20px;
    }

    .logo-mersenne {
        height: 50px;
    }

    .logo-footer {
        height: 35px;
    }

    .logos-footer a {
        margin-right: 10px;
    }

    .regular-content {
        margin-left: 0;
        padding-left: 0;
    }
}

@media all and (max-width: 768px) {
    .page-container {
        min-height: calc(100% - 331px);
    }

    #footer {
        height: 189px;
    }

    #sidebar {
        display: none;
        width: 100%;
    }
    #toggle-sidebar {
        display: block;
    }
    #results {
        width: 100%;
    }
}

@media all and (min-width: 768px) {
    #sidebar {
        display: block;
    }
    #toggle-sidebar {
        display: none;
    }
    #results {
        width: calc(100% - 250px);
    }
}

@media all and (max-width: 700px) {
    #mersenne-header {
        height: 170px;
    }

    .page-container {
        min-height: calc(100% - 361px);
    }

    .page-container .journal-logo {
        display: none;
    }

    #search-bar {
        padding-top: 0px;
    }

    .browse-or {
        margin-right: 30%;
    }

    #line-container,
    .search-group {
        width: 300px;
        margin-top: 5px;
    }

    .search-button-div {
        margin-top: 10px;
    }
}

@media all and (max-width: 600px) {
    #search-button-text {
        display: none;
    }

    .search-button-div {
        width: 40px;
    }
}

@media all and (max-width: 560px) {
    #line-container,
    .search-group {
        width: 220px;
    }
}

@media all and (max-width: 500px) {
    #mersenne-header {
        height: 160px;
    }

    .page-container {
        min-height: calc(100% - 371px);
    }

    #mersenne-header .journal-logo {
        width: 90px;
    }

    .journal-header-content {
        width: calc(100% - 100px);
    }

    #mersenne-header .journal-logo img {
        height: 80px;
    }

    #mersenne-header h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .logo-footer {
        margin-top: 5px;
    }
}

@media all and (max-width: 450px) {
    #footer {
        height: 209px;
    }

    .page-container {
        min-height: calc(100% - 391px);
    }

    #mersenne-header h1 {
        font-size: 14px;
    }

    .journal-header-content {
        padding-right: 0px;
    }
}

@media all and (max-width: 400px) {
    #mersenne-header .journal-logo {
        width: 70px;
    }

    .journal-header-content {
        width: calc(100% - 80px);
    }

    #mersenne-header .journal-logo img {
        height: 60px;
    }

    #line-container,
    .search-group {
        width: 200px;
    }

    .searchinput {
        padding-left: 3px;
    }

    .logo-footer {
        height: 30px;
    }
}

.menu-top {
    margin-left: 13%;
    /*
    border-top: 1px solid #329797;
    border-bottom: 1px solid #329797;
    border-radius: 0px;
*/
}

/* Barre de recherche */
#search-bar {
    margin-left: 5px;
    /*background-color: lightblue;*/
}

#mersenne-header .search-button {
    background-color: #329797;
    border-color: #329797;
    color: white;
}

.search-button,
 .search-button:hover {
  background-color: #329797;
  border-color: #329797;
  color: white;
}

#line-container {
    padding-left: 0px;
}

/* Pagination resultat recherche */
.pagination > .active > a {
}
.pagination > li > a {
}

/* Container menu + page */
.content-container {
}

/* Contenu de la page */
.cms-page {
}

/* Menu gauche */
.sidebar {
}
li.mersenne-cms-menu-lvl1 {
}
li.mersenne-cms-menu-lvl2 {
}
.nav-tabs > li.active > a:hover {
}
.nav-tabs > li.active > a {
}
.nav-tabs > li > a:hover {
}
.nav-tabs > li > a:focus {
    outline: none;
}

.page-container .row {
    margin: 0px;
}

.cms-page-content {
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    width: 95%;
}

.volume-ligne,
.journal-content {
    margin-top: 50px;
    font-size: 20px;
}

.recent-articles {
    /*max-height: 500px;*/
    min-width: 380px;
}

.recent-articles-header {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #329797;
    text-align: center;
}

.article-short {
    font-size: 14px;
}

.article-short h2 {
    font-size: 14px;
    margin: 0px;
}

.article-tab {
    font-size: 16px;
}

.article-title a {
    color: #333;
}

.facet-header,
.facet-header-no-click {
    background-color: #329797;
    color: white;
}

.lightbox {
    height: 150px;
    border: 1px solid #c7c7c7;
}

.btn-toggle,
.btn-toggle:hover,
.btn-toggle:focus,
.btn-toggle:active {
    color: white;
    background-color: #329797;
    border-color: #329797;
}

#main-dropdown-menu {
    left: -143px;
    width: 200px;
}

.panel-heading > a {
    text-decoration: none;
    outline-style: none;
}

.panel-group {
    margin-bottom: 0px;
}

.panel-group .panel {
    border-radius: 0px;
}

.panel-title > a:hover {
    background-color: #329797;
    color: white;
    text-decoration: none;
    outline-style: none;
}

.panel-title {
    margin-top: 0px;
    line-height: 24px;
}

.panel-body a {
    line-height: 40px;
}

.container-flex {
    font-size: 16px;
}

.container-flex > .flex-group .flex-item {
    margin-left: 0px;
    margin-right: 20px;
}
