{% extends "base.html" %}
{% load i18n %}
{% block scripts %}{% endblock %}
{% block page_id %}404{% endblock %}
{% block content %}
<h3>Cette ressource n'est pas en accès libre et est protégé par une barrière mobile</h3>
    Vous serez redirigé vers la notice de l'article dans 2 secondes ou cliquez sur ce <a href="{% url 'item_id' pid %}">lien</a>
<br><br>
<h3>The document is not in open access and is protected by a moving wall</h3>
	You will be redirected to the article webpage in a few seconds or follow this  <a href="{% url 'item_id' pid %}">link</a>


    <script text="javascript">
    setTimeout(function () {
    window.location.href = "{%  url 'item_id' pid %}"; //will redirect to your blog page (an ex: blog.html)
    }, 3000); //will call the function after 2 secs.
    </script>

{% endblock %}
