{% extends "base.html" %}
{% load i18n %}
{% load helpers %}

{% block title %}
  {{ journal.title_tex }}
{% endblock %}

{% block content %}
<h1>Le Séminaire de mathématiques 1933-1939</h1>
{% if LANGUAGE_CODE == 'fr' %}
<p>par <a href="http://oulipo.net/fr/oulipiens/ma">Michèle Audin</a></p>
<p>Nous décrivons l’état des séminaires de mathématiques en France après la première guerre mondiale : un seul séminaire, celui d’Hadamard, jusqu’en novembre 1933, date à laquelle commence le séminaire Julia.</p>
<p>La première partie est une présentation du séminaire et de son contexte. Ce livre se conclut par une description de l’auditoire du séminaire (grâce aux archives que nous avons retrouvées) et une discussion des suites qu’il a pu avoir dans la vie mathématique en France et ailleurs.</p>
</p>La deuxième partie est formée des textes des exposés de ce séminaire, (re-)publiés en volume annuel, ainsi que des commentaires et des informations contextuelles sur leurs contenus et leurs auteurs — beaucoup de ceux-ci s’engageaient, à la même époque, dans la fondation de Bourbaki.</p>
<h2>Table des matières</h2>
<ol type="1">
  <li>Première partie - <a href="/item/MALSM_2014__1_">L'histoire</a></li>
  <li>Deuxième partie - Les exposés
{% else %}
<p>by <a href="http://oulipo.net/fr/oulipiens/ma">Michèle Audin</a></p>
<p>The book series begins with a description of mathematics seminars in France after WWI: there was only the Hadamard Seminar, until November 1933, when Julia’s Seminar started.</p>
<p>The first part is a presentation of the seminar and its context. This book is concluded by a description of the audience of Julia’s Seminar (thanks to the archives we were able to find) and the repercussions it had on the mathematical life, in France and elsewhere.</p>
<p>The second part contains the texts of the talks, (re-)published by yearly volumes, and contextual information, both on the contents and on the authors—quite a few of them were engaged, at the same time, in the foundation of the Bourbaki group.</p>
<h2>Table of contents</h2>
<ol type="1">
  <li>First part - <a href="/item/MALSM_2014__1_">L'histoire</a></li>
  <li>Second part - The talks
{% endif %}
    <ol type="1">
      <li><a href="/item/MALSM_2014__2_">Année 1933-1934 : Théorie des groupes et des algèbres</a></li>
      <li><a href="/item/MALSM_2014__3_">Année 1934-1935 : Espace de Hilbert</a></li>
      <li><a href="/item/MALSM_2014__4_">Année 1935-1936 : Topologie</a></li>
      <li><a href="/item/MALSM_2014__5_">Année 1936-1937 : Travaux d’Élie Cartan</a></li>
      <li><a href="/item/MALSM_2014__6_">Année 1937-1938 : Fonctions algébriques</a></li>
      <li><a href="/item/MALSM_2014__7_">Année 1938-1939 : Calcul des variations</a></li>
    </ol>
  </li>
</ol>
{% endblock %}


