{% if page_obj and page_obj.paginator.num_pages > 1 %}
  <nav aria-label="Paginator">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <span>
            <span aria-hidden="true">&laquo;</span>
          </span>
        </li>
      {% endif %}

      {% for page_index in paginator.page_range %}
        <li class="{% if page_index is page_obj.number %}active{% endif %}">
          {% if page_index is page_obj.number %}
            <span>{{ page_index }} <span class="sr-only">(current)</span></span>
          {% else %}
            <a href="?page={{ page_index }}">{{ page_index }}</a>
          {% endif %}
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <span>
            <span aria-hidden="true">&raquo;</span>
          </span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
