{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form class="login" method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          {% if form.errors %}
            <div class="mb-4">
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            <a class="btn btn-outline-secondary btn-lg" href="{% provider_login_url "orcid" %}" role="button">
              <img style="width:20px;" src='{% static "ptf/img/orcid.svg" %}'> ORCID
            </a>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>
          <br/>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" name="login" id="id_login" class="form-control form-control-lg"
                   placeholder="Enter a valid email address" autocomplete="username" required />

          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" name="password" id="id_password" class="form-control form-control-lg"
                   placeholder="Enter password" autocomplete="current-password" required />

          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="id_remember" />
              <label class="form-check-label" for="id_remember">
                Remember me
              </label>
            </div>
            <a href="{% url 'account_reset_password' %}" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{{ signup_url }}"
                                                                              class="">Register</a></p>
          </div>
        </form>
      </div>
    </div>



{% comment %}
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>


{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>

{% endcomment %}

{% endblock %}
