{% extends "common/search/search-bar.html" %}

{% block searchbar %}
{% with with_kw=True search_button_next_line=True %}
<div class="me-auto justify-content-center align-items-center d-none d-xl-flex">
  <h3 id="site-title">
    JOURNAL OF COMPUTATIONAL MATHEMATICS
  </h3>
</div>
{{ block.super }}
{% endwith %}
{% endblock searchbar %}