#journal-graph {
    overflow-x: auto;
}

#journal-graph .graph-text {
    font-size: 13px;
    min-width: 200px;
    max-width: 600px;
}

#journal-graph .graph-text .active {
    font-weight: bold;
}

#journal-graph rect {
    fill: #fff;
    stroke: #aaa;
}

#journal-graph .node.active rect {
    stroke-width: 2px;
    stroke: #333;
}

.edgePath {
    stroke: #aaa;
    fill: #aaa;
    stroke-width: 2px;
}

.node-label {
    display: inline;
    line-height: 1;
    text-align: center;
}

.node-title {
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-group-emphasis {
    margin-bottom: 0px;
}

.label-years {
    font-size: 90%;
}

.issn {
    font-size: 90%;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
