html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Avantgarde, Arial, sans-serif;
    font-size: 14px;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 0;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

#main {
    min-height: 100%; /* at least the size of its parent (which is 100%). As html and body also have height:100%, min-height is the height of the browser window */
    height: auto !important; /* If the child is higher than the browser window, the height of .main increases accordingly */
    margin: 0 auto -115px; /* margin-bottom minus footer's height */
    padding-bottom: 115px; /* same as footer's height */
}

#footer {
    height: 115px;
}

#left,
#left-books {
    width: 15%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#right {
    width: 15%;
}

#left-books {
    float: left;
    width: 25%;
}

#content_left {
    margin-top: 20px;
}

#center_header {
    margin-left: 30px;
    margin-bottom: 20px;
}

#center {
    width: 69%;
    padding-left: 20px;
}

@media all and (max-width: 1200px) {
    #left {
        width: 10%;
    }
    #center {
        width: 80%;
    }
}

@media all and (max-width: 1000px) {
    #left {
        width: 5%;
    }
    #center {
        width: 90%;
    }
}

@media all and (max-width: 900px) {
    #left {
        width: 0%;
    }
    #center {
        width: 100%;
    }
}

.logo-footer {
    height: 65px;
    background-color: #5eb7cc;
    color: #333333;
    padding-top: 5px;
    line-height: 50px;
}

.logo-footer-text {
    float: left;
    line-height: 50px;
    text-align: right;
    margin-left: 10%;
}

.logo-auto {
    height: 30px;
}

@media all and (min-width: 630px) {
    .logo-auto {
        height: 40px;
    }
}

@media all and (min-width: 768px) {
    .logo-auto {
        height: 45px;
    }
}

@media all and (min-width: 992px) {
    .logo-auto {
        height: 45px;
    }
}

.logo-footer-left {
    width: 5%;
}

.menu-footer {
    background-color: #5eb7cc; /*#97ABC3;*/
    height: 50px;
    padding-top: 5px;
    text-align: center;
}

.no-focus:focus,
.no-focus a:focus {
    outline: 0;
    outline-style: none;
    text-decoration: none;
}

.desktop,
.lg-desktop {
    display: none;
}

#logo-collex-lg {
    display: none;
}
#logo-collex {
    display: ineline-block;
}

.smartphone {
    display: block;
}

@media all and (min-width: 768px) {
    .desktop {
        display: block;
    }

    .smartphone {
        display: none;
    }

    #logo-collex-lg {
        display: inline-block;
    }
    #logo-collex {
        display: none;
    }
}

@media all and (min-width: 1050px) {
    .logo-footer-left {
        width: 5%;
    }
}

@media all and (min-width: 1200px) {
    .lg-desktop {
        margin-right: 15px;
        display: inline-block;
    }
}

@media all and (min-width: 1400px) {
    .logo-footer-left {
        width: calc(45% - 410px);
    }
}

#crumbs {
    text-align: center;
}

#crumbs ul {
    list-style: none;
    display: inline-table;
}

#crumbs ul li {
    display: inline;
}

#crumbs ul li a {
    display: block;
    float: left;
    height: 30px;
    background: #1d4e89; /*#97ABC3;*/
    text-align: center;
    padding: 4px 30px 0 20px;
    position: relative;
    margin: 10px 10px 0 0;

    font-size: 16px;
    text-decoration: none;
    color: #fff;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

#crumbs ul li a:after {
    content: "";
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 16px solid #1d4e89; /*#97ABC3;*/
    position: absolute;
    right: -15px;
    top: 0;
    z-index: 1;
}

#crumbs ul li a:before {
    content: "";
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ffffff;
    position: absolute;
    left: 0;
    top: 0;
}

#crumbs ul li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#crumbs ul li:first-child a:before {
    display: none;
}

#crumbs ul li:last-child a {
    padding-right: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#crumbs ul li:last-child a:after {
    display: none;
}

#crumbs ul li a:hover {
    background: #5eb7cc; /*#999999;*/
}

#crumbs ul li a:hover:after {
    border-left-color: #5eb7cc; /*#999999;*/
}

#crumbs ul.crumb-noarrow {
    padding-left: 0px;
    text-align: center;
}

#crumbs ul.crumb-noarrow li a {
    background: #ffffff;
    color: #333;
}

#crumbs ul.crumb-noarrow li a:hover {
    background: #00b2ca;
    color: #ffffff;
}

#bandeau {
    background-color: #fef2c4;
    font-size: 18px;
    color: #036;
    vertical-align: middle;
    line-height: 6ex;
    font-weight: bold;
    height: 64px;
}

.bandeau-background {
    float: left;
    margin-left: 20px;
    width: 400px;
    width: calc(100% - 360px);
    height: 6ex;
}

#bandeau2 {
    line-height: 3ex;
}

#bandeau3 {
    background-color: #fef2c4;
    padding: 15px 10px 0px 10px;
}

.horizontal-menu {
    background-color: #5eb7cc; /*#97ABC3;*/
}

.horizontal-menu-border {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.horizontal-menu ul {
    list-style-type: none;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

.horizontal-menu ul li {
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
}

.horizontal-menu-top ul li {
    display: block;
    padding-left: 1em;
}

.horizontal-menu ul li a {
    color: white;
    font-size: 16px;
}

.navbar-default {
    margin-bottom: 0px;
    background-color: #5eb7cc; /*#97ABC3;*/
    border-top: 0px solid black;
    border-bottom: 0px solid black;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    background-image: none;
    font-size: 18px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #1d4e89; /*#265a88;*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #1d4e89; /*#265a88;*/
    color: #ffffff;
    background-image: none;
}

.dropdown-menu {
    padding: 0px;
    margin-top: -5px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.dropdown-menu li {
    background-color: #5eb7cc; /*#265a88;*/
    background-image: none;
    height: 40px;
}

.dropdown-menu li > a {
    color: #ffffff;
    font-weight: 700;
}

.dropdown-menu li:hover,
.dropdown-menu li a:hover {
    color: #ffffff;
    background-color: #1d4e89; /*#265a88;*/
    background-image: none;
}

.light-blue,
.light-blue:hover,
.light-blue:focus,
.light-blue.active {
    background-color: #5eb7cc; /*#265a88;*/
    background-image: none;
}

a {
    text-decoration: none;
    color: #1d4e89; /*#369;*/
}

.journal-website {
    text-align: center;
}

.pub-date {
    text-align: center;
    padding: 1ex;
}

#main-content .issue-list-header {
    font-size: 12px;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    border: 1px solid black;
    padding-left: 1em;
    text-align: left;
    background-color: #5eb7cc; /*#97ABC3;*/
}

.book-series-header {
    font-size: 12px;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    margin-bottom: 2ex;
    border: 1px solid black;
    padding-left: 1em;
    text-align: left;
}

li.journal-title {
}

#main-content {
    margin-left: 15%;
    margin-right: 5%;
}

body#page-journals #main-content {
    margin-left: 15%;
    margin-right: 5%;
    width: 90%;
}

body#page-help #main-content {
    margin-left: 12em;
    margin-right: 5%;
    width: auto;
}

body#page-contact #main-content {
    margin-left: 12em;
    margin-right: 5%;
    width: auto;
}

body#page-about #left-menu .about {
    font-weight: bold;
}

body#page-help #left-menu .help {
    font-weight: bold;
}

body#page-conditions #left-menu .conditions {
    font-weight: bold;
}

body#page-wall #left-menu .wall {
    font-weight: bold;
}

body#page-rights #left-menu .rights {
    font-weight: bold;
}

body#page-thanks #left-menu .thanks {
    font-weight: bold;
}

body#page-links #left-menu .links {
    font-weight: bold;
}

body#page-oaipmh #left-menu .oaipmh {
    font-weight: bold;
}

body#page-help #left-menu .help {
    font-weight: bold;
}

body#page-plugins #left-menu .plugins {
    font-weight: bold;
}

body#page-tips #left-menu .tips {
    font-weight: bold;
}

body#page-formats #left-menu .formats {
    font-weight: bold;
}

body#page-bibrefs #left-menu .bibrefs {
    font-weight: bold;
}

body#page-about #main-content {
    margin-left: 12em;
    margin-right: 5%;
    width: auto;
}

#page-bottom {
    background-color: #fef2c4;
    text-align: right;
    margin-top: 3ex;
    height: 2.5ex;
    line-height: 2.5ex;
    padding-right: 1em;
    font-size: smaller;
}

.issue-list tr td {
    padding-right: 2em;
}

ul.journal-list {
    list-style-type: none;
}

/*#left-menu {border:1px solid black}*/
#left-menu {
    font-size: smaller;
}

#left-menu ul li {
    list-style-type: none;
    margin-right: 1em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    border-bottom: 1px solid black;
}

#left-menu ul {
    list-style-type: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.titre {
    width: 80%;
    background-color: #5eb7cc; /*#97ABC3;*/
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    border: 1px solid black;
    line-height: 3ex;
    height: 3ex;
    vertical-align: middle;
    text-align: center;
}

#publisher-status {
    padding: 1%;
}

.facet-header,
.facet-header-no-click {
    min-width: unset;
}

@media all and (max-width: 1200px) {
    #results {
        padding-right: 10px;
    }
}

@media all and (max-width: 992px) {
    .col-xs-3 {
        padding-left: 0;
    }
}

#toggle-sidebar {
    margin-top: 7px;
    margin-bottom: 7px;
}

#sidebarCollapse {
    text-shadow: none;
    margin: 5px auto;
}

@media all and (min-width: 768px) {
    #sidebarCollapse {
        display: none;
    }
    #sidebar {
        display: block !important;
    }
}
@media all and (max-width: 768px) {
    #sidebarCollapse {
        display: block;
    }
    #sidebar {
        display: none;
    }
}

#search-results {
    padding-top: 4ex;
    padding-left: 1em;
    padding-right: 1em;
}

#full-article {
    padding-top: 4ex;
}

.cover {
    text-align: center;
}

.filters {
    float: left;
    width: 15em;
    margin-right: 1.5em;
    font-size: smaller;
}

.count {
    padding-left: 0.5em;
}

.item-list {
    overflow: auto;
    padding-top: 2ex;
}

.filter ul li {
    list-style: none;
}

.filter-head {
    font-weight: bold;
    text-align: left;
    margin-top: 1ex;
    margin-bottom: 0.5ex;
    padding-left: 0.2em;
}

fieldset {
    border: none;
}

/*.pageno {*/
/*padding-left: 0.3em;*/
/*padding-right: 0.3em;*/
/*background-color: AliceBlue;*/
/*border: 1px solid grey;*/
/*}*/

/*.currentpageno {*/
/*padding-left: 0.3em;*/
/*padding-right: 0.3em;*/
/*border: 1px solid grey;*/
/*}*/

/*.pagination {*/
/*text-align: center;*/
/*padding-top: 1.5ex;*/
/*padding-bottom: 1.5ex*/
/*}*/

span.doctype {
    font-size: smaller;
    border-left: 2px solid rgb(0, 74, 154);
    border-top: 2px solid rgb(0, 74, 154);
    padding-left: 2px;
}

p.doctype {
    margin-bottom: 6px;
}

span.active,
tr.active a {
    background-color: #f0f0f0;
}

.quick-search {
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.issue-editors {
    text-align: left;
    font-size: smaller;
    font-weight: normal;
    font-style: normal;
}

.issue-title {
    text-align: center;
    padding-top: 1ex;
    padding-bottom: 0ex;
    font-style: italic;
    font-weight: normal;
}

.journal-icon {
    margin-right: 0.5em;
    width: 28px;
    height: 39px;
}

.issue-header {
    text-align: center;
    margin-bottom: 2.5ex;
    font-weight: bold;
}

.sec-title {
    font-size: 12px;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    font-weight: normal;
    border: 1px solid black;
    padding-left: 1em;
    text-align: left;
    background-color: #5eb7cc; /*#97ABC3;*/
}

.new {
    color: red;
}

.book-toc {
    list-style-type: none;
}

.book-part {
    margin-bottom: 1ex;
}

.id-list,
.id-list li,
.sort-menu,
.sort-menu li {
    list-style-type: none;
}

.sort-menu li {
    padding-bottom: 0.4ex;
}

.ext-id,
.ext-link {
    font-size: smaller;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.sc {
    font-variant: small-caps;
}

.inactive-link {
    color: grey;
}

#language-switch {
    float: right;
    font-size: smaller;
}

#mathml-switch {
    float: right;
}

.liste-a-puce {
    list-style-image: url("/static/numdam/img/puce.gif");
    padding-left: 0px;
    list-style-position: inside;
}

hr {
    color: rgb(239, 239, 239);
    background-color: rgb(239, 239, 239);
    height: 1px;
}

.index-auteurs {
    font-size: smaller;
}

.book-series-menu ul {
    list-style-type: none;
    font-size: smaller;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

.book-series-menu ul li {
    display: inline;
    padding-left: 1em;
}

.book-series-menu ul li.series-title {
    font-size: 14px;
}

body#page-index .series-index-link {
    font-weight: bold;
}

body#page-series-books .series-books-link {
    font-weight: bold;
}

.index-annees {
    font-size: smaller;
}

.search-group-added {
    margin-top: 10px;
}

.search-group-inner {
    position: relative;
    vertical-align: middle;
}

.searchclear {
    position: absolute;
    right: 5px;
    top: 10px;
    /*bottom: 0;*/
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    z-index: 3;
}

.search-button {
    color: #fff;
    background-color: #5eb7cc; /*#97ABC3;*/
    border-color: #5eb7cc; /*#97ABC3;*/

    /*background-image: -webkit-linear-gradient(top, #97ABC3 0, #265a88 100%);
    background-image: -o-linear-gradient(top, #97ABC3 0, #265a88 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#97ABC3), to(#265a88));
    background-image: linear-gradient(to bottom, #97ABC3 0, #265a88 100%);*/
}

.search-button:hover {
    color: #fff;
}

.bt-checkbox {
    vertical-align: bottom;
    margin-bottom: -2px;
}

.show-more,
.show-less {
    cursor: pointer;
}

.btn-default.active,
.btn-default:active {
    background-color: #97abc3;
    border-color: #dbdbdb;
}

.journal-content {
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
}

.dynamic-columns {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}

.dynamic-columns-large {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

@media all and (max-width: 1650px) {
    .dynamic-columns-large {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }
}

@media all and (max-width: 1300px) {
    .journal-content {
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media all and (max-width: 1200px) {
    .dynamic-columns {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }
}

@media all and (max-width: 980px) {
    .dynamic-columns-large {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
}

@media all and (max-width: 900px) {
    .dynamic-columns {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }
}

@media all and (max-width: 600px) {
    .dynamic-columns {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
}

.atoz {
    margin-bottom: 20px;
}

.outer-div {
    text-align: center;
}
.inner-div {
    display: inline-block;
}

.row-even {
    background-color: #f5f5f5;
}

.nav-tabs {
    font-size: 20px;
    /*border-bottom: 2px solid #777777;*/
}

/*
.nav-tabs {
    background-color: #F7A574;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
    background-color: #f75c00;
    color: #FFFFFF;
    border: 2px solid #777777;
    border-bottom-color: transparent;
}

.nav-tabs > li > a {
    border: medium none;
}

.nav-tabs > li > a:hover{
    background-color: #f75c00 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}

.nav-tabs > .active > a:hover {
    background-color: #F7A574;
    color: #FFFFFF;
    background-image: none;
}
*/

.box-orange {
    background-color: #f7a574;
    padding: 8px;
    text-align: center;
    margin: 0px;
}

.lightbox-zoom {
    background-color: rgba(255, 255, 255, 0.7);
}

/*
.cover-thumbnail {
    position: relative;
    z-index: 0;
}

.cover-thumbnail:hover {
    background-color:transparent;
    z-index: 50;
}

.cover-thumbnail span {
    position: absolute;
    background-color: #FFFFFF;
    padding: 5px;
    left: -1000px;
    visibility: hidden;
    color: black;
    text-decoration: none;
}

.cover-thumbnail span img{
    border-width: 0;
    padding: 2px;
}

.cover-thumbnail:hover span{
    visibility: visible;
    top: 0;
    left: 0px;
}
*/

/*
.carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }
*/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

.carousel-item {
    /*width: 180px;*/
    text-align: center;
}
.carousel-title {
    margin-top: 5px;
}

.wrapper-float:after {
    content: "";
    display: block;
    clear: both;
}

.embargo-button:hover {
    cursor: pointer;
}

.embargo-button {
    color: orange;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-author {
    font-size: 1.4em;
}

.float-minus-100 {
    float: left;
    padding-left: 15px;
    width: 100%;
}

@media all and (min-width: 992px) {
    .float-minus-100 {
        width: calc(100% - 100px);
    }
}

.search-facets {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.cms-breadcrumb {
    list-style: none;
    display: inline-block;
}
.cms-breadcrumb .icon {
    font-size: 14px;
}
.cms-breadcrumb li {
    float: left;
}
.cms-breadcrumb li a {
    color: white;
    display: block;
    background: #5eb7cc;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}
.cms-breadcrumb li:nth-child(even) a {
    background-color: #5eb7cc;
}
.cms-breadcrumb li:nth-child(even) a:before {
    border-color: #5eb7cc;
    border-left-color: transparent;
}
.cms-breadcrumb li:nth-child(even) a:after {
    border-left-color: #5eb7cc;
}
.cms-breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.cms-breadcrumb li:first-child a:before {
    border: none;
}
.cms-breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.cms-breadcrumb li:last-child a:after {
    border: none;
}
.cms-breadcrumb li a:before,
.cms-breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #5eb7cc;
    border-width: 20px 10px;
    width: 0;
    height: 0;
}
.cms-breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}
.cms-breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #5eb7cc;
}
.cms-breadcrumb li a:hover {
    background-color: #1d4e89;
    color: white;
}
.cms-breadcrumb li a:hover:before {
    border-color: #1d4e89;
    border-left-color: transparent;
}
.cms-breadcrumb li a:hover:after {
    border-left-color: #1d4e89;
}
.cms-breadcrumb li.active a {
    background-color: #1d4e89;
    color: white;
}
.cms-breadcrumb li.active a:before {
    border-color: #1d4e89;
    border-left-color: transparent;
}
.cms-breadcrumb li.active a:after {
    border-left-color: #1d4e89;
}

.cms-breadcrumb li.breadcrumb-previous a,
.cms-breadcrumb li.breadcrumb-next a {
    margin-right: 5px;
}

.cms-breadcrumb li:last-child a {
    margin-right: 5px;
}

ul.cms-breadcrumb {
    padding-left: 0px;
}
.container-flex {
    padding-left: 7%;
    padding-right: 7%;
}

.list-volumes {
    columns: 30em;
}

.book-icon {
    float: left;
    display: block;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #ffffff;
}

@media all and (max-width: 900px) {
    .book-icon {
        display: none;
    }
}

.container-frontmatter td.inside-toc {
    padding-left: 40px
}

.toc-page {
    padding-left: 10px;
}

.book-icon-small {
    float: right;
    margin-top: 20px;
    margin-left: 43px;
    margin-right: 0px;
}

@media all and (min-width: 1400px) {
    .book-icon-small {
        float: left;
        margin-right: 50px;
    }
}

.lightbox img {
    border: 1px solid;
}
