<template>
    <div id="collection" v-on:click="clickEvt($event)">
        <form v-on:submit.prevent>
            <!--  Title section  -->
            <div id="section-title">
                <div class="article-heading" id="section-title"><span>Title</span></div>
                <div class="col-9">
                    <div id="title">
                        <ckeditor :config="editorTitleConfig" v-model="collection.title_tex" id="title"
                                  ref="title_ckeditor"></ckeditor>
                        <div id="title-text" class="d-none" v-html="collection.title_tex"></div>
                    </div>
                </div>
            </div>
            <!--  Collection section  -->
            <div class="mb-4" style="max-width:800px">
                <div class="article-heading"><span>Metadata</span></div>
                <div class="sc-card">
                    <div class="se-label"></div>
                    <div class="sc-default-model">
                        <div class="sc-form-row">
                            <div class="se-label">Language</div>
                            <select class="sc-text-input se-editor" v-model="collection.lang">
                                <option value="" disabled>Choisir la langue</option>
                                <option value="bg">bg : bulgare</option>
                                <option value="cs">cs : tchèque</option>
                                <option value="de">de : allemand</option>
                                <option value="el">el : grec</option>
                                <option value="en">en : anglais</option>
                                <option value="es">es : espagnol</option>
                                <option value="fr">fr : français</option>
                                <option value="it">it : italien</option>
                                <option value="la">la : latin</option>
                                <option value="lt">lt : lituanien</option>
                                <option value="pl">pl : polonais</option>
                                <option value="pt">pt : portugais</option>
                                <option value="ro">ro : roumain</option>
                                <option value="ru">ru : russe</option>
                                <option value="sk">sk : slovaque</option>
                            </select>
                        </div>
                        <div class="sc-form-row">
                            <div class="se-label">Issn</div>
                            <input type="text" class="sc-text-input se-editor" v-model="collection.issn"/>
                        </div>
                        <div class="sc-form-row">
                            <div class="se-label">E-issn</div>
                            <input type="text" class="sc-text-input se-editor" v-model="collection.e_issn"/>
                        </div>
                        <div class="sc-form-row">
                            <div class="se-label">Moving wall</div>
                            <input type="text" class="sc-text-input se-editor" v-model="collection.wall"/>
                        </div>
                    </div>
                </div>
            </div>

            <!--  Periods section  -->
            <div class="article-heading" id="section-title"><span>Periods</span></div>
            <splitpanes class="default-theme mb-5">
                <pane :size="40" min-size="20">
                    <div id="ref-preview-left">
                        <div class="sc-plus mb-2 mt-2">
                            <button class="btn btn-outline-secondary" v-on:click="insert_period()">Add a period</button>
                        </div>
                        <table style="width:100%">
                            <thead>
                            <tr>
                                <th>Begin</th>
                                <th>End</th>
                                <th>Source</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in collection.periods" :key="index"
                                :href="'#' + 'section-bibitems-' + index" v-on:click="go(index)" class="bib-list"
                                v-bind:class="[index == ref_index ? 'ref-selected' : 'ref-unselected']"
                                :id="'ref-' + index">
                                <td>{{ item.begin }}</td>
                                <td>{{ item.end }}</td>
                                <td>{{ item.source }}</td>
                                <td>
                                    <button class="btn btn-outline-secondary btn-sm btn-space"
                                            title="Delete this reference"
                                            v-on:click="delete_field(collection.periods, index)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </pane>
                <pane min-size="20" :size="60" style="background-color: white !important;">
                    <div id="ref-preview-right">
                        <div v-if="ref && collection.periods.length" class="sc-card sc-card-ref"
                             v-bind:id="'section-bibitems-' + ref_index">
                            <div class="ref-content">
                                <div class="sc-form-row">
                                    <div class="se-label">Début</div>
                                    <input type="number" @input="periodBeginChanged" class="sc-text-input se-editor" v-model="ref.begin"/>
                                </div>
                                <div class="sc-form-row">
                                    <div class="se-label">Fin</div>
                                    <input type="number" class="sc-text-input se-editor" v-model="ref.end"/>
                                </div>
                                <div class="sc-form-row">
                                    <div class="se-label">Source</div>
                                    <select class="sc-text-input se-editor" v-model="ref.source">
                                        <option value="" disabled>Select the Source</option>
                                        <option v-for="(item, index) in this.sources" :key="index" :value="item.name">{{ item.name }}</option>
                                    </select>
                                </div>
                                <div class="sc-form-row">
                                    <label class="se-label">Url collection</label>
                                    <input type="text" v-model="ref.collection_href" class="sc-text-input se-editor"
                                           placeholder=" ne doit pas inclure '/' au début ">
                                </div>
                                <div class="sc-form-row">
                                    <label class="se-label">Url type des numéros ou volumes</label>
                                    <RegexGenerator :field="ref.issue_href" v-on:setpattern="setPattern" ></RegexGenerator>
                                </div>
                                 <div class="sc-form-row">
                                    <label class="se-label">DOI url</label>
                                    <input type="text" name="" v-model="ref.doi_href" class="sc-text-input se-editor"
                                    placeholder="exemple: /10.4007/" />
                                </div>
                                <div class="sc-form-row">
                                    <label class="se-label">Premier numéro</label>
                                    <input type="numbers" v-model="ref.first_issue" class="sc-text-input se-editor"
                                           placeholder="">
                                </div>
                                <div class="sc-form-row">
                                    <label class="se-label">Dernier numéro</label>
                                    <input type="numbers" v-model="ref.last_issue" class="sc-text-input se-editor"
                                           placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </pane>
            </splitpanes>

            <button id="id-save" class="btn btn-primary" v-on:click="saveForm()">Save</button><button class="btn btn-secondary" v-on:click="goCol()" id="btn-back">Retour</button>

        </form>
    </div>
</template>



<script>
import axios from "axios";
import CKEditor from "ckeditor4-vue";
import {Pane, Splitpanes} from "splitpanes";
import "splitpanes/dist/splitpanes.css";
//import {insertBefore} from "vue/src/platforms/web/runtime/node-ops";
import RegexGenerator from './RegexGenerator.vue'
import eventBus from '../event-bus'

import Vue from 'vue'
// axios.defaults.withCredentials = true
if(location.port == "8080" || location.port == "8081" ) {
      axios.defaults.baseURL = "http://localhost:8000"

} else {
    axios.defaults.baseURL = window.location.origin + "/";
}

function scrollToElt(id_name) {
    function scroll() {
        var el = document.getElementById(id_name);
        if (el) {
            const scroll_props = {
                behavior: "smooth",
                block: "start",
                inline: "nearest",
            };
            if (el.parentElement.className == "bib-list") {
                var rectElem = el.getBoundingClientRect();
                var container = document.getElementById("ref-preview-left");
                var rectContainer = container.getBoundingClientRect();
                if (rectElem.bottom > rectContainer.bottom || rectElem.top < rectContainer.top) {
                    el.scrollIntoView(scroll_props);
                }
            } else {
                el.scrollIntoView(scroll_props);
            }
        }
    }

    setTimeout(scroll, 200);
}

export default {
    name: "Collection",
    components: {
        ckeditor: CKEditor.component,
        Splitpanes,
        Pane,
        RegexGenerator,
    },

    data() {
        var uri = window.location.href;
        var list_ = uri.split("/");
        var pid = list_[list_.length - 2];
        let source = ""
        var url_api = "/backend/api-collection-edit/" + pid + "/";
        var csrf_token = "5nkvUf8ykvaagMPJO1ACXW1mZag80meMLE1mIw9kkJur4rraG3YXrZCSC0xsq6tf" //document.getElementsByName("csrfmiddlewaretoken")[0].value;

        return {
            collection: {},
            sources: [],
            ref: "",
            editorTitleConfig: {
                removeButtons: "",
                height: 60,
                toolbar: [
                    ["Italic", "Subscript", "Superscript"],
                    ["Mathjax"],
                ],
                extraPlugins: "mathjax",
                mathJaxLib: "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-AMS_HTML",
                mathJaxClass: "mathjax-formula",
                removePlugins: "elementspath",
                resize_enabled: false,
                shiftEnterMode: CKEditor.ENTER_P,
            },
            url_api: url_api, // Moved the definition here
            ref_index: -1,
            list:list_,
            csrf_token : csrf_token,
            pid: pid,
            bus: new Vue(),
        };
    },

    created() {
        setTimeout(this.delayedCreated, 300);
    },

    methods: {
        //insertBefore,

        clickEvt(evt) {
            console.log(evt);
            console.log("emit")
            console.log(this.$emit);
            eventBus.$emit("click-body",evt)
        },
        saveForm() {
            axios({
                method: "post",
                url: this.url_api,
                data: this.collection
            })
                .then((response) => {
                    console.log(response);
                })
                .catch((error) => {
                    console.log(error);
                });
        },

        goCol() {
            document.location.href="/backend/col/"+this.pid
        },

        delayedCreated() {
            axios( {headers:{'X-CSRFTOKEN':this.csrf_token,'accept':'application/json'},url:"/backend/api-sources/", withCredentials: true, method:"GET"}).then((response) => {
                this.sources = response.data['results'];
                console.log(response);
            }).catch(error => {
              console.log(error)
            });

            axios.get(this.url_api).then((response) => {
                this.collection = response.data;
                this.collection.periods.sort((a, b) => a.begin - b.begin);
            });

        },
        go(pos) {
            if (pos >= 0 && pos <= this.collection.periods.length) {
                this.ref_index = pos;
                this.ref = this.collection.periods[pos];
                console.log('***');
                console.log(this.ref);
                scrollToElt("ref-" + pos);
            }
        },
        setRefIndex(index) {
            this.ref_index = index + 1;
        },
        periodBeginChanged(event) {
            this.collection.periods.sort((a, b) => a.begin - b.begin);
        },
        insert_period() {
            var period = {
                source: "",
                collection_href: "",
                issue_href: "",
                article_href: "",
                periode_href: "",
                pdf_href: "",
                begin: 0,
                end: 0
            }
            var index = 0;
            this.collection["periods"].push(period);
            index = this.collection["periods"].length - 1
            this.go(index);

            this.$nextTick(function () {
                var elt = document.getElementById("section-bibitems-" + index).getElementsByTagName('input')[0];
                elt.select();
            });
        },
        delete_field(obj, pos) {
            obj.splice(pos, 1);
        },

        setPattern(pattern) {
            console.log('emit')
            pattern=pattern.toString();
            pattern = pattern.substr(1)
            console.log(pattern)
            pattern = pattern.toString().substr(0,pattern.length-1)
            this.ref.issue_href = pattern;
        }
    },
};
</script>


<style>
:root {
    /* Font families */
    /* ----------------------------------------------------------------------*/
    /* Used for interface elements */
    --t-interface-font: "Inter UI", system-ui, sans-serif;
    /* Used for flowing text, such as paragraphs */
    --t-text-font: "Inter UI", system-ui, sans-serif;
    /* used for code, URLS, etc */
    --t-code-font: Monaco, "Courier New";
    /* Font sizes */
    /* ----------------------------------------------------------------------*/
    /* Used for main text */
    --t-text-font-size: 17px;
    /* Used for authors list */
    --t-large-font-size: 19px;
    /* Table of contents */
    --t-small-font-size: 14px;
    /* Used in toolbars and section labels */
    --t-tiny-font-size: 12px;
    /* Used in toolbar dropdown menus */
    --t-dropdown-font-size: 11px;
    /* E.g. article title */
    --t-title-font-size: 15px;
    /* Heading level 1 */
    --t-h1-font-size: 23px;
    /* Heading level 2 */
    --t-h2-font-size: 21px;
    /* Heading level 3 */
    --t-h3-font-size: 19px;
    /* Heading level 4 */
    --t-h4-font-size: 17px;
    /* Font weights */
    /* ----------------------------------------------------------------------*/
    --t-normal-font-weight: 400;
    /* Normal text weight */
    --t-bold-font-weight: 500;
    /* Strong emphasis */
    /* Line heights */
    /* ----------------------------------------------------------------------*/
    /* Used in main text */
    --t-default-line-height: 1.5;
    /* Colors */
    /* ----------------------------------------------------------------------*/
    /* Default background color, used when we need to cover content, e.g. in overlays */
    --t-background-color: #fff;
    /* Light (greyish) background color */
    --t-light-background-color: #2e72ea0a;
    /* Background for action buttons */
    --t-action-background-color: #4e4e4e;
    /* Button backgorund */
    --t-default-button-background: #f7f7f9;
    /* Main text color, used in the article */
    --t-text-color: #111;
    /* Used to display error message */
    --t-error-text-color: #c80000;
    /* Inverted text color, to put on dark elements */
    --t-inverted-text-color: #fff;
    /* Used for section labels, card labels etc. */
    --t-light-text-color: #888;
    /* Used for input placeholders */
    --t-placeholder-text-color: #ccc;
    /* Used for focus border, e.g. selected card, or text input */
    --t-focus-color: rgb(145, 189, 240);
    /* E.g. citations of references, figures, etc. */
    --t-action-color: #2e72ea;
    /* Used to display warning icons */
    --t-warning-color: #ffaf46;
    /* Used to display error message */
    --t-error-color: rgba(200, 0, 0, 0.25);
    /* Default light border color */
    --t-border-color: #ddd;
    --info-background-color: #c5dbd3;
    --primary-color: #24afad;
    /* Paddings */
    /* ----------------------------------------------------------------------*/
    --t-half-spacing: 10px;
    /* Half of the default spacing */
    --t-default-spacing: 20px;
    /* Default padding to create some whitespace, e.g. in figure */
    --t-text-spacing: 15px;
    /* Used as the margin between content elements */
    --t-double-spacing: 5px;
    /* Double of the default spacing */
    --t-input-padding: 4px;
    /* Padding used input boxes */
    --t-cell-padding: 6px;
    /* Padding used table cells */
    --t-button-padding: 7px;
    /* Padding used by buttons */
    /* Margins */
    /* ----------------------------------------------------------------------*/
    --t-flowing-content-margin: 20px 0;
    /* Space between content elements, e.g. between two paragraphs */
    /* Borders */
    /* ----------------------------------------------------------------------*/
    --t-input-default-border: 2px solid transparent;
    --t-input-outline-border: 2px solid var(--t-border-color);
    --t-input-focus-border: 2px solid rgb(145, 189, 240);
    --t-negative-input-padding: -6px;
    /* This must be the negative of input padding + default border width */
    --t-negative-list-padding: -4px;
    /* Same, but without borders. Used in comma-separated lists. */
    --t-border-radius: 5px;
    /* Default border radius for rounded corners */
    --t-tool-border-radius: 3px;
    /* Default border radius for tools */
    --t-default-border: 1px solid var(--t-border-color);
    --info-border-color: #24afdf;
    /* Box shadows */
    /* ----------------------------------------------------------------------*/
    --t-default-box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
    --t-popup-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.8);
    /* Substance Styles */
    /* ----------------------------------------------------------------------*/
    --t-small-layout-width: 300px;
    --t-medium-layout-width: 620px;
    --t-large-layout-width: 960px;
    --t-separator-color: rgba(0, 0, 0, 0.05);
}

#collection {
    font-family: var(--t-interface-font);
    text-align: left;
    margin-bottom: var(--t-text-spacing);
}

#id-save-text,
#id-getrefs-text {
    background-color: #f9fbc1;
    color: red;
    font-size: 12px;
    content: " ";
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 19px;
}

h4 {
    font-size: 17px;
}

.sc-text-input {
    width: 100%;
    border-radius: 5px;
    padding: var(--t-input-padding);
    border: var(--t-input-default-border);
    margin: var(--t-negative-input-padding);
    color: var(--t-text-color);
    background-color: transparent !important;
    font-weight: var(--t-normal-font-weight);
    font-family: var(--t-interface-font);
}

.sc-textarea-input {
    width: 100%;
    resize: vertical;
    height: 5em;
}

.sc-textarea-input-tall {
    height: 10em;
}

/*.sc-text-input.sm-editable .se-input:hover*/
input[type="text"]:focus {
    border: var(--t-input-focus-border) !important;
    outline: transparent;
}

.sc-text-input.sm-warning {
}

.sc-text-input.sm-warning .se-input {
}

.sc-text-input.sm-size-small {
}

.sc-text-input.sm-size-medium {
}

.sc-text-input.sm-size-large {
}

.article-heading {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 30px 0px 0px 0px;
    border-radius: 4px;
    font-size: var(--t-h1-font-size);
    cursor: default;
}

.sc-card {
    position: relative;
    width: 100%;
    box-shadow: var(--t-default-box-shadow);
    margin: var(--t-double-spacing) 0;
    margin-top: var(--t-text-spacing);
    font-size: var(--t-small-font-size);
}

.sc-card.sm-selected {
    outline: var(--t-input-focus-border);
}

.sc-card > .se-label {
    position: absolute;
    top: -10px;
    left: var(--t-double-spacing);
    padding: 0px var(--t-default-spacing);
    background: var(--t-background-color);
    color: var(--t-light-text-color);
    cursor: default;
}

.sc-card.sm-selected > .se-label {
    background: var(--t-focus-color);
    color: var(--t-inverted-text-color);
}

.sc-card .sc-form-row {
    margin: var(--t-default-spacing) 0;
}

.sc-card > * {
    padding: var(--t-default-spacing);
}

.sc-card > * > .se-header {
    font-size: var(--t-text-font-size);
    margin-bottom: var(--t-default-spacing);
    margin-top: 0px;
    cursor: default;
}

.sc-card > * > .se-footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.sc-card > * > .se-footer > .se-control {
    font-size: 12px;
    color: var(--t-action-color);
    cursor: pointer;
    margin-bottom: 0px;
}

.sc-card > * > .se-footer > .se-control > .se-icon {
    margin-right: 10px;
}

.sc-card,
.sc-plus {
    margin-left: 10px;
}

.sc-card-ref {
    min-height: 650px;
    margin-left: 0px;
    box-shadow: none;
}

.sc-form-row {
    position: relative;
    display: flex;
    align-items: center;
}

.sc-form-row > .se-label {
    cursor: default;
    display: block;
    flex: 0 0 110px;
    font-size: var(--t-tiny-font-size);
    color: var(--t-light-text-color);
}

.sc-form-row > .se-label::after {
    content: ":";
}

.sc-form-row > .se-editor {
    width: 100%;
    border: 1px solid #ddd;
    line-height: 2em;
}

.sc-form-row.invalid-field > .se-label {
    color: red;
    font-weight: bold;
    font-size: large;
}

.sc-form-row.invalid-field > .se-editor {
    border: 2px solid red;
}

.with-delete {
    max-width: 840px;
}

.more-fields {
    font-size: var(--t-tiny-font-size);
    text-decoration: none;
}

.ref-type {
    padding-bottom: 0px;
}

.ref-content {
    padding-top: 0px;
}

.ref-unknown {
    color: red !important;
    font-weight: bold;
}

.bottom-screen {
    position: fixed;
    height: 80px;
    bottom: 80px;
    left: 20px;
}

.btn-sm {
    padding: 0.05rem 0.3rem;
    border-color: transparent;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active {
    background-color: #87a2b1;
    border-color: #87a2b1;
    box-shadow: none;
    transition: none;
}

.btn-space {
    margin-left: 5px;
    margin-right: 5px;
}

.btn-needs-save {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary-trad.btn-needs-save {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}

.ref-preview {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

#ref-preview-left {
    height: 25rem;
    width: 98%;
    min-width: 10vw;
    max-width: 60vw;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid;
    padding: 10px;
}

#ref-preview-right {
    font-size: 14px;
    margin-left: var(--t-text-spacing);
    height: 25rem;
    width: 98%;
    min-width: 10vw;
    max-width: 90vw;
    /*background-color: #f0f0f0;*/
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid;
}

#btn-back {
margin-left: 527px;
}

.splitpanes.default-theme .splitpanes__pane {
    background-color: rgba(255, 255, 255, 0.9);
}

.default-theme.splitpanes--vertical > .splitpanes__splitter {
    width: 11px;
    border-left: 1px solid #eee;
    margin-left: -5px;
    border-right: 1px solid #eee;
}

.default-theme.splitpanes--vertical > .splitpanes__splitter::after,
.default-theme.splitpanes--vertical > .splitpanes__splitter::before {
    transform: translateY(-50%);
    width: 2px;
    height: 40px;
    background-color: #6c004d;
}

.ref-selected {
    color: blue;
    background-color: #f0f0f0;
}

.ref-selected:link,
.ref-selected:visited {
    color: blue;
    text-decoration: none;
}

.ref-selected:hover,
.ref-selected:active,
.ref-selected:focus {
    /*color: #22427c;*/
}

.ref-unselected {
    color: black;
}

.ref-unselected:link,
.ref-unselected:visited {
    color: black;
    text-decoration: none;
}

.ref-unselected:hover,
.ref-unselected:active,
.ref-unselected:focus {
    color: #22427c;
}

ul.no-bullets {
    padding: 0;
    list-style-type: none;
}

li.bib-list {
    margin-bottom: 5px;
}

#sidebar-menu {
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 250px;
    left: 10px;
}

#sidebar-menu a {
    display: block;
    padding: 0.5rem 1rem;
    color: #888;
    text-decoration: none;
    font-size: 14px;
}

#sidebar-menu a.current {
    background: #e4eef3;
}

#sidebar-menu a:hover {
    color: #064579;
}

section {
    padding-top: 0px;
}

input[type="number"] {
    width: 70px;
    padding: 4px 6px;
    border: 1px solid #bbb;
    border-radius: 7px;
}

img {
    max-width: 50%;
    height: auto !important;
}

img.article-body-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.se-ref-header-label {
    margin-left: 10px;
    font-size: var(--t-small-font-size);
    color: var(--t-light-text-color);
}

#fulltext-zone {
    height: 500px;
    width: 100%;
    overflow-y: scroll;
    border: 1px solid #d1d1d1;
    margin-top: 20px;
    padding: 20px;
    color: #6c757d;
    font-size: 13px;
    font-family: Verdana, sans-serif;
}

#fulltext-zone figure {
    text-align: center;
    outline: solid 1px #ccc;
    background: rgba(0, 0, 0, 0.05);
    padding: 10px;
    margin: 10px 20px;
    display: inline-block;
}

span.required-field {
    color: red;
}

#info_to_fill {
    background-color: var(--info-background-color);
    border-color: var(--info-border-color);
}

.btn-primary-trad {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary-trad:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.with-anchor {
    padding-top: 160px;
    margin-top: -160px;
}

.info-not-editable {
    margin-top: -24px;
}
</style>
