<template>
  <div class="input-regex-container" v-on:click="hideItems($event)">

  <div class="dropdown">
    <input  ref="dropdowninput"  v-model.trim="stringPattern" class="dropdown-input" :change="setReg" @click="emptyField()">

    <div v-show="stringPatterns.length > 0" class="dropdown-list">
      <div v-show="itemVisible()" v-for="item, index in stringPatterns" :key="index" class="dropdown-item" @click="selectItem(item)">
        {{ item }}
      </div>
    </div>
  </div>
</div>
</template>

<script>
const SuperExpressive = require('super-expressive');
import Vue from 'vue'
import eventBus from '../event-bus'

export default {
  name: 'RegexGenerator',
  props: {
    field: String
  },directives: {
    // name within component, usable in component with v-regex with this value

  },
    emits: ["setpattern"  ],
   data () {
    return {
      stringPattern: this.field,
      stringPatterns: [],
      regexpPattern: [/(?<volume>\d{1,3})\/(?<volumegrp>\d{1,3})-(?<number>\d{1})/,
                      /wshow=issue&year=\d{4}&volume=\d{1,3}&issue=\d{1}&option_lang=eng/,
                      /\/?jstor-\d+/,
                      /(?<number>((\d+)-?)(\d+)?)/,
                      ],
      selected: false,

    }
  },
  mounted() {

    let self = this
     eventBus.$on('click-body',(data)=>{

        self.hideItems(data) // {name:'foo'}
      })

   },
    created() {

      this.stringPattern == this.field
  },
  watch: {

    stringPattern: {
        handler(val,oldVal) {
        let vm = this
        let matched_regs= []
        let patterns = []
        setTimeout(function() {
                    vm.regexpPattern.forEach(function(reg, index) {
                        if(reg.test(val)){
                            //if(matched_reg.length == 0 ) {

                            let groups = reg.exec(val).groups;
                            let matched_reg = {
                                reg: reg,
                                count: Object.keys(groups).length
                              }

                              if(matched_regs.length == 0) {
                                matched_regs.push(matched_reg);
                                patterns.push(reg)
                              }
                              console.log('--------')
                              console.log(matched_regs[0].reg);


                             vm.stringPatterns=patterns


                        }
                       });
                  }, 100);

        }
    }

  },
  methods: {

    hideItems(evt) {
      console.log(evt)
      console.log('hide item')

      if(evt.target.name == "dropdowninput"){
        if(this.stringPattern == ""){
          this.stringPatterns = []
          this.setMode()
        }

      }
      else {
        this.stringPatterns=[]
      }

    },

    itemVisible (item) {

      return this.stringPatterns.length > 0 && !this.selected;
    },
    setReg() {
      this.issue_url=this.regexPattern[0];

      console.log(this.issue_url);

    },
    selectItem (item) {
    this.stringPattern = item
    this.selected = true
    console.log('emit')
    console.log(item);
    this.$emit('on-regexp-selected', item)
    this.$emit('setpattern', item)

    },
    resetItem() {
    this.stringPattern = this.field
    this.$nextTick( () => this.$refs.dropdowninput.focus() )
    this.$emit('on-item-reset')
    },
    emptyField() {
      this.stringPattern = ""
      if(this.selected) {
        this.selected = !this.selected
      }
    },
    setMode() {
      if(!this.selected) {
        this.stringPattern = this.field
      }
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.dropdown{
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-left: -7px;
}
.dropdown-input, .dropdown-selected{
  width: 100%;
  padding: 10px 16px;
  border: 1px solid transparent;
  background: #edf2f7;
  line-height: 1.5em;
  outline: none;
  border-radius: 8px;
}
.dropdown-input:focus, .dropdown-selected:hover{
  background: #fff;
  border-color: #e2e8f0;
}
.dropdown-input::placeholder{
  opacity: 0.7;
}
.dropdown-selected{
  font-weight: bold;
  cursor: pointer;
}
.dropdown-list{
  position: absolute;
  width: 100%;
  max-height: 500px;
  margin-top: 4px;
  overflow-y: auto;
  background: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  z-index:100;
}
.dropdown-item{
  display: flex;
  width: 100%;
  padding: 11px 16px;
  cursor: pointer;
}
.dropdown-item:hover{
  background: #edf2f7;
}
.dropdown-item-flag{
  max-width: 24px;
  max-height: 18px;
  margin: auto 12px auto 0px;
}
.input-regex-container {
  width: 50%;
}
</style>
