{% load static %}
<div>
Dear {% verbatim %}{{ RECIPIENT }}{% endverbatim  %},
<br>
<br>
Your review has been requested for the submission: <a href="{{ submission_url|safe }}">{{ submission_name|safe }}</a>
<br>
<br>
Please find below the abstract of the submission.
<br>
<br>
<blockquote>{{ submission_abstract|safe }}</blockquote>
<br>
<br>
{% verbatim %}
Alternatively, you can directly access the application without setting a password using the following link <a href="{{ TOKEN_AUTH_URL|safe }}">{{ TOKEN_AUTH_URL }}</a>.
{% endverbatim  %}
<br>
<br>
MESH - <i>Mersenne Editing System Helper</i>
</div>
