:root {
    --primary-color: blue;
    --primary-accent-color: navy;

    --secondary-color: #fee78c;
    --secondary-accent-color: #feeb9d;

    --header-bg-color: rgb(255, 248, 225);
    --header-nav-border: 0;
    --header-nav-link-color: black;
    --header-padding: 0;

    --search-bar-bg-color: var(--primary-color);

    --header-nav-link-hover-bg-color: var(--primary-color);
    --header-active-nav-link-bg-color: var(--primary-color);

    --btn-primary-bg-color: var(--primary-color);
    --btn-primary-border-color: transparent;
    --btn-primary-hover-bg-color: var(--primary-accent-color);
    --btn-primary-hover-border-color: transparent;

    --dropdown-item-color: var(--primary-color);
    --dropdown-item-hover-color: white;
    --dropdown-item-hover-bg-color: var(--primary-accent-color);

    --navbar-collapse-link-hover-bg-color: #eee;

    --footer-link-color: black;
    --footer-link-hover-color: black;
    --footer-text-color: black;

    --breadcrumb-color: var(--primary-accent-color);
    --breadcrumb-background-color: var(--secondary-color);
    --breadcrumb-active-background-color: var(--primary-color);
    --breadcrumb-hover-background-color: var(--primary-color);

    --facet-header-bg-color: var(--primary-color);
}

body {
    background-image: url("/static/alco/img/alco_bg.png");
    background-position-x: 100%;
}

main.container {
    background: linear-gradient(
        90deg,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0.25) 3%,
        rgba(255,255,255,0.25) 97%,
        rgba(255,255,255,0) 100%
    );
}

#article-div .nav-pills .nav-link.active {
    background-color: var(--primary-color);
}

#article-div .nav-pills .nav-link.active:hover {
    background-color: var(--primary-accent-color);
}

footer a:hover {
    text-decoration: underline !important;
}

@media (min-width: 1200px) {
    #info-line.col-xl-8 {
      width: 75%;
    }
}

@media (min-width: 1400px) {
    #info-line {
      width: 66% !important;
    }
}

#search-bar .btn-light {
    color: white;
    border: 1px solid rgb(228, 228, 228) !important;
    background-color: transparent;
}

footer .nav-link {
    text-align: end;
    text-wrap: nowrap;
}

.logo-footer-div {
    flex-direction: column;
    margin: 0 auto;
}

header > div {
    padding: 20px 7% !important;
}

#search-bar form {
    justify-content: end;
    width: max(750px, 50%);
    max-width: max(750px, 50%);
}

#search-bar .browse-button {
    order: 1;
}

#search-bar .browse-button .btn-primary {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 0;
    border: 0;
}

#search-bar .browse-button .btn-primary:hover, #search-bar .browse-button .btn-primary:focus {
    background-color: var(--secondary-accent-color);
}

#search-bar .search-button-div .search-button {
    color: var(--primary-color);
    background-color: white;
    border-radius: 0;
    border: 0;
}

#search-bar .search-button-div .search-button:hover, #search-bar .search-button-div .search-button:focus {
    background-color: rgb(228, 228, 228);
}

.search-group, #search-group-btn {
    gap: 0.5rem;
}

#add-search-field, #search-input-group .searchinput, .search-group-added * {
    border-radius: 0 !important;
}

header h1 {
    color: var(--primary-color);
    font-weight: 800;
    font-size: calc(12px + 0.43vw);
    letter-spacing: 3px;
    margin-bottom: 0;
}

.header-logo img {
    width: 80px;
}

header .dropdown-menu.show {
    background-color: var(--primary-color);
    border: 0;
    border-radius: 0;
    margin-top: 0;
    color: white;
    padding: 0;
}

header .dropdown-item {
    color: white;
    padding: 1rem 1.5rem;
}

header li:has(> .dropdown-item):not(:last-of-type) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

header .menu-link.dropdown-toggle {
    transition: none;
}

header .menu-link.dropdown-toggle.show {
    background-color: var(--primary-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

header .navbar .nav {
    flex-wrap: nowrap;
}

header .menu-link {
    padding: 0.7rem 1.2rem;
    font-size: calc(13px + 0.2vw);
    word-wrap: break-word;
    white-space: wrap;
} 

header .menu-link:hover, header .menu-link:focus {
    background-color: var(--primary-color);
    color: white;
}

header .menu-link.dropdown-item:hover, header .menu-link.dropdown-item:focus, header .menu-link.show:hover {
    background-color: var(--primary-accent-color);
}

@media (min-width: 768.02px) {
    div:has(> #line-container) {
        width: auto !important;
    }
}

.logos-footer {
    width: 60%;
    padding: 0 3% !important;
}