{% load i18n %}

{% with binary_files=issue.get_binary_files_href %}
  {% if articles_to_appear %}
    <h3>{% trans "Articles acceptés à paraître dans un prochain fascicule" %}</h3>
  {% else %}
    {% if issue.title_html %}
      <h4>{% include 'common/title/title.html' with item=issue with_links=False %}</h4>
    {% endif %}
    <h2>
      {% if LANGUAGE_CODE == 'fr' %}Sommaire{% endif %}
      {% if issue.number and volume_items %}
        {% if LANGUAGE_CODE == 'fr' %} du {% endif %}
        <a href="{% url 'issue-items' issue.pid %}">{% trans 'Numéro' %} {{ issue.number }}</a>
      {% endif %}
      {% if LANGUAGE_CODE == 'en' %} Table of Contents{% endif %}
    </h2>
    <p>Number of articles: {{articles|length}}</p>
  {% endif %}

  {% if binary_files.toc %}
    <p>{% trans 'Liste complète des exposés' %}</p>
    {% include 'common/binary-files.html' with embargo=issue.embargo binary_files=binary_files.toc %}
  {% endif %}

  {% if binary_files.frontmatter %}
    <p>{% trans 'Pages préliminaires' %}</p>
    {% include 'common/binary-files.html' with embargo=issue.embargo binary_files=binary_files.frontmatter %}
  {% endif %}

  {% with section=True binary_files=False %}
    {% include "pcj/article_list.html" with show_button_pdf=True %}
  {% endwith %}

  {% if binary_files.backmatter %}
    <p>{% trans 'Pages finales' %}</p>
    {% include 'common/binary-files.html' with embargo=issue.embargo binary_files=binary_files.backmatter %}
  {% endif %}
{% endwith %}
