{% if messages %}
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div style="margin-top: 50px"class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert"></button>
      <strong>{{ message }}</strong>
    </div>
    {% else %}
    <div style="margin-top: 50px"class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert"></button>
      <strong>{{ message }}</strong>
    </div>
    {% endif %}
  {% endfor %}
{% endif %}
