{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<div class="right_col">
  {% include "mersenne_cms/messages.html" %}
  <h1 id="{{ journal.pid }}">{{ journal.title_tex }}</h1>

  <h2>{% trans title %}</h2>
  <br />

  <form onsubmit="spinnerLoader(event)" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
    {{form.media}}
    {% for field in form %}
    {% if not field.is_hidden %}
      <p>
      {% if field.field.required %}
        <label class="page required">{{ field.label }}</label>{{ field }}
      {% elif field.name == "title_fr" or field.name == "title_en" %}
        <label class="page required">{{ field.label }}</label>{{ field }}
      {% else %}
        <label class="page">{{ field.label }}</label>{{ field }}
      {% endif %}
      </p>
    {% endif %}
    {% endfor %}

    <div class="row" style="margin-top:40px">
      <div class="col-sm-2">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-arrow-circle-o-up"></i> Save <div id="status-spinner"></div>
        </button>
      </div>
    </div>
  </form>

  {% if object %}
  <form onsubmit="spinnerLoader(event)" method="POST" action="{% url 'news_delete' journal.pid object.pk %}">{% csrf_token %}
    <div class="row" style="margin-top:-40px">
      <div class="col-sm-offset-4 col-sm-1">
          <button onclick="return confirm('Are you sure you want to delete this news?')" class="btn btn-danger" title="Delete this news">
            <span class="glyphicon glyphicon-circle-arrow-right"></span> Delete <div id="status-spinner"></div>
          </button>
      </div>
    </div>
  </form>
  {% endif %}

</div>

{% if form.errors %}
<div class="alert alert-danger">
  {{ form.errors }}
</div>
{% endif %}

{% endblock content %}
