{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<div class="right_col">
  {% include "mersenne_cms/messages.html" %}
  <h1 id="{{ journal.pid }}">{{ journal.title_tex }}</h1>

  <h2>Add or edit a page</h2>

  <div class="newBox"><a href="{% url 'page_create' colid %}"><span class="badge badge-create-page"><span class="glyphicon glyphicon-plus"></span> Add a page</span></a></div>

  {% if pages %}
  <table class="page-table">
    <thead>
      <tr>
        <th>PAGE</th>
        <th>PARENT PAGE</th>
        <th>PAGE_ID</th>
        <th>STATE</th>
      </tr>
    </thead>
    <tbody>
      {% for p in pages %}
      <tr>
        {% if p.parent_page %}
        <td><a href="{% url 'page_update' colid p.id %}">&nbsp;&nbsp;&nbsp;&nbsp;{% if fields_lang == 'fr' %}{{ p.menu_title_fr}}{% else %}{{ p.menu_title_en}}{% endif %}</a></td>
        {% else %}
        <td><a href="{% url 'page_update' colid p.id %}">{% if fields_lang == 'fr' %}{{ p.menu_title_fr }}{% else %}{{ p.menu_title_en }}{% endif %}</a></td>
        {% endif %}
        <td>{% if p.parent_page %}{% if fields_lang == 'fr' %}{{ p.parent_page.menu_title_fr }}{% else %}{{ p.parent_page.menu_title_en }}{% endif %}{% else %} ----- {% endif %}</td>
        <td><a href="{% url 'page_update' colid p.id %}">{{ p.id }}</a></td>
        <td>{{ p.state }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No pages</p>
  {% endif %}

  {% if colid == "AFST" or colid == "ART" %} <!-- TODO add option in SITE_REGISTER and set has_news in context_data -->
    <div class="newBox"><a href="{% url 'news_create' colid %}"><span class="badge badge-create-page"><span class="glyphicon glyphicon-plus"></span> Add a News</span></a></div>

    {% if news %}
      <table class="page-table news-table">
        <thead>
          <tr>
            <th class="list-news-title">TITLE</th>
            <th class="list-news-content">CONTENT</th>
          </tr>
        </thead>
        <tbody>
          {% for n in news %}
          <tr>
            <td class="list-news-title"><a href="{% url 'news_update' colid n.id %}">{% if n.title.fr %}{{ n.title_fr }}{% else %}{{ n.title_en }}{% endif %}</a></td>
            <td class="list-news-content"><div>{% if n.content_fr %}{{ n.content_fr|striptags|safe }}{% else %}{{ n.content_en|striptags|safe }}{% endif %}</div></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endif %}
  <div style="padding-bottom: 200px"></div>
</div>

{% endblock content %}
