<div id="comment-edit-moderators-modal" class="custom-modal comment-moderator-modal">
  <div class="custom-modal-content">
    {% comment %} Fixed {% endcomment %}
    <div class="custom-modal-header">
      <div class="custom-modal-panel-switches">
        <div id="moderator-modal-panel-edit" class="custom-modal-panel-switch active" >
          <span>Edit moderators</span>
        </div>
      </div>
      <div class="custom-modal-buttons">
        <div class="custom-modal-button custom-modal-close">
          <i class="fa-solid fa-xmark"></i>
          <span>Cancel</span>
        </div>
      </div>
    </div>

    {% comment %} Scrollable {% endcomment %}
    <div aria-labelledby="moderator-modal-panel-edit" class="custom-modal-panel active">
      <div class="moderator-modal-panel-content">
        <form class="moderator-form form-deactivate-on-submit"
              action="{% url "comment_moderator_remove" %}"
              method="POST">
          {% csrf_token %}
          {% for field in moderator_remove_form %}
          {% if field.label == "moderators" %}
          <label class="moderator-modal-form-label">Moderator(s):</label>
          <ul>
          {% for moderator in comment.moderators_processed.values %}
            <li>
              <div class="moderator-checkbox">
                  <label for="id_moderators_{{ moderator.pk }}">
                      <input id="id_moderators_{{ moderator.pk }}" type="checkbox" name="moderators" value="{{ moderator.pk }}"/>
                      <span>{{ moderator.first_name }} {{ moderator.last_name }} ({{ moderator.email }})</span>
                  </label>
              </div>
            </li>
          {% endfor %}
          </ul>
          {% else %}
          {{ field }}
          {% endif %}
          {% endfor %}
          <div class="moderator-form-buttons">
            <button type="submit" class="moderator-form-submit button-deactivable">
              <i class="fa-solid fa-trash"></i>
              <span>Remove</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
