<div id="comment-add-moderator-modal" class="custom-modal comment-moderator-modal">
  <div class="custom-modal-content">
    {% comment %} Fixed {% endcomment %}
    <div class="custom-modal-header">
      <div class="custom-modal-panel-switches">
        <div id="moderator-modal-panel-add-existing" class="custom-modal-panel-switch active" >
          <i class="fa-solid fa-plus"></i>
          <span>Add existing</span>
        </div>
        <div id="moderator-modal-panel-invite-new" class="custom-modal-panel-switch" >
          <i class="fa-solid fa-envelope"></i>
          <span>Invite new</span>
        </div>
      </div>
      <div class="custom-modal-buttons">
        <div class="custom-modal-button custom-modal-close">
          <i class="fa-solid fa-xmark"></i>
          <span>Cancel</span>
        </div>
      </div>
    </div>

    {% comment %} Scrollable {% endcomment %}
    <div aria-labelledby="moderator-modal-panel-add-existing" class="custom-modal-panel active">
      <div class="moderator-modal-panel-content">
        <div>
          <label for="moderator-search" class="required">Moderator:</label>
          <input type="text" id="moderator-search" placeholder="Select existing moderator">
          <datalist id="moderator-list" aria-labelledby="moderator-search" role="listbox" class="custom-datalist" >
            {% for moderator in all_moderators %}
              <option value="{{ moderator.pk }}" data-collections="{{ moderator.comment_moderator.collections.all|join:","}}">
                {{ moderator.first_name }} {{ moderator.last_name }} ({{ moderator.email }})
              </option>
            {% endfor %}
          </datalist>
        </div>
        <form class="moderator-form form-deactivate-on-submit" action="{{ moderator_add_form_url }}" method="POST">
          {% csrf_token %}
          {{ moderator_add_form }}
          <div class="moderator-form-buttons">
            <button type="submit" class="moderator-form-submit button-deactivable">
              <i class="fa-solid fa-plus"></i>
              <span>Add a moderator</span>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div aria-labelledby="moderator-modal-panel-invite-new" class="custom-modal-panel">
      <div class="moderator-modal-panel-content">
        <form class="moderator-form form-deactivate-on-submit" action="{{ moderator_invite_form_url }}" method="POST">
          {% csrf_token %}
          {{ moderator_invite_form }}
          <div class="moderator-form-buttons">
            <button type="submit" class="moderator-form-submit button-deactivable">
              <i class="fa-solid fa-envelope"></i>
              <span>Invite moderator</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
