<table {% if table_id %}id="{{ table_id }}"{% endif %} class="comment-moderator-table">
  <thead>
    <tr class="comment-moderator-entry comment-moderator-header">
      <th>Name</th>
      <th>E-mail</div>
      {% if display_collections %}
      <th>Collections</th>
      {% endif %}
      {% if display_comments %}
      <th>Comments</th>
      {% endif %}
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for mod in moderators %}
    <tr class="comment-moderator-entry">
      <td>{{ mod.first_name }} {{ mod.last_name }}</td>
      <td>{{ mod.email }}</td>
      {% if display_collections %}
      <td>
        {% for col in mod.comment_moderator.collections.all%}
        <div>{{ col.pid }}</div>
        {% endfor %}
      </td>
      {% endif %}
      {% if display_comments %}
      <td>
        <div>Pending: {{ mod.comments_pending|length }}</div>
        <div>Processed: {{ mod.comments_processed|length }}</div>
      </td>
      {% endif %}
      <td class="comment-moderator-actions">
        {% if display_edit %}
        <button class="custom-modal-opener comment-moderator-button"
                data-modal-id="comment-add-moderator-modal"
                data-modal-panel="moderator-modal-panel-add-existing"
                data-datalist-id="moderator-list"
                data-select-moderator-id="{{ mod.pk }}">
          <i class="fa-solid fa-pen"></i>
          <span>Edit</span>
        </button>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
