/* CSS for mesh/breadcrumb.html template */
#mesh-breadcrumb {
    width: var(--content-width);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    height: var(--breadcrumb-height);
    gap: 0.6rem;
    align-items: baseline;
    color: var(--color-breadcrumb);
    padding: 10px;
    border-bottom: 1px dotted #737373;
    position: fixed;
    top: var(--header-height);
    background: var(--default-background-color);
    z-index: 5;
}

.mesh-breadcrumb-item {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: inherit;
    align-items: inherit;
    color: var(--color-breadcrumb);
}

.mesh-breadcrumb-item:last-child,
.mesh-breadcrumb-item:last-child .mesh-breadcrumb-item-text {
    color: var(--color-breadcrumb-last);
}

.mesh-breadcrumb-item-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: max(200px, 30vw);
    color: var(--color-breadcrumb);
    text-decoration: unset;
    padding: 5px 1px;
    box-sizing: border-box;
}

@media all and (width < 768px) {
    #mesh-breadcrumb{
        display: none;
    }
}
