.mesh-filter-set {
    position: relative;
    border: unset;
    margin: unset;
    display: block;
    margin-bottom: 2rem;
    overflow: auto;
}

.mesh-filter-set-title {
    display: flex;
    flex-direction: row;
    font-size: 1.15rem;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 2px solid rgb(71, 71, 71);
}

.mesh-filter-set-title:hover {
    background-color: #eee;
    cursor: pointer;
}

.mesh-filter-set-reset {
    text-decoration: underline;
    font-size: 0.85rem;
}

.mesh-filter-set-title .collapse-icon {
    margin-left: 0.5rem;
    transition: transform 0.25s ease;
    transform: unset;
}

.mesh-filter-active-badge {
    padding: 0.2rem 0.5rem;
    background-color: var(--color-info);
    color: var(--color-secondary);
    border-radius: 50%;
    margin-left: 0.5rem;
}

.mesh-filter-set-title[aria-expanded="true"] .collapse-icon {
    transform: rotate(180deg);
}

.mesh-filter-set-filter-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mesh-filter {
    position: relative;
    padding: 1rem;
}

.mesh-filter::after {
    position: absolute;
    content: "";
    height: calc(100% - 3rem);
    margin-top: 2rem;
    border-left: 2px solid rgb(71, 71, 71);
    margin-left: -1rem;
    top: 0;
}

.mesh-filter:first-child:after {
    all: unset;
}

.mesh-filter-name {
    font-weight: bold;
    margin-bottom: 0.5rem;;
}

.mesh-filter-values-list {
    position: relative;
    padding-left: 0.5rem;
    overflow: auto;
    max-height: 8rem;
}

.mesh-filter-value {
    position: relative;
    padding-left: 2rem;
    min-height: 1.5rem;
}

.mesh-filter-value .mesh-filter-input {
    position: absolute;
    margin: unset;
    margin-left: -2rem;
    height: 1.2rem;
    width: 1.2rem;
    font-size: 1.2rem;
}
