/*
CSS for elements inside a `.custom-form`, usually a form.
For now only used by mesh/forms/form_full_page.html template.
*/
.custom-form-description {
    margin-bottom: 2rem;
}

.custom-form-wrapper {
    text-align: center;
    width: 100%;
}

.custom-form {
    --color-form-error: var(--color-error, #a94442);
    max-width: 800px;
    width: 100%;
    text-align: unset;
    display: inline-block;
}


.custom-form .message-error {
    font-size: 0.8rem;
    text-align: left;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    color: var(--color-form-error);
    background-color: #f2dede;
    border-color: #ebccd1;
}

.custom-form .form-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
    align-items: baseline;
    text-align: left;
}

.custom-form .form-input-hr-separator {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.custom-form .form-input-hr-separator hr {
    flex: 1 1 0%;
    height: 0px;
}

.custom-form .form-input-hr-separator span {
    padding: 0 1rem 0;
    font-style: italic;
}

.custom-form .form-input {
    width: 100%;
    font-size: 0.9rem;
}

.custom-form .form-input label {
    font-weight: bold;
    color: var(--color-primary);
}

.custom-form .form-input label.required:after {
    content: " *";
    color: rgb(156, 33, 33);
}

.custom-form .form-input-widget {
    max-width: 100%;
}

.custom-form .form-inline-input .form-input-widget {
    max-width: 70%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
}

/* Force the help text on a new line. */
.custom-form .form-input-help-text {
    min-width: 100%;
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 0.15rem;
}

.custom-form .form-input-help-text.inline {
    display: inline;
}

.custom-form .form-input-help-text.inline:first-of-type {
    position: relative;
    min-width: unset;
    top: -0.2rem; /* Completely random to make a single help text fit next to a checkbox. To be properly done if other use cases.*/
    margin-left: 1rem;
}

.custom-form .form-inline-input .form-input-help-text.inline:first-of-type {
    top: unset;
}

.custom-form .form-block-input {
    display: flex;
    flex-direction: column;
}

.custom-form .form-block-input .form-input-label {
    margin-bottom: 0.85rem;
}

.custom-form .form-inline-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
}

.custom-form .form-inline-input .form-input-label {
    padding-right: 1rem;
    margin-bottom: 0px;
    flex: 0 0 min(300px, 30vw);
    min-width: 120px;
    overflow-wrap: anywhere;
}

.custom-form .form-inline-input .form-input-widget {
    flex-grow: 1;
}

.custom-form .input-error label,
.custom-form .input-error .form-input-label {
    color: var(--color-form-error);
}

.custom-form .input-error input {
    border: 2px inset var(--color-form-error);
    border-radius: 2px;
}

.custom-form .input-error input:focus-visible {
    outline: 2px outset #f2dede;
}

.custom-form .input-error input[class*="as-link"] {
    border: unset;
}

.custom-form .form-inputs input[type="text"],
.custom-form .form-inputs input[type="email"],
.custom-form .form-inputs input[type="password"],
.custom-form .form-inputs select {
    text-indent: 0.5rem;
    height: 2.5rem;
    width: 100%;
}

.custom-form .form-inputs textarea {
    max-width: 100%;
    min-height: 4rem;
    padding: 0.5rem;
    width: 100%;
    min-width: 150px;
}

.custom-form .form-inputs .form-block-input textarea {
    width: 100%;
}

.custom-form .form-inputs .form-block-input input[type="text"],
.custom-form .form-inputs .form-block-input input[type="email"],
.custom-form .form-inputs .form-block-input input[type="password"],
.custom-form .form-inputs .form-block-input select {
    width: 100%;
}

.custom-form .form-inputs select {
    text-indent: 0.2rem;
    border: 1px solid #8d8d8d;
    border-radius: 2px;
    background-color: unset;
}

.custom-form .form-inputs select:hover {
    cursor: pointer;
    background-color: #e7e7e7;
    border-color: var(--color-primary);
}

.custom-form .form-inputs input[type="checkbox"] {
    box-sizing: border-box;
    margin: 0;
    margin-left: 0.75rem;
    height: 1.5rem;
    width: 1.5rem;
}

.custom-form .form-inputs select {
    background-color: white;
}

.custom-form .form-inputs .form-block-input .form-input-widget {
    text-align: center
}

/* [BEGIN] Custom file widget */
.form-file-input-widget {
    width: 100%;
}

.custom-form .form-inputs .form-input-file-label {
    all: unset;
    box-sizing: border-box;
    max-width: min(300px, 90%);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    font-weight: bold;
    transition: 0.1s ease-out;
}

.custom-form .form-inputs .form-input-file-name {
    overflow-wrap: break-word;
}

.custom-form .form-input-file:focus + .form-input-file-label,
.custom-form .form-inputs .form-input-file-label:hover {
    cursor: pointer;
    color: var(--color-primary);
    background-color: transparent;
}

.custom-form .form-input-file[disabled] + .form-input-file-label {
    background-color: var(--disabled-background-color);
    color: var(--disabled-color);
}

.custom-form .form-input-file[disabled] + .form-input-file-label:hover {
    cursor: not-allowed;
}

.custom-form .form-input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    z-index: -1;
    overflow: hidden;
    position: absolute;
}

.custom-form .form-input-file-clear {
    padding: 0.2rem 0.5rem;
    border: 1px solid var(--color-primary);
    display: inline-flex;
    flex-direction: row;
    gap: 0.2rem;
    align-items: center;
    border-radius: 3px;;
}

.custom-form .form-initial-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
    align-items: baseline;
}

.custom-form .form-initial-items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.custom-form .form-initial-item {
    display: flex;
    flex-direction: row;
}

.custom-form table.form-initial-items {
    width: 100%;
    border-collapse: collapse;
}

.custom-form table.form-initial-items td {
    padding: 3px;
    border: 1px transparent;
    width: 28%;
}

.custom-form table.form-initial-items td:first-child {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-form .django-ckeditor-widget {
    display: block !important;
    width: 100%;
}

.custom-form .form-inline-input .form-input-widget.ckeditor-input {
    align-self: flex-end;
}
/* [END] Custom file widget */

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.save-button.light {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border-color: var(--color-primary);
}

.save-button.light:hover,
.save-button.light:focus,
.save-button.light:focus-visible {
    filter: brightness(90%);
}
