:root {
    --stepper-color-primary: var(--color-primary);
    --stepper-color-secondary: var(--color-secondary);
    --stepper-not-completed-background-color: #ddd;
    --stepper-not-completed-color: #b6b6b6
}

.mesh-stepper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mesh-stepper-item {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
}

.mesh-stepper-item-number-wrapper {
    padding: 0.4rem;
    background-color: var(--default-background-color);
}

.mesh-stepper-item-number {
    box-sizing: border-box;
    width: fit-content;
    padding: 0.4rem 0.8rem;
    font-size: 1.25rem;
    outline: 2px solid var(--stepper-not-completed-color);
    background-color: var(--stepper-not-completed-background-color);
    border-radius: 50%;
}

.mesh-stepper-item.completed .mesh-stepper-item-number {
    background-color: var(--stepper-color-primary);
    color: var(--stepper-color-secondary);
    outline: 3px solid var(--stepper-color-primary);
    outline-offset: -1px;
}

.mesh-stepper-item::after {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 2px solid var(--stepper-not-completed-color);
    left: 50%;
    top: 1.5rem; /* 0.5rem + padding/margin of item-number + padding/margin of wrapper */
    z-index: -1;
}

.mesh-stepper-item.completed::after {
    border-top-color: var(--stepper-color-primary);
}

.mesh-stepper-item:last-child::after {
    all: unset;
}

.mesh-stepper-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mesh-stepper-item-label {
    position: relative;
    padding: 0.3rem 0.5rem;
    width: fit-content;
}

.mesh-stepper-item-label a {
    color: var(--stepper-color-primary);
}

.mesh-stepper-item-label a:hover {
    color: var(--color-link-hover);
}

.mesh-stepper-item.completed .mesh-stepper-item-label::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f00c";
    font: var(--fa-font-solid);
    background-color: var(--stepper-color-primary);
    color: var(--stepper-color-secondary);
    border-radius: 50%;
    padding: 0.25rem;
    font-size: 0.65rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -0.35rem;
    margin-right: -0.6rem;
    z-index: 1;
}

.mesh-stepper-item.active .mesh-stepper-item-number,
.mesh-stepper-item.active .mesh-stepper-item-label {
    font-weight: bold;
}

.mesh-stepper-item.active .mesh-stepper-item-number {
    outline: 2px solid var(--stepper-color-primary);
}

.mesh-stepper-item.active .mesh-stepper-item-label::before {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    content: "\f061";
    font: var(--fa-font-solid);
    position: absolute;
    left: 0;
    margin-left: -0.9rem;
    margin-top: 2px;
    color: var(--stepper-color-primary);
}

.mesh-stepper-item-description {
    font-size: 0.85rem;
    max-width: 400px;
}


@media all and (width < 768px) {
    .mesh-stepper {
        flex-direction: column;
        justify-content: initial;
        gap: 1rem;
    }

    .mesh-stepper-item {
        flex-direction: row;
        min-height: 50px;
        text-align: left;
        align-items: baseline;
    }

    .mesh-stepper-item.active .mesh-stepper-item-label::before {
        all: unset;
    }

    .mesh-stepper-item.active .mesh-stepper-item-number-wrapper::before {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        content: "\f061";
        font: var(--fa-font-solid);
        position: absolute;
        left: 0;
        margin-left: -0.9rem;
        margin-top: 0.6rem;
        color: var(--stepper-color-primary);
    }

    .mesh-stepper-item::after {
        border-top: unset;
        border-left: 2px solid var(--stepper-not-completed-color);
        width: unset;
        height: 100%;
        left: 1.6rem;
        top: 2.5rem;
    }

    .mesh-stepper-item.completed::after {
        border-left-color: var(--stepper-color-primary);
    }

    .mesh-stepper-item-text {
        align-items: baseline;
    }
}
