.tree-node {
    margin-left: 3rem;
}

.tree-node-meta {
    position: relative;
    margin: 1rem 0 1rem 1.5rem;
}

.tree-node-meta::before {
    position: absolute;
    content: "";
    left: -1rem;
    bottom: 0.35rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--color-primary);
}

.tree-node.level-0 {
    margin-left: 0;
}

.tree-wrapper {
    overflow: auto;
    margin: 1.5rem 0;
}

.tree-node.level-1 > .tree-node-meta {
    font-size: 1.25rem;
    font-weight: bold;
}

.tree-node.level-2 > .tree-node-meta {
    font-weight: bold;
}

.tree-node.level-1 > .tree-node-meta::before {
    left: -1.6rem;
    bottom: 0.3rem;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 2px;
}

.tree-node.level-2 > .tree-node-meta::before {
    left: -1.15rem;
    bottom: 0.25rem;
    width: 0.75rem;
    height: 0.75rem;
}
