<p>
  Dear Author(s),
  <br/>
  <br/>
  Your article <strong>"{{submission.article.title_tex}}"</strong> has been published in Peer Community Journal.
  <br/>
  url : <a href="https://peercommunityjournal.org/articles/{{submission.article.doi}}/">https://peercommunityjournal.org/articles/{{submission.article.doi}}/</a>
  <br/>
  <br/>
  Do not hesitate to share this information with your colleagues and via your social networks and to spread the word about PCI and Peer Community Journal.
  <br/>
  <br/>
  Thanks again for your support to public diamond open access publishing!
  <br/>
  <br/>
  The Editorial Team of Peer Community Journal,
  <br/>
  {{editorial_email}}
</p>
