<p>
  Dear Author,
  <br/>
  <br/>
  Thank you for submitting , <strong>"{{submission.article.title_tex}}"</strong> to Peer Community Journal.
  <br/>
  <br/>
  <br/>
  If you have any questions, please contact us. Thank you for considering this journal as a venue for your work.
  <br/>
  <br/>
  The Editorial Team of Peer Community Journal,
  <br/>
  {{editorial_email}}
</p>
