@font-face {
    font-family: "LinLibertine";
    src: url("/static/aif/fonts/LinLibertine/LinLibertine_Rah.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --btn-light-bg-color: rgb(255, 255, 255);
    --searchclear-color:  rgb(204, 204, 204);
    --header-nav-link-color: red;
    --nav-tabs-link-color: rgb(51, 122, 183);
}

#search-group-btn > .btn {
}

.btn-light {
    background-color:var(--btn-light-bg-color);
    border: solid 1px rgb(204, 204, 204) !important;
 }
/* Titre de Page */
html,
body {
    height: 100%;
}

#content {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Page background */
.page-container {
    min-height: calc(100% - 451px); /* 100% - height(header=245) -height(search=55) - height(footer=130) - margin(header=10) - border(footer=1) */
    height: auto !important;
    padding-top: 40px;
    padding-bottom: 20px;
}

#page-title {
}

#aif-header {
    /*height: 170px;*/
    background-color: #f4f3d9;
    color: #414143;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    height: 245px;
}

#aif-header .row,
#top-search .row {
    margin: 0px;
}

#aif-header h1 {
    font-family: "LinLibertine";
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#menu-top-wrapper {
    height: 136px;
    padding-top: 43px;
}

.onoffswitch-group {
    padding-top: 0px;
}

#search-bar {
    padding: 0 !important;
}

#top-search {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 6px 6px #aaaaaa;
}

#top-search .form-control {
    border: 1px solid #ccc !important;
    height: 40px;
}

#top-search .searchinput {
    border-radius: 12px 0px 0px 12px;
}

#top-search .searchinput:hover,
#top-search .searchinput:active,
 {
    border-radius: 0 !important;
}

#top-search .btn {
    border-radius: 12px 12px 12px 12px;
    height: 40px;
    line-height: 1.87;
}

#top-search .input-group-btn .btn {
    height: 40px;
    border-radius: 0px 0px 0px 0px;
}

#top-search #add-search-field {
    border-radius: 0px 12px 12px 0px;
}

#top-search .input-group-btn .remove-search-field {
    border-radius: 0px 12px 12px 0px;
    margin-left: -1px;
}

#top-search .input-group-addon {
    border-radius: 12px 0px 0px 12px;
}

#top-search .search-group-added .searchinput {
    border-radius: 0px 0px 0px 0px;
}

.browse-button {
    display: none;
}

.search-button {
    background-color: #f79621;
    border-color: #f79621;
    color: white;
}


.menu-top {
    background-color: #f4f3d9;
    border: 0px;
    font-weight: bold;
    /*margin-bottom: 0px;*/
}

/*
@media all and (min-width: 1200px) {
    .menu-top .navbar-nav {
        margin-left:5%;
    }
}

@media all and (min-width: 1300px) {
    .menu-top .navbar-nav {
        margin-left:10%;
    }
}

@media all and (min-width: 1400px) {
    .menu-top .navbar-nav {
        margin-left:20%;
    }
}
*/

.menu-bottom {
    border: 0px;
    margin-left: 20%;
    margin-bottom: 0px;
}

.menu-bottom .navbar-nav {
    float: left;
}

.menu-bottom .navbar-nav > li {
    float: left;
}

.journal-logo {
    text-align: center;
    max-width: 400px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo-mersenne {
    height: 60px;
}

.logo-footer {
    height: 45px;
}

/*
.navbar-default .navbar-nav > li > a {
    color: #414143;
}
*/

#aif-header a {
    color: #414143;
}

#aif-header .active .dropdown-menu a {
    color: #414143;
    background-color: white;
}

#aif-header a:hover,
#aif-header a:focus,
#aif-header .active a,
#aif-header .active a:hover,
#aif-header .active .menu-focus {
    color: white;
    background-color: #414143;
}

#aif-header .journal-logo a:hover,
#aif-header .journal-logo a:focus,
#aif-header .journal-logo .active a,
#aif-header .journal-logo .active a:hover,
#aif-header .journal-logo .active .menu-focus {
    color: white;
    background-color: #f2f1e8;
}

#aif-header .journal-logo img {
    width: auto;
    height: 200px;
    padding-left: 20px;
}

.journal-header-content {
    /*    height: 200px;*/
}

.journal-title {
    /*text-align: center;*/
    padding-top: 20px;
}

.dropdown-accordion {
    display: none;
    float: right;
}

.search-button-div {
    width: 150px;
    padding-right: 0px;
    padding-left: 0px;
}

.browse-or {
    text-align: center;
    margin-top: 7px;
}

.footer-text {
    padding-left: 15%;
    padding-top: 15px;
    color: #777;
    font-size: 12px;
}

.footer-text a {
    color: #777;
}

#footer {
    margin-top: 0px;
    padding-top: 15px;
    position: relative;
    height: 149px;
    background-color: #f4f3d9;
}
#footer .nav-link {
    color: #777;
}

#footer .navbar-default {
    background-color: #f4f3d9;
}

.logos-footer {
    margin-bottom: 10px;
    font-size: 12px;
}

.logos-footer a {
    margin-right: 7%;
}

.logos-footer a:last-child {
    margin-right: 0px;
}

#sidebar {
    width: 250px;
    /*    transition: all 0.3s;*/
    padding-top: 0px;
}

/*

.wrapper-sidebar {
    display: flex;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -250px;
}
*/

#toggle-sidebar {
    display: none;
    margin-bottom: 20px;
}

.cms-breadcrumb {
    list-style: none;
    display: inline-block;
}
.cms-breadcrumb .icon {
    font-size: 14px;
}
.cms-breadcrumb li {
    float: left;
}
.cms-breadcrumb li a {
    color: #414143;
    display: block;
    background: #f2f1e8;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}
.cms-breadcrumb li:nth-child(even) a {
    background-color: #f2f1e8;
}
.cms-breadcrumb li:nth-child(even) a:before {
    border-color: #f2f1e8;
    border-left-color: transparent;
}
.cms-breadcrumb li:nth-child(even) a:after {
    border-left-color: #f2f1e8;
}
.cms-breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.cms-breadcrumb li:first-child a:before {
    border: none;
}
.cms-breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.cms-breadcrumb li:last-child a:after {
    border: none;
}
.cms-breadcrumb li a:before,
.cms-breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #f2f1e8;
    border-width: 20px 10px;
    width: 0;
    height: 0;
}
.cms-breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}
.cms-breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #f2f1e8;
}
.cms-breadcrumb li a:hover {
    background-color: #414143; /*#ffe898;*/
    color: white;
}
.cms-breadcrumb li a:hover:before {
    border-color: #414143; /*#ffe898;*/
    border-left-color: transparent;
}
.cms-breadcrumb li a:hover:after {
    border-left-color: #414143; /* #ffe898; */
}
.cms-breadcrumb li.active a {
    background-color: #414143; /*#ffe898;*/
    color: white;
}
.cms-breadcrumb li.active a:before {
    border-color: #414143; /*#ffe898;*/
    border-left-color: transparent;
}
.cms-breadcrumb li.active a:after {
    border-left-color: #414143; /*#ffe898;*/
}

.cms-breadcrumb li.breadcrumb-previous a,
.cms-breadcrumb li.breadcrumb-next a {
    margin-right: 5px;
}

.cms-breadcrumb li:last-child a {
    margin-right: 5px;
}

ul.cms-breadcrumb {
    padding-left: 0px;
}

.article-breadcrumb {
    padding-left: 0px;
    padding-right: 0px;
    right: 18%;
}

.btn-tex {
    padding-right: 0px;
    text-align: right;
    max-width: 200px;
}

.site-settings {
    font-size: 30px;
}

#article-bar {
    width: 62%;
}

/* Barre de recherche */
#search-bar {
    margin-left: 0px;
    float: right;
    width: calc(100% - 270px);
    /*background-color: lightblue;*/
}

#browse-btns {
    float: left;
    width: 260px;
}

#line-container {
    padding-left: 0px;
}

#menu-small {
    float: right;
    display: none;
}

#main-dropdown-menu {
    left: -223px;
    width: 280px;
}

#onoffswitch-small {
    margin-top: 5px;
}

#language-switch {
    float: right;
    margin-bottom: 5px;
}

#mathml-switch {
    float: right;
}

#onoffswitch-small #language-switch,
#onoffswitch-small .onoffswitch,
#onoffswitch-small #mathml-switch {
    margin-left: 5px;
    float: left;
}

#onoffswitch-small .clearfix {
    display: none;
}

.small-display {
    display: none;
}

@media all and (max-width: 1600px) {
    #line-container {
        margin-left: 7.5%;
    }
}

@media all and (max-width: 1400px) {
    .page-container .journal-logo {
        max-width: 300px;
    }

    #article-bar {
        width: 70%;
    }

    #line-container {
        margin-left: 4%;
    }

    #search-bar {
        width: calc(100% - 260px);
    }
}

@media all and (max-width: 1300px) {
    .page-container .journal-logo,
    #top-search .journal-logo {
        max-width: 200px;
    }

    #article-bar {
        width: 80%;
    }
}

@media all and (max-width: 1199px) {
    .browse-or {
        width: 40px;
        height: 27px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-text {
        padding-left: 50px;
    }

    .page-container .journal-logo,
    #top-search .journal-logo {
        display: none;
    }

    .regular-content {
        margin-left: 8%;
    }

    .article-breadcrumb {
        right: 0px;
    }

    .btn-tex {
        margin-bottom: 10px;
        padding-left: 0px;
        text-align: left;
    }

    #article-bar {
        margin-left: 10%;
    }
}

@media all and (max-width: 1200px) {
    .cms-breadcrumb {
        padding-left: 0px;
    }

    .logos-footer a {
        margin-right: 5%;
    }
}

@media all and (max-width: 1100px) {
    #aif-header {
        height: 185px;
    }

    .page-container {
        min-height: calc(100% - 356px);
    }

    #aif-header .journal-logo {
        width: 170px;
    }

    #journal-title-col {
        width: calc(100% - 170px);
    }

    #aif-header .journal-logo img {
        height: 130px;
        padding-left: 0px;
    }

    #aif-header h1 {
        font-size: 36px;
    }

    #menu-top-wrapper {
        height: 80px;
        padding-top: 20px;
    }

    #article-bar {
        width: calc(100% - 15px);
        margin-left: 0px;
        padding-left: 3%;
        padding-right: 0px;
    }

    #search-bar {
        width: calc(100% - 260px);
        margin-right: 0px;
    }
}

@media all and (max-width: 1050px) {
    .footer-logo-text {
        display: none;
    }
}

@media all and (max-width: 970px) {
    #aif-header {
        height: 165px;
    }

    .page-container {
        min-height: calc(100% - 336px);
    }

    #menu-top-wrapper {
        display: none;
    }

    #menu-small {
        display: block;
    }
    #onoffswitch-large {
        display: none;
    }

    .journal-title {
        margin-top: 27px;
    }

    .page-container h2 {
        margin-top: 10px;
    }

    .cms-page {
        padding-left: 10px;
        margin-bottom: 20px;
    }

    .footer-text {
        padding-left: 20px;
    }

    .logo-mersenne {
        height: 50px;
    }

    .logo-footer {
        height: 35px;
    }

    .logos-footer a {
        margin-right: 10px;
    }

    .regular-content {
        margin-left: 0px;
    }
}

@media all and (max-width: 850px) {
    #aif-header h1 {
        font-size: 30px;
    }

    .small-display {
        display: block;
    }

    #browse-btns {
        display: none;
    }

    #search-bar {
        width: 100%;
    }
}

@media all and (max-width: 768px) {
    #aif-header {
        height: 140px;
    }

    #footer {
        height: 189px;
    }

    .page-container {
        min-height: calc(100% - 331px);
        padding-top: 20px;
    }

    #aif-header .journal-logo {
        width: 120px;
    }

    #journal-title-col {
        width: calc(100% - 130px);
    }

    .journal-header-content {
        width: calc(100% - 100px);
    }

    .journal-title {
        margin-top: 12px;
    }

    #aif-header .journal-logo img {
        height: 100px;
        padding-left: 0px;
    }

    #aif-header h1 {
        float: left;
        font-size: 28px;
        margin-bottom: 10px;
        line-height: 40px;
    }

    #search-bar {
        padding-top: 5px;
    }

    .journal-title:after {
        display: block;
        clear: both;
        content: "";
    }

    #sidebar {
        display: none;
        width: 100%;
    }
    #toggle-sidebar {
        display: block;
    }
    #results {
        width: 100%;
    }
}

@media all and (min-width: 768px) {
    #sidebar {
        display: block;
    }
    #toggle-sidebar {
        display: none;
    }
    #results {
        width: calc(100% - 250px);
    }
}

@media all and (max-width: 700px) {
    #aif-header h1 {
        font-size: 24px;
    }

    .page-container .journal-logo {
        display: none;
    }

    #search-bar {
        padding-top: 0px;
    }

    .browse-or {
        margin-right: 30%;
    }
}

@media all and (max-width: 640px) {
    .journal-header-content {
        width: 99%;
    }

    #menu-small {
        width: 95%;
        padding-left: 30%;
    }
    #main-dropdown-menu {
        left: 0px;
    }

    .journal-title {
        margin-top: 0px;
        padding-top: 0px;
    }
}

@media all and (max-width: 600px) {
    #search-button-text {
        display: none;
    }

    .search-button-div {
        width: 40px;
    }

    #line-container {
        width: calc(100% - 100px);
    }
}

@media all and (max-width: 560px) {
    #aif-header h1 {
        font-size: 22px;
    }
}

@media all and (max-width: 510px) {
    #journal-title-col {
        padding-right: 0px;
        padding-left: 0px;
    }

    .journal-header-content {
        width: calc(100% - 70px);
    }

    #aif-header h1 {
        text-align: center;
    }

    #menu-small {
        float: right;
        width: 65px;
        padding-left: 0px;
    }
    #main-dropdown-menu {
        left: -223px;
    }
}

@media all and (max-width: 500px) {
    .logo-footer {
        margin-top: 5px;
    }
}

@media all and (max-width: 450px) {
    #footer {
        height: 209px;
    }

    .page-container {
        min-height: calc(100% - 391px);
    }

    #search-group-btn {
        display: none;
    }

    #line-container {
        width: calc(100% - 70px);
    }

    #line-container .search-group {
        width: 100%;
        margin-right: 0px;
        height: 34px;
        margin-top: 5px;
    }

    .search-button-div {
        margin-top: 5px;
    }
}

@media all and (max-width: 400px) {
    .searchinput {
        padding-left: 3px;
    }

    .logo-footer {
        height: 30px;
    }
}

@media all and (max-width: 350px) {
    #aif-header .journal-logo {
        width: 100px;
        padding-right: 0px;
    }

    #journal-title-col {
        width: calc(100% - 100px);
    }

    .journal-header-content {
        width: calc(100% - 90px);
    }

    #aif-header .journal-logo img {
        height: 70px;
    }

    #aif-header h1 {
        font-size: 20px;
    }
}

.menu-top {
    border-top: 0px solid #414143;
    border-bottom: 0px solid #414143;
    border-radius: 0px;
}

#aif-header .search-button {
    background-color: #414143;
    border-color: #414143;
    color: white;
}

#how-to-cite-div {
  padding: 9.5px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Pagination resultat recherche */
.pagination > .active > a {
}
.pagination > li > a {
}

/* Container menu + page */
.content-container {
}

/* Contenu de la page */
.cms-page {
}

/* Menu gauche */
.sidebar {
}
li.mersenne-cms-menu-lvl1 {
}
li.mersenne-cms-menu-lvl2 {
}
.nav-tabs > li.active > a:hover {
}
.nav-tabs > li.active > a {
}
.nav-tabs > li > a:hover {
}
.nav-tabs > li > a:focus {
    outline: none;
}

.page-container .row {
    margin: 0px;
}

.cms-page-content {
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    width: 95%;
}

.volume-ligne,
.journal-content {
    margin-top: 50px;
    font-size: 20px;
}

.recent-articles {
    min-width: 380px;
}

.recent-articles-header {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #414143;
    text-align: center;
}

.article-short {
    font-size: 14px;
}

.article-short h2 {
    font-size: 14px;
    margin: 0px;
}

.article-tab {
    font-size: 16px;
}

.article-title a {
    color: #333;
}

.facet-header,
.facet-header-no-click {
    background-color: #414143;
    color: white;
}

.lightbox {
    height: 150px;
    border: 1px solid #c7c7c7;
}

.btn-toggle,
.btn-toggle:hover,
.btn-toggle:focus,
.btn-toggle:active {
    color: white;
    background-color: #414143;
    border-color: #414143;
}

.panel-heading > a {
    text-decoration: none;
    outline-style: none;
}

.panel-group {
    margin-bottom: 0px;
}

.panel-group .panel {
    border-radius: 0px;
}

.panel-title > a:hover {
    background-color: #414143;
    color: white;
    text-decoration: none;
    outline-style: none;
}

.panel-title {
    margin-top: 0px;
    line-height: 24px;
}

.panel-body a {
    line-height: 40px;
}

#search-bar .form-group {
    margin-bottom: 0;
}

.searchclear {
    top: 14px;
}

.search-button:hover {
    background-color: #f79621;
}

.container-flex {
    font-size: 16px;
}

.container-flex > .flex-group .flex-item {
    margin-left: 0px;
    margin-right: 20px;
}
