{% load gdml %}
{% load i18n %}
{% load helpers %}
{% load static %}

{% if not is_cr or not articles_to_appear %}
<div class="wrapper-float">
{% endif %}
  {% if embargo %}
    <div style="float:left;margin-top:1px">
      <span class="glyphicon glyphicon-time embargo-button" title="{% trans 'Le texte intégral des articles récents est réservé aux abonnés de la revue.' %}" style="color:#f7a574;font-size:24px;"></span>
    </div>
    <div style="float:left;margin-left:5px;margin-top:3px">
      {% if display_embargo_text %}
        <span style="line-height:24px;display:inline-block;vertical-align: middle"> {% trans 'Le texte intégral des articles récents est réservé aux abonnés de la revue.' %}
        {% if doi %}{% blocktrans %}Consultez l'article sur le <a href='{{ doi }}'>site de la revue</a>.{% endblocktrans %}
        {% elif website %}{% blocktrans %}Consultez le <a href='{{ website }}'>site de la revue</a>.{% endblocktrans %}{% endif %}
        </span>
      {% endif %}
    </div>
  {% else %}
    <div style="float:left;margin-top:0px">
      {% if binary_files.pdf %}
        <a href="{{ binary_files.pdf |replace_basename_binary_file }}" target="_blank">
          <img src="{% static 'ptf/img/pdf.gif' %}">
        </a>
      {% endif %}
      {% if SHOW_DJVU and binary_files.djvu %}
        <a href="{{ binary_files.djvu |replace_basename_binary_file }}">
          <img src="{% static 'ptf/img/djvu.png' %}">
        </a>
      {% endif %}
      {% if binary_files.tex %}
        <a href="{{ binary_files.tex |replace_basename_binary_file }}">
          <img src="{% static 'ptf/img/tex.png' %}">
        </a>
      {% endif %}
      {% url 'export_article_html' article.doi as download_url %}
      {% if show_button and download_url %}
        <a href="{{ download_url }}">
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
          </button>
        </a>
      {% endif %}
    </div>
  {% endif %}
{% if not is_cr or not articles_to_appear %}
</div>
{% endif %}
