{% extends "common/common-article.html" %}
{% load i18n %}

{% block article_extra_info_block %}
  {% for link in article.extlink_set.all  %}
    {% if link.rel == "source" and source %}
      <p>Voir la notice de l'article sur <a href="{{ link.location }}" target="_blank">{{source.name}}</a></p>
    {% endif %}
  {% endfor %}
{% endblock %}

