{% load i18n %}

{% if facets %}
  <div>
    {#  {% if facets|length > 5 %}#}
    {#    <div class="less-state" style="float:right;display:block;padding-right:20px">#}
    {#      <a class="show-more"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>&nbsp;{% trans 'Voir plus' %}</a>#}
    {#    </div>#}
    {#    <div class="more-state" style="float:right;display:none;padding-right:20px">#}
    {#      <a class="show-less"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>&nbsp;{% trans 'Voir moins' %}</a>#}
    {#    </div>#}
    {#  {% endif %}#}
    {#  <h4>{% trans category_name %}</h4>#}
    <div class="facet-header{% if facets|length < 6 %}-no-click{% endif %}">
      <div class="facet-header-title"><h5>{% trans category_name %} {% if facets|length > 5 %}({{ facets|length }}{% if facets|length == 100 %}+{% endif %}){% endif %}</h5></div>
      {% if facets|length > 5 %}
        <div class="pull-right">
          <span class="glyphicon glyphicon-chevron-down facet-header-glyph"></span>
          <span class="glyphicon glyphicon-chevron-up facet-header-glyph" style="display:none"></span>
        </div>
      {% endif %}
    </div>
    <div>
      {% for f in facets %}
        {% if forloop.counter == 6 %}
          <div class="more-facet" style="display:none">
        {% endif %}
      {% if f.active == 'active' %}
        <div style="float:left" class="facet-active">
          <a href="{{ f.href }}&eprint={{eprint}}">
            <span class="glyphicon glyphicon-remove" style="width:20px" aria-hidden="true"></span>
          </a>
        </div>{% endif %}
      <p class="facet">
            <span {% if f.active == 'active' %}class="facet-active"{% endif %}><a
                href="{{ f.href }}&eprint={{eprint}}">{% trans f.name %}</a> ({{ f.count }})</span>
        {% if f.sub_facets %}
          <button type="button" class="btn btn-default facet-button"><span
              class="glyphicon glyphicon-chevron-down"></span></button>
          <button style="display:none" type="button" class="btn btn-default facet-button"><span
              class="glyphicon glyphicon-chevron-up"></span></button>
        {% endif %}
      </p>
      {% if f.sub_facets %}
        <div class="subfacet" style="margin-left:20px;display:none">
          {% for sub_f in f.sub_facets %}
            {% if sub_f.active == 'active' %}
              <div style="float:left"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            {% endif %}
            <p class="facet"><span {% if sub_f.active == 'active' %}class="facet-active"{% endif %}><a
                href="{{ sub_f.href }}&eprint={{eprint}}">{{ sub_f.name }}</a> ({{ sub_f.count }})</span></p>
          {% endfor %}
        </div>
      {% endif %}
      {% if forloop.counter > 5 and forloop.last %}
        </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <br/>
{% endif %}
