{% load i18n %}
{% load stringsfilter %}

  {% if not parent_collection %}
    <h3 id="{{ journal.pid }}" style="margin-bottom:20px">{{ journal.title_tex }}</h3>
  {% endif %}

  {% for vserie in sorted_issues %}
    <div class="container-flex {% if sorted_issues|length > 1 %}container-flex-header {% endif %}{% if vserie.volumes|length < 15 %}container-flex-one{% elif vserie.volumes|length < 25 and max_width < 30 %}container-flex-xs{% elif vserie.volumes|length < 40 %}container-flex-small{% elif vserie.volumes|length < 70 %}container-flex-medium {% endif %} {% if volume_count > 100 %} container-col-1  {% else %}container-flex-large{% endif %} ">


    {% if vserie.vseries %}
        <h4>{% trans "Série" %} {{ vserie.vseries }}</h4>
    {% elif sorted_issues|length > 1 %}
        <h4>{% trans "Série non numérotée" %}</h4>
    {% endif %}

    <div {% if USE_FLEX %}class="flex-group"{% endif %}>
      {% for volume in vserie.volumes %}
      <div class="flex-item">
          <div class="wrapper-float">
            {% with volume.issues|first as first_issue %}
              <div style="float:left;">
                {% if first_issue.ctype == 'issue' %}
                  {% if use_item_url %}
                    <a href="{% url 'item_id' first_issue.pid %}">
                  {% else %}
                    <a href="{% url 'volume-items' first_issue.get_vid %}">
                  {% endif %}
                  <!--{% if volume.volume %}-->
                    <!--<a href="{% url 'volume-items' first_issue.get_vid %}">-->
                  <!--{% else %}-->
                    <!--<a href="{% url 'issue-items' first_issue.pid %}">-->
                  <!--{% endif %}-->
                  {% if volume.volume %}
                    {% include 'common/volume_string.html' %} {{ volume.volume }}</a> ({% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }})
                  {% else %}
                    {% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }}</a>
                  {% endif %}
                {% else %}
                  {% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }}
                {% endif %}
                {% if show_issues %}
                  {% for issue in volume.issues %}
                    {% if issue.number %}
                      <a href="{% url 'issue-items' issue.pid %}"> [{{ issue.number }}]</a>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  {% if request.site.name == "crbiol" and first_issue.year|add:"0" < 2023 %}
                    {% for issue in volume.issues %}
                        {% if issue.number %}
                          <a href="{% url 'issue-items' issue.pid %}">[{{ issue.number }}]</a>
                        {% endif %}
                    {% endfor %}
                  {% elif first_issue.year|add:"0" < 2021 %}
                    {% for issue in volume.issues %}
                      {% if issue.number %}
                        <a href="{% url 'issue-items' issue.pid %}">[{{ issue.number }}]</a>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endif %}
              </div>
              {% if first_issue.embargo %}
                <div style="float:left;margin-left:10px">
                  <span class="glyphicon glyphicon-time embargo-button" title="{% if LANGUAGE_CODE == 'fr' %}Le texte intégral des articles récents est réservé aux abonnés{% else %}The full text of recent articles is available to subscribers only{% endif %}" style="color:#f7a574;"></span>
                </div>
              {% endif %}
            {% endwith %}
          </div>
      </div>
      {% endfor %}
    </div>
    </div>
  {% endfor %}
  {% if archives_periodes %}
    {% if USE_FLEX %}
    <div class="container-flex {% if vserie.volumes|length < 25 and max_width < 30 %}container-flex-xs{% elif vserie.volumes|length < 40 %}container-flex-small{% elif vserie.volumes|length < 70 %}container-flex-medium{% else %}container-flex-large{% endif %} {% if max_width > 30 %} container-flex-large-col{% endif %}">
      <div class="flex-group">
    {% else %}
    <div class="list-of-issues">
      <div>
    {% endif %}
    {% with periodes_list=archives_periodes.split %}
    {% for periode in periodes_list %}
    {% with periode|split:',' as periode_items %}
    <div class="flex-item">
      <div class="wrapper-float">
        <div style="float:left;">
          <a href="{{periode_items.1}}">{% include 'common/volume_string.html' with plural=True %} {{periode_items.0}}</a>
        </div>
      </div>
    </div>
    {% endwith %}
    {% endfor %}
    {% endwith %}
      </div>
    </div>
  {% endif %}


