{% extends "base.html" %}

{% block content %}
<h2>Articles</h2>
{% for s in sources %}
  <p>
    <h3 class="text-warning">{{s.name }} - {{s.articles}} articles </h3>
    {% if h.url_home %}
      <a href="{{h.url_home}}">Homepage</a> -
    {% endif %}
    {% if s.oai_set %}
      <a href="{{h.url}}?verb=Identify">OAI</a>
      Set : {{s.oai_set}}
    {% endif %}
  </p>
{% endfor %}
<h2>Books</h2>
{% for h in harvests_books %}
  <p>
    <h3 class="text-warning">{{h.source }} - {{h.get_count_articles}} {{h.get_title}}</h3>
    {% if h.url_home %}
      <a href="{{h.url_home}}">Homepage</a> -
    {% endif %}
    <a href="{{h.url}}?verb=Identify">OAI</a>
    {% if h.oai_set %}
      Set : {{h.oai_set}}
    {% endif %}
    {{h.xml_format}}
  </p>
{% endfor %}

{% endblock %}
