{% extends "base.html" %}

{% load static %}

{% block title %}AFST{% endblock title %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "ptf/vendors/flag-icon/css/flag-icon.min.css" %}" />
<link rel="stylesheet" href="{% static "ptf/css/bs5/lightbox.css" %}" />
{% endblock extra_css %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static "ptf/js/bs5/select.js" %}"></script>
<script type="text/javascript" src="{% static "ptf/js/bs5/lightbox.js" %}"></script>
{% endblock extra_js %}

{% block left %}
{% if news and page %}
  <div id="news-container" class="col-4 card">
    <div class="card-header">
      {% if LANGUAGE_CODE == 'fr' %} 
        {{ news.title_fr|safe }}
      {% else %}
        {{ news.title_en|safe }}
      {% endif %}
    </div>
    <div class="card-body">
      {% if LANGUAGE_CODE == 'fr' %} 
        {{ news.content_fr|safe }}
      {% else %}
        {{ news.content_en|safe }}
      {% endif %}
    </div>
  </div>
{% endif %}
{% endblock left %}