{% extends "modern-top.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}{% endblock header_title %}

{% block extra_content %}
<div class="position-absolute top-0 end-0 d-none d-sm-flex flex-nowrap justify-content-end gap-1 p-2">
  <a href="https://www.math.univ-toulouse.fr/" target="_blank">
    <img src="{% static "afst/img/logo-imt-small.png" %}" alt="" width="auto" height="50px">
  </a>
    
  <a href="http://www.univ-tlse3.fr/" target="_blank">
    <img src="{% static "afst/img/logo-ups.png" %}" alt="" width="auto" height="50px">
  </a>

  <a href="http://www.cnrs.fr/" target="_blank">
    <img src="{% static "mersenne_cms/img/logo-cnrs-footer.png" %}" alt="" width="auto" height="50px">
  </a>
</div>
{% endblock extra_content %}

{% block extra_collapsed_nav_elements %}
<li>
  <a class="menu-link nav-link" href="/journals/AFST/">{% trans "Articles parus" %}</a>
</li>
{% endblock extra_collapsed_nav_elements %}

{% block extra_nav_elements %}
<li {% if sorted_issues %}class="active"{% endif %}>
  <a class="menu-link nav-link" href="/journals/AFST/">{% trans "Articles parus" %}</a>
</li>
{% endblock extra_nav_elements %}