@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

html,
body {
    height: calc(100% - 36px);
}

.pkp_structure_content {
    min-height: calc(100% - 245px); /* 100% - height(header=330) - height(footer=130) */
    height: auto !important;
}

/* Titre de Page */
#page-title {
}

/* Couleur barre top */
#navbar-top {
}

/* Barre de recherche */
#search-bar {
}
.search-button {
}

/* Pagination resultat recherche */
.pagination > .active > a {
}
.pagination > li > a {
}

/* Container menu + page */
.content-container {
}

/* Contenu de la page */
.cms-page {
}

/* Menu gauche */
.sidebar {
}
li.mersenne-cms-menu-lvl1 {
}
li.mersenne-cms-menu-lvl2 {
}
.nav-tabs > li.active > a:hover {
}
.nav-tabs > li.active > a {
}
.nav-tabs > li > a:hover {
}
.nav-tabs > li > a {
}

/* Page background */
body {
}

.cms-page h3 {
    font-size: 16px;
    margin: 20px 0 5px;
}

.cms-page ul {
    margin: 0px;
    line-height: 20px;
}

#center .cms-page li {
    margin-bottom: 2px;
}

.cms-page .section {
    float: left;
    width: 33.3%;
}

.clearfix {
    clear: both;
}

#pkp_content_footer .pkp_navigation_primary {
    font-size: 12px;
}

.footer {
    padding-top: 10px;
}

.menu-bottom {
    float: right;
}

.menu-bottom .navbar-nav {
    float: left;
    list-style: none;
}

.menu-bottom .navbar-nav > li {
    float: left;
    list-style: none;
    margin-left: 20px;
}

.logo-left {
    float: left;
}

.logo-middle {
    float: right;
}

.logo-right {
    margin-top: 10px;
    float: left;
}

@media (min-width: 599px) {
    .logo-middle {
        float: left;
    }

    .logo-right {
        float: right;
        margin-top: 3px;
    }
}

@media (min-width: 992px) {
    .logo-middle {
        margin-left: 12%;
    }

    .logo-right {
    }
}

/*
.search-button {
    color: #737373;
    background-color: #b2e2f2;
    border-color: #b2e2f2;
}

.search-button:hover {
    background-color: #b2e2f2;
}
*/

.search-button {
    color: white;
    background-color: #00a7d4;
    border-color: #00a7d4;
}

.search-button:hover {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    color: #737373;
}

#search-bar .btn {
    height: 34;
}

#search-bar li:before,
#search-content .search-pagination li:before {
    content: none;
}

#search-bar {
    padding: 0px;
}

.highlight {
    font-size: 85%;
    padding: 10px 0px 0px 20px;
}

.search-pagination li.disabled .glyphicon {
    top: 0px;
}

.search-pagination a .glyphicon {
    top: 0px;
    line-height: inherit;
}

.search-pagination {
    margin-top: 30px;
}

.pagination {
    margin: 0px 0px 30px;
}

#intro-en ul.no-bullet li:before,
#intro-en ol[type] li:before,
#abstract-en ul.no-bullet li:before,
#abstract-en ol[type] li:before {
    content: none;
}

.details .info p {
    line-height: 22px;
    display: inline;
}

.info_view_more {
    color: #00a7d4;
}

.article-with-date {
    margin-left: 110px;
    position: relative;
}

.page_article_ahl .navigation .active {
    color: #333;
}

.page_contents_ahl .navigation a:hover,
.page_article_ahl .navigation a:hover,
.page-container .container-flex a:hover,
.info_view_more a:hover {
    color: #00576e;
}

.page_contents_ahl .navigation a,
.page_article_ahl .navigation a,
.page-container .container-flex a,
.info_view_more a {
    color: #00a7d4;
}

.page_article_ahl .navigation-flat .previous::before {
    content: none;
}

.page_article_ahl .navigation-flat .next::after {
    content: none;
}

.page_article_ahl .navigation-flat .previous {
    color: #333;
}

.navigation-clearfix {
    height: 0px;
}

#content {
    padding: 0px;
    margin: 0px;
}

li::before {
    display: none;
}
