{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block container %}


  <div class="cms-page">





      <p style="margin-left:auto; margin-right:auto">.</p>

<p style="margin-left:10px; margin-right:10px; text-align: center"><img style="width: 50%;margin-bottom: 100px;" src="/static/cr/img/404.png" alt="error 404"><br>
<h3 style="color: #606060; line-height: 2em;"><i>Page non trouvée ... Utilisez les liens du menu pour naviguer : bonne visite !<hr style="margin-left: 200px; margin-right: 200px;">
Page not found ... Follow the links and enjoy your visit !</i></h3></p>

<p>&nbsp;</p>


  </div>





{% endblock %}
