{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load cms_tags %}

{% block container %}
<div id="history_graph">
  <svg class="img-responsive">
    <g transform="translate(20, 20)"/>
  </svg>
</div>
<div style="margin-top: 30px">Note : les eISSN entre parenthèses correspondent à des versions numérisées des revues et non à des versions nativement numériques.</div>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static "cr/css/graph.css" %}" />
{% endblock extra_css %}

{% block extra_js %}
  <script src="{% static 'cr/vendors/js/d3.min.js' %}" defer></script>
  <script src="{% static 'cr/vendors/js/dagre-d3.min.js' %}" defer></script>
  <script src="{% static 'cr/js/graph.js' %}" defer></script>
{% endblock extra_js %}
