{% load helpers %}

{% if article_page %}
<div class="affiliation-authors">
  {% if not for_issue or forloop.counter < 8 or forloop.counter == size %}
  {% for address in addresses %}
  <span id=aff_{{forloop.counter|address_index_value:with_letter}}> <sup>{{ forloop.counter|address_index_value:with_letter}}</sup> {{ address }} </span> <br>
  {% endfor %}
  {% endif %}
</div>
{% endif %}
