{% extends "base.html" %}
{% load stringsfilter %}
{% load i18n static %}

{% block title %}
  {% firstof article.title_tex|striptags block.super %}
{% endblock %}

{% block extra_head %}
  {% include "common/article/article-head.html" %}
{% endblock %}

{% comment %}
Add comments CSS and JS if comments are activated.
WARNING: The IF statement must be placed inside the `block` tag otherwise it has no effect. Django strangy
{% endcomment %}
{% block extra_css %}
{{ block.super }}
{% if COMMENTS_VIEWS_ARTICLE_COMMENTS %}
<link rel="stylesheet" href="{% static "comments_views/journal/css/bs5/comments.css" %}" />
<link rel="stylesheet" href="{% static "ptf/css/custom-alerts.css" %}">
{% endif %}
{% endblock extra_css %}

{% block extra_js %}
{{ block.super }}
{% if COMMENTS_VIEWS_ARTICLE_COMMENTS %}
<script src="{% static "comments_views/journal/js/comments.js" %}"></script>
<script src="{% static "ptf/js/custom-alerts.js" %}"></script>
{% endif %}
{% endblock extra_js %}

{% block breadcrumb %}
  {% if not articles_to_appear or online_first_cr %}
    {% include "common/breadcrumb.html" %}
  {% endif %}
{% endblock breadcrumb %}

{% block content_left %}
    <div id="content_left">
      {% if journal_icon %}
        <p class="cover">
          {{ journal_icon|safe }}
        </p>
      {% endif %}
    </div>
{% endblock content_left %}

{% block center_middle %}
{% comment %} Activate message snack bar when comments are active {% endcomment %}
{% if COMMENTS_VIEWS_ARTICLE_COMMENTS %}
{% include 'common/article/message-snack-bar.html'%}
{% endif %}
{% include "common/article/article.html" %}
{% endblock %}
