{% extends "base.html" %}
{% load stringsfilter %}
{% load i18n %}
{% load helpers %}

{% block title %}
  {{ book_part.title_tex|normalize_span }}
{% endblock %}

{% block breadcrumb %}
  {% include "common/breadcrumb.html" %}
{% endblock %}

{% block content_left %}
  <div id="content_left">
    {% if book_part.my_container.icon %}
      <div class="cover-thumbnail">
        <a href="{{ book_part.my_container.icon }}" class="lightbox" title="">
          <img src="{{ book_part.my_container.small_icon }}" width="80px">
        </a>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block center_middle %}
  {% include 'common/article/article.html' with article=book_part %}
{% endblock %}
