{% extends "base.html" %}
{% load stringsfilter %}
{% load i18n %}
{% load helpers %}

{% block title %}
  {% if book.title_tex %}{{book.title_tex|normalize_span }} - {% endif %}
  {% include 'common/volume/volume_string.html' %} {{ book.volume }} ({{ book.year }})
  {% if book.number %} no. {{ book.number }}{% endif %}

{% endblock %}

{% block breadcrumb %}
  {% include "common/breadcrumb.html" %}
{% endblock %}

{% block content_left %}
  <div id="content_left">
    {% if book.icon %}
      <div class="cover-thumbnail">
        <a href="{{ book.icon }}" class="lightbox" title="">
          <img src="{{ book.small_icon }}" width="100px">
        </a>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block center_middle %}
  {% include 'common/container.html' with container=book %}
{% endblock %}
