{% extends "base.html" %}

{% load static %}
{% load helpers %}

{% comment %} Pas de breadcrumb ici {% endcomment %}
{% block breadcrumb %}
{% endblock breadcrumb %}

{% block center_middle %}
  <div class="d-flex flex-column gap-2 align-items-start">
    {% with logo_path=journal|get_image_path %}
      {% if logo_path != "" %}
        {% comment %} href is used by the lightbox util {% endcomment %}
        <img href="{% static logo_path %}" src="{% static logo_path %}" class="lightbox journal-image">
      {% endif %}
    {% endwith %}
    <div class="w-100">
        {% include "common/issue/issue-list.html" %}
    </div>
  </div>
{% endblock %}
