{% load i18n %}

{% if related_articles|length > 0 %}
<div class="outline-div related-articles container">
    <div class="related-articles-inner" style="padding: 25px;">
      <div class="common-title article-title" style="margin-bottom:5px; text-align:center;">
        {% trans "Ces articles pourraient vous intéresser" %}
      </div>
      <hr>
      {% for related_article in related_articles %}
        <div>
          <p><a href="{{related_article.url}}" style="font-size: 15px">{{related_article.title_html | safe}}</a></p>
          <p>{{related_article.authors | safe}}</p>
          <p>{{related_article.journal_abbrev | safe}} ({{related_article.year}})</p>
        </div>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    </div>
</div>
{% endif %}
