{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {{ block.super }} - RSS
{% endblock %}

{% block breadcrumb %}
  {% if not articles_to_appear %}
    {% include "common/breadcrumb.html" %}
  {% endif %}
{% endblock breadcrumb %}

{% block center_middle %}
  <div class="{% if 'academie-sciences.fr' in request.site.domain or COLLECTION_PID == 'MBK' %}col{% else %}col-md-8{% endif %} mx-auto">
    {% include 'common/syndication_feed_url.html' %}
    <hr>
    <h3>
      {% trans "Qu'est-ce qu'un flux RSS ?" %}
    </h3>
    <p>
      {% trans "Les flux RSS sont des fils de contenus. En vous abonnant à un flux, vous recevrez automatiquement le titre, résumé et URL des derniers articles publiés." %}
    </p>
    <h3>
      {% trans "Comment utiliser les flux RSS ?" %}
    </h3>
    <p>
      {% trans "Pour pouvoir utiliser les flux RSS, plusieurs solutions existent. Vous pouvez utiliser un aggrégateur de flux, via un site web ou une application mobile, comme FlipBoard, Feedly, Netvibes, Inoreader ou encore NewsBlur. Alternativement, un lecteur RSS peut être installé directement sur votre navigateur web." %}
    </p>
    <h3>
      {% trans "Pourquoi utiliser des flux RSS ?" %}
    </h3>
    <p>
      {% trans "Les flux RSS permettent de s’abonner aux nouveaux contenus de vos sites préférés. Vous recevrez de manière automatique les derniers articles parus." %}
    </p>
  </div>
{% endblock %}
