{% extends "old_top.html" %}
{% load i18n %}
{% load static %}
{% load cms_tags %}
    {% block header_title %}
    <a href="/" class="top-title"> <h1>Annales Mathématiques<br/><span class="top-title-bp">Blaise Pascal</span></h1></a>
    {% endblock header_title %}

{% get_all_pages request 'top' as pages %}

