{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<div style="margin-left:230px">
  {% include "common/breadcrumb.html" with admin_mode=True %}
</div>

<div class="right_col" role="main">
  <div class="row">
    <div class="col-xs-12">
      <div id="handle-all-progress" class="progress" style="display:none">
        <div class="progress-bar" role="progressbar" aria-valuenow="00" aria-valuemin="0" aria-valuemax="100" style="width:0%">0%</div>
        <br/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#MatchingModal" data-pid="{{article.pid}}" role="button" class="btn btn-default open-matching-dialog admin-mode" data-toggle="modal"><i class="fa fa-heart"></i> Matching</a>
          <a id='fetch-all-external-link-button' data-all-url="{% url 'api-fetch-all' article.pid %}" data-one-url="/fetch-id/toreplacepid" href="#" role="button" class="btn btn-default admin-mode"><i class="fa fa-chevron-down"></i> Tous</a>
          <button class="btn btn-default" id="cancel-all-button" style="display:none">Annuler</button>
          <input id="cancel-all-checkbox" type="checkbox" value="" style="display:none">
          {% include "common/matching.html" %}
          <div class="pull-right">
            {% comment %}
            <a href="{% url 'update-matching' article.pid 'mark-checked' %}" id="check-all-ids" class="btn btn-success"><i class="fa fa-ok"></i> Marquer les ids comme vérifiés</a>
            {% endcomment %}
            <a href="{% url 'update-matching' article.pid 'mark-unchecked' %}" id="uncheck-all-ids" class="btn btn-default"><i class="fa fa-erase"></i> Marquer les ids comme non vérifiés</a>
            <a href="{% url 'update-matching' article.pid 'delete' %}" id="delete-all-ids" class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer tous les ids externes</a>
          </div>
          <hr>
          <a href="{% url 'edit-article' article.get_top_collection.get_top_collection.pid article.doi %}" class="btn btn-default"><i class="fa fa-edit"></i> Modifier les méta-données</a>
          <div class="pull-right">
            Liens vers :
            <a href="{{ test_website }}{% url 'item_id' pid=article.pid %}" class="btn btn-default btn-xs" role="button" target='_blank'>
              <i class="fa fa-external-link" aria-hidden="true"></i> Test
            </a>
            <a href="{{ prod_website }}{% url 'item_id' pid=article.pid %}" class="btn btn-default btn-xs" role="button" target='_blank'>
              <i class="fa fa-external-link" aria-hidden="true"></i> Prod
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "common/article.html" with admin_mode=True show_button=True %}
</div>
{% endblock content %}
