{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="right_col" role="main">
<h2>{{ journal.pid }}</h2>
{% include "common/issue-list.html" %}
</div>
{% endblock content %}
