{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
  {% if articles_to_appear %}
    {% trans 'Articles à paraître' %}
  {% else %}
    {{ issue.my_collection.pid }}, {% trans 'Tome' %} {{ issue.volume }} ({{ issue.year }})
    {% if issue.number %} no. {{ issue.number }}{% endif %}
  {% endif %}
{% endblock %}

{% block breadcrumb %}
  {% if not articles_to_appear %}
    {% include "common/breadcrumb.html" %}
  {% endif %}
{% endblock breadcrumb %}

{% block content_left %}
  <div id="content_left">
    {% if issue.small_icon or volume_items %}
      {% if issue.icon %}
          <a href="{{ issue.icon }}" class="lightbox" title="">
            <img src="{{ issue.small_icon }}" width="80px">
          </a>
      {% endif %}
      {% if issue.my_publisher.pub_key == 'societe-mathematique-de-france' %}
        <br><br>
        <a href="https://smf.emath.fr"><img src="{% static "mersenne_cms/img/logo-societe-mathematique-de-france.jpg" %}" width="80px"></a>
      {% endif %}
    {% endif %}

    {% with binary_files=issue.get_binary_files_href %}
    {% if binary_files.self %}
      <div>
        <span>{% trans 'Tome complet' %}</span>
        <span>
          {% include 'common/common-binary-files.html' with embargo=issue.embargo binary_files=binary_files.self show_button=True %}
        </span>
      </div>
    {% endif %}
    {% endwith %}


  </div>
{% endblock content_left %}

{% block content %}
<div class="right_col" role="main">
  {% include "common/issue-items.html" %}
</div>
{% endblock %}
