{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {{ COLLECTION_TITLE }} - {% trans "Recherche" %}
{% endblock %}

{% block content_left %}
    <div id="content_left">
      {% include "common/facets.html" %}
    </div>
{% endblock content_left %}

{% block content %}
<div class="right_col" role="main">
  {% include "common/search-results.html" %}
</div>
{% endblock %}
