{% extends "base.html" %}

{% load cms_tags %}
{% load static %}
{% load helpers %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "ptf/css/bs5/style.css" %}" />
{% endblock extra_css %}

{% block header %}
  <!-- Menu on extra-small screen (Phones). Hidden on larger screens
    -->
  <nav class="d-md-none navbar navbar-expand-md navbar-dark bg-dark">
    <div class='container-fluid justify-content-end px-0 gap-2'>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav">
          {% get_all_pages request 'top' as pages %}
          {% include "common/menu-elements.html" with pages=pages pos="top" %}
          {% include "common/language-select.html" with inside_collapse=True %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock header %}

{% block container %}
{# Utile pour ROIA pour 'extraire' le logo de la nav #}
{% if logo_path and logo_path != "" %}
  <div class="d-block d-md-none text-center">
    <a href="/">
      <img id="phone-logo" class="logo" alt="Logo" src="{% static logo_path %}">
    </a>
  </div>
{% endif %}
  
{% include "top.html" %}
{{ block.super }}
{% endblock container %}
