{% load cms_tags %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- bs5/base -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block extra_head %}{% endblock extra_head %}

  <title>{% block title %} {% if journal %}{{ journal.title_html }}{% endif %} {% endblock title %}</title>
  {% block font-awesome %}
  <link rel="stylesheet" href="{% static "ptf/vendors/font-awesome/css/font-awesome.min.css" %}" />
  {% endblock font-awesome %}
  <link rel="stylesheet" href="{% static "ptf/vendors/bootstrap5/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/css/bs5/ptf.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/css/bs5/base.css" %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

  <link rel="shortcut icon" type="image/svg+xml" href="{% block favicon %}{% if journal %}{% static journal.pid|lower|add:"/img/favicon.ico" %}{% endif %}{% endblock favicon %}" />

  {% block extra_css %}
  <link rel="stylesheet" href="{% static "ptf/css/bs5/style.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/css/bs5/search-bar.css" %}" />
  {% endblock extra_css %}

  {% block site_css %}
  {% if journal %}
  <link rel="stylesheet" href="{% static journal.pid|lower|add:"/css/style_"|add:journal.pid|lower|add:".css" %}" />
  {% endif %}
  {% endblock site_css %}

  {% include "blocks/header_rss_links.html" %}
</head>
<body class="d-flex flex-column position-relative" {% block extra_body_attributes %}{% endblock extra_body_attributes %}>
  {% block header %}
    {% include "top.html" %}
  {% endblock header %}

  <main class="container {% block extra_main_container_class %}{% endblock extra_main_container_class %}" style="flex-grow: 1;">
    {% block container %}
    <div class="row justify-content-center">
      {% if display_new_articles %}
      <div class="col-11 col-lg-5">
      {% endif %}
        <div class="container-fluid d-flex">
          {% block content %}
            <!-- Debut content -->
            {% block left %}
            <!-- Debut Left -->
              <div>
                {% block menu_left %}{% endblock %}
                {% block content_left %}{% endblock %}
              </div>
            <!-- Fin left -->
            {% endblock left %}

            {% comment %}
              Le max-width permet aux enfants de ne pas grandir plus que ce qu'il ne faut
              Celui-ci dépend fortement de la class container donné au bloc main plus haut.
              Bootstrap définit une taille selon les breakpoints, sans ça, on aura des problèmes si on veut des éléments scrollable horizontalement
              ex: Dans les articles, dans les exports, le bloc 'pre' applique mal l'overflow s'il n'y a pas le max-width
            {% endcomment %}
            <div class="flex-grow-1" style="max-width: 100%;">
              <!-- Breadcrumb -->
              {% block breadcrumb %}
              {% endblock breadcrumb %}

              <!-- center_top -->
              {% block center_top %}{% endblock center_top %}
              <!-- center_middle -->
              {% block center_middle %}
                {% include "mersenne_cms/page_content.html" %}
              {% endblock center_middle %}
                <!-- center_footer -->
             {% block center_footer %}{% endblock center_footer %}
            </div>

            {% block right %}
              <div>
                {% block menu_right %}{% endblock %}
                {% block content_right %}{% endblock %}
              </div>
            {% endblock right %}

          {% endblock content %}
        </div>
      {% if display_new_articles %}
      </div>
      {% block recent_articles %}
      <div class="col-11 col-lg-5 recent-articles">
        <h4 class="recent-articles-header">{% trans last_articles_msg %}</h4>
        {% include "common/issue/issue-items-short.html" with articles=latest_articles max=11 %}
        {% if issue.article_set.count > 10 %}
          <a href="{% url 'issue-items' issue.pid %}" style="padding-left:15px">{% trans "Voir plus" %}</a>
        {% endif %}
      </div>
      {% endblock recent_articles %}
      {% endif %}
    </div>
    {% endblock container %}
  </main>

  {% with logos_pos="top" %}
    {% block footer %}
      {% include "common/footer/footer.html" %}
    {% endblock footer %}
  {% endwith %}

  <script src="{% static "ptf/vendors/jquery/js/jquery-3.5.1.min.js" %}"></script>
  <script src="{% static "ptf/vendors/bootstrap5/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "ptf/vendors/clipboard/js/clipboard.min.js"%} "></script>
  {% if request.session.formula_display != 'tex' %}
    <script src="{% static "ptf/js/mathjax-config.js" %}" defer></script>
    <script type="text/javascript" id="MathJax-script" defer
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
  {% endif %}

  {% block extra_js %}{% endblock extra_js %}

  <script src="{% static "ptf/js/bs5/ptf.js" %}"></script>
  <script type="text/javascript" src="{% static "ptf/js/bs5/search-bar.js" %}"></script>
  <script src="{% static "ptf/js/bs5/facets.js" %}"></script>
</body>
</html>
