{% load i18n %}
{% load static %}
{% load cms_tags %}
{% load helpers %}

{% get_all_pages request 'top' as pages %}

<header class="d-flex flex-column">
  <div class="position-relative">
    <div class="d-flex justify-content-between justify-content-lg-end align-items-center">
      <div class="float-start me-2">
        {% block header_logo %}
          <a class="header-logo d-flex flex-row gap-3 align-items-center justify-content-start flex-grow-1" href="{% url 'home' %}" >
            {% with journal|get_image_path:True as logo_path %}
            {% if logo_path != "" %}
              <img src="{% static logo_path %}">
            {% endif %}
            {% endwith %}
            {% block header_title %}
              <h1>{{journal.title_tex|upper}}</h1>
            {% endblock header_title %}
          </a>
        {% endblock header_logo %}
      </div>
      <nav class="navbar menu-top py-0 flex-grow-1 align-middle">
        <div class="container-fluid justify-content-end">
          <ul class="nav">
            {% block extra_nav_elements %}{% endblock extra_nav_elements %}
            {% include "common/menu-elements.html" with pages=pages pos="top" %}
          </ul>
        </div>
        {% include "common/language-select.html" %}
      </nav>

      <div class="d-flex flex-nowrap align-items-center gap-3 d-lg-none">
        {% include "common/language-select.html" %}

        <button class="hamburger-icon navbar-toggler d-lg-none m-0 collapsed" onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContent" aria-controls="collapseContent" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>

    <div id="collapseContent" class="collapse d-lg-none">
      <ul>
        {% block extra_collapsed_nav_elements %}{% endblock extra_collapsed_nav_elements %}
        {% include "common/menu-elements.html" with pages=pages pos="top" %}
      </ul>
    </div>

    {% block extra_content %}{% endblock extra_content %}
  </div>

  <div id="search-bar" class="d-flex justify-content-end">
    {% include "common/search/search-bar.html" %}
  </div>
</header>
