{% load i18n %}
{% load static %}
{% load cms_tags %}
{% load helpers %}

{% get_all_pages request 'top' as pages %}

<header class="container-fluid">
  <div class="row">
    {% with journal|get_image_path:True as logo_path %}
      {% if logo_path != "" %}
      <div class="journal-logo col-2 d-none d-lg-block">
        <a href="{% url 'home' %}" ><img src="{% static logo_path %}"></a>
      </div>
      {% endif %}
    {% endwith %}
      <div class="col-sm-12 col-lg-10">
        <div class="row">
          <div class="journal-header-content col-lg-10 col-sm-12 d-flex flex-column">
            <div class="journal-title d-flex flex-nowrap justify-content-center">
              {% block header_title %}
              <h1 class="flex-grow-1" style="text-align:center">{{journal.title_tex|upper}}</h1>
              {% endblock header_title %}
            </div>
          </div>
          <div class="journal-header-extra col-2 d-none d-lg-block"></div>
        </div>
        <div class="row">
          <nav class="navbar navbar-light navbar-expand-md py-0 col-12 align-self-center">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-between" id="navbarMenu">
                <ul class="navbar-nav me-auto">
                {% include "common/menu-elements.html" with pages=pages pos="top" %}
                </ul>
                {% include "common/language-select.html" %}
              </div>
            </div>
          </nav>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="searchbar-container" class="container">
      <div id="search-bar" class="container">
        {% include "common/search/search-bar.html" %}
      </div>
    </div>
  </div>
</header>
