{% load i18n %}
{% load static %}
{% load cms_tags %}

<!-- Menu on regular screens
-->
{% block navbar %}
<nav class="d-none d-md-block menu-top">
  <ul class="nav nav-pills nav-justified align-items-center flex-nowrap">
    {% firstof logo "" as logo %}
    {% get_all_pages request 'top' as pages %}
    {% include "common/menu-elements.html" with logo=logo pages=pages pos="top" %}
    {% block language_select %}
    {% include "common/language-select.html" %}
    {% endblock language_select %}
  </ul> 
</nav>
{% endblock navbar %}


{% with hide_plus=True %}
{% block search_bar %}
  <div id='search-bar'>
    {% include "common/search/search-bar.html" with hide_plus=hide_plus%}
  </div>
{% endblock search_bar %}
{% endwith %}


