{% load i18n %}
{% load static %}
{% load cms_tags %}
{% load helpers %}

{% get_all_pages request 'top' as pages %}

<header>
  {% with journal|get_image_path:True as logo_path %}
    {% if logo_path != "" %}
      <div class="journal-logo float-start me-2">
        {% block header_logo %}
        <a href="{% url 'home' %}" ><img src="{% static logo_path %}"></a>
        {% endblock header_logo %}
      </div>
    {% endif %}
  {% endwith %}

  <div class="journal-header-content d-flex flex-column">
    <div class="journal-title d-flex flex-nowrap justify-content-center">
      {% block header_title %}
      <h1 class="flex-grow-1" style="text-align:center">{{journal.title_tex|upper}}</h1>
      {% endblock header_title %}
      <button id="navbar-collapse-button" class="btn btn-primary" type="button" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false" style="height: fit-content; align-self: center">
        <i class="fa fa-bars"></i>
      </button>
      <ul id="navbar-collapse" class="dropdown-menu">
        {% include "common/menu-elements.html" with pages=pages pos="top" %}
        {% include "common/language-select.html" with inside_dropdown=True %}
      </ul>
    </div>
    <nav class="navbar menu-top py-0 col-10 align-self-center">
      <div class="container-fluid">
        <ul class="nav">
        {% include "common/menu-elements.html" with pages=pages pos="top" %}
        </ul>
      </div>

      {% include "common/language-select.html" %}
    </nav>
    <div id="search-bar">
      {% include "common/search/search-bar.html" %}
    </div>
  </div>
</header>
