{% load mesh_tags i18n %}
{% comment %}
Custom widget to be used with our homemade FileField and MultipleFileField.
{% endcomment %}
  {% comment %} Initial data {% endcomment %}
  {% if widget.file_value %}
  <div class="form-initial-block">
    <table class="form-initial-items">
      {% if widget.multiple %}
      {% for file_wrapper in widget.file_value %}
      <tr class="form-initial-item">
        <td><a href="{{ file_wrapper.get_file_url }}" target="_blank" title="{{ file_wrapper.name }}">{{ file_wrapper.name }}</a></td>
        <td>{{ file_wrapper.date_created|date:"DATE_FORMAT" }}</td>
        {% comment %} Hide delete button if field is required and only 1 file left {% endcomment %}
        {% if deletable %}
        <td>
          <input  class="as-link delete-link"
                  type="submit"
                  name="{{ widget.delete_prefix }}_{{ file_wrapper.pk }}"
                  value="{% translate "DELETE" %}">
        </td>
        {% endif %}
      </tr>
      {% endfor %}
      {% else %}
      {% with file_wrapper=widget.file_value%}
      <tr class="form-initial-item form-initial-single-item">
        <td>Initial: <a href="{{ file_wrapper.get_file_url }}" target="_blank">{{ file_wrapper.name }}</a></td>
        <td>{{ file_wrapper.date_created|date:"DATE_FORMAT" }}</td>
        {% if deletable %}
        <td>
          <input  class="as-link delete-link"
                  type="submit"
                  name="{{ widget.delete_prefix }}"
                  value="{% translate "DELETE" %}">
        </td>
        {% endif %}
      </tr>
      {% endwith %}
      {% endif %}
    </table>
  </div>
  {% endif %}

  {% comment %} Input {% endcomment %}
  <input  class="form-input-file"
          id="{{ widget.attrs.id }}"
          type="{{ widget.type }}"
          name="{{ widget.name }}"
          data-initial="{{ widget.initial_text }}"
          {% comment %} Input is actually required only if there's no initial data. {% endcomment %}
          {% if widget.required and not widget.file_value %}required=""{% endif %}
          {% if widget.multiple %}multiple{% endif %}
          {% include "django/forms/widgets/attrs.html" %}>
  <label class="form-input-file-label" for="{{ widget.attrs.id }}">
    <i class="fa-solid fa-cloud-arrow-up" aria-hidden="true"></i>
    <span class="form-input-file-name">
      {{ widget.initial_text }}
    </span>
  </label>
  {% comment %}
  The clear button is only to clear the currently selected files.
  Already uploaded files must be deleted using the 'delete' button.
  {% endcomment %}
  <button type="button" class="button-light form-input-file-clear display-none" tabindex="0">
    <i class="fa-solid fa-xmark" aria-hidden="true"></i>
    {% translate "Clear" %}
  </button>
