{% extends "common/article/article.html" %}
{% load i18n %}
{% load static %}


{% block info-specific %}
{% endblock info-specific %}

{% block article-title-block %}
  <div class='row' >
    <div class='col-sm-8'>
      <h2 id="pcj-title-block">
        <small>Section:  <a href="/section/{{section.url}}">{{section.libelle}}</a></small>
        {% if topics %}
        <br><small>Topic:
        {% for topic in topics %}
          <a href="/topic/{{topic.libelle}}/">{{topic.libelle}}</a>{% if not forloop.last%}, {% endif %}
        {% endfor %}
        </small>
        {% endif %}
        {% with conference=article.get_conference %}
        {% if conference %}
        <br><small>Conference: {{conference}}</small>
        {% endif %}
        {% endwith %}
      </h2>
      <h2>
        {% include 'common/title/title.html' with item=article %}
      </h2>
      <p>{% include 'common/contribution/contrib.html' with item=article article_page=True %}</p>
      {% if corresponding_author %}
        <p class="text-muted">Corresponding author(s):
        {% for author in corresponding_author%}
           {{ author.display_name }} ({{author.email}}){% if not forloop.last %}; {% endif %}
        {% endfor %}
        </p>
      {% endif %}
      <p class="text-muted">
        {{ article.doi }} - {% include 'common/article/info-article.html' %}
      </p>
      {% include 'common/binary-files.html' with embargo=article.my_container.embargo binary_files=article.get_binary_files_href.self display_embargo_text=True website=article.get_collection.website doi=article.get_doi_href %}
    </div>
    <div class='col-sm-4 d-none d-sm-block'>
      <img src="{{ article.icon }}" class="img-fluid rounded-3" alt="article image">
    </div>
  </div>
{% endblock article-title-block %}

<script src="{% static 'pcj/js/pcj.js' %}">console.log('loaded')</script>
