html {
    position: relative;
    min-height: 100%;
}

/* Medium and Large Devices (Desktops) */
main {
    margin-bottom: 106px;
}

/* Small Devices (Tablets) */
@media all and (min-width: 768px) and (max-width: 992px) {
    main {
        margin-bottom: 126px;
    }
}

/* Extra Small Devices (Phones) */
@media all and (max-width: 768px) {
    main {
        margin-bottom: 165px;
    }
}

footer {
    bottom: 0;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 10px;
    position: absolute;
    width: 100%;
}
