{% load i18n %}

<div class="outline-div">
  <div id="outline-panel" class="card card-default">
    <span class="card-header card-title text-center pt-2">{% trans "Plan" %}</span>
    <div id="outline-panel-body" class="card-body p-2">
      <nav id="navbar-outline">
        <ul class="nav flex-column">
          {% include "common/outline/outline-inner.html" %}
        </ul>
      </nav>
    </div>
  </div>
</div>
