{% load i18n %}

{% with abstracts=article.get_abstracts %}
{% with abstract_count=abstracts.count %}


<li><a class="nav-link" href="#article-div">{% trans 'Titre' %}</a></li>
{% if abstract_count > 0 %}
<li><a class="nav-link" href="#abstract-html">{% trans 'Résumé' %}</a></li>
{% endif %}
<li><a class="nav-link" href="#common-tabs-html">{% trans 'Métadonnées' %}</a></li>
{% if article.body_html %}
<li class="outline-fulltext"><a class="nav-link" href="#article-body-html-title">{% trans "Texte intégral" %}</a></li>
{% endif %}
{% if article.bibitem_set and article.bibitem_set.count %}
<li><a class="nav-link" href="#references-html">{% trans "Bibliographie" %}</a></li>
{% endif %}
<li><a class="nav-link" id="citations-outline" href="#citations-html" style="display:none">{% trans "Cité par" %}</a></li>
{% if COMMENTS_VIEWS_ARTICLE_COMMENTS %}
<li><a class="nav-link" href="#article-comments-section">{% trans "Commentaires" %}</a></li>
<li><a class="submenu nav-link" href="#add-comment-default">{% trans "Publier un commentaire" %}</a></li>
{% endif %}


{% endwith %}
{% endwith %}
