{% load i18n %}

<div class="outline-sm dropdown position-sticky">
  <button type="button" class="btn border dropdown-toggle" data-bs-toggle="dropdown">{% trans "Plan" %}
  </button>
  <nav class="dropdown-menu outline-div outline-scrollspy">
    <ul class="nav flex-column">
      {% include "common/outline/outline-inner.html" %}
    </ul>
  </nav>
</div>
