@font-face {
    font-family: "Montserrat";
    src: url("/static/msia/fonts/Montserrat/Montserrat-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/static/msia/fonts/Montserrat/Montserrat-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("/static/msia/fonts/Montserrat/Montserrat-Italic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("/static/msia/fonts/Montserrat/Montserrat-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

/* Titre de Page */
html,
body {
    height: 100%;
    font-family: "Montserrat";
    font-size: 15px;
}

#content {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Page background */
.page-container {
    min-height: calc(100% - 340px); /* 100% - height(header=250) - height(footer=160) - margin(header=10) - border(footer=1) */
    height: auto !important;
    padding-top: 40px;
    padding-bottom: 80px;
}

#page-title {
}

#mersenne-header {
    color: #414143;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    /*height: 270px;*/
    /*background-image: url("/static/img/header-background.jpg");*/
    /*background-repeat: none;
    background-size: cover;*/
}

#mersenne-header .row {
    margin: 0px;
}

#mersenne-header h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.journal-logo {
    text-align: center;
    max-width: 550px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.menu-top {
    background-color: white;
    border: 0px;
    font-weight: bold;
    font-size: 20px;
}

.journal-header-content {
    width: calc(100% - 600px);
    display: inline-block;
}

.journal-simple-search {
    float: right;
    width: 300px;
    margin-top: 7px;
    padding-right: 50px;
}

.journal-simple-search .form-control {
    border: 1px solid black;
}

.journal-simple-search .btn-default {
    border-color: black;
}

.journal-menu {
    /*width: 300px;*/
    float: right;
}

/*
.navbar-default .navbar-nav > li > a {
    color: #414143;
}
*/

#mersenne-header a {
    color: #414143;
}

#mersenne-header .active .dropdown-menu a {
    color: #414143;
    background-color: white;
}

#mersenne-header a:hover,
#mersenne-header a:focus,
#mersenne-header .active a,
#mersenne-header .active a:hover,
#mersenne-header .active .menu-focus {
    color: white;
    background-color: #414143;
    border-radius: 4px;
}

#mersenne-header .journal-logo a:hover,
#mersenne-header .journal-logo a:focus,
#mersenne-header .journal-logo .active a,
#mersenne-header .journal-logo .active a:hover,
#mersenne-header .journal-logo .active .menu-focus {
    color: white;
    background-color: transparent;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#mersenne-header .journal-logo img,
#mersenne-header .journal-logo object {
    width: auto;
    height: 130px;
    padding-left: 20px;
}

#mersenne-header .journal-logo a:hover {
    background-color: transparent;
}

.dropdown-accordion {
    display: none;
    float: right;
}

.search-button-div {
    width: 100px;
    padding-right: 0px;
    padding-left: 0px;
}

.browse-or {
    text-align: center;
    margin-top: 7px;
}

#footer {
    margin-top: 0px;
    padding-top: 15px;
    position: relative;
    height: 160px;
    background-color: #222;
    color: white;
}

.logos-footer {
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 12px;
    color: white;
    text-align: left;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

#logo-left-container {
}

#logo-right-container {
}

.logo-container {
    display: inline-block;
    text-align: left;
    height: 72px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.logo-img {
    display: inline-block;
    vertical-align: top;
    height: 72px;
}

.img-footer {
    height: 70px;
}

.logo-text {
    display: inline-block;
    vertical-align: bottom;
}

.logo-text-mersenne {
    padding-bottom: 30px;
}

.logo-left {
    text-align: left;
    height: 70px;
}

.logo-right {
    text-align: left;
    height: 70px;
}

.logo-mersenne {
    height: 60px;
}

.img-footer-mathdoc {
    height: 50px;
}

.text-footer {
    height: 50px;
}

.footer-text {
    float: left;
    margin-left: 40px;
    padding-top: 15px;
    color: white;
    font-size: 12px;
    height: 50px;
}

.footer-text a {
    color: white;
}

.menu-footer {
    float: left;
    /*width: 250px;*/
    margin-left: calc(50% - 350px);
}

.menu-footer .navbar-default {
    background-color: #222;
    border: 0px;
    margin: 0 auto;
}

.menu-footer .navbar-default li > a,
.menu-footer .navbar-default li > a:hover {
    color: white;
}
/*
.menu-bottom {
    border: 0px;
    margin-left:0px;
    margin-bottom: 0px;
}


.menu-bottom .navbar-nav {
    float:left;
}

.menu-bottom .navbar-nav > li {
    float:left;
}
*/
#language_selector {
    display: inline-block;
}

#sidebar {
    width: 250px;
    /*    transition: all 0.3s;*/
    padding-top: 0px;
}

/*

.wrapper-sidebar {
    display: flex;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -250px;
}
*/

#toggle-sidebar {
    display: none;
    margin-bottom: 20px;
}

.cms-breadcrumb {
    list-style: none;
    display: inline-block;
}
.cms-breadcrumb .icon {
    font-size: 14px;
}
.cms-breadcrumb li {
    float: left;
}
.cms-breadcrumb li a {
    color: #414143;
    display: block;
    background: #cccccc;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}
.cms-breadcrumb li:nth-child(even) a {
    background-color: #cccccc;
}
.cms-breadcrumb li:nth-child(even) a:before {
    border-color: #cccccc;
    border-left-color: transparent;
}
.cms-breadcrumb li:nth-child(even) a:after {
    border-left-color: #cccccc;
}
.cms-breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.cms-breadcrumb li:first-child a:before {
    border: none;
}
.cms-breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.cms-breadcrumb li:last-child a:after {
    border: none;
}
.cms-breadcrumb li a:before,
.cms-breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #cccccc;
    border-width: 20px 10px;
    width: 0;
    height: 0;
}
.cms-breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}
.cms-breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #cccccc;
}
.cms-breadcrumb li a:hover {
    background-color: #414143; /*#ffe898;*/
    color: white;
}
.cms-breadcrumb li a:hover:before {
    border-color: #414143; /*#ffe898;*/
    border-left-color: transparent;
}
.cms-breadcrumb li a:hover:after {
    border-left-color: #414143; /* #ffe898; */
}
.cms-breadcrumb li.active a {
    background-color: #414143; /*#cccccc;*/ /*#ffe898;*/
    color: white;
}
.cms-breadcrumb li.active a:before {
    border-color: #414143; /*#cccccc;*/ /*#ffe898;*/
    border-left-color: transparent;
}
.cms-breadcrumb li.active a:after {
    border-left-color: #414143; /*#ffe898;*/
}

.cms-breadcrumb li.breadcrumb-previous a,
.cms-breadcrumb li.breadcrumb-next a {
    margin-right: 5px;
}

.cms-breadcrumb li:last-child a {
    margin-right: 5px;
}

ul.cms-breadcrumb {
    padding-left: 0px;
}

.article-breadcrumb {
    padding-left: 0px;
    padding-right: 0px;
    right: 18%;
}

.btn-tex {
    padding-right: 0px;
    text-align: right;
    max-width: 200px;
}

.site-settings {
    font-size: 30px;
}

/* default:

#mersenne-header .journal-logo: height: 190px;
#mersenne-header: height: 270px;
.page-container: min-height: calc(100% - 420px);
.journal-header-content: width: calc(100% - 600px);
*/

@media all and (max-width: 1350px) {
    .page-container .journal-logo {
        max-width: 300px;
    }

    #mersenne-header .journal-logo img,
    #mersenne-header .journal-logo object {
        height: 150px;
    }

    /*#mersenne-header {
        height: 230px;
    }*/

    .page-container {
        min-height: calc(100% - 390px);
    }

    .journal-header-content {
        width: calc(100% - 490px);
    }
}

@media all and (max-width: 1300px) {
    .page-container .journal-logo {
        max-width: 250px;
    }

    #mersenne-header .journal-logo img,
    #mersenne-header .journal-logo object {
        height: 130px;
    }

    /*#mersenne-header {
        height: 200px;
    }*/

    .page-container {
        min-height: calc(100% - 360px);
    }

    .journal-header-content {
        width: calc(100% - 470px);
    }
}

@media all and (max-width: 1200px) {
    .cms-breadcrumb {
        padding-left: 0px;
    }

    .logos-footer a {
        margin-right: 5%;
    }
}

@media all and (max-width: 1199px) {
    .browse-or {
        width: 40px;
        height: 27px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-text {
        padding-left: 50px;
    }

    .page-container .journal-logo {
        display: none;
    }

    #mersenne-header .journal-logo img,
    #mersenne-header .journal-logo object {
        height: 120px;
        padding-left: 10px;
    }

    .regular-content {
        margin-left: 8%;
    }

    .article-breadcrumb {
        right: 0px;
    }

    .btn-tex {
        margin-bottom: 10px;
        padding-left: 0px;
        text-align: left;
    }

    /* #mersenne-header {
        height: 190px;
    }*/

    .page-container {
        min-height: calc(100% - 350px);
    }

    .journal-header-content {
        width: calc(100% - 420px);
    }
}

@media all and (max-width: 1050px) {
    .footer-logo-text {
        display: none;
    }

    #mersenne-header .journal-logo img,
    #mersenne-header .journal-logo object {
        height: 100px;
    }

    /*  #mersenne-header {
        height: 170px;
    }*/

    .page-container {
        min-height: calc(100% - 330px);
    }

    .journal-header-content {
        width: calc(100% - 360px);
    }
}

@media all and (max-width: 970px) {
    #mersenne-header .journal-logo img,
    #mersenne-header .journal-logo object {
        height: 100px;
        margin-top: 10px;
    }

    /*  #mersenne-header {
        height: 150px;
    }*/

    .page-container {
        min-height: calc(100% - 310px);
    }

    .journal-header-content {
        width: calc(100% - 380px);
    }

    .journal-menu {
        margin-right: calc(45% - 150px);
    }

    .journal-simple-search {
        margin-right: calc(45% - 153px);
    }

    .journal-simple-search .input-group {
        width: 295px;
    }
}

@media all and (max-width: 900px) {
    #footer {
        height: 242px;
    }

    .page-container {
        padding-top: 20px;
    }

    .journal-title:after {
        display: block;
        clear: both;
        content: "";
    }

    .page-container h2 {
        margin-top: 10px;
    }

    .cms-page {
        padding-left: 10px;
        margin-bottom: 20px;
        text-align: justify;
    }

    .footer-text {
        padding-left: 20px;
    }

    .logo-mersenne {
        height: 50px;
    }

    .logo-footer {
        height: 35px;
    }

    .logos-footer a {
        margin-right: 10px;
    }

    #logo-right-container {
        width: 100%;
    }

    .regular-content {
        margin-left: 0px;
    }

    #mersenne-header .journal-logo img,
    #mersenne-header .journal-logo object {
        height: 90px;
        margin-top: 20px;
    }

    .journal-header-content {
        width: calc(100% - 320px);
    }

    .journal-menu .navbar-nav > li {
        float: left;
    }
}

@media all and (max-width: 768px) {
    .footer-text {
        float: right;
    }

    .menu-footer {
        float: none;
        margin-left: 0px;
    }

    #footer {
        height: 287px;
    }

    .page-container {
        min-height: calc(100% - 331px);
    }

    #sidebar {
        display: none;
        width: 100%;
    }
    #toggle-sidebar {
        display: block;
    }
    #results {
        width: 100%;
    }

    .journal-simple-search {
        margin-right: calc(45% - 135px);
    }
}

@media all and (min-width: 768px) {
    #sidebar {
        display: block;
    }
    #toggle-sidebar {
        display: none;
    }
    #results {
        width: calc(100% - 250px);
    }
}

@media all and (max-width: 700px) {
    /*#mersenne-header {
        height: 170px;
    }*/

    #footer {
        height: 422px;
    }

    .page-container {
        min-height: calc(100% - 361px);
    }

    .page-container .journal-logo {
        display: none;
    }

    .footer-text {
        float: none;
    }

    #search-bar {
        padding-top: 0px;
    }

    .browse-or {
        margin-right: 30%;
    }

    #line-container,
    .search-group {
        width: 300px;
        margin-top: 5px;
    }

    .search-button-div {
        margin-top: 10px;
    }
}

@media all and (max-width: 600px) {
    #search-button-text {
        display: none;
    }

    .search-button-div {
        width: 40px;
    }

    #mersenne-header {
        /*    height: 230px;*/
        padding-top: 10px;
    }

    .page-container {
        min-height: calc(100% - 380px);
    }

    .journal-logo {
        width: 100%;
        margin-bottom: 20px;
        float: none;
    }

    #mersenne-header .journal-logo img,
    #mersenne-header .journal-logo object {
        height: 70px;
    }

    .journal-header-content {
        width: 100%;
    }

    .journal-menu {
        float: none;
        margin-left: calc(50% - 135px);
    }

    .journal-simple-search {
        float: none;
        margin-left: calc(50% - 150px);
    }
}

@media all and (max-width: 560px) {
    #line-container,
    .search-group {
        width: 220px;
    }
}

@media all and (max-width: 500px) {
    #mersenne-header h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .logo-footer {
        margin-top: 5px;
    }
}

@media all and (max-width: 450px) {
    #footer {
        height: 422px;
    }

    .page-container {
        min-height: calc(100% - 391px);
    }

    #mersenne-header h1 {
        font-size: 14px;
    }

    .journal-header-content {
        padding-right: 0px;
    }
}

@media all and (max-width: 400px) {
    /*#mersenne-header .journal-logo {
        width: 70px;
    }

    .journal-header-content {
        width: calc(100% - 80px);
    }

    #mersenne-header .journal-logo img, #mersenne-header .journal-logo object {
        height: 60px;
    }*/

    #line-container,
    .search-group {
        width: 200px;
    }

    .searchinput {
        padding-left: 3px;
    }

    .logos-footer {
        margin-left: 5px;
        margin-right: 5px;
    }

    .logo-footer {
        height: 30px;
    }
}

.menu-top {
    /*border-top: 1px solid #414143;
    border-bottom: 1px solid #414143;
    border-radius: 0px;*/
}

/* Barre de recherche */
#search-bar {
    margin-left: 5px;
    /*background-color: lightblue;*/
}

#mersenne-header .search-button {
    background-color: #414143;
    border-color: #414143;
    color: white;
}

#line-container {
    padding-left: 0px;
}

/* Pagination resultat recherche */
.pagination > .active > a {
}
.pagination > li > a {
}

/* Container menu + page */
.content-container {
}

/* Contenu de la page */
.cms-page {
    text-align: justify;
}

/* Menu gauche */
.sidebar {
}
li.mersenne-cms-menu-lvl1 {
}
li.mersenne-cms-menu-lvl2 {
}
.nav-tabs > li.active > a:hover {
}
.nav-tabs > li.active > a {
}
.nav-tabs > li > a:hover {
}
.nav-tabs > li > a:focus {
    outline: none;
}

.page-container .row {
    margin: 0px;
}

.cms-page-content {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.volume-ligne,
.journal-content {
    margin-top: 50px;
    font-size: 20px;
}

.recent-articles {
    /*max-height: 500px;*/
    /* min-width: 380px;*/
}

.recent-articles-header {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #414143;
    text-align: center;
}

.article-short {
    font-size: 14px;
}

.article-short h2 {
    font-size: 14px;
    margin: 0px;
}

.article-tab {
    font-size: 16px;
}

.article-title a {
    color: #333;
}

.facet-header,
.facet-header-no-click {
    background-color: #414143;
    color: white;
}

.lightbox {
    height: 150px;
    border: 1px solid #c7c7c7;
}

.btn-toggle,
.btn-toggle:hover,
.btn-toggle:focus,
.btn-toggle:active {
    color: white;
    background-color: #414143;
    border-color: #414143;
}

#main-dropdown-menu {
    left: -143px;
    width: 200px;
}

.panel-heading > a {
    text-decoration: none;
    outline-style: none;
}

.panel-group {
    margin-bottom: 0px;
}

.panel-group .panel {
    border-radius: 0px;
}

.panel-title > a:hover {
    background-color: #414143;
    color: white;
    text-decoration: none;
    outline-style: none;
}

.panel-title {
    margin-top: 0px;
    line-height: 24px;
}

.panel-body a {
    line-height: 40px;
}

.articles-container {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    width: 100%;
    grid-gap: 50px 50px;
    text-align: justify;
}

.article-image-grid {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.article-icon-grid {
    width: 100%;
    max-width: 250px;
    height: auto;
    border: 0px;
    box-shadow: none;
}

.article-abstract-grid p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-height: 20px; /* fallback */
    max-height: 80px;
}

#abstract-en p,
#abstract-fr p {
    text-indent: 1.5em;
    line-height: 1.5em; /* fallback */
    text-align: justify;
    margin-top: 1.5em;
}

.article-text-grid a {
    color: black;
}

.grid-container {
    grid-template-columns: 100%;
}

@media all and (min-width: 800px) {
    .articles-container {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media all and (min-width: 1000px) {
    .grid-container {
        grid-template-columns: 50% 50%;
    }
}

@media all and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: fit-content(33%) fit-content(33%) fit-content(33%);
    }
}

.article-page-image-large {
    float: right;
    width: 450px;
    margin-right: 15px;
}

.article-page-image-small {
    display: none;
}

.article-page-content {
    float: left;
    width: calc(100% - 480px);
    margin-left: 15px;
}

@media all and (max-width: 1500px) {
    .article-page-image-large {
        display: none;
    }

    .article-page-image-small {
        display: block;
    }

    .article-page-content {
        float: none;
        width: 100%;
    }
}

/* styles for '...' */
.ellipsis-4-lines > p {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 4.8em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    /*margin-right: -1em;*/
    /*padding-right: 1em;*/
}
/* create the ... */
.ellipsis-4-lines:before {
    /* points in the end */
    content: "...";
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.ellipsis-4-lines:after {
    /* points in the end */
    content: "";
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}
