{% load static %}
{% load i18n %}
{% load cms_tags %}

<div id="footer">

  <div class="logos-footer col-xs-12">
      <span class="footer-logo-text">Web publisher :</span><a class="logo-footer" href="http://www.centre-mersenne.org"><img align="middle" class="logo-footer" src="{% static "mersenne_cms/img/logo-mersenne.png" %}"></a>
      <span class="footer-logo-text">Developed by :</span><a class="logo-footer" href="http://www.mathdoc.fr"><img align="middle" class="logo-footer" src="{% static "mersenne_cms/img/logo-mathdoc-footer.png" %}"></a>
  </div>

  <div class="col-xs-12 col-sm-5 col-md-6 col-sm-push-7 col-md-push-6">
    {% get_all_pages request 'bottom' as pages %}
    <nav class="navbar navbar-default menu-bottom">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li>
            <a href='{% url 'syndication-feed' %}' alt='syndication feed'>
              <i class="fa fa-rss" aria-hidden="true"></i> {% trans "Nous suivre" %}
            </a>
          </li>

        {% for page, sub_pages, is_active in pages %}
          {% if sub_pages %}
            <li class="dropdown {% if is_active %}active{% endif %}">
              <a href="#" class="dropdown-toggle menu-link" data-toggle="dropdown" >{{ page.menu_title }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for sub_page in sub_pages %}
                {% with sub_page.slug as slug %}
                  <li><a href="{% url 'page_detail' slug %}" class="menu-link">{{ sub_page.menu_title }}</a></li>
                {% endwith %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            {% if page.is_link %}
              {% with page.slug as slug %}
                <li {% if is_active %}class="active"{% endif %}><a href="{% url 'page_detail' slug %}" class="menu-link">{{ page.menu_title }}</a></li>
              {% endwith %}
            {% else %}
              <li><a href="#" class="menu-link">{{ page.menu_title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-xs-12 col-sm-7 col-md-6 col-sm-pull-5 col-md-pull-6 footer-text">
    ISSN : Pending
<!--    {% include "footer_issns.html" %}-->
<!--    <span>©&nbsp;2018 - {% now "Y" %}&nbsp;</span><a href="http://www.centre-mersenne.org">Centre Mersenne</a>, <a href="{% url 'home' %}">Algebraic Combinatorics</a>, and the authors-->
  </div>
</div>
