{% load i18n %}
{% load static %}
{% load cms_tags %}

{% get_all_pages request 'top' as pages %}

<div id="mersenne-header">
  <div class="row">
    <div class="journal-logo">
      <a href="{% url 'home' %}" ><img src="{% static "igt/img/IGT.png" %}"></a>
    </div>
    <div class="journal-logo-small">
      <a href="{% url 'home' %}" ><img src="{% static "igt/img/IGT_logo_small.png" %}"></a>
    </div>
    <div id="journal-title-col">
      <div id="menu-small" class="dropdown dropdown-accordion" data-accordion="#main-menu-accordion">
        <button class="btn btn-default dropdown-toggle" type="button" id="main-menu-button" data-toggle="dropdown">
          <img src='{% static "/mersenne_cms/img/main-menu.svg" %}'>
        </button>
        <ul class="dropdown-menu" id="main-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li>
            <div class="panel-group" id="main-menu-accordion">
              <div class="panel panel-default small-display">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a href="{% url 'journal-issues' COLLECTION_PID %}" class="menu-link">{% trans 'Feuilleter'|upper %}</a>
                  </h4>
                </div>
              </div>
              {% for page, sub_pages, is_active in pages %}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    {% if sub_pages %}
                      <a data-toggle="collapse" data-parent="#main-menu-accordion" href="#" data-href="#menu-{{ forloop.counter }}" >{{ page.menu_title }} <span class="caret"></span></a>
                    {% else %}
                      {% if page.is_link %}
                        {% with page.slug as slug %}
                          <a href="{% url 'page_detail' slug %}" class="menu-link">{{ page.menu_title }}</a>
                        {% endwith %}
                      {% else %}
                        <a href="#" class="menu-link">{{ page.menu_title }}</a>
                      {% endif %}
                    {% endif %}
                  </h4>
                </div>

                {% if sub_pages %}
                  <div id="menu-{{ forloop.counter }}" class="panel-collapse collapse">
                    <div class="panel-body">
                      {% for sub_page in sub_pages %}
                      {% with sub_page.slug as slug %}
                        <a href="{% url 'page_detail' slug %}" class="menu-link">{{ sub_page.menu_title }}</a>
                      {% endwith %}
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </li>
          <div id="onoffswitch-small">
            <div style="width:50px; margin-left:15px; margin-top:10px"><span style="width:50px;font-weight:bold"><a href="https://igt.centre-mersenne.org/ojs/">LOGIN</a></span></div>
            <div style="margin-top: -25px">{% include "onoffswitch.html" %}</div>
          </div>
        </ul>
      </div>
      <div id="onoffswitch-large" class="onoffswitch-group" style="float:right">
        {% include "onoffswitch.html" %}
        <div style="text-align: center; font-weight:bold; margin-top: 40px"><span><a href="https://igt.centre-mersenne.org/ojs/">LOGIN</a></span></div>
      </div>
      <div id="journal-logo-title"><a href="{% url 'home' %}" ><img src="{% static "igt/img/IGT_title_small.png" %}"></a></div>
<!--      <div class="clearfix"></div>-->
      <div id="menu-top-wrapper">
        <nav class="navbar navbar-default menu-top">
          <div>
            <ul class="nav navbar-nav">
            {% for page, sub_pages, is_active in pages %}
              {% if sub_pages %}
                <li class="dropdown {% if is_active %}active{% endif %}">
                  <a href="#" class="dropdown-toggle menu-link" data-toggle="dropdown" >{{ page.menu_title }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% for sub_page in sub_pages %}
                    {% with sub_page.slug as slug %}
                      <li><a href="{% url 'page_detail' slug %}" class="menu-link">{{ sub_page.menu_title }}</a></li>
                    {% endwith %}
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                {% if page.is_link %}
                  {% with page.slug as slug %}
                    <li {% if is_active %}class="active"{% endif %}><a href="{% url 'page_detail' slug %}" class="menu-link">{{ page.menu_title }}</a></li>
                  {% endwith %}
                {% else %}
                  <li><a href="#" class="menu-link">{{ page.menu_title }}</a></li>
                {% endif %}
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<div id="top-search">
  <div class="row" >
    <div id="article-bar" class="col-xs-12 col-md-11 col-lg-8 col-lg-offset-2 col-xxl-6 col-xxl-offset-3">
      <div id="browse-btns">
        <a href="{% url 'journal-issues' COLLECTION_PID %}" class="btn btn-default search-button">{% trans 'Feuilleter' %}</a>
      </div>
      <div id="search-bar">
        {% include "common/search-bar.html" with with_browse=False with_articles=False %}
      </div>
    </div>
  </div>
</div>
