/* T:wqitre de Page */

html,
body {
    height: 100%;
    width: 100%;
    overflow-x:hidden;
}

.full-container {
    width: 79%;
    margin-left: 341px;
}


#footer,
.push {
    height: 85px;
    color: #777;
    font-size: 12px;
}

/* Page background */
/*
.wrapper {
    min-height: 100%;
    margin-bottom : -100px;
}
*/

.page-container {
    min-height: calc(100% - 153px);
    height: auto !important;
}

a {
    color: #028567;
}

header {
    background-color: #bdd745; /* fbd9ca */
    margin-bottom: 15px;
}

.navbar-default {
    background-color: transparent;
    color: black;
    border-color: transparent;
}

header .navbar-default .navbar-nav > li > a {
  color: black;
  font-size: 16px;
  margin-top: 0px;
  height: 50px;

}
header .navbar-nav > li.active {
  padding: 0;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border: 1px solid #ccc;
   border-bottom: none;
}

header .navbar-default .navbar-nav > li > a:hover,
header .navbar-default .navbar-nav > li > a:focus {
    background-color: #914b00; /* fbab87 */
    color: white;

}

header .navbar-default .navbar-nav > .active > a,
header .navbar-default .navbar-nav > .active > a:hover,
header .navbar-default .navbar-nav > .active > a:focus {
    background-color: #914b00;
    color: white;
}
header .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #e7e7e7;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  line-height: 1em;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.metadata-left {
  margin-top: -7px;
  float: left;
  margin-left: 66px;
}
.menu-bottom {
    background-color: #f8f8f8;
}

.logo-ep {
    margin-top: 10px;
}

.logo-gdml {
    background-color: white;
    margin-right: 30px;
}

.signature > img {
    max-width: 250px;
    margin-top: 10px;
}

.navbar-header {
    min-height: 5px;
}

#content {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


#page-title {
}

.menu-top {
    background-color: #bdd745;
    border: 0px;
    font-weight: bold;
    /*margin-bottom: 0px;*/
}

@media all and (min-width: 1200px) {
    .menu-top .navbar-nav {
        margin-left: 5%;
    }
}

@media all and (min-width: 1300px) {
    .menu-top .navbar-nav {
        margin-left: 10%;
    }
}

@media all and (min-width: 1400px) {
    .menu-top .navbar-nav {
        margin-left: 20%;
    }
}

.menu-bottom {
    border: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 20px;
    color: #333;
}

.menu-bottom .navbar-nav {
    float: left;
}

.menu-bottom .navbar-nav > li {
    float: left;
}

.journal-logo {
    text-align: center;
    max-width: 400px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo-mersenne {
    height: 60px;
}

.logo-footer {
    height: 45px;
    margin-top: 20px;
}

.dropdown-accordion {
    display: none;
    float: right;
}

.search-button-div {
    width: 100px;
    padding-right: 0px;
    padding-left: 0px;
}

.browse-or {
    text-align: center;
    margin-top: 7px;
}

.footer-text {
    padding-left: 15%;
    padding-top: 15px;
    color: #777;
    font-size: 12px;
}

.footer-text a {
    color: #777;
}

.logos-footer {
    margin-bottom: 0px;
    font-size: 12px;
}

.logos-footer a {
    margin-right: 7%;
}

.logos-footer a:last-child {
    margin-right: 0px;
}

#sidebar {
    max-width: 250px;
    /*    transition: all 0.3s;*/
    padding-top: 0px;
}

.wrapper-sidebar {
    margin-bottom: 20px;
}

/*

.wrapper-sidebar {
    display: flex;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -250px;
}
*/

#toggle-sidebar {
    display: none;
    margin-bottom: 20px;
}

.cms-breadcrumb {
    list-style: none;
    display: inline-block;
}
.cms-breadcrumb .icon {
    font-size: 14px;
}
.cms-breadcrumb li {
    float: left;
}
.cms-breadcrumb li a {
    color: black;
    display: block;
    background: #9fc19f;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}
.cms-breadcrumb li:nth-child(even) a {
    background-color: #6bbfac; /*#2980b9;*/
}
.cms-breadcrumb li:nth-child(even) a:before {
    border-color: #6bbfac; /*#2980b9;*/
    border-left-color: transparent;
}
.cms-breadcrumb li:nth-child(even) a:after {
    border-left-color: #6bbfac;
}
.cms-breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.cms-breadcrumb li:first-child a:before {
    border: none;
}
.cms-breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.cms-breadcrumb li:last-child a:after {
    border: none;
}
.cms-breadcrumb li a:before,
.cms-breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #8ec99f; /*#3498db;*/
    border-width: 20px 10px;
    width: 0;
    height: 0;
}
.cms-breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}
.cms-breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #9fc19f; /*#3498db;*/
}
.cms-breadcrumb li a:hover {
    background-color: #914b00; /*#ffe898;*/
    color: white;
}
.cms-breadcrumb li a:hover:before {
    border-color: #914b00; /*#ffe898;*/
    border-left-color: transparent;
}
.cms-breadcrumb li a:hover:after {
    border-left-color: #914b00; /* #ffe898; */
}
.cms-breadcrumb li.active a {
    background-color: #914b00; /*#ffe898;*/
    color: white;
}
.cms-breadcrumb li.active a:before {
    border-color: #914b00; /*#ffe898;*/
    border-left-color: transparent;
}
.cms-breadcrumb li.active a:after {
    border-left-color: #914b00; /*#ffe898;*/
}

.cms-breadcrumb li.breadcrumb-previous a,
.cms-breadcrumb li.breadcrumb-next a {
    margin-right: 5px;
}


.mt-3 {
    margin-top: 25px;
}
ul.cms-breadcrumb {
    padding-left: 0px;
}

.article-breadcrumb {
    padding-left: 0px;
    padding-right: 0px;
    right: 18%;
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: 24px !important;
  }
}

.article-div {

    min-height: 700px;
}

.abstract-metadata, .metadata-block{
    margin-left: -6px;
}
.block-bibliographie {
    margin-top: 3px;
}
.btn-tex {
    padding-right: 0px;
    text-align: right;
    max-width: 200px;
}

.site-settings {
    font-size: 30px;
}

.search-container {
    margin-left: 9%;
    margin-right: 9%;
}


@media all and (max-width: 1400px) {
    .page-container .journal-logo {
        max-width: 300px;
    }
}

@media all and (max-width: 1300px) {
    .page-container .journal-logo {
        max-width: 200px;
    }
}

@media all and (max-width: 1199px) {
    .browse-or {
        width: 40px;
        height: 27px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-text {
        padding-left: 50px;
    }

    .page-container .journal-logo {
        display: none;
    }

    .regular-content {
        margin-left: 8%;
    }

    .article-breadcrumb {
        right: 0px;
    }

    .btn-tex {
        margin-bottom: 10px;
        padding-left: 0px;
        text-align: left;
    }
}

@media all and (max-width: 1200px) {
    .cms-breadcrumb {
        padding-left: 0px;
    }

    .logos-footer a {
        margin-right: 5%;
    }
}

@media all and (max-width: 1050px) {
    .footer-logo-text {
        display: none;
    }
}

@media all and (max-width: 900px) {
    #mersenne-header {
        height: 140px;
    }

    .page-container {
        min-height: calc(100% - 291px);
        padding-top: 20px;
    }

    #mersenne-header .journal-logo {
        width: 120px;
    }

    .journal-header-content {
        width: calc(100% - 130px);
    }

    #mersenne-header .journal-logo img {
        height: 100px;
        padding-left: 0px;
    }

    #mersenne-header h1 {
        float: left;
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 40px;
    }

    #search-group-btn {
        display: none;
    }

    #line-container,
    .search-group {
        width: 250px;
        margin-right: 10px;
        height: 34px;
    }

    .menu-top {
        display: none;
    }

    .dropdown-accordion {
        display: block;
    }

    .journal-title:after {
        display: block;
        clear: both;
        content: "";
    }

    .page-container h2 {
        margin-top: 10px;
    }

    .cms-page {
        padding-left: 10px;
        margin-bottom: 20px;
    }

    .footer-text {
        padding-left: 20px;
    }

    .logo-mersenne {
        height: 50px;
    }

    .logo-footer {
        height: 35px;
    }

    .logos-footer a {
        margin-right: 10px;
    }

    .regular-content {
        margin-left: 0px;
    }
}

.container-lg {
    margin-left: 100px;
    clear: both;
    min-height: 100vh;
}

.container-journals {
    min-height: 600px;
}

@media all and (min-width: 2000px) {
    .container-col-1 {
        height:736px;
    }
}
@media all and (min-width: 1201px) and (max-width: 2000px) {
    .container-col-1 {
        height:840px;
    }
}

@media all and (max-width: 1200px) {
    .container-col-1 {
        height:1200px;
    }
}


@media all and (max-width: 768px) {
    .page-container {
        min-height: calc(100% - 331px);
    }

    #footer {
        height: 189px;
    }

    #sidebar {
        display: none;
    }
    #toggle-sidebar {
        display: block;
    }
    #results {
        width: 100%;
    }
}

@media all and (min-width: 768px) {
    #sidebar {
        display: block;
    }
    #toggle-sidebar {
        display: none;
    }
    #results {
        width: calc(100% - 250px);
    }
}

@media all and (max-width: 700px) {
    #mersenne-header {
        height: 170px;
    }

    .page-container {
        min-height: calc(100% - 361px);
    }

    .page-container .journal-logo {
        display: none;
    }

    .browse-or {
        margin-right: 30%;
    }

    #line-container,
    .search-group {
        width: 300px;
        margin-top: 5px;
    }

    .search-button-div {
        margin-top: 10px;
    }
}

@media all and (max-width: 600px) {
    #search-button-text {
        display: none;
    }

    .search-button-div {
        width: 40px;
    }
}

@media all and (max-width: 560px) {
    #line-container,
    .search-group {
        width: 220px;
    }
}

@media all and (max-width: 500px) {
    #mersenne-header {
        height: 160px;
    }

    .page-container {
        min-height: calc(100% - 371px);
    }

    #mersenne-header .journal-logo {
        width: 90px;
    }

    .journal-header-content {
        width: calc(100% - 100px);
    }

    #mersenne-header .journal-logo img {
        height: 80px;
    }

    #mersenne-header h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .logo-footer {
        margin-top: 5px;
    }
}

@media all and (max-width: 450px) {
    #footer {
        height: 209px;
    }

    .page-container {
        min-height: calc(100% - 391px);
    }

    #mersenne-header h1 {
        font-size: 14px;
    }

    .journal-header-content {
        padding-right: 0px;
    }
}

@media all and (max-width: 400px) {
    #mersenne-header .journal-logo {
        width: 70px;
    }

    .journal-header-content {
        width: calc(100% - 80px);
    }

    #mersenne-header .journal-logo img {
        height: 60px;
    }

    #line-container,
    .search-group {
        width: 200px;
    }

    .searchinput {
        padding-left: 3px;
    }

    .logo-footer {
        height: 30px;
    }
}

.menu-top {
    border-top: 1px solid #003c57;
    border-bottom: 1px solid #003c57;
    border-radius: 0px;
}

/* Barre de recherche */
#search-bar {
    padding-top: 0px;
    margin-left: 5px;
}

#search-bar.home .form-control {
    font-size: 18px;
    line-height: 1.33;
    height: 46px;
    padding: 10px 16px;
}

#search-bar.home .btn {
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
}

#search-bar .search-button {
    background-color: #6bbfac;
    border-color: #6bbfac;
    color: black;
}

#search-bar .search-button:hover {
    background-color: #7f902e;
    border-color: #7f902e;
    color: white;
}

#search-bar.home .searchclear {
    margin-top: 5px;
}

.topsearch {
    background: white;
    margin-bottom: 40px;
    margin-top: 100px;
}

#line-container {
    padding-left: 0px;
}

/* Pagination resultat recherche */
.pagination > .active > a {
}
.pagination > li > a {
}

/* Container menu + page */
.content-container {
}

/* Contenu de la page */
.cms-page {
}

/* Menu gauche */
.sidebar {
}
li.mersenne-cms-menu-lvl1 {
}
li.mersenne-cms-menu-lvl2 {
}
.nav-tabs > li.active > a:hover {
}
.nav-tabs > li.active > a {
}
.nav-tabs > li > a:hover {
}
.nav-tabs > li > a:focus {
    outline: none;
}

.cms-page-content {
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    width: 95%;
}

.volume-ligne,
.journal-content {
    margin-top: 50px;
    font-size: 20px;
}

.recent-articles {
    min-width: 380px;
}

.recent-articles-header {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #003c57;
    text-align: center;
}

.article-short {
    font-size: 14px;
}

.article-short h2 {
    font-size: 14px;
    margin: 0px;
}

.article-tab {
    font-size: 16px;
}

.article-title a {
    color: #333;
}

.facet-header,
.facet-header-no-click {
    background-color: #bdd745;
    color: black;
}

.facet-active {
    background-color: #7f902e;
    height: 21px;
    color: white;
}

.lightbox {
    height: 150px;
    border: 1px solid #c7c7c7;
}

.btn-toggle,
.btn-toggle:hover,
.btn-toggle:focus,
.btn-toggle:active {
    color: white;
    background-color: #7f902e;
    border-color: #7f902e;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: white;
    background-color: #7f902e;
    border-color: #7f902e;
}

#main-dropdown-menu {
    left: -143px;
    width: 200px;
}

.panel-heading > a {
    text-decoration: none;
    outline-style: none;
}

.panel-group {
    margin-bottom: 0px;
}

.panel-group .panel {
    border-radius: 0px;
}

.panel-title > a:hover {
    background-color: #003c57;
    color: white;
    text-decoration: none;
    outline-style: none;
}

.panel-title {
    margin-top: 0px;
    line-height: 24px;
    margin-left: -1px;
}

.panel-body a {
    line-height: 40px;
}

.citation-document-title {
    font-weight: normal;
}

.citation-volume {
    font-weight: bold;
}

.container-flex {
    font-size: 16px;
}

.container-flex > .flex-group .flex-item {
    margin-left: 0px;
    margin-right: 20px;
}

.journal-grid {
    text-align: left;
    max-width: none;
}

.col.col-label {
    width: 200px;
}

.col.col-after-label {
    width: calc(100% - 200px);
}

.period-date {
    width: 200px;
}

.period-actions {
    width: 300px;
}

.checkbox.checkbox-switch.period-switch {
    margin-top: 6px;
}

.period-name {
    width: calc(100% - 700px);
}

.checkbox.checkbox-switch label span,
.checkbox-inline.checkbox-switch span {
    height: 20px;
}

.info-tabs {

    margin-left: 100px;
    top: -41px;
    position: relative;
}

.container-block {
  display: flex;
  margin-left: 0px;
  top: -8px !important;
  margin-bottom: -9px;
}

.badge-metadata > span {
    padding-top: 5px;
}
 .bi-dash-circle-fill::before {
      content: "\f2e5";
      cursor: pointer !important;
 }

.bi-plus-circle-fill::before {
  cursor: pointer !important;
}

header {
    height: 53px;
    border-bottom: 1px solid gray;
    background: none;
    width: 100%;
}

#search-bar .search-button {
  background-color: #6bbfac;
  color: black;

}
