{% load i18n %}
{% load static %}

{% if show_breadcrumb %}
{% if False and state_num > 1 %}
{% if LANGUAGE_CODE == "en" %}
<div id="breadcrumb" class="d-flex justify-content-center align-items-center h-100">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e4eef3">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link disabled breadcrumb-disabled english-text" aria-current="page" href="">Create Translation</a>
          <span class="breadcrumb-chevron"><i class="bi bi-arrow-right-circle-fill"></i></span>
          <a class="nav-link {% if disable_edit %}disabled breadcrumb-disabled{% endif %}{% if current_page == 'edit' %}active{% endif %}" href="{% url 'edit-article' colid doi translation_id %}">Edit Translation</a>
          <span class="breadcrumb-chevron"><i class="bi bi-arrow-right-circle-fill"></i></span>
          {% if translation_ended %}
          <a class="nav-link {% if current_page == 'posted' %}active{% endif %} english-text" href="{% url 'translation-posted' translation_id %}">End of Translation</a>
          {% else %}
          <a class="nav-link {% if current_page == 'finalize' %}active{% endif %} english-text" href="{% url 'translation-submit' translation_id %}">Finalize Translation</a>       
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</div>
{% else %}
<div id="breadcrumb" class="d-flex justify-content-center align-items-center h-100">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e4eef3">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link disabled breadcrumb-disabled" aria-current="page" href="">Création de traduction</a>
          <span class="breadcrumb-chevron"><i class="bi bi-arrow-right-circle-fill"></i></span>
          <a class="nav-link {% if disable_edit %}disabled breadcrumb-disabled{% endif %}{% if current_page == 'edit' %}active{% endif %}" href="{% url 'edit-article' colid doi translation_id %}">Modification de la traduction</a>
          <span class="breadcrumb-chevron"><i class="bi bi-arrow-right-circle-fill"></i></span>
          {% if translation_ended %}
          <a class="nav-link {% if current_page == 'posted' %}active{% endif %}" href="{% url 'translation-posted' translation_id %}">Fin de la traduction</a>
          {% else %}
          <a class="nav-link {% if current_page == 'finalize' %}active{% endif %}" href="{% url 'translation-submit' translation_id %}">Finalisation</a>          
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</div>
{% endif %}
{% endif %}

{% if LANGUAGE_CODE == "en" %}
<div id="breadcrumb" class="pb-4">
  <ul class="wizard-timeline center-align">
  <li class="{% if state_num == 1 %}active{% else %}completed{% endif%}">
    <span class="step-num">1</span>
    <label class="english-text">Create translation</label>
  </li>
  <li class="{% if state_num == 2 %}active{% elif state_num > 2 %}completed{% endif%}">
    <span class="step-num">2</span>
    <label class="english-text">Edit translation</label>
  </li>
  <li class="{% if state_num == 3 %}active{% elif state_num > 3 %}completed{% endif%}">
    <span class="step-num">3</span>
    <label class="english-text">Submit</label>
  </li>
  <li class="{% if state_num == 4 %}active{% elif state_num > 4 %}completed{% endif%}">
    <span class="step-num">4</span>
    <label class="english-text">Confirmation</label>
  </li>
</ul>
</div>
{% else %}
<div id="breadcrumb" class="pb-4">
  <ul class="wizard-timeline center-align">
  <li class="{% if state_num == 1 %}active{% else %}completed{% endif%}">
    <span class="step-num">1</span>
    <label >Créer la traduction</label>
  </li>
  <li class="{% if state_num == 2 %}active{% elif state_num > 2 %}completed{% endif%}">
    <span class="step-num">2</span>
    <label >Vérification de la traduction</label>
  </li>
  <li class="{% if state_num == 3 %}active{% elif state_num > 3 %}completed{% endif%}">
    <span class="step-num">3</span>
    <label >Soumettre</label>
  </li>
  <li class="{% if state_num == 4 %}active{% elif state_num > 4 %}completed{% endif%}">
    <span class="step-num">4</span>
    <label >Confirmation</label>
  </li>
</ul>
</div>
{% endif %}
{% endif %}
