{% extends "base_backend.html" %}
{% load static %}
{% load i18n %}

{% block title %}
Historique Geodesic
{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{{grouped_events|json_script:"grouped_events"}}

<div class="right_col" style="padding-top:80px">
  <div class="history-filters m-3">
    <div class="btn-group">
      <a href="{% url 'history' %}{{type_link}}&type=import" class="btn {% if request.GET.type == 'import' %}btn-primary{% else %}btn-outline-secondary{% endif %}">Import</a>
      <a href="{% url 'history' %}{{type_link}}&type=edit" class="btn {% if request.GET.type == 'edit' %}btn-primary{% else %}btn-outline-secondary{% endif %}">Edit</a>
      <a href="{% url 'history' %}{{type_link}}" class="btn {% if request.GET.type %}btn-outline-secondary{% else %}btn-primary{% endif %}">All</a>
    </div>
    <div class="btn-group" style="margin-left:50px">
      <div class="btn-group">
        <div class="dropdown">
          <button class="btn {% if request.GET.col %}btn-primary{% else %}btn-outline-secondary{% endif %} dropdown-toggle" type="button" data-bs-toggle="dropdown" id="dropdownMenuButton1" aria-expanded="false">{% if request.GET.col %}{{request.GET.col}}{% else %}Collections{% endif %}
          <span class="caret"></span></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for col in collections %}
              <li class="dropdown-item"><a href="{% url 'history' %}{{col_link}}&col={{col.pid}}">{{col.title_html}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <a href="{% url 'history' %}{{col_link}}" class="btn {% if request.GET.col %}btn-outline-secondary{% else %}btn-primary{% endif %}">All</a>
    </div>
    <div class="btn-group" style="margin-left:50px">
      <a href="{% url 'history' %}{{status_link}}&status=error" class="btn {% if request.GET.status == 'error' %}btn-primary{% else %}btn-outline-secondary{% endif %}">Errors</a>
      <a href="{% url 'history' %}{{status_link}}&status=success" class="btn {% if request.GET.status == 'success' %}btn-primary{% else %}btn-outline-secondary{% endif %}"> Success</a>
      <a href="{% url 'history' %}{{status_link}}" class="btn {% if request.GET.status %}btn-outline-secondary{% else %}btn-primary{% endif %}">All</a>
    </div>
    <div class="btn-group" style="margin-left:50px">
      <a href="{% url 'history' %}{{month_link}}" class="btn {% if request.GET.month %}btn-outline-secondary{% else %}btn-primary{% endif %}">Last 30 days</a>
      <a href="{% url 'history' %}{{month_link}}&month=all" class="btn {% if request.GET.month == 'all' %}btn-primary{% else %}btn-outline-secondary{% endif %}">All</a>
    </div>
    <div class="btn-group" style="margin-left:150px">
      <a href="{% url 'history-clear' %}" class="btn btn-outline-primary">Nettoyer l'historique</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-hover table-responsive caption-top align-middle">
        <thead>
        <tr>
          <th>Type</th><th>Date</th><th>Source</th><th>Collection</th><th>User</th><th>Status</th>
        </tr>
        </thead>
        <tbody>
          {% for event in events %}

            <tr>
              <td><span style="text-transform: capitalize;">{{ event.type }}</span></td>
              <td>{{ event.created_on|date:'Y-m-d H:i'}}</td>
              <td>{{ event.source }}</td>
              <td>{{ event.title }}</td>
              <td>{{ event.user.username }}</td>
              <td>
                {% if event.status == 'ERROR' or event.status == 'error' %}
                <button role="button" class="bg-warning btn" title="Show Error" onclick="displayText(this)"><i class="bi bi-fire me-1"></i>{{ event.status }}</button>
                <br><p class="d-none">{{ event.data.message }}</p>
                {% endif %}
                {% if event.status|upper == 'SUCCESS' or event.status == 'OK' %}
                  <button role="button" class="btn btn-secondary" title="success" onclick="">OK</button>
                {% endif %}
              </td>
              {% comment %}
              <td><div class="btn-group"><div><button class="btn btn-sm btn-success" title="Re-import" onclick="import_issue('{{ event.col }}','{{ event.pid }}', '{{ event.data.target }}')"><i class="bi bi-arrow-counterclockwise"></i></button></div> <button class="btn btn-sm btn-danger" title="Delete" onclick="document.location='{% url 'history-delete' event.pk %}';" type="submit"><i class="bi bi-trash-fill"></i></button></div></td>
              {% endcomment %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


</div>
<div class="modal fade" id="operation-dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Numéro importé</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Import du numéro réalisé
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% block extrajs %}
 <script type="text/javascript" src="{% static 'ptf/vendors/jquery/js/jquery-3.5.1.min.js' %}"></script>

  <script type="text/javascript">



  function format(d, index) {
  // `d` is the original data object for the row
    let button=""

    let table_child = '<div class="table-responsive-lg"><table class="table"><tbody>'
    let randint = Math.floor(Math.random() * 100000);

    let class_btn = "bg-warning"


    for(let i=0; i<=d.length -1; i++) {

        let j = i+2

        let url_import = ''
        var id_event = d[i].id

        let message=JSON.stringify(d[i].data.message)
        /**let target =JSON.stringify(d[i].data.target)
        target=target.trim()
        target=target.replace(/['"]+/g, '')
        url="/backend/restart_import_item/"+target
        if(target !== "") {
          url_import = '<a href='+url+'>Re-importer le numero</a>'
        }
        **/
        if (d[i].status.toUpperCase() == 'SUCCESS' || d[i].status.toUpperCase() == 'OK'){
          button='<button role="button" class="btn btn-secondary" title="success" onclick="">OK</button>'
          class_btn = "bg-secondary"

        }
        if (d[i].status.toUpperCase() == 'ERROR' || d[i].status.toUpperCase() == 'WARNING'){
             button='<button role="button" class="bg-warning btn" title="Show Error" data-bs-toggle="collapse" data-bs-parent="accordion-ids-'+randint+'-'+j+'" data-bs-target="#ids-collapse-'+randint+'-'+j+'" ><i class="bi bi-fire me-1"></i>Error</button>'+
                                    '<br><p class="d-none"></p>'
            class_btn = "bg-warning"

        }
        let obj = d[i].data;

          table_child+=
          '<tr class="">' +
          '<td class="col-1"></td>' +
          '<td class="col-1 center" style="width: 13%;">'  + moment(d[i].created_on).format('YYYY-MM-DD HH:mm')+'</td>' +
          '<td class="col-2 ml-2 center" style="margin-left: 3px;">'  + d[i].title+'</td>' +
          '<td class="col-2 center" style="padding-left: 0px; width:11%;">'  + d[i].user+'</td>' +
          '<td class="col-2" style="width: 22%;">'  + d[i].type_error+'<br /><span class="badge '+ class_btn + '"><h6>'+d[i].pid+'</h6></span></td>' +
          '<td class="col-4" style="margin-left: -43px;">'+
          '<div id="accordion-ids-'+randint+'-'+j+'" class="panel-body"><div class="panel panel-default">'+ '<div class="panel-body collapsed"><div>'+button+
          '</div><div>'+url_import +'</div>'+
          '<div id="ids-collapse-'+randint+'-'+j+'" class="collapse bg-secondary mt-2 card card-body" aria-expanded="false" style="color: #fff; padding:15px;">'+
          '<div>'+message+'</div></div></div></div></div>'
           +'</td>' +
          '</tr>'

    }


    table_child +='</tbody></table></div>';
    return table_child
}

   $(document).ready(function() {

      let columnNames = []
      let data = JSON.parse(document.getElementById("grouped_events").textContent);
      console.log(data);



      columnNames.push(
                {
                className: 'bi bi-plus-circle-fill',
                orderable: false,
                data: null,
                defaultContent: '',
                width: '5%'
                },
                {title: 'Type', data: 'type', width: '5%'},
                { title: 'Date', data: 'created_on', width:'10%', defaultContent: '', type:'unix', render: function(data) {
                      return moment(data).format('YYYY-MM-DD HH:mm')
                  }
                 },
                { title: 'Title', data: 'title', defaultContent: '', width:'15%', className: 'center' },

                { title: 'User', data: 'user', defaultContent: '', className:'dt-center', width: '10%'},
                { title: 'Error', data: 'type_error', defaultContent: '', width: '17%' },
                { title: 'Status', data: 'status', defaultContent: '',width: '30%',
                render: function ( data, type, row, index ) {

                  let button,restart=""
                  if(data.toUpperCase() == 'SUCCESS' || data.toUpperCase() == 'OK') {

                       button='<button role="button" class="btn btn-secondary" title="success" onclick="">OK</button>'
                    }

                  let message=JSON.stringify(row.data.message)
                  let data_err = JSON.parse(document.getElementById("grouped_events").textContent);

                  if(data.toUpperCase() == 'ERROR' || data == 'error'  || data.toUpperCase() == 'WARNING') {
                         if(message !== '""') {

                         button='<button role="button" class="bg-warning btn" title="Show Error" data-bs-toggle="collapse" data-bs-parent="accordion-ids-'+index.row+'" data-bs-target="#ids-collapse-1-'+index.row+'" ><i class="bi bi-fire me-1"></i>Error</button>'+
                                '<br><p class="d-none"></p>'
                         }

                         else {

                         button='<button role="button" class="bg-warning btn" title="Show Error"><i class="bi bi-fire me-1"></i>Error</button>'+
                                '<br><p class="d-none"></p>'
                         }
                         let id_stream = data_err[index.row]['unique_id']
                         //if(data_err[index.row]['data']['target'] !== '') {
                         //   id_stream = data_err[index.row]['data']['target']
                         //}
                         restart='<div class="badge bg-secondary ms-5"><a href="/backend/restart_import_item/'+id_stream+'" style="color: white;font-size:15px;">Relancer l\'import</a></div>'
                    }



                  return '<div id="accordion-ids-'+index.row+'" class="panel-body"><div class="panel panel-default">'+
                   '<div class="panel-body collapsed" style="margin-left: 54px;">'+button+
                   '<div id="ids-collapse-1-'+index.row+'" class="plus collapse bg-secondary mt-2 box" aria-expanded="false" style="color: #fff; padding:15px;">'+
                   message+'</div></div></div>'+restart+'</div></div>';
                  }
                },
                );


        var table = $('.with-dataTable').DataTable({
                data: data,
                ordering: true,
                select: true,
                pageLength: 50,
                columnDefs: [{ width: '5%', targets: 0 }, { width: '6%', targets: 1 }, { width: '7%', targets: 2 }, { width: '25%', targets: 3 }, { width: '17%', targets: 4 }, { width: '8%', targets: 5 },{ width: '15%', targets: 6 },{ width: '30%', targets: 3 }],
                bAutoWidth: false,
                fixedColumns: true,
                columns: columnNames,
                createdRow: function (row, data, dataIndex) {
                    // Set the data-status attribute, and add a class
                    $(row).addClass('issue-row');
                    $(row).attr('data-pid', data.pid);
                    $(row).attr('data-pid') !== "" ? $(row).addClass("child") : "";
                    $(row).attr('index', dataIndex)

                },
                select: {
                  style:  'os',
                  selector: 'td:not(:first-child)'
                },
                bDestroy: true,
                rowCallback: function( row, data ) {

                  if ( typeof(data.events) == "undefined") {
                    $('td:eq(0)', row).attr('class', '' );
                  }
                  if (typeof(data.events) !== "undefined") {
                    if(data.events.length == 0) {
                      $('td:eq(0)', row).attr('class', '' );
                    }
                  }
                },
          });
                 table.order([2, 'desc']).draw()

        let last_events_idx = []


       $('.with-dataTable tbody').on('click', 'td', function () {
          var tr = $(this).closest('tr');
          var row = table.row( tr );
          var index = row.index()
          var idx = table
                .row( this )
                      .index()
          let events = table.row(row).data()
          if (typeof(events) !== "undefined") {
             events = events.events
            var size_events = events.length
          }

          var currentPage = table.page();


          let rowCount = table.data().length-1
          let show = false
          console.log("class");
          console.log($(this).attr('class') == "  bi bi-plus-circle-fill")
          let open = false
          console.log(open)
          if($(this).attr('class') == "bi bi-plus-circle-fill" || $(this).attr('class') ==  "bi bi-plus-circle-fill sorting_1" || $(this).attr("class") == "  bi bi-plus-circle-fill") {
            console.log('show')
             $(this).attr('class', 'bi bi-dash-circle-fill');
             show = true
             open = true
          }

          if($(this).attr('class') == "bi bi-dash-circle-fill" && show==false || $(this).attr('class') == "bi bi-dash-circle-fill sorting_1" ) {
            console.log('close')
            $(this).attr('class', 'bi bi-plus-circle-fill');
            show = false
          }

          if(typeof(events) != "undefined") {
           if(show) {
            console.log(idx)
            row.child( format(events, index) ).show();

            show = true
              //go to index plus a row

              //refresh page
              table.page(currentPage).draw(false);


          }

          else {
            row.child.hide();
            //show = false
            table.page(currentPage).draw(false);

          }
        }

      });


   });


<!--     function import_issue(colid, pid, issue, url_import) {-->
<!--      var data = JSON.stringify({ colid: colid, pid: pid, issue_url: issue});-->
<!--      $.ajax({-->
<!-- SET URL HERE         url: '',-->
<!--          xhrFields: {-->
<!--             withCredentials: true-->
<!--          },-->
<!--          method: "POST",-->
<!--          headers: {-->
<!--              'X-CSRFTOKEN': '{{ csrf_token }}' ,-->
<!--              'Content-Type': 'application/json'-->
<!--          },-->
<!--          data: data,-->
<!--          contentType: 'application/json; charset=utf-8',-->
<!--          success: function (result) {-->
<!--             console.log("success");-->
<!--             if(result.status == "202") {-->
<!--                  //start modal-->
<!--                  var modal = new bootstrap.Modal(document.getElementById('operation-dialog'), {-->
<!--                      keyboard: false-->
<!--                  })-->

<!--                  modal.show()-->
<!--             }-->
<!--             last_task=result;-->
<!--             console.log(result);-->
<!--          }-->
<!--      })-->
<!--    }-->

     function displayText(index) {
      console.log(index)
      table=$('.with-dataTable').DataTable()
      let row = table.row(index)
       error = row.data().data;
       data_r = row.data()
       data_r.status =  JSON.stringify(error.message) // message à parser
       console.log(data_r)
       table.row(index).data(data_r);

       /**button.parentElement.children[2].classList.remove("d-none");
       button.removeAttribute("onclick")
       button.setAttribute("onclick", "hideText(this)");**/
     }

  function hideText(button) {
     button.parentElement.children[2].classList.add("d-none");
     button.removeAttribute("onclick")
     button.setAttribute("onclick", "displayText(this)");
  }
   </script>
{% endblock extrajs %}


  <style>
    html,body{
        overflow-x:hidden;
     }
    .btn-accordion>i{
      font-size: 27px;
    }
    .btn-accordion{
      cursor: pointer;
    }
    .badge.bg-warning {
      border: none;
    }
    .badge.bg-warning:hover {
      border: none;
      background: #e37a2d !important;
    }

    .box {
      color: rgb(255, 255, 255);
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: auto;
    }
    .section-text {
      flex: 1;
      padding-right: 20px;
      max-width: 734px;
      overflow-y: scroll;
      width: 470px;
      overflow: hidden;
      float: left;
      overflow-wrap: break-word;
      text-align: justify;
      height: auto;
    }

    td {
       vertical-align: top;
    }

    td.details-control {

    }

    .panel, .panel-body {

      border: none;

    }
    .center {
      text-align: center;
    }

    .collapse {
      min-height: auto;
      background: none;
    }

    tr.child {
      background-color: #f4f4f4 !important;
    }
    .panel {
      background: none !important;
    }

    th.bi-plus-circle-fill::before {
      content:'' !important;
    }

    .type_col {
      min-width: 106px;
    }

    .date-center {
      text-align: center;
      padding-left: 33px;
    }

  </style>
{% endblock content %}
