{% extends "common/footer/footer-logos.html" %}

{% load static %}
{% load i18n %}

{% block extra_logo %}

{% with logo_text="Publié par" logo1="cml/img/logo-icj.png" logo2="cml/img/logo-umpa.png" logo_link1="http://math.univ-lyon1.fr/" logo_link2="http://www.umpa.ens-lyon.fr/" %}
  <div class="logo-footer-div d-flex mx-auto flex-nowrap gap-2 align-items-center {{extra_class}}">
    <span class="footer-logo-text text-nowrap">{% trans logo_text %}</span>
    <div class="d-flex flex-nowrap gap-1">
      <a class="logo-footer" href="{{logo_link1}}"><img class="logo-footer" src="{% static logo1 %}"></a>
      <a class="logo-footer" href="{{logo_link2}}"><img class="logo-footer" src="{% static logo2 %}"></a>
    </div>
  </div>
{% endwith %}

{% endblock extra_logo %}
