{% load static %}
{% load i18n %}
{% load cms_tags %}
{% load comments_journal_tags %}


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Comments{% endblock title %}</title>
  <link rel="stylesheet" href="{% static "comments_views/core/vendors/font-awesome_6.3.0/css/fontawesome.min.css" %}" />
  <link rel="stylesheet" href="{% static "comments_views/core/vendors/font-awesome_6.3.0/css/solid.min.css" %}" />
  <link rel="stylesheet" href="{% static "comments_views/core/css/dashboard/dashboard_comments.css" %}">
  <link rel="stylesheet" href="{% static "comments_views/core/css/dashboard/page_content_comments.css" %}">
  <link rel="stylesheet" href="{% static "ptf/css/custom-alerts.css" %}">
  <link rel="stylesheet" href="{% static "ptf/css/custom-dropdown.css" %}">

  <link rel="shortcut icon" type="images/x-icon" href="{{ fav_icon_url }}" />
</head>


<body>
  {% include "common/common-message-snack-bar.html"%}

  <header>
    <div id="header-content" class="container-width">
      <div id="page-title">
          {% block page_title %}
          <a href="{% url "comment_list" %}">Comments dashboard</a>
          {% endblock page_title%}
      </div>
      <div id="comment-menu-dropdown" class="custom-dropdown">
        <div id="comment-menu" class="custom-dropdown-toggle">
          <i class="fa-solid fa-bars"></i>
          <span>Menu</span>
        </div>
        <div class="custom-dropdown-content" aria-labelledby="comment-menu">
            <div>Logged in as: <strong>{{ user.username }}</strong> </div>
            <div><a href="{% login_server_url request %}" target="_blank">Manage personal data</a></div>
            <div><a href="/">Back to site</a></div>
            <div><form method="POST" action="{% url 'remote_logout' %}">{% csrf_token %}<button type="sumbit">Log Out</button></form></div>
        </div>
    </div>
  </header>
  <main>
    <div id="comment-dashboard-content-wrapper" class="container-width">
      {% block comment_content %}
      {% endblock comment_content %}
    </div>
  </main>
  <footer>
    <div id="footer-content" class="container-width">
      {% comment %} FOOTER {% endcomment %}
    </div>
  </footer>

  <script src="{% static "ptf/js/mathjax-config.js" %}" defer></script>
  <script src="{% static "comments_views/core/js/dashboard_comments.js"%}"></script>
  <script type="text/javascript" id="MathJax-script" defer
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
  <script src="{% static "ptf/js/custom-alerts.js" %}"></script>
  <script src="{% static "ptf/js/custom-dropdown.js" %}"></script>
</body>
