{% load i18n %}
{% load helpers %}
{% load static %}

{% if SHOW_BODY or collection.pid == 'PCJ' and body_html %}
<div class="row">
  <div class="col-12">

    {% comment %}
    <div class="panel-heading">
      <div class="accordion-toggle" data-bs-toggle="collapse" data-bs-target="#references-html">
        <span class="panel-title">{% trans "Bibliographie" %}</span>
      </div>
    </div>

    <div class="panel-heading" style="display: none" id="citations-html">
      <div class="accordion-toggle" data-bs-toggle="collapse" data-bs-target="#citations-html">
        <span class="panel-title">{% trans "Citations" %}</span>
      </div>
    </div>
    {% endcomment %}

    {% if resource.bibitem_set and resource.bibitem_set.count %}
    <div id="references-html">
      <p class="panel-title show-body-panel-title" data-bs-toggle="collapse" data-bs-target="#referencesCollapse" aria-expanded="true" aria-controls="referencesCollapse" style="cursor: pointer;">
        {% trans "Bibliographie" %}
        <span class="collapse-icon">
          <i class="fa fa-chevron-up"></i>
          <i class="fa fa-chevron-down"></i>
        </span>
      </p>

      <div id="referencesCollapse" class="collapse show collapse-body" style="margin:11px 10px;">
        {% include 'common/bibliographie-content.html' %}
      </div>

      <hr class="panel-title-separator">
    </div>
    {% endif %}

    {% if resource.doi %}
    <div id="citations-html" style="display: none">
      <p class="panel-title show-body-panel-title" data-bs-toggle="collapse" data-bs-target="#citationsCollapse" aria-controls="citationsCollapse">
        <span class="collapse-icon"><i class="fa fa-chevron-up"></i></span>
        {% trans "Cité par" %}
      </p>
      <div id="citationsCollapse" class="collapse in collapse-body">
        <div id="citations-div" data-url="{% url 'api_citedby' resource.doi %}" style="margin:11px 10px;"></div>
        <p><em>{% trans "Cité par" %} <span id="citations-number"></span> {% trans "Sources :" %} <span id="citations-sources"></span></em></p>
      </div>
      <hr class="panel-title-separator">
    </div>
    {% endif %}
  </div>
</div>
{% else %}
<div>
  <div class="col-12">
    <div style="margin-top:30px;margin-bottom:10px">

      <ul class="nav nav-tabs article-tab" {% if not resource.bibitem_set.count %}style="display:none"{% endif %}>
        <li class="nav-item" id="main-citations-li" {% if not resource.bibitem_set.count %}style="display:none"{% endif %}>
          <a class="nav-link {% if resource.bibitem_set.count %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#references-tab" href="#references-tab">{% trans "Bibliographie" %}</a>
        </li>
        <li class="nav-item" id="citations-html" style="display:none">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#citations-tab" href="#citations-tab">{% trans "Cité par" %}</a>
        </li>
      </ul>

      <div class="tab-content" style="margin-top:10px">
        {% if resource.bibitem_set and resource.bibitem_set.count %}
        <div id="references-tab" class="tab-pane fade show active">
          <div style="margin-top:11px;margin-bottom: 0px">
            {% include 'common/bibliographie-content.html' %}
          </div>
        </div>
        {% endif %}

        {% if resource.doi %}
        <div id="citations-tab" class="tab-pane fade show">
          <div id="citations-div" data-url="{% url 'api_citedby' resource.doi %}" style="margin-top:11px;margin-bottom: 11px"></div>
          <p><em>{% trans "Cité par" %} <span id="citations-number"></span> {% trans "Sources :" %} <span id="citations-sources"></span></em></p>
        </div>
        {% endif %}
      </div>

    </div>
  </div>
</div>

{% endif %}
