{% load i18n %}
<div class="breadcrumb-row d-flex flex-column flex-xl-row gap-2">
  {% if article and btn_show_tex %}
    <div class="col-md-12 col-xl-3 btn-tex order-xl-2">
      {% include "common/tex.html" %}
    </div>
    <div class="col-12 col-xl-9 article-breadcrumb px-0">
  {% else %}
    <div class="col-12">
  {% endif %}
    {# Base breadcrumb for large screen #}
    <div class="breadcrumb-lg flex-wrap" style="font-size: 14px">
      {% if breadcrumb.previousItem %}
        <div style="float: left;">
          <ul class="cms-breadcrumb d-flex m-0 mb-1">
            <li class="breadcrumb-previous">
              <a href="{{ breadcrumb.previousItem.url }}">{{breadcrumb.previousItem.title}}</a>
            </li>
          </ul>
        </div>
      {% endif %}
      <div class="order-2 order-md-1 col-12 col-md-auto" style="float: left;">
        <ul class="cms-breadcrumb d-flex flex-nowrap mb-3">
          {% for item in breadcrumb.items %}
            {% comment %}
              in ptf-tools, we prefer returning to collection-detail view instead of journal
            {% endcomment %}
            {% if admin_mode and forloop.first %}
              <li>
                <a href="{% url "collection-detail" pid=article.my_container.my_collection.pid %}">{{ item.title|safe }}</a>
              </li>
            {% else %}
              <li class="{% if forloop.last %}active{% endif %}">
                <a href="{{ item.url }}">{{ item.title|safe }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% if breadcrumb.nextItem %}
        <div class="order-1 order-md-2" style="float: left;">
          <ul class="cms-breadcrumb d-flex mb-1">
            <li class="breadcrumb-next">
              <a href="{{ breadcrumb.nextItem.url }}">{{ breadcrumb.nextItem.title}}</a>
            </li>
          </ul>
        </div>
      {% endif %}
    </div>
    {# Alternative breadcrumb for small screen #}
    <div class="breadcrumb-sm">
      {% if breadcrumb.previousItem %}
        <a href="{{ breadcrumb.previousItem.url }}" class="btn btn-light border"><i class="fa fa-chevron-left"></i></a>
      {% endif %}

      {% if breadcrumb.items|length > 3 %}
        {% for item in breadcrumb.items reversed %}
          {% if forloop.counter0 == 1 %}
            <a href="{{ item.url }}" class="btn btn-light border">{{ item.title|safe }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if breadcrumb.nextItem %}
        <a href="{{ breadcrumb.nextItem.url }}" class="btn btn-light border"><i class="fa fa-chevron-right"></i></a>
      {% endif %}
    </div>
    <div class="clearfix">
    </div>
  </div>
</div>

