{% load i18n %}
{% load helpers %}
<div>
  <div class="row">
    {% if container.my_publisher.pub_key == 'societe-mathematique-de-france' or container.my_publisher.pub_key == 'cedram' or container.my_publisher.pub_key == 'centre-mersenne'%}
      <div class="float-minus-100" style="padding-left:12px">
    {% else %}
      <div class="col-12">
    {% endif %}
      {% block specific %}
        <div style="font-size:18px;margin-bottom:10px">
          {% include 'common/title/title.html' with item=container %}
        </div>
        <div style="margin-bottom:5px; font-size: 16px">
          {% include 'common/contribution/contrib.html' with item=container %}
        </div>
      {% endblock %}
      {% include 'common/book/info-book.html' with book=container collection=container.my_collection vseries=container.vseries volume=container.volume number=container.number %}
      {% for item in container.collectionmembership_set.all %}
        <br/>
        {% include 'common/book/info-book.html' with book=container collection=item.collection vseries=item.vseries volume=item.volume number=item.number %}
      {% endfor %}

      <div style="margin-top:20px;margin-bottom:20px">
        {% include 'common/binary-files.html' with embargo=container.embargo binary_files=container.get_binary_files_href.self display_embargo_text=True website=container.get_collection.website doi=container.get_doi_href %}
      </div>
    </div>

    {% if container.my_publisher.pub_key == 'societe-mathematique-de-france' %}
        {% include "common/smf.html" %}
    {% elif container.my_publisher.pub_key == 'cedram' or container.my_publisher.pub_key == 'centre-mersenne' %}
      <div style="float:left;margin-top:20px;width:98px;padding-right:10px;padding-left:15px;">
        <a href="https://www.centre-mersenne.org"><img src="/static/img/logo-mersenne.png" width="80px"></a>
      </div>
    {% endif %}

  </div>

  {% include 'common/relations.html' with article=container %}
  {% include 'common/abstract/abstract.html' with resource=container position='abstract' %}
  {% include 'common/article/tabs.html' with resource=container %}

  {% if container.frontmatter.foreword_html or container.frontmatter.value_html %}
  <div class="row" style="margin-top:10px">
    <div class="col-12 container-frontmatter">
    {% if container.frontmatter.foreword_html %}
      <h3>{%  trans 'Avant-propos' %}</h3>
      {{container.frontmatter.foreword_html|safe}}
    {% endif %}
    {% if container.frontmatter.value_html %}
      <h3>{%  trans 'Sommaire' %}</h3>
      {{container.frontmatter.value_html|safe}}
      <br/>
    {% endif %}
    </div>
  </div>
  {% endif %}

    {% if book_parts %}
    <div class="row mt-4">
    <div class="col-12">
    <h3>{%  trans 'Sommaire' %}</h3>
      {% for book_part in book_parts %}
        <div class="row" style="margin-bottom:10px;">
          <div class="col-1" style="width:90px;padding-right:0px;margin-top:5px">
            {% include 'common/binary-files.html' with binary_files=book_part.get_binary_files_href.self %}
          </div>
          <div class="col-11" style="line-height: 28px;max-width:calc(100% - 90px)">
            <a href="{% url 'book-part' book_part.pid %}">
              {% include 'common/title/title.html' with item=book_part %}
            </a>
            {%  if book.ctype != 'book-monograph' %}
                {% include 'common/contribution/contributions.html' with item=book_part role="author" contributions=book_part.contributions.all %}
            {% endif %}
            {{ book_part.get_page_text }}
          </div>
        </div>
      {% endfor %}
      <br/>
    </div>
    </div>
  {% endif %}

  {% if container.bibitem_set and container.bibitem_set.count %}
    {% include 'common/bibliographie.html' with resource=container %}
  {% endif %}
  
  {% comment %} {% if len(container.abstract_set.all) > 2 %}
    {% include 'common/abstract/abstract.html' with resource=container position='footnote' %}
  {% endif %} {% endcomment %}


</div>
