{% load partition %}
<div class="index-annees">
<table>
{% for row in years|rows:"4" %}
<tr>
{% for y in row %}
<td><a href='{% url "series-books" series.sid %}?year={{ y.0 }}'>{{ y.0 }}</a> ({{ y.1 }})
</td>
{% endfor %}
</tr>
{% endfor %}
</table>
</div>
