{% load i18n %}
{% load cms_tags %}
{% load helpers %}

{% get_language_info_list for LANGUAGES as languages %}
{% if languages|length > 1 %}
  {% if inside_collapse %}
  <hr class="bg-light mx-3">
  {% endif %}
  {% if inside_dropdown %}
  <li><hr class="dropdown-divider"></li>
  <li class="py-2 px-3">
  {% endif %}
    <form class="navbar-form navbar-right position-relative {% if inside_collapse %}align-self-end me-3{% endif %}" action="{% url 'set_language' %}" {% if inside_collapse %}style="max-width: fit-content;"{% endif %} method="post">{% csrf_token %}
      <button class="language-select-button btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="flag-icon {% get_flag_icon LANGUAGE_CODE %}"></span>
      </button>
      <input type="hidden" name="language" value="{{LANGUAGE_CODE}}">
      <ul class="dropdown-menu custom-select position-absolute {% if inside_collapse %}start-0 end-0{% endif %}" style="min-width: auto; max-width: fit-content; text-align: center;">
        {% for language in languages %}
        <li><a class="dropdown-item" href="#" value="{{language.code}}" action="submit"><span class="flag-icon {% get_flag_icon language.code %}"></span></a></li>
        {% endfor %}
      </ul>      
    </form>
  {% if inside_dropdown %}
  </li>
  {% endif %}
{% endif %}