{% load i18n %}

{% block menu %}
{% for page, sub_pages, is_active in pages %}
  {% if forloop.counter == 3 and logo %}
  <li role="presentation">
    <a class="menu-link nav-link" href="/">
      <img id="logo" class="logo" alt="Logo" src="{{ logo }}">
    </a>
  </li>
  {% endif %}
  {% if sub_pages %}
  <li class="{% if is_active %}active{% endif %} position-relative {% if page.position == "bottom" %}dropup{% endif %}">
    <a href="#" class="dropdown-toggle menu-link nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{ page.menu_title }}
    </a>
    <ul class="dropdown-menu">
      {% for sub_page in sub_pages %}
      {% with sub_page.slug as slug %}
          <li><a href="{% url 'page_detail' slug %}" class="dropdown-item menu-link">{{ sub_page.menu_title }}</a></li>
      {% endwith %}
      {% endfor %}
    </ul>
  </li>
  {% else %}
    {% if page.is_link %}
      {% with page.slug as slug %}
        <li {% if is_active %}class="active"{% endif %}><a href="{% url 'page_detail' slug %}" class="menu-link nav-link {% if page.position == "bottom" %}p-0{% endif %}">{{ page.menu_title }}</a></li>
      {% endwith %}
    {% else %}
      <li><a href="#" class="menu-link nav-link">{{ page.menu_title }}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
{% endblock menu %}