{% load i18n %}

<div class='d-flex flex-nowrap flex-column flex-sm-row justify-content-between mb-2'>
  <div class='mb-3'>
    <nav aria-label="Items navigation">
      <ul class="pagination">
        {% if breadcrumb.previousItem %}
          <li class="page-item"><a class="page-link" href="{{ breadcrumb.previousItem.url }}"><span aria-hidden="true">&laquo;</span></a></li>
        {% else %}
          <li class='disabled page-item'><a class="page-link"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}
        <li class="page-item d-flex">
          {% for item in breadcrumb.items %}
            <a href="{{ item.url }}" class="page-link text-nowrap {% if forloop.first or forloop.last %}d-none d-sm-block{% endif %}">{{ item.title|safe }}</a>
          {% endfor %}
        </li>
        {% if breadcrumb.nextItem %}
          <li class="page-item"><a class="page-link" href="{{ breadcrumb.nextItem.url }}"><span aria-hidden="true">&raquo;</span></a></li>
        {% else %}
          <li class='disabled page-item'><a class="page-link"><span aria-hidden="true">&raquo;</span></a></li>
        {% endif %}
      </ul>
    </nav>
  </div>

  {% block tex_switch %}
  <div>
    {% if article and btn_show_tex %}
      <div class="show-tex">
        {% include "common/tex.html" %}
      </div>
    {% endif %}
  </div>
  {% endblock tex_switch %}
</div>
