{% load helpers %}
{% if page_obj and page_obj.paginator.num_pages > 1 %}
  <nav aria-label="Page navigation">
    <ul class="pagination pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{{ page_path }}{{ query|build_Url_paginate:page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li  class="page-item disabled">
          <span class="page-link">&laquo;</span>
        </li>
      {% endif %}

      {% for page_index in paginator.page_range %}
        <li class="page-item {% if page_index is page_obj.number %}active{% endif %}">
          {% if page_index is page_obj.number %}
            <span class="page-link">{{ page_index }}</span>
          {% else %}
            <a class="page-link" href="{{ page_path }}{{ query|build_Url_paginate:page_index }}">{{ page_index }}</a>
          {% endif %}
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="{{ page_path }}{{ query|build_Url_paginate:page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span>
            <span class="page-link" aria-hidden="true">&raquo;</span>
          </span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
