{% load i18n %}
<h3>
  {% trans 'Liste des citations dans Numdam pour' %} : <a href="{% url 'item_id' resource.pid %}">{% include 'common/title/title.html' with item=resource %}</a>
</h3>
{% if resource.classname == 'Article' %}
  {% include 'common/article/info-article.html' with article=resource%}
{% elif resource.classname == 'Container' %}
  {% include 'common/book/info-book.html' with book=resource collection=resource.my_collection volume=resource.volume number=resource.number %}
{% endif %}
<br>
<hr>

{% for item in citing %}
  <div class="row" style="margin-bottom:10px;">
    <div class="col-12">
      <p style="margin:0">{% include 'common/contribution/contrib.html' %}</p>
      {% include 'common/title/title-with-pdf.html' with embargo=item.my_container.embargo source=resource.pid binary_files=item.get_binary_files_href.self %}
      <div style="margin-bottom:10px">
        {% if item.classname == 'Article' %}
          {% include 'common/article/info-article.html' with article=item%}
        {% elif item.classname == 'Container' %}
          {% include 'common/book/info-book.html' with book=item collection=item.my_collection volume=item.volume number=item.number %}
        {% endif %}
      </div>
    </div>
  </div>
  {% if not forloop.last %}
    <hr style="margin-top:15px;margin-bottom:15px"></hr>
  {% endif %}
{% endfor %}
