{% load i18n %}
{% load helpers %}
{% if numpages != 1 %}
    <ul class="pagination pagination-sm d-flex flex-wrap">
    {% for pn in pagerange %}
      {% if forloop.first %}
        {% if curpage == 1 %}
          <li class="page-item disabled" style="cursor: not-allowed;">
            <a class="page-link disabled"><span class="fa fa-chevron-left"></span></a>
          </li>
        {% else %}
          <li class="page-item">
          {% with curpage|add:"-1" as previouspage %}
            <a class="page-link" href="?{{ query|cleanURL_params_paginate:previouspage }}"><span class="fa fa-chevron-left"></span></a>
          {% endwith %}
          </li>
        {% endif %}
      {% endif %}
      {% if forloop.first %}
        {% if pn > 1 %}
          <li class="page-item">
            <a class="page-link" href="?{{ query|cleanURL_params_paginate:"1" }}">1</a>
          </li>
          {% if previous_slice != 1 %}
            <li class="page-item">
              <a class="page-link" href="?{{ query|cleanURL_params_paginate:previous_slice }}">...</a>
            </li>
          {% endif %}
        {% endif %}
      {% endif %}
      {% if pn == curpage %}
        <li class="page-item active"><a class="page-link" href="#">{{ pn }}</a></li> {% else %}
        <li class="page-item"><a class="page-link" href="?{{ query|cleanURL_params_paginate:pn }}">{{ pn }}</a></li>
      {% endif %}
      {% if forloop.last %}
        {% if numpages > pn %}
          {% if next_slice != pn %}
            <li class="page-item">
               <a class="page-link" href="?{{ query|cleanURL_params_paginate:next_slice }}">...</a>
            </li>
          {% endif %}
          <li class="page-item">
            <a class="page-link" href="?{{ query|cleanURL_params_paginate:numpages }}">{{ numpages }}</a>
          </li>
        {% endif %}
      {% endif %}
      {% if forloop.last %}
        {% if numpages == curpage %}
        <li class="page-item disabled" style="cursor: not-allowed;">
          <a class="page-link disabled"><span class="fa fa-chevron-right"></span></a>
        </li>
        {% else %}
          <li class="page-item">
          {% with curpage|add:"1" as nextpage %}
            <a class="page-link" href="?{{ query|cleanURL_params_paginate:nextpage }}" ><span class="fa fa-chevron-right"></span></a>
          {% endwith %}
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
