<div style="float:left;margin-top:20px;width:98px;padding-right:10px;padding-left:15px;">
  <a href="https://smf.emath.fr"><img src="/static/mersenne_cms/img/logo-societe-mathematique-de-france.jpg" width="80px"></a>
</div>
