{% load i18n %}
<h2>
  {% trans 'Flux RSS' %}
</h2>
<p>
  {% trans "Copiez le lien suivant dans votre lecteur de flux RSS préféré : " %}<br>
  <div class="upper-right">
    <pre class="upper-right-content" id="syndication-feed-url">{{request.scheme}}://{{ request.get_host }}{% url 'latest-articles-feed' name=request.site.name %}</pre>
    <button class="copy-button btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#syndication-feed-url" aria-hidden="true" title="{% trans "Copier dans le presse-papier" %}">
      <i class="fa fa-clipboard"></i>
    </button>
  </div>
</p>
