:root {
    --icon: "\f105";

    --first-color: #6ABFAC;  /* turquoise */
    --second-color: #826ABF;  /* violet */
    --third-color: #c45f5d; /* #BF6A7D;  bordeaux */
    --fourth-color: #A7BF6A;  /* vert */
    --light-gray: #ced4da;
    --dark-gray: #9d9d9d;
    --breadcrumb-color: var(--dark-gray);

    --header-bg-color: black;
    --header-padding: 8px;
    --header-nav-border: 0;

    --header-nav-link-color: white;
    --header-nav-link-bg-color: var(--first-color);
    --header-nav-link-hover-color: white;
    --header-nav-link-hover-bg-color: var(--third-color);
    --header-active-nav-link-color: white;
    --header-active-nav-link-bg-color: var(--third-color);

    --navbar-collapse-link-color: #9d9d9d;
    --navbar-collapse-link-bg-color: transparent;
    --navbar-collapse-link-hover-color: white;
    --navbar-collapse-link-hover-bg-color: transparent;
    --navbar-collapse-link-active-color: white;
    --navbar-collapse-link-active-bg-color: black;
    --navbar-collapse-dropdown-bg-color: transparent;
    --navbar-collapse-dropdown-item-color: #9d9d9d;
    --navbar-collapse-dropdown-item-bg-color: transparent;
    --navbar-collapse-dropdown-item-hover-color: white;
    --navbar-collapse-dropdown-item-hover-bg-color: transparent;

    --link-color: var(--first-color);
    --link-hover-color: var(--third-color);
    --link-hover-decoration: none;

    --btn-primary-color: var(--first-color);
    --btn-primary-bg-color: transparent;
    --btn-primary-border-color: transparent;
    --btn-primary-hover-color: white;
    --btn-primary-hover-bg-color: var(--third-color);
    --btn-primary-hover-border-color: transparent;

    --btn-light-color: black;
    /*--btn-light-bg-color: #f8f9fa;*/
    --btn-light-bg-color: var(--light-gray);
    --btn-light-border-color: var(--light-gray);
    --btn-light-hover-color: white;
    /*--btn-light-hover-bg-color: #ced4da;*/
    --btn-light-hover-bg-color: var(--third-color);
    --btn-light-hover-border-color: var(--third-color);

    --facet-header-bg-color: var(--second-color);
    --facet-header-color: white;

    --pagination-link-color: var(--first-color);
    --pagination-link-bg-color: white;
    --pagination-link-decoration: none;
    --pagination-link-border-color: var(--dark-gray);

    --pagination-link-active-color: white;
    --pagination-link-active-bg-color: var(--third-color);
    --pagination-link-active-border-color: var(--dark-gray);
    --pagination-link-hover-color: white;
    --pagination-link-hover-bg-color: var(--third-color);
    --pagination-link-hover-decoration: none;
}

@media all and (max-width: 991.8px) {
    .menu-top {
        display: block;
    }
}

header.homepage {
    background-color: white;
}

header.page {
    height: 150px;
    margin-bottom: 50px;
}

.navbar-dark .navbar-nav .nav-item,
.navhome-light .navbar-nav .nav-item {
    background-color: var(--header-nav-link-bg-color);
    border: 4px solid var(--header-nav-link-bg-color);
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

@media all and (min-width: 1200px) {
    .navbar-dark .navbar-nav .nav-item,
    .navhome-light .navbar-nav .nav-item {
        font-size: 18px;
    }
}

.navbar-dark .navbar-nav .nav-item.active {
    border: 4px solid var(--light-gray);/
}

.navbar-dark .navbar-nav .nav-link,
.navhome-light .navbar-nav .nav-link {
    color: var(--header-nav-link-color);
    padding-top: 4px;
    padding-bottom: 4px;
}

.navbar-dark .navbar-nav .nav-item:hover,
.navhome-light .navbar-nav .nav-item:hover {
    background-color: var(--header-nav-link-hover-bg-color);
    border: 4px solid var(--header-nav-link-hover-bg-color);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navhome-light .navbar-nav .nav-link:hover {
    color: var(--header-nav-link-hover-color);
}

.nav-tabs .nav-link {
    color: var(--first-color);
}

#id-nav-item-source {
    background-color: var(--dark-gray);
    border: 4px solid var(--dark-gray);
}

#id-nav-item-source:hover {
    background-color: var(--third-color);
    border: 4px solid var(--third-color);
}

#id-nav-item-source.active {
    border: 4px solid var(--light-gray);
}

.nav-tabs .nav-link:hover {
    color: var(--third-color);
}

.navbar-brand {
    position: static;
    height: unset;
    text-align: center;
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin: unset;
    margin-right: 2rem;
    font-size: 24px;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-dark .navbar-brand {
    color: var(--first-color);
    font-weight: bold;
}

.header-logo {
    width: 180px;
}

.navbar-brand img {
    height: 150px;
}

.navbar-dark .navbar-brand.tiny span{
    display: none;
}

.navbar-brand.tiny, .navbar-brand.tiny img {
    height: 140px;
}

header.page .language-select-button {
    color: black;
    background-color: var(--btn-light-bg-color);
}

header.homepage .btn-primary {
    border-color: var(--dark-gray);
}

header.page #main-search-input {
    max-width: 400px;
}

header.homepage #main-search-input {
    background-color: #f8f9fa;
}

.btn-outline-secondary {
    color: var(--first-color);
    border-color: var(--dark-gray);
    font-weight: bold;
}

.btn-outline-secondary:hover {
    background-color: var(--third-color);
}

.btn-outline-secondary.active {
    background-color: var(--third-color);
}

.journal-grid {
    text-align: left;
    max-width: 100%;
}

.breadcrumb-wrapper {
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 0px 10px var(--breadcrumb-color);
  width: 100%;
  margin: 20px auto;
  margin-bottom: 30px;
}

.breadcrumb-header {
  margin: 0 auto;
  overflow: hidden;
}

.logo-and-nav-wrap {
  display: flex;
  align-items: center;
}

.site-nav-wrap {
  padding-left: 30px;
  font-size: 20px;
  font-weight: 300;
  color: var(--breadcrumb-color);
  overflow: hidden;
  width: fit-content;
}

.logo-wrap {
  padding: 0 20px;
  width: var(--sidebar-width);
}

.breadcrumb-nav {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 30px;
}

.breadcrumb-wrap:before {
  content: "";
  background-image: linear-gradient(-33deg, #ff0d64 0, #9c3483 100%);
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: transform ease-in-out 0.5s;
  transform: scalex(0);
  transform-origin: left top;
  display: none;
}

.breadcrumb-wrap:hover:before {
  transform: scalex(1);
}

.breadcrumb-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 0 auto;
  flex-shrink: 1000;
  display: inline-block;
  padding: 10px 5px 15px 0;
  border-bottom: 1px solid transparent;
  color: var(--breadcrumb-color);
  position: relative;
  transition: transform ease-in-out 0.3s;
}
.breadcrumb-wrap:hover {
  flex: 1 0 auto;
  opacity: 1;
  color: var(--third-color);
  transform: translatey(-2px);
  transition: none;
  opacity: 1;
  transition: transform ease-in-out 0.4s;
}
.breadcrumb-wrap:hover a {
  color: var(--third-color);
}
.breadcrumb-wrap:hover .sep i {
  transform: translatex(8px);
  color: var(--third-color);
  transition: transform ease-in-out 0.3s;
}
.breadcrumb-wrap:hover ~ .single-breadcrumb-wrap {
  transition: transform ease-in-out 0.4s;
}
.breadcrumb-wrap:first-child {
  flex: 0 0 auto;
  flex-shrink: 0.5;
  font-weight: normal;
  color: var(--third-color);
  opacity: 1;
}
.breadcrumb-wrap:first-child:after {
  left: 0;
}
.breadcrumb-wrap:first-child .sep {
  display: none;
}
.breadcrumb-wrap:last-child {
  flex: 1 0 auto !important;
  font-weight: normal;
}
.breadcrumb-wrap:last-child a {
  color: var(--third-color);
}
.breadcrumb-wrap:last-child:hover {
  transform: translateY(0);
  flex: 1 0 auto !important;
}
.breadcrumb-wrap:last-child:hover:after {
  display: none;
}

.breadcrumb-wrap:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 28px;
  top: 36px;
  width: 100%;
  height: 1px;
  background: var(--third-color);
  transform: scale3d(0, 1, 1);
  transform-origin: 0% 50%;
  transition: transform ease-in-out 0.15s 0.1s, opacity ease-in-out 0.25s;
  opacity: 0.5;
}

.breadcrumb-wrap:hover:after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  transition: opacity ease-in-out 0.1s, transform ease-in-out 0.2s;
}

.breadcrumb-item {
  flex: 0 1 auto;
}

.sep {
  padding-left: 10px;
  padding-right: 10px;
}
.sep i.fa:before {
  content: var(--icon);
  transition: transform ease-in-out 0.2s;
}

.btn-link {
    color: var(--first-color);
}

.form-control:focus,
.form-select:focus {
    border-color: var(--dark-gray);
    box-shadow: 0 0 0 .25rem rgba(157, 157, 157, .25);
}

.float-minus-100 {
    display: block;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
}
