:root {
  --primary-color: #24AFAD;
  --primary-color-light: #B4ECEC;  /* c5dbd3 */
  --light-grey-color: #F8F8F8;
  --dark-grey-color: #E7E7E7;
  --error-color: red;
}

@font-face {
    font-family: "Montserrat";
    src: url("/static/editor/fonts/Montserrat/Montserrat-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/static/editor/fonts/Montserrat/Montserrat-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("/static/editor/fonts/Montserrat/Montserrat-Italic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("/static/editor/fonts/Montserrat/Montserrat-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

/* Titre de Page */
html,
body {
    height: 100%;
    /* font-family: 'Montserrat'; */
    /* font-size: 15px; */
}

a {
    color: var(--primary-color);
}

#content {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.all-but-footer {
    min-height: calc(100% - 190px); /* 100% - height(footer=190)*/
    height: auto !important;
}

/* Page background */
.page-container {
    padding-bottom: 20px;
}

.footer-text {
    padding-left: 15%;
    padding-top: 15px;
    color: #777;
    font-size: 12px;
}

.footer-text a {
    color: #777;
}

#footer {
    margin-top: 0px;
    padding-top: 15px;
    position: relative;
    height: 190px;
}

.logos-footer {
    margin-bottom: 10px;
    font-size: 12px;
}

.logos-footer a {
    margin-right: 7%;
}

.logos-footer a:last-child {
    margin-right: 0px;
}

.menu-bottom {
    border: 0px;
    /*margin-left: 20%;*/
    margin-bottom: 0px;
}

.menu-bottom .navbar-nav {
    float: left;
}

.menu-bottom .navbar-nav > li {
    float: left;
}


.navbar-nav .nav-link.active {
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.disabled.breadcrumb-disabled {
    color: #bbb;
}

.nav-pills > li > a,
.nav-pills > li > form > a {
    color: #333;
    font-variant: small-caps;
}

.nav-pills > li > a:hover,
.nav-pills > li > form > a:hover {
    color: #333;
    background-color: #eee;
}

.nav-pills .nav-link.active {
    color: #eee;
    background-color: #333;
}



#mersenne-header {
    color: #414143;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    height: 200px;
    /*background-image: url("/static/editor/img/header-background.jpg");*/
    background-repeat: none;
    background-size: cover;
}

#mersenne-header .row {
    margin: 0px;
}

#mersenne-header h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.journal-logo {
    text-align: center;
    max-width: 550px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.menu-top {
    background-color: white;
    border: 0px;
    font-weight: bold;
    font-size: 20px;
}

.journal-header-content {
    width: calc(100% - 600px);
    display: inline-block;
    padding-top: 30px;
}

#top {
    background-color: var(--light-grey-color);
    border-bottom: 1px solid var(--dark-grey-color);
}


.trans_text, .rev_text {
 height:1000px;
 width:100%;
 overflow-y:scroll;
 border:1px solid #d1d1d1;
 padding: 20px;
 font-size:13px;
 font-family:Verdana, sans-serif;
}

img {
    max-width: 100%;
    height: auto !important;
}

#breadcrumb {
    background-color: white;
    padding-top: 20px;
}

.center-align {
  display: flex;
  align-items: center;
}

.wizard-timeline {
	 margin: 0px 5% 0px 5%;
	 list-style: none;
}
 .wizard-timeline li {
	 flex: 1 1 0;
	 padding: 10px 0;
	 display: flex;
	 align-items: center;
	 position: relative;
	 color: rgba(0, 0, 0, 0.54);
}
 .wizard-timeline li > label {
	 display: inline-block;
	 background-color: white;
	 padding: 5px;
	 z-index: 1;
}
 .wizard-timeline li::before, .wizard-timeline li::after {
	 content: "";
	 display: block;
	 height: 2px;
	 position: absolute;
	 top: 50%;
	 left: 0;
}
 .wizard-timeline li::before {
	 width: 100%;
	/*transition: all 0.5s ease;*/
	 background-color: var(--dark-grey-color);
}

.wizard-timeline li.completed::before {
	 background-color: var(--primary-color);
}


 .wizard-timeline li:last-child {
	 flex: none;
}
 .wizard-timeline li .step-num {
	 display: flex;
	 flex-wrap: wrap;
	 align-items: center;
	 justify-content: center;
	 height: 30px;
	 width: 30px;
	 margin-right: 20px;
	 overflow: hidden;
	 background-color: white;
	 border: 1px solid rgba(0, 0, 0, 0.54);
	 border-radius: 50%;
	 z-index: 1;
}
 .wizard-timeline li .step-num::before {
	 content: "";
	 width: 30px;
	 height: 30px;
	 display: none;
	 background: url("/static/traduction/img/checkmark.png") center no-repeat;
	 background-size: 50%;
}
 .wizard-timeline li.active {
	 color: inherit;
}

 .wizard-timeline li.completed .step-num {
	 background-color: var(--primary-color-light);
}
 .wizard-timeline li.completed .step-num::before {
	 display: inline-block;
}
 @media only screen and (max-width: 768px) {
	 .wizard-timeline {
		 flex-flow: column;
		 align-items: flex-start;
	}
	 .wizard-timeline li::after, .wizard-timeline li::before {
		 width: 2px;
		 left: 15px;
		 height: 0;
	}
	 .wizard-timeline li::after, .wizard-timeline li.completed::before {
		 width: 2px;
		 height: 100%;
	}
	 .wizard-timeline li .step-num {
		 z-index: 2;
		 margin-right: 10px;
	}
	 .wizard-timeline li:last-child {
		 padding-bottom: 0;
	}
	 .wizard-timeline li:last-child::after, .wizard-timeline li:last-child::before {
		 top: 0;
	}
}

#doi-error {
    color: var(--error-color);
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.lightbox {
    height: 400px;
}

.lightbox-overlay {
    top: 73px;
}

#lightbox-image {
    height: 400px !important;;
    border: 1px solid #DDDDDD;
    box-shadow: 3px 4px 3px #DDDDDD;
    margin-top: 25px;
}

.container-with-image {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.image-with-text > img {
    display: block;
    text-align: right;
    max-width: 100%;
    max-height: 200px;

}

@media only screen and (max-width: 999px) {
    .container-with-image {
        flex-wrap: wrap;
    }

    .image-with-text > img {
        max-height: 150px;
    }
}

.legal-table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
}

.legal-table td {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
}

.legal-table th {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
}

.language-select-button {
    font-size: 10px;
    background-color: white;
    border-color: #ccc;
    color: black;
}

.nav-item-traduction {
    margin-top: 7px
}
