<div class="form-inputs">
  {% for field in form %}
  <div class="form-input {% if field.errors%}input-error{% endif %}">
    {% comment %} Adapt the layout according to the input type {% endcomment %}
    {% with type=field.field.widget.input_type%}
    {% comment %} Inline input {% endcomment %}
    {% if type == "checkbox" %}
    <div class="inline-input">
      {{ field.label_tag }}
      {{ field }}
    </div>
    {% comment %} Block input (default) - label and input on 2 different lines {% endcomment %}
    {% else %}
    <div class="block-input">
      {{ field.label_tag }}
      {{ field }}
    </div>
    {% endif %}
    {% endwith %}
  </div>
  {% endfor %}
</div>
