{% extends "base.html" %}
{% load static %}

{% block title %}Trammel - Allauth form{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "comments_views/core/vendors/font-awesome_6.3.0/css/fontawesome.min.css" %}" />
<link rel="stylesheet" href="{% static "comments_views/core/vendors/font-awesome_6.3.0/css/solid.min.css" %}" />
<link rel="stylesheet" href="{% static "ptf/css/custom-alerts.css" %}">
{% endblock extra_css %}

{% block extrajs %}
<script src="{% static "ptf/js/custom-alerts.js" %}"></script>
{% endblock extrajs %}

{% block content %}
{% if user.is_authenticated %}
{% include "common/common-message-snack-bar.html"%}
{% endif %}
<div id="allauth-template" class="{% if user.is_authenticated %}right_col allauth-template-in-app {% endif %}centering-container" role="main">
  <div class="centered-content">
    <div class="account-page-content">
      <div class="account-page-header">
        {% if user.is_authenticated %}
        <div class="account-page-title">
          <h1>{% block page_title_authenticated %}Allauth form{% endblock page_title_authenticated %}</h1>
        </div>
        {% else %}
        <div><object class="trammel-logo" type="image/svg+xml" data="{% static "ptf-tools/img/logo-trammel.svg" %}" width="200"></object></div>
        <div class="account-page-title">
          {% block page_title_anonymous %}Allauth form{% endblock page_title_anonymous %}
        </div>
        {% endif %}
      </div>

      <div id="allauth-form">
        {% block allauth_form_content %}
        {% endblock allauth_form_content %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
