{% if form.errors %}
<div>
  {% for field in form %}
  {% for error in field.errors %}
  <div class="message-error">
    {{ field.label|title }}&nbsp;-&nbsp;<strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
  <div class="message-error">
    <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
</div>
{% endif %}
