{% load i18n %}

<div id="MatchingModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="MatchingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Lancer le matching</h4>
      </div>
      <div class="modal-body">
        <form id="matching-form" data-all-url="{% url 'api-match-all' 'toreplaceallpid' 'toreplaceallwhat' 0 %}" data-one-url="{% url 'api-match-one' 'toreplacepid' 0 'toreplacewhat' %}">
          <div class="form-group">
            <input type="radio" name="force" value="0" checked> là où il n'y a pas d'id,<br>
            <input type="radio" name="force" value="1"> <span class="matching"> ainsi que sur tous les ids non vérifiés,</span><br>
            <input type="radio" name="force" value="2"> <span class="externalid-valid"> partout</span>
          </div>
          <div class="form-group">
            <input type="checkbox" name="what" value="mr-item-id" checked> MathSciNet<br>
            <input type="checkbox" name="what" value="zbl-item-id" checked> ZentralBlatt<br>
            <input type="checkbox" name="what" value="doi" checked> Crossref<br>
            <input type="checkbox" name="what" value="numdam-id" checked> Numdam<br>
            <input type="checkbox" name="what" value="pmid"> PubMed
          </div>
          <button type="button" id="matching-check-all-platforms" class="btn btn-link">Cocher tout</button><br>
          <button type="button" id="matching-submit-form" class="btn btn-primary">Lancer le matching</button>
        </form>
      </div><!-- End of Modal body -->
    </div><!-- End of Modal content -->
  </div><!-- End of Modal dialog -->
</div><!-- End of Modal -->
