{% extends "prize-base.html" %}
{% load helpers %}
{% block inner_content %}
  <ul>
    <li>2024: <a href="{% pretty_search 'search' 'c' '"Talagrand, Michel"' %}">Michel Talagrand</a></li>
    <li>2023: <a href="{% pretty_search 'search' 'c' '"Caffarelli, Luis"' %}">Luis Caffarelli</a></li>
    <li>2022: <a href="{% pretty_search 'search' 'c' '"Sullivan, Dennis"' %}">Dennis Sullivan</a></li>
    <li>2021: <a href="{% pretty_search 'search' 'c' '"Lovász, Lászlo"' %}">Lászlo Lovász</a> and <a href="{% pretty_search 'search' 'c' '"Wigderson, Avi"' %}">Avi Wigderson</a></li>
    <li>2020: <a href="{% pretty_search 'search' 'c' '"Furstenberg, Hillel"' %}">Hillel Furstenberg</a> and <a href="{% pretty_search 'search' 'c' '"Margulis, Gregory"' %}">Gregory Margulis</a></li>
    <li>2019: Karen Keskulla Uhlenbeck</li>
    <li>2018: Robert Langlands</li>
    <li>2017: <a href="{% pretty_search 'search' 'c' '"Meyer, Yves"' %}">Yves Meyer</a></li>
    <li>2016: <a href="{% pretty_search 'search' 'c' '"Wiles, Andrew J."' %}">Sir Andrew J. Wiles</a></li>
    <li>2015: John F. Nash Jr. , <a href="{% pretty_search 'search' 'c' '"Nirenberg, Louis"' %}">Louis Nirenberg</a></li>
    <li>2014: Yakov G. Sinai</li>
    <li>2013: <a href="{% pretty_search 'search' 'c' '"Deligne, Pierre"' %}">Pierre Deligne</a></li>
    <li>2012: Endre Szemerédi
    <li>2011: <a href="{% pretty_search 'search' 'c' '"Milnor, John Willard"' %}">John Milnor</a>
    <li>2010: <a href="{% pretty_search 'search' 'c' '"Tate, John"' %}">John Torrence Tate</a>
    <li>2009: <a href="{% pretty_search 'search' 'c' '"Gromov, Mikhael"' %}">Mikhail Leonidovich Gromov</a>
    <li>2008: <a href="{% pretty_search 'search' 'c' '"Thompson, John Griggs"' %}">John Griggs Thompson</a> and <a href="{% pretty_search 'search' 'c' '"Tits, Jacques"' %}">Jacques Tits</a>
    <li>2007: <a href="{% pretty_search 'search' 'c' '"Varadhan, S.R.S."' %}">Srinivasa S. R. Varadhan</a>
    <li>2006: <a href="{% pretty_search 'search' 'c' '"Carleson, Lennart"' %}">Lennart Carleson</a></li>
    <li>2005: <a href="{% pretty_search 'search' 'c' '"Lax, P. D."' %}">Peter D. Lax</a></li>
    <li>2004: <a href="{% pretty_search 'search' 'c' '"Atiyah, Michael F."' %}">Sir Michael Francis Atiyah</a> , <a href="{% pretty_search 'search' 'c' '"Singer, Isadore M."' %}">Isadore M. Singer</a></li>
    <li>2003: <a href="{% pretty_search 'search' 'c' '"Serre, Jean-Pierre"' %}">Jean-Pierre Serre</a></li>
  </ul>


















{% endblock %}
