{% extends "base.html" %}

{% load i18n %}

{% block page_id %}{{ name }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row" style="margin-top:50px;margin-bottom:50px">
      <div class="col-xs-3">
          <ul class="nav nav-pills nav-stacked">
            <li {% if 'about' in request.path %}class="active"{% endif %}><a href="{% url 'about' %}">{% trans 'À propos' %}</a></li>
            <li {% if 'dml' in request.path %}class="active"{% endif %}><a href="{% url 'dml' %}">{% trans 'DML' %}</a></li>
            <li {% if 'credits' in request.path %}class="active"{% endif %}><a href="{% url 'credits' %}">{% trans 'Crédits' %}</a></li>
          </ul>
      </div>
      <div class="col-xs-9">
        {% block inner_content %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
