{% extends "about-base.html" %}
{% block text %}
<h3 class="sec-title">Service presentation</h3>
<p>In order to support mathematical journals, the NUMDAM program has set up free access to bibliographical data and articles of french mathematical journals.</p>

<p>For each journal, all the volumes published up to year 2000 have been retro-digitzed. The articles themselves are available for online access after a given time (<a href="{% url 'template_page' name='wall' lang=LANGUAGE_CODE %}">moving wall</a>) during which they are reserved for subscribers.</p>

<h3 class="sec-title">General principles</h3>
<p><img src="/static/numdam/img/puce.gif" width="8" height="11" class="puce" alt="-" />&nbsp;Respect of the paper edition : each page is scanned with a hight quality in order to keep all the details. These are the published images.
<br /><img src="/static/numdam/img/puce.gif" width="8" height="11" class="puce" alt="-" />&nbsp;Respect of the copyright : a contract came up with the publisher in order to settle a mowing wall and to validate our method. 
<br /><img src="/static/numdam/img/puce.gif" width="8" height="11" class="puce" alt="-" />&nbsp;Identification of the articles origines : each article has a flyleaf which precises the publication place, a mention of copyright and the name of the journal.</p>
{% endblock %}
  
