{% extends "about-base.html" %}
{% block text %}
<h3 class="sec-title">Présentation du service</h3>
<p>Le programme NUMDAM de la <a href="http://www.mathdoc.fr" rel='external'>Cellule MathDoc</a> soutient les revues de mathématiques en rendant leurs archives visibles sur la Toile et facilement accessibles.</p>

<p>Ce soutien consiste donc en la mise en place d&#8217;un libre accès aux données bibliographiques et au texte intégral des articles parus dans les revues. Pour chaque revue concernée, l&#8217;ensemble des volumes publiés jusqu&#8217;en l&#8217;an 2000 ont été convertis au format numérique.</p>

<h3 class="sec-title">Les principes généraux</h3>
<ul class="liste-a-puce">
<li>Respect de l&#8217;original&nbsp;: chaque page est scannée à haute définition pour qu&#8217;aucun détail ne se perde. Ce sont ces images qui sont publiées. Les enrichissements apportés par la Cellule MathDoc à l&#8217;occasion de changement de format sont placés à part.</li>
<li>Respect de la propriété intellectuelle&nbsp;: un contrat passé avec l&#8217;éditeur fixe un créneau mobile et valide notre méthode de travail. Il s&#8217;assure également de l&#8217;acceptation des auteurs en leur demandant (avec notre aide) une cession de droits pour la publication de l&#8217;article sur Internet.   </li>
<li>Identification de l&#8217;origine des articles&nbsp;:  chaque article comporte une page de garde rappelant le lieu de publication, une brève mention de copyright et un bandeau identifiant la revue.</li>
</ul>
{% endblock %}
