{% extends "about-base.html" %}
{% load i18n %}

{% block title %}{% trans 'Numdam - À propos' %}{% endblock %}

{% block inner_content %}
  {% if LANGUAGE_CODE == 'fr' %}
    <h4 class="box-orange">Présentation</h4>
    <br>
    <p>NUMDAM est la bibliothèque numérique de référence française en mathématiques assemblée par <a href="http://www.mathdoc.fr" rel='external'>MathDoc</a> avec l'aide d'un réseau de partenaires.</p>
    <p>Le service a démarré vers l'an 2000 par la numérisation pilote de 5 revues, pour une première mise en ligne publique en janvier 2003. Le programme de numérisation, qui est toujours actif, s'est ensuite poursuivi en élargissant le corpus aussi bien sur le plan géographique (revues européennes), que thématique (mathématiques, physique, statistiques, informatique, et sciences connexes). À partir de 2010, des séries de livres et des thèses ont été ajoutées.</p>
    <p>À partir de 2007 des accords ont été passés avec certains éditeurs pour assurer la continuité des collections, de sorte que l'on trouvera aussi des articles nativement numériques fournis directement par ces éditeurs. Les collections sont en principe indexées dans l'année qui suit leur parution, et les textes intégraux sont librement téléchargeables à l'issue d'une barrière mobile variable.</p>
    <p>À partir de 2016 des collections numérisées par des partenaires et réindexées finement par Mathdoc sont intégrées dans la recherche de façon à leur offrir une plus grande visibilité et à faciliter la découverte de contenus pertinents pour nos utilisateurs. Le premier exemple est le <a href="{% url 'journal-issues' 'JMPA' %}">Journal de mathématiques pures et appliquées</a>, numérisé par la Bibliothèque nationale de France dans son programme Gallica.</p>
    <p>À partir de 2018 les articles des revues mathématiques du <a href="https://www.centre-mersenne.org">centre Mersenne</a> sont indexées dans l'année qui suit leur parution.</p>
    <p>Le programme Numdam est conçu pour soutenir les éditeurs académiques et fournir à la communauté des chercheurs une bibliothèque pérenne, fiable et facile d'utilisation. La plateforme de recherche et de diffusion a été entièrement refondue en 2016.</p>
    <p>Depuis 2018, Numdam est labellisée <a href="https://www.collexpersee.eu/">CollEx.</a>
  {% else %}
    <h4 class="box-orange">Presentation</h4>
    <br>
    <p>NUMDAM is the reference French digital mathematics library set up by <a href="http://www.mathdoc.fr" rel='external'>MathDoc</a> with the assistance of a network of partners.</p>
    <p>The service started around the year 2000 with the pilot digitisation phase of 5 journals, for a first public release in January 2003. The digitisation program, which is still active, then continued by expanding the corpus geographically (European journals) and thematically (mathematics, physics, statistics, computer science, and related sciences). Book series and theses were added as of 2010.</p>
    <p>From 2007 onwards, agreements were made with some publishers to ensure the continuity of the collections, so that one will also find born digital articles supplied directly by these publishers. Collections are normally indexed within one year of publication, and full texts are freely downloadable at the end of a period of time set by agreement upon each title, called the moving wall.</p>
    <p>As of 2016, collections digitised by partners and re-indexed by Mathdoc with more details are integrated into the search engine. Documents thus gain greater visibility and this facilitates the discovery of content relevant to our users. The first example is the <a href="{% url 'journal-issues' 'JMPA' %}">Journal de mathématiques pures et appliquées</a>, digitised by the Bibliothèque nationale de France in its Gallica program.</p>
    <p>As of 2018, articles of <a href="https://www.centre-mersenne.org">centre Mersenne</a>'s mathematical journals are indexed within one year of publication.</p>
    <p>The Numdam program is designed to support academic publishers and provide the research community with a sustainable, reliable and easy-to-use library. The research and dissemination platform was completely redesigned in 2016.</p>
    <p>Numdam has been awarded "<a href="https://www.collexpersee.eu/">CollEx</a>" status since 2018.</p>
  {% endif %}
{% endblock %}
