{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load stringsfilter %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <title>{% block title %}{{ blocks.title }}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0">
  {% block extra_head %}{% endblock extra_head %}

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'numdam/img/numdam_favicon.ico' %}">

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato"/>
  <link rel="stylesheet" href="{% static 'ptf/vendors/bootstrap/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'ptf/vendors/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'ptf/vendors/lightbox/css/lightbox.css' %}">
  <link rel="stylesheet" href="{% static 'ptf/css/ptf.css' %}" type="text/css"/>
  <link rel="stylesheet" href="{% static 'ptf/css/search-bar.css' %}" type="text/css"/>
  <link rel="stylesheet" href="{% static 'numdam/vendors/owl-carousel/css/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'numdam/vendors/owl-carousel/css/owl.theme.css' %}">
  <link rel="stylesheet" href="{% static 'numdam/css/numdam.css' %}" type="text/css"/>
  {% block extra_css %}{% endblock extra_css %}

</head>
<body id="page-{% block page_id %}{% endblock %}"
      style="font-family: {{ request.session.font }};font-size: {{ request.session.font_size }}px;">
<div id="main">
  {% block top %}
    <div id="top">
      <div id="bandeau">
        <div style="float:left">
          <a href="{% url 'home' %}" class='no-focus'>
            <img src="/static/numdam/img/numdam_logo.gif" title='{% trans 'Accueil' %}' alt='{% trans 'Accueil' %}' class='logo no-text-decoration'/>
          </a>
        </div>
        <div class="bandeau-background">
          <div style="float:left;width:calc(50% - 16px)">&nbsp;</div>
          <div style="float:left" class="smartphone">
            <div class="dropdown">
              <button class="btn light-blue dropdown-toggle" type="button" data-toggle="dropdown">
                <img src='/static/mersenne_cms/img/main-menu.svg' alt='main-menu'/>
              </button>
              <ul class="dropdown-menu">
                <li><a href="{% url 'journals' %}">{% trans "Revues" %}</a></li>
                <li><a href="{% url 'actas' %}">{% trans "Séminaires" %}</a></li>
                <li><a href="{% url 'proceedings' %}">{% trans "Congrès" %}</a></li>
                <li><a href="{% url 'books' %}">{% trans "Livres" %}</a></li>
                <li><a href="{% url 'lectures' %}">{% trans "Notes de cours" %}</a></li>
                <li><a href="{% url 'thesis' %}">{% trans "Thèses" %}</a></li>
                <li><a href="{% url 'authors' %}">{% trans "Auteurs" %}</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="onoffswitch-group">
          <div id="language-switch" title="{% if LANGUAGE_CODE == 'fr' %}Cliquer pour afficher le site en anglais{% else %}Click to display the French version{% endif %}">
            <form id="language-switch-form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
              <div class="onoffswitch" id="lang_flags">
                <input type="checkbox"
                       name="language"
                       value="{% if LANGUAGE_CODE == 'fr' %}en{% else %}fr{% endif %}"
                       class="onoffswitch-checkbox"
                       id="lang_onoffswitch"
                       {% if LANGUAGE_CODE == 'fr' %}checked{% endif %}>
                <label class="onoffswitch-label" for="lang_onoffswitch">
                  <span class="onoffswitch-inner" data-on="" data-off=""></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </form>
          </div>
          <div id="mathml-switch"
            {% if LANGUAGE_CODE == 'fr' %}
              {% if request.session.formula_display == 'tex' %}
                 title="Cliquer pour afficher les formules sous forme graphique"
              {% else %}
                 title="Cliquer pour afficher le code source TeX"
              {% endif %}
            {% else %}
              {% if request.session.formula_display == 'tex' %}
                 title="Click to display formulæ in graphical form"
              {% else %}
                 title="Click to display the TeX source code"
              {% endif %}
            {% endif %}>
            <form action="{% url 'set_formula_display' %}" method="post">{% csrf_token %}
              <div class="onoffswitch">
                <input type="checkbox" name="formula-display" value="tex" class="onoffswitch-checkbox"
                       id="tex_onoffswitch"
                       onclick="this.form.submit();"
                       {% if request.session.formula_display == 'tex' %}checked{% endif %}>
                <label class="onoffswitch-label" for="tex_onoffswitch">
                  <span class="onoffswitch-inner" data-on="TeX" data-off="TeX"></span>
                  <div class="onoffswitch-switch">
                    <div class="onoffswitch-switch-label">{% if request.session.formula_display == 'tex' %}ON{% else %}
                      OFF{% endif %}</div>
                  </div>
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>

      <nav class="navbar navbar-default desktop">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li {% if coltype == 'journal' %}class="active"{% endif %}><a
                href="{% url 'journals' %}">{% trans "Revues" %}</a></li>
            <li {% if coltype == 'acta' %}class="active"{% endif %}><a
                href="{% url 'actas' %}">{% trans "Séminaires" %}</a></li>
            <li {% if coltype == 'proceeding' %}class="active"{% endif %}><a
                href="{% url 'proceedings' %}">{% trans "Congrès" %}</a></li>
            <li {% if coltype|startswith:'book' %}class="active"{% endif %}><a
                href="{% url 'books' %}">{% trans "Livres" %}</a></li>
            <li {% if coltype|startswith:'lecture' %}class="active"{% endif %}><a
            href="{% url 'lectures' %}">{% trans "Notes de cours" %}</a></li>
            <li {% if coltype == 'thesis' %}class="active"{% endif %}><a
                href="{% url 'thesis' %}">{% trans "Thèses" %}</a></li>
            {#            <li {% if 'complete-works' in request.path %}class="active"{% endif %} style="margin-right:10px"><a#}
            {#                href="{% url 'complete-works' %}">{% trans "Œuvres complètes" %}</a></li>#}
            <li {% if 'authors' in request.path %}class="active"{% endif %}><a
                href="{% url 'authors' %}">{% trans "Auteurs" %}</a></li>
          </ul>
        </div>
      </nav>

      <div id="bandeau3">
        <div class="container" id="search-bar">
          {% include "common/search-bar.html" with with_help=True %}
        </div>
      </div>

    </div>
  {% endblock top %}

  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  </div>

  {% block content %}
    <div id="content" class="wrapper-float">
      {% block content_top %}
      {% endblock %}
      {% block left %}
        <div id="left">
          {% block menu_left %}{% endblock %}
          {% block content_left %}{% endblock %}
        </div>
      {% endblock left %}
      <div id="center">
        {% block breadcrumb %}
            <div class="row">
              <div class="col-md-12 col-lg-3 col-lg-push-9 btn-tex">
                {% include "common/tex.html" %}
              </div>
              <div class="col-xs-12 col-lg-9 col-lg-pull-3 article-breadcrumb">
                {% include "common/breadcrumb.html" with page=page item_pid=pid %}
              </div>
            </div>
        {% endblock %}
        {% block center_header %}{% endblock %}
        {% block center_middle %}{% endblock %}
        {% block center_footer %}{% endblock %}
      </div>
      {% block right %}
        <div id="right">
          {% block menu_right %}{% endblock %}
          {% block content_right %}{% endblock %}
        </div>
      {% endblock right %}
    </div>
  {% endblock content %}
</div>
<div id="footer">
  <div class="horizontal-menu menu-footer">
    <ul>
      <li><a href="{% url 'about' %}">{% trans "À propos" %}</a></li>
      <li><a href="{% url 'help' %}">{% trans "Aide" %}</a></li>
      <li><a href="{% url 'legal' %}">{% trans "Mentions légales" %}</a></li>
      <li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
      {#      <li><a href="{% url 'template_page' name='contact' lang=LANGUAGE_CODE %}">{% trans "Contact" %}</a></li>#}
    </ul>
  </div>
  <div class="logo-footer">
    <div class="logo-footer-left" style="float:left;">&nbsp;</div>
    <div style="float:left">
      <div class="lg-desktop">
        <p>{% trans "Développé par" %}</p>
      </div>
      <div style="display:inline-block">
        <a href="http://www.mathdoc.fr"><img class="logo-auto" src="/static/numdam/img/logo-mathdoc.png"/></a>
      </div>
    </div>
    <div style="float:left;width:5%">&nbsp;</div>
    <div style="float:left">
      <div class="lg-desktop">
        <p>{% trans "Soutenu par" %}</p>
      </div>
      <div style="display:inline-block">
        <a href="http://www.cnrs.fr/insmi"><img class="logo-auto" src="/static/numdam/img/logo-insmi.png"/></a>&nbsp;
        <a href="http://www.univ-grenoble-alpes.fr/"><img class="logo-auto" src="/static/numdam/img/logo-uga.svg"/></a>
      </div>
    </div>
    <div style="float:left;width:5%">&nbsp;</div>
    <div style="float:left">
      <div class="lg-desktop">
        <p>{% trans "Partenaire de" %}</p>
      </div>
      <div style="display:inline-block">
        <a href="http://www.eudml.eu"><img class="logo-auto" src="{% static "numdam/img/logo-eudml.png" %}"/></a>&nbsp;
        <a href="http://portail.math.cnrs.fr"><img class="logo-auto" src="/static/numdam/img/logo-portail.png"/></a>
      </div>
    </div>
    <div style="float:right; margin-right:20px">
      <div id="logo-collex">
        <a href="https://www.collexpersee.eu/"><img class="logo-auto" src="{% static "numdam/img/logo-collex.png" %}"/></a>&nbsp;
      </div>
      <div id="logo-collex-lg">
        <a href="https://www.collexpersee.eu/"><img class="logo-auto" src="{% static "numdam/img/logo-collex.png" %}"/></a>&nbsp;
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript" src="{% static "ptf/vendors/jquery/js/jquery-3.5.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "ptf/vendors/clipboard/js/clipboard.min.js" %}"></script>
  <script type="text/javascript" src="{% static "ptf/vendors/bootstrap/js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="{% static "ptf/vendors/lightbox/js/lightbox.js" %}"></script>
  <script type="text/javascript" src="{% static "ptf/js/ptf.js" %}"></script>
  <script type="text/javascript" src="{% static "ptf/js/search-bar.js" %}"></script>
  <script type="text/javascript" src="{% static "numdam/vendors/owl-carousel/js/owl.carousel.min.js" %}"></script>
  <script type="text/javascript" src="{% static "numdam/js/scripts.js" %}"></script>
  {% if request.session.formula_display != 'tex' %}
    <script src="{% static "ptf/js/mathjax-config.js" %}" defer></script>
    <script type="text/javascript" id="MathJax-script" defer
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
  {% endif %}
  {% block scripts %}{% endblock %}
</body>
</html>
