{# liste des books pour une collection #}
{% extends "base.html" %}

{% block left %}
  <div id="left">
    <img src="{{ serie.icon }}" alt="cover">
  </div>
{% endblock %}

{% block content_header %}
{#  <h3 class="issue-list-header">#}
{#    {% if request.session.formula_display == 'tex' %}#}
{#      {{ journal.title_tex|safe }}#}
{#    {% else %}#}
{#      {{ journal.title_html|safe }}#}
{#    {% endif %}#}
{#  </h3>#}
<div>
  <div id="crumbs" style="margin-top:10px;">
    <ul>
      <li><a href="#">{% if request.session.formula_display == 'tex' %}#}
      {{ serie.title_tex|safe }}
    {% else %}
      {{ serie.title_html|safe }}
    {% endif %}</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
  {% include "common/book-list.html" %}
{% endblock %}
