<div id="breves">
<h6 class="breve">Br&egrave;ves</h6>
<p><b>Prochaines mises en ligne</b></p>
<p>Oeuvres complètes de Charles Ehresmann </p>

<p><b>Nouvelle mise en ligne</b></p>
<p>Revue d&#8217;histoire des mathématiques 1995-2006</p>
</div>
