{% load i18n %}

<div class="row">
  <div class="col-xs-12">
    <div class="owl-carousel">
      {% for item in carousel %}
        <div class="carousel-item">
          <div>
            <div style="float:left;width:calc(50% - 50px)">&nbsp;</div>
            <div style="float:left;position:relative; width:100px">
              <a href="{% url 'item_id' item.pid %}">
                <img src={{ item.icon }} width="100" height="150">
                {% if item.new %}
                  <img src="/static/numdam/img/new.png" style="position:absolute;left:50px">
                  {% if item.volume %}
                    <p style="position:absolute;left:00px;bottom:0px;background-color:rgba(170,170,170,0.8);width:100px;line-height:30px;margin:0;font-size:12px">{% trans 'Tome'%} {{ item.volume }}
                      {% if item.number %}
                        &nbsp;n<sup>o </sup>{{ item.number }}
                      {% endif %}
                    </p>
                  {% endif %}
                {% endif %}
              </a>
            </div>
            <div style="clear: both"></div>
          </div>
          <div class="carousel-title" style="margin-left:5px;margin-right:5px">
            <a href="{% url 'item_id' item.pid %}">{{ item.title }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
