{% extends "help-base.html" %}

{% load i18n %}

{% block title %}Numdam - Click & Read{% endblock %}
{% block inner_content %}
  {% if LANGUAGE_CODE == 'fr' %}
    <h4 class="box-orange">Chemin facilité vers le texte intégral avec Click and Read</h4>
    <br>
<p><a href="https://clickandread.inist.fr/page_info">Click & Read</a> est une extension de navigateur développée par l’INIST qui permet de faciliter l’accès aux publications scientifiques aux ayants-droits des établissements de recherche et de l’enseignement supérieur en France.
Ainsi, vous pouvez voir instantanément si les articles cités dans les références bibliographiques de Numdam sont accessibles en texte intégral ou non en fonction de votre structure d’appartenance.
  <a href="https://clickandread.inist.fr">Très simple à installer</a> et léger, son utilisation est parfaitement sécurisée, aucune information personnelle n’étant enregistrée.
  Pour en savoir plus, vous pouvez découvrir Click & Read en <a href="https://www.youtube.com/watch?v=EiT4QfEOHd0&amp;amp;ab_channel=Inist-CNRS">vidéo</a> et en <a href="https://www.inist.fr/wp-content/uploads/2021/09/Poster-click-and-read-VF.png">sketchnote</a> ou suivre un <a href="https://www.inist.fr/services/accompagner/webinaire/click-and-read-en-webinaire/">webinaire</a> organisé par l’INIST. </p>
  {% else %}
    <h4 class="box-orange">Easy path to full text with Click and Read</h4>
    <br>
<p><a href="https://clickandread.inist.fr/page_info">Click & Read</a> is a plugin developed by INIST that facilitates access to scientific publications for rights holders of higher education and research establishments in France.
Thus, you can instantly see if the articles cited in the bibliographic references in Numdam are accessible in full text or not according to your structure of belonging.
  It is very <a href="https://clickandread.inist.fr">easy to install</a> and perfectly secure since no personal data is recorded.
  Discover Click & Read in <a href="https://www.youtube.com/watch?v=EiT4QfEOHd0&amp;amp;ab_channel=Inist-CNRS">video</a> and <a href="https://www.inist.fr/wp-content/uploads/2021/09/Poster-click-and-read-VF.png">sketchnote</a> or follow a <a href="https://www.inist.fr/services/accompagner/webinaire/click-and-read-en-webinaire/">webinar</a> organized by INIST.
</p>
  {% endif %}
{% endblock %}
