{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container" role="main">
    <h1>Gestion du status vivant pour les collections : </h1>
    <hr>
    <form class="form-horizontal" method="post">
      {% crispy formset helper %}
      <input class='btn btn-primary' type="submit" value="Sauvegarder" />
      <a class='btn btn-default' href="{% url 'home' %}">Retour</a>
    </form>
  </div>
{% endblock content %}
