{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans 'Œuvres complètes' %}
{% endblock %}

{% block content %}
  <div style="margin:50px">
{#    <p><strong><a href="{% url 'search' %}?q0=&quot;Schwartz, Laurent&quot;&qt0=author_ref">Œuvres complètes de Laurent Schwartz</a></strong></p>#}
  </div>
{% endblock %}