{% extends "about-base.html" %}
{% block text %}
<h3 class="sec-title">Conditions générales</h3>
<p><strong>Conditions générales d&#8217;utilisation du service</strong></p>

<p>L’utilisation du serveur NUMDAM implique un certain nombre de <strong>règles</strong> de bonne conduite qui sont précisées ci-dessous.</p>

<p>L’accès à la base de données contenant les références bibliographiques de la totalité des articles des revues participantes est entièrement <strong>libre</strong> à travers les fonctions de recherche et de feuilletage.</p>

<p>Les fichiers des textes intégraux sont <strong>téléchargeables à titre individuel</strong> par l’utilisateur à des fins de recherche, d’étude ou de formation. Il est interdit de télécharger un volume substantiel d’articles en vue de reconstituer un volume entier de l’édition papier ou un recueil exhaustif par sujet ou par auteur.</p>

<p>Chaque article NUMDAM dispose d’une URL stable de la forme&nbsp;:
<code dir='ltr'>&lt;http://www.numdam.org/item?id=AIF_1956__6__1_0&gt;</code></p>

<p>Cette URL est imprimée sur la première page des fichiers en texte intégral fournis et permet d’accéder à la notice complète de l’article. La  <a href="http://www.mathdoc.fr" class='spip_out' rel='external'>Cellule Mathdoc</a> encourage les utilisateur qui souhaitent faire référence à un article à utiliser cette URL. L’adresse physique ou logique des fichiers est sujette à modification sans préavis.</p>

<p><strong>Toute copie, impression ou reconstitution d’une partie significative à partir des données figurant sur le site NUMDAM est une contrefaçon punie par la loi.</strong></p>

<p>Il est interdit de modifier les fichiers des textes intégraux. En particulier, les mentions de copyright ne doivent jamais être dissociées des données qu’elles recouvrent, que ce soit lors de copies, de transmission ou d’impression de ces données.</p>

<p><strong>Il est interdit d’exploiter de façon commerciale le contenu de l’archive sauf autorisation explicite de la Cellule Mathdoc.</strong></p>
{% endblock %}
