{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Mentions légales' %}{% endblock %}

{% block page_id %}{{ name }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row" style="margin-top:50px;margin-bottom:50px">
      <div class="col-xs-3">
          <ul class="nav nav-pills nav-stacked">
            {% if 'conditions' in request.path or 'legal.php' in request.path %}
              <li><a href="{% url 'legal' %}">{% trans "Mentions légales" %}</a></li>
              <li class="active"><a href="{% url 'conditions' %}">{% trans "Conditions d'utilisation" %}</a></li>
            {% elif 'legal' in request.path %}
              <li class="active"><a href="{% url 'legal' %}">{% trans "Mentions légales" %}</a></li>
              <li><a href="{% url 'conditions' %}">{% trans "Conditions d'utilisation" %}</a></li>
            {% else %}
              <li><a href="{% url 'legal' %}">{% trans "Mentions légales" %}</a></li>
              <li><a href="{% url 'conditions' %}">{% trans "Conditions d'utilisation" %}</a></li>
            {% endif %}
            <li {% if 'copyright' in request.path %}class="active"{% endif %}><a href="{% url 'copyright' %}">Copyright</a></li>
            <li {% if 'wall' in request.path %}class="active"{% endif %}><a href="{% url 'wall' %}">{% trans "Barrière mobile" %}</a></li>
          </ul>
      </div>
      <div class="col-xs-9">
        {% block inner_content %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}