{% extends "about-base.html" %}
{% block text %}
<h3 class="sec-title">General conditions</h3>
<p><strong>General conditions of use of the service
</strong></p>

<p>Use of NUMDAM implies certain <strong>rules</strong> of good behaviour which are listed below.</p>

<p>Access to the database containing the bibliographical references of all the articles of all the participating journals is totally <strong>free</strong> via the "search" and "browse" functions.</p>

<p>The files containing full text of the articles are <strong>downloadable individually</strong> by users for research or educational usage. It is forbidden to download a substantial volume of articles in vue of reconstructing an entire volume of the paper edition or an author or subject based collection.</p>

<p>Every article in NUMDAM has a stable URL (uniform resource locator) in the form :</p>

<p><code class='spip_code' dir='ltr'>&lt;http://www.numdam.org/item?id=AIF_1956__6__1_0&gt;</code></p>

<p>which is printed on the first page of the provided full text files, and refers to the complete reference of the article. Cellule MathDoc encourages users who wish to refer to an article in NUMDAM to use this URL. The physical or logical adress of the files themselves being subject to modification with no warning.</p>

<p><strong>It is forbidden to print out and massively diffuse the contents of the archive.</strong> Any copy, printout or distribution of a significant part of NUMDAM archives is a counterfeit punished by law.</p>

<p>It is forbidden to modify any content available on the NUMDAM site. In particular, the copyright mentions must not be dissociated from the data they cover, be it during copying, transmission or printing of these data.</p>

<p><strong>It is forbidden to exploit commercially the contents of the archive except explicit autorisation of  <a href="http://www.mathdoc.fr" class='spip_out' rel='external'>Mathdoc cell</a>.</strong></p>
{% endblock %}
