{% extends "conditions-base.html" %}

{% load i18n %}

{% block title %}{% trans 'Numdam - Conditions générales' %}{% endblock %}

{% block inner_content %}
  {% if LANGUAGE_CODE == 'fr' %}
    <h4 class="box-orange">Conditions générales d’utilisation du service</h4>
    <br>
    <p>Numdam est une bibliothèque numérique, composée des métadonnées et des textes intégraux de publications en mathématiques. L’utilisation du service implique un certain nombre de <strong>règles de bonne conduite</strong> qui sont précisées ci-dessous.</p>
    <p>L’accès à la base de données contenant les références bibliographiques de la totalité des articles des revues participantes est entièrement <strong>libre</strong> à travers les fonctions de recherche et de feuilletage. La base de données elle-même est la propriété de <a href="http://www.mathdoc.fr">Mathdoc</a>.
Cependant, les métadonnées sont placées sous <a href="http://creativecommons.org/publicdomain/zero/1.0/">licence CC0</a>, donc les métadonnées sont placées dans le <strong>domaine public</strong>. Le <a href="{% url 'metadata' %}">serveur OAI-PMH</a> de Numdam permet de télécharger ces métadonnées de façon systématique.</p>
    <p>Les textes intégraux sont téléchargeables à <strong>titre individuel</strong> par l’utilisateur à des fins de recherche, d’étude ou de formation. Il est <strong>interdit de télécharger sans autorisation explicite un volume substantiel d’articles</strong> en vue de reconstituer un volume entier de l’édition papier ou un recueil exhaustif par sujet ou par auteur.
<strong>Il est interdit de modifier les fichiers des textes intégraux</strong>. En particulier, les mentions de copyright ne doivent jamais être dissociées des données qu’elles recouvrent, que ce soit lors de copies, de transmission ou d’impression de ces données.</p>
    <p>Une partie importante des fonds numérisés est dans le domaine public et l’autre reste la propriété des auteurs et de la revue. Cependant toutes les revues ont adopté une politique d’accès avec barrière mobile, ce qui signifie que les textes intégraux sont disponibles en téléchargement depuis la plateforme Numdam à l'issue d'un délai décidé en commun accord entre les revues et Mathdoc.</p>
<p>La diffusion en libre accès sur le site Numdam.org ne modifie en rien la situation des documents disponibles en matière de droits d'auteur ou de copyright. Numdam détient l'autorisation de diffusion sur ses propres serveurs mais ne peut en aucun cas concéder cette autorisation qui relève des ayant-droits de chaque document.</p>
<p>En conséquence il est nécessaire de vérifier la sécurité juridique de l'opération avant toute mise en ligne sur un serveur tiers. De façon générale, il est préférable d'obtenir un accord explicite de l'éditeur et des auteurs.</p>
<p>Voici quelques exemples :</p>
<p>Peuvent être republiés sans autorisation explicite de l'auteur ou de l'éditeur :</p>
<ul>
  <li>Les documents du domaine public, dans le respect du droit moral de l'auteur. (Ces documents sont très rares sur Numdam.)</li>
  <li>Les articles de revue publiés en libre accès sous licence Creative Commons, dans le respect des conditions prévues par la licence.</li>
</ul>
<p>Peuvent être republiés par l'auteur sans autorisation explicite de l'éditeur :</p>
<ul>
  <li>Les articles dans le respect des conditions prévues par le contrat d'édition</li>
  <li>Les articles récents publiés dans une revue dont la politique d'autoarchivage est décrite dans <a href="https://v2.sherpa.ac.uk/romeo/">Sherpa/Romeo</a> ou <a href="https://reseau-mirabel.info/site/page/politiques-publication">Mir@bel</a>, selon les conditions indiquées. (Attention : les conditions décrites dans ces sites ne sont pas toujours exactes, et dans tous les cas reflètent un état instantané de ces politiques.  Un article donné peut être soumis à des conditions différentes.)</li>
  <li>Tous les documents qui tombent sous le coup de l'article 30 de la loi pour une République Numérique (<a href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000033202746/">Loi n°2016-1321 du 7 octobre 2016</a>)</li>
</ul>
  {% else %}
    <h4 class="box-orange">General terms of use</h4>
    <br>
    <p>Numdam is a digital library, containing metadata and full text files of scientific articles. Using the service involves approval of the <strong>rules of good conduct</strong> which are listed below.<p>
    <p>Access to the database containing the bibliographical references of all the articles of all the participating journals is totally <strong>free</strong> via the search and browse functions. The database itself is the property of <a href="http://www.mathdoc.fr">Mathdoc</a>.
However metadata are available under <a href="http://creativecommons.org/publicdomain/zero/1.0/">licence CC0</a>. Numdam’s metadata are thus dedicated to the <strong>public domain</strong>. Numdam’s <a href="{% url 'metadata' %}">OAI-PMH server</a> can be used for systematic download of metadata in various schemas.</p>
    <p>The files containing the full text of articles are <strong>downloadable individually</strong> by users for research or educational purpose. It is forbidden to <strong>download a substantial volume of articles</strong> in order to assemble an entire volume of the paper edition or an author or subject based collection.
<strong>It is forbidden to modify any content available on the Numdam site</strong>. In particular, the copyright mention cannot be separated from the attached data, either during copying, transmission or printing of these data.</p>
    <p>An important part of the files containing the full texts of articles are dedicated to the public domain. Another part of the articles digitised by the Numdam program remain the property of the authors and the journal. However all journals have a moving-wall policy.</p>
<p>Open access posting on the Numdam.org website does not modify in any way the author’s rights or the copyright of the available documents. Numdam is authorized for posting on its own servers but cannot under any circumstances transfer this authorization, which remains the original owners’ responsibility for each document.</p>
<p>As a result, it is necessary to check the contractual terms before uploading any document to a third-party server. In general, it is better to obtain explicit agreement from the publisher and the authors.</p>
<p>Here are some examples:</p>
<p>May be republished without explicit permission from the author or the publisher:</p>
<ul>
  <li>Documents in the public domain, respecting the moral rights of the author. (These documents are very rare on Numdam.)</li>
  <li>Journal articles published in open access under a Creative Commons license, in compliance with the conditions set out in the license.</li>
</ul>
<p>May be republished by the author without explicit permission from the publisher:</p>
<ul>
  <li>Articles in compliance with the conditions provided for in the publishing contract</li>
  <li>Recent articles published in a journal whose self-archiving policy is described in <a href="https://v2.sherpa.ac.uk/romeo/">Sherpa / Romeo</a> or <a href="https://reseau-mirabel.info/site/page/politiques-publication">Mir@bel</a>, according to the conditions indicated. (Please note: the conditions described in these sites are not always exact, and in all cases reflect a state of these policies at a given point in time. A given article may be subject to different conditions.)</li>
  <li>All documents that fall under article 30 of the law for a Digital Republic (<a href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000033202746/">Law n°2016-1321 of October 7, 2016</a>)</li>
</ul>
  {% endif %}
{% endblock %}
