{% extends "template_page.html" %}
{% block left %}
<div id="left">
<center>
<img src="/static/numdam/img/rubon6.jpg" width="100" height="141" />
</center>
</div>
{% endblock %}
{% block content %}
<h3 class="spip">Ecrivez-nous</h3>
<p>Si vous avez des questions techniques, juridiques ou éditoriales ou si vous souhaitez simplement rentrer en contact avec l&#8217;équipe de MathDoc, veuillez utiliser le formulaire ci-dessous.</p>


<form method='post' action='/spip.php?rubrique6&amp;lang=fr#formulaire_ecrire_auteur_1' enctype='multipart/form-data'>

	<div><input name="lang" value="fr" type="hidden" />
<input name="id_rubrique" value="6" type="hidden" />
<input name="page" value="rubrique" type="hidden" /><input name='formulaire_action' type='hidden'
		value='ecrire_auteur' /><input name='formulaire_action_args' type='hidden'
		value='v/0x82B1PBYUP1GT/HP3IvjmzTpBY37JsTzlUQE/ZjtDorOAINY5siQm1uYEYH6V/7unGPUm/iAnnYhOBy2Dqsnywz83cVtnUsV6TajYGcK/LfiXUPGqJUSKMW4/ViJM9MdLDbERcHQquUQT' /></div>


	<fieldset>
		<legend>Envoyer un message</legend>
		<ul>
			<li class='saisie_email_message_auteur obligatoire'>
				<label for="email_message_auteur_1">Votre adresse email</label>

				<input type="text" class="text" name="email_message_auteur" id="email_message_auteur_1" value="" size="30" />
			</li>
			<li class='saisie_sujet_message_auteur obligatoire'>
				<label for="sujet_message_auteur_1">Sujet</label>

				<input type="text" class="text" name="sujet_message_auteur" id="sujet_message_auteur_1" value="" size="30" />
			</li>
			<li class='saisie_texte_message_auteur obligatoire'>
				<label for="texte_message_auteur_1">Texte de votre message :</label>

				<textarea name="texte_message_auteur" id="texte_message_auteur_1" rows="8" cols="60"></textarea>
			</li>
		</ul>
	</fieldset>

	<p style="display: none;">
		<label for="nobot">Veuillez laisser ce champ vide&nbsp;:</label>
		<input type="text" class="text" name="nobot" id="nobot" value="" size="10" />
	</p>
	<p class="boutons"><input type="submit" class="submit" name="valide" value="Envoyer un message" /></p>
</form>

{% endblock %}
