{% extends "template_page.html" %}
{% block left %}
<div id="left">
<center>
<img src="/static/numdam/img/rubon6.jpg" width="100" height="141" />
</center>
</div>
{% endblock %}
{% block content %}
<h3 class="spip">Contact us</h3>
<p>If you have technical, juridical or editorial questions, or if you simply want to contact the Cellule MathDoc team, please use the form bellow.</p>

<form method='post' action='/spip.php?rubrique6&amp;lang=en#formulaire_ecrire_auteur_1' enctype='multipart/form-data'>

	<div><input name="lang" value="en" type="hidden" />
<input name="id_rubrique" value="6" type="hidden" />
<input name="page" value="rubrique" type="hidden" /><input name='formulaire_action' type='hidden'
		value='ecrire_auteur' /><input name='formulaire_action_args' type='hidden'
		value='v/0x82B1PBYUP1kS4Rtkax3o86eiY35Z8YealXz/DkKayM3z51IBdjQEtfYkYJAJABUdFrub4S2YA+reQq7P1z7ah/xbbXJ0GsyxUMXoXUJLMPGI6XwfPyVdFCqPb/oWCQGoOdHyLF8Le0bo1w==' /></div>


	<fieldset>
		<legend>To send a message</legend>
		<ul>
			<li class='saisie_email_message_auteur obligatoire'>
				<label for="email_message_auteur_1">Your e-mail address</label>

				<input type="text" class="text" name="email_message_auteur" id="email_message_auteur_1" value="" size="30" />
			</li>
			<li class='saisie_sujet_message_auteur obligatoire'>
				<label for="sujet_message_auteur_1">Subject</label>

				<input type="text" class="text" name="sujet_message_auteur" id="sujet_message_auteur_1" value="" size="30" />
			</li>
			<li class='saisie_texte_message_auteur obligatoire'>
				<label for="texte_message_auteur_1">Text of your message:</label>

				<textarea name="texte_message_auteur" id="texte_message_auteur_1" rows="8" cols="60"></textarea>
			</li>
		</ul>
	</fieldset>

	<p style="display: none;">
		<label for="nobot">Please leave this field empty:</label>
		<input type="text" class="text" name="nobot" id="nobot" value="" size="10" />
	</p>
	<p class="boutons"><input type="submit" class="submit" name="valide" value="Send a message" /></p>
</form>
{% endblock %}
