{% extends "conditions-base.html" %}

{% load i18n %}

{% block title %}{% trans 'Numdam - Copyright' %}{% endblock %}

{% block inner_content %}
  {% if LANGUAGE_CODE == 'fr' %}
    <h4 class="box-orange">Copyright</h4>
    <br>
    <p>Pour certains articles, les contrats d’édition ne présentaient pas une cession des droits de publication numérique ou de présentation sur la toile. Dans ce cas, il revient aux auteurs d’autoriser explicitement la ou les revues concernées à afficher leurs articles sur Internet.</p>
    <p>Mathdoc recherche les auteurs ou leurs ayants droit afin d’obtenir les cessions de droit nécessaires à la numérisation et à la diffusion des collections relevant du programme Numérisation de documents anciens mathématiques.</p>
    <p>Nous invitons les auteurs qui n’ont pas encore cédé explicitement leurs droits à entrer en <a href="{% url 'contact' %}">contact</a> avec nous.</p>
  {% else %}
    <h4 class="box-orange">Copyright</h4>
    <br>
    <p>For some articles, the copyright transfer agreement didn’t foresee the possibility of publication and dissemination on the web. When in that case, authors should explicitly authorize the journal(s) to display their articles on the Internet.</p>
    <p>Mathdoc is looking for the copyright owners in order to obtain the copyright transfer allowing digitisation and dissemination of Numdam collections. We invite the authors to <a href="{% url 'contact' %}">contact us</a>.</p>
  {% endif %}
{% endblock %}
