{% extends "about-base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Numdam - Crédits" %}
{% endblock title %}
{% block inner_content %}
  {% if LANGUAGE_CODE == 'fr' %}
    <h4 class="box-orange">Crédits</h4>
    <br>
    <p>Nous remercions toutes les personnes et institutions qui ont permis à Numdam de devenir une bibliothèque numérique fiable, pérenne et bien fournie. En particulier les éditeurs des publications pour leur autorisation à diffuser librement des contenus souvent récents.</p>
    <br>
    <h4>Origine des documents</h4>
    <p>La réussite de ce programme a été rendue possible, pour une grande part, par l&#8217;aide que nous fournissent
      régulièrement les bibliothèques du <a href="http://www.rnbm.org" class='spip_out' rel='external'>RNBM</a> (réseau
      national des bibliothèques de mathématiques) en nous confiant leurs collections à des fins de numérisation.</p>
    <p>Plus particulièrement, nous souhaitons remercier&nbsp;:
    <ul class="liste-a-puce">
      <li><a href="https://www-fourier.univ-grenoble-alpes.fr/?q=fr/content/ressources-documentaires">La bibliothèque Jean-Pierre Demailly à Grenoble&nbsp;</a>;</li>
      <li><a href="https://www.ihp.fr/fr/bibliotheque">La bibliothèque de l&#8217;institut Henri Poincaré à Paris&nbsp;</a>;</li>
      <li><a href="https://irma.math.unistra.fr/libnews/actualites-bib.html">La bibliothèque de l&#8217;IRMA à Strasbourg&nbsp;</a>;</li>
      <li><a href="https://www.math.ens.psl.eu/bibliotheque/">La bibliothèque de mathématiques de l&#8217;ENS à Paris&nbsp;</a>;</li>
      <li><a href="https://www.nimes.fr/bibliotheque/nos-bibliotheques/bibliotheque-carre-dart-jean-bousquet.html">La bibliothèque municipale du Carré d&#8217;art de Nîmes&nbsp;</a>;</li>
      <li><a href="https://documentation-irmar.univ-rennes.fr/">La bibliothèque de l'IRMAR à Rennes&nbsp;</a>;</li>
      <li><a href="https://bibliotheque.imo.universite-paris-saclay.fr/">La bibliothèque mathématique Jacques Hadamard</a>.</li>
    </ul>
    <p>La Société mathématique de France a fourni les originaux papiers de plusieurs séries (notamment Bulletin de la SMF, séminaire Bourbaki, Astérisque).</p>
    <br>
    <h4>Personnes ressource</h4>
    <p>Nous souhaitons vivement remercier&nbsp;:</p>
    <ul class="liste-a-puce">
      <li>pour son expertise DjVu&nbsp;: Rainer Nörenberg de l&#8217;université de Freiburg&nbsp;;</li>
      <li>pour avoir fait don de la version originale des <a href="{% url 'acta-issues' 'CSHM' %}"><i>Cahiers du séminaires d&#8217;histoire des
        mathématiques</i></a> et pour nous avoir confié des exemplaires de séminaires de l&#8217;IHP&nbsp;: Hélène Nocton,
        ancienne directrice de la bibliothèque de l&#8217;institut Henri Poincaré&nbsp;;
      </li>
      <li>Pour avoir contribué à la numérisation des <a href="{% url 'journal-issues' 'AMPA' %}"><i>Annales de Gergonne</i></a>&nbsp;: Christian Gérini&nbsp;;</li>
      <li>Pour avoir défendu et facilité la numérisation de revues de statistiques : Pierre Cazes.</li>
    </ul>
    <br>
    <h4>Sources de financement</h4>
    <p>Le programme de numérisation Numdam a bénéficié de nombreuses sources de financement :</p>
    <ul class="liste-a-puce">
      <li>Le financement initial a été fourni par le ministère de l'Enseignement supérieur sur crédits CNRS (phases I et II, 2000-2006).</li>
      <li>L'université Joseph Fourier (Grenoble 1) a permis la réalisation de la phase III (2007-2010).</li>
      <li>La numérisation de séminaires de mathématiques (Secrétariat mathématique) a été rendue possible par une subvention du programme BRAIN de la région Rhône-Alpes.</li>
      <li>La numérisation des <a href="{% url 'journal-issues' 'AFST' %}"><i>Annales de la Faculté des sciences de Toulouse</i></a> a bénéficié d'une subvention de l’université Paul Sabatier (Toulouse).</li>
      <li>La numérisation des Œuvres de Laurent Schwartz a bénéficé d'une subvention de l'École polytechnique, et a été l'objet  d'une collaboration avec la Société mathématique de France. </li>
      <li>Le cinquième segment de la Bibliothèque scientifique numérique (MESR) a financé la quatrième phase de Numdam (2014-2015).</li>
      <li>En 2017, l'IDEX de Grenoble soutient la numérisation de la collection Astérisque de la SMF.</li>
      <li>En 2021, Mathdoc reçoit une subvention exceptionnelle de l’INSMI qui permet l’achat d’un scanner adapté à la numérisation de documents anciens et précieux.</li>
    </ul>
    <p>Le développement de Numdam, la conduite des projets de numérisation et d'acquisition des corpus nativement numériques bénéficient pour leur part du soutien inestimable des deux tutelles de Mathdoc : l'Université Grenoble Alpes et CNRS Mathématiques – INSMI.</p>
    <br>
    <h4 id="credits-publishers">Éditeurs</h4>
    <p>Nous remercions tous les éditeurs des documents archivés dans Numdam pour leur coopération, qui nous ont permis de numériser, d'indexer, d'archiver et d'afficher leurs publications.</p>
    <p>Plus particulièrement, nous souhaitons remercier les éditeurs qui nous ont fourni des documents numérisés et / ou sous format nativement numérique :</p>
    <ul class="liste-a-puce">
      <li>EDP Sciences pour les revues COCV, ITA, M2AN, PS, RO</li>
      <li>Elsevier et Institute of Mathematical Statistics pour la revue AIHPB</li>
      <li>EMS Press pour les revues AIHPC et RSMUP</li>
      <li>Scuola Normale Superiore di Pisa pour ASNSP</li>
      <li>Société Française de Statistique pour les revues JSFS et RSA</li>
      <li>Société mathématique de France pour les revues ASENS, BSMF et RHM et pour les  collections d’ouvrages AST et MSMF</li>
      <li>Springer pour la revue PMIHES</li>
      <li>World Scientific pour les 4 premiers volumes de CML</li>

    </ul>
  {% else %}
    <h4 class="box-orange">Acknowledgements</h4>
    <br>
    <p>We thank all the people and institutions that have enabled Numdam to become a reliable, long-lasting and well-supplied digital library. In particular the publishers for their authorization to freely disseminate content that is often recent.</p>
    <br>
    <h4>Sources of documents</h4>
    <p>The success of this program has largely been made possible by the regular support provided to us by the libraries of <a href="http://www.rnbm.org" class='spip_out' rel='external'>RNBM</a> (National Network of Mathematics Libraries) by entrusting us with their collections for digitisation purposes.</p>
    <p>In particular, we would like to thank :
    <ul class="liste-a-puce">
      <li><a href="https://www-fourier.univ-grenoble-alpes.fr/?q=fr/content/ressources-documentaires">The library of the Fourier institute in Grenoble&nbsp;</a>;</li>
      <li><a href="https://www.ihp.fr/fr/bibliotheque">The library of the Henri Poincaré institute in Paris&nbsp;</a>;</li>
      <li><a href="https://irma.math.unistra.fr/libnews/actualites-bib.html">The library of IRMA in Strasbourg&nbsp;</a>;</li>
      <li><a href="https://www.math.ens.psl.eu/bibliotheque/">The mathematics library of ENS in Paris&nbsp;</a>;</li>
      <li><a href="https://www.nimes.fr/bibliotheque/nos-bibliotheques/bibliotheque-carre-dart-jean-bousquet.html">The public library Carré d&#8217;art in Nîmes&nbsp;</a>;</li>
      <li><a href="https://documentation-irmar.univ-rennes.fr/">The library IRMAR in Rennes </a>;</li>
      <li><a href="https://bibliotheque.imo.universite-paris-saclay.fr/">The Jacques Hadamard mathematical library</a>.</li>
    </ul>
    <p>The Société mathématique de France provided the original documents of several series (in particular Bulletin de la SMF, séminaire Bourbaki, Astérisque).</p>
    <br>
    <h4>People</h4>
    <p>We would like to thank&nbsp;:</p>
    <ul class="liste-a-puce">
      <li>For his DjVu expertise&nbsp;: Rainer Nörenberg of the University of Freiburg&nbsp;;</li>
      <li>For donating the original version of the <a href="{% url 'acta-issues' 'CSHM' %}"><i>Cahiers des séminaires d'histoire des mathématiques</i></a> and for giving us copies of IHP seminars&nbsp;: Hélène Nocton,
        former director of the library of the Henri Poincaré institute&nbsp;;
      </li>
      <li>For having contributed to the digitisation of the <a href="{% url 'journal-issues' 'AMPA' %}"><i>Annales de Gergonne</i></a>&nbsp;: Christian Gérini&nbsp;;</li>
      <li>For defending and facilitating the digitisation of statistic journals : Pierre Cazes.</li>
    </ul>
    <br>
    <h4>Funding sources</h4>
    <p>Numdam's digitisation program has benefited from numerous funding sources :</p>
    <ul class="liste-a-puce">
      <li>The initial funding was provided by the Ministry of Higher Education through CNRS budget (phases I and II, 2000-2006).</li>
      <li>The Joseph Fourier University (Grenoble 1) supported the realization of phase III (2007-2010).</li>
      <li>The digitisation of mathematics seminars (secrétariat mathématique, Paris) was made possible by a grant from the BRAIN program of the Rhône-Alpes region.</li>
      <li>The digitisation of the <a href="{% url 'journal-issues' 'AFST' %}"><i>Annales de la Faculté des sciences de Toulouse</i></a> has received a grant from the Paul Sabatier University (Toulouse).</li>
      <li>The digitisation of the Works of Laurent Schwartz has received a grant from École polytechnique, and was a cooperation with the Société mathématique de France. </li>
      <li>The fifth segment of the Digital Scientific Library (a large infrastructure of the French Ministry of Research) funded the fourth phase of Numdam (2014-2015).</li>
      <li>In 2017, the IDEX of Grenoble supports the digitisation of the Astérisque collection of the SMF.</li>
      <li>In 2021, Mathdoc receives an exceptional grant from INSMI which allows the purchase of a scanner adapted to the digitization of old and precious documents.</li>
    </ul>
    <p>The development of Numdam, the conduct of digitisation projects and the acquisition of born digital corpus benefit from invaluable continuing support from the University of Grenoble Alpes and CNRS Mathematics – INSMI, of which Mathdoc is a joint unit.</p>
    <br>
    <h4 id="credits-publishers">Publishers</h4>
    <p>We thank all publishers of all the documents archived in Numdam for their cooperation, allowing us to digitise, index, archive, and display their publications.</p>
    <p>We especially thank the publishers that provide us with post-digitisation material :</p>
    <ul class="liste-a-puce">
      <li>EDP Sciences for COCV, ITA, M2AN, PS, RO</li>
      <li>Elsevier et Institute of Mathematical Statistics for AIHPB</li>
      <li>EMS Press pour for AIHPC and RSMUP</li>
      <li>Scuola Normale Superiore di Pisa for ASNSP</li>
      <li>Société Française de Statistique for JSFS et RSA</li>
      <li>Société mathématique de France for ASENS, BSMF, RHM and for AST et MSMF</li>
      <li>Springer for PMIHES</li>
      <li>World Scientific for CML (1st four volumes)</li>
    </ul>
  {% endif %}
{% endblock %}
