{% extends "about-base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Numdam - DML" %}
{% endblock title %}

{% block inner_content %}

  {% if LANGUAGE_CODE == 'fr' %}
    <h4 class="box-orange">La bibliothèque numérique de mathématiques</h4>
    <br>
    <p>La bibliothèque numérique Numdam s'insère dans un ensemble de services visant à rendre accessibles les textes de référence en mathématiques à destination des chercheurs, mais aussi du grand public.</p>
    <p>Numdam fait partie d'un réseau mondial dont l'objectif est de fournir une archive exhaustive, en libre accès à terme, des textes publiés en mathématiques (niveau recherche). Au niveau européen, <a href="https://initiative.eudml.org/eudml-initiative">l'initiative EuDML</a> a permis une première avancée significative dans cette direction. L'union mathématique internationale s'est prononcée en faveur de cet objectif (voir <a href="https://www.mathunion.org/imu-net/archive/2016/imu-net-077">la page dédiée</a> sur le site du Committee on Electronic Information and Communication).</p>
  {% else %}
    <h4 class="box-orange">The digital mathematics library</h4>
    <br>
    <p>The digital library Numdam is part of a network of services designed to make reference texts in mathematics available to researchers and the general public.</p>
    <p>Numdam is part of a global network whose objective is to provide an exhaustive, open access archive of texts published in mathematics (at research level). At European level, <a href="https://initiative.eudml.org/eudml-initiative">the EuDML initiative</a> has made significant progress in this direction. The International mathematical union is supporting this objective (see <a href="https://www.mathunion.org/imu-net/archive/2016/imu-net-077 ">the dedicated page</a> on the Committee on Electronic Information and Communication website)</p>
  {% endif %}
{% endblock %}