<form action="{% url 'edit-abstract' article.id %}" method="post" id="edit-abstract-form">
{% csrf_token %}
<table>
<tr>
      <td colspan="3" align="left"><b>Modifier un article</b></td></tr>
    <tr>
      <td align="left">Langue</td>
      <td>{{ form.lang }}</td></tr>

    <tr>
      <td align="left">Abstract</td>
      <td>{{ form.ab }}</td></tr>
      <td><input type="submit" name="submit" value=" Save " /> </td>
      </tr>
</table>
{{ form.id }}
{{ form.errors }}
</form>
