{% extends "prize-base.html" %}
{%  load helpers %}
{% block inner_content %}
  <ul>
    <li>2022 : <a href="{% pretty_search 'search' 'c' '"Duminil-Copin, Hugo"' %}">Hugo Duminil-Copin</a>, Maryna Viazovska, June Huh, James Maynard</li>
    <li>2018 : <a href="{% pretty_search 'search' 'c' '"Figalli, Alessio"' %}">Alessio Figalli</a>, Caucher Birkar, Peter Scholze, <a href="{% pretty_search 'search' 'c' '"Venkatesh, Akshay"' %}">Akshay Venkatesh</a></li>
    <li>2014 : <a href="{% pretty_search 'search' 'c' '"Avila, Artur"' %}">Artur Avila</a>, Manjul Bhargava, <a href="{% pretty_search 'search' 'c' '"Hairer, Martin"' %}">Martin Hairer</a>, Maryam Mirzakhani</li>
    <li>2010 : <a href="{% pretty_search 'search' 'c' '"Villani, Cédric"' %}">Cédric Villani</a>, <a href="{% pretty_search 'search' 'c' '"Ngô, Bảo Châu"' %}">Ngô Bảo Châu</a>, <a href="{% pretty_search 'search' 'c' '"Lindenstrauss, Elon"' %}">Elon Lindenstrauss</a>, Stanislav Smirnov</li>
    <li>2006 : Andrei Okounkov, Grigori Perelman {% if LANGUAGE_CODE == 'fr' %}[médaille déclinée]{% else %}[declined]{% endif %}, <a href="{% pretty_search 'search' 'c' '"Tao, Terence"' %}">Terence Tao</a>, <a href="{% pretty_search 'search' 'c' '"Werner, Wendelin"' %}">Wendelin Werner</a></li>
    <li>2002 : <a href="{% pretty_search 'search' 'c' '"Lafforgue, Laurent"' %}">Laurent Lafforgue</a>, <a href="{% pretty_search 'search' 'c' '"Voevodsky, Vladimir"' %}">Vladimir Voevodsky</a></li>
    <li>1998 : Richard Ewen Borcherds, William Timothy Gowers, <a href="{% pretty_search 'search' 'c' '"Kontsevich, Maxim"' %}">Maxim Kontsevich</a>, <a href="{% pretty_search 'search' 'c' '"McMullen, Curtis T."' %}">Curtis McMullen</a></li>
    <li>1994 : Efim Zelmanov, <a href="{% pretty_search 'search' 'c' '"Lions, Pierre-Louis"' %}">Pierre-Louis Lions</a>, <a href="{% pretty_search 'search' 'c' '"Bourgain, Jean"' %}">Jean Bourgain</a>, <a href="{% pretty_search 'search' 'c' '"Yoccoz, Jean-Christophe"' %}">Jean-Christophe Yoccoz</a></li>
    <li>1990 : Vladimir Drinfeld, Vaughan Frederick Randal Jones, Shigefumi Mori, Edward Witten</li>
    <li>1986 : <a href="{% pretty_search 'search' 'c' '"Donaldson, Simon K."' %}">Simon Donaldson</a>, <a href="{% pretty_search 'search' 'c' '"Faltings, Gerd"' %}">Gerd Faltings</a>, Michael Freedman</li>
    <li>1982 : <a href="{% pretty_search 'search' 'c' '"Connes, Alain"' %}">Alain Connes</a>, <a href="{% pretty_search 'search' 'c' '"Thurston, W."' %}">William Thurston</a> , <a href="{% pretty_search 'search' 'c' '"Yau, Shing-Tung"' %}">Shing-Tung Yau</a></li>
    <li>1978 : <a href="{% pretty_search 'search' 'c' '"Deligne, Pierre"' %}">Pierre Deligne</a>, <a href="{% pretty_search 'search' 'c' '"Fefferman, Charles Louis"' %}">Charles Fefferman</a>, <a href="{% pretty_search 'search' 'c' '"Margulis, Gregory"' %}">Gregory Margulis</a>, <a href="{% pretty_search 'search' 'c' '"Quillen, Daniel"' %}">Daniel Quillen</a></li>
    <li>1974 : <a href="{% pretty_search 'search' 'c' '"Bombieri, Enrico"' %}">Enrico Bombieri</a>, <a href="{% pretty_search 'search' 'c' '"Mumford, David"' %}">David Mumford</a></li>
    <li>1970 : <a href="{% pretty_search 'search' 'c' '"Baker, A."' %}">Alan Baker</a>, <a href="{% pretty_search 'search' 'c' '"Hironaka, Heisuke"' %}">Heisuke Hironaka</a>, Sergei Novikov, <a href="{% pretty_search 'search' 'c' '"Thompson, John Griggs"' %}">John Griggs Thompson</a></li>
    <li>1966 : <a href="{% pretty_search 'search' 'c' '"Atiyah, Michael F."' %}">Michael Atiyah</a>, Paul Cohen, <a href="{% pretty_search 'search' 'c' '"Grothendieck, Alexander"' %}">Alexander Grothendieck</a>, <a href="{% pretty_search 'search' 'c' '"Smale, Stephen"' %}">Stephen Smale</a></li>
    <li>1962 : <a href="{% pretty_search 'search' 'c' '"Hörmander, Lars"' %}">Lars Hörmander</a>, <a href="{% pretty_search 'search' 'c' '"Milnor, John Willard"' %}">John Milnor</a></li>
    <li>1958 : Klaus Roth, <a href="{% pretty_search 'search' 'c' '"Thom, René"' %}">René Thom</a></li>
    <li>1954 : <a href="{% pretty_search 'search' 'c' '"Kodaira, K."' %}">Kunihiko Kodaira</a>, <a href="{% pretty_search 'search' 'c' '"Serre, Jean-Pierre"' %}">Jean-Pierre Serre</a></li>
    <li>1950 : <a href="{% pretty_search 'search' 'c' '"Schwartz, Laurent"' %}">Laurent Schwartz</a>, Atle Selberg</li>
    <li>1936 : <a href="{% pretty_search 'search' 'c' '"Ahlfors, L.V."' %}">Lars Ahlfors, <a href="{% pretty_search 'search' 'c' '"Douglas, Jesse"' %}">Jesse Douglas</a></li>
  </ul>


















{% endblock %}
