{% extends "help-base.html" %}
{% block text %}
<h3 class="sec-title">Les formats disponibles</h3>
<p>Le texte intégral des articles est disponible sous forme d&#8217;images pour préserver son intégrité. Ces images ont été obtenues après numérisation à haute résolution (600 dpi) en noir et blanc. Ensuite, elles ont été assemblées en un seul fichier.</p>

<p>Deux formats sont proposés à la consultation&nbsp;: PDF et Djvu. Ils peuvent nécessiter le téléchargement de plugins spécifiques que vous trouverez <a href="{% url 'template_page' name='plugins' lang=LANGUAGE_CODE %}">ici</a>.</p>

<p>Le format <strong>PDF</strong> est aujourd&#8217;hui très largement répandu dans le domaine de la publication électronique et fait figure de standard. Il offre la possibilité d&#8217;inclure des liens et du texte dit caché qui permet de trouver un mot à l&#8217;intérieur de l&#8217;article (fonction Rechercher du plugin). Les images y sont incluses au format compressé TIFF G4. une page près en moyenne 100 ko.</p>

<p>Le format <strong>DjVu</strong> est conçu pour la publication en ligne de documents numérisés. Il offre les mêmes fonctionnalités que le PDF et surtout une compression plus importante, ce qui réduit la taille des fichiers.</p>
{% endblock %}
