{% extends "help-base.html" %}
{% load i18n %}

{% block title %}{% trans 'Numdam - Fonctionnalités et Ergonomie' %}{% endblock %}

{% block inner_content %}
  {% if LANGUAGE_CODE == 'fr' %}
    <h4 class="box-orange">Fonctionnalités</h4>
    <br>
    <p>L'interface de Numdam permet :
      <ul>
        <li>d'une part, de rechercher et de naviguer dans des collections, qui contiennent des informations détaillées (métadonnées) sur chaque document, en particulier des liens pertinents autant que possible ;</li>
        <li>d'autre part de télécharger un fichier texte intégral pour chaque document. Ce fichier est la copie fidèle soit de la version papier, soit de la version nativement numérique produite par l'éditeur.</li>
      </ul>
    </p>
    <br>
    <h4 class="box-orange">Ergonomie</h4>
    <br>
    <p>Il est possible de changer la langue de l'interface (anglais ou français) avec le bouton en haut de page.</p>
    <p>Il est possible de modifier l'affichage des formules mathématiques avec l'autre bouton dont la signification est la suivante :
      <ul>
        <li>TeX ON signifie que le code source TeX des formules sera affiché. Il n'est pas garanti que ce code soit compilable.</li>
        <li>TeX OFF signifie que les formules seront affichées sous forme graphique, grâce à <a href="https://www.mathjax.org/">MathJax</a> à partir de <a href="https://www.w3.org/Math/">MathML</a>. Ce logiciel est assez puissant, nous renvoyons à sa documentation qui permet d'en comprendre toutes les fonctionnalités et possibilités de configuration.</li>
      </ul>
    </p>
  {% else %}
    <h4 class="box-orange">Features</h4>
    <br>
    <p>Numdam's interface allows you :
      <ul>
        <li>On one hand, to search and navigate in collections, which contains detailed information (metadata) on each document, in particular relevant links as much as possible ;</li>
        <li>On the other hand to download a full text file for each document. This file is the faithful copy of either the paper version or the born digital version produced by the publisher.</li>
      </ul>
    </p>
    <br>
    <h4 class="box-orange">Ergonomics</h4>
    <br>
    <p>It is possible to change the interface language (English or French) with the button at the top of the page.</p>
    <p>It is possible to modify the display of the mathematical formulas with the other button whose meaning is the following :</p>
      <ul>
        <li>TeX ON means that the TeX source code of the formulas will be displayed. There is no guarantee that this code can be compiled.</li>
        <li>TeX OFF means that formulas will be displayed in graphical form, using <a href="https://www.mathjax.org/">MathJax</a> from <a href="https://www.w3.org/Math/">MathML</a>. This software is quite powerful, we refer to its documentation which allows to understand all the features and configurations.</li>
      </ul>
    </p>
  {% endif %}
{% endblock %}
