{% extends "help-base.html" %}
{% block text %}
<h3 class="sec-title">File formats used</h3>
<p>The full text of the articles is available in image form to preserve its integrity. The pages of a given article were scanned in black and white at 600 dpi, then assembled into a single file.</p>

<p>Two formats are proposed for display, which might require configuration of the client : PDF format requires installation of Acrobat reader (free software alternatives exist, such as ghostscript, ghostview, Xpdf...) ; DjVu format, less widely used, can be displayed inside the browser (Internet explorer or Netscape) by installing the aditional module (plug in). You could find plugins <a href="{% url 'template_page' name='plugins' lang=LANGUAGE_CODE %}">here</a>.</p>

<p><img src="/static/numdam/img/puce.gif" width="8" height="11" class="puce" alt="-" />&nbsp;<strong>PDF format</strong>, widely used and standard in electronic publishing, allows to enrich the images with links, and a "hidden text", which can be used to find words inside the article. The images are included in compressed TIFF G4 format, which gives good results for monochromatic text pages : an average page weighs about 100 kilobytes.</p>

<p><img src="/static/numdam/img/puce.gif" width="8" height="11" class="puce" alt="-" />&nbsp;<strong>DjVu format</strong>, created for online publishing of digitized documents, offers the same functionalities as well as a more powerful compression, which reduces the size of files. However, the DjVu files currently available contain neither links nor hidden text, their size is roughly half of the corresponding PDF (about 50 kilobytes per page).</p>
{% endblock %}
