{% extends "help-base.html" %}

{% load i18n %}

{% block title %}Numdam - {% trans 'Textes intégraux' %}{% endblock %}


{% block inner_content %}
  {% if LANGUAGE_CODE == 'fr' %}
    <h4 class="box-orange">Textes intégraux</h4>
    <br>
    <p>Pour les articles numérisés, le texte intégral est disponible sous forme d’images avec texte caché permettant la recherche dans le document. Ces images ont été obtenues après numérisation à haute résolution (600 dpi) en noir et blanc. Le texte caché par reconnaissance optique non corrigée. Les articles nativement numériques en provenance directe de leurs éditeurs sont inchangés.</p>
    <p>Pour tous les contenus, deux formats sont proposés à la consultation ou au téléchargement : PDF et Djvu.
      <ul>
        <li style="margin-bottom:10px">Le format PDF est actuellement un standard de la publication électronique. Il offre la possibilité d’inclure des liens et du texte caché qui permet de trouver un mot à l’intérieur de l’article.
Le lecteur de référence pour les fichiers PDF est <a href="https://get.adobe.com/fr/reader/">Adobe Reader</a>.
De nombreux navigateurs ou systèmes d'exploitation ont des lecteurs de PDF intégrés, qui ne supportent cependant pas toujours toutes les fonctionnalités du format PDF. Il existe aussi des lecteurs de PDF libres : <a href="http://www.ghostscript.com/download/">Ghostscript</a> ainsi que l’excellent <a href="http://www.foolabs.com/xpdf/">Xpdf</a>. D'autres <a href="http://pdfreaders.org/">lecteurs de PDF</a> open source sont disponibles.</li>
        <li>Le format DjVu est conçu pour la publication en ligne de documents numérisés. Il offre les mêmes fonctionnalités que le PDF et surtout une compression plus importante, ce qui réduit la taille des fichiers.
Le lecteur de référence pour les fichiers DjVu est produit par la société Cuminas et <a href="https://www.cuminas.jp/en/downloads/download">téléchargeable gratuitement</a>.
Il existe également une bibliothèque libre multiplateforme développée par les créateurs du format : <a href="http://djvu.sourceforge.net/">DjVu Libre</a>.</li>
      </ul>
    </p>
  {% else %}
    <h4 class="box-orange">Full texts</h4>
    <br>
    <p>For scanned articles, the full text is available as images with hidden text allowing to search within the document. These images were scanned at high-resolution (600 dpi) in black and white. Born digital articles coming directly from their publishers are unchanged.</p>
    <p>For all the content, two formats are available for screen display or download: PDF and DjVu.
      <ul>
        <li style="margin-bottom:10px">The PDF format is currently a standard of electronic publication. It offers the ability to include links and hidden text that allows you to find a word inside the document.
The reference reader for PDF files is <a href="https://get.adobe.com/reader">Adobe Reader</a>.
Many browsers or operating systems have built-in PDF readers that do not always support all PDF features. There are also free PDF readers: <a href="http://www.ghostscript.com/download/">Ghostscript</a> as well as the excellent <a href="http://www.foolabs.com/xpdf/">Xpdf</a>. Other open source <a href="http://pdfreaders.org/">PDF readers</a> are available.</li>
        <li>The DjVu format is designed for online publishing of scanned documents. It offers the same features as the PDF and especially a larger compression, which reduces the file size.
The reference player for DjVu files is produced by the Cuminas company and can be <a href="https://www.cuminas.jp/en/downloads/download">downloaded free of charge</a>.
There is also an open source multiplatform library developed by the creators of the format: <a href="http://djvu.sourceforge.net/">DjVu Libre</a>.</li>
      </ul>
    </p>
  {% endif %}
{% endblock %}
