{% extends "prize-base.html" %}
{% load helpers %}
{% block inner_content %}
  <ul>
    <li>2016: <a href="{% pretty_search 'search' 'c' '"Voisin, Claire"' %}">Claire Voisin</a></li>
    <li>2004: <a href="{% pretty_search 'search' 'c' '"Connes, Alain"' %}">Alain Connes</a></li>
    <li>1987: <a href="{% pretty_search 'search' 'c' '"Serre, Jean-Pierre"' %}">Jean Pierre Serre</a></li>
    <li>1976: <a href="{% pretty_search 'search' 'c' '"Cartan, Henri"' %}">Henri Cartan</a></li>
    <li>1956: <a href="{% pretty_search 'search' 'c' '"Hadamard, J."' %}">Jacques Hadamard</a></li>
    <li>1954: <a href="{% pretty_search 'search' 'c' '"Borel, Émile"' %}">Émile Borel</a></li>
  </ul>


















{% endblock %}
