{% extends "help-base.html" %}

{% load i18n %}

{% block title %}Numdam - {% trans 'Bibliographies' %}{% endblock %}
{% block inner_content %}
  {% if LANGUAGE_CODE == 'fr' %}
    <h4 class="box-orange">Bibliographies</h4>
    <br>
    <p>Tout est mis en œuvre pour proposer des données de la plus grande qualité. Cependant, certains éditeurs de contenu nativement numérique ne transmettent pas les bibliographies ou les transmettent dans un format non exploitable par Numdam. Dans ce cas la bibliographie des articles peut ne pas être incluse dans la notice des documents.</p>
<p>Les bibliographies font l'objet d'un travail en interne sur chaque référence pour y ajouter des liens vers les références présentes dans les bases de données de documents mathématiques (<a href="https://zbmath.org/">zbMATH</a>, <a href="https://mathscinet.ams.org">MathSciNet</a>, <a href="http://numdam.org">Numdam</a>, <a href="https://eudml.org/">EuDML</a>), et vers le DOI, et/ou le texte intégral s'il existe.</p>
<p>De plus, un contrôle qualité est effectué sur chaque référence bibliographique, mais il ne va pas jusqu'à les corriger puisque Numdam respecte entièrement les publications en l'état. Ceci signifie que les erreurs originelles subsistent. Si toutefois vous constatez des erreurs au niveau des liens établis, merci de faire remonter vos remarques à <a href="mailto:numdam_webmaster@listes.mathdoc.fr">numdam_webmaster@listes.mathdoc.fr</a>.</p>
  {% else %}
    <h4 class="box-orange">References</h4>
    <br>
<p>A best effort is made to provide data of the highest quality to readers. However, some publishers of native digital content either do not provide references or provide them in a format that cannot be used by Numdam. In this case, the article record may not include the bibliographic references.</p>
<p>A matching process is applied to each reference to link it to the citation in mathematical science databases (<a href="https://zbmath.org/">zbMATH</a>, <a href="https://mathscinet.ams.org">MathSciNet</a>, <a href="http://numdam.org">Numdam</a>, <a href="https://eudml.org/">EuDML</a>), and to the DOI, and/or the full text whenever it is available.</p>
<p>In addition, quality control is performed on each bibliographic reference, but no corrections are made. Numdam honors the integrity of the original publication and thus any original errors remain. However, if you notice any errors in the links, please send your comments to <a href="mailto:numdam_webmaster@listes.mathdoc.fr">numdam_webmaster@listes.mathdoc.fr</a>.</p>
  {% endif %}
{% endblock %}
