{% extends "help-base.html" %}
{% load i18n %}

{% block title %}{% trans 'Numdam - Aide' %}{% endblock %}

{% block inner_content %}
  {% if LANGUAGE_CODE == 'fr' %}
    <h4 class="box-orange">Fonctionnement du moteur de recherche</h4>
    <br>
    <p>L'opérateur booléen AND est utilisé avec les mots clés spécifiés dans la barre de recherche. La recherche est insensible à la casse et s'opère sur des mots entiers. '*' peut être utilisé pour rechercher des parties de mots. Un mot ou une expression peut être mise entre guillemets pour rechercher une correspondance exacte, par exemple "spin 1/2".</p>
    <p>Les résultats sont obtenus grâce à un score calculé à partir de :
      <ul>
        <li>la fréquence d'un mot clé dans le document,</li>
        <li>la fréquence du mot clé dans l'ensemble des documents de Numdam,</li>
        <li>la pondération du champ dans lequel se trouve le mot clé (un mot clé trouvé dans le titre ou les auteurs d'un article a un meilleur score que s'il est trouvé dans le plein texte)</li>
      </ul>
    </p>
  {% else %}
    <h4 class="box-orange">Search engine behaviour</h4>
    <br>
    <p>Boolean operator AND is used between keywords placed in the search box. The search is case and diacritics insensitive, and works on exact matches over full words. '*' can be used to match word parts. For instance, Theorem and Theorems will provide two distinct searches, Theorem* will find both (as well as Théorème). A word or phrase can but put inside quotes to search an exact match, for example "spin 1/2".</p>
    <p>Matches are ranked accordind to a score based on:
      <ul>
        <li>the word frequency in the document,</li>
        <li>the word frequency in all Numdam documents,</li>
        <li>some weighting depending where the word is located (a keyword found in a title or author name gets a better score than in full text) </li>
      </ul>
    </p>
  {% endif %}
{% endblock %}
