{% extends "base.html" %}
{% load i18n %}

{% block page_id %}{{ name }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row" style="margin-top:50px;margin-bottom:50px">
      <div class="col-xs-3">
          <ul class="nav nav-pills nav-stacked">
            <li {% if 'help' in request.path %}class="active"{% endif %}><a href="{% url 'help' %}">{% trans 'Aide pour la recherche' %}</a></li>
            <li {% if 'formats' in request.path %}class="active"{% endif %}><a href="{% url 'formats' %}">{% trans 'Fonctionnalités et Ergonomie' %}</a></li>
            <li {% if 'fulltext' in request.path %}class="active"{% endif %}><a href="{% url 'fulltext' %}">{% trans 'Textes intégraux' %}</a></li>
            <li {% if 'reuse' in request.path %}class="active"{% endif %}><a href="{% url 'reuse' %}">{% trans 'Réutilisation des textes intégraux' %}</a></li>
            <li {% if 'links' in request.path %}class="active"{% endif %}><a href="{% url 'links' %}">{% trans 'Faire des liens vers Numdam' %}</a></li>
            <li {% if 'metadata' in request.path %}class="active"{% endif %}><a href="{% url 'metadata' %}">{% trans 'Métadonnées & interopérabilité' %}</a></li>
            <li {% if 'references' in request.path %}class="active"{% endif %}><a href="{% url 'help_references' %}">{% trans 'Bibliographies' %}</a></li>
            <li {% if 'click' in request.path %}class="active"{% endif %}><a href="{% url 'click_read' %}">Click & Read</a></li>
          </ul>
      </div>
      <div class="col-xs-9">
        {% block inner_content %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
