{% extends "help-base.html" %}
{% block text %}
<h3 class="sec-title">How does it work ?</h3>
<p>The NUMDAM website offers two ways to consult digitized journals :
<br /><img src="/static/numdam/img/puce.gif" width="8" height="11" class="puce" alt="-" />&nbsp;the browse mode
<br /><img src="/static/numdam/img/puce.gif" width="8" height="11" class="puce" alt="-" />&nbsp;the search mode</p>

<p><strong>The browse mode :</strong></p>

<p>For each digitized journal, the navigation is made issue per issue. For each issue, the summary is displayed with a notice per article also called short notice.</p>

<p>This short notice propose some informations about the article : the author(s), the title, the pagination, the article files and the links to the full notice and the MathScinet and Zentralblatt Math. Reviews.</p>

<p><strong>The search mode :</strong></p>

<p>The search interface offeres several types of research, more or less complicated. You could find in the section <a href="{% url 'template_page' name='tips' lang=LANGUAGE_CODE %}">Tips on searching</a> the most important functionalities of the interface.</p>
{% endblock %}
