{% extends "help-base.html" %}
{% block text %}
<h3 class="sec-title">Fonctionnement du serveur numdam.org</h3>
<p>Le serveur numdam.org propose deux types de consultation des revues numérisées&nbsp;: 
<br /><img src="/static/numdam/img/puce.gif" width="8" height="11" class="puce" alt="-" />&nbsp;le mode feuilletage
<br /><img src="/static/numdam/img/puce.gif" width="8" height="11" class="puce" alt="-" />&nbsp;le mode recherche</p>

<p><strong>Le mode feuilletage&nbsp;: </strong></p>

<p>Pour chaque revue numérisée, vous pouvez naviguer de volume en volume. Au niveau du volume, le sommaire est affiché en proposant une notice par article appelée <i>notice abrégée</i>.</p>

<p>Cette notice abrégée permet d&#8217;avoir les informations essentielles pour chaque article à savoir&nbsp;: le ou les auteurs, le titre, la pagination, les fichiers articles puis des liens vers la notice complète et les analyses MathReviews et Zentralblat.</p>

<p><strong>Le mode recherche&nbsp;: </strong></p>

<p>L&#8217;interface de recherche vous permet d&#8217;effectuer une recherche plus ou moins complexe selon vos objectifs et vos besoins. Vous trouverez dans la rubrique <i><a href="{% url 'template_page' name='tips' lang=LANGUAGE_CODE %}">Aide à la recherche</a></i> les principales fonctionnalités de cette interface.</p>
{% endblock %}
