{% extends "base.html" %}
{% load i18n %}

{% block title %}
Numdam
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-12">
          {% if LANGUAGE_CODE == 'fr' %}
            <h2 style="margin-top:20px">Numdam, la bibliothèque numérique française de mathématiques</h2>
          <p>Vous trouverez sur ce site le texte intégral de publications de recherche en mathématiques : des articles de revues, des actes de séminaires et conférences, des livres, des thèses (doctorat d'État). Une grande partie des collections a été numérisée depuis le premier fascicule jusque vers l'an 2000 à partir d'originaux papier. La bibliothèque acquiert les articles plus récents directement auprès des éditeurs qui les <a href="{% url 'credits' %}#credits-publishers">fournissent</a>. Les textes intégraux sont librement téléchargeables sur ce site immédiatement ou à l'issue d'une <a href="{% url 'wall' %}">barrière mobile</a> variant de 2 à 10 ans. Merci de prendre connaissance de nos <a href="{% url 'conditions' %}">conditions d'utilisation</a>.</p><p>Depuis 2018, Numdam est labellisée <a href="https://www.collexpersee.eu/">CollEx</a>.</p><p><a href="https://www.centre-mersenne.org"><img style="float:left; margin-right: 10px" width="50px" src="/static/mersenne_cms/img/logo-mersenne.png"/></a> Les articles des revues mathématiques du <a href="https://www.centre-mersenne.org">centre Mersenne</a>, l'infrastructure d'édition scientifique en libre accès diamant développée par <a href="http://www.mathdoc.fr">Mathdoc</a>, sont disponibles dans Numdam un an après leur parution.</p>
          {% else %}
            <h2 style="margin-top:20px">Numdam, the French digital mathematics library</h2>
          <p>You can find on this website the full text of mathematical research documents: journal articles, seminar and conference proceedings, books and monographs, doctoral theses. While a large part of the content has been digitised starting first known issue from paper volumes, the library acquires newer content provided by their <a href="{% url 'credits' %}#credits-publishers">publishers</a> in order to keep the archive alive and resonably current. Full texts are freely downloadable immediately or after a variable <a href="{% url 'wall' %}">moving wall</a>. Please check our <a href="{% url 'conditions' %}">terms of use</a>.</p><p>Numdam has been awarded "<a href="https://www.collexpersee.eu/">CollEx</a>" status since 2018.</p><p><a href="https://www.centre-mersenne.org"><img style="float:left; margin-right: 10px" width="50px" src="/static/mersenne_cms/img/logo-mersenne.png"/></a>Articles from the mathematical journals of the <a href="https://www.centre-mersenne.org">centre Mersenne</a>, the diamond open access scientific publishing infrastructure developed by <a href="http://www.mathdoc.fr">Mathdoc</a>, are available in Numdam one year after publication.</p>
          {% endif %}
        </div>
      </div>
      <div class="row" style="margin-top:20px">
        <div class="col-xs-12">
          {% include "carousel.html" %}
        </div>
      </div>
    </div>
    <div class="col-xs-4" style="margin-top:30px">
      {% if LANGUAGE_CODE == 'fr' %}
        <h4 class="box-orange">Plus de documents</h4>
      {% else %}
        <h4 class="box-orange">More documents</h4>
      {% endif %}
      <div style="background-color:#FEF2C4;padding:5px">
        <p><a href="http://sites.mathdoc.fr/archives-bourbaki">Archives Bourbaki</a></p>
        <p><a href="http://sites.mathdoc.fr/OCLS">Bibliographie de Laurent Schwartz</a></p>
        <p><a href="http://sites.mathdoc.fr/OEUVRES">Gallica-Math: Œuvres complètes</a></p>
        <p><a href="http://sites.mathdoc.fr/JMPA">Gallica-Math: Journal de Mathématiques Pures et Appliquées</a></p>
        <p><a href="http://sites.mathdoc.fr/RBSM">Gallica-Math: Répertoire Bibliographique des Sciences
          Mathématiques</a></p>
        <p><a href="http://sites.mathdoc.fr/PMO">Publications Mathématiques d'Orsay</a></p>
      </div>
    </div>
    {% comment %}<div class="col-xs-4" style="margin-top:30px">
      <h4 class="box-orange">Numdam en chiffres</h4>
      <div style="background-color:#FEF2C4;padding:5px">
        <p>{{ page_count }} Pages, {{ article_count }} Articles</p>
        <p>{{ journal_count }} {% trans 'Revues' %}, {{ acta_count }} Séminaires, {{ book_count }} {% trans 'Livres' %}, {{ thesis_count }} {% trans 'Thèses' %}</p>
      </div>
    </div>{% endcomment %}
    <div class="col-xs-4" style="margin-top:30px">
      {% if LANGUAGE_CODE == 'fr' %}
        <h4 class="box-orange">Parcourir Numdam</h4>
      {% else %}
        <h4 class="box-orange">Discover Numdam</h4>
      {% endif %}
      <div style="background-color:#FEF2C4;padding:5px">
        <p><a href="{% url 'fields' %}">{% trans 'Les médailles Fields' %}</a></p>
        <p><a href="{% url 'abel' %}">{% trans 'Les prix Abel' %}</a></p>
        <p><a href="{% url 'wolf' %}">{% trans 'Les prix Wolf' %}</a></p>
        <p><a href="{% url 'gold' %}">{% trans "Les médailles d'or du CNRS" %}</a></p>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:20px; text-align: right">
    <div class="col-xs-12">
      <p><i>{{ article_count }} articles {% trans 'dans' %} {{ journal_count|add:acta_count }} {% trans 'Périodiques' as perio %}{{ perio|lower }}, {{ book_count }} {% trans 'Livres' as livre %}{{ livre|lower }} {% trans 'dans' %} {{ book_collection_count }} collections, {{ thesis_count }} {% trans 'Thèses' as these %}{{ these|lower }}, {% if LANGUAGE_CODE == 'fr' %}soit{% else %}representing{% endif %} {{ page_count }} pages {% if LANGUAGE_CODE == 'fr' %}à lire !{% else %} to read!{% endif %}</i></p>
    </div>
  </div>
</div>
{% endblock %}
