{% extends "conditions-base.html" %}

{% load i18n %}

{% block title %}{% trans 'Numdam - Mentions légales' %}{% endblock %}

{% block inner_content %}
  {% if LANGUAGE_CODE == 'fr' %}
    <h4 class="box-orange">Mentions légales</h4>
    <br>
    <h4>Éditeur</h4>
    <p>MathDoc<br/>
CS 40700<br/>
38058 Grenoble cedex 9<br/>
Téléphone : +334 57 04 11 03<br/>
    </p>
    <h4>Hébergeur</h4>
    <p>MathDoc<br/>
CS 40700<br/>
38058 Grenoble cedex 9<br/>
Téléphone : +334 57 04 11 03<br/>
    </p>
  {% else %}
    <h4 class="box-orange">Legal notice</h4>
    <br>
    <h4>Publisher</h4>
    <p>MathDoc<br/>
CS 40700<br/>
38058 Grenoble cedex 9<br/>
Téléphone : +33 45 704 1103<br/>
    </p>
    <h4>Hosting</h4>
    <p>MathDoc<br/>
    CS 40700<br/>
    38058 Grenoble cedex 9<br/>
    Téléphone : +33 45 704 1103<br/>
    </p>
  {% endif %}
{% endblock %}
