{% extends "help-base.html" %}
{% load i18n %}

{% block title %}{% trans 'Numdam - Liens vers Numdam' %}{% endblock %}

{% block inner_content %}
  {% if LANGUAGE_CODE == 'fr' %}
    <h4 class="box-orange">Liens vers Numdam</h4>
    <br>
      <p>Chaque article présent sur Numdam est accessible via une URL stable. Cette URL est une adresse compacte et conçue pour rester valide sur le long terme. Elle est indiquée :
        <ul>
          <li>dans la notice complète de l’article</li>
          <li>sur la page de garde des fichiers PDF ou DjVu</li>
          <li>par le serveur OAI-PMH</li>
        </ul>
      </p>
      <br>
      <h4>Lien vers la notice complète</h4>
      <p>Par exemple, pour l’article de Jean-Pierre Serre intitulé Géométrie algébrique et géométrie analytique, le lien à utiliser pour pointer vers la notice complète est <strong>http://www.numdam.org/item?id=AIF_1956__6__1_0</strong></p>
      <br>
      <h4>Lien vers le texte de l’article</h4>
      <p>Il n’est pas conseillé de faire un lien direct vers le texte de l’article (fichiers PDF ou DjVu) dans la mesure où toutes les informations relatives à cet article (bibliographie, résumé, ...) ne seront pas affichées.</p>
  {% else %}
    <h4 class="box-orange">Linking to Numdam</h4>
    <br>
    <p>Each article in Numdam is available via a stable URL. This URL is a compact address, designed to remain valid in the long term. It is displayed :
      <ul>
        <li>in the web page of the article</li>
        <li>on the first page of PDF or DjVu files</li>
        <li>by the OAI-PMH server</li>
      </ul>
    </p>
    <br>
    <h4>Link to the full entry</h4>
    <p>For instance, for the article by Jean-Pierre Serre called Géométrie algébrique et géométrie analytique, the link to use is <strong>http://www.numdam.org/item?id=AIF_1956__6__1_0</strong></p>
    <br>
    <h4>Link to the fulltext of the article</h4>
    <p>We do not advise making links to full text of articles (PDF or DjVu files) as all the informations about the article (references, abstract, ...) will not be displayed. Moreover, we make no guarantee that these kind of links will be maintained in the future.</p>
  {% endif %}
{% endblock %}
