{% extends "base.html" %}

{% block content %}
<div id="contenu">
{% if form.errors %}
<p>Login invalide</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
{% if next %}
<input type="hidden" name="next" value="{{ next }}" />
{% else %}
<input type="hidden" name="next" value="/pages/" />
{% endif %}
</form>
<p><a href="{% url 'reset_password' %}">Mot de passe oublié ?</a></p>
</div>
{% endblock %}
