{% extends "help-base.html" %}

{% load i18n %}

{% block title %}{% trans 'Numdam - Métadonnées & interopérabilité' %}{% endblock %}
{% block inner_content %}
  {% if LANGUAGE_CODE == 'fr' %}
    <h4 class="box-orange">Métadonnées & interopérabilité</h4>
    <br>
    <h4>OAI</h4>
    <p>Numdam dispose d’un serveur OAI-PMH (cf. le <a href="http://www.openarchives.org/">site Open Archives Initiative</a>) qui permet un partage de ses métadonnées et une meilleure visibilité de ses collections.<br>
La racine du serveur OAI-PMH se trouve à l’adresse : <a href="http://www.numdam.org/oai">http://www.numdam.org/oai</a><br>
Pour exploiter les données qui se trouvent sur ce serveur, il faut employer la syntaxe OAI-PMH, version 2.0, décrite dans le document de référence <a href="http://www.openarchives.org/OAI/openarchivesprotocol.htm">http://www.openarchives.org/OAI/openarchivesprotocol.htm</a>.</p>
    <p>Quelques exemples qui permettent d’utiliser le langage OAI :
      <ul>
        <li>Formats de métadonnées gérés par Numdam : <a href="http://www.numdam.org/oai?verb=ListMetadataFormats">http://www.numdam.org/oai?verb=ListMetadataFormats</a></li>
        <li>Revues disponibles dans Numdam : <a href="http://www.numdam.org/oai?verb=ListSets">http://www.numdam.org/oai?verb=ListSets</a></li>
        <li>Notice de l’article de Jean-Pierre Serre (identifiant : AIF_1956__6__1_0) au format Dublin Core : <a href="http://www.numdam.org/oai?verb=GetRecord&identifier=oai:numdam.org:AIF_1956__6__1_0&metadataPrefix=oai_dc">http://www.numdam.org/oai?verb=GetRecord&identifier=oai:numdam.org:AIF_1956__6__1_0&metadataPrefix=oai_dc</a></li>
        <li>Notice du même article de Jean-Pierre Serre (identifiant : AIF_1956__6__1_0) au format eudml-article2 (basé sur <a href="https://jats.nlm.nih.gov/archiving/">JATS</a>) : <a href="http://www.numdam.org/oai/?verb=GetRecord&identifier=oai:numdam.org:AIF_1956__6__1_0&metadataPrefix=eudml-article2">http://www.numdam.org/oai/?verb=GetRecord&identifier=oai:numdam.org:AIF_1956__6__1_0&metadataPrefix=eudml-article2</a></li>
      </ul>
    </p>
    <p>Le <a href="https://eudml.org/">site de l'initiative EuDML</a> permet d’avoir un aperçu des possibilités offertes par OAI-PMH.</p>
    <br>
    <p><h4>Fichiers au format KBART</h4>Afin de faciliter l'intégration des données diffusées par Numdam dans les bases de connaissances et outils de découverte, les métadonnées au format KBART (conformes à la recommandation <a href="https://www.niso.org/standards-committees/kbart">Knowledge Base And Related Tools</a>) décrivant l'état des collections sont disponibles au téléchargement sur <a href="http://www.numdam.org/kbart/export">Numdam</a> et sur <a href="https://bacon.abes.fr/exporter.html">BACON</a>, la BAse de COnnaissance Nationale Française.</p>
  {% else %}
    <h4 class="box-orange">Metadata & interoperability</h4>
    <br>
    <h4>OAI</h4>
    <p>Numdam has an OAI-PMH server (see the <a href="http://www.openarchives.org/">Open Archives Initiative website</a>), thus allowing sharing of metadata and better visibility of collections.<br>
The OAI-PMH server root is : <a href="http://www.numdam.org/oai">http://www.numdam.org/oai</a><br>
To exploit the data on the server, the OAI-PMH syntax, version 2.0, described in the document <a href="http://www.openarchives.org/OAI/openarchivesprotocol.htm">http://www.openarchives.org/OAI/openarchivesprotocol.htm</a>, must be used.
    <p>Some examples of OAI-PMH requests :
      <ul>
        <li>To list the metadata formats offered by Numdam : <a href="http://www.numdam.org/oai?verb=ListMetadataFormats">http://www.numdam.org/oai?verb=ListMetadataFormats</a></li>
        <li>To list the journals available in Numdam : <a href="http://www.numdam.org/oai?verb=ListSets">http://www.numdam.org/oai?verb=ListSets</a></li>
        <li>Record of the article by Jean-Pierre Serre (identifier : AIF_1956__6__1_0) in Dublin Core format: <a href="http://www.numdam.org/oai?verb=GetRecord&identifier=oai:numdam.org:AIF_1956__6__1_0&metadataPrefix=oai_dc">http://www.numdam.org/oai?verb=GetRecord&identifier=oai:numdam.org:AIF_1956__6__1_0&metadataPrefix=oai_dc</a></li>
        <li>Record of the article by Jean-Pierre Serre (identifier : AIF_1956__6__1_0) in eudml-article2 format (based on <a href="https://jats.nlm.nih.gov/archiving/">JATS</a>): <a href="http://www.numdam.org/oai/?verb=GetRecord&identifier=oai:numdam.org:AIF_1956__6__1_0&metadataPrefix=eudml-article2">http://www.numdam.org/oai/?verb=GetRecord&identifier=oai:numdam.org:AIF_1956__6__1_0&metadataPrefix=eudml-article2</a></li>
      </ul>
    </p>
    <p>The <a href="https://eudml.org/">EuDML website</a> gives an idea of the possibilities of OAI-PMH.</p>
    <br>
    <p><h4>KBART files</h4>In order to facilitate the integration of data between Numdam and knowledge bases and discovery tools, KBART metadata (<a href="https://www.niso.org/standards-committees/kbart">Knowledge Base And Related Tools</a>) is now available for download on <a href="http://www.numdam.org/kbart/export">Numdam</a> and <a href="https://bacon.abes.fr/exporter.html">BACON</a>, the French national knowledge base (BAse de COnnaissance Nationale Française). Such data provides information relating to the status of the collections.</p>
  {% endif %}
{% endblock %}
