{% load i18n %}
<table width="90%" style="margin-left : 1em;margin-bottom:2em;margin-top:2em" >
<tr>
{% for n in new %}
{% if forloop.counter|divisibleby:4 %}
<tr>
{% endif %}
<td  style="text-align:center; width:30%  align=top" >
<div class="couv"><a href="{% url 'journal-issues' n.my_collection.id %}"><img  alt="" src="{{ n.my_collection.icon }}" width='50px' height='75px' /></a></div>
<br/>
<div class="titreRevue"><a href="{% url 'journal-issues' n.my_collection.id %}">{{ n.my_collection.title }}</a><br>
<span class="nouveaute">[&nbsp;{% trans 'Nouveau' %} {{ n.first_year }}-{{ n.last_year }}&nbsp;]</span>
</div></td>
{% if forloop.counter|divisibleby:3 %}
</tr>
{% elif forloop.last %}
</tr>
{% endif %}
{% endfor %}
</table>
