{% extends "base.html" %}
{% load i18n %}
{% block page_id %}{{ name }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row" style="margin-top:50px;margin-bottom:50px">
      <div class="col-xs-3">
          <ul class="nav nav-pills nav-stacked">
            <li {% if 'fields' in request.path %}class="active"{% endif %}><a href="{% url 'fields' %}">{% trans 'Les médailles Fields' %}</a></li>
            <li {% if 'abel' in request.path %}class="active"{% endif %}><a href="{% url 'abel' %}">{% trans 'Les prix Abel' %}</a></li>
            <li {% if 'wolf' in request.path %}class="active"{% endif %}><a href="{% url 'wolf' %}">{% trans 'Les prix Wolf' %}</a></li>
            <li {% if 'gold' in request.path %}class="active"{% endif %}><a href="{% url 'gold' %}">{% trans "Les médailles d'or du CNRS" %}</a></li>
          </ul>
      </div>
      <div class="col-xs-9">
        {% block inner_content %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
