{% load i18n %}
{% for publisher in journal.Publisher.all %}
{% if publisher.website %}
<div class="publisher-website">
<p>
{% if publisher.icon %}
<a href="{{ publisher.website }}"><img src="{{ publisher.icon }}"/></a>
{% endif %}
<p style="text-align:center">
<a href="{{ publisher.website }}">{% trans "Site de l'éditeur" %}</a>
</p>
</div>
{% endif %}
{% endfor %}
