{% extends "help-base.html" %}

{% load i18n %}

{% block title %}Numdam - {% trans 'Réutilisation des textes intégraux' %}{% endblock %}


{% block inner_content %}
  {% if LANGUAGE_CODE == 'fr' %}
    <h4 class="box-orange">Réutilisation des textes intégraux</h4>
    <br>
<p>La diffusion en libre accès sur le site Numdam.org ne modifie en rien la situation des documents disponibles en matière de droits d'auteur ou de copyright. Numdam détient l'autorisation de diffusion sur ses propres serveurs mais ne peut en aucun cas concéder cette autorisation qui relève des ayant-droits de chaque document.</p>
<p>En conséquence il est nécessaire de vérifier la sécurité juridique de l'opération avant toute mise en ligne sur un serveur tiers. De façon générale, il est préférable d'obtenir un accord explicite de l'éditeur et des auteurs.</p>
<p>Voici quelques exemples :</p>
<p>Peuvent être republiés sans autorisation explicite de l'auteur ou de l'éditeur :</p>
<ul>
  <li>Les documents du domaine public, dans le respect du droit moral de l'auteur. (Ces documents sont très rares sur Numdam.)</li>
  <li>Les articles de revue publiés en libre accès sous licence Creative Commons, dans le respect des conditions prévues par la licence.</li>
</ul>
<p>Peuvent être republiés par l'auteur sans autorisation explicite de l'éditeur :</p>
<ul>
  <li>Les articles dans le respect des conditions prévues par le contrat d'édition</li>
  <li>Les articles récents publiés dans une revue dont la politique d'autoarchivage est décrite dans <a href="https://v2.sherpa.ac.uk/romeo/">Sherpa/Romeo</a> ou <a href="https://reseau-mirabel.info/site/page/politiques-publication">Mir@bel</a>, selon les conditions indiquées. (Attention : les conditions décrites dans ces sites ne sont pas toujours exactes, et dans tous les cas reflètent un état instantané de ces politiques.  Un article donné peut être soumis à des conditions différentes.)</li>
  <li>Tous les documents qui tombent sous le coup de l'article 30 de la loi pour une République Numérique (<a href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000033202746/">Loi n°2016-1321 du 7 octobre 2016</a>)</li>
</ul>
  {% else %}
    <h4 class="box-orange">Reuse of full texts</h4>
    <br>
<p>Open access posting on the Numdam.org website does not modify in any way the author’s rights or the copyright of the available documents. Numdam is authorized for posting on its own servers but cannot under any circumstances transfer this authorization, which remains the original owners’ responsibility for each document.</p>
<p>As a result, it is necessary to check the contractual terms before uploading any document to a third-party server. In general, it is better to obtain explicit agreement from the publisher and the authors.</p>
<p>Here are some examples:</p>
<p>May be republished without explicit permission from the author or the publisher:</p>
<ul>
  <li>Documents in the public domain, respecting the moral rights of the author. (These documents are very rare on Numdam.)</li>
  <li>Journal articles published in open access under a Creative Commons license, in compliance with the conditions set out in the license.</li>
</ul>
<p>May be republished by the author without explicit permission from the publisher:</p>
<ul>
  <li>Articles in compliance with the conditions provided for in the publishing contract</li>
  <li>Recent articles published in a journal whose self-archiving policy is described in <a href="https://v2.sherpa.ac.uk/romeo/">Sherpa / Romeo</a> or <a href="https://reseau-mirabel.info/site/page/politiques-publication">Mir@bel</a>, according to the conditions indicated. (Please note: the conditions described in these sites are not always exact, and in all cases reflect a state of these policies at a given point in time. A given article may be subject to different conditions.)</li>
  <li>All documents that fall under article 30 of the law for a Digital Republic (<a href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000033202746/">Law n°2016-1321 of October 7, 2016</a>)</li>
</ul>
  {% endif %}
{% endblock %}
