{% extends "about-base.html" %}
{% block text %}
<h3 class="sec-title">Copyright and author&#8217;s rights</h3>
<p>Numdam is a <strong>digital library</strong>, with metadatas and files containing full text of the articles.</p>

<p>The database itself is the property of Cellule MathDoc. However the metadatas are under <a href="http://creativecommons.org/publicdomain/zero/1.0/"  rel='external'>licence CC0</a> . So Numdam&#8217;s metadatas are dedicated to the <strong>public domain</strong>. Numdam&#8217;s OAI-PMH server can be used to download all the metadatas.</p>

<p>An important part of the files containing full text of the articles are dedicated to the public domain. An other part of the digitized articles in the NUMDAM program remain property of the authors and the journal. However a lot of journals have a <a href="{% url 'template_page' name='wall' lang=LANGUAGE_CODE %}">moving-wall policy</a>.</p>

<p>For selected articles, the publisher&#8217;s contract doesn&#8217;t given up the right of publication and representation on the web.In that case, Authors must explicitly authorize the journal(s) to display their articles on the Internet.</p>

<p><a href="http://www.mathdoc.fr" rel='external'>Cellule Mathdoc</a> has searched for authors and their legal successors in order to obtain the transfer of rights for digitization and display of the collections belonging to NUMDAM program.</p>

<p>We invite the authors to <a href="{% url 'template_page' name='contact' lang=LANGUAGE_CODE %}">to contact us</a>.</p>

<h3 class="sec-title">French literature on author&#8217;s right</h3>
<p><img src="/static/numdam/img/puce.gif" width="8" height="11" class="puce" alt="-" />&nbsp;French legislative texts :</p>

<ul><li> Code de la Propriété Intellectuelle, parties <a href="http://www.legifrance.gouv.fr/affichCode.do?cidTexte=LEGITEXT000006069414&amp;dateTexte=20100920" rel='external'>législative et règlementaire</a> (website :<a href="http://www.legifrance.gouv.fr" rel='external'>legifrance</a>)</li></ul>
<p><img src="/static/numdam/img/puce.gif" width="8" height="11" class="puce" alt="-" />&nbsp;Other web ressources :</p>

<ul><li> Code de la Propriété intellectuelle annoté : Première partie : <a href="http://www.celog.fr/cpi/" class='spip_out' rel='external'>La propriété littéraire et artistique</a></li><li> <a href="http://www.sg.cnrs.fr/daj/propriete/droits/droits.htm"  rel='external'>Le droit d&#8217;auteur</a> : document edited by the direction legal affairs of CNRS </li><li> <a href="http://www.cnrs.fr/dist/z-outils/documents/What%20are%20my%20rights%20when%20i%20publish.pdf" rel='external'>what are my rights ? when i publish</a> : document edited by the direction of scientific and technical information of CNRS</li></ul>
<p><img src="/static/numdam/img/puce.gif" width="8" height="11" class="puce" alt="-" />&nbsp;Books (french) :</p>

<ul><li> Dictionnaire comparé du droit d&#8217;auteur et du copyright.- Sous la direction de M. Cornu, I. de Lambertie, P. Sirinelli, C. Wallaert ; CNRS Editions, 2003. <a href="http://www.bibsciences.org/bibsup/cnrs_droit_auteur/pub_demo/" rel='external'>available online</a></li></ul>
{% endblock %}
