{% load i18n %}
<form action="{% url 'items' %}" method="get" id="sform">
<table>
<tr>
      <td colspan="3" align="left"><b>{% trans 'Rechercher un article' %}</b></td></tr>
    <tr>
      <td align="left">{% trans "n'importe où" %}</td>
      <td>{{ form.text }}</td></tr>
    <tr>

    <tr>
      <td align="left">{% trans 'Auteur' %}(s)</td>
      <td>{{ form.au }}</td>
      <td></td></tr>
    <tr>
      <td></td>
      <td align="left">Ex: Brelot Choquet</td></tr>
    <tr>
      <td align="left">{% trans 'Mots du titre' %}</td>
      <td>{{ form.ti }}</td></tr>
    <tr>
      <td>{% trans 'Années entre' %}</td>
      <td> {{ form.py1 }} et {{ form.py2 }}</td></tr>
    <tr>
      <td align="left">{% trans 'Résumé' %}</td>
      <td>{{ form.ab }}</td></tr>
    <tr>
      <td align="left">{% trans 'Texte intégral' %}</td>
      <td>{{ form.ft }}</td></tr>
    <tr>
      <td align="left">{% trans 'Bibliographie' %}</td>
      <td>{{ form.bibitem }}</td></tr>

        <tr>
      <td><input type="submit" name="submit" value=" {% trans 'Rechercher' %} " /> </td>
      </tr>
</table>
{{ form.errors }}
</form>
