{% extends "about-base.html" %}
{% block text %}
<h3 class="sec-title">Remerciements</h3>
<p>Nous souhaitons vivement remercier les revues qui ont accepté de faire partie de ce programme.</p>

<p>La réussite de ce programme a été rendue possible, pour une grande part, par l&#8217;aide que nous fournissent régulièrement les bibliothèques du <a href="http://www.rnbm.org" class='spip_out' rel='external'>RNBM</a> (réseau national des bibliothèques de mathématiques) en nous confiant leurs collections à des fins de numérisation.</p>

<p>Plus particulièrement, nous souhaitons remercier&nbsp;: 
<ul class="liste-a-puce">
<li>La bibliothèque de l&#8217;institut Fourier à Grenoble&nbsp;; </li>
<li>La bibliothèque de l&#8217;institut Henri Poincaré à Paris&nbsp;; </li>
<li>La bibliothèque de l&#8217;IRMA à Strasbourg&nbsp;; </li>
<li>La bibliothèque de mathématiques de l&#8217;ENS à Paris&nbsp;;</li>
<li>La bibliothèque municipale du Carré d&#8217;art de Nîmes.</p></li>
</ul>
<p>Nous souhaitons vivement remercier&nbsp;:</p>
<ul class="liste-a-puce">
<li>pour son expertise DjVu&nbsp;: Rainer Nörenberg de l&#8217;université de Freiburg&nbsp;; </li>
<li>pour avoir fait don de la version originale des <i>Cahiers du séminaires d&#8217;histoire des mathématiques</i> et pour nous avoir confié des exemplaires de séminaires de l&#8217;IHP&nbsp;: Hélène Nocton, ancienne directrice de la bibliothèque de l&#8217;institut Henri Poincaré&nbsp;;</li>
<li>Pour avoir contribué à la numérisation des Annales de Gergonne&nbsp;: Christian Gérini&nbsp;;</li>
<li>pour le financement de la numérisation de séminaires de mathématiques&nbsp;:  la région Rhône-Alpes&nbsp;;</li>
<li>pour le financement de la numérisation des Annales de la Faculté des sciences de Toulouse&nbsp;: l&#8217;université Paul Sabatier (Toulouse)&nbsp;; </li>
<li>pour avoir autorisé la numérisation et la mise en ligne d&#8217;une partie de leur fonds&nbsp;: les éditions Springer et Elsevier&nbsp;;</li>
<li>pour avoir autorisé la numérisation et la mise en ligne de Compositio Mathematica&nbsp;: la London Math. Society&nbsp;;</li>
<li>la Société Mathématique de France&nbsp;; </li>
<li>La Société Française de Statistiques.</p></li>
</ul>
{% endblock %}
