{% extends "about-base.html" %}
{% block text %}
<h3 class="sec-title">Thanks</h3>
<p>We would like to thank the journals who have accepted to take part in the programme.</p>

<p>The MathDoc cell wishes to thank the <a href="http://www.rnbm.org" class='spip_out' rel='external'>RNBM</a> (Réseau National des Bibliothèques de Mathématiques) who lent us its collections in order to be digitized :</p>

<ul class="liste-a-puce">
<li>The library of the Fourier institut (Grenoble) ; </li>
<li>The library of Henri Poincaré institut (Paris) ; </li>
<li>The library of IRMA (Strasbourg) ; </li>
<li>The library of mathematics, ENS (Paris) ;</li>
<li>The public library "Carré d&#8217;Art" (Nîmes).</p></li>
</ul>
<p>We also wish to thank the <a href="http://www.cnrs.fr" class='spip_out' rel='external'>CNRS</a> and the <a href="http://www.ujf-grenoble.fr" class='spip_out' rel='external'>université Joseph Fourier</a>.</p>

<p>We would like to thank:
<ul class="liste-a-puce">
<li>Rainer Nörenberg of Freibourg university for his expertise in DJVu;</li>
<li>Hélène Nocton, former director of the library of Institut Henri Poincaré for giving us the original version of  Cahiers du séminaires d&#8217;histoire des mathématiques and lending copies of séminaires de l&#8217;IHP;</li>
<li>Christian Gérini, for contributing to the digitisation of Annales of Gergonne</li>
<li>Rhone-Alpes Region for funding digitization of mathematical seminars</li>
<li>University Paul Sabatier (Toulouse) for funding digitization of the  Annales de la Faculté des sciences de Toulouse</li>
<li>Springer and Elsevier for authorizing online display of a part of their collections</li>
<li>The London Mathematical Society, for having allowed the digitisation and display of Compositio MAthematica </li>
<li>The Société Mathématique de France</li>
<li>The Société Française de Statistiques.</p></li>
</ul>
{% endblock %}
