{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div id="top">
<div id="bandeau">

</div>
<div id="bandeau2">
<div id="language-switch">
<form style="display:inline" action="{% url 'django.conf.i18n.set_language' %}" method="post">{% csrf_token %}
  {% block next_input %}{% endblock %}
  {% for lang in LANGUAGES %}
  {% if LANGUAGE_CODE == lang.0 %}{% else %} <input type="hidden" name="language" value="{{ lang.0 }}"/>{% endif %}
  {% endfor %}
  <input type="submit" value="{% trans 'English version' %}"/>
</form>
</div>
<div class="horizontal-menu">
<ul>
<li><a href="{% url 'home' %}">{% trans "Accueil" %}</a></li>
<li><a href="{% url 'journals' %}">{% trans "Revues" %}</a></li>
<li><a href="{% url 'acta' %}">{% trans "Séminaires" %}</a></li>
<li><a href="{% url 'series' %}">{% trans "Livres" %}</a></li>
<li><a href="{% url 'lectures' %}">{% trans "Notes de cours" %}</a></li>
<li><a href="{% url 'items' %}">{% trans "Rechercher un article" %}</a></li>
<li><a href="{% url 'template_page' name='about' lang=LANGUAGE_CODE %}">{% trans "À propos" %}</a></li>
<li><a href="{% url 'template_page' name='help' lang=LANGUAGE_CODE %}">{% trans "Aide" %}</a></li>
<li><a href="{% url 'template_page' name='contact' lang=LANGUAGE_CODE %}">{% trans "Contact" %}</a></li>
{% if site.public %}
<li><a href="{% url 'publisher-status' %}">Publier</a></li>
{% endif %}
{% if user.is_authenticated %}
<li><a href="{% url 'logout' %}">Déconnection</a></li>
{% endif %}

</ul>
</div>

</div>
</div>
