{% extends "conditions-base.html" %}

{% load i18n %}

{% block title %}{% trans 'Numdam - Barrière mobile' %}{% endblock %}

{% block inner_content %}
  {% if LANGUAGE_CODE == 'fr' %}
    <h4 class="box-orange">Le principe de barrière mobile</h4>
    <br>
    <p>Pour préserver l’équilibre économique des revues, le <strong>texte complet</strong> des articles les plus récents n’est pas toujours disponible sur le site numdam.org. Nous renvoyons dans ce cas-là vers le site de chaque revue. Les <strong>métadonnées</strong> sont bien entendu disponibles dès que les textes ont été indexés dans la plateforme Numdam.</p>
    <p>Les revues dont les archives figurent sur ce serveur ont accepté le principe d’une <i>barrière mobile</i>. Il s’agit de l’intervalle de temps qui sépare la publication d’un tome de la revue (sous la forme qui est proposée aux lecteurs) de la disponibilité du texte intégral sur le serveur numdam.</p>
    <p>Par exemple, la valeur retenue par le <i>Bulletin de la Société mathématique de France</i> étant de cinq ans, les références de tous les articles publiés sont actuellement présentes, mais leur texte intégral est téléchargeable uniquement s’il a été publié cinq années pleines avant l’année courante.</p>
    <br>
    <h4 class="box-orange">Barrières mobiles des revues déposées dans Numdam</h4>
    <br>
    <p><strong>Les titres non listés ici sont intégralement en accès libre</strong></p>
  {% else %}
    <h4 class="box-orange">Moving-wall’s principle</h4>
    <br>
    <p>To preserve the financial balance of the journals, the <strong>fulltext</strong> of most recent articles is generally not available.</p>
    <p>The journals whose archives are on this server have accepted the principle of a <i>moving wall</i>. This is a time interval between the publication of a volume (in paper or electronic form, delivered to subscribers) and the availability of the fulltext on the Numdam server.</p>
    <p>For instance, the value set for the <i>Bulletin de la Société mathématique de France</i> being five years, the references of all the published articles are currently available. But the fulltext is available for download only if the article was published at least 5 full years before today.</p>
    <h4 class="box-orange">Moving-wall for Numdam’s journals</h4>
    <br>
    <p><strong>Titles not listed here are freely available</strong></p>
  {% endif %}
    <table class="table table-striped">
      <thead>
        <tr>
          {% if LANGUAGE_CODE == 'fr' %}
            <th>Titre</th>
            <th>Barrière mobile (années)</th>
          {% else %}
            <th>Title</th>
            <th>Moving wall (years)</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Annales de l’I.H.P. Analyse non linéaire</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Annales de l’I.H.P. Probabilités et statistiques</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Annales scientifiques de l’École Normale Supérieure</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Annali della Scuola Normale Superiore di Pisa - Classe di Scienze</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Astérisque</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Bulletin de la Société Mathématique de France</td>
          <td>5</td>
        </tr>
        <tr>
          <td>ESAIM : Control, Optimisation and Calculus of Variations</td>
          <td>5</td>
        </tr>
        <tr>
          <td>ESAIM : Mathematical Modelling and Numerical Analysis - Modélisation Mathématique et Analyse Numérique</td>
          <td>5</td>
        </tr>
        <tr>
          <td>ESAIM : Probability and Statistics</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Mémoires de la Société Mathématique de France</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Publications Mathématiques de l’IHÉS</td>
          <td>5</td>
        </tr>
        <tr>
          <td>RAIRO - Operations Research - Recherche Opérationnelle</td>
          <td>5</td>
        </tr>
        <tr>
          <td>RAIRO - Theoretical Informatics and Applications - Informatique Théorique et Applications</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Rendiconti del Seminario Matematico della Università di Padova</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Revue d’histoire des mathématiques</td>
          <td>5</td>
        </tr>
      </tbody>
    </table>
{% endblock %}
