{% extends "prize-base.html" %}
{% load helpers %}
{% block inner_content %}
  <ul>
    <li>2023: Ingrid Daubechies</li>
    <li>2022: <a href="{% pretty_search 'search' 'c' '"Lusztig, George"'  %}">George Lusztig</a></li>
    <li>2020: <a href="{% pretty_search 'search' 'c' '"Donaldson, Simon K."' %}">Simon K. Donaldson</a> and <a href="{% pretty_search 'search' 'c' '"Eliashberg, Yakov"' %}">Yakov Eliashberg</a></li>
    <li>2019: <a href="{% pretty_search 'search' 'c' '"Le Gall, Jean-François"' %}">Jean-François Le Gall</a>, <a href="{% pretty_search 'search' 'c' '"Lawler, Gregory F."' %}">Gregory Lawler</a></li>
    <li>2018: Alexander Beilinson, Vladimir Drinfeld</li>
    <li>2017: <a href="{% pretty_search 'search' 'c' '"Fefferman, Charles"' %}">Charles Fefferman</a>, <a href="{% pretty_search 'search' 'c' '"Schoen, Richard"' %}">Richard Schoen</a></li>
    <li>2015: <a href="{% pretty_search 'search' 'c' '"Arthur, James"' %}">James Arthur</a></li>
    <li>2014: <a href="{% pretty_search 'search' 'c' '"Sarnak, Peter"'  %}">Peter Sarnak</a></li>
    <li>2013: <a href="{% pretty_search 'search' 'c' '"Mostow, George D."' %}">George Mostow</a> , <a href="{% pretty_search 'search' 'c' '"Artin, Michael F."'  %}">Michael Artin</a></li>
    <li>2012: Michael Aschbacher</a> , <a href="{% pretty_search 'search' 'c' '"Caffarelli, Luis"' %}">Luis Caffarelli</a></li>
    <li>2010: <a href="{% pretty_search 'search' 'c' '"Sullivan, Denis"' %}">Dennis Sullivan</a> , <a href="{% pretty_search 'search' 'c' '"Yau, Shing-Tung"'  %}">Shing-Tung Yau</a></li>
    <li>2008: <a href="{% pretty_search 'search' 'c' '"Deligne, Pierre"'  %}">Pierre R. Deligne</a> , <a href="{% pretty_search 'search' 'c' '"Griffiths, Phillip A."'  %}">Phillip A. Griffiths</a> , <a href="{% pretty_search 'search' 'c' '"Mumford, David"'  %}">David B. Mumford</a></li>
    <li>2006-2007: <a href="{% pretty_search 'search' 'c' '"Smale, Stephen"'  %}">Stephen Smale</a> , <a href="{% pretty_search 'search' 'c' '"Furstenberg, Harry"'  %}">Harry Furstenberg</a></li>
    <li>2005: <a href="{% pretty_search 'search' 'c' '"Margulis, Gregory"'  %}">Gregory A. Margulis</a> , Sergei P. Novikov</li>
    <li>2002-2003: <a href="{% pretty_search 'search' 'c' '"Sato, Mikio"'  %}">Mikio Sato</a>, <a href="{% pretty_search 'search' 'c' '"Tate, John"'  %}">John T. Tate</a></li>
    <li>2001: <a href="{% pretty_search 'search' 'c' '"Arnold, Vladimir"'  %}">Vladimir I. Arnold</a> , <a href="{% pretty_search 'search' 'c' '"Shelah, Saharon"'  %}">Saharon Shelah</a></li>
    <li>2000: <a href="{% pretty_search 'search' 'c' '"Bott, Raoul"'  %}">Raoul Bott , <a href="{% pretty_search 'search' 'c' '"Serre, Jean-Pierre"'  %}">Jean-Pierre Serre</a></li>
    <li>1999: <a href="{% pretty_search 'search' 'c' '"Lovász, Lászlo"'  %}">László Lovász</a> , <a href="{% pretty_search 'search' 'c' '"Stein, Elias M."'  %}">Elias M. Stein</a></li>
    <li>1996-1997: Joseph B. Keller , Yakov G. Sinai</li>
    <li>1995-1996: Robert Langlands</li>
    <li>1994-1995: <a href="{% pretty_search 'search' 'c' '"Moser, Jürgen"'  %}">Jürgen K. Moser</a></li>
    <li>1993: <a href="{% pretty_search 'search' 'c' '"Gromov, Mikhael"'  %}">Mikhael Gromov</a> , <a href="{% pretty_search 'search' 'c' '"Tits, Jacques"'  %}">Jacques Tits</a></li>
    <li>1992: <a href="{% pretty_search 'search' 'c' '"Carleson, Lennart"'  %}">Lennart A. E. Carleson</a> , <a href="{% pretty_search 'search' 'c' '"Thompson, John Griggs"'  %}">John G. Thompson</a></li>
    <li>1990: <a href="{% pretty_search 'search' 'c' '"De Giorgi, Ennio"'  %}">Ennio de Giorgi</a> , <a href="{% pretty_search 'search' 'c' '"Piatetski-Shapiro, Ilya Iosifovich"'  %}">Ilya Piatetski-Shapiro</a></li>
    <li>1989: Alberto P. Calderon , <a href="{% pretty_search 'search' 'c' '"Milnor, John Willard"'  %}">John W. Milnor</a></li>
    <li>1988: <a href="{% pretty_search 'search' 'c' '"Hirzebruch, Friedrich Ernst Peter"'  %}">Friedrich Hirzebruch</a> , <a href="{% pretty_search 'search' 'c' '"Hörmander, Lars"'  %}">Lars Hormander</a></li>
    <li>1987: Kiyoshi Ito , <a href="{% pretty_search 'search' 'c' '"Lax, P. D."'  %}">Peter D. Lax</a></li>
    <li>1986: <a href="{% pretty_search 'search' 'c' '"Eilenberg, Samuel"'  %}">Samuel Eilenberg</a> , Atle Selberg</li>
    <li>1984-1985: <a href="{% pretty_search 'search' 'c' '"Kodaira, K."'  %}">Kunihiko Kodaira</a></li>
    <li>1983-1984: <a href="{% pretty_search 'search' 'c' '"Chern, Shiing-Shen"'  %}">Shiing S. Chern</a> , <a href="{% pretty_search 'search' 'c' '"Erdös, Pál"'  %}">Pál Erdős</a></li>
    <li>1982: <a href="{% pretty_search 'search' 'c' '"Whitney, Hassler"'  %}">Hassler Whitney</a> , <a href="{% pretty_search 'search' 'c' '"Krein, M."'  %}">Mark Grigor'evich Krein</a></li>
    <li>1981: <a href="{% pretty_search 'search' 'c' '"Ahlfors, L.V."'  %}">Lars V. Ahlfors</a> , <a href="{% pretty_search 'search' 'c' '"Zariski, O."'  %}">Oscar Zariski</a></li>
    <li>1980: <a href="{% pretty_search 'search' 'c' '"Cartan, Henri"'  %}">Henri Cartan</a> , <a href="{% pretty_search 'search' 'c' '"Kolmogorov, André"'  %}">Andrei N. Kolmogorov</a></li>
    <li>1979: <a href="{% pretty_search 'search' 'c' '"Leray, Jean"'  %}">Jean Leray</a> , <a href="{% pretty_search 'search' 'c' '"Weil, André"'  %}">André Weil</a></li>
    <li>1978: <a href="{% pretty_search 'search' 'c' '"Gelfand, Izrail M."'  %}">Izrail M. Gelfand</a> , Carl L. Siegel</li>
  </ul>


















{% endblock %}
