.text-warning {
    color: orange;
}

.text-success {
    color: green;
}

.text-danger {
    color: red;
}

.datarow {
    display: flex;
    align-items: center;
}

.popover {
    max-width: 1000px;
}

.popover-content {
    white-space: pre;
}

.bg-dark {
    background-color: #c6c8ca;
}

.panel {
    background-color: #F2F1F7;
}

.task-button-panel {
    float: right;
}

.panel-collapse {
    /*height: 0px;*/
}

.task-collapse {
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 1px 1px 1px 1px;
}

.count-icon-success {
    color: #5cb85c;
}

.count-icon-warning {
    color: rgba(243, 156, 18, 0.88);
}

.count-icon-failure {
    color: #d9534f;
}

.task-description {
    padding: 10px;
    font-style: italic;
    width: 100%;
}

.progress-bar-striped .progress-bar-txt {
    color: black;
}

h2 {
    color: rgb(42, 63, 84);
}

.panel-title {
    color: rgb(42, 63, 84);
}

.progress-bar-success {
    background-color: rgb(92, 184, 92);
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.hcenter {
    text-align: center;
}

.upper-right {
    position: relative;
    display: inline-block;
}

.upper-right button {
    position: absolute;
    top: 0;
    right: 19px;
}

.no-border {
    border: 0;
}

.default-background-color {
    background-color: inherit;
}

#crumbs {
    text-align: center;
}

#crumbs ul {
    list-style: none;
    display: inline-table;
}

#crumbs ul li {
    display: inline;
}

#crumbs ul li a {
    display: block;
    float: left;
    height: 30px;
    background: #1d4e89; /*#97ABC3;*/
    text-align: center;
    padding: 4px 30px 0 20px;
    position: relative;
    margin: 10px 10px 0 0;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

#crumbs ul li a:after {
    content: "";
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 16px solid #1d4e89; /*#97ABC3;*/
    position: absolute;
    right: -15px;
    top: 0;
    z-index: 1;
}

#crumbs ul li a:before {
    content: "";
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ffffff;
    position: absolute;
    left: 0;
    top: 0;
}

#crumbs ul li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#crumbs ul li:first-child a:before {
    display: none;
}

#crumbs ul li:last-child a {
    padding-right: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#crumbs ul li:last-child a:after {
    display: none;
}

#crumbs ul li a:hover {
    background: #5eb7cc; /*#999999;*/
}

#crumbs ul li a:hover:after {
    border-left-color: #5eb7cc; /*#999999;*/
}

#crumbs ul.crumb-noarrow {
    padding-left: 0px;
    text-align: center;
}

#crumbs ul.crumb-noarrow li a {
    background: #ffffff;
    color: #333;
}

#crumbs ul.crumb-noarrow li a:hover {
    background: #00b2ca;
    color: #ffffff;
}

#table_issues_length,
#table_issues_filter {
    color: inherit;
}

.tools-box {
    border: 2px solid #eee;
    border-radius: 6px;
}

.admin-mode,
.admin-mode a {
    font-size: 16px;
    font-weight: bold;
    color: #e8840c;
}

.matching,
.matching a {
    color: #e8840c;
}

#MatchingModal,
#MatchingModal a {
    font-weight: normal;
    color: #333;
}

.false-positive,
.false-positive span,
.false-positive a {
    text-decoration: line-through;
    color: #d9534f;
}

.externalid-valid,
.externalid-valid span,
.externalid-valid a {
    color: #26b99a;
}

.externalid-link-blank,
.externalid-link-blank span,
.externalid-link-blank a {
    text-decoration: none;
    color: #333;
}

a.externalid-trash,
a.externalid-update {
    color: #555;
}

.externalid-checkbox .checkbox-inline {
    margin-left: 0px;
}

.externalid-result {
    color: black;
    margin-bottom: 20px;
    margin-left: 20px;
}

.externalid-link:hover {
    cursor: pointer;
}

.history-month-title {
    margin-right: 50px;
}

.history-type {
    display: inline-block;
    width: 100px;
    color: #333;
}

.history-date {
    display: inline-block;
    width: 140px;
}

.history-label {
    font-size: 100%;
}

.history-message {
    color: #333;
    margin-right: 10px;
}

.history-pid {
    display: inline-block;
    width: 250px;
}

.history-plus-sign {
    display: inline-block;
    width: 20px;
}

.history-plus-ids {
    margin-left: 200px;
    float: left;
    with: 400px;
}

.history-plus-ids {
    margin-left: 200px;
    float: left;
    width: 300px;
    margin-bottom: 10px;
}

.history-full-message {
    white-space: pre;
    float: left;
    width: calc(100% - 510px);
    margin-bottom: 10px;
}

.history-plus-article {
    padding-left: 100px;
}

.history-plus-article-pid {
    float: left;
    width: 250px;
}

.history-plus-article-ids {
    float: left;
    width: calc(100% - 300px);
}

.history-plus-article-id {
    display: inline-block;
    width: 150px;
}

.history-left-cols-lg {
    float: left;
    width: 640px;
}

.history-left-cols {
    float: left;
    width: 525px;
}

.history-middle-col {
    float: left;
    width: calc(100% - 630px);
}

.history-event {
    float: left;
    width: calc(100% - 70px);
    margin-top: 3px;
}

.history-action-buttons {
    float: right;
    width: 40px;
}

.history-action-buttons .btn-sm {
    margin-bottom: 0px;
    line-height: 1;
}

.history-filters {
    margin-bottom: 30px;
}

.history-month .panel-body {
    padding: 10px;
}

.label-warning-old {
    background-color: #fbe8b6;
    color: #c0c0c0;
}

.label-danger-old {
    background-color: #fccbc3;
    color: #a8a3a3;
}

.menu_section h3 a {
    color: white;
}

.dashboard tr:nth-child(even) {
    background-color: white;
}

.diff-small-table,
.diff-small-table th,
.diff-small-table td {
    border: 1px solid grey;
    margin-bottom: 10px;
}

.diff-lg-table,
.diff-lg-table th,
.diff-lg-table td {
    border: 1px solid grey;
    padding: 10px 10px 10px 10px;
}

.diff-label {
    text-decoration: underline;
    /*width: 150px;
    display: inline-block;*/
}

.diff-value {
    /*width: 400px;
    display: inline-block;*/
}

#id_import_choice {
    list-style-type: none;
}

#issue-diff-form {
    margin-top: 20px;
}

#issue-diff-form label {
    font-size: 18px;
}

.do-not-publish-icon {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: black;
}

.do-not-publish-small-icon {
    /* display: block;
    text-align: center;*/
    color: red;
}

.do-not-publish-row {
    background-color: #ff000080;
}

.with-online-first-icon {
    color: orange;
}

.custom-error-messages {
    margin-top: 30px !important;
}
