{% extends "base.html" %}
{% load cms_tags %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block head %}
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0">
  {% block extra_head %}{% endblock extra_head %}
  <title>
  {% block title %}
    Annals of Representation Theory {{ block.super }}
  {% endblock title %}
  </title>
  {% block css %}
    <link rel="stylesheet" href="{% static "ptf/vendors/bootstrap5/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "ptf/vendors/font-awesome/css/font-awesome.min.css" %}" />
    <link rel="stylesheet" href="{% static "ptf/css/bs5/ptf.css" %}" />
    <link rel="stylesheet" href="{% static "ptf/css/bs5/style.css" %}" />
    <link rel="stylesheet" href="{% static "ptf/css/bs5/search-bar.css" %}" />
    <link rel="stylesheet" href="{% static "art/css/style_art.css" %}" />
    <link rel="shortcut icon" type="images/x-icon" href="{% static "art/img/favicon.ico" %}" />
    {% block extra_css %} {{ block.super }} {% endblock extra_css %}
  {% endblock css %}
  {% include "blocks/header_rss_links.html" %}
{% endblock head %}

{% block body %}

  {% block top %}
    {% include "top.html" %}
  {% endblock top %}

  {% block menu_top %}{% endblock menu_top %}

    {% block container %}
    <div class="row">
      <div class="col-xs-4 col-sm-1 col-md-1 col-lg-1 journal-logo page-margin">
      </div>
      {% if display_new_articles %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
      {% else %}
        {% if page %}
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-7 regular-content">
        {% else %}
          <div class="col-xs-12 col-sm-11 col-md-10 col-lg-7 regular-content">
        {% endif %}
      {% endif %}

      {% block content %}
        <div id="content" class="wrapper-float">
          {% block content_top %}
          {% endblock %}
          {% block left %}
            <div id="left">
              {% block menu_left %}{% endblock %}
              {% block content_left %}{% endblock %}
            </div>
          {% endblock left %}
          <div id="center">
            {% block breadcrumb %}
              {% if not page %}
                <div class="row">
                  <div class="col-md-12 col-lg-3 col-lg-push-9 btn-tex">
                    {% include "common/tex.html" %}
                  </div>
                  <div class="col-xs-12 col-lg-9 col-lg-pull-3 article-breadcrumb">
                    {% include "common/breadcrumb.html" with page=page item_pid=pid %}
                  </div>
                </div>
              {% endif %}
            {% endblock breadcrumb %}
            {% block center_header %}{% endblock %}
            {% block center_middle %}
              {% include "mersenne_cms/page_content.html" %}
            {% endblock %}
            {% block center_footer %}{% endblock %}
          </div>
          {% block right %}
            <div id="right">
              {% block menu_right %}{% endblock %}
              {% block content_right %}{% endblock %}
            </div>
          {% endblock right %}
        </div>
      {% endblock content %}
      </div>
      {% if display_new_articles %}
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 recent-articles">
          <h4 class="recent-articles-header">Latest Issue</h4>
          {% include "common/issue-items-short.html" with articles=issue.article_set.all max=11 %}
          {% if issue.article_set.count > 10 %}
            <a href="{% url 'issue-items' issue.pid %}" style="padding-left:15px">View More</a>
          {% endif %}
          {% if news %}
            <br/><br/>
            <h4 class="recent-articles-header">{{ news.0.title_en|safe }}</h4>
            <div class="row article-short">
              <div class="col-xs-12">
                {{ news.0.content_en|safe }}
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% endblock container %}
  </div>

  {% block footer %}
    {% include "footer.html" %}
  {% endblock footer %}

  {% block js %}
    <script type="text/javascript" src="{% static "ptf/vendors/jquery/js/jquery-3.5.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "ptf/vendors/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "ptf/vendors/clipboard/js/clipboard.min.js"%} "></script>
    <script type="text/javascript" src="{% static "ptf/js/ptf.js" %}"></script>
    <script type="text/javascript" src="{% static "ptf/js/search-bar.js" %}"></script>
    {% if request.session.formula_display != 'tex' %}
        <script src="{% static "ptf/js/mathjax-config.js" %}" defer></script>
        <script type="text/javascript" id="MathJax-script" defer
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
    {% endif %}
    {% block extra_js %}{% endblock extra_js %}
  {% endblock js %}
{% endblock body %}
