{% extends "top.html" %}
{% load i18n %}
{% load static %}
{% load cms_tags %}

{% get_all_pages request 'top' True as pages %}
 {% block header_title %}  {% endblock header_title %}

   {% block header_logo %}
    <div class="col-xs-2 col-sm-2 col-md-4 col-lg-5 journal-logo">
      <a href="{% url 'home' %}" ><img src="{% static "art/img/ART.png" %}"></a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-4 col-lg-5 journal-logo-medium">
      <a href="{% url 'home' %}" ><img src="{% static "art/img/ART_medium.png" %}"></a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-4 col-lg-5 journal-logo-small">
      <a href="{% url 'home' %}" ><img src="{% static "art/img/ART_small.png" %}"></a>
    </div>
    {% endblock header_logo %}
