{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "comments_views/core/vendors/font-awesome_6.3.0/css/fontawesome.min.css" %}" />
<link rel="stylesheet" href="{% static "comments_views/core/vendors/font-awesome_6.3.0/css/solid.min.css" %}" />
<link rel="stylesheet" href="{% static "ptf/css/custom-alerts.css" %}">
<link rel="stylesheet" href="{% static "ptf/css/custom-modal.css" %}">
<link rel="stylesheet" href="{% static "comments_moderation/css/moderators.css" %}" />
{% endblock extra_css %}

{% block extrajs %}
{{ block.super }}
<script src="{% static "ptf/js/custom-alerts.js" %}"></script>
<script src="{% static "ptf/js/custom-modal.js" %}"></script>
<script src="{% static "comments_moderation/js/moderators.js" %}"></script>
{% endblock extrajs %}

{% block content %}
{% include "common/common-message-snack-bar.html"%}
<div class="right_col">
  {% include "common/comment_add_moderator_modal.html" %}
  <h1>Comment moderators</h1>
  <hr>
  <div class="comment-moderator-section-content">
    <p>
      You can manage the comment moderators for the following collections:
      <ul>
        {% for col in user_collections %}
        <li>{{ col|upper }}</li>
        {% endfor %}
      </ul>
    </p>
  </div>

  {% if moderation_rights.is_admin_moderator %}
  <div id="comment-staff-moderators" class="comment-moderator-section">
    <h2>
      <span class="title-underline">Staff moderators</span>
      <button id="add-comment-staff-moderator"
              class="custom-modal-opener comment-moderator-button"
              data-modal-id="comment-add-moderator-modal"
              data-modal-panel="moderator-modal-panel-add-existing"
              data-modal-panel-reset="true">
        <i class="fa-solid fa-plus"></i>
        <span>Add</span>
      </button>
    </h2>
    <div class="comment-moderator-section-content">
      {% if staff_moderators %}
      <div class="moderator-table-wrapper">
        {% include "common/comment_moderators_table.html" with table_id="comment-staff-moderators-table" moderators=staff_moderators display_collections=True display_edit=True %}
      </div>
      {% else %}
      <p>There are no staff moderators for your collections</p>
      {% endif %}
    </div>
  </div>
  {% endif %}

  <div id="comment-base-moderators" class="comment-moderator-section">
    <h2>
      <span class="title-underline">Base moderators</span>
    </h2>
    <div class="comment-moderator-section-content">
      {% if base_moderators %}
      <div class="moderator-table-wrapper">
        {% include "common/comment_moderators_table.html" with table_id="comment-base-moderators-table" moderators=base_moderators display_comments=True %}
      </div>
      {% else %}
      <p>There are no base moderators for your collections</p>
      {% endif %}
    </div>
  </div>

  <div id="comment-pending-moderator-invitations" class="comment-moderator-section">
    <h2>
      <span class="title-underline">Pending invitations</span>
    </h2>
    <div class="comment-moderator-section-content">
      {% if invitations %}
      <div class="moderator-table-wrapper">
        <table id="comment-pending-invitations-table" class="comment-moderator-table">
          <thead>
            <tr class="comment-moderator-entry comment-moderator-header">
              <th>Name</th>
              <th>E-mail</th>
              <th>Sent</th>
              <th>Expire</th>
              <th>Collections</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            {% for invitation in invitations %}
            <tr class="comment-moderator-entry">
              <td>{{ invitation.name }}</td>
              <td>{{ invitation.email }}</td>
              <td>
                <i>{{ invitation.sent|date:"DATE_FORMAT" }}</i>
              </td>
              <td>
                <span class="{% if invitation.key_expired %}comment-label-error{% else %}comment-label-success{% endif %}">
                  <b><i>{{ invitation.date_expired|date:"DATE_FORMAT" }}</i></b>
                </span>
              </td>
              <td>
                {% for col in invitation.collections %}
                <div>{{ col }}</div>
                {% endfor %}
              </td>
              <td>
                {% for comment in invitation.comments %}
                <div><a href="{% url "comment_details" pk=comment %}">Comment #{{ comment }}</a></div>
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <p>
        There are no pending invitations for your collections
      </p>
      {% endif %}
    </div>
  </div>


</div>
{% endblock content %}
