{% load i18n %}
{% load static %}

<div class='row'>
  <div class='d-none d-sm-block col-sm-6 col-lg-3'>
    <img src="{% static "smai-jcm/img/smai-jcm_cover.jpg" %}" class="img-thumbnail">
  </div>
  <div class='col-12 col-sm-6 col-lg-9'>
    {% for vserie in sorted_issues %}
      {% if vserie.vseries %}
        <div class="flex-item">
          <h4>{% trans "Série" %} {{ vserie.vseries }}</h4>
        </div>
      {% endif %}
      <ul class='list-unstyled'>
      {% for volume in vserie.volumes %}
      <li><h4>
        {% with volume.issues|first as first_issue %}
          {% if first_issue.ctype == 'issue' %}
            {% if volume.volume %}
              <a href="{% url 'volume-items' first_issue.get_vid %}">
            {% else %}
              <a href="{% url 'issue-items' first_issue.pid %}">
            {% endif %}
            {% if volume.volume %}
              {% include 'common/volume_string.html' %} {{ volume.volume }}</a> ({% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }})
            {% else %}
              {% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }}</a>
            {% endif %}
          {% else %}
            {% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }}
          {% endif %}
          {% for issue in volume.issues %}
            {% if issue.number %}
              <a href="{% url 'issue-items' issue.pid %}">[{{ issue.number }}]</a>
            {% endif %}
          {% endfor %}
          {% if first_issue.embargo %}
            <span title="{% if LANGUAGE_CODE == 'fr' %}Le texte intégral des articles récents est réservé aux abonnés{% else %}The full text of recent articles is available to subscribers only{% endif %}"></span>
          {% endif %}
        {% endwith %}
        </h4></li>
      {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
