{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans 'Articles à paraître' %}
{% endblock %}

{% block center_middle %}
  <div class="article-div" style="margin-bottom:40px">
    <div class="row">
      <div class="col-xs-12">
        <h3 style="margin-top:0px">
          {% trans "Aucun article en attente de parution" %}
        </h3>
      </div>
    </div>
  </div>
{% endblock %}


