{% extends "base.html" %}
{% load i18n %}
{% load stringsfilter %}

{% block title %}
  {% if articles_to_appear and not online_first_cr %}
    {% trans 'Articles à paraître' %}
  {% elif issue.title_tex %}
    {{issue.title_tex|normalize_span}}
  {% else %}
    {{ issue.my_collection.title_tex }}, {% include 'common/volume_string.html' %} {{ issue.volume }} ({{ issue.year }})
    {% if issue.number %} no. {{ issue.number }}{% endif %}
  {% endif %}
{% endblock %}

{% block breadcrumb %}
  {% if not articles_to_appear or online_first_cr %}
    {% include "common/breadcrumb.html" %}
  {% endif %}
{% endblock breadcrumb %}

{% block content_left %}
  <div id="content_left">
    {% if not issue.title_html %}
    {% if issue.small_icon or issue.icon or volume_items %}
      {% if issue.icon and issue.small_icon %}
          <a href="{{ issue.icon }}" class="lightbox" title="">
            <img src="{{ issue.small_icon }}" width="80px">
          </a>
      {% elif issue.icon %}
        <a href="{{ issue.icon }}" class="lightbox" title="">
          <img src="{{ issue.icon }}" width="80px">
        </a>
      {% endif %}
      {% if issue.my_publisher.pub_key == 'societe-mathematique-de-france' %}
        <br><br>
        <a href="https://smf.emath.fr"><img src="/static/mersenne_cms/img/logo-societe-mathematique-de-france.jpg" width="80px"></a>
      {% endif %}
    {% endif %}
    {% endif %}

  </div>
{% endblock content_left %}

{% block center_middle %}
  {% include "common/issue-items.html" %}
{% endblock %}


