{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {{ COLLECTION_TITLE }} - {% trans "Recherche" %}
{% endblock %}

{% block extra_head %}
<meta name="robots" content="noindex">
{% endblock extra_head %}

{% block content %}
<div class="row">
  <div class="wrapper-sidebar">
    <div id="toggle-sidebar">
        <button type="button" id="sidebarCollapse" class="btn btn-default btn-toggle light-blue">
            <i class="glyphicon glyphicon-align-left"></i>
            {% trans "Afficher/Cacher les filtres" %}
        </button>
      </div>
    <div class="col-xs-12 col-sm-3 col-lg-2" id="sidebar">
      {% include "common/facets.html" %}
    </div>
    <div class="col-xs-12 col-sm-9 col-lg-9" id="results">

      {% include "common/search-results.html" %}
    </div>
  </div>
</div>
{% endblock %}

