{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% with issues_articles|first as first %}
    {{ first.issue.my_collection.title_sort }}, {% include 'common/volume_string.html' %} {{ first.issue.volume }} ({{ first.issue.year }})
  {% endwith %}
{% endblock %}

{% block breadcrumb %}
  {% include "common/breadcrumb.html" %}
  {% comment %}
  {% with issues_articles|first as first %}
    <div id="crumbs" style="margin-top:10px;">
      <ul>
        <li>
          {% with coltype|add:'-issues' as url %}<a href="{% url url first.issue.my_collection.pid %}">{% endwith %}
            {% if request.session.formula_display == 'tex' %}
              {{ first.issue.my_collection.title_tex|safe }}
            {% else %}
              {{ first.issue.my_collection.title_html|safe }}
            {% endif %}
          </a>
        </li>
      </ul>
      <ul class="crumb-noarrow">
        <li><a href="">{% if first.issue.vseries %}{%  trans 'Série' %} {{ first.issue.vseries }} : {% endif %}{% include 'common/volume_string.html' %} {{ first.issue.volume }} ({{ first.issue.year }})</a></li>
      </ul>
    </div>
  {% endwith %}
  {% endcomment %}
{% endblock %}

{% block content_left %}
  <div id="content_left">
    {% with issues_articles|first as first %}
    {% with first.issue as issue %}
    {% if issue.small_icon or issue.icon %}
      {% if issue.icon and issue.small_icon %}
          <a href="{{ issue.icon }}" class="lightbox" title="">
            <img src="{{ issue.small_icon }}" width="80px">
          </a>
      {% elif issue.icon %}
        <a href="{{ issue.icon }}" class="lightbox" title="">
          <img src="{{ issue.icon }}" width="80px">
        </a>
      {% endif %}
    {% endif %}
    {% endwith %}
    {% endwith %}
  </div>
{% endblock %}

{% block center_middle %}
  {% include 'common/volume-items.html' %}
{% endblock %}

