{% load i18n %}
{% load stringsfilter %}

  {% if not parent_collection and not display_with_titles %}
    <h3 id="{{ journal.pid }}" style="margin-bottom:20px">{{ journal.title_tex }}</h3>
  {% endif %}

  {% for vserie in sorted_issues %}
    {% if USE_FLEX and not display_with_titles %}
    <div class="container-flex {% if sorted_issues|length > 1 %}container-flex-header {% endif %}{% if vserie.volumes|length < 15 %}container-flex-one{% elif vserie.volumes|length < 25 and max_width < 30 %}container-flex-xs{% elif vserie.volumes|length < 40 %}container-flex-small{% elif vserie.volumes|length < 70 %}container-flex-medium{% else %}container-flex-large{% endif %} {% if max_width > 30 %} container-flex-large-col{% endif %}">
    {% else %}
    <div class="list-of-issues {% if display_with_titles %}container{% endif %}">
    {% endif %}

    <div {% if USE_FLEX %}class="flex-group"{% endif %}>
      {% for volume in vserie.volumes %}
      <div class="flex-item">
          <div class="wrapper-float">
            {% with volume.issues|first as first_issue %}
              <div style="float:left;">
                {% if first_issue.ctype == 'issue' %}
                  {% if display_with_titles %}
                    <div class="display_with_titles_container">
                      <span class="year_of_issue_with_title">{% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }}</span>
                      <a class="issue_with_title" href="{% url 'item_id' first_issue.pid %}">
                      {% if request.session.formula_display == 'tex' %}{{ first_issue.title_tex|safe }}{% else %}{{ first_issue.title_html|safe }}{% endif %}
                      </a>
                    </div>
                  {% else %}
                    {% if use_item_url %}
                      <a href="{% url 'item_id' first_issue.pid %}">
                    {% else %}
                      <a href="{% url 'volume-items' first_issue.get_vid %}">
                    {% endif %}
                    <!--{% if volume.volume %}-->
                      <!--<a href="{% url 'volume-items' first_issue.get_vid %}">-->
                    <!--{% else %}-->
                      <!--<a href="{% url 'issue-items' first_issue.pid %}">-->
                    <!--{% endif %}-->
                    {% if volume.volume %}
                      {% include 'common/volume_string.html' %} {{ volume.volume }}</a> ({% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }})
                    {% else %}
                      {% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }}</a>
                    {% endif %}
                  {% endif %}
                {% else %}
                  {% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }}
                {% endif %}
                {% if show_issues %}
                  {% for issue in volume.issues %}
                    <br/>
                    {% if issue.number %}
                      Issue <a href="{% url 'issue-items' issue.pid %}">[{{ issue.number }}{% if request.site.name == "art" and forloop.parentloop.first and forloop.last %}*{% endif %}]</a>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  {% if request.site.name == "crbiol" and first_issue.year|add:"0" < 2023 %}
                    {% for issue in volume.issues %}
                        {% if issue.number %}
                          <a href="{% url 'issue-items' issue.pid %}">[{{ issue.number }}]</a>
                        {% endif %}
                    {% endfor %}
                  {% elif first_issue.year|add:"0" < 2021 %}
                    {% for issue in volume.issues %}
                      {% if issue.number %}
                        <a href="{% url 'issue-items' issue.pid %}">[{{ issue.number }}]</a>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endif %}
              </div>
              {% if first_issue.embargo %}
                <div style="float:left;margin-left:10px">
                  <span class="glyphicon glyphicon-time embargo-button" title="{% if LANGUAGE_CODE == 'fr' %}Le texte intégral des articles récents est réservé aux abonnés{% else %}The full text of recent articles is available to subscribers only{% endif %}" style="color:#f7a574;"></span>
                </div>
              {% endif %}
            {% endwith %}
          </div>
      </div>
      {% endfor %}
    </div>
    </div>
  {% endfor %}
  {% if archives_periodes or request.site.name == "art" %}
    {% if USE_FLEX %}
    <div class="container-flex {% if vserie.volumes|length < 25 and max_width < 30 %}container-flex-xs{% elif vserie.volumes|length < 40 %}container-flex-small{% elif vserie.volumes|length < 70 %}container-flex-medium{% else %}container-flex-large{% endif %} {% if max_width > 30 %} container-flex-large-col{% endif %}">
      <div class="flex-group">
    {% else %}
    <div class="list-of-issues">
      <div>
    {% endif %}
    {% if request.site.name == "art" %}
        <div class="flex-item">
          <div class="wrapper-float">
            <div style="float:left;">(*) In Progress</div>
          </div>
        </div>
    {% else %}
      {% with periodes_list=archives_periodes.split %}
      {% for periode in periodes_list %}
      {% with periode|split:',' as periode_items %}
      <div class="flex-item">
        <div class="wrapper-float">
          <div style="float:left;">
            <a href="{{periode_items.1}}">{% include 'common/volume_string.html' with plural=True %} {{periode_items.0}}</a>
          </div>
        </div>
      </div>
      {% endwith %}
      {% endfor %}
      {% endwith %}
    {% endif %}
      </div>
    </div>
  {% endif %}


