<form method="post" action="./?next={{next}}">
{% csrf_token %}
<p>Please login to see this page.</p>
<input type="text" name="username" placeholder="Utilisateur">
<input type="password" name="password" placeholder="Mot de passe">
<input type="submit" value="login" />
</form>
