{% load static %}
{% load i18n %}
{% load cms_tags %}

<footer id="footer">
  <div class="text-center" style="float:left; margin-left: 30px;padding-top:30px;">
  </div>
  <div style="float:right;margin-right:30px">
    <a href="http://www.mathdoc.fr" target='_blank'><img align="middle" class="logo-footer" src="{% static "logo-mathdoc.png" %}"></a>
  </div>
  <div style="float:right; margin-right: 50px;">
    {% get_all_pages request 'bottom' as pages %}
    <nav class="navbar navbar-default menu-bottom">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
        {% for page, sub_pages, is_active in pages %}
          {% if sub_pages %}
            <li class="dropdown {% if is_active %}active{% endif %}">
              <a href="#" class="dropdown-toggle menu-link" data-bs-toggle="dropdown" >{{ page.menu_title }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for sub_page in sub_pages %}
                {% with sub_page.slug as slug %}
                  <li><a href="{% url 'page_detail' slug %}" class="menu-link">{{ sub_page.menu_title }}</a></li>
                {% endwith %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            {% if page.is_link %}
              {% with page.slug as slug %}
                <li {% if is_active %}class="active"{% endif %}><a href="{% url 'page_detail' slug %}" class="menu-link">{{ page.menu_title }}</a></li>
              {% endwith %}
            {% else %}
              <li><a href="#" class="menu-link">{{ page.menu_title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
  <div class="clearfix"></div>
</footer>
