{% extends "base.html" %}

{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "ptf/vendors/flag-icon/css/flag-icon.min.css" %}" />
<link rel="stylesheet" href="{% static "ptf/css/bs5/lightbox.css" %}" />
{% endblock extra_css %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static "ptf/js/bs5/select.js" %}"></script>
<script type="text/javascript" src="{% static "ptf/js/bs5/lightbox.js" %}"></script>
{% endblock extra_js %}