{% load helpers %}
{% load cms_tags %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0">
  {% block extra_head %}{% endblock extra_head %}
  <title>
    {% block title %}
    Open Journal of Mathematical Optimization {{ block.super }}
    {% endblock title %}
  </title>
  {% block css %}
  <link rel="stylesheet" href="{% static "ptf/vendors/bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/vendors/font-awesome/css/font-awesome.min.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/css/ptf.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/css/style.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/css/search-bar.css" %}" />
  <link rel="stylesheet" href="{% static "ojmo/css/style_ojmo.css" %}" />
  <link rel="shortcut icon" type="images/x-icon" href="{% static "ojmo/img/favicon.ico" %}" />
  {% block extra_css %}
  {% endblock extra_css %}
  {% endblock css %}
  {% include "blocks/header_rss_links.html" %}
  {% endblock head %}
</head>

<body>
  {% block body %}

  {% block top %}
  {% include "top.html" %}
  {% endblock top %}

  {% block menu_top %}{% endblock menu_top %}

  <div class="page-container">
    {% block container %}
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 journal-logo">
      </div>
      {% if display_new_articles %}
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {% else %}
        {% if page %}
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-7 regular-content">
          {% else %}
          <div class="col-xs-12 col-sm-11 col-md-10 col-lg-7 regular-content">
            {% endif %}
            {% endif %}
            {% block content %}
            <div id="content" class="wrapper-float">
              {% block content_top %}
              {% endblock %}
              {% block left %}
              <div id="left">
                {% block menu_left %}{% endblock %}
                {% block content_left %}{% endblock %}
              </div>
              {% endblock left %}
              <div id="center">
                {% block breadcrumb %}
                {% if not page %}
                <div class="row">
                  <div class="col-md-12 col-lg-3 col-lg-push-9 btn-tex">
                    {% include "common/tex.html" %}
                  </div>
                  <div class="col-xs-12 col-lg-9 col-lg-pull-3 article-breadcrumb">
                    {% include "common/breadcrumb.html" with page=page item_pid=pid %}
                  </div>
                </div>
                {% endif %}
                {% endblock breadcrumb %}
                {% block center_header %}{% endblock %}
                {% block center_middle %}
                {% if not issue or not page %}
                {% include "mersenne_cms/page_content.html" %}
                {% endif %}
                {% endblock %}
                {% block center_footer %}
                {% if issue and page %}
                <div class="row">
                  <div class="col-xs-12">
                    {% include "mersenne_cms/page_content.html" %}
                  </div>
                </div>
                {% endif %}
                {% endblock %}
              </div>
              {% block right %}
              <div id="right">
                {% block menu_right %}{% endblock %}
                {% block content_right %}{% endblock %}
              </div>
              {% endblock right %}
            </div>
            {% endblock content %}
          </div>
          {% if display_new_articles %}
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 recent-articles">
            <h4 class="recent-articles-header">New articles</h4>

            {% for article in latest_articles %}

            <div class="col-xs-12">
              <div class="article-image-grid">
                {% if article.icon %}
                {% if article.pid %}<a href="{% url 'article' article.pid %}"><img src="{{ article.icon }}" alt="" class="article-icon-grid"></a><br />{% endif %}
                {% endif %}
              </div>
              <div class="article-text-grid">
                {% if article.pid %}<h4><a href="{% url 'article' article.pid %}">{% include 'common/common-title.html' with item=article for_search=True %}</a></h4>{% endif %}
                <p>{% include 'common/common-contrib.html' with item=article %}</p>
                <div class="block-with-ellipsis ">
                  {% for abstract in article.abstract_set.all %}

                  {% if request.session.formula_display == 'tex' %}
                  {{ abstract.value_tex|safe }}
                  {% else %}
                  {{ abstract.value_html|safe }}
                  {% endif %}

                  {% endfor %}
                </div>
                <div style="float:left">
                  {% comment %}Published: {{ article.date_published|date:"Y-m-d" }}{% endcomment %}
                  {% if article.date_published %}{% trans "Mis en ligne le : " %}<time datetime="{{ article.date_published|date:'Y-m-d' }}">{{ article.date_published|date:"Y-m-d" }}</time>{% endif %}
                </div>
                <div style="float:right">
                  {% with binary_files=article.get_binary_files_href.self %}
                  {% if binary_files.pdf %}
                  <strong><a href="{{ binary_files.pdf |replace_basename_binary_file }}">PDF</a></strong>
                  {% endif %}
                  {% endwith %}
                </div>
                <div class="clearfix"></div>
              </div>

            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% endblock container %}
      </div>

      {% block footer %}
      {% include "footer.html" %}
      {% endblock footer %}

      {% block js %}
      <script type="text/javascript" src="{% static "ptf/vendors/jquery/js/jquery-3.5.1.min.js" %}"></script>
      <script type="text/javascript" src="{% static "ptf/vendors/bootstrap/js/bootstrap.min.js" %}"></script>
      <script src="{% static "ptf/vendors/clipboard/js/clipboard.min.js"%} "></script>
      <script type="text/javascript" src="{% static "ptf/js/ptf.js" %}"></script>
      <script type="text/javascript" src="{% static "ptf/js/search-bar.js" %}"></script>
      {% if request.session.formula_display != 'tex' %}
      <script src="{% static "ptf/js/mathjax-config.js" %}" defer></script>
      <script type="text/javascript" id="MathJax-script" defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
      </script>
      {% endif %}
      {% block extra_js %}{% endblock extra_js %}
      {% endblock js %}
      {% endblock body %}
</body>

</html>
