{% load static %}
{% load i18n %}
{% load cms_tags %}

<div id="footer">

<!--  <div class="logos-footer col-xs-12">-->
<!--    <a class="logo-footer" href="http://www.centre-mersenne.org"><img align="middle" class="logo-footer" src="{% static "mersenne_cms/img/logo-mersenne.png" %}"></a><span class="footer-logo-text">for open scientific publishing</span>-->
<!--    <span class="footer-logo-text">Member of :</span><a class="logo-footer" href="https://freejournals.org/"><img align="middle" class="logo-footer" src="{% static "mersenne_cms/img/logo-FJN-long.png" %}"></a>-->
<!--    <span class="footer-logo-text">Developed by :</span><a class="logo-footer" href="http://www.mathdoc.fr"><img align="middle" class="logo-footer" src="{% static "mersenne_cms/img/logo-mathdoc-footer.png" %}"></a>-->
<!--  </div>-->

  <div class="logos-footer">
    <div class="logo-container">
      <div class="logo-img">
        <a href="http://www.centre-mersenne.org"><img class="img-footer" src="{% static "mersenne_cms/img/logo-mersenne.png" %}"></a>
      </div>
      <div class="logo-text logo-text-mersenne">
        <span>for open scientific publishing</span>
      </div>
    </div>

    <div class="logo-container logo-right-container">
      <div class="logo-text">
        <span>Member of </span>
      </div>
      <div class="logo-img">
        <a href="https://freejournals.org/"><img class="img-footer-mathdoc" src="{% static "mersenne_cms/img/logo-FJN-long.png" %}"></a>
      </div>
    </div>

    <div class="logo-container logo-right-container">
      <div class="logo-text">
        <span>Developed by </span>
      </div>
      <div class="logo-img">
        <a href="http://www.mathdoc.fr"><img class="img-footer-mathdoc" src="{% static "mersenne_cms/img/logo-mathdoc-footer.png" %}"></a>
      </div>
    </div>
  </div>

  <div class="text-footer clearfix">
    <div class="footer-text">
      {% include "footer_issns.html" %}
      {% now "Y" as cur_year %}
<!--      <span>©&nbsp;2019{% if cur_year != "2019" %} - {{cur_year}}{% endif %}&nbsp;</span><a href="http://www.centre-mersenne.org">Centre Mersenne</a>, <a href="{% url 'home' %}"><i> Open Journal of Mathematical Optimization </i></a>, and the authors-->
    </div>
    <div class="menu-footer">
      {% get_all_pages request 'bottom' as pages %}
      <nav class="navbar navbar-default menu-bottom">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
          <li>
            <a href='{% url 'syndication-feed' %}' alt='syndication feed'>
              <i class="fa fa-rss" aria-hidden="true"></i> {% trans "Nous suivre" %}
            </a>
          </li>

          {% for page, sub_pages, is_active in pages %}
            {% if sub_pages %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-link" data-toggle="dropdown" >{{ page.menu_title }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% for sub_page in sub_pages %}
                  {% with sub_page.slug as slug %}
                    <li><a href="{% url 'page_detail' slug %}" class="menu-link">{{ sub_page.menu_title }}</a></li>
                  {% endwith %}
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              {% if page.is_link %}
                {% with page.slug as slug %}
                  <li><a href="{% url 'page_detail' slug %}" class="menu-link">{{ page.menu_title }}</a></li>
                {% endwith %}
              {% else %}
                <li><a href="#" class="menu-link">{{ page.menu_title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
