{% load i18n %}
{% load static %}
{% load cms_tags %}

{% get_all_pages request 'top' as pages %}

<div id="mersenne-header" class="container-fluid">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-2 journal-logo">
      <a href="{% url 'home' %}" ><img src="{% static "ojmo/img/logo.png" %}"></a>
    </div>
    <div class="col-xs-7 col-sm-9 col-md-8 col-lg-8 journal-header-content">
      <div class="journal-title">
        <h1 style="text-align:center"> Open Journal of Mathematical Optimization</h1>


      </div>

      <div class="col-xs-12">
       <nav class="navbar navbar-default menu-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ojmo-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="ojmo-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/" class="menu-link">About the journal</a></li>
            {% for page, sub_pages, is_active in pages %}
              {% if sub_pages %}
                <li class="dropdown {% if is_active %}active{% endif %}">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ page.menu_title }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% for sub_page in sub_pages %}
                      <li>
                        <a href="{% url 'page_detail' sub_page.slug %}">{{ sub_page.menu_title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                {% if page.is_link %}
                  <li {% if is_active %}class="active"{% endif %}>
                    <a href="{% url 'page_detail' page.slug %}" class="menu-link">
                      {{ page.menu_title }}{% if is_active %} <span class="sr-only">(current)</span>{% endif %}
                    </a>
                  </li>
                {% else %}
                  <li>
                    <a href="#" class="menu-link">{{ page.menu_title }}</a>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
      </div>
      <div id="search-bar">
        {% include "common/search-bar.html" with with_browse=True %}
      </div>
    </div>
  </div>
</div>
