{% load i18n %}
{% load static %}

<div id="article-comments-wrapper">
  <div id="article-comments-thread">
    {% if ordered_comments %}
    <div id="article-comments">
      <div id="show-more-overlay" class="show-more-overlay display-none">
        <span class="show-more-span">{% trans "Afficher plus" %}</span>
        <span class="show-less-span">{% trans "Afficher moins" %}</span>
      </div>
      {% for top_level_comment in ordered_comments %}
      {% comment %} We put an unique ID to each comment to enable anchor links {% endcomment %}
        <div class="direct-comment article-comment" id="article-comment-{{top_level_comment.content.id}}">
          {% include 'common/article_comment.html' with comment=top_level_comment.content %}
          {% if display_reply_form and reply_comment_form.parent == top_level_comment.content.id %}
            <div id="add-comment-reply" class="add-comment-reply-active">
              {% include 'common/article_comment_form.html' with comment_form=reply_comment_form comment_form_name='reply_comment_form'%}
            </div>
          {% endif %}
          {% if top_level_comment.children %}
            <div class="child-comments">
              {% for child_comment in top_level_comment.children %}
                <div class="child-comment article-comment" id="article-comment-{{child_comment.id}}">
                  {% include 'common/article_comment.html' with comment=child_comment %}
                </div>
                {% if display_reply_form and reply_comment_form.parent == child_comment.id %}
                  <div id="add-comment-reply" class="add-comment-reply-active">
                    {% include 'common/article_comment_form.html' with comment_form=reply_comment_form comment_form_name='reply_comment_form'%}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
          </div>
      {% endfor %}
    </div>
    {% else %}
    <p>
      {% trans "Il n'y a aucun commentaire pour cet article. Soyez le premier à écrire un commentaire !" %}
    </p>
    {% endif %}
  </div>
  <div id="add-comment-default">
    <hr>
    {% include 'common/article_comment_form.html' with comment_form=default_comment_form comment_form_name='default_comment_form'%}
  </div>
  {% if display_reply_form is not True %}
  <div id="add-comment-reply">
    {% include 'common/article_comment_form.html' with comment_form=reply_comment_form comment_form_name='reply_comment_form'%}
  </div>
  {% endif %}
</div>
