{% load i18n %}
{% load static %}
{% load helpers %}

<div class="add-comment">
  <p>
    {% if comment_form_name == 'reply_comment_form' %}
      {% trans 'Publier une nouvelle réponse:' %}
    {% else %}
      {% trans 'Publier un nouveau commentaire:' %}
    {% endif %}
  </p>
  {% if is_user_oidc_authenticated %}
    <form class='comment-form form-deactivate-on-submit' action="{{comment_form.submit_url}}" method='post'>
      {% csrf_token %}
      <div class='comment-form-header comment-header-metadata'>
        <div class='comment-author'>{{comment_form.author_name}}</div>
        <span class="hyphen-separator">-</span>
        <div class='comment-date'>{{comment_form.date_submitted|date:'DATE_FORMAT'}}</div>
        {% if comment_form_name == "reply_comment_form" and comment_form.parent %}
        <span class="hyphen-separator">-</span>
          <div class="comment-replying-to">
            {% trans 'En réponse à' %}&nbsp;<a class="comment-fragment-link" href="#article-comment-{{comment_form.parent}}">{{comment_form.parent_author_name}}</a>
          </div>
        {% endif %}
      </div>

      <div class="comment-form-input">
        {{ comment_form.form.media }}
        {% comment %} Loop over the form fields - Approval is handled separately {% endcomment %}
        {% for field in comment_form.form %}
        {% if field.name == "approval" %}
        <div class="comment-form-input-block">
          {{ field }}
          <label for="{{ field.id_for_label }}">
            {% for text in consent_text_list %}
            {{ text|safe }}
            {% if not forloop.last %}<br>{% endif %}
            {% endfor %}
          </label>
        </div>
        {% else %}
        {% if field.field.widget.input_type == "checkbox" %}
        <div class="comment-form-input-block">
          {{ field }}
          {{ field.label_tag }}
        </div>
        {% else %}
        {{ field }}
        {% endif %}
        {% endif %}
        {% endfor %}
        {% comment %} {{ comment_form.form}} {% endcomment %}
      </div>
      <div class='comment-buttons comment-form-buttons'>
        {% if comment_form_name == 'reply_comment_form' %}
          <button class="btn btn-light cancel-button" type="button">
            <span>Cancel</span>
          </button>
        {% endif %}
        <button type="submit" class="btn btn-primary button-deactivable">
          <span>Submit</span>
        </button>
      </div>
    </form>
  {% else %}
    {% include "common/comment_login.html"%}
  {% endif%}
</div>
