{% load i18n %}
{% load static %}

<div class="row">
  <div class="col-12">
    <div id="article-comments-section">
      <p class="panel-title show-body-panel-title" data-bs-toggle="collapse" data-bs-target="#articleCommentsCollapse"
      aria-controls="articleCommentsCollapse">
        <span class="panel-title-content">
          <span>{% trans 'Commentaires' %}</span>
          {% if COMMENTS_VIEWS_POLICY_LINK %}
          <span class="panel-title-description">
            <span class="panel-title-separator">-</span>
            <a class="click-stop-propagation" target="_blank" href="{{ COMMENTS_VIEWS_POLICY_LINK }}">
              {% trans "Politique"%}
              <i class="fa fa-question-circle" aria-hidden="true"></i>
            </a>
          </span>
          {% endif %}
        </span>
        <span class="collapse-icon">
          <i class="fa fa-chevron-up"></i>
        </span>
      </p>
      <hr class="panel-title-separator">
      <div id="articleCommentsCollapse" class="collapse show open-on-outline-submenu collapse-body" style="margin:20px 10px;">
        <div  id="async-article-comments" class="async-html" data-spinner="true"
        data-url="{{ comments_url }}" data-js-callback="articleComments">
        </div>
      </div>
    </div>
  </div>
</div>

