{% load comments_journal_tags %}
<div><a href="{% url "comment_list" %}">Manage comments</a></div>
<div><a href="{% login_server_url request %}">Manage personal data</a></div>
<div><form method="POST" action="{% url 'remote_logout' %}">{% csrf_token %}<button type="sumbit">Log Out</button></form></div>
