{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {{ COLLECTION_TITLE }} - {% trans "Recherche" %}
{% endblock %}

{% block extra_head %}
<meta name="robots" content="noindex">
{% endblock extra_head %}

{% block container %}
<div class="row">
  <div class="hidden-xs col-sm-4 col-md-3" id="sidebar">
    {% include "common/facets.html" %}
  </div>
  <div class="col-xs-12 col-sm-8 col-ms-9" id="results">
    <div id="toggle-sidebar" class="visible-xs-block text-center">
      <button type="button" id="sidebarCollapse" class="btn btn-primary" data-toggle="modal" data-target="#filters-modal">
          <i class="glyphicon glyphicon-align-left"></i>
          {% trans "Filter results" %}
      </button>
    </div>
    <div id="filters-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">
              {% trans "Filter results" %}
            </h4>
          </div>
          <div class="modal-body">
            {% include "common/facets.html" %}
          </div>
        </div>
      </div>
    </div>
    {% include "common/search-results.html" %}
  </div>

</div>
{% endblock %}
