{% load i18n %}
{% load helpers %}
{% if article.doi %}<meta name="citation_doi" content="{{article.doi}}">{% endif %}
<meta name="citation_title" content="{{article.title_tex}}">
{% with authors=article.contributions.all|filter_by_role:"author" %}{% for author in authors %}<meta name="citation_author" content="{{author}}">{% endfor %}{% endwith %}
<meta name="citation_publication_date" content="{{article.my_container.year}}">
<meta name="citation_journal_title" content="{{article.my_container.my_collection.title_tex}}">
{% if article.my_container.my_collection.e_issn %}<meta name="citation_issn" content="{{article.my_container.my_collection.e_issn}}">{% elif article.my_container.my_collection.issn %}<meta name="citation_issn" content="{{article.my_container.my_collection.issn}}">{% endif %}
<meta name="citation_volume" content="{{article.my_container.volume}}">
{% if article.my_container.number %}<meta name="citation_issue" content="{{article.my_container.number}}">{% endif %}
{% if article.fpage %}<meta name="citation_firstpage" content="{{article.fpage}}">{% endif %}
{% if article.lpage %}<meta name="citation_lastpage" content="{{article.lpage}}">{% endif %}
{% if article.article_number %}<meta name="dc.Identifier" scheme="publisher-id" content="{{article.article_number}}">{% endif %}
{% with binary_files=article.get_binary_files_href.self %}{% if binary_files.pdf %}<meta name="citation_pdf_url" content="{{request.scheme}}://{{request.get_host}}{{binary_files.pdf | replace_basename_binary_file}}">{% endif %}{% endwith %}
