{% load i18n %}
{% load helpers %}
<div style="margin:20px">

  <div class="outer-div">
    <div class="inner-div">
      <div class="btn-toolbar atoz">
        <div class="btn-group btn-group-sm">
          {% for letter in letters %}
{#            <a href="{% url 'authors' %}?letter={{ letter }}" class="btn btn-default letter {% if letter == letter_active %}active{% endif %}">{{ letter }}</a>#}
            <a href="{% pretty_search 'authors' 'r' letter %}" class="btn btn-default letter {% if letter == letter_active %}active{% endif %}">{{ letter }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="dynamic-columns">
    {% for author in authors %}
      <p><a href="{% pretty_search 'search' 'c' '"'|add:author.name|add:'"' %}">{{ author.name }}</a> ({{ author.count }})</p>
    {% endfor %}
  </div>

  <div class="outer-div">
    <div class="inner-div">
      {% include "common/results-pagination.html" %}
    </div>
  </div>

</div>

