{# liste des collections de livres #}
{% load i18n %}
{% for serie in series %}
  <div class="row">
    <div class="col-xs-2">
      <img src="{{ serie.icon }}" alt="cover" class="serie-icon">
    </div>
    <div class="col-xs-10">
      <a href="{% url 'book-list' serie.pid %}">
        {% include 'common/common-title.html' with item=serie %}
      </a>
      {%  if serie.fyear > 0 %}
        : {{ serie.fyear }}
        {% if serie.lyear > serie.fyear %}
          - {{ serie.lyear }}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endfor %}
