{% load i18n %}
<div class="row breadcrumb-row">
  {% if article and breadcrumb.show_tex and forloop.counter == 1 %}
    <div class="col-md-12 col-lg-3 col-lg-push-9 btn-tex breadcrumb-lg">
      {% include "common/tex.html" %}
    </div>
    <div class="col-xs-12 col-lg-9 col-lg-pull-3 article-breadcrumb">
  {% else %}
    <div class="col-xs-12">
  {% endif %}
    {# Base breadcrumb for large screen #}
    <div class="breadcrumb-lg">
      {% if breadcrumb.previousItem %}
        <div style="float:left">
        <ul class="cms-breadcrumb">
          <li class="breadcrumb-previous">
            <a href="{{ breadcrumb.previousItem.url }}">{% trans 'Précédent' %}</a>
          </li>
        </ul>
        </div>
      {% endif %}
      <div style="float:left">
      <ul class="cms-breadcrumb">
        {% for crumb in breadcrumb.items %}
          {% comment %}
            in ptf-tools, we prefer returning to collection-detail view instead of journal
          {% endcomment %}
          {% if admin_mode and forloop.first %}
            <li>
              <a href="{% url "collection-detail" pid=article.my_container.my_collection.pid %}">{{ crumb.title|safe }}</a>
            </li>
          {% else %}
            <li class="{% if forloop.last %}active{% endif %}">
              <a href="{{ crumb.url }}">{{ crumb.title|safe }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      </div>
      {% if breadcrumb.nextItem %}
        <div style="float:left">
          <ul class="cms-breadcrumb">
            <li class="breadcrumb-next">
              <a href="{{ breadcrumb.nextItem.url }}">{% trans 'Suivant' %}</a>
            </li>
          </ul>
        </div>
      {% endif %}
    </div>
    {# Alternative breadcrumb for small screen #}
    <div class="breadcrumb-sm">
      {% if breadcrumb.previous %}
        <a href="{{ breadcrumb.previous }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></a>
      {% endif %}

      {% if breadcrumb.crumbs|length > 3 %}
        {% for crumb in breadcrumb.items reversed %}
          {% if forloop.counter0 == 1 %}
            <a href="{{ crumb.href }}" class="btn btn-default">{{ crumb.title|safe }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if breadcrumb.nextItem %}
        <a href="{{ breadcrumb.nextItem }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-right"></i></a>
      {% endif %}
    </div>
    <div class="clearfix">
    </div>
  </div>
</div>
