{% load helpers %}
{% load i18n %}
{% load static %}

{% if contributors %}
  <div style="margin-bottom:5px; font-size: 16px">
  {% with aff_id=with_letter|affiliation_id %}
  {% with are_all_equal=contributors|are_all_equal_contrib %}
  {% with size=contributors|length %}
  {% with addresses=contributors|get_addresses %}
  {% for contribution, addresses_with_index in contributors|contributions_with_index:addresses %}
    {% comment %} Use {% if contribution|is_author_of_original_article:original_contributions %} to check if a translator is also an author of the article {% endcomment %}
    {% if for_issue and forloop.counter == 7 and size > 7 %}
    ...
    {% elif not for_issue or forloop.counter < 8 or forloop.counter == size %}
    {% if no_links %}
    {{contribution.display_name}}{% if article_page %}&hairsp;<sup>{% for address in addresses_with_index %}{{address.index|address_index_value:with_letter}}{% if not forloop.last %},&nbsp;{% endif %}{% endfor %}</sup>{% endif %}
    {% else %}
    <a class="author_link" href="{{ contribution.get_absolute_url }}">{{contribution.display_name}}{% for address in addresses_with_index %}<span href=#aff_{{address.index|address_index_value:with_letter}}></span>{% endfor %}</a><!--
  -->{% if article_page %}<!--
  -->{% for address in addresses_with_index %}<!--
  --><a class="author_link" href="#{{aff_id}}" data-toggle="collapse" aria-controls="{{aff_id}}"><sup><span href=#aff_{{address.index|address_index_value:with_letter}}>{{address.index|address_index_value:with_letter}}</span>{% if not forloop.last %},&nbsp;{% endif %}</sup></a><!--
-->{% endfor %}<!--
-->{% endif %}<!--
-->{% endif %}<!--
    -->{% spaceless %}
      {% include 'common/contribution_badge.html' with contribution=contribution %}
    {% endspaceless %}<!--
-->{% if article_page and contribution.equal_contrib %}<sup title="{% trans 'Contribution à part égale' %}"><i class="fa fa-hashtag text-muted" aria-hidden="true"></i></sup>{% endif %}<!--
-->{% if article_page and contribution.corresponding %}<sup><span class="glyphicon glyphicon-user" title="{% trans "Auteur correspondant" %}" style="color:#999999"></span></sup>{% endif %}<!--
-->{% if article_page and contribution.deceased_before_publication %}&nbsp;<sup>&dagger;</sup>{% endif %}<!--
-->{% if not forloop.last %}{% if LANGUAGE_CODE == 'fr' %}&nbsp;{% endif %};{% endif %}<!--
-->{% endif %}
  {% endfor %}
  {% if article_page %}
  {% if addresses %}
  <a data-toggle="collapse" href="#{{aff_id}}" aria-controls="{{aff_id}}">
    <button id='house-affiliation{% if with_letter %}-a{% endif %}' type="button" class="btn btn-primary btn-link btn-xs" data-bs-toggle="tooltip" title="{% trans "Affiliations des auteurs" %}">
      <span class="glyphicon glyphicon-home"></span><span id='house-caret{% if with_letter %}-a{% endif %}' class="caret-icon fa fa-caret-down" style="margin-left:3px"></span>
    </button>
  </a>
  <div class="collapse" id="{{aff_id}}">
    <div class="card card-body">
      {% include 'blocks/affiliations.html' with addresses=addresses article_page=True with_letter=with_letter %}
    </div>
  </div>
  {% endif %}
  {% endif %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  </div>
{% endif %}

