{% load i18n %}
{% load helpers %}
{% load static %}

{% if SHOW_BODY %}
{% if images and images.graphical_abstract %}
<div class="row">
  <div class="col-xs-12">
    <div style="margin-top:20px">
      <p class="panel-title" style="font-size:30px;margin-bottom:10px;">{% trans 'Résumé graphique' %}</p>
      <a class="lightbox img-ga" href="{{ images.graphical_abstract.url }}"><img class="img-ga" src="{{ images.graphical_abstract.url }}"></a>
    </div>
  </div>
</div>
{% endif %}
{% endif %}

{% if not SHOW_BODY %}
{% endif %}
