{% load i18n %}
{% load static %}

{% if supplementary_materials %}
  <p>
    <strong>
    {% if abstract.lang == 'en' %}
      Supplementary Materials:
    {% else %}
      Compléments :
    {% endif %}
    </strong><br>
    {% if supplementary_materials|length == 1 %}
      {% if abstract.lang == 'en' %}
        Supplementary material for this article is supplied as a separate file:
      {% else %}
        Des compléments sont fournis pour cet article dans le fichier séparé :
      {% endif %}
    {% else %}
      {% if abstract.lang == 'en' %}
        Supplementary materials for this article are supplied as separate files:
      {% else %}
        Des compléments sont fournis pour cet article dans les fichiers suivants :
      {% endif %}
    {% endif %}
  </p>
  <ul class="list-inline">
    {% for material in supplementary_materials %}
      {% if material.mimetype == 'text/html' %}
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="560"
                          height="315"
                          class="embed-responsive-item"
                          src="{{ material.embeded_link }}"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen>
                  </iframe>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <li>
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">
          <i class='fa fa-play-circle-o' aria-hidden='true'></i>
          {{ material.caption }}
        </button>
        </li>
      {% else %}
        <li>
          <a href="{{ material.get_href }}" class="btn btn-link">
            {% if material.mimetype == 'application/pdf' %}
              <i class='fa fa-file-pdf-o' aria-hidden='true'></i>
            {% elif material.mimetype == "application/vnd.jupyter" %}
              <i class='fa fa-file-code-o' aria-hidden='true'></i>
            {% elif material.mimetype == "video/mp4" %}
              <i class='fa fa-file-video-o' aria-hidden='true'></i>
            {% else %}
              <i class='fa fa-file-o' aria-hidden='true'></i>
            {% endif %}
            {{ material }}
          </a>
          <p class="supplement-caption">{{material.caption}}</p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
