{% load i18n %}
{% load helpers %}
{% load static %}

{% if display_errors == None or display_errors %}
{% for bibitem in resource.bibitem_set.all %}
<p class="bibitemcls {% if display_errors and bibitem.type == 'unknown' %}display-errors{% endif %}" {% for bibitemid in bibitem.bibitemid_set.all %}{% if bibitemid.id_value == source %}style="background: #FEF2C4" {% endif %}{% endfor %}
  {% with ref_id=bibitem.get_ref_id %}{% if ref_id %} id="{{ref_id}}"{% endif %}>{% endwith %}
  {% if request.session.formula_display == 'tex' %}
    {{ bibitem.citation_tex|safe }}
  {% else %}
    {{ bibitem.citation_html|safe }}
  {% endif %}
  {% if admin_mode %}
    {% for externalid in bibitem.bibitemid_set.all %}
      {% if externalid.id_type == 'arxiv' %}
        <a href="{{ externalid.get_href }}" target="_blank">arXiv:{{ externalid.id_value }}</a>
      {% endif %}
    {% endfor %}
    <a class='btn btn-default btn-xs' href="{% url 'bibitemid-create' bibitem_pk=bibitem.pk %}" title="Ajouter un nouvel id"><i class='glyphicon glyphicon-plus'></i></a>
  {% endif %}
  {% for bibitemid in bibitem.bibitemid_set.all %}
    {% include 'common/externalid_detail.html' with externalid=bibitemid resource_type='bibitemid' sequence=bibitem.sequence %}
  {% endfor %}
  {% if admin_mode %}
    {% comment %}
      Empty externalid form will be filled when matching is launched
    {% endcomment %}
    {% include "common/externalid_form.html" with sequence=bibitem.sequence %}
  {% endif %}
</p>
{% endfor %}
{% endif %}
