{% load i18n %}
{% load helpers %}

{% with avertissements=resource.get_avertissements %}

<div class="row">
  <div class="col-xs-12">
    <div id="abstract-html" style="margin-top:20px">
      <p class="panel-title" style="font-size:30px;margin-bottom: 10px;">
        {% if full_translation %}
          {% trans 'Traduction du résumé' %}
        {% else %}
          {% trans 'Résumé' %}
        {% endif %}
      </p>
      {% if request.session.formula_display == 'tex' %}
        {{ abstract.value_tex|safe }}
      {% else %}
        {{ abstract.value_html|safe }}
      {% endif %}
      {% include 'common/common-avertissements.html' %}
      {% include 'common/common-annexes.html' %}
    </div>
  </div>
</div>

{% endwith %}
