{## commun pour article/book-part ##}
{% load i18n %}
{% load helpers %}

{% if article.subject_of.all or article.object_of.all %}
<div class="row" {% if not SHOW_BODY %}style="margin:10px"{% endif %}>
  <div style="margin-bottom:10px; margin-top:20px" class="relations-div col-xs-12">
    {% for relation in article.subject_of.all %}
      {% with doi_url=relation.object_pid|get_doi_url %}
      {% if relation.related.pid %}
        <i class="fa fa-info-circle" aria-hidden="true"></i> {% if LANGUAGE_CODE == 'en' %}{{ relation.rel_info.left }}{% else %}{{ relation.rel_info.gauche }}{% endif %}
        {% if relation.related.doi %}<a href="{% url 'article' relation.related.doi %}">{% else %}<a href="{% url 'item_id' relation.related.pid %}">{% endif %}{% include 'common/common-title.html' with item=relation.related %}</a>
      {% elif doi_url %}
        <i class="fa fa-info-circle" aria-hidden="true"></i> {% if LANGUAGE_CODE == 'en' %}{{ relation.rel_info.left }}{% else %}{{ relation.rel_info.gauche }}{% endif %}
        <a href="{{doi_url}}">{{relation.object_pid}}</a>
      {% endif %}
      {% endwith %}
      <br>
    {% endfor %}
    {% for relation in article.object_of.all %}
      {% if relation.resource.pid %}
        <i class="fa fa-info-circle" aria-hidden="true"></i> {% if LANGUAGE_CODE == 'en' %}{{ relation.rel_info.right }}{% else %}{{ relation.rel_info.droite }}{% endif %}
        {% if relation.resource.doi %}<a href="{% url 'article' relation.resource.doi %}">{% else %}<a href="{% url 'item_id' relation.resource.pid %}">{% endif %}{% include 'common/common-title.html' with item=relation.resource %}</a>
      {% endif %}
      {% if not forloop.last %}<br>{% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
