{## commun pour article/book-part ##}
{% load i18n %}
{% load helpers %}
{% load stringsfilter %}
{% load static %}

{% if article_show_body %}{% include "common/outline-sm.html" %}{% endif %}
{{article.get_ojs_id}}
{% block article-header %}
  {% include "common/article-header.html" %}
{% endblock article-header %}

<div id="article-div" class="article-div" style="margin-left:-15px">
  {% block article-title-block %}
  <div class="row {% if admin_mode and article.do_not_publish %}do-not-publish-row{% endif %}" style="margin:0px">
    {% if admin_mode and article.do_not_publish %}<p style="color:white; font-size:20px; text-align: center"> NE SERA PAS PUBLIÉ </p>{% endif %}
    {% if article.my_container.my_publisher.pub_key == 'societe-mathematique-de-france' %}
    <div class="float-minus-100">
    {% else %}
    <div class="col-xs-12">
    {% endif %}

      {% with heading=article|get_article_heading %}
        {% if heading %}
          <div class="article-subj" style="margin-bottom:0px">{{heading|safe}}</div>
        {% endif %}
      {% endwith %}
      <div style="font-size:18px;margin-bottom:10px">
        {% include 'common/common-title.html' with item=article %}
      </div>
      {% include 'common/common-contrib.html' with item=article article_page=True %}

      <div style="margin-bottom:10px">
          {% include 'common/common-info-article.html' %}
          {% block article_extra_info_block %}
          {% endblock article_extra_info_block %}
      </div>

      {% with binary_files=article.get_binary_files_href %}
      {% if is_translation %}
        {% if full_translation %}
        <div style="margin-top:20px;margin-bottom:20px">
          <div style="float:left; margin-right: 5px">{% if full_translation %}{% trans "Traduit par :" %}{% else %}{% trans 'Texte intégral traduit par :' %}{% endif %}</div>
          {% with original_contributions=article.contributions.all|filter_by_role:"author" %}
          {% include 'common/common-contrib.html' with item=translated_article article_page=True original_contributions=original_contributions %}
          {% endwith %}
        </div>
        {% endif %}
        {% if binary_files.translations %}
          <div style="margin-top:20px;margin-bottom:10px">
          {% for trans_lang, trans_files in binary_files.translations.items %}
            {% if trans_lang == display_lang and trans_files.pdf %}<a href="{{trans_files.pdf}}" target="_blank" ><img src="{% static 'ptf/img/pdf.gif' %}" style="vertical-align:middle"></a>{% endif %}
          {% endfor %}
          </div>
        {% endif %}
      {% else %}
        <div style="margin-top:20px;margin-bottom:10px">
          {% include 'common/common-binary-files.html' with embargo=article.my_container.embargo binary_files=article.get_binary_files_href.self display_embargo_text=True website=article.get_collection.website doi=article.get_doi_href show_button=show_button %}
        </div>
      {% endif %}
      {% endwith %}
    </div>

    {% if article.my_container.my_publisher.pub_key == 'societe-mathematique-de-france' %}
    <div style="float:left;margin-top:20px;width:98px;padding-right:10px;padding-left:15px;">
      <a href="https://smf.emath.fr"><img src="/static/mersenne_cms/img/logo-societe-mathematique-de-france.jpg" width="80px"></a>
    </div>
    {% endif %}
  </div>
  {% endblock article-title-block %}

  {% include 'common/common-relations.html' %}
  {% include 'common/common-graphical-abstract.html' with images=article.get_illustrations %}
  {% if is_translation %}
    {% include 'common/common-abstract-translation.html' with resource=article %}
  {% else %}
    {% include 'common/common-abstract.html' with resource=article %}
  {% endif %}
  {% include 'common/common-tabs.html' with resource=article %}

  {% if SHOW_BODY or collection.pid == 'PCJ' and body_html %}

    {% if collection.pid == 'PCJ' %}
      <div class="row">
    {% else %}
      <div class="row" style="margin: 0px">
    {% endif %}
        <div class="col-xs-12">
          <p  id="article-body-html-title" class="panel-title show-body-panel-title"
              data-toggle="collapse" data-target="#article-body-html"
              aria-controls="article-body-html"
              style="font-size:30px; margin-top: 20px; margin-bottom: 10px">
            {% if ALLOW_TRANSLATION %}
              {% if is_translation %}
                {% trans "Traduction du texte intégral" %}
              {% else  %}
                {% trans 'Version originale du texte intégral' %}
              {% endif %}
              {% if article.doi|allow_translation %}
              <span style="font-size: 20px">(<a href="{{start_translation_url}}">{% trans 'Proposez une traduction' %} {% if is_translation %}{% trans 'dans une autre langue' %}{% endif %}</a>)</span>
              {% endif %}
            {% else %}
              {% trans "Texte intégral" %}
            {% endif %}
            <span class="collapse-icon"><i class="fa fa-chevron-up"></i></span>
          </p>
          {% if is_translation and not full_translation %}
            <div style="margin-top:10px;margin-bottom:10px;">
              <div style="float:left; margin-right: 5px">{% trans 'Texte intégral traduit par :' %}</div>
              {% with original_contributions=article.contributions.all|filter_by_role:"author" %}
              {% include 'common/common-contrib.html' with item=translated_article article_page=True original_contributions=original_contributions %}
              {% endwith %}
            </div>
          {% endif %}
          <div id="article-body-html" class="collapse in open-on-outline-submenu collapse-body">
            {{body_html|safe}}
          </div>
          <hr class="panel-title-separator">
        </div>
      </div>
  {% endif %}

  {% include 'common/common-bibliographie.html' with resource=article %}

  {% if article.footnotes_html %}
  <div class="row footnotes" style="margin-top:30px;">
    <div class="col-xs-12">
    {{article.footnotes_html|safe}}
    </div>
  </div>
  {% endif %}

  {% if COMMENTS_VIEWS_ARTICLE_COMMENTS %}
  {% include 'common/article_comments_section.html' %}
  {% endif %}


</div>
