{% load helpers %}
{% load i18n %}
{% load static %}

{% with contributions=contributions|filter_by_role:role %}
{% if contributions %}
  {% if role != "author" %}
    {% if role == "presenter" %}
      <div style="margin-bottom:5px; font-size: 13px">
    {% elif role == "thesis-advisor" %}
      <div style="margin-top:10px; font-size: 16px">
    {% else %}
      <div style="margin-bottom:5px; font-size: 16px">
    {% endif %}
    {% if role != "thesis-advisor" and role != "thesis-examiner" %}
      {% if item.my_container.ctype != 'book-edited-book' or role == "redaktor" %}<p>{% elif role == "editor" and authors.length > 0 %} - {% endif %}
    {% endif %}
    {% if role == "editor" %}
      {% if is_cr and is_issue %}
        {% if editors|length > 1 %}
          {% trans "Numéro thématique coordonné par : " %}
        {% else %}
          {% trans "Numéro thématique coordonné par : " %}
        {% endif %}
      {% endif %}
    {% elif role == "contributor" %}
      {% trans 'Avec les contributions de : ' %}
    {% elif role == "redaktor" %}
      {% trans 'Notes prises par : ' %}
    {% elif role == "organizer" %}
      {% trans 'Organisé par : ' %}
    {% elif role == "presenter" %}
        {% trans 'Présenté par : ' %}
    {% elif role == "thesis-advisor" %}
        {% trans 'Directeur de thèse : ' %}
    {% elif role == "thesis-examiner" %}
        {% trans 'Membres du jury : ' %}
    {% endif %}
  {% endif %}
  {% for contribution in contributions %}
    {% if no_links %}{{contribution.display_name}}{% else %}<a href="{{ contribution.get_absolute_url }}">{{contribution.display_name}}</a>{% endif %}<!--
    -->{% comment %}{% if contribution.role == "thesis-examiner|Président" %} ({% trans 'Président' %}){% endif %}{% endcomment %}<!--
    -->{% spaceless %}
        {% include 'common/contribution_badge.html' with contribution=contribution %}
        {% endspaceless %}<!--
    -->{% if not forloop.last %}<!--
    -->{% if LANGUAGE_CODE == 'fr' %}&nbsp;{% endif %};&nbsp;<!--
    -->{% elif role == "editor" and contribution.display_name != 'Collectif' %}<!--
      -->{% if not is_cr or not is_issue %} ({% if LANGUAGE_CODE == 'en' and contributors|length > 1 %}eds.{% else %}{% trans "éd." %}{% endif %}){% endif %}<!--
    -->{% endif %}<!--
    -->{% endfor %}
  {% if role != "author" %}
    {% if role != "thesis-advisor" and role != "thesis-examiner" %}
      {% if item.my_container.ctype != 'book-edited-book' or role == "redaktor" %}</p>{% endif %}
    {% endif %}
    </div>
  {% endif %}
{% endif %}
{% endwith %}
