{% load i18n %}

<div class="wrapper-float" style="margin-top:5px;margin-bottom:2px">
  <div style="float:left;max-width: calc(100% - 70px)">
    {% if item.item_url %}
      <a href="{{item.item_url}}{% if source %}?source={{ source }}{% endif %}">
    {% elif item.doi and "Article" in item.classname %}
      <a href="{% url 'article' item.doi %}{% if source %}?source={{ source }}{% endif %}">
    {% else %}
      <a href="{% url 'item_id' item.pid %}{% if source %}?source={{ source }}{% endif %}">
    {% endif %}
      {% include 'common/common-title.html' with item=item %}
      </a>
  </div>
  <div style="float:left;margin-left:10px">
    {% include 'common/common-binary-files.html' with embargo=embargo binary_files=binary_files show_button=show_button %}
  </div>
</div>
