{% load i18n %}
{% load helpers %}
{% load static %}


<div class="col-sm-2 hidden-xs hidden-sm">
  {% if images.illustration %}
  <img class="img-ga-toc" src="{{ images.illustration.url }}">
  {% elif images.graphical_abstract %}
  <img class="img-ga-toc" src="{{ images.graphical_abstract.url }}">
  {% else %}
  <img class="mrs-journal-icon" src="/chimie/static/crchim/img/couv-crchim.jpg">
  {% endif %}
</div>
