{% load helpers %}
{% load static %}
  {% if contribution.orcid %}<sup><a href="{{contribution.orcid_href}}" target="_blank"><img style="width:16px;margin-top:-3px;margin-left:3px" src='{% static "ptf/img/orcid.svg" %}'></a></sup>{% endif %}
  {% if contribution.idref %}<sup><a href="{{contribution.idref_href}}" target="_blank"><img style="width:16px;margin-top:-3px;margin-left:3px" src='{% static "ptf/img/logo-idref.png" %}'></a></sup>{% endif %}
