{% load stringsfilter %}
{% if externalid.id_type == "mathdoc-id" %}
   |
  {% if externalid.id_value %}
    <a href="{{ externalid.get_href }}" {% if resource_type == 'bibitemid' %}class="badge badge-secondary ref-badge"{% endif %}>{{ externalid.get_href_display }}</a>
  {% endif %}
{% else %}
  {% if admin_mode %}
    {% if resource_type == 'bibitemid' %}
      {% if externalid.id_type == "mr-item-id" or externalid.id_type == "zbl-item-id" or externalid.id_type == "jfm-item-id" or externalid.id_type == "doi" or externalid.id_type == "numdam-id"%}
        {% include "common/externalid_form.html" with sequence=bibitem.sequence %}
      {% endif %}
    {% else %}
      {% if externalid.id_type == "mr-item-id" or externalid.id_type == "zbl-item-id" or externalid.id_type == "sps-id" or externalid.id_type == "pmid"%}
        {% include "common/externalid_form.html" with sequence=0 %}
      {% endif %}
    {% endif %}
  {% else %}
    {% if externalid.get_href %}
      {% comment %}
            <!-- On veut le préfixe "arXiv:" comme pour les autres types.
                 Mais Le Cedram utilisait arxiv comme type par défaut s'il n'était pas spécifié.
                 Il faut changer les données à la source pour avoir le bon type -->
      {% endcomment %}
      {% if resource_type == 'bibitemid' %} |{% endif %}
      <a href="{{ externalid.get_href }}" class="badge badge-secondary ref-badge {% if resource_type == 'extid' %}extid-badge{% endif %}">
        {% if externalid.id_type == "arxiv" %}arXiv{% endif %}
        {% if externalid.id_type == "tel" %}TEL{% endif %}
        {% if externalid.id_type == "hal" %}HAL{% endif %}
        {% if externalid.id_type == "theses.fr" %}theses.fr{% endif %}
        {% if externalid.id_type == "doi" %}DOI{% endif %}
        {% if externalid.id_type == "numdam-id" %}Numdam{% endif %}
        {% if externalid.id_type == "sps-id" %}SPS{% endif %}
        {% if externalid.id_type == "mr-item-id" %}MR{% endif %}
        {% if externalid.id_type == "zbl-item-id" %}Zbl{% endif %}
        {% if externalid.id_type == "jfm-item-id" %}JFM{% endif %}
        {% if externalid.id_type == "eudml-item-id" %}EuDML{% endif %}
        {% if externalid.id_type == "pmid" %}PMID{% endif %}
        {% if externalid.id_type == "ark" %}Gallica{% endif %}
      </a>
      {% if resource_type == 'extid' and not forloop.last %}&nbsp; {% endif %}

      {% comment %}
          <a href="{{ externalid.get_href }}"> {% if externalid.id_type == "eudml-item-id" %}{{ externalid.id_value|eudml_filter }}{% else %}{{ externalid.id_value }}{% endif %} </a>
      {% endcomment %}

    {% endif %}
  {% endif %}
{% endif %}
