{% load i18n %}
{% load helpers %}
{% load static %}

{% for article in articles %}
  <div class="row">
    {% if is_cr and articles_to_appear %}
      {% if article.has_graphical_abstract %}
        {% include 'common/common-graphical-abstract-summary.html' with images=article.get_illustrations %}
        <div class="col-sm-10">
      {% else %}
        <div class="col-sm-12">
      {% endif %}
      {% with heading=article|get_article_heading %}
        {% if heading %}
          <div class="article-subj" style="margin-bottom:0px">{{heading|safe}}</div>
        {% endif %}
      {% endwith %}
      {% include 'common/common-title.html' with item=article with_links=True %}
      <div style="margin-bottom: 10px;">{% include 'common/common-contrib.html' with item=article for_issue=True %}</div>
      <div>
        {% include 'common/common-binary-files.html' with embargo=article.my_container.embargo binary_files=article.get_binary_files_href.self %}
        <div style="padding-top:5px; margin-left: 100px">
          <a href="{{ article.get_doi_href }}">doi:{{article.doi}}</a>
          {% if article.date_online_first %} | {% trans "Première publication : " %}<time datetime="{{ article.date_online_first|date:'Y-m-d' }}">{{ article.date_online_first|date:"Y-m-d" }}</time>{% endif %}
        </div>
      </div>
    </div>
    {% else %}
      {% if article.has_graphical_abstract %}
        {% include 'common/common-graphical-abstract-summary.html' with images=article.get_illustrations %}
        <div class="col-sm-8">
      {% else %}
        <div class="col-sm-10">
      {% endif %}
      {% with heading=article|get_article_heading %}
        {% if heading %}
          <div class="article-subj" style="margin-bottom:0px">{{heading|safe}}</div>
        {% endif %}
      {% endwith %}
      {% comment %}
      {% if is_cr and issue.title_html %}
         <div class="article-subj" style="margin-bottom:0px">{% include 'common/common-title.html' with item=issue with_links=False %}</div>
      {% endif %}
      {% endcomment %}
      {% include 'common/common-title.html' with item=article with_links=True %}
      <div style="margin-bottom: 10px;">{% include 'common/common-contrib.html' with item=article for_issue=True %}</div>
      {% include 'common/common-binary-files.html' with embargo=article.my_container.embargo binary_files=article.get_binary_files_href.self %}
    </div>
    <div class="col-xs-2 hidden-xs article-pages {% if articles_to_appear %}to-appear-pages{% endif %}">
      {{ article.get_summary_page_text }}
      {% if article.page_type == 'volant' %} ({% trans 'Pages volantes' %}){% endif %}
      {% if article.page_type == 'supplement' %} ({% trans 'Pages supplémentaires' %}){% endif %}
      {% if article.page_type == 'preliminaire' %} ({% trans 'Pages préliminaires' %}){% endif %}
      {% if article.page_type == 'special' %} ({% trans 'Pages spéciales' %}){% endif %}
    </div>
    {% endif %}
  </div>
  {% if not forloop.last %}
    <hr class="separator">
  {% endif %}
{% endfor %}
