{% load i18n %}

{% for article in articles %}
  {% if max and forloop.counter < max %}
    <div class="row article-short">
      <div class="col-xs-12">
        {% include 'common/common-title.html' with item=article embargo=article.my_container.embargo binary_files=article.get_binary_files_href.self with_links=True %}
        <p style="margin:0">{% include 'common/common-contrib.html' with item=article no_links=True %}</p>
      </div>
    </div>
    {% if not forloop.last %}
      <hr style="margin-top:0px;margin-bottom:15px"></hr>
    {% endif %}
  {% endif %}
{% endfor %}

