{% load i18n %}
{% load stringsfilter %}
{% load helpers %}

{% block journal_list_search %}
  {% if not coltype|startswith:'book' and not coltype|startswith:'thesis' and not coltype|startswith:'lectures' and not coltype|startswith:'proceeding' %}
    {% include "common/journal-list-search.html" %}
  {% endif %}
{% endblock journal_list_search %}

<div class="grid-container">
  {% for journal in journals %}
    <div class="grid-item journal-grid" data-journal="{{journal.title_tex|lower}} {{journal.pid|lower}}">
      {% if journal.small_icon %}
        {% if coltype == "acta" or coltype == "proceeding" %}
          {% with coltype|add:'-issues' as url %}<a href="{% url url journal.pid %}">{% endwith %}
        {% elif coltype == "thesis" or coltype == "lectures"%}
          <a href="{% pretty_search coltype 'p' '"'|add:journal.title_html|add:'"' %}">
        {% else %}
          <a href="{% url 'journal-issues' journal.pid %}">
        {% endif %}
        <img src="{{ journal.icon }}" alt="" class="journal-icon-grid"></a><br/>
      {% endif %}
      <div class="journal-text-grid">
        {% if coltype == "acta" or coltype == "proceeding" %}
          {% with coltype|add:'-issues' as url %}<a href="{% url url journal.pid %}">{% endwith %}
        {% elif coltype == "thesis" or coltype == "lectures"%}
          <a href="{% pretty_search coltype 'p' '"'|add:journal.title_html|add:'"' %}">
        {% else %}
          <a href="{% url 'journal-issues' journal.pid %}">
        {% endif %}
        {% include 'common/common-title.html' with item=journal for_search=True %}</a>
        <br/>
        {%  if journal.fyear > 0 %}
          {{ journal.fyear }}
          {% if journal.lyear > journal.fyear %}
            - {{ journal.lyear }}
          {% endif %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

