{% load i18n %}

<div class="row" style="margin-top:20px; margin-bottom:5px;">
  <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2" style="max-width:300px;margin-left:35px;">
    <h4 style="">
      {{ journals.count }}
      {% if coltype == "journal" %}
        {% trans 'Revues' %}
      {% else %}
        {% if coltype == "acta" %}
          {% trans 'Séminaires' %}
        {% else %}
          Collections
        {% endif %}
      {% endif %}
    </h4>
  </div>
  <div class="col-xs-8">
    <div class="input-group" style="max-width:300px">
      <input id="journal-filter" type="text" class="form-control" placeholder="{% trans "Titre" %}">
      <span id="journal-filter-remove" class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
    </div>
  </div>
</div>

<script type="text/javascript">
  window.onload = function() {
    document.getElementById('journal-filter').focus();
  };
</script>
