{% load i18n %}

<div class="outline-sm dropdown" data-spy="affix" data-offset-top="440">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{% trans "Plan" %}
    <span class="caret"></span>
  </button>
  <div class="dropdown-menu">
    {% include "common/outline-inner.html" %}
  </div>
</div>
