{% load i18n %}

{% with abstracts=article.get_abstracts %}
{% with abstract_count=abstracts.count %}

<ul class="nav nav-pills nav-stacked">
  <li><a href="#article-div">{% trans 'Titre' %}</a></li>
  {% if abstract_count > 0 %}
  <li><a href="#abstract-html">{% trans 'Résumé' %}</a></li>
  {% endif %}
  <li><a href="#common-tabs-html">{% trans 'Métadonnées' %}</a></li>
  {% if article.body_html %}
  <li class="outline-fulltext"><a href="#article-body-html-title">{% trans "Texte intégral" %}</a></li>
  {% endif %}
  {% if article.bibitem_set and article.bibitem_set.count %}
  <li><a href="#references-html">{% trans "Bibliographie" %}</a></li>
  {% endif %}
  <li><a id="citations-outline" href="#citations-html" style="display:none">{% trans "Cité par" %}</a></li>
  {% if COMMENTS_VIEWS_ARTICLE_COMMENTS %}
  <li><a href="#article-comments-section">{% trans "Commentaires" %}</a></li>
  <li><a class="submenu" href="#add-comment-default">{% trans "Publier un commentaire" %}</a></li>
  {% endif %}
</ul>

{% endwith %}
{% endwith %}
