{% load i18n %}

<div class="outline-div">
  <div id="outline-panel" class="panel panel-default">
    <span class="panel-heading">{% trans "Plan" %}</span>
    <div id="outline-panel-body" class="panel-body">
      <nav id="navbar-outline">
        {% include "common/outline-inner.html" %}
      </nav>
    </div>
  </div>
</div>
