{% load i18n %}
{% load helpers %}
{% if numpages != 1 %}
    <ul class="pagination pagination-sm">
    {% for pn in pagerange %}
      {% if forloop.first %}
        {% if curpage == 1 %}
          <li class="disabled">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </li>
        {% else %}
          <li>
          {% with curpage|add:"-1" as previouspage %}
            <a href="?{{ query|cleanURL_params_paginate:previouspage }}"><span class="glyphicon glyphicon-chevron-left"></span></a>
          {% endwith %}
          </li>
        {% endif %}
      {% endif %}
      {% if forloop.first %}
        {% if pn > 1 %}
          <li>
            <a href="?{{ query|cleanURL_params_paginate:"1" }}">1</a>
          </li>
          {% if previous_slice != 1 %}
            <li>
              <a href="?{{ query|cleanURL_params_paginate:previous_slice }}">...</a>
            </li>
          {% endif %}
        {% endif %}
      {% endif %}
      {% if pn == curpage %}
        <li class="active"><a href="#">{{ pn }}</a></li> {% else %}
        <li><a href="?{{ query|cleanURL_params_paginate:pn }}">{{ pn }}</a></li>
      {% endif %}
      {% if forloop.last %}
        {% if numpages > pn %}
          {% if next_slice != pn %}
            <li>
               <a href="?{{ query|cleanURL_params_paginate:next_slice }}">...</a>
            </li>
          {% endif %}
          <li>
            <a href="?{{ query|cleanURL_params_paginate:numpages }}">{{ numpages }}</a>
          </li>
        {% endif %}
      {% endif %}
      {% if forloop.last %}
        {% if numpages == curpage %}
          <li class="disabled">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </li>
        {% else %}
          <li>
          {% with curpage|add:"1" as nextpage %}
            <a href="?{{ query|cleanURL_params_paginate:nextpage }}" ><span class="glyphicon glyphicon-chevron-right"></span></a>
          {% endwith %}
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
