{% load i18n %}

<div class="input-group search-group search-group-added">
  <div {% if obj.name == 'date' %}style="display:none"{% endif %} class="input-group-addon">
    <input class="bt-checkbox" type="checkbox" name="not{% if write_template %}##i##"{% else %}{{ i }}" {% if obj.not %}checked{% endif %}{% endif %} /> <span style="line-height:20px">NOT</span>
  </div>
  <div {% if obj.name == 'date' %}style="display:none"{% endif %} class="search-group-inner">
    <input class="searchinput form-control" type="text" name="q{% if write_template %}##i##"{% else %}{{ i }}" value="{{ obj.value }}"{% endif %}/>
    <span class="searchclear glyphicon glyphicon-remove"></span>
  </div>

  <div {% if write_template or obj.name != 'date' %}style="display:none"{% endif %} class="bt-input-with-text">
    <!-- <div class="container"> -->
    <!-- <div class="row"> -->
    <span class="bt-input-text-between">{% trans 'Entre' %}</span>
    <input class="form-control-in" type="text" name="q-f-{% if write_template %}##i##"{% else %}{{ i }}" value="{{ obj.first }}"{% endif %} placeholder="{% trans 'Année' %}" />
    <span class="bt-input-text">{% trans 'et' %}</span>
    <input class="form-control-in" type="text" name="q-l-{% if write_template %}##i##"{% else %}{{ i }}" value="{{ obj.last }}"{% endif %} placeholder="{% trans 'Année' %}" />
  <!-- </div> -->
  <!-- </div> -->
</div>
  <span class="input-group-btn">
    <input type="hidden" name="qt{% if write_template %}##i##"{% else %}{{ i }}"{% endif %} value="{% if obj.name %}{{ obj.name }}{% else %}author{% endif %}">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      {% if not obj.name or obj.name == 'author' %}
        {% trans 'Auteur' %}
      {% elif obj.name == 'date' %}
        {% trans 'Date' %}
      {% elif obj.name == 'body' %}
        {% trans 'Plein texte' %}
      {% elif obj.name == 'title' %}
        {% trans 'Titre' %}
      {% elif obj.name == 'references' %}
        {% trans 'Bibliographie' %}
      {% elif obj.name == 'kwd' %}
        {% trans 'Mots clés' %}
      {% else %}
        {% trans 'Tout' %}
      {% endif %}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">{% trans 'Tout' %}</a></li>
      <li><a href="#">{% trans 'Auteur' %}</a></li>
      <li><a href="#">{% trans 'Titre' %}</a></li>
      <li><a href="#">{% trans 'Date' %}</a></li>
      <li><a href="#">{% trans 'Bibliographie' %}</a></li>
      <li><a href="#">{% trans 'Mots clés' %}</a></li>
      <li><a href="#">{% trans 'Plein texte' %}</a></li>
    </ul>
    <button type="button" class="btn btn-default remove-search-field">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </span>
</div><!-- /input-group -->
