{% load i18n %}
{% load stringsfilter %}

<div class="search-results">
  <div class="results-header">
    <h4>{{ results.hits }} {% trans 'résultat' %}{{ results.hits|pluralize }}</h4>
    {% include "common/results-pagination.html" %}
  </div>
  {% for result in results.docs %}
    <div class="row">
      <div class="col-xs-12">
        {% include 'common/common-title-with-pdf.html' with item=result embargo=result.embargo binary_files=result for_search=True %}
        <p>
          {{ result.au|safe }}
        </p>
        <p>
          {% if result.pid|is_translation %}
            {% trans 'Titre original :' %}
            {% if request.session.formula_display == 'tex' %}
              {{ result.trans_title_tex|safe }}
            {% else %}
              {{ result.trans_title_html|safe }}
            {% endif %}
          {% else %}
            {% if request.session.formula_display == 'tex' %}
              {{ result.collection_title_tex|safe }},
            {% else %}
              {{ result.collection_title_html|safe }},
            {% endif %}
            {% if result.volume %}
              {% include 'common/volume_string.html' %} {{ result.volume|safe }} ({{ result.year|safe }}){% if result.article_number %}, no. {{ result.article_number }},{% endif %}
            {% else %}
              {% if result.container_title_tex %}
              {% if request.session.formula_display == 'tex' %}
                {{ result.container_title_tex|safe }},
              {% else %}
                {{ result.container_title_html|safe }},
              {% endif %}
            {% endif %}
            {% if result.article_number %} no. {{ result.article_number }} {%endif %}
            ({{ result.year|safe }})
            {% endif %}
            {{ result.page_range }}
          {% endif %}
        </p>
        {% if result.highlighting and not result.pid|is_translation %}
          <p class="highlight">{% trans result.highlighting.field %} : <em>{{ result.highlighting.value|safe }}</em>
          </p>
        {% endif %}

        <hr>
      </div>
    </div>
  {% endfor %}
  {% include "common/results-pagination.html" %}
</div>
