{% load partition %}
<div class="index-auteurs">
<div style="overflow:hidden">
<table>
{% for row in authors|columns:"4" %}
<tr>
{% for au in row %}
<td><a href='{% url "series-books" series.sid %}?ar="{{ au.0 }}"'>{{ au.0 }}</a> ({{ au.1 }})
</td>
{% endfor %}
</tr>
{% endfor %}
</table>
</div>
</div>
