{% load i18n %}
{% load stringsfilter %}

<div class="row" style="margin: 10px 5px 5px 5px">

{% if numdam %}
  {% if collection.pid != "CJPS" %}
    <div class="wrapper-sidebar">
      <div id="toggle-sidebar">
          <button type="button" id="sidebarCollapse" class="btn btn-default btn-toggle light-blue">
              <i class="glyphicon glyphicon-align-left"></i>
              {% trans "Afficher/Cacher les filtres" %}
          </button>
        </div>
      <div class="col-xs-12 col-sm-3 col-lg-2" id="sidebar" style="margin-top: 20px">
        {% if results.hits > 0 %}
          {% include 'common/facet.html' with category_name="Années" facets=results.facets.year_range_facets %}
        {% endif %}
      </div>
    </div>
  {% else %}
    <div class="col-xs-12 col-sm-3 col-lg-2" id="sidebar" style="margin-top: 20px"> </div>
  {% endif %}
   <div class="col-xs-12 col-sm-9 col-lg-9" id="results">
  {% if collection %}
     {% if collection.icon %}
       <div class="clearfix">
        <div class="book-icon">
          <div class="cover-thumbnail">
            <a href="{{ collection.icon }}" class="lightbox" title="">
              <img src="{{ collection.small_icon }}">
            </a>
          </div>
        </div>
        <div style="min-height:150px">
     {% elif collection.small_icon %}
        <div class="clearfix">
          <div class="book-icon book-icon-small">
            <img src="{{ collection.small_icon }}">
          </div>
          <div style="min-height:150px">
     {% endif %}
     <h3>
      {% if request.session.formula_display == 'tex' %}
        {{ collection.title_tex|safe }}
      {% else %}
        {{ collection.title_html|safe }}
      {% endif %}
      </h3>
      {% with descriptions=collection.get_descriptions %}
       {% for description in descriptions.all %}
         {% if LANGUAGE_CODE == description.lang or description.lang == "und" %}
           {% if request.session.formula_display == 'tex' %}
            {{ description.value_tex|safe }}
           {% else %}
            {{ description.value_html|safe }}
           {% endif %}
         {% endif %}
       {% endfor %}
      {% endwith %}
     {% if SITE_NAME == 'numdam' and collection.pid != 'CJPS' and collection.pid != 'CCIRM' and collection.pid != 'WBLN' %}
     {% trans 'Période couverte dans Numdam' %} : {{ collection.fyear }}-{{ collection.lyear }}<br>
       {% if collection.coltype != "thesis" %}
       <a href="{% url 'journal-issues' collection.pid%}">{% trans 'Affichage des livres par année' %}</a>
       {% else %}
       <br><br>
       {% endif %}
     {% endif %}
  {% endif %}
  {% if collection.icon or collection.small_icon %}
     </div></div>
  {% else %}
    <br><br>
  {% endif %}
 {% if collection.pid != 'CJPS' and collection.pid != 'CCIRM' and collection.pid != 'WBLN' %}
  <div class="btn-toolbar">
    <div class="btn-group btn-group-sm">
    {% for facet in results.facets.letter_facets %}
        {% if facet.count > 0 %}<a class="btn btn-default {{ facet.active }}" href="{{ facet.href }}">{{ facet.name }}</a>
        {% else %}
        <a class="btn btn-default disabled" href="{{ facet.href }}">{{ facet.name }}</a>
        {% endif %}
    {% endfor %}
    </div>
  </div>
 {% endif %}
{% else %}
  {% include 'common/journal-header.html' with journal=collection %}
{% endif %}

 {% if collection.pid == "CJPS" or collection.pid == 'CCIRM' or collection.pid == 'WBLN' %}
    {% if numdam %}
      <br>
      {% if collection.pid == 'CCIRM' or collection.pid == 'WBLN' %}
       <br><br>
      {% endif %}
    {% endif %}
     {% for result in results.docs %}
     <p class="result-book" style="line-height: 24px">
       {% if result.pdf  %}<a style="margin-right:10px" href="{{ result.pdf }}"><img src="/static/ptf/img/pdf.gif"></a>{% endif %}
       <a href="{% url 'item_id' result.pid %}">{% include 'common/common-title.html' with item=result%} {% if collection.pid == "CJPS"%}({{ result.year|safe  }}){% endif %}</a>
     </p>
     <div class="result row" style="line-height: 24px">
       <div class="col-xs-6">

       </div>
       <div class="col-xs-1">

       </div>
     </div>
     {% endfor %}

 {% else %}
    <br>
  <br>

<style>
    .result.row:nth-of-type(2n) {background: #f5f5f5;}
</style>
    {% for result in results.docs %}
      <div class="result row" style="line-height: 24px">
        <div class="col-xs-2 ellipsis" style="margin-top:5px;margin-bottom:2px" title="{{ result.au }}">{{ result.au|safe }}</div>
        <div class="col-xs-10">
          {% include 'common/common-title-with-pdf.html' with item=result embargo=result.embargo binary_files=result %}
{#              <a href="{% url 'item_id' result.pid %}">{% include 'common/common-title.html' with item=result%} ({{ result.year|safe  }})</a>#}
        </div>
{#        <div class="col-xs-1">#}
{#        {% if  result.pdf  %}<a href="{{ result.pdf }}"><img src="/static/ptf/img/pdf.gif"></a>{% endif %}#}
{#        </div>#}
      </div>
    {% endfor %}
{% endif %}

{% include "common/results-pagination.html"  %}
  </div>
</div>
