{% load i18n %}

<form action="{% url 'set_formula_display' %}" method="post">{% csrf_token %}
  {% if request.session.formula_display != 'tex' %}
    <input type="submit" value="{% trans 'Afficher les formules comme du code source TeX' %}" class="btn btn-default">
    <input type="hidden" name="formula-display" value="tex">
  {% else %}
    <input type="submit" value="{% trans 'Afficher les formules sous forme graphique' %}" class="btn btn-default">
    <input type="hidden" name="formula-display" value="mathml">
  {% endif %}
</form>
