
<div id="user-menu-wrapper">
    <div class="custom-dropdown">
      <div id="user-menu-dropdown" class="custom-dropdown-toggle">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Menu</span>
      </div>
      <div class="custom-dropdown-content right-absolute" aria-labelledby="user-menu-dropdown">
        <div id="user-menu">
          <div>Logged in as: <strong>{{ user.username }}</strong> </div>
          {% if request.session.oidc_user_data %}
          {% include "common/user_menu_comment.html" %}
          {% else %}
          <div><a href="{% url 'logout' %}">Log Out</a></div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
