:root {
    --searchclear-color: black;
    --header-bg-color: transparent;
    --header-nav-border: 0;
    --header-padding: 0;
    --header-nav-link-color: #48a7a4;
    --header-nav-link-hover-bg-color: #e2f2f2;
    --header-nav-link-hover-color: #317172;
    --header-active-nav-link-bg-color: #48a7a4;

    --pagination-link-color: #48a7a4;
    --pagination-link-hover-color: #317172;

    --link-color: #48a7a4;
    --link-hover-color: #317172;

    --footer-link-color: #48a7a4;
    --footer-link-hover-color: #317172;

    --navbar-collapse-link-color: #9d9d9d;
    --navbar-collapse-link-bg-color: transparent;
    --navbar-collapse-link-active-bg-color: black;
    --navbar-collapse-link-active-color: white;
    --navbar-collapse-link-hover-color: white;
    --navbar-collapse-link-hover-bg-color: transparent;

    --navbar-collapse-dropdown-bg-color: transparent;
    --navbar-collapse-dropdown-item-color: #9d9d9d;
    --navbar-collapse-dropdown-item-bg-color: transparent;
    --navbar-collapse-dropdown-item-hover-color: white;
    --navbar-collapse-dropdown-item-hover-bg-color: transparent;

    --pagination-link-active-color: white;
    --pagination-link-active-bg-color: black;
    --facet-header-color: black;
}

@font-face {
    font-family: "DIN Pro";
    font-weight: bold;
    src: url("/static/roia/fonts/DINPro-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "DIN Pro";
    font-weight: lighter;
    src: url("/static/roia/fonts/DINPro-Light.woff2") format("woff2");
}

@font-face {
    font-family: "DIN Pro";
    src: url("/static/roia/fonts/DINPro-Regular.woff2") format("woff2");
}

.text-right {
    text-align: right !important;
}

.article-div a:not(.btn):not(.badge) {
    color: #48a7a4;
}

.article-div a:not(.btn):not(.badge):hover, .article-div a:not(.btn):not(.badge):focus {
    color: #317172;
}

html, body {
    height: 100%;
}

main.container {
    flex-grow: 0 !important;
    padding-top: 0;
}

#line-container {
    border: 1px solid #dee2e6;
    border-radius: 0.3rem;
}

body {
    font-family: "DIN Pro",Helvetica,Arial,sans-serif;
    background-attachment: fixed;
    background-image: url("/static/roia/img/fond.png"), url("/static/roia/img/fond-alternate.png"), linear-gradient(white, #eff5f3);
    background-position-x: 0%, 95%;
    background-position-y: 85%;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-size: 35%, 30%;
}

main {
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    margin-bottom: 100px;
}

.menu-top .nav li {
   flex-grow: 1;
   font-weight: bold;
}

.menu-top .nav .dropdown-toggle {
    white-space: wrap;
}

footer {
    color: white;
    background-color: black;
}

.italique {
    font-style: italic;
}

.smallcaps, .citation-author {
    font-variant: small-caps;
}

.citation-document-title {
    font-weight: bold;
    color: #555555;
}

.citation-publication-title {
    font-style: italic;
}

@media (max-width: 768px) {
    .logos-footer {
        display: none !important;
    }

    footer div#info-line {
        justify-content: space-between !important;
        margin: 0;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    main.container {
        max-width: 750px !important;
        width: auto !important;
    }

    .logo {
        height: 90px !important;
        width: auto;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    main.container {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 1400px) {
    main.container {
        max-width: 1140px !important;
    }
}

.logo {
    height: 150px;
}

.btn-light:hover {
    filter: none !important;
    background-color: #dee2e6;
}

.pagination .page-item:first-child .page-link {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.pagination .page-item:last-child .page-link {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.pagination a {
    text-decoration: none !important;
}

.btn-primary {
    background-color: #000;
    border-color: #0d0d0d;
}

.btn-primary:hover, .btn-primary:focus {
    filter: none !important;
    background-color: #484848;
    border-color: #484848;
    color: white;
}

#search-bar .dropdown-toggle {
    color: #fff;
    background-color: #48a7a4;
    border-color: #409593;
}

#search-bar .dropdown-toggle:hover {
    color: #fff;
    background-color: #398381;
    border-color: #2e6a69;
}

#search-bar #search-input-group {
    display: flex;
    align-items: center;
}

#search-bar #search-input-group .searchclear {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px 12px;
    height: 100%;

    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: rgb(248, 249, 250);
    border-right: 1px solid rgb(222, 226, 230);
}

#search-bar #search-input-group .searchclear:hover {
    background-color: rgb(222, 226, 230);
}

.bibitemcls {
    font-size: 14px;
}

.footer-text {
    font-size: 14px;
}

footer .menu-link {
    font-weight: bold;
}

.logo-footer-div {
    flex-direction: column;
    margin: 0 auto;
}

.logos-footer {
    width: 50%;
}

img.logo-footer {
    max-height: 45px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.mathdoc-thumbnail img {
    max-height: 35px;
}

a.badge {
    text-decoration: none;
}

a.badge:hover {
    color: white;
}

#btn-tex.active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    background-color: #e6e6e6;
}

#btn-tex.active:hover {
    background-color: #f0f0f0;
}

#house-affiliation {
    color: #48a7a4;
}

#btn-tex.active:focus {
    box-shadow: 0px 0px 0px 3px #e6e6e6;
}

.btn-info {
    color: #fff;
    background-color: #48a7a4;
    border-color: #409593;
}

.btn-info:hover, .btn-info:active, .btn-info:focus {
    color: #fff;
    background-color: #419694;
    border-color: #3a8684;
    filter: none !important;
}

.bg-yellow {
    background-color: #ffed00;
}

#jumbotron {
    border-radius: 20px;
}

.highlight em p {
    display: inline-block;
}

#navbar-collapse .dropdown-menu {
    background-color: transparent;
    border: 0;
}

#navbar-collapse .nav-link:hover {
    color: white !important ;
}

#navbar-collapse .dropdown-item {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.55);
}

#navbar-collapse .dropdown-item:hover {
    color: white !important;
    text-decoration: none;
}

.nav-pills .nav-link:hover {
    background-color: #e2f2f2;
    text-decoration: none !important;
}

#citation-tab .nav-link.active {
    background-color: #48a7a4;
    color: white;
}

#citation-tab .nav-link.active:hover {
    color: white !important;
}

#nav-items {
    max-width: 100%;
}

.nav-pills .nav-link {
    border-radius: 10px;
}

hr {
    opacity: 1;
    background-color: #eee;
}

.search-facets .card {
    border-radius: 0.7rem;
}

.search-facets .card-heading {
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}