{% load i18n %}
{% load helpers %}
{% load static %}

<div>
    <div class="col-12">
      <div style="margin-top:30px;margin-bottom:10px">
        <ul class="nav nav-tabs article-tab" {% if not resource.get_biblio %}style="display:none"{% endif %}>
          <li class="nav-item" id="main-citations-li">
            <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#references-tab" href="#references-tab">{% trans "Bibliographie" %}</a>
          </li>
          <li class="nav-item" id="citations-html" style="display:none">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#citations-tab" href="#citations-tab">{% trans "Cité par" %}</a>
          </li>
        </ul>
  
        <div class="tab-content" style="margin-top:10px"> 
          {% with biblio=article.get_biblio %}
					{% if biblio %}
					<div id="references-tab" class="tab-pane fade show active">
							{% for b in biblio %}
							{% comment %} <div id="biblio-div" data-url="{% url 'api_citedby' resource.doi %}" style="margin-top:11px;margin-bottom: 11px"></div> {% endcomment %}
							{{ b.value_html |safe }}
							{% comment %} <p><em>{% trans "Cité par" %} <span id="citations-number"></span> {% trans "Sources :" %} <span id="citations-sources"></span></em></p> {% endcomment %}
							{% endfor %}
							</div>
					{% endif %}
					{% endwith %}

					{% if resource.doi %}
          <div id="citations-tab" class="tab-pane fade show">
            <div id="citations-div" data-url="{% url 'api_citedby' resource.doi %}" style="margin-top:11px;margin-bottom: 11px"></div>
            <p><em>{% trans "Cité par" %} <span id="citations-number"></span> {% trans "Sources :" %} <span id="citations-sources"></span></em></p>
          </div>
          {% endif %}
        </div>
  
      </div>
    </div>
  </div>