{% load i18n %}

<div class="breadcrumb-wrapper">
  <div class="breadcrumb-header">
    <div class="logo-and-nav-wrap">
      <div class="site-nav-wrap">
         <nav class="breadcrumb-nav">
           {% for item in breadcrumb.items %}

             {% comment %}
                {% if breadcrumb.previousItem %}
                {% if breadcrumb.nextItem %}
             <li class="{% if forloop.last %}active{% endif %}">
               <a href="{{ item.url }}">{{ item.title|safe }}</a>
             </li>
             {% endcomment %}

           <div class="breadcrumb-wrap">
             <span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb-item"><a href="{{ item.url }}">{{ item.title|safe }}</a></span>
           </div>
           {% endfor %}
        </nav>
      </div>
    </div>
  </div>
</div>

