{% for link in item.extlink_set.all  %}
  {% if link.rel == "source" and source %}
    <p>{{link_to_source_msg}} <a href="{{ link.location }}" target="_blank">{{source.name}}</a></p>
  {% endif %}
{% endfor %}

