{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    <h1>{% trans "Sign Up" %}</h1>
    <p>You are about to use your {{provider_name}} account to login. As a final step, please complete the following form:</p>
    <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="btn btn-primary btn-lg">{% trans "Sign Up" %}</button>
    </form>
  </div>
</div>

{% endblock %}

