:root {
    --header-nav-link-color: navy;
    --header-nav-link-hover-color: white;
    --header-nav-link-hover-bg-color: navy;

    --header-active-nav-link-bg-color: navy;
    --header-active-nav-link-color: white;

    --navbar-collapse-link-color: navy;
    --navbar-collapse-link-bg-color: white;
    --navbar-collapse-link-hover-color: navy;
    --navbar-collapse-link-hover-bg-color: #f5f5f5;
    --navbar-collapse-link-active-color: navy;
    --navbar-collapse-link-active-bg-color: transparent;
    --navbar-collapse-dropdown-bg-color: white;
    --navbar-collapse-dropdown-item-color: black;
    --navbar-collapse-dropdown-item-bg-color: transparent;
    --navbar-collapse-dropdown-item-hover-color: black;
    --navbar-collapse-dropdown-item-hover-bg-color: #f5f5f5;

    --link-color: #0d6efd;
    --link-hover-color: #0a58ca;

    --pagination-link-color: #0d6efd;
    --pagination-link-bg-color: white;
    --pagination-link-decoration: none;
    --pagination-link-border-color: #dee2e6;

    --pagination-link-active-color: white;
    --pagination-link-active-border-color: #0d6efd;
    --pagination-link-active-bg-color: #0d6efd;
    --pagination-link-active-border-color: #0d6efd;
    --pagination-link-hover-color: #0a58ca;
    --pagination-link-hover-bg-color: #e9ecef;
    --pagination-link-hover-decoration: none;

    --footer-link-color: #777;
    --footer-link-hover-color: #555;
    --footer-text-color: #777;

    --btn-primary-color: white;
    --btn-primary-bg-color: #0d6efd;
    --btn-primary-border-color: #0d6efd;
    --btn-primary-hover-color: white;
    --btn-primary-hover-bg-color: #0b5ed7;
    --btn-primary-hover-border-color: #0a58ca;

    --btn-primary-disabled-color: white;
    --btn-primary-disabled-bg-color: #0d6efd;
    --btn-primary-disabled-border-color: #0d6efd;

    --btn-info-color: white;
    --btn-info-bg-color: #0dcaf0;
    --btn-info-border-color: #0dcaf0;
    --btn-info-hover-color: white;
    --btn-info-hover-bg-color: #31d2f2;
    --btn-info-hover-border-color: #25cff2;

    --btn-light-color: black;
    --btn-light-bg-color: #f8f9fa;
    --btn-light-border-color: #e4e4e4;
    --btn-light-hover-color: black;
    --btn-light-hover-bg-color: #e4e4e4;
    --btn-light-hover-border-color: #e4e4e4;

    --btn-dark-color: white;
    --btn-dark-bg-color: #212529;
    --btn-dark-border-color: #212529;
    --btn-dark-hover-color: white;
    --btn-dark-hover-bg-color: #212529;
    --btn-dark-hover-border-color: #212529;

    --dropdown-item-color: black;
    --dropdown-item-bg-color: transparent;
    --dropdown-item-hover-color: black;
    --dropdown-item-hover-bg-color: #f5f5f5;

    --outline-item-color: black;
    --outline-item-bg-color: transparent;
    --outline-item-hover-color: black;
    --outline-item-hover-bg-color: #f5f5f5;
    --outline-item-active-color: black;
    --outline-item-active-bg-color: #f5f5f5;
    --outline-item-text-decoration: none;
    --outline-item-hover-text-decoration: none;

    --header-link-decoration: none;
    --header-link-hover-decoration: none;
    --footer-link-decoration: none;
    --footer-link-hover-decoration: none;
    --link-decoration: none;
    --link-hover-decoration: underline;
    --button-decoration: none;
    --button-hover-decoration: none;

    --facet-header-bg-color: navy;
    --facet-header-color: white;

    --header-bg-color: lightblue;
    --footer-bg-color: #f8f8f8;
    --footer-border: 1px solid #e7e7e7;

    --header-nav-border: 1px solid var(--header-nav-link-color);
    --header-nav-margin: 0;

    --search-bar-border-color: #dee2e6;
    --search-bar-border: 0;
    --search-bar-width: 100%;
    --search-bar-padding: 15px 0;
    --search-bar-bg-color: transparent;
    --searchclear-color: inherit;

    --header-padding: 20px;
    --footer-padding: 20px;

    --title-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --title-color: navy;
    --title-hover-color: navy;
    --font: "Helvetica Neue", Helvetica, Arial, sans-serif;

    --article-title-link-color: #333;
    --article-title-link-color: #555;

    --nav-tabs-link-color: #0d6efd;
    --nav-tabs-link-hover-color: #0a58ca;
    --nav-tabs-link-active-color: black;
}

/* Not sure if it can break things, add a scrollbar to formulas for tiny screens */
table.formula {
    overflow-x: scroll;
    display: block;
    margin: 0 auto;
    max-width: fit-content;
}

.nav-tabs .nav-link {
    color: var(--nav-tabs-link-color);
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus  {
    color: var(--nav-tabs-link-hover-color);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-link.active:focus {
    color: var(--nav-tabs-link-active-color);
}

.outline-div .nav-link {
    text-decoration: var(--outline-item-text-decoration);
    color: var(--outline-item-color);
    background-color: var(--outline-item-bg-color);
}

.outline-div .nav-link:hover, .outline-div .nav-link:focus {
    text-decoration: var(--outline-item-hover-text-decoration);
    color: var(--outline-item-hover-color);
    background-color: var(--outline-item-hover-bg-color);
}

.outline-div .nav-link.active {
    color: var(--outline-item-active-color);
    background-color: var(--outline-item-active-bg-color);
}

[data-bs-toggle="collapse"][aria-expanded=false] .collapse-icon .fa-chevron-down {
    display: none;
}

[data-bs-toggle="collapse"][aria-expanded=true] .collapse-icon .fa-chevron-up {
    display: none;
}

header .journal-title {
    font-family: var(--title-font);
    color: var(--title-color);
}

header .journal-title a:hover {
    color: var(--title-hover-color);
}

.search-group:not(.search-group-added) {
    border: var(--search-bar-border);
    border-radius: 0.25rem;
}

.lightbox {
    border: 1px solid #c7c7c7;
    box-sizing: content-box;
}

.navbar-toggler {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav ul:not(.custom-select) .dropdown-item {
    padding-left: 30px;
    padding-right: 15px;
}

.facet-header,
.facet-header-no-click {
    background-color: var(--facet-header-bg-color);
    color: var(--facet-header-color);
    padding: 0 5px 0 10px;
    height: 35px;
}

footer {
    width: 100%;
    background-color: var(--footer-bg-color);
    font-size: 12px;
    color: var(--footer-text-color);
    padding: var(--footer-padding);
    border-top: var(--footer-border);
}

footer .navbar {
    font-size: 14px;
}

#navbar-collapse .nav-link {
    color: var(--navbar-collapse-link-color);
    background-color: var(--navbar-collapse-link-bg-color);
}

#navbar-collapse .nav-link:hover, #navbar-collapse .nav-link:focus {
    color: var(--navbar-collapse-link-hover-color);
    background-color: var(--navbar-collapse-link-hover-bg-color);
}

#navbar-collapse .active .nav-link {
    color: var(--navbar-collapse-link-active-color);
    background-color: var(--navbar-collapse-link-active-bg-color);
    font-weight: bold;
}

#navbar-collapse .dropdown-menu {
    background-color: var(--navbar-collapse-dropdown-bg-color);
}

#navbar-collapse .dropdown-menu .dropdown-item {
    background-color: var(--navbar-collapse-dropdown-item-bg-color);
    color: var(--navbar-collapse-dropdown-item-color);
    text-decoration: var(--header-link-decoration);
}

#navbar-collapse .dropdown-menu .dropdown-item:focus, #navbar-collapse .dropdown-menu .dropdown-item:hover {
    background-color: var(--navbar-collapse-dropdown-item-hover-bg-color);
    color: var(--navbar-collapse-dropdown-item-hover-color);
    text-decoration: var(--header-link-hover-decoration);
}

.searchclear {
    color: var(--searchclear-color) !important;
}

body {
    font-family: var(--font);
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

header, .menu-top {
    background-color: var(--header-bg-color);
    color: var(--header-nav-link-color);
    padding: var(--header-padding);
    margin-bottom: 0px;
}

.menu-top {
    border-top: var(--header-nav-border);
    border-bottom: var(--header-nav-border);
    margin: var(--header-nav-margin);
}

.btn-tex {
    padding-right: 0px;
    text-align: right;
}

.page-link {
    color: var(--pagination-link-color);
    background-color: var(--pagination-link-bg-color);
    text-decoration: var(--pagination-link-decoration);
    border-color: var(--pagination-link-border-color);
}

.page-link:hover, .page-link:focus {
    color: var(--pagination-link-hover-color);
    background-color: var(--pagination-link-hover-bg-color);
    text-decoration: var(--pagination-link-hover-decoration);
}

.page-item.active .page-link {
    color: var(--pagination-link-active-color);
    border-color: var(--pagination-link-active-border-color);
    background-color: var(--pagination-link-active-bg-color);
    border-color: var(--pagination-link-active-border-color);
    text-decoration: var(--pagination-link-hover-decoration);
}

/* Décoration */

.btn, .nav-link {
    text-decoration: var(--button-decoration) !important;
}

.btn:hover, .btn:focus
.nav-link:hover, .nav-link:focus {
    text-decoration: var(--button-hover-decoration) !important;
}

header a {
    text-decoration: var(--header-link-decoration);
}

header a:hover, header a:focus {
    text-decoration: var(--header-link-hover-decoration);
}

footer a {
    text-decoration: var(--footer-link-decoration) !important;
    color: var(--footer-link-color) !important;
}

footer a:hover, footer a:focus {
    text-decoration: var(--footer-link-hover-decoration) !important;
    color: var(--footer-link-hover-color) !important;
}

a {
    text-decoration: var(--link-decoration);
}

a:hover, a:focus {
    text-decoration: var(--link-hover-decoration);
}

/* Boutons Bootstrap */

.btn-primary {
    color: var(--btn-primary-color);
    background-color: var(--btn-primary-bg-color);
    border-color: var(--btn-primary-border-color);
}

.btn-primary:disabled, .btn-primary.disabled {
    color: var(--btn-primary-disabled-color);
    background-color: var(--btn-primary-disabled-bg-color);
    border-color: var(--btn-primary-disabled-border-color);
}

.btn-primary:hover, .btn-primary:focus {
    color: var(--btn-primary-hover-color);
    background-color: var(--btn-primary-hover-bg-color);
    border-color: var(--btn-primary-hover-border-color);
}

.btn-info {
    color: var(--btn-info-color);
    background-color: var(--btn-info-bg-color);
    border-color: var(--btn-info-border-color);
}

.btn-info:hover, .btn-info:focus {
    color: var(--btn-info-hover-color);
    background-color: var(--btn-info-hover-bg-color);
    border-color: var(--btn-info-hover-border-color);
}

.btn-dark {
    color: var(--btn-dark-color);
    background-color: var(--btn-dark-bg-color);
    border-color: var(--btn-dark-border-color);
}

.btn-dark:hover, .btn-info:focus {
    color: var(--btn-dark-hover-color);
    background-color: var(--btn-dark-hover-bg-color);
    border-color: var(--btn-dark-hover-border-color);
}

.btn-light {
    color: var(--btn-light-color);
    background-color: var(--btn-light-bg-color);
    border-color: var(--btn-light-border-color);
}

.btn-light:hover, .btn-light:focus {
    color: var(--btn-light-hover-color);
    background-color: var(--btn-light-hover-bg-color);
    border-color: var(--btn-light-hover-border-color);
}

/* Lien header */

.menu-top a.nav-link {
    color: var(--header-nav-link-color);
}

.dropdown-item {
    color: var(--dropdown-item-color);
    background-color: var(--dropdown-item-bg-color);
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: var(--dropdown-item-hover-color);
    background-color: var(--dropdown-item-hover-bg-color);
}

.menu-top .active a.nav-link,
.menu-top .active a.nav-link:hover,
.menu-top .active a.nav-link:focus {
    color: var(--header-active-nav-link-color);
    background-color: var(--header-active-nav-link-bg-color);
    font-weight: bold;
}

.menu-top a.nav-link:hover,
.menu-top a.nav-link:focus {
    color: var(--header-nav-link-hover-color);
    background-color: var(--header-nav-link-hover-bg-color);
}

/* Barre de recherche */
div#search-bar {
    padding: var(--search-bar-padding);
    background-color: var(--search-bar-bg-color);
}

header .journal-logo img {
    width: auto;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

header h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
}

#navbar-collapse-button {
    display: none;
}

.nav-tabs > li > a:focus {
    outline: none;
}

.browse-or {
    text-align: center;
    margin-top: 7px;
}

#sidebar {
    padding-top: 0px;
}

.recent-articles-header {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid navy;
    text-align: center;
}

.article-short {
    font-size: 14px;
}

.article-short h2 {
    font-size: 14px;
    margin: 0px;
}

#navbar-collapse-button + .dropdown-menu {
    font-family: var(--font);
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-footer {
    height: 45px;
}

.journal-image {
    height: 150px;
}

.article-title a {
    color: var(--article-title-link-color);
}

.article-title a:hover {
    color: var(--article-title-link-hover-color);
}

@media all and (max-width: 1400px) {
    .container .journal-logo {
        max-width: 300px;
    }
}

@media all and (max-width: 1300px) {
    .container .journal-logo {
        max-width: 200px;
    }
}

@media all and (max-width: 1199px) {
    .browse-or {
        width: 40px;
        height: 27px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .container .journal-logo {
        display: none;
    }

    .article-breadcrumb {
        right: 0px;
    }

    .btn-tex {
        margin-bottom: 10px;
        padding-left: 0px;
        text-align: left;
    }
}

@media all and (max-width: 1200px) {
    .cms-breadcrumb {
        padding-left: 0px;
    }

    .logos-footer a {
        margin-right: 5%;
    }
}

@media all and (max-width: 1050px) {
    .footer-logo-text {
        display: none;
    }
}

@media all and (min-width: 992.2px) {
    #search-bar {
        width: var(--search-bar-width);
        align-self: center;
    }
}

@media all and (max-width: 991.8px) {
    #navbar-collapse-button {
        display: block;
    }

    header .journal-logo {
        width: 120px;
    }

    header .journal-logo img {
        height: 100px;
        padding-left: 0px;
    }

    header h1, header .journal-title h1, header .journal-title h2 {
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 40px;
    }

    .searchinput {
        border-radius: 0.25rem !important;
    }

    .menu-top {
        display: none;
    }

    .dropdown-accordion {
        display: block;
    }

    .container h2 {
        margin-top: 10px;
    }

    .cms-page {
        padding-left: 10px;
        margin-bottom: 20px;
    }

    .logo-mersenne {
        height: 50px;
    }

    .logo-footer {
        height: 35px;
    }

    .logos-footer a {
        margin-right: 10px;
    }

    .regular-content {
        margin-left: 0;
        padding-left: 0;
    }
}

@media all and (max-width: 768px) {
    #results {
        width: 100%;
    }
}

@media all and (max-width: 710px) {

    .container .journal-logo {
        display: none;
    }

    .browse-or {
        margin-right: 30%;
    }
}

@media (min-width: 768px) and (max-width: 1199.8px) {
    #sidebar {
        width: 37%;
    }

    #results {
        width: 63%;
    }
}


@media all and (max-width: 500px) {

    header .journal-logo {
        width: 90px;
    }

    header .journal-logo img {
        height: 80px;
    }

    header h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }
}

@media all and (max-width: 450px) {

    header h1 {
        font-size: 14px;
    }
}

@media all and (max-width: 400px) {
    header .journal-logo {
        width: 70px;
    }

    header .journal-logo img {
        height: 60px;
    }

    .searchinput {
        padding-left: 3px;
    }

    .logo-footer {
        height: 30px;
    }
}

/* Modern-top.html CSS */

.hamburger-icon {
    position: relative;
    height: 25px;
    width: 45px;
    padding: 10px;
    outline: none;
    box-shadow: none !important;
}

#collapseContent > ul > li:not(:last-of-type) {
    margin-bottom: 0.5rem;
}

.hamburger-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 3px;
    left: 0;
    background-color: var(--primary-color);

    transition: .25s ease-in-out;
}

.hamburger-icon span:nth-child(1) {
    top: 0;
    translate: 0 190%;
}

.hamburger-icon span:nth-child(2), .hamburger-icon span:nth-child(3) {
    top: calc(50% - 2px);
}

.collapsed + div .hamburger-icon.collapsed span:nth-child(3) {
    opacity: 0;
}

.hamburger-icon span:nth-child(4) {
    bottom: 0;
    translate: 0 -190%;
}


.hamburger-icon.collapsed span:nth-child(1), .hamburger-icon.collapsed span:nth-child(4) {
    opacity: 1;
    translate: 0;
    scale: 1;
}

.hamburger-icon span:nth-child(1), .hamburger-icon span:nth-child(4) {
    opacity: 0;
    scale: 0;
}

.hamburger-icon.collapsed span:nth-child(2), .hamburger-icon.collapsed span:nth-child(3) {
    rotate: 0deg;
}

.hamburger-icon span:nth-child(2) {
    rotate: 45deg;
}

.hamburger-icon span:nth-child(3) {
    rotate: -45deg;
    opacity: 1;
}

#collapseContent {
    background-color: white;
    margin-bottom: 0;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100000;
    border-bottom: 2px solid rgb(200, 200, 200);
}

body:has(#collapseContent.collapsing), body:has(#collapseContent.show) {
    overflow-y: hidden;
}

#collapseContent > ul {
    height: 100vh !important;
    max-height: 100vh;
    padding: 20px;
}

#collapseContent li {
    list-style: none;
}

#collapseContent .dropdown-menu {
    position: static !important;
    inset: 0 !important;
    transform: none !important;
}

/* End Modern-top.html CSS */
