#search-bar {
    padding: 20px 10px 0px 10px;
}

.search-group-added {
    margin-top: 10px;
}

.search-group-inner {
    position: relative;
    vertical-align: middle;
}

.searchclear {
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    z-index: 3;
    margin-left: -2rem !important;
    margin-right: 2rem;
    width: 0;
}

.bt-checkbox {
    vertical-align: bottom;
    margin-bottom: -2px;
}

.bt-input-text {
    display: inline-block;
}

.bt-input-text-between {
    width: 60px;
    display: inline-block;
}

.form-control-in {
    max-width: 32%;
    padding: 6px;
}

.bt-input-with-text {
    max-width: 400px;
}

.search_first_box {
    border-radius: 12px 0px 0px 12px !important;
}

