html {
    height: 100%;
}

body {
    min-height: 100%;
}

hr.separator {
    border-top: 1px solid #8c8b8b;
}

.text-center {
    padding-top: 20px;
}

.article-div a {
    text-decoration: none;
}

.article-div a:hover {
    text-decoration: underline;
}

.fade.show {
    opacity: 1;
}

#article-div .ref-badge:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(95, 100, 104) !important;
}

pre {
    padding: 10px;
    word-break: normal;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.nav li.mersenne-cms-menu {
    border-bottom: 1px #eee solid;
    margin-bottom: 2px;
    border-radius: 4px;
    background-color: white;
}

.nav li.mersenne-cms-menu .menu_title:hover {
    border-left: 3px solid #337ab7;
    background-color: unset;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right .sidebar-offcanvas {
        right: -41.6%;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -41.6%;
    }
    .row-offcanvas-right.active {
        right: 41.6%;
    }
    .row-offcanvas-left.active {
        left: 41.6%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }
    #sidebar {
        padding-top: 0;
    }
}

.mersenne-cms-menu-lvl1 .menu_title {
    font-size: 16px;
    color: black;
}

.nav > li > .menu_title {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav li.mersenne-cms-menu-lvl2 .menu_title {
    color: black;
    padding-left: 25px;
}

.nav li.mersenne-cms-menu-lvl1.nolink {
    font-style: italic;
    border: 0px;
}

.nav li.mersenne-cms-menu-lvl1.nolink .menu_title:hover {
    border-left: 0;
}

.content-container {
    margin-top: 30px;
}

/* Compatibilité Numdam */

.dynamic-columns {
    column-count: 4;
    column-width: 250px;
}

.logo-auto {
    height: 30px;
}

@media all and (min-width: 600px) {
    .logo-auto {
        height: 40px;
    }
}

@media all and (min-width: 768px) {
    .logo-auto {
        height: 45px;
    }
}

@media all and (min-width: 992px) {
    .logo-auto {
        height: 45px;
    }
}

.links-footer {
    height: 50px;
    padding-top: 5px;
    text-align: center;
    width: 50%;
    margin: auto;
}

.link-footer {
    margin: auto 0.8em;
    color: #777;
    font-size: 16px;
}

.footer-div {
    float: left;
    display: inline-block;
}

.footer-separator {
    float: left;
    width: 5%;
    display: inline-block;
}

@media all and (min-width: 768px) {
    .desktop {
        display: block;
    }

    .smartphone {
        display: none;
    }
}

.footer-section {
    display: inline-block;
}

.footer-div__content_wrapper {
    width: 50%;
    margin: 0 auto;
}

.page-container {
    position: relative;
}

.navbar-header__logo {
    width: 150px;
}

.navbar-header__logo_wrapper {
    height: 150px;
}

.navbar-header__site_name_wrapper {
    height: 150px;
}

.navbar-header {
    min-height: 100px;
}

@font-face {
    font-family: "Norwester"; /*a name to be used later*/
    src: url("../../../mersenne_cms/static/fonts/norwester.ttf"); /*URL to font*/
}

.navbar-brand {
    position: absolute;
    height: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    font-size: 35px;
    padding: 0;
}

.navbar-toggle {
    z-index: 3;
}

.cms-page-content {
    margin-bottom: 85px;
    padding-bottom: 85px;
    overflow: hidden;
    margin-left: 50px;
}

.navbar-brand img {
    height: 100%;
    display: block;
}

.navbar-brand__img_wrapper {
    position: relative;
}
.navbar-brand img {
    margin: auto;
}

.issue_list__article__title {
    font-size: 18px;
    margin: 10px 0;
}

.issue_list__article__title a {
    color: black;
}

.issue__number {
    font-style: italic;
    font-weight: bold;
    margin: 30px 0 10px 0;
}

.mrs-journal-icon {
    height: 150px;
    border: 1px solid #777;
    box-shadow: 3px 4px 3px #888888;
    margin-top: 25px;
}

.table-wrap-foot {
    margin-top: 5px;
}

.table-wrap-foot p {
    margin-bottom: 2px;
}

.online-first-desc {
    margin-left: 20px;
    font-size: 13px;
}

.tooltip-inner {
    color: #333;
    background-color: #eee;
    max-width: 800px;
    text-align: left;
    font-size: 13px;
}
