{% extends "base-collapse.html" %}

{% load static %}
{% load i18n %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "ptf/css/bs5/search-bar.css" %}" />
<link rel="stylesheet" href="{% static "ptf/vendors/flag-icon/css/flag-icon.min.css" %}" />
<link rel="stylesheet" href="{% static "ptf/css/bs5/lightbox.css" %}" />
{% endblock extra_css %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static "ptf/js/bs5/select.js" %}"></script>
<script type="text/javascript" src="{% static "ptf/js/bs5/lightbox.js" %}"></script>
<script type="text/javascript">
  $( document ).ready(function() {
    if ( $('.related-articles') ) {
      let last_articles =  $('.related-articles');
      let main_page = last_articles.prev();
      if ( main_page.height() < last_articles.height())
        main_page.height( (last_articles.position().top - main_page.position().top) + last_articles.height() );
    }
  });
</script>
{% endblock extra_js %}

{% block site_css %}
<link rel="stylesheet" href="{% static "cr_app/css/cr_common.css" %}" />
<!-- cr_app/templates/base.html -->
{% endblock site_css %}
{% block extra_main_container_class %} cms-page-container {% endblock extra_main_container_class %}
 {% block container %}
      {{ block.super }}
      {% if display_new_CR_articles %}
          <div class="outline-div related-articles container">
            <h4 class="recent-articles-header">{% trans last_articles_msg %}</h4>
              {% include "common/article/last-article-short.html" with articles=latest_articles max=11 %}
          </div>
    {% endif %}
{% endblock container %}
