{% extends "top-collapse.html" %}

{% load i18n %}
{% load static %}

{% block language_select %}
{% endblock language_select %}

{% block navbar %}

<nav id="all-cr-nav" class="d-md-flex justify-content-center menu-top p-0 mw-100">
  <ul class="d-flex flex-row list-unstyled mw-100 flex-wrap">
    <li{% if request.site.name == "cr" %} class="active"{% endif %}><a class="nav-link py-0" href="/"><span class="fa fa-home" aria-hidden="true"></span></a></li>
    <li{% if request.site.name == "crmath" %} class="active"{% endif %}><a class="nav-link py-0" href="/mathematique">Mathématique</a></li>
    <li{% if request.site.name == "crmeca" %} class="active"{% endif %}><a class="nav-link py-0" href="/mecanique">Mécanique</a></li>
    <li{% if request.site.name == "crphys" %} class="active"{% endif %}><a class="nav-link py-0" href="/physique">Physique</a></li>
    <li{% if request.site.name == "crgeos" %} class="active"{% endif %}><a class="nav-link py-0" href="/geoscience">Géoscience</a></li>
    <li><a class="nav-link py-0" href="http://sciencepress.mnhn.fr/fr/periodiques/comptes-rendus-palevol" target="_blank">Palevol</a></li>
    <li{% if request.site.name == "crchim" %} class="active"{% endif %}><a class="nav-link py-0" href="/chimie">Chimie</a></li>
    <li{% if request.site.name == "crbiol" %} class="active"{% endif %}><a class="nav-link py-0" href="/biologies">Biologies</a></li>
    <li><a class="nav-link py-0" href="https://vds.hypotheses.org/" target="_blank">Vie des sciences</a></li>
    <li class="language-select-nav ms-1">
      {% include "common/language-select.html"%}
    </li>
  </ul>
</nav>

{% with COLLECTION_PID|lower as colid %}
  <div class="d-flex flex-row justify-content-around align-items-center">
    <div id="top-logo-cr" class="d-none d-md-block">
      <a href="{% url 'home' %}">
        {% with colid|add:"/img/logo-cras.png" as logo_img %}
        <img src="{% static  logo_img %}" class="logo-cras" alt="logo CRAS">
        {% endwith %}
      </a>
    </div>
    <div id="title-cr" class="d-flex align-items-center justify-content-center">
      {% with colid|add:"/img/title-"|add:colid|add:".png" as title_img %}
      <a href="{% url 'home' %}"><img src="{% static title_img %}" id="img-title" alt="Comptes Rendus"></a>
      {% endwith %}
    </div>
  </div>
  {% endwith %}

{{ block.super }}


{% endblock navbar %}

{% block search_bar %}
{% with hide_plus=False %}
{{ block.super }}
{% endwith %}
{% endblock search_bar %}