{% load i18n %}

<form id="main-search" class="d-flex justify-content-center align-items-center flex-wrap gap-1" action="{% url 'search' %}" method='post'>
  {% csrf_token %}
  <div class="input-group flex-nowrap w-auto">
    <input id="main-search-input" type="text" class="form-control" name="q0" value="{{ qs.0.value }}" placeholder="{% trans 'Rechercher des articles, des auteurs...' %}">
    <label class="sr-only" for="main-search-input">{% trans 'Rechercher' %}</label>
    <input type="hidden" name="qt0" value="all">
    <button class="btn btn-primary rounded-0 rounded-end" type="submit" name="Submit"><i class="fa fa-search"></i> {% trans "Search" %}</button>
  </div>
  <a href="{% url "journal-issues" COLLECTION_PID %}" class="btn btn-info">{% trans "Browse by volume" %}</a>
  <a href="{% url "section-list" %}" class="btn btn-info">{% trans "Browse by section" %}</a>
  <a href="{% url "topic-list" %}" class="btn btn-info">{% trans "Browse by topic" %}</a>
  <a href="{% url "conference-list" %}" class="btn btn-info">{% trans "Browse by conference" %}</a>
</form>

<hr>
