{% load i18n %}

{% if facets %}
  <div class="card card-default mb-2">
    <div class="facet-header card-heading bg-yellow d-flex align-items-center" style="cursor: default;">
      <h4 class="card-title m-0 px-1 py-2 fs-6 d-flex align-items-center gap-2 fw-bold">
        {% trans category_name %}
        {% if facets|length > 5 %}
          ({{ facets|length }}{% if facets|length == 100 %}+{% endif %})
          <button type="button" class="btn btn-dark rounded-pill expand-facet p-0 px-2" style="font-size: 10px;">
            <i class="fa fa-chevron-down hiddenable"></i>
            <i class="fa fa-chevron-up hidden"></i>
          </button>
        {% endif %}
      </h4>
    </div>
    <ul class="list-group border-0 rounded-0">
      {% for facet in facets %}
        <li class="border-0 border-top bg-transparent {% if forloop.counter > 5 %}hidden {% endif%}list-group-item{% if facet.active == 'active' %} list-group-item-info{% endif %}">
          <div class="d-flex gap-1 align-items-center">
            <a href="{{ facet.href }}">{% trans facet.name %}</a> ({{ facet.count }})
            {% if facet.active == 'active' %}
              <a href="{{ facet.href }}"><i class="fa fa-remove" aria-hidden="true"></i></a>
            {% endif %}
            {% if facet.sub_facets %}
              <button type="button" class="btn btn-light border expand-subfacet rounded-pill p-0 px-2" style="font-size: 10px;">
                <i class="fa fa-chevron-down hiddenable"></i>
                <i class="fa fa-chevron-up hidden"></i>
              </button>
            {% endif %}
          </div>
          {% if facet.sub_facets %}
            <div class="d-flex flex-nowrap flex-column mt-1 ps-2 align-items-start">
              {% for subfacet in facet.sub_facets %}
                <a class="subfacet{% if not subfacet.active == 'active' %} hidden{% endif %}" href="{{ subfacet.href }}">{{ subfacet.name }} ({{ subfacet.count }})</a>
              {% endfor %}
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
