{% load i18n %}

{% if facets %}
  <div class="mb-4">
    <div class="mb-2 d-flex expand-facet align-items-center facet-header{% if facets|length < 6 %}-no-click{% endif %}">
      <div class="facet-header-title flex-grow-1"><h5>{% trans category_name %} {% if facets|length > 5 %}({{ facets|length }}{% if facets|length == 100 %}+{% endif %}){% endif %}</h5></div>
      {% if facets|length > 5 and not no_max %}
        <div class="pull-right">
          <span class="fa fa-chevron-down facet-header-glyph hiddenable"></span>
          <span class="fa fa-chevron-up facet-header-glyph hidden"></span>
        </div>
      {% endif %}
    </div>
    <div class="d-flex flex-nowrap flex-column ps-2">
      {% for f in facets %}
        {% if forloop.counter == 6 and not no_max %}
          <div class="more-facet d-flex flex-nowrap gap-1 flex-column hidden">
        {% endif %}
        {% if f.active == 'active' %}
        <a href="{{ f.href }}" class="facet-active d-flex flex-nowrap gap-1 align-items-center ps-2 text-decoration-none">
          <i class="fa fa-remove" aria-hidden="true"></i>{% trans f.name|safe %} ({{ f.count }})
        </a>
        {% else %}
        <span {% if f.active == 'active' %}class="facet-active"{% endif %}>
          <a href="{{ f.href }}">{% trans f.name|safe %}</a> ({{ f.count }})
          {% if f.sub_facets %}
          <button type="button" class="btn btn-light border expand-subfacet rounded-pill p-0 px-2" style="font-size: 10px;">
            <i class="fa fa-chevron-down hiddenable"></i>
            <i class="fa fa-chevron-up hidden"></i>
          </button>
          {% endif %}
        </span>
        {% endif %}
      {% if f.sub_facets %}
        <div class="d-flex flex-nowrap flex-column mb-2 ps-2 align-items-start">
          {% for sub_f in f.sub_facets %}
            <a class="subfacet hidden" href="{{ sub_f.href }}">{{ sub_f.name|safe }} ({{ sub_f.count }})</a>
          {% endfor %}
        </div>
      {% endif %}
      {% if forloop.counter > 5 and forloop.last and not no_max %}
        </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
