{% load cms_tags %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block extra_head %}{% endblock extra_head %}

  <title>{% block title %}Journal de Théorie des Nombres de Bordeaux {{ block.super }}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static "ptf/vendors/bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/vendors/font-awesome/css/font-awesome.min.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/vendors/flag-icon/css/flag-icon.min.css" %}" />
  <link rel="stylesheet" href="{% static "ptf/vendors/bootstrap-select/css/bootstrap-select.min.css" %}">
  <link rel="stylesheet" href="{% static "ptf/css/ptf.css" %}" />
  {% comment %}
  <link rel="stylesheet" href="{% static "ptf/css/search-bar.css" %}" />
  {% endcomment %}
  <link rel="stylesheet" href="{% static "ptf/css/sticky_footer.css" %}" />
  <link rel="stylesheet" href="{% static "jtnb/css/style_jtnb.css" %}" />

  <link rel="shortcut icon" type="images/x-icon" href="{% static 'jtnb/img/favicon.ico' %}" />

  {% block extra_css %}
  {% endblock extra_css %}
  {% include "blocks/header_rss_links.html" %}
</head>
<body>
  {% include "top.html" %}
  <main class="container">

    {% block container %}
      {% block content %}
        {% block left %}
          {% block content_left %}
          {% endblock content_left %}
        {% endblock left %}

        {% block breadcrumb %}
          {% if not page %}
            <div class='row'>
              <div class='col-xs-12 col-sm-9'>
                {% include "common/breadcrumb.html" with page=page item_pid=pid %}
              </div>
              <div class='col-xs-12 col-sm-3'>
                {% include "common/tex.html" %}
              </div>
            </div>
          {% endif %}
        {% endblock breadcrumb %}

        {% block center_header %}
        {% endblock center_header%}

        {% block center_middle %}
          {% include "mersenne_cms/page_content.html" %}
        {% endblock center_middle%}

      {% endblock content %}
    {% endblock container %}
  </main>

  {% include "footer.html" %}

  <script src="{% static "ptf/vendors/jquery/js/jquery-3.5.1.min.js" %}"></script>
  <script src="{% static "ptf/vendors/bootstrap/js/bootstrap.min.js" %}"></script>
  <script src="{% static "ptf/vendors/bootstrap-select/js/bootstrap-select.min.js" %}"></script>
  <script src="{% static "ptf/vendors/bootstrap-select/js/defaults-fr_FR.min.js" %}"></script>
  <script src="{% static "ptf/vendors/clipboard/js/clipboard.min.js"%} "></script>
  <script type="text/javascript" src="{% static "ptf/js/ptf.js" %}"></script>
  <script src="{% static "ptf/js/facets.js" %}"></script>
  <script src="{% static "mersenne_cms/js/search-bar-alt.js" %}"></script>
  {% if request.session.formula_display != 'tex' %}
    <script src="{% static "ptf/js/mathjax-config.js" %}" defer></script>
    <script type="text/javascript" id="MathJax-script" defer
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
  {% endif %}
  {% block extra_js %}{% endblock extra_js %}
</body>
</html>
