{% load static %}
{% load i18n %}
{% load cms_tags %}

<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12 col-sm-6 text-center'>
        <span class='footer-text'>{% trans "Diffusé par" %} :</span>
        <a class='footer-thumbnail' href='https://www.centre-mersenne.org/' target='_blank'><img src="{% static "mersenne_cms/img/logo-mersenne.png"%}"></a>
      </div>
      <div class='col-xs-12 col-sm-6 text-center'>
        <span class='footer-text'>{% trans "Développé par" %} :</span>
        <a class='footer-thumbnail' href='http://www.mathdoc.fr/' target='_blank'><img src="{% static "mersenne_cms/img/logo-mathdoc-footer.png"%}"></a>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12 col-sm-6 footer-text'>
        {% include "footer_issns.html" %}
        {% now "Y" as cur_year %}
<!--        <span>©&nbsp;2015 - {{cur_year}}&nbsp;</span><a href="http://www.centre-mersenne.org">Centre Mersenne</a>, <a href="{% url 'home' %}">Société arithmétique de Bordeaux</a>, and the authors-->
      </div>
      <div class='col-xs-12 col-sm-6 text-right footer-text'>
        <a href='{% url 'syndication-feed' %}' alt='syndication feed'>
          <i class="fa fa-rss" aria-hidden="true"></i> {% trans "Nous suivre" %}
        </a> -
        {% if LANGUAGE_CODE == 'fr' %}
          <a href="https://jtnb.math.u-bordeaux.fr/mentions.html">Mentions légales</a>
        {% else %}
          <a href="https://jtnb.math.u-bordeaux.fr/mentions_english.html">Legal notice</a>
        {% endif %}
      </div>
    </div>
  </div>
  <p></p>
</footer>
