{% load i18n %}
{% load static %}
{% load cms_tags %}
{% load helpers %}

{% get_all_pages request 'top' as pages %}

<nav class="navbar navbar-default navbar-static-top">
  <div class='container'>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#jtnb-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="jtnb-navbar-collapse">
      <ul class="nav navbar-nav">
        {% if LANGUAGE_CODE == 'fr' %}
          <li><a href="https://jtnb.math.u-bordeaux.fr/aboutjtnb.html">À propos</a></li>
          <li><a href="https://jtnb.math.u-bordeaux.fr/jtnbedit.html">Équipe éditoriale</a></li>
          <li><a href="https://jtnb.math.u-bordeaux.fr/jtnbsubmit.html">Instructions aux auteurs</a></li>
        {% else %}
          <li><a href="https://jtnb.math.u-bordeaux.fr/aboutjtnb_english.html">About</a></li>
          <li><a href="https://jtnb.math.u-bordeaux.fr/jtnbedit_english.html">Editorial Team</a></li>
          <li><a href="https://jtnb.math.u-bordeaux.fr/jtnbsubmit_english.html">Instructions for Authors</a></li>
        {% endif %}
        {% comment %}
        {% for page, sub_pages, is_active in pages %}
          {% if sub_pages %}
            <li class="dropdown {% if is_active %}active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ page.menu_title }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for sub_page in sub_pages %}
                  <li>
                    <a href="{% url 'page_detail' sub_page.slug %}">{{ sub_page.menu_title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            {% if page.is_link %}
              <li {% if is_active %}class="active"{% endif %}>
                <a href="{% url 'page_detail' page.slug %}" class="menu-link">
                  {{ page.menu_title }}{% if is_active %} <span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
            {% else %}
              <li>
                <a href="#" class="menu-link">{{ page.menu_title }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% endcomment %}
      </ul>
      {% get_language_info_list for LANGUAGES as languages %}
      <form class="navbar-form navbar-right" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <select class="selectpicker" data-width="fit" name="language" onchange="this.form.submit()">
          {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %} data-content='<span><span class="flag-icon {% get_flag_icon language.code %}"></span></span>'>
              {{ language.name_local }}
            </option>
          {% endfor %}
        </select>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

<header class='jumbotron'>
  <div class='container'>
    <a href="{% url 'home' %}">
      <img alt="JTNB logo" class="img-responsive center-block logo" src="{% static 'jtnb/img/jtnb_logo.png' %}">
    </a>
    <div id='search-bar'>
      {% include "common/search-bar.html" with with_browse=True %}
    </div><!-- /#search-bar -->
  </div>
</header>
