{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="right_col" role="main">
    <h1>
      {% if object.pk %}
        Edit extern Id for:
      {% else %}
        New extern Id for:
      {% endif %}
    </h1>
    {{ bibitem.citation_html|safe }}
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <form class="form-horizontal" method="post">
          {% crispy form helper %}
          <input class='btn btn-primary' type="submit" value="Sauvegarder" />
          <a class='btn btn-default' href="{% url 'item_id' pid=bibitem.resource.pid %}">Back</a>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
