{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load tools_helpers %}
{% load crispy_forms_tags %}


{% block content %}
   <div class="row">
     <!--  for vuejs
      <div id="app"></div>
     -->
      <div class="col-xs-12">
        <form class="form-horizontal" method="post">
          {% crispy form helper %}
          <fieldset>
            <legend>Issn/e-Issn</legend>
            {% crispy resource_ids_form formset_helper %}
            {% if object.resourceid_set.all.count < 2 %}
              <button id='resourceid-add' type="button" class="btn btn-sm btn-default">Add an identifier</button>
            {% endif %}
          </fieldset>
          <br>
          <fieldset>
            <legend>External links</legend>
            {% crispy ext_links_form formset_helper %}
            {% if object.extlink_set.all.count < 4 %}
              <button id='extlink-add' type="button" class="btn btn-sm btn-default">Add an extlink</button>
            {% endif %}
          </fieldset>
          <br>
          <input class='btn btn-primary' type="submit" value="Sauvegarder" />
          {% if object.pk %}
            <a class='btn btn-default' href="{% url 'collection-detail' pid=object.pid %}">Back</a>
          {% else %}
            <a class='btn btn-default' href="{% url 'published_articles' %}">Back to the dashboard</a>
          {% endif %}
        </form>
      </div>
    </div>
  </div>

{% endblock content %}

{% block extrajs %}
  <script src="{% static 'ptf-tools/js/collection_formsets.js' %}"></script>
  <!-- for vuejs <script src="{% static "ptf/vendors/vue/vue.js" %}"></script>
  <script src="{% static 'vuejs/js/collection/app.js' %}"></script>
  <script src="{% static 'vuejs/js/collection/chunk-vendors.js' %}"></script>
  <link rel="stylesheet" href="{% static 'vuejs/css/app-collection.css' %}">
   -->
  <script src="{% static 'ptf-tools/js/collection_formsets.js' %}"></script>
{% endblock extrajs %}
