{% load static %}

<div class="row" style="margin-top:20px">
  <div class="col-xs-12">
    <h4>
      Issues
      &nbsp;<a href="{% url 'container_create' object.pid %}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
    </h4>
    <table id="collection_detail" class="table table-striped table-hover table-responsive">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>

      {% for issue in object_list %}
        <tr id="{{ forloop.counter }}!{{issue.pid}}" class="issue-row">
          <td>
            <div class="container">
            <div class="row datarow">
              <div class="col-lg-2 col-md-6 col-xs-6">
                <h4>
                  <a href="{% url 'issue-items' issue.pid %}">{{issue.pid}}</a>
                </h4>
                {% if issue.with_online_first %}<br><span class="badge"><i class="glyphicon glyphicon-alert with-online-first-icon"></i> In Progress</span>{% endif %}
              </div>
              <div class="col-lg-3 col-md-6 col-xs-6 related-actions">
                <div class="btn-toolbar" role="toolbar" aria-label="...">
                  <div class="btn-group">
                    <div class="btn-group">
                      <button id="deploy-one-site-sel-{{ forloop.counter }}"
                              type="button"
                              class="btn btn-default dropdown-toggle"
                              value="test_website"
                              data-bs-toggle="dropdown"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false">
                        <i id="matching-indicator-{{forloop.counter}}" class="fa fa-spinner fa-spin hidden" aria-hidden="true"></i>
                        Test <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="select_target" data-row="{{ forloop.counter }}" value="test_website">Test</a></li>
                        <li><a class="select_target" data-row="{{ forloop.counter }}" value="website">Prod</a></li>
                        <li><a class="select_target" data-row="{{ forloop.counter }}" value="numdam">Numdam</a></li>
                        <li><a class="select_target" data-row="{{ forloop.counter }}" value="ptf_tools">Trammel</a></li>
                      </ul>
                    </div>
                    <a href="#" class="btn btn-default handle-one-button"
                                data-url="{% url 'api_deploy_jats_resource' object.pid issue.pid 'toreplacesite' %}"
                                data-select-id="deploy-one-site-sel-{{ forloop.counter }}"
                                data-reload="1"
                                data-matching-indicator="matching-indicator-{{ forloop.counter }}">
                      <i class="fa fa-arrow-circle-o-up"></i> Transfer to
                    </a>
                    <a href="#" class="btn btn-default handle-one-button"
                                data-url="{% url 'api_delete_jats_issue' object.pid issue.pid 'toreplacesite' %}"
                                data-select-id="deploy-one-site-sel-{{ forloop.counter }}"
                                data-matching-indicator="matching-indicator-{{ forloop.counter }}"
                                data-reload="1">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      ... <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a title="Launch the matching" href="#MatchingModal" data-pid="{{issue.pid}}" role="button" class="open-matching-dialog" data-toggle="modal">
                          Launch the Matching
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'container_edit' issue.pid %}">Edit</a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li>
                        <a href="#" data-url="{% url 'api_archive_issue' object.pid issue.pid %}"
                           data-matching-indicator="matching-indicator-{{ forloop.counter }}"
                           id="archive-{{ forloop.counter }}"
                           class="handle-one-button">Archive</a>
                      </li>
                      <li>
                        <a href="#" data-url="{% url 'api_deploy_jats_resource' object.pid issue.pid 'numdam' %}"
                           data-matching-indicator="matching-indicator-{{ forloop.counter }}"
                           id="numdam-{{ forloop.counter }}"
                           class="handle-one-button">Transfer to Numdam</a>
<!--                        <a href="#" data-all-url="{% url 'api_create_all_djvu' issue.pid %}"-->
<!--                           data-one-url="{% url 'api_create_djvu' 'toreplacepid' %}"-->
<!--                           data-end-url="{% url 'api_deploy_jats_resource' object.pid issue.pid 'numdam' %}"-->
<!--                           class="handle-all-button">Transfer to Numdam</a>-->
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-xs-6">
                <div class="row">
                  <div class="col-lg-3 col-md-6">
                    Import: <br>
                    Matching: <br>
                    Last modified: <br>
                    Archived: <br>
                    In production:
                  </div>
                  <div class="col-lg-9 col-md-6">
                    <time id="lastevent-import-{{ forloop.counter }}" datetime=""></time><br>
                    <time id="lastevent-matching-{{ forloop.counter }}" datetime=""></time><br>
                    <time datetime="{{ issue.last_modified|date:"c" }}">{{ issue.last_modified|date:"Y-m-d H:i" }}</time><br>
                    <time id="lastevent-archive-{{ forloop.counter }}" datetime=""></time><br>
                    <time id="lastevent-deploy-{{ forloop.counter }}" datetime=""></time>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-xs-6">
                <p class='text-right'>
                  <span id="metadata-{{ forloop.counter }}" class="text-warning"></span><br>
                  <span id="doi-{{ forloop.counter }}"></span><br>
                  {% if issue.doajbatch %}
                    {% if issue.doajbatch.status == 'registered' %} Enregistré dans le DOAJ
                    {% elif issue.doajbatch.status == 'error' %} Erreur d'enregistrtement dans le DOAJ <span title="{{ issue.doajbatch.log }}"><i class="fa fa-question-circle-o"></i></span>
                    {% elif issue.doajbatch.status == 'unregistered' %} Enregistrtement dans le DOAJ incomplet
                    {% endif %}
                  {% endif %}
                  <button type="button"
                          id="latest-{{ forloop.counter }}"
                          class="btn btn-xs btn-danger hidden"
                          data-container="body"
                          data-toggle="popover"
                          data-placement="left"
                          data-html="true"
                          data-sanitize="false"
                          data-content=""
                          data-original-title="">
                    <i class="glyphicon glyphicon-fire"></i> Error
                  </button><br>
                  <span id="exclude-{{ forloop.counter }}" class="badge" style="display:none"><i class="glyphicon glyphicon-remove do-not-publish-small-icon"></i>Un article ne sera pas publié</span>
                </p>
              </div>
            </div>
            </div>
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>
</div>
