{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="right_col" role="main">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}

  {% if user.is_staff %}

  <h1>
    <a id="colid" data-value="{{ object.pid }}" href="{% url 'journal-issues' object.pid %}">{{ object.title_html|safe }}</a>
    <a href="{% url 'collection-update' object.pid %}" class="btn btn-default"><span
      class="glyphicon glyphicon-edit"></span></a>
    <div class="btn-group">
      <div class="btn-group">
        <select id="export-numdam-site-sel" style="font-size:16px; height:34px;">
          <option value="test_website">Test</option>
          <option value="website">Prod</option>
          <option value="numdam">Numdam</option>
        </select>
      </div>
      <a href="#" class="btn btn-default handle-one-button"
         data-url="{% url 'api_deploy_collection' object.pid 'toreplacesite' %}"
         data-select-id="export-numdam-site-sel">
        <i class="fa fa-arrow-circle-o-up"></i> Transfer to
      </a>
    </div>

    {% if latest_exception %}
    <small>
      Last unprocessed error : {{ latest_exception_type|capfirst }}
      <button type="button" class="btn btn-xs btn-danger" data-container="body" data-toggle="popover"
              data-placement="bottom" data-html="true" data-sanitize="false" data-content="{{ latest_error_message }}"
              data-original-title="{{ latest_exception }}<br>{{ latest_exception_date|date:" Y-m-d H:i " }}">
      <i class="glyphicon glyphicon-fire"></i> Error
      </button>
    </small>
    {% endif %}
  </h1>

  {{ block.super }}
  <div class="row">
    <div class="col-xs-1" style="border-left:1px solid grey;">DOI : {{object.doi}}</div>
    <div class="col-xs-2"
         style=" color: {% if object.doibatch.status == 'Enregistré' %}green{% elif object.doibatch.status == 'Erreur' %}red{% elif object.doibatch.status == 'En cours' %}orange{% else %}red{% endif %};">
      {% if object.doibatch %}
      {{object.doibatch.status}}<span title="{{object.doibatch.error}}"><i class="fa fa-question-circle-o"></i></span>
      {% else %}
      Not recorded
      {% endif %}
    </div>
    <div class="col-xs-2">
      {% if object.doi %}
      <a href="#" data-url="{% url 'doi_check' object.pid %}" data-matching-indicator="doiregister-indicator"
         data-reload="1" class="btn btn-default handle-one-button"><i class="glyphicon glyphicon-refresh"
                                                                      aria-hidden="true"></i> Check DOI</a>
      <a href="#" data-url="{% url 'doi_register' object.pid %}" data-matching-indicator="doiregister-indicator"
         data-reload="1" class="btn btn-default handle-one-button"><i class="glyphicon glyphicon-record"
                                                                      aria-hidden="true"></i> Record DOI</a>
      <i id="doiregister-indicator" class="fa fa-spinner fa-spin hidden" aria-hidden="true"></i>
      {% else %}
      <span style="color: red">No DOI</span>
      {% endif %}
    </div>
  </div>

  <div class="row" style="margin-top:40px;">
    <div class="col-xs-12">
      <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Import an issue create by Cedrics</h4>
            </div>
            <div id="form-modal-body" class="modal-body">
            </div>
          </div>
        </div>
      </div>
      <a href="#" data-url="{% url 'import_cedrics_issue' object.pid %}"
         modal-title="Import an issue create by Cedrics"
         class="form-modal-button-no-ajax-submit btn btn-default"><span class="glyphicon glyphicon-download"></span>
        Import an issue</a>
      <a href="#" data-url="{% url 'import_cedrics_article' object.pid %}"
         modal-title="Import an article create by Cedrics"
         class="form-modal-button-no-ajax-submit btn btn-default"><span class="glyphicon glyphicon-download"></span>
        Import an article</a>
      <a href="{% url 'archive_collection' object.pid %}" id="celery-archiving" class="btn btn-default">
        <span class="glyphicon glyphicon-floppy-disk"></span> Backup the collection
      </a>
      <a href="{% url 'trammel-tasks-failed' object.pid %}" id="archive-errors-btn" class="btn btn-default hidden">
        <span class="glyphicon glyphicon-fire"></span> Archiving errors
      </a>

      {% include "archive_progress.html" with task_name="archive_trammel_resource" %}

      {% if 0 and issue_to_appear_pid %}
      <a href="#" data-url="{% url 'import_cedrics_issue' object.pid %}?to_appear=1"
         modal-title="Import an issue create by Cedrics"
         class=" btn btn-default"><span class="glyphicon glyphicon-download"></span>
        Import articles to appear</a>
      {% endif %}
    </div>
  </div>

  {% comment %}
  {% if issue_to_appear_pid %}
  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-lg-8 tools-box">
      <h4>
        {% if issue_to_appear %}
        <div class="col-lg-3 col-md-6 col-xs-6">
          <h4>
            <a href="{% url 'issue-items' issue_to_appear_pid %}">Articles to appear</a>
          </h4>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 related-actions">
          <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group">
              <div class="btn-group">
                <button id="deploy-one-site-sel-0" type="button" class="btn btn-default dropdown-toggle"
                        value="test_website" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i id="matching-indicator-0" class="fa fa-spinner fa-spin hidden" aria-hidden="true"></i>
                  Test <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="select_target" data-row="0" value="test_website">Test</a></li>
                  <li><a class="select_target" data-row="0" value="website">Prod</a></li>
                  <li><a class="select_target" data-row="0" value="ptf_tools">Trammel</a></li>
                </ul>
              </div>
              <a href="#" class="btn btn-default handle-one-button"
                 data-url="{% url 'api_deploy_jats_resource' object.pid issue_to_appear_pid 'toreplacesite' %}"
                 data-matching-indicator="matching-indicator-0" data-select-id="deploy-one-site-sel-0">
                <i class="fa fa-arrow-circle-o-up"></i> Transfer to
              </a>
              <a href="#" class="btn btn-default handle-one-button"
                 data-url="{% url 'api_delete_jats_issue' object.pid issue_to_appear_pid 'toreplacesite' %}"
                 data-matching-indicator="matching-indicator-0" data-select-id="deploy-one-site-sel-0"
                 data-reload="1">
                <i class="fa fa-trash"></i> Delete
              </a>
            </div>
          </div>
        </div>
        {% else %}
        No articles to appear
        {% endif %}
      </h4>
    </div>
  </div>
  {% endif %}
  {% endcomment %}

  <div class="row" style="margin-top:20px">
    {% comment %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 tools-box">
      <h4>Full collection</h4>
      <a href="#" data-all-url="{% url 'api_import_all' object.pid %}"
         data-one-url="{% url 'api_import_jats_container' object.pid 'toreplacepid' %}" data-site-select-id=""
         data-reload="1" class="btn btn-default handle-all-button"><span
        class="glyphicon glyphicon-download"></span> Import in Trammel from mathdoc_archive</a>
      <a href="#" data-all-url="{% url 'api_archive_all' object.pid %}"
         data-one-url="{% url 'api_archive_issue' object.pid 'toreplacepid' %}" data-site-select-id="" data-reload="1"
         class="btn btn-default handle-all-button"><span
        class="glyphicon glyphicon-floppy-disk"></span></a>
      <button class="btn btn-default" id="cancel-all-button" style="display:none">Cancel</button>
      <input id="cancel-all-checkbox" type="checkbox" value="" style="display:none">
      <br/>
      <select id="export-all-site-sel" style="width:100px; display:inline; margin-right:5px; font-size:14px">
        <option value="test_website">Test</option>
        <option value="website">Prod</option>
        <option value="ptf_tools">Trammel</option>
        <option value="numdam">Numdam</option>
      </select>
      <a href="#" data-all-url="{% url 'api_deploy_all' object.pid 'toreplacesite' %}"
         data-one-url="{% url 'api_deploy_jats_resource' object.pid 'toreplacepid' 'toreplacesite' %}"
         data-site-select-id="export-all-site-sel"
         class="btn btn-default handle-all-button"><span class="glyphicon glyphicon-upload"></span> Transfer to</a>
      <a href="#" data-all-url="{% url 'api_deploy_all' object.pid 'toreplacesite' %}"
         data-one-url="{% url 'api_delete_jats_issue' object.pid 'toreplacepid' 'toreplacesite' %}"
         data-site-select-id="export-all-site-sel" data-reload="1"
         class="btn btn-default handle-all-button"><span class="glyphicon glyphicon-trash"></span> Delete</a>
    </div>
    {% endcomment %}

    {% if user.is_superuser %}
    <div class="col-xs-12 tools-box">
      <h4>Journal home page & menu pages</h4>
      <div class="row">
        <div class="col-xs-6">
        <i id="cms-indicator" class="fa fa-spinner fa-spin hidden" aria-hidden="true"></i>
        <a href="#" data-url="{% url 'api_save_cms' object.pid 'test_website' %}" data-matching-indicator="cms-indicator"
           class="btn btn-default handle-one-button"><span class="glyphicon glyphicon-save"></span> Save the test website CMS content on disk</a>
        <a href="#" data-url="{% url 'api_restore_cms' object.pid %}" data-matching-indicator="cms-indicator"
           class="btn btn-default handle-one-button"><span class="glyphicon glyphicon-export"></span> Restore the Trammel CMS content from disk</a>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-xs-12">
        <a href="/page/{{ object.pid }}" title="Edit the journal home page and menu pages"
         class="btn btn-default btn-deploy btn-edit">
         <span class="glyphicon glyphicon-circle-arrow-right"></span> Edit menu pages
        </a>
        <a href="#" data-url="{% url 'api_deploy_cms' object.pid 'website' %}" data-matching-indicator="cms-indicator"
          data-reload="1" class="btn btn-default handle-one-button btn-deploy btn-edit"
          title="Apply the changes to the production website"><span
          class="glyphicon glyphicon-circle-arrow-right"></span> Apply the changes to the production website
        </a>
      </div>
    </div>
  </div>

  <div class="container m-2">

    {% if object.pid == "CR" %}
    <div class="row">
      <div class="col-xs-4 tools-box" style="margin-top:20px; margin-left:10px">
        <h4>Virtual issues</h4>
        <a href="/virtual_issues/{{ object.pid }}" class="btn btn-default btn-deploy btn-edit">
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
          Virtual issues
        </a>
      </div>
    </div>
    {% comment %} {% if "CR" in object.pid %} {% endcomment %}

    {% endif %}
    {% if "CR" in object.pid %}
    <div class="row">
      <div class="col-xs-4 tools-box px-5" style="margin-top:20px; margin-left:10px">
        <h4>Special issues</h4>
        <a href="/special_issues/{{ object.pid }}" class="btn btn-default btn-deploy btn-edit">
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
          Special issues
        </a>
      </div>
    </div>

  </div>

  {% endif %}

  <div class="row">
    <div class="col-xs-12">
      <div id="handle-all-progress" class="progress" style="display:none">
        <div class="progress-bar" role="progressbar" aria-valuenow="00" aria-valuemin="0" aria-valuemax="100"
             style="width:0%">0%
        </div>
        <br/>
      </div>
    </div>
  </div>

  {% include "editorial_tools/select-issue.html" with issues=sorted_issues pid=object.pid title="Editor<span>&#146;</span>s dashboard" %}
  {% include "ptf/collection_detail_issues.html" %}
  {% include "common/matching.html" %}

  {% else %}

  <h1>
    {{ object.title_html|safe }}
  </h1>

  <div class="row">
  <div class="col-xs-12 tools-box">
    <h4>Journal home page & menu pages</h4>
    <div class="row">
      <div class="col-xs-6">
       <a href="/page/{{ object.pid }}" title="Edit the journal home page and menu pages"
         class="btn btn-default btn-deploy btn-edit">
         <span class="glyphicon glyphicon-circle-arrow-right"></span> Edit menu pages
       </a>
      </div>
      <div class="col-xs-6">
        <a href="#" data-url="{% url 'api_deploy_cms' object.pid 'website' %}" data-matching-indicator="cms-indicator"
          data-reload="1" class="btn btn-default handle-one-button btn-deploy"
          title="Apply the changes to the production website"><span
          class="glyphicon glyphicon-circle-arrow-right"></span> Apply the changes to the production website
        </a>
      </div>
    </div>
  </div>

  {% if object.pid == "CR" %}
  <div class="col-xs-4 tools-box" style="margin-top:20px">
    <h4>Virtual issues</h4>
    <a href="/virtual_issues/{{ object.pid }}" class="btn btn-default btn-deploy btn-edit">
      <span class="glyphicon glyphicon-circle-arrow-right"></span>
      Virtual issues
    </a>
  </div>
  {% elif "CR" in object.pid %}
    <div class="row">
      <div class="col-xs-4 tools-box px-5" style="margin-top:20px; margin-left:10px">
        <h4>Special issues</h4>
        <a href="/special_issues/{{ object.pid }}" class="btn btn-default btn-deploy btn-edit">
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
          Special issues
        </a>
      </div>
    </div>
  {% endif %}

  {% include "editorial_tools/select-issue.html" with issues=sorted_issues pid=object.pid title="Volumes" %}

  {% endif %}
</div>

{% endblock content %}

{% if user.is_staff %}
{% block extrajs %}
<script src="{% static 'ptf-tools/js/collection_detail_table.js' %}"></script>
<script src="{% static 'ptf-tools/js/archiving.js' %}"></script>
{% endblock extrajs %}
{% endif %}
