footer {
    background-color: #ebf9f0;
}

.additional-input-group {
    margin-top: 5px;
}

.show-tex {
    margin: 21px 0;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-brand > img {
    height: 40px;
}

.jumbotron {
    background-color: white;
}

.logo {
    margin-bottom: 10px;
}

.footer-text {
    color: #777;
    font-size: 12px;
}

.footer-text > a {
    color: #777;
}

.footer-thumbnail > img {
    max-height: 45px;
    margin-top: 5px;
    margin-bottom: 10px;
}
