{% load i18n %}
{% load helpers %}
{% load static %}

{% if SHOW_BODY or collection.pid == "PCJ" and body_html %}
<div class="row">
  <div class="col-xs-12">

    {% if resource.bibitem_set and resource.bibitem_set.count %}

    <div id="references-html">
      <p class="panel-title show-body-panel-title" data-toggle="collapse" data-target="#referencesCollapse" aria-controls="referencesCollapse">
        {% trans "Bibliographie" %}
        <span class="collapse-icon"><i class="fa fa-chevron-up"></i></span>
      </p>
      <div style="margin:11px 10px;">
        {% include 'common/common-bibliographie-content.html' %}
      </div>
      <hr class="panel-title-separator">
    </div>
    {% endif %}

  </div>
</div>
{% else %}
<div class="row" style="margin:0px">
  <div class="col-xs-12">
    <div style="margin-top:30px;margin-bottom:10px">

      <ul class="nav nav-tabs article-tab" {% if not resource.bibitem_set.count %}style="display:none"{% endif %}>
        <li class="nav-item {% if resource.bibitem_set.count %}active{% endif %}" id="main-citations-li" {% if not resource.bibitem_set.count %}style="display:none"{% endif %}>
          <a class="nav-link active" data-bs-toggle="tab" data-toggle="tab" data-bs-target="#references-tab" href="#references-tab" aria-selected="true" role="tab">{% trans "Bibliographie" %}</a>
        </li>
        <li class="nav-item" id="citations-html" style="display:none">
          <a class="nav-link" data-bs-toggle="tab" data-toggle="tab" data-bs-target="#citations-tab" href="#citations-tab">{% trans "Cité par" %}</a>
        </li>
      </ul>

      <div class="tab-content" style="margin-top:10px">
        {% if resource.bibitem_set and resource.bibitem_set.count %}
        <div id="references-tab" class="tab-pane fade {% if bs_version > 4 %}show{% else %}in{% endif %} active">
          <div style="margin-top:11px;margin-bottom: 0px">
            {% include 'common/common-bibliographie-content.html' %}
          </div>
        </div>
        {% endif %}

        {% if resource.doi %}
        <div id="citations-tab" class="tab-pane fade {% if bs_version > 4 %}show{% else %}in{% endif %}">
          <div id="citations-div" data-url="{% url 'api_citedby' resource.doi %}" style="margin-top:11px;margin-bottom: 11px"></div>
          <p><em>{% trans "Cité par" %} <span id="citations-number"></span> {% trans "Sources :" %} <span id="citations-sources"></span></em></p>
        </div>
        {% endif %}
      </div>

    </div>
  </div>
</div>
{% endif %}
