{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
  </div>
</div>
{% endblock %}
