:root {
    --primary-color: #333;
    --primary-background-color: #ddedc7;
    --link-color: #709b32;
    --gray-background-color: #e6e6e6;
    --gray-border-color: #adadad;
}

/* Titre de Page */
html,
body {
    height: 100%;
}

a {
    color: var(--link-color);
}

#content {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Page background */
.page-container {
    min-height: calc(100% - 406px); /* 100% - height(header=190+95) - height(footer=120) */
    height: auto !important;
    padding-top: 40px;
    padding-bottom: 20px;
}

#page-title {
}

#mersenne-header {
    /*height: 170px;*/
    /*background-image: url("/static/igt/img/ART_background.jpg");*/
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    height: 190px;
}

#mersenne-header .row {
    margin: 0px;
}

#mersenne-header h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.menu-top {
    background-color: transparent;
    border: 0px;
    font-weight: bold;
    /*margin-bottom: 0px;*/
}

@media all and (min-width: 992px) {
    .menu-top {
        /* margin-right: -60px;*/:
    }
}

.menu-bottom {
    border: 0px;
    margin-left: 20%;
    margin-bottom: 0px;
}

.menu-bottom .navbar-nav {
    float: left;
}

.menu-bottom .navbar-nav > li {
    float: left;
}

.journal-logo {
    float:left;
    text-align: center;
    width: 685px;
    padding-left: 40px;
    padding-right: 20px;
}

.journal-logo-small {
    display: none;
    float:left;
    padding-left: 40px;
    padding-right: 20px;
}

#journal-logo-title {
    display:none;
    text-align: center;
    width: 100%;
}

#journal-title-col {
    float:left;
    width: calc(100% - 745px);
}

#onoffswitch-large {
    margin-right: -30px;
}

#onoffswitch-small {
    display:none;
    margin-top: 5px;
}

#onoffswitch-large span a:hover,
#onoffswitch-small span a:hover {
    text-decoration: none;
}

/*#onoffswitch-small span {
    width:50px;
    margin-left:10px;
    margin-top:10px;
    font-weight:bold;
}*/

.logo-mersenne {
    height: 60px;
}

.logo-footer {
    height: 45px;
}

#mersenne-header a {
    color: var(--primary-color);
    text-transform: uppercase;
}

#mersenne-header .active .dropdown-menu a {
    color: var(--link-color);;
    background-color: white;
}

#mersenne-header a:hover,
#mersenne-header a:focus,
#mersenne-header .active a,
#mersenne-header .active a:hover,
#mersenne-header .active .menu-focus {
    color: white;
    background-color: var(--primary-color);
}

#mersenne-header .journal-logo a:hover,
#mersenne-header .journal-logo a:focus,
#mersenne-header .journal-logo .active a,
#mersenne-header .journal-logo .active a:hover,
#mersenne-header .journal-logo .active .menu-focus {
    color: white;
    background-color: transparent;
}

#mersenne-header .journal-logo img {
    width: auto;
    height: 150px;
}

.dropdown-accordion {
    display: none;
    float: right;
}

.search-button-div {
    width: 100px;
    padding-right: 0px;
    padding-left: 0px;
}

#browse-btns {
    float: left;
    margin-top: 20px;
}

#search-bar {
    width: calc(100% + 110px);
}

.browse-or {
    text-align: center;
    margin-top: 7px;
}

.searchclear {
    top: 14px;
}

#top-search .row {
    margin: 0px;
}

#top-search {
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 6px 6px #aaaaaa;
}

#top-search .form-control {
    border-radius: 12px 0px 0px 12px;
    height: 40px;
}

#top-search .btn {
    border-radius: 12px 12px 12px 12px;
    height: 40px;
    line-height: 1.87;
}

#top-search .input-group-btn .btn {
    height: 40px;
    border-radius: 0px 0px 0px 0px;
}

#top-search #add-search-field {
    border-radius: 0px 12px 12px 0px;
}

#top-search .input-group-btn .remove-search-field {
    border-radius: 0px 12px 12px 0px;
}

#top-search .input-group-addon {
    border-radius: 12px 0px 0px 12px;
}

#top-search .search-group-added .searchinput {
    border-radius: 0px 0px 0px 0px;
}



.footer-text {
    padding-left: 15%;
    padding-top: 15px;
    color: #777;
    font-size: 12px;
}

.footer-text a {
    color: #777;
}

#footer {
    margin-top: 0px;
    padding-top: 15px;
    position: relative;
    height: 120px;
}

.logos-footer {
    margin-bottom: 10px;
    font-size: 12px;
}

.logos-footer a {
    margin-right: 7%;
}

.logos-footer a:last-child {
    margin-right: 0px;
}

#sidebar {
    width: 250px;
    /*    transition: all 0.3s;*/
    padding-top: 0px;
}

/*

.wrapper-sidebar {
    display: flex;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -250px;
}
*/

#toggle-sidebar {
    display: none;
    margin-bottom: 20px;
}

.cms-breadcrumb {
    list-style: none;
    display: inline-block;
}
.cms-breadcrumb .icon {
    font-size: 14px;
}
.cms-breadcrumb li {
    float: left;
}
.cms-breadcrumb li a {
    color: var(--link-color);
    display: block;
    background: var(--primary-background-color);
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}
.cms-breadcrumb li:nth-child(even) a {
    background-color: var(--primary-background-color);
}
.cms-breadcrumb li:nth-child(even) a:before {
    border-color: var(--primary-background-color);
    border-left-color: transparent;
}
.cms-breadcrumb li:nth-child(even) a:after {
    border-left-color: var(--primary-background-color);
}
.cms-breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.cms-breadcrumb li:first-child a:before {
    border: none;
}
.cms-breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.cms-breadcrumb li:last-child a:after {
    border: none;
}
.cms-breadcrumb li a:before,
.cms-breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid var(--primary-background-color);
    border-width: 20px 10px;
    width: 0;
    height: 0;
}
.cms-breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}
.cms-breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: var(--primary-background-color);
}
.cms-breadcrumb li a:hover {
    background-color: var(--primary-color);
    color: white;
}
.cms-breadcrumb li a:hover:before {
    border-color: var(--primary-color);
    border-left-color: transparent;
}
.cms-breadcrumb li a:hover:after {
    border-left-color: var(--primary-color);
}
.cms-breadcrumb li.active a {
    background-color: var(--primary-color);
    color: white;
}
.cms-breadcrumb li.active a:before {
    border-color: var(--primary-color);
    border-left-color: transparent;
}
.cms-breadcrumb li.active a:after {
    border-left-color: var(--primary-color);
}

.cms-breadcrumb li.breadcrumb-previous a,
.cms-breadcrumb li.breadcrumb-next a {
    margin-right: 5px;
}

.cms-breadcrumb li:last-child a {
    margin-right: 5px;
}

ul.cms-breadcrumb {
    padding-left: 0px;
}

.article-breadcrumb {
    padding-left: 0px;
    padding-right: 0px;
    right: 18%;
}

.btn-tex {
    padding-right: 0px;
    padding-left: 50px;
    text-align: right;
    max-width: 200px;
}

.site-settings {
    font-size: 30px;
}

.journal-logo {
    display: block;
}

#menu-top-wrapper {
    text-align: center;
    margin-right: 60px;
    margin-top: 50px;
}

@media all and (max-width: 1360px) {
    #mersenne-header {
        height: 140px;
    }

    #mersenne-header .journal-logo img {
        height: 100px;
    }

    .journal-logo {
        width: 500px;
    }

    #journal-title-col {
        width: calc(100% - 560px);
    }

    .page-container {
        min-height: calc(100% - 356px); /* 100% - height(header=140+95) - height(footer=120) */
    }

    #menu-top-wrapper {
        margin-top: 25px;
    }
}

@media all and (max-width: 1200px) {
    #mersenne-header {
        height: 130px;
    }

    #mersenne-header .journal-logo img {
        height: 80px;
    }

    .journal-logo {
        width: 340px;
    }

    #journal-title-col {
        width: calc(100% - 400px);
    }

    .onoffswitch-group {
        padding-top: 0px;
    }

    #menu-top-wrapper {
        margin-top: -20px;
    }

    #article-bar {
        margin-top: 10px;
    }

    #search-bar {
        padding: 0;
    }

    #browse-btns {
        margin-top: 0px;
    }

    .page-container {
        min-height: calc(100% - 341px); /* 100% - height(header=130+105) - height(footer=120) */
    }
}


@media all and (max-width: 1199px) {
    .browse-or {
        width: 40px;
        height: 27px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-text {
        padding-left: 50px;
    }

    .journal-logo-small, #journal-logo-title {
        display: block;
    }
    .journal-logo {
        display: none;
    }

    #mersenne-header .journal-logo-small img {
        height: 80px;
    }

    #journal-logo-title img {
        height: 60px;
        margin-top: -10px;
        margin-bottom: 20px;
    }

    #journal-title-col {
        width: calc(100% - 180px);
    }

/*

    .journal-logo-medium {
        display: block;
    }

    .journal-logo-medium img {
        height: 200px;
    }

    .page-container .journal-logo {
        display: none;
    }
    */

    .regular-content {
        margin-left: 8%;
    }

    .article-breadcrumb {
        right: 0px;
    }

    .btn-tex {
        margin-bottom: 10px;
        padding-left: 0px;
        text-align: left;
    }
}

@media all and (max-width: 1200px) {
    .cms-breadcrumb {
        padding-left: 0px;
    }

    .logos-footer a {
        margin-right: 5%;
    }
}

/*
@media all and (max-width: 1050px) {
    .journal-logo-medium img {
        height: 180px;
    }
}
*/

@media all and (max-width: 992px) {
    #article-bar {
        padding-left: 35px;
    }

    #search-bar {
        width: 100%;
    }
}

@media all and (max-width: 900px) {

    #mersenne-header .journal-logo {
        width: 120px;
    }

    .journal-logo-small img {
        height: 100px;
    }

    .journal-header-content {
        width: calc(100% - 150px);
    }

    #mersenne-header .journal-logo img {
        height: 100px;
        padding-left: 0px;
    }

    #mersenne-header h1 {
        float: left;
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 40px;
    }

    #search-group-btn {
        display: none;
    }

    #line-container,
    .search-group {
        width: 250px;
        margin-right: 10px;
        height: 34px;
    }

    .menu-top {
        display: none;
    }

    .journal-title:after {
        display: block;
        clear: both;
        content: "";
    }

    .page-container h2 {
        margin-top: 10px;
    }

    .cms-page {
        padding-left: 10px;
        margin-bottom: 20px;
    }

    .footer-text {
        padding-left: 20px;
    }

    .logo-mersenne {
        height: 50px;
    }

    .logo-footer {
        height: 35px;
    }

    .logos-footer a {
        margin-right: 10px;
    }

    .regular-content {
        margin-left: 0;
        padding-left: 0;
    }
}

@media all and (max-width: 768px) {
    .journal-logo-small, #journal-logo-title {
        display: none;
    }
    .journal-logo {
        display: block;
        margin-top: -10px;
    }

    #menu-top-wrapper {
       display:none;
    }

    #footer {
        height: 189px;
    }

    #sidebar {
        display: none;
        width: 100%;
    }
    #toggle-sidebar {
        display: block;
    }
    #results {
        width: 100%;
    }

    .dropdown-accordion {
        display: block;
        margin-right: -20px;
    }

    #onoffswitch-large {
        display:none;
    }

    #onoffswitch-small {
        display: block;
    }

    #browse-btns {
        display: none;
    }

    #search-bar {
        padding-top: 5px;
    }
}

@media all and (min-width: 768px) {
    #sidebar {
        display: block;
    }
    #toggle-sidebar {
        display: none;
    }
    #results {
        width: calc(100% - 250px);
    }
}

@media all and (max-width: 700px) {

    .page-container {
        min-height: calc(100% - 361px);
    }

    .page-container .journal-logo {
        display: none;
    }
}

@media all and (max-width: 600px) {
    #mersenne-header {
        height: 100px;
    }

    #mersenne-header .journal-logo img {
        height: 80px;
    }

    #search-button-text {
        display: none;
    }

    .search-button-div {
        width: 40px;
    }
}

@media all and (max-width: 560px) {
    #line-container,
    .search-group {
        width: 220px;
    }
}

@media all and (max-width: 500px) {

    .page-container {
        min-height: calc(100% - 371px);
    }

    #mersenne-header .journal-logo {
        width: 90px;
    }

    #journal-title-col {
        width: calc(100% - 130px);
    }

    #mersenne-header h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .logo-footer {
        margin-top: 5px;
    }
}

@media all and (max-width: 470px) {
    #mersenne-header {
        height: 80px;
    }

    #mersenne-header .journal-logo {
        width: 70px;
    }

    #mersenne-header .journal-logo img {
        height: 60px;
    }
}

@media all and (max-width: 450px) {
    #footer {
        height: 209px;
    }

    .page-container {
        min-height: calc(100% - 391px);
    }

    #mersenne-header h1 {
        font-size: 14px;
    }

    .journal-header-content {
        padding-right: 0px;
    }

    .dropdown-accordion {
        margin-right: -40px;
    }

    #search-bar {
        padding-top: 0px;
    }


    .browse-or {
        margin-right: 30%;
    }


    #line-container,
    .search-group {
        width: 300px;
        margin-top: 5px;
    }

    .search-button-div {
        margin-top: 10px;
    }

}

@media all and (max-width: 400px) {
    #line-container,
    .search-group {
        width: 200px;
    }

    .searchinput {
        padding-left: 3px;
    }

    .logo-footer {
        height: 30px;
    }
}

.menu-top {
    display: inline-block;
}

/* Barre de recherche */
#search-bar {
    margin-left: 5px;
}

.search-button {
    background-color: var(--primary-background-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.search-button:hover {
    background-color: var(--gray-background-color);
    border-color: var(--gray-border-color);
    color: var(--primary-color);
}

#line-container {
    padding-left: 0px;
}

/* Pagination resultat recherche */
.pagination > .active > a {
}
.pagination > li > a {
}

/* Container menu + page */
.content-container {
}

/* Contenu de la page */
.cms-page {
}

/* Menu gauche */
.sidebar {
}
li.mersenne-cms-menu-lvl1 {
}
li.mersenne-cms-menu-lvl2 {
}
.nav-tabs > li.active > a:hover {
}
.nav-tabs > li.active > a {
}
.nav-tabs > li > a:hover {
}
.nav-tabs > li > a:focus {
    outline: none;
}

.page-container .row {
    margin: 0px;
}

.cms-page-content {
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    width: 95%;
}

.volume-ligne,
.journal-content {
    margin-top: 50px;
    font-size: 20px;
}

.recent-articles {
    /*max-height: 500px;*/
    /*min-width: 380px;*/
}

.recent-articles-header {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary-color);;
    text-align: center;
}

.article-short {
    font-size: 14px;
}

.article-short h2 {
    font-size: 14px;
    margin: 0px;
}

.article-tab {
    font-size: 16px;
}

.article-title a {
    color: #333;
}

.facet-header,
.facet-header-no-click {
    background-color: var(--primary-color);
    color: white;
}

.lightbox {
    height: 150px;
    border: 1px solid #c7c7c7;
}

.btn-toggle,
.btn-toggle:hover,
.btn-toggle:focus,
.btn-toggle:active {
    color: white;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

#main-dropdown-menu {
    left: -143px;
    width: 200px;
}

.panel-heading > a {
    text-decoration: none;
    outline-style: none;
}

.panel-group {
    margin-bottom: 0px;
}

.panel-group .panel {
    border-radius: 0px;
}

.panel-title > a:hover {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    outline-style: none;
}

.panel-title {
    margin-top: 0px;
    line-height: 24px;
}

.panel-body a {
    line-height: 40px;
}

.container-flex {
    font-size: 16px;
}

.container-flex > .flex-group .flex-item {
    margin-left: 0px;
    margin-right: 20px;
}
