  <div id="progress-bar" class="hidden" data-url-progress="{% url 'progress-bar-api' task_mod task_name pid %}">
    <h4>{{task_title}}</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="min-width: 2em;">0%</div>
      <div class="progress-bar progress-bar-warning" style="width: 0%">0%</div>
    </div>
  </div>
  <p id="task-results">
  </p>

