{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'numdam/css/history-graph.css' %}" type="text/css"/>
{% endblock extra_css %}

{% block title %}
  {{ journal.title_tex }}
{% endblock %}

{% block content %}
  {% include "common/journal-header.html" %}
  <div class="container" style="margin-bottom:50px">
    {% for collection in collections %}
      {% include "common/issue-list.html" with journal=collection.journal sorted_issues=collection.sorted_issues parent_collection=forloop.first %}
    {% endfor %}
  </div>
{% endblock content %}

{% block scripts %}
  <script type="text/javascript" src="{% static "numdam/vendors/d3/js/d3.min.js" %}"></script>
  <script type="text/javascript" src="{% static "numdam/vendors/dagre-d3/js/dagre-d3.min.js" %}"></script>
  <script type="text/javascript" src="{% static "numdam/js/history-graph.js" %}"></script>
{% endblock %}
