{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block center_middle %}
<div class="d-flex justify-content-center align-items-center mt-5">
  {% if LANGUAGE_CODE == "en" %}
  <div class="col-md-10 col-lg-10 col-xl-10 col-xxl-8 english-text">
    <h4>About</h4>
    <p>The Centre Mersenne translation solution allows any authentified contributor to translate  a scientific article of the Comptes Rendus de l'Académie des Sciences into the language of his   choice, by post-editing the pre-translated text using an automatic text translation tool.</p>
    <h1>An idea from the Académie des Sciences</h1>
    <div class="container-with-image">
      <div class="image-with-text">
        <img src="{% static 'traduction/img/logo-cras.png' %}">
      </div>
      <div class="text-with-image">
        <p>The dual aim of this project is to:
          <ul>
            <li>Promotion of the French scientific language (Statutes, art. 2 paragraph 5, the <a href="https://www.academie-sciences.fr">Académie des Sciences</a> is attentive to maintaining the role and quality of the French scientific language.) </li>
            <li>To meet the expectations of the second national plan for open science: to promote multilingualism and the dissemination of scientific knowledge by translating the publications of French researchers </li>
          </ul>
        </p>
      </div>
    </div>
    <h1>The expertise of the Centre Mersenne</h1>
    <div class="container-with-image">
      <div class="image-with-text">
        <img src="{% static "traduction/img/logo-centre-mersenne.jpg" %}">
      </div>
      <div class="text-with-image">
        <p>
          <ul>
            <li>A recognised player in open science</li>
            <li>A technical expertise</li>
          </ul>
        </p>
      </div>
    </div>
    <h1>Powered by MateCat</h1>
    <div class="container-with-image">
      <div class="image-with-text">
        <img src="{% static 'traduction/img/logo-matecat.png' %}">
      </div>
      <div class="text-with-image">
        <p><a href="https://www.matecat.com">MateCat</a>  is a web-based computer-assisted translation (CAT) tool. It allows us to pre-translate automatically the HTML of the original article.</p>
      </div>
    </div>
    <h1>Fundings</h1>
    <div class="container-with-image">
      <div class="image-with-text">
        <img src="{% static 'traduction/img/logo-mesri.png' %}"><br/>
        <img src="{% static 'traduction/img/logo-culture.png' %}">
      </div>
      <div class="text-with-image">
        <p>One-year project, supported and funded under the FNSO 2 call for projects by:
          <ul>
          <li>The French Ministry of Higher Education and Research (Ministère de l'Enseignement supérieur et de la Recherche), : creation of a bilingual (French-English) corpus of articles, in HTML and PDF formats, which can ultimately be used as datasets in the disciplines of chemistry, earth sciences and biology. </li>
          <li>The French Ministry of Culture (Ministère de la Culture): Promoting the multilingual dissemination of scientific articles. </li>
          </ul>
        </p>
      </div>
    </div>
    <div class="text-with-image">
      <h1>At the origin of the project (Académie text)</h1>
      <br>
        <h3>Plurilingualism in the Comptes Rendus of the Académie des sciences </h3>
      <p>
        The Académie des Sciences and French as a scientific language 
      Since its creation, the Académie has devoted itself to the development of science and has advised government authorities in this area. It is particularly committed to encouraging scientific life through the production of knowledge, through various publications such as its journal Comptes Rendus. It is also responsible for "maintaining the role and quality of French scientific language" (art. 2 of the Statutes of the Académie des Sciences, approved by decree of the President of the Republic on 31 January 2003, no. MENS 0300009D). </p>
      <p>As such, although most of the manuscripts submitted to the Comptes Rendus de l'Académie des Sciences are written in English, any author may choose to write in French. As a result, the two languages sometimes coexist within the same annual volume or special issue.</p>
      <h3>French-English bilingualism, from metadata to full text </h3>
      <p>In order to facilitate the referencing of their articles in academic search engines and international bibliographic databases, the Comptes Rendus also endeavour to provide titles, abstracts and keywords in French and English. When these metadata are not supplied directly by the authors themselves, they are translated by the journals' editorial teams using automatic language processing software, and then submitted to the authors for approval.</p> 
      <p>The articles in Comptes Rendus Biologies are published entirely in French and English, and the journal's editorial team is available to help authors who may have difficulty using either of these languages.
      </p>
      <h1>The Comptes Rendus translation project </h1>
      <p>
        Since 2020, six of the seven series of the Comptes Rendus de l'Académie deFGoods sciences (Mathematics, Mechanics, Physics, Geoscience, Chemistry and Biology) have been published in partnership with the Mersenne Centre. In 2022, these two partners obtained financial support from the Ministry of Higher Education and Research and the Ministry of Culture's Délégation générale à la langue française et aux langues de France for the development of a semi-automatic translation platform for articles in these journals. This joint project had two objectives: 
        <ul>
          <li>To produce a corpus of fully bilingual French/English articles (the original article may have been published in either of these two languages), and to make it available to the Translations and Open Science project led by the OPERAS consortium (open scholarly communication in the european search area for social sciences and humanities) and funded by the Fonds national pour la science ouverte: this objective was achieved in spring 2023 and notably concerns the special issue Face au changement climatique, le champ des possibles published in 2020 by Comptes Rendus Géoscience;</li>
          <li>To develop a computer-assisted translation interface to enable volunteer contributors or professional translators to translate articles from the Comptes Rendus published in French or English into any language, by post-editing automated processing: this objective was achieved in autumn 2023, and currently concerns the Geoscience, Chemistry and Biology series, as they are the only ones to distribute the full text in JATS-XML format. This pivot format is essential for the software to function properly.</li>
        </ul>


      </p>
    </div>
  </div>
  {% else %}
  <div class="col-md-10 col-lg-10 col-xl-10 col-xxl-8 french-text" >
    <h4>À propos</h4>
    <p>La solution de traduction du centre Mersenne permet à tout utilisateur authentifié de traduire un article scientifique des Comptes Rendus de l'Académie des sciences dans la langue de son choix, à l'aide d'un outil de traduction automatique.</p>
    <h1>Une idée de l'Académie des Sciences</h1>
    <div class="container-with-image">
      <div class="image-with-text">
        <img src="{% static 'traduction/img/logo-cras.png' %}">
      </div>
      <div class="text-with-image">
        <p>Ce projet a ainsi pour double objectif de :
          <ul>
            <li>Promouvoir la langue scientifique française (Statuts, art. 2 alinéa 5, l'<a href="https://www.academie-sciences.fr">Académie des Sciences</a> est attentive au maintien du rôle et de la qualité de la langue scientifique française).</li>
            <li>Répondre aux attentes du deuxième plan national pour la science ouverte : favoriser le multilinguisme et la circulation des connaissances scientifiques en traduisant les publications des chercheurs français.</li>
          </ul>
        </p>
      </div>
    </div>
    <h1>L'expertise du Centre Mersenne</h1>
    <div class="container-with-image">
      <div class="image-with-text">
        <img src="{% static "traduction/img/logo-centre-mersenne.jpg" %}">
      </div>
      <div class="text-with-image">
        <p>
          <ul>
            <li>Un acteur reconnu de la science ouverte</li>
            <li>Une expertise technique </li>
          </ul>
        </p>
      </div>
    </div>
    <h1>Propulsé par MateCat</h1>
    <div class="container-with-image">
      <div class="image-with-text">
        <img src="{% static 'traduction/img/logo-matecat.png' %}">
      </div>
      <div class="text-with-image">
        <p><a href="https://www.matecat.com">MateCat</a> est un outil web de traduction assistée par ordinateur (TAO). Il permet de pré-traduire automatiquement l'article original au format HTML.</p>
      </div>
    </div>
    <h1>Financement</h1>
    <div class="container-with-image">
      <div class="image-with-text">
        <img src="{% static 'traduction/img/logo-mesri.png' %}"><br/>
        <img src="{% static 'traduction/img/logo-culture.png' %}">
      </div>
      <div class="text-with-image">
        <p>Projet d'un an, soutenu et financé par : </p>
          <ul>
          <li>Le Ministère de l'Enseignement supérieur et de la Recherche, : Production d'un corpus bilingue (anglais-français) d'articles, aux formats HTML et PDF, pouvant à terme être utilisé comme jeux de données  dans les disciplines de la Chimie, des Géosciences et de la Biologie. </li>
          <li>Le ministère de la Culture : Favoriser la diffusion multilingue des articles scientifiques.</li>
          </ul>
        
      </div>
    </div>
    <div class="text-with-image">
      <h1>À l’origine du projet :
        Le plurilinguisme dans les Comptes Rendus de l’Académie des sciences </h1>
        <br>
      <h3>L’Académie des sciences et le français comme langue scientifique.</h3>
          
      <p>  Depuis sa création, l’Académie se consacre au développement des sciences et conseille les autorités gouvernementales en ce domaine. Elle s’attache particulièrement à encourager la vie scientifique par la production de connaissances, au travers de diverses publications telles que sa revue Comptes Rendus. Elle a également pour mission d’être « attentive au maintien du rôle et de la qualité du langage scientifique français » (art. 2 des Statuts de l’Académie des sciences, approuvés par décret du Président de la République en date du 31 janvier 2003, n° MENS 0300009D).</p>
      <p>À ce titre, et même si la plupart des manuscrits soumis dans les Comptes Rendus de l’Académie des sciences sont rédigés en anglais, tout auteur peut choisir d’écrire en français. De ce fait, les deux langues cohabitent parfois au sein d’un même volume annuel ou numéro spécial.</p>
      <h3>Le bilinguisme français-anglais, des métadonnées au texte intégral</h3>
      <p>Afin de faciliter le référencement de leurs articles dans les moteurs de recherche académiques et bases de données bibliographiques internationales, les Comptes Rendus s’efforcent par ailleurs de proposer des titre, résumé et mots-clés en français et en anglais. Lorsqu’elles ne sont pas fournies directement par les auteurs eux-mêmes, les traductions de ces métadonnées sont réalisées par les équipes éditoriales des revues à l’aide d’un logiciel de traitement automatique des langues, puis soumises à l’approbation des auteurs.</p> 
      <p>Les articles des Comptes Rendus Biologies sont quant à eux intégralement diffusés en français et en anglais, l’équipe éditoriale de la revue se tenant à la disposition des auteurs qui pourraient avoir des difficultés à manipuler l’une ou l’autre de ces langues.
      </p>
      <h1>Le projet Traduction des articles du centre Mersenne </h1>
      <p>
        Depuis 2020, six des sept séries des Comptes Rendus de l’Académie des sciences (Mathématique, Mécanique, Physique, Géoscience, Chimie et Biologies) sont diffusées en partenariat avec le centre Mersenne. En 2022, ces deux partenaires ont obtenu du Ministère de l’Enseignement Supérieur et de la Recherche et de la Délégation générale à la langue française et aux langues de France du Ministère de la Culture un soutien financier pour le développement d’une plateforme de traduction semi-automatique des articles de ces revues. Ce projet commun s’était donné deux objectifs : 
      </p>
        <ul>
          <li>Produire un corpus d’articles entièrement bilingue français/anglais (l’article original pouvant avoir été publié dans l’une ou l’autre de ces deux langues), et le mettre à la disposition du projet Translations and Open Science mené par le consortium OPERAS (open scholarly communication in the european search area for social sciences and humanities) et financé par le Fonds national pour la science ouverte) : cet objectif a été atteint au printemps 2023 et concerne notamment le numéro spécial Face au changement climatique, le champ des possibles paru en 2020 aux Comptes Rendus Géoscience ;</li>
          <li>Développer une interface de traduction assistée par ordinateur devant permettre à des contributeurs volontaires ou à des traducteurs professionnels de traduire en n’importe quelle langue des articles des Comptes Rendus parus en français ou en anglais, par post-édition d’un traitement automatisé : cet objectif a été atteint à l’automne 2023, et concerne pour l’instant les séries Géoscience, Chimie et Biologies, car elles sont les seules à en diffuser le texte intégral au format JATS-XML. Ce format-pivot est en effet indispensable au bon fonctionnement du logiciel.</li>
        </ul>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
