{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block center_middle %}

<div class="d-flex justify-content-center align-items-center mt-5">
  {% if LANGUAGE_CODE == "en" %}
  <div class="col-md-10 col-lg-8 col-xl-7 english-text">
    <h1 class="mb-5">Good practices</h1>
    <p>The contributor undertakes to <a href="https://www.ceatl.eu/wp-content/uploads/2010/09/FIT_charter.pdf">comply to these good practices:</a></p>
    <p>By initiating a translation, the contributor guarantees that he/she :
      <ul>
      <li>has a good knowledge of the language from which he/she is translating, ant, above all a command of the language into which he/she is translating.</li>
      <li>is scientifically literate and is sufficiently familiar with the subject matter of the translation and will not undertake a translation in a field outside his/her competence.</li>
      </ul>
    </p>
    <p>He/she undertakes to:
      <ul>
      <li>Produce a faithful translation and accurately conveying the idea and form of the original work. However, the faithfulness of the translation does not, however, exclude any adaptation necessary to convey the form, atmosphere and deeper meaning of the work, which are sensitive in another language and another country.</li>
      <li>No additional content should be added (commentaries, interpretations, corrections, or any information that is not contained in the original work, etc.); some explanations of the text may be envisaged.</li>
      </ul>
    </p>
    <p>By starting a translation, the contributor undertakes to :
      <ul>
        <li>Read the text carefully to ensure that the translated text is faithful to the original.</li>
        <li>Ensure that the scientific content is faithfully preserved and understandable.</li>
        <li>Check the quality of spelling and typography, the placement of images and the validity of links.</li>
        <li>Pay particular attention to missing phrases or words and additions, comparing the source and target texts. </li>
        <li>Correct or eliminate errors in spelling, grammar, conjugation, typography, syntax and meaning, add missing elements or delete redundant parts, while paying attention to terminology and the flow and style of the text.</li>
      </ul>
    </p>
  </div>
  {% else %}
  <div class="col-md-10 col-lg-8 col-xl-7">
    <h1 class="mb-5">BONNES PRATIQUES</h1>
    <p>Le contributeur s’engage à  respecter <a href="https://www.ceatl.eu/wp-content/uploads/2010/09/FIT_charter.pdf">les bonnes pratiques suivantes :</a></p>
    <p>Avant d'initier une traduction, le contributeur garantit qu’il :
      <ul>
      <li>Possède une bonne connaissance de la langue à partir de laquelle il traduit et maîtrise celle dans laquelle il traduit.</li>
      <li>Possède une culture scientifique et a une très bonne connaissance de la discipline qui fait l'objet de la traduction.  Il s'abstient d'entreprendre une traduction dans un domaine scientifique qui sort de sa compétence.</li>
      </ul>
    </p>
    <p>Il s’engage à :
      <ul>
      <li>Produire une traduction fidèle et rendre exactement l'idée et la forme de l'oeuvre originale. La fidélité de la traduction n'exclue cependant pas une adaptation nécessaire pour rendre la forme, l'atmosphère, la signification profonde de l'oeuvre, sensibles dans une autre langue et un autre pays.</li>
      <li>Ne pas ajouter de contenu complémentaire (commentaire, interprétation, corrections, ou toute information qui ne serait pas dans l’oeuvre originale… ) ; Certaines explications de texte pourraient être envisagées.</li>
      </ul>
    </p>
    <p>Le contributeur, avant de soumettre  une traduction, s’engage à :
      <ul>
        <li>Relire attentivement le texte traduit par ses soins pour s’assurer de la fidélité du texte traduit au texte original.</li>
        <li>S’assurer que le propos scientifique est fidèlement conservé et compréhensible.</li>
        <li>Vérifier la qualité ortho-typographique, le placement des images, la validité des liens.</li>
        <li>Accorder une attention toute particulière aux phrases ou mots manquants et aux ajouts en comparant bien la source et la cible. </li>
        <li>Corriger ou éliminer les erreurs d’orthographe, de grammaire, de conjugaison, de typographie, de syntaxe et de sens, ajouter les éléments manquants ou supprimer les parties redondantes, tout en faisant attention à la terminologie ainsi qu'à la fluidité et au style du texte.</li>
      </ul>
    </p>
  </div>
  {% endif %}
</div>

{% endblock %}
