{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block center_middle %}
<div class="d-flex justify-content-center align-items-center mt-5">
  {% if LANGUAGE_CODE == "en" %}
  <div class="col-md-10 col-lg-8 col-xl-7 english-text">
    <h1>Contact</h1>
    <p>If you have technical, juridical or editorial questions, or if you simply want to contact us, please use : <a href="mailto:contact-mersenne@listes.mathdoc.fr">contact-mersenne@listes.mathdoc.fr</a></p>
  </div>
  {% else %}
  <div class="col-md-10 col-lg-8 col-xl-7">
    <h1>Contact</h1>
    <p>Si vous rencontrez une question technique, juridique ou editoriale, ou si vous souhaitez simplement nous contacter, écrivez nous à : <a href="mailto:contact-mersenne@listes.mathdoc.fr">contact-mersenne@listes.mathdoc.fr</a></p>
  </div>
  {% endif %}
</div>
{% endblock %}
