Utilisateurs{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block center_middle %}
<div class="d-flex justify-content-center align-items-center mt-5">
  {% if LANGUAGE_CODE == "en" %}
  <div class="col-md-10 col-lg-8 col-xl-7">
    <h1>Frequently Asked Questions (FAQ)</h1>
    
    <h4>Who can contribute ?</h4>
    <p>Any contributor can start a translation, as long as he or she creates an account and fills in the following details: last name, first name, affiliation and email address.
        The process is free of charge. 
        A contributor may submit as many translation projects as he or she wishes (one per article).</p>
    
    <h4>What documents can be translated ?</h4>
    <ul>
        <li>All articles already published (CC BY 4.0 license) on the Publication site, and for which no translation project has yet been initiated.</li>
        <li>Contributors may translate into the language of their choice (Latin alphabet language if not already been translated into that language).</li>
    </ul>

    <h4>What tools are used ?</h4>
    <ul>
        <li>The article will be pre-published using MateCat, which is a free "Computer-Assisted-Translation" (CAT) software package based on machine translation solutions such as Deepl and Google Translate.</li>
    </ul>
    
    <h4>Will there be moderation ?</h4>
    <ul>
        <li>All submissions are moderated at text level by the Publisher's editorial team. It will ensure that translations submitted by contributors do not contain any defamatory, insulting or discriminatory statements of any kind, in accordance with French law.</li>
        <li>Any contributor identifying such comments is invited to report them to us as soon as possible.</li>
        <li>Any breach of the law relating to defamation, copyright infringement or plagiarism will result in the immediate deletion of the translation proposal, and the suspension of the contributor's account.</li>    
        <li>The Publisher may contact the contributor via the e-mail address provided when the account was created.</li>
    </ul>

    <h4>Can I edit my translation ?</h4>
    <p>Any contributor can get back to their translation as long as it hasn’t been validated. </p>
    <p>They must be sure to save their translation using the [Save] button and can log out.</p>
    <p>After logging in to edit the translation, the contributor will be taken to a dashboard displaying all the ongoing translations.</p>

    <h4>Can I delete my translation after submission ?</h4>
    <p>Any contributor can ask the Publisher to remove the translation by sending a message to the Contact email address. The Publisher will assess the relevance of the request. </p>
    
    <h4>Can I abandon a translation ?</h4>
    <p>Any contributor can cancel a translation in progress by sending a message to the Contact email address.</p>
    
    <h4>Translation deadline ?</h4>
    <p>Please note that any translation project that has been started will be automatically deleted after 3 months if no changes have been made, and that the total duration of your translation project shall not exceed 6 months.</p>
    
    <h4>Several contributors: is this possible?</h4>
    <p>It is possible to create a translation project with multiple contributors. </p>
    <p>However, these contributors will be able to access the project through a single shared account, which will have been created by the contributor who started the translation.</p>
    
    <h4>What about the copyrights ?</h4>
    <ul>
        <li>All contributors will be considered as authors of the translation, provided that they carry out a significant amount of post-editing (not just proofreading and correcting a few spelling mistakes).</li>
        <li>He/she will retain all copyrights to the translation.</li>
        <li>Their name and email address will be appear on both the PDF and web versions of the translation. </li>
        <li>If a contributor does not want his/her name to appear, he/she should inform the Publisher via the Contact email address.</li>
    </ul>
    
    <h4>What about responsability ?</h4>
    <p>All contributors will be held scientifically responsible for the translation and its content. If the Publisher provides non-scientific moderation, the contributor will be contacted for validation. Please refer to the <a href="/page/legal/#gcu">Terms and Conditions of Use</a>.</p>
    
    <h4>Which license will be used ?</h4>
    <p>All translations are published online under the CC BY 4.0 license, which allows the user to share (copy and redistribute the material in any medium of format for any purpose, even commercially) and adapt (remix, transform, and build upon the material for any purpose, even commercially), provided that the author is properly credited (BY), a link to the license is provided and an indication is given if changes were made. </p>
    <p>The translation will only be published if the contributor has ticked the box validating the distribution license.</p>
    
    <h4>In which formats will the article be published ?</h4>
    <ul>
        <li>PDF format, with the date of publication and the name of the contributor(s).</li>
        <li>Web format, with the date of publication and the name of the contributor(s).</li>
    </ul>
  </div>
  {% else %}
  <div class="col-md-10 col-lg-8 col-xl-7">
    <h1>Foire Aux Questions (FAQ)</h1>
    
    <h4>Qui peut contribuer?</h4>
    <p>Toute personne volontaire peut initier une traduction, à condition de créer un compte et de renseigner les informations suivantes : nom, prénom, affiliation et adresse mail.</p>
    <p>C’est une démarche gratuite. </p>
    <p>Un contributeur peut proposer autant de projets de traductions qu’il le souhaite (limité à un par article).</p>
    
    <h4>Quels documents peut-on traduire ?</h4>
    <ul>
        <li>Tout article  publié (licence CC BY 4.0) sur le site Publication, et pour lequel aucun projet de traduction n’est encore initié.</li>
        <li>Le contributeur peut traduire dans la langue de son choix (langue à alphabet latin) si la traduction dans cette langue n'a pas déjà été réalisée.</li>
    </ul>

    <h4>Quels outils sont-ils utilisés ?</h4>
    <ul>
        <li>L’article est  traduit au préalable à l’aide de MateCat, qui est un logiciel libre de "Traduction assistée par ordinateur” (ou TAO), et qui s’appuie  sur des logiciels de traduction automatique tels Deepl, Google Translate.</li>
        
    </ul>
    
    <h4>Existe-t-il une modération ? </h4>
    <ul>
        <li>Toute soumission de traduction est modérée par l’équipe éditoriale de l’Éditeur, qui veillera à ce que les traductions proposées ne comportent aucun propos à caractère diffamatoire, injurieux ou discriminatoire de quelque sorte que ce soit, conformément à la loi française.</li>
        <li>Tout contributeur remarquant  de tels propos est invité à nous les signaler au plus vite.</li>
        <li>Toute infraction aux exigences légales en matière de diffamation, de violation du droit d’auteur ou de plagiat entraînera la suppression immédiate de la proposition de traduction, ainsi que le blocage du compte de l’Contributeur.</li>    
        <li>L’Éditeur pourra contacter le contributeur via l’adresse mail qui aura été fournie au moment de la création de compte. </li>
    </ul>
   
    <h4>Puis-je modifier ma traduction ?</h4>
    <p>Tout contributeur a la possibilité de revenir sur sa traduction tant qu’elle n’a pas été validée. </p>
    <p>Il doit s’assurer de sauvegarder sa traduction via le bouton [Sauvegarder] et peut se déconnecter.</p>
    <p>Lors de la connexion pour accéder au projet en cours, le contributeur es dirigé vers un tableau de bord regroupant toutes les traductions en cours.</p>

    <h4>Puis-je supprimer ma traduction ?</h4>
    <p>Il est possible de demander à l’Éditeur de supprimer la traduction en envoyant un message à l’adresse mail Contact. L’Éditeur évaluera la pertinence de la demande. </p>
    
    <h4>Puis-je abandonner une traduction ?</h4>
    <p>Il est possible d’abandonner une traduction en cours en envoyant un message à l’adresse mail Contact.</p>
    
    <h4>Délai de traduction ?</h4>
    <p>Veuillez noter que tout projet de traduction entamé est automatiquement supprimé au bout de 3 mois si aucune modification n’a été entreprise, et que la durée totale de votre projet de traduction ne peut excéder 6 mois.</p>
    
    <h4>Plusieurs contributeurs : est-ce possible ? </h4>
    <p>Il est possible de créer un projet de traduction avec plusieurs contributeurs. </p>
    <p>Ces contributeurs pourront cependant accéder au projet via un seul compte commun, qui aura été créé par le contributeur qui aura lancé la traduction. </p>
    
    <h4>Quels droits d’auteur ?</h4>
    <ul>
        <li>Tout contributeur sera considéré comme auteur de la traduction à condition d'avoir effectué un travail significatif de post-édition (il ne s’agit pas seulement d’une relecture et de correction de quelques fautes d’orthographe).</li>
        <li>Il conservera tous les droits d’auteur sur la traduction.</li>
        <li>Son nom et son adresse mail seront affichées sur la version PDF ainsi que sur la version web de la traduction. </li>
        <li>Si un contributeur ne souhaite pas que son nom s’affiche, il doit en informer l’Éditeur via l’adresse mail Contact.</li>
    </ul>
    
    <h4>Quelles responsabilités ?</h4>
    <p>Tout contributeur portera la responsabilité scientifique de la traduction et de son contenu. Dans le cas où l’Éditeur apporte une modération (non scientifique), le contributeur sera contacté pour validation. Merci de lire les <a href="/page/legal/#cgu">Conditions générales d’utilisation</a>.</p>
    
    <h4>Quelle licence sera utilisée ?</h4>
    <p>Toute traduction est diffusée sous la licence CC BY 4.0 qui autorise tout utilisateur du centre Mersenne à partager (copier, distribuer et communiquer le matériel par tous moyens et sous tous formats pour toute utilisation, y compris commerciale), et adapter (remixer, transformer et créer à partir du matériel pour toute utilisation, y compris commerciale) et ce, à condition de créditer l’auteur de l’œuvre originale, d’intégrer un lien vers la licence et  d’indiquer si une modification a été effectuée.</p>
    <p>La traduction pourra être publiée à la condition que sur le contributeur coche la case validant la licence de diffusion.</p>
    
    <h4>Sous quels formats les articles seront-ils disponibles ?</h4>
    <ul>
        <li>Format PDF, daté de la date de mise en ligne et mentionnant le ou les contributeurs</li>
        <li>Format html, daté de la date de mise en ligne et mentionnant le ou les contributeurs.</li>
    </ul>
  </div>
  {% endif %}
</div>
{% endblock %}
