{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block center_middle %}
<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="col-md-10 col-lg-8 col-xl-7">
    {% if LANGUAGE_CODE == "en" %}
    <div class="english-text">
      <p>Our translation solution allows any authenticated contributor to initiate the translation of a scientific article into the language of their choice, using an automatic translation tool.</p>
      <p>All translations are moderated and published under the CC BY 4.0 licence. Contributors retain the copyright to their work.</p>
      <p>To initiate new translations, please create an account and select the article you wish to translate and your language.</p>
      <p><a href="{% url 'about' %}">Read more</a></p>
      <div class="mt-5">
        <a class="lightbox" href="{% static 'traduction/img/translation.png' %}" title="">
        <img id="lightbox-image" src="{% static 'traduction/img/translation.png' %}">
        </a>
      </div>
    </div>
    {% else %}
    <div class="french-text" >
      <p>Notre solution de traduction permet à toute personne authentifiée de proposer la traduction d'un article publié à l'aide d'un outil de traduction assisté par ordinateur.</p>
      <p>Toutes les traductions sont modérées par l'équipe éditorial de l'Académie des sciences et publiées sous la licence CC BY 4.0. Les contributeurs conservent les droits d'auteur sur leur travail.</p>
      <p>Pour commencer de nouvelles traductions, veuillez créer un compte et sélectionner l'article que vous désirez traduire et la langue de traduction.</p>
      <p><a href="{% url 'about' %}">Plus d'informations</a></p>
      <div class="mt-5">
        <a class="lightbox" href="{% static 'traduction/img/translation.png' %}" title="">
        <img id="lightbox-image" src="{% static 'traduction/img/translation.png' %}">
        </a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
