{% extends "base.html" %}
{% load i18n %}
{% load static %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
{% block center_middle %}
<div class="d-flex justify-content-center align-items-center mt-5">
  {% if LANGUAGE_CODE == "en" %}
  <div class="col-md-10 col-lg-8 col-xl-7">
    <h1 data-bs-toggle="collapse" data-bs-target="#legal" aria-controls="legal" aria-expanded="true" style="cursor: pointer;">
      Legal information
      <span class="collapse-icon">
        <i class="fa fa-chevron-down"></i>
        <i class="fa fa-chevron-up"></i>
      </span>
    </h1>
    <div id="legal" class="legal-informations">
      <div class="editor">
        <h2>Editor – Technical and graphic design of the site</h2>
        <p>Centre Mersenne<br/>
          Mathdoc</p>
        <p>Joint Research Unit n°5638<br/>
        (Centre National de la Recherche Scientifique/ Université Grenoble Alpes)<br/>
        Bâtiment CETA<br/>
        Domaine Universitaire<br/>
        150, rue de la chimie<br/>
        38400 Saint Martin d’Hères<br/>
        France</p>
        <p>Tél. +33 4 57 04 11 02</p>
        <p>contact-mersenne@listes.mathdoc.fr</p>
        <h2>Hosting</h2>
        <p>UAR 3758 GRICAD</p>
        <p>Bâtiment IMAG<br/>
        700 Avenue Centrale<br/>
        38400 Saint-Martin-d’Hères</p>
        <p>Tel : + 33 4 57 42 18 54</p>
        <p>gricad-contact@univ-grenoble-alpes.fr</p>
        <p>Editorial director: Antoine Petit</p>
        <p>Chief Editor: Evelyne Miot</p>
        
        <p>Created by Mathdoc at the request of the Académie des sciences, this service enables authenticated Users to translate a scientific article of their choice published in the Comptes Rendus de l'Académie des sciences. The Contributor selects an article, launches a pre-translation via an automatic Translation tool (ModernMT, via MateCat) and post-edits this content before submitting it.</p>
        <p>This service includes (non scientific) moderation of all Translations submitted by the Académie des sciences. Only Translations accepted by the Académie des sciences are distributed, after any minor corrections, and hosted on the Comptes Rendus de l'Académie des sciences website under a CC-BY 4.0 license.</p>
        <p>No Translations are published on this website.</p>
      </div>  
      <div class="hosting">
        <h2>Protection of personal data</h2>
        <p>Please read the <a href="/page/legal/#privacy-title-en">Privacy Policy</a></p>

        <h2>Disclaimer of liability</h2>
        <p>Mathdoc and/or its supervisory bodies cannot be held liable in any way for the consequences that may result from the use or interpretation of this site and its content.</p>

      </div>
      <div class="intellectual-property">
        <h2>Intellectual property rights</h2>
        <p>The Mersenne Centre website is a creative work, the exclusive property of the Mathdoc parent establishments, protected by French and international legislation on intellectual property rights. No reproduction or representation may be made in contravention of the rights of the Mathdoc parent establishments under the aforementioned legislation.</p>
        <p>The content, texts, including videos and images that appear or are available on the site are also protected by intellectual property law.</p>
        <p>Any use, adaptation, extraction, copying, Translation, reproduction, sale, publication, exploitation or dissemination of the content of this site without prior authorisation is prohibited, unless permitted by the licence applicable to the content and subject to legal exceptions.</p>
        <p>The CNRS sign, the words "Centre National de la Recherche Scientifique" and the logo are registered trademarks. In this context, it is forbidden to refer to the corporate names or trademarks of the CNRS, for any purpose whatsoever, without prior express written permission of the CNRS.</p>
        <p>It is also forbidden to refer to the names and logos of Mathdoc and the Centre Mersenne without prior authorisation from Mathdoc's parent institutions.</p>
        
      </div>
      <div class="hypertext-links">
        <h2>Hypertext links </h2>
        <p>This site may contain hypertext links to sites, pages or documents managed by third parties. Mathdoc and/or its parent establishments cannot be held responsible for the content of these sites, pages or documents.</p>
      
      </div>
        
    
    </div>
    <hr class="panel-title-separator">
    
    <h1  data-bs-toggle="collapse" data-bs-target="#gcu" aria-controls="gcu" aria-expanded="true" style="cursor: pointer;">General Condition of Use 
        <span class="collapse-icon">
          <i class="fa fa-chevron-down"></i>
          <i class="fa fa-chevron-up"></i>
        </span>
    </h1>
    <div id="gcu" class="open-on-outline-submenu collapse-body collapse show">
      <br>
      <div class="premble">
        <h2>Preamble</h2>
        <p>The MersenneTranslate Translation tool was developed by Mathdoc at the request of the Académie des sciences. </p>
        <p>Mathdoc is a National Research and Support Unit, UAR 5638, with two supervisory bodies (also referred to herein as the "supervising institutions"): the Institut National des Sciences Mathématiques et de leurs Interactions (INSMI) of the CNRS, and the Université Grenoble Alpes, where it is located. </p>
        <p>Mathdoc is developing the Centre Mersenne, a complete electronic publishing infrastructure offering a distribution platform for open access scientific publications, and a modular range of publishing services for scientific communities. </p>
        <p>The Académie des sciences (French Academy of Sciences) is an assembly of scientists chosen from among the most eminent specialists in France and abroad. It conducts research into the political, ethical and social issues raised by the major scientific questions of today and tomorrow. It publishes six scientific journals distributed by the Centre Mersenne. These journals are peer-reviewed, and aim to enable researchers to disseminate their work rapidly to the international scientific community: Comptes Rendus Mathématiques, Comptes Rendus Mécanique, Comptes Rendus Physique, Comptes Rendus Géosciences, Comptes Rendus Chimie, Comptes Rendus Biologies. </p>

      </div>
      
      <ul>
          <li>Contributor: user who initiates a Translation and carries out the post-editing of a Translation generated by a machine Translation toolafter authentication.</li>
          <li>Publication site: the website of the journal, under the responsibility of the Editor.</li>
          <li>Moderation: proofreading to ensure that the content of the text does not contain any illegal or offensive content or content that violates the Terms and Conditions.</li>
          <li>Translation: translated text of a scientific article from the Comptes Rendus de l'Académie des sciences into a target language, accepted by the Publisher and published online on the Publication website. 
              <br>
              There are several possible levels:
              <ul>
                  <li>v.0: Translation generated by a machine Translation software, without human intervention</li>
                  <li>v.1: Translation generated by a machine Translation software and revised by a Contributor</li>
                  <li>v.2: Translation generated by a machine Translation software, revised by a Contributor and moderated (i.e. checked and validated) by the Publisher's team. This is the published version;</li>
              </ul>
          </li>
          <li>MersenneTranslate: a Translation tool developed and hosted by the Center Mersenne.</li>
          <li>Publisher: legal representative of the journal from which the source articles for each Translation originate and for the publication site where the Translation is published. </li>
      </ul>
      
      <div class="purpose-and-scope">
        <h2>PURPOSE AND SCOPE</h2>
        <p>The purpose of these General Conditions of Use is to define:</p>
        <ul>
            <li>the terms and conditions of use of MersenneTranslate</li>
            <li>the terms and conditions of access to MersenneTranslate by Contributors.</li>
        </ul>
        <p>Access to and use of MersenneTranslate implies express and unreserved acceptance of these Terms and Conditions of Use.</p>
        <p>By accessing MersenneTranslate, the Contributor acknowledges having read these General Conditions of Use and undertakes to comply with them.</p>
        
      </div>
      
      <div class="description-of-the-service">
        <h2>DESCRIPTION OF THE SERVICE</h2>
        <h4>Submission of a Translation by the Contributor</h4>
        <p>Created by Mathdoc at the request of the Académie des sciences, the MersenneTranslate tool allows an authenticated Contributor to translate a scientific article published in the Comptes Rendus of the Académie des sciences. </p>
        <p>More specifically, MersenneTranslate allows a Contributor to:</p>
        <ul>
            <li>Select a scientific article</li>
            <li>Select the language into which he or she wishes to translate,</li>
            <li>Initiate a pre-translation using a computer-assisted Translation tool and a Translation tool(ModernMT, via MateCat)</li>
            <li>Modify and improve the content before submission.</li>
        </ul>
        <p>Before submitting, it is the Contributor's responsibility to read the <a href="/page/code-of-conduct/">Best Practice Guide</a>.</p>
        <h4>Moderation of a Translation by the Publisher</h4>
        <p>The MersenneTranslate tool enables the Publisher to:</p>
        <ul>
            <li>Access and read the Translation submitted by the Contributor</li>
            <li>Moderate if necessary, validate (or reject) and, if accepted, publish the Translation online in PDF format and HTML.</li>
        </ul>  
      </div>
      
      <div class="access-ti-services">
        <h2>ACCESS TO SERVICES</h2>
        <h4>Terms of access</h4>
        <p>Access to MersenneTranslate is free.</p>
        <p>First-time access requires the creation of an account and personal identifiers (login and password).  There is no limit to the validity of the account. </p>
        <p>Subsequent access requires simple authentication.</p>
        <p>Each Contributor is responsible for the security and confidentiality of their login details and for the consequences of their use.</p>
      </div>

      
      
      
      <div class="liability">
        <h2>LIABILITY</h2>
        <h4>RESPONSIBILITIES OF THE CONTRIBUTOR</h4>
        <p>By using MersenneTranslate, the Contributor undertakes to comply with these GCT. </p>
        <p>Comply with the instructions published on the MersenneTranslate website, in particular with regard to best practices.</p>
        <h6>Obligations relating to the Translation</h6>
        <p>By initiating a Translation, the Contributor undertakes to: </p>
        <ul>
          <li>Comply with the instructions published on the MersenneTranslate website, particularly with regard to good practice in terms of content.</li>
          <li>Carry out significant post-editing (modification, improvement) of the Translation produced by the machine Translation tool, in compliance with the <a href="/page/code-of-conduct/">Good Pratices</a>. </li>
        </ul>
        <h4>Content moderation by the Publisher</h4>
        <p>By submitting a Translation, the Contributor agrees to the following:</p>
        <ul>
          <li>The Publisher will moderate the Translation that is inappropriate or contrary to these conditions. He may reject any content that is inappropriate or contrary to these conditions.</li>
          <li>The Publisher may decide to refuse the Translation for any reason it deems legitimate.</li>
          <li>The Contributor may be contacted by the Publisher at the email address provided at the time of account creation.</li>
          <li>Any breach of the legal provisions relating to defamation, copyright infringement or plagiarism will result in the immediate deletion of the Translation proposal and the blocking of the Contributor's account.</li>
        </ul>
        <p>The Contributor will be informed of any decision or change made by the Publisher. </p>
        <h4>Copyright and re-use licenses</h4>
        <p>If the Translation is accepted, the Contributor agrees to the following: </p>
        <ul>
          <li>The Translation will be published under a CC BY license, in PDF and HTML format, together with the date of publication. As such, the Contributor authorises the Publisher and any one to reproduce, publish and distribute, in whole or in part, in any medium and for any purpose, the Translation of which he/she is the Author. </li>
          <li>This authorisation is valid throughout the world and for the duration of the copyright. </li>
          <li>The Contributor will be credited as the author of the Translation, provided that substantial post-editing is carried out. The Contributor retains full copyright to the Translation. Consequently, his/her name will appear on the Translation in PDF and HTML format. </li>
        </ul>
      <h4>Scientific and legal liability </h4>
      <p>Translations produced by the Service are not scientifically reviewed. Nor are they validated by the authors of the original article. The Contributor who submits a Translation will be held solely responsible for the Translation and its content.</p>
      

      <h4>Technical responsibilities</h4>
      <ul>
        <li>The Contributor is solely responsible for his use of the MersenneTranslate website and the Translations they submit to the Publisher.</li>
        <li>The Contributor acknowledges that he/she is fully aware of the limitations of the Internet and electronic connections.</li>
        <li>The Contributor shall hold the Publisher harmless against any consequences of any action or claim resulting from the posting online of the Translation in which the Contributor has participated, should such a Translation prove to be unlawful. </li>
        <li>In accordance with article 6II of the law of 21 June 2004, the Contributor is also reminded that if the Translation is the subject of an action or claim, the data enabling the Contributor or his/her computer to be identified may be communicated on request by the hosts of the MersenneTranslate Site to the competent authority. </li>
        <li>Any contribution made by the Contributor is made free of charge and its publication on line therefore does not give the right to any remuneration.</li>
      </ul>

      <h2>RESPONSIBILITIES OF THE PUBLISHER</h2>
      <h4>Moderation of the content </h4>
      <p>Once the Translation has been received by the Publisher, </p>
      <ul>
        <li>The Publisher's team will moderate any content that is unlawful or contrary to these Terms and Conditions and will ensure that the Translations do not contain any defamatory, insulting or discriminatory statements of any kind, in accordance with French law. </li>
        <li>The moderation process is the sole responsibility of the Publisher.</li>
        <li>The Publisher reserves the right to refuse any Translation submitted. </li>
        <li>The Publisher also reserves the right to withdraw a Translation after it has been published, for any reason it deems legitimate. </li>
        <li>The Publisher undertakes to inform the Contributor of any decision, moderation or modification relating to the Translation. </li>
      </ul>
      <p>Contributors may request explanations regarding the moderation of their Translation by using the contact addresses on the website.</p>

      <h2>Mathdoc's responsibilities</h4>
      <h4>Responsibility for Content</h4>
      <p>Mathdoc and/or its supervising institutions cannot be held responsible for the content of the Translation (texts, illustrations, videos, data, code, etc.) or for the content present on the Publication Site. The Contributor and the Académie des sciences are solely responsible for the content placed online on the Publication Site.</p>
      <h6>Technical commitments </h6>
      <p>Mathdoc administers and manages all the servers, software and databases that it hosts. </p>
      <p>Mathdoc undertakes to make its best efforts to:</p>
      <ul>
        <li>* avoid any misappropriate or fraudulent use of the content. </li>
        <li>* ensure the availability and accessibility of MersenneTranslate.</li>
        <li>ensure the availability and accessibility of MersenneTranslate.</li>
      </ul>
      <p>But if applicable, Mathdoc, and/or its supervising institutions , cannot be held responsible for difficulties in accessing or temporary impossibility of accessing the MersenneTranslate Site due to external circumstances, to cases constituting Force Majeure, or due to disturbances in the telecommunications network. </p>
      <p>In order to maintain the site, Mathdoc reserves the right to temporarily suspend access to the MersenneTranslate Site. Mathdoc will inform the Publisher at least twenty-four (24) hours in advance by any means. </p>
      <p>Following a request based on article 6-I of law no. 2004-575 of 21 June 2004, known as the law on confidence in the digital economy, Mathdoc will have the right, and this without engaging the responsibility of its tutelary establishments, to modify or delete temporarily or definitively all or part of a content which would be manifestly illicit without prior information of the author of the content. </p>
      </div>
      
      <div class="hypertext-links">
        <h2>Hypertext links</h2>
        <p>	The MersenneTranslate Site may contain hypertext links to existing sites or sites managed by third parties. Mathdoc and/or its parent companies cannot be held responsible for the conditions of access, content, advertising and services offered or for the use that may be made of these sites. </p>
      </div>

      <div class="reporting-illegal-content">
        <h2>REPORTING ILLEGAL CONTENT </h2>
        <p>Any person who becomes aware of manifestly illicit content must inform Mathdoc by e-mail or by post addressed to :</p>
        <ul>
          <li>Postal address: Cellule Mathdoc - CS 40700 - 38058 Grenoble Cedex 9</li>
          <li>Email : contact-mersenne@listes.mathdoc.fr</li>
        </ul>
        <p>so that Mathdoc can, if necessary, take appropriate action.</p>
      </div>

      <div class="intelectual-properti">
        <h2>INTELLECTUAL PROPERTY </h2>
        <p>The entire content of the MersenneTranslate Site, including text, images, video, data, code, etc. is protected by copyright and belongs to Mathdoc and its supervising institutions, with the exception of content created or put online by the Publisher or by the Contributor himself. </p>
        <p>The right to use the MersenneTranslate Site granted to the Contributor does not confer any intellectual property rights on the Contributor with regards to its content. </p>
        <p>The entire MersenneTranslate Site is subject to French and international legislation on copyright and intellectual property. All reproduction and distribution rights are reserved (except for strictly private use), including iconographic and photographic representations. </p>
      
      </div>
      <div class="protection-of-personnal-data">
        <h2>PROTECTION OF PERSONAL DATA</h2>
        <p>See <a href="#privacy">privacy policy</a></p>
      </div>
      <div class="storage-of-connection-data">
        <h2>STORAGE OF CONNECTION DATA</h2>
        <p>See <a href="#privacy">privacy policy</a></p>
      </div>

      
      <div class="applicable-law">
        <h2>APPLICABLE LAW - DISPUTES</h2>
        <h4>Applicable law and language of this agreement</h4>
        <p>These terms and conditions are governed by French law and regulations.</p>
        <p>In the event that they are translated into several languages, only the French text will be considered authentic.</p>
  
        <h4>Disputes</h4>
        <p>In the event of any difficulty regarding the interpretation or execution of this agreement, the Contributor and the Mathdoc shall endeavour to resolve the dispute amicably.</p>
        <p>In the event that the Contributor and the Mathdoc supervising Institutions are unable to resolve their dispute amicably, any dispute arising out of or in connection with the negotiation, interpretation, performance, non-performance or termination of this contract shall be submitted to the competent French court.</p>
        
      </div>
      
      <div class="suspension">
        <h2>SUSPENSION - TERMINATION</h2>
        <p>The Contributor undertakes to use the MersenneTranslate Site in accordance with its purpose as defined in the preamble. He also undertakes to comply with these present general conditions of use.</p>
    
      </div>
      
    </div>
    <hr class="panel-title-separator">

    <h1  id="privacy-title-en"data-bs-toggle="collapse" data-bs-target="#privacy" aria-controls="privacy" aria-expanded="true" style="cursor: pointer;">
      Privacy Policy
      <span class="collapse-icon">
        <i class="fa fa-chevron-down"></i>
        <i class="fa fa-chevron-up"></i>
      </span>
    </h1>
    <div id="privacy" class="open-on-outline-submenu collapse-body collapse show">
      <div class="data-protection-reulation">
        <h2 class="data-protection-regulation">The Centre Mersenne and the General Data Protection Regulation</h2>
        <p>The purpose of this page is to inform you about the use of your personal data on this site.</p>
        <p>This document was last updated on 1 July 2024.</p>
        <p>Mathdoc/Centre Mersenne is committed to ensuring that the processing of personal data carried out on this site complies with the General Data Protection Regulation (GDPR), which entered into force on 25 May 2018, and in particular with Directive 2016/679 of the European Parliament.</p>
        <p>Mathdoc/Centre Mersenne implements processes and measures to ensure optimal data protection and minimization of collection.</p>
        <p>The Translation tool service, developed by Mathdoc/Centre Mersenne, is intended to enable semi-automatic Translation and post-editing, by authenticated Contributors, of scientific articles published on the Comptes Rendus de l'Académie des sciences websites.</p>
        <p>A user account is required to consult the site.</p>
        <p>In order to provide you with personalised services, such as access to the semi-automatic Translation and post-editing tool, and e-mail alerts, identification is required.</p>
        <p>In this context, Mathdoc/Centre Mersenne is required to process personal information about you.</p>
      </div>
      <div class="owner-and-data-controller">
        <h2 class="owner-and-data-controller">Owner and data controller</h2>
        <ul>
          <li>Mathdoc</li>
          <li>UMS CMD – Bureau MATHDOC CETA </li>
          <li>150 rue de la Chimie – CS 40700</li>
          <li>38 058 Grenoble cedex 9</li>
          <li>France</li>
          <li>contact-mersenne@listes.mathdoc.fr</li>
          <li>Tél. + 33 4 57 04 11 17</li>
        </ul>
        <h2>Representative of the data controller</h2>
        <ul>
          <li>Evelyne Miot, Director of Mathdoc</li>
          <li>CNRS Data Protection Officer (DPO)</li>
          <li>CNRS - SPD, 2 rue Jean Zay,</li>
          <li>54500 Vandoeuvre-lès-Nancy, France</li>
          <li>dpd.demandes@cnrs.fr</li>
        </ul>
      </div>
      <div class="definitions">
        <h2>Definitions</h2>
        <h3>Personal data</h3>
        <p>'Personal data' means any information relating to an identified or identifiable natural person ('data subject'); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person” (http://www.cil.cnrs.fr/CIL/spip.php?rubrique299).</p>
        <h3>Personal Data Processing</h3>
        <p>'Processing' means any operation or set of operations which is performed on personal data or on sets of personal data, whether or not by automated means, such as collection, recording, organisation, structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or combination, restriction, erasure or destruction.</p>

      </div>
      <div class="data-and-processing">
        <h2>Data and processing</h2>
        <h3>Personal information on article authors</h3>
        <p>MersenneTranslate may publish personal information about the authors of scientific articles in the Comptes Rendus de l'Académie des sciences selected for Translation: surname, first name, affiliation, e-mail address.</p>
        <table class="legal-table">
          <thead>
            <tr>
              <th scope="col">Action</th>
              <th scope="col">Data processed</th>
              <th scope="col">Types of processing</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Browsing on the Mersenne website and Publication websites</td>
              <td>Logs</td>
              <td>Collection, registration, preservation and destruction </td>
            </tr>
            <tr>
              <td>Articles downloading</td>
              <td>Logs</td>
              <td>Collection, registration, preservation and destruction </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="responsability-and-consent">
        <h2>Responsibility and consent</h2>
        <p>Mathdoc/Centre Mersenne, through its platform, does not do business with Contributor and third party data. The information we collect is provided voluntarily entered by the Contributors, through an action on their part (logging in, browsing the site, working on Translation...).</p>
        <p>Data may be transferred to third parties if this is required by law.</p>
      </div>
      <div class="legal-basis-for-processing">
        <h2>Legal basis for processing</h2>
        <p>Mathdoc is a public support and research organisation.</p>
        <p>The processing of data referred to on this page is necessary for
          the performance of a public service mission.</p>
        <h3>Purpose of the processing</h3>
        <p>Contributor Data is collected in order to enable the Mathdoc/Centre Mersenne to provide its services, as well as for the following reasons:</p>
        <ul>
          <li>To ensure the navigation of the Translation tool and the correct functioning of the service (to detect, prevent or trace any attempts at malicious or computer intrusion or any violation of the terms of use of the Service.)</li>
          <li>To enable the transmission of information for the publication of Translations on the Comptes Rendus de l'Académie des sciences website.</li>
          <li>For reasons of transparency</li>
          <li>To identify which content belongs to which Contributor</li>
          <li>To contact Contributors (e.g. to send e-mail notifications of accepted or rejected submissions)</li>
        </ul>

      </div>
      <div class="users-right">
        <h2>Contributors' right</h2>
        <p>Contributors may exercise their rights with regards to the personal data processed by the Centre Mersenne and make the following requests:</p>
        <ul>
          <li>Modification or deletion of connection data</li>
          <li>Modification or deletion of personal data disseminated on the Mersenne Site or on Publications sites.</li>
        </ul>
        <p>To do so, please contact the Centre Mersenne at the following address: contact-mersenne@listes.mathdoc.fr.</p>
        <p>Please note that the data of a published Translation (PDF) cannot be modified.</p>
      </div>
      <div class="processing-detail">
        <h2>Processing details</h2>
        <h3>Account creation and access to the Service</h3>
        <p>Personal data is collected and processed for each of the following actions by the Contributor:</p>
        <ul>
          <li>account creation</li>
          <li>connecting to the service</li>
          <li>launching, post-editing, saving and submitting the Translation</li>
        </ul>
        <h3>Data concerned</h3>
        <p>Account creation:</p>
        <ul>
          <li>name, first name, email address</li>
        </ul>
        <p>Post-editing</p>
        <ul>
          <li>Last name, first name, email address, affiliation (optional) and ORCID number (optional) of Contributor and indirect Contributors.</li>
        </ul>
        <p>All actions</p>
        <ul>
          <li>logs</li>
        </ul>
        <p>Logs are collected and stored in order to analyze server behavior and possible malfunctions.</p>
        <p>The data recorded in the logs are: IP address, date, request made (in the form of a URL), browser type and response status.</p>
        <h3>Types of processing</h3>
        <p>Collection, registration, storage, destruction.</p>
        <h3>Recipient</h3>
        <p>Mathdoc IT Department</p>
      </div>

      <div class="data-backup">
        <h2>Data backup, storage and security</h2>
        <p>Security:</p>
        <ul>
          <li>We implement a variety of security measures to preserve the integrity of your personal information. Computers and servers used to store personally identifiable information are kept in a secure environment.</li>
          <li>Logical file security:</li>
          <ul>
            <li>Restricted server access, with authentication and encrypted channel</li>
            <li>Contributor data in a MySQL database that can only be queried by the OJS application</li>
            <li>Storage of encrypted and salted passwords (authentication by cryptographic hash)</li>
            <li>Hardware Backup Disk Drive</li>
          </ul>
        </ul>
      </div>

      <div class="confidentiality">
        <h2>Confidentiality</h2>
        <p>Restricted access (physical and network)</p>
        <p>Professional secrecy </p>
      </div>

      <div class="backup">
        <h2>Backup</h2>
        <p>The personal data we collect is stored in a secure environment and kept absolutely confidential to provide you with the best service.</p>
        <p>All data from the Mersenne site and the Publication sites are stored and hosted by GRICAD.</p>
        <ul>
          <li>Mathrice</li>
          <li>UAR 3758 GRICAD</li>
          <li>Bâtiment IMAG</li>
          <li>700 Avenue Centrale</li>
          <li>38400 Saint-Martin-d’Hères</li>
          <li>Tel : + 33 4 57 42 18 54</li>
          <li>gricad-contact@univ-grenoble-alpes.fr</li>
        </ul>
      </div>

      <div class="duration-of-data-storage">
        <h2>Duration of data retention</h2>
        <p>Data are saved 12 months:</p>
        <ul>
          <li>3 months as recent archives</li>
          <li>9 months as intermediate archives </li>
        </ul>
      </div>
    </div>
    <hr class="panel-title-separator">
  </div>
  {% else %}

  <div class="col-md-10 col-lg-8 col-xl-7">
    <h1  data-bs-toggle="collapse" data-bs-target="#legal-fr" aria-controls="legal-fr" aria-expanded="false" style="cursor: pointer;">
      Mentions légales
      <span class="collapse-icon">
        <i class="fa fa-chevron-down"></i>
        <i class="fa fa-chevron-up"></i>
      </span>
    </h1>
    <div id="legal-fr" class="legal-fr collapse">
      <h2>Éditeur – Conception technique et graphisme du site</h2>
      <p>Centre Mersenne<br/>
        Mathdoc</p>
      <p>Unité d'Appui et de Recherche n°5638<br/>
      (Centre National de la Recherche Scientifique/ Université Grenoble Alpes)<br/>
      Bâtiment CETA<br/>
      Domaine Universitaire<br/>
      150, rue de la chimie<br/>
      38400 Saint Martin d’Hères<br/>
      France</p>
      <p>Tél. +33 4 57 04 11 02</p>
      <p>contact-mersenne@listes.mathdoc.fr</p>
      <h2>Hébergeur</h2>
      <p>UAR 3758 GRICAD</p>
      <p>Bâtiment IMAG<br/>
      700 Avenue Centrale<br/>
      38400 Saint-Martin-d’Hères</p>
      <p>Tel : + 33 4 57 42 18 54</p>
      <p>gricad-contact@univ-grenoble-alpes.fr</p>
      <p>Directeur de la Publication : Antoine Petit</p>
      <p>Responsable de la rédaction : Evelyne Miot</p>
      
      <p>Créé par Mathdoc à la demande de l’Académie des sciences, le présent service permet, pour un Contributeur authentifié, de réaliser la Traduction d’un article scientifique de son choix publié dans les Comptes Rendus de l’Académie des sciences. Le Contributeur sélectionne un article, lance une pré-traduction à l'aide d'un outil de Traduction automatique (ModernMT, via MateCat) et réalise la post-édition de ce contenu avant de le soumettre. </p>
      <p>Le présent service inclut la modération (non scientifique) de toute Traduction soumise  par l'équipe éditorial de l'Académie des sciences. Seules les Traductions acceptées par l'Académie des sciences sont diffusées, après d'éventuelles corrections mineures, et hébergées sur le site de publication des Comptes Rendus de l'Académie des sciences sous licence CC-BY 4.0.</p>
      <p>Aucune Traduction n’est diffusée sur le présent site du  service. </p>
      
      <h2>Protection des données personnelles</h2>
      <p>Voir la <a href="/page/legal/#privacy-title-fr">politique de confidentialité</a></p>

      <h2>Clause de non-responsabilité</h2>
      <p>La responsabilité de Mathdoc et/ou de ses établissements tutelle ne peut, en aucune manière, être engagée quant aux conséquences pouvant résulter de l’utilisation ou interprétation de ce site et de ses contenus.</p>

      <h2>Propriété intellectuelle</h2>
      <p>Le site du centre Mersenne est une œuvre de création, propriété exclusive des établissements tutelles de Mathdoc, protégé par la législation française et internationale sur le droit de la propriété intellectuelle. Aucune reproduction ou représentation ne peut être réalisée en contravention avec les droits des établissements tutelles de Mathdoc issus de la législation susvisée.</p>
      <p>Les contenus, les textes, y compris les vidéos et les images qui apparaissent ou sont disponibles sur le site, sont également protégés par le droit de la propriété intellectuelle.</p>
      <p>Toute utilisation, adaptation, extraction, copie, Traduction, reproduction, vente, publication, exploitation et diffusion, des contenus de ce site sans autorisation préalable est interdite, sauf à ce qu’elles soient permises par la licence applicable aux contenus et sauf exceptions légales.</p>
      <p>Le signe CNRS, la mention « Centre National de la Recherche Scientifique » et le logo sont déposés à titre de marque. Dans ce cadre, il est interdit de faire référence aux dénominations sociales ou aux marques du CNRS, à quelque fin que ce soit, sans autorisation préalable, expresse et écrite du CNRS.</p>
      <p>Il est également interdit de faire référence aux noms et logos de Mathdoc et du Centre Mersenne sans autorisation préalable des établissements tutelles de Mathdoc.</p>
      
      <h2>Liens hypertextes </h2>
      <p>Ce site est susceptible de renvoyer, au moyen de liens hypertextes, à des sites, pages ou documents gérés par des tiers. Mathdoc et/ou ses établissements tutelles, ne sauraient être tenus responsable du contenu desdits sites, pages ou documents.</p>
    </div>
    <hr class="panel-title-separator">

    <h1  data-bs-toggle="collapse" data-bs-target="#cgu" aria-controls="cgu" aria-expanded="false" style="cursor: pointer;">
      Conditions générales d'utilisation
      <span class="collapse-icon">
        <i class="fa fa-chevron-down"></i>
        <i class="fa fa-chevron-up"></i>
      </span>
    </h1>
    <div id="cgu" class="open-on-outline-submenu collapse-body collapse">
      <br>
      <div class="premble">
        <h2>Préambule</h2>
        <p>L’outil de Traduction MersenneTranslate a été développé par Mathdoc à la demande de l’Académie des sciences. </p>
        <p>Mathdoc est une Unité d’Appui et Recherche, UAR 5638, à vocation nationale, dotée de deux tutelles (également désignées aux présentes par les « établissements tutelles ») : l’Institut national des sciences mathématiques et de leurs interactions (INSMI) du CNRS, et l'Université Grenoble Alpes, où elle est installée.</p>
        <p>Mathdoc développe le centre Mersenne, une infrastructure complète d’édition électronique proposant une plateforme de diffusion pour des publications scientifiques en libre accès, ainsi qu’une offre modulaire de services d’édition à destination des communautés scientifiques. </p>
        <p>L’Académie des sciences est une assemblée de scientifiques, choisis parmi les plus éminents spécialistes français et étrangers. Elle conduit des réflexions relatives aux enjeux politiques, éthiques et sociétaux que posent les grandes questions scientifiques, actuelles et futures. Elle édite six revues scientifiques diffusées par le centre Mersenne. Ces revues sont évaluées par les pairs, avec pour objectif de permettre aux chercheurs de faire connaître rapidement leurs travaux à la communauté scientifique internationale : Comptes Rendus Mathématiques, Comptes Rendus Mécanique, Comptes Rendus Physique, Comptes Rendus Géosciences, Comptes Rendus Chimie, Comptes Rendus Biologies. </p>
        <br>
      
      </div>
      
      <ul>
          <li>Contributeur : Contributeur qui initie et réalise la révision d'une Traduction générée par un outil de Traduction automatique, après authentification . </li>
          <li>Site Publication : site web de la revue sur lequel la Traduction sera diffusée, sous la responsabilité de l’Éditeur.</li>
          <li>Modération : relecture afin de s'assurer que le contenu du texte ne contient pas de propos illégaux, injurieux ou en contradiction avec les présentes conditions d'utilisation.</li>
          <li>Traduction : texte traduit d’un article scientifique des Comptes Rendus de l'Académie des sciences dans une langue cible, qui est accepté par l'Éditeur et mise en ligne sur le site Publication. 
              <br>
              Elle peut se présenter sous plusieurs stades :
              <ul>
                  <li>v.0: Traduction automatique générée par un logiciel de Traduction automatique, sans intervention humaine ;</li>
                  <li>v.1: Traduction automatiquement générée par un logiciel de Traduction automatique et révisée par un Contributeur ;</li>
                  <li>v.2: Traduction automatiquement générée par un logiciel de Traduction automatique, révisée par un Contributeur et modérée et validée par l’équipe éditoriale de l'Éditeur. Il s'agit de la version mise en ligne;</li>
              </ul>
          </li>
          <li>MersenneTranslate : outil de Traduction développé et hébergé par le centre Mersenne.</li>
          <li>Éditeur : responsable légal de la revue dont sont issus les articles sources de chaque Traduction et du Site Publication sur lequel est publiée la Traduction.</li>
      </ul>
      
      <div class="purpose-and-scope">
        <h2>OBJET ET CHAMP D'APPLICATION</h2>
        <p>Les présentes Conditions Générales d'Utilisation ont pour objet de définir :</p>
        <ul>
            <li>les conditions et modalités d’utilisation à  MersenneTranslate</li>
            <li>les conditions et modalités d’accès à MersenneTranslate par les Contributeurs.</li>
        </ul>
        <p>L’accès à et l’utilisation de MersenneTranslate entraîne l’acceptation expresse et sans réserve des présentes Conditions Générales d'Utilisation.</p>
        <p>En accédant à MersenneTranslate, le Contributeur  reconnaît avoir lu les présentes Conditions Générales d'Utilisation et s’engage à les respecter. </p>
        
      </div>
      
      <div class="description-of-the-service">
        <h2>Description du service</h2>
        <h4>Soumission d’une Traduction par le Contributeur</h4>
        <p>Créé par Mathdoc à la demande de l’Académie des sciences, l’outil  MersenneTranslate permet, pour un Contributeur authentifié, de traduire un article scientifique publié dans les Comptes Rendus de l’Académie des sciences. </p>
        <p>Plus précisément, MersenneTranslate permet à un Contributeur de :</p>
        <ul>
            <li>Sélectionner un article scientifique,</li>
            <li>Sélectionner la langue dans laquelle il souhaite traduire,</li>
            <li>Initier une pré-traduction à l'aide d'un outil de Traduction assistée par ordinateur et une solution de Traduction automatique (ModernMT, via MateCat),</li>
            <li>Modifier et améliorer le contenu avant la soumission. </li>
        </ul>
        <p>Avant soumission de la Traduction, il est de la responsabilité du Contributeur de prendre connaissance du <a href="/page/code-of-conduct/">guide de bonnes pratiques</a>.</p>
        <h4>Modération et Publication d’une Traduction par l’Éditeur</h4>
        <p>L’outil MersenneTranslate permet à l’Éditeur de :</p>
        <ul>
            <li>Accéder et prendre connaissance de la Traduction soumise par le Contributeur,</li>
            <li>Modérer si nécessaire, valider (ou rejeter) la Traduction et, si acceptation, mettre en ligne la Traduction sous format PDF et HTML.</li>
        </ul>
        
  
      </div>
      
      <div class="access-ti-services">
        <h2>ACCESSION AUX PRESTATIONS</h2>
        <h4>Modalités d’accès</h4>
        <p>L’accès à MersenneTranslate est libre et gratuit.</p>
        <p>La première accession nécessite la création d’un compte et l’obtention d’identifiants personnels (login et mot de passe).  Il n’existe pas de limite de validité du compte. </p>
        <p>Les accessions suivantes impliquent une simple authentification. </p>
        <p>Chaque Contributeur est responsable de la sécurité et de la confidentialité de son identifiant de connexion et des conséquences de leur utilisation.</p>
      </div>
      
      
      <div class="liability">
        <h2>RESPONSABILITÉ DU CONTRIBUTEUR</h2>
        <p>En utilisant MersenneTranslate, le Contributeur s’engage à respecter les présentes CGU.</p>
        <h4>Engagements relatifs à la Traduction</h4>
        <p>En lançant une Traduction, le Contributeur s’engage à :</p>
        <ul>
          <li>Respecter les instructions diffusées sur le site MersenneTranslate, portant notamment sur les <a href="/page/code-of-conduct/">bonnes pratiques</a> en termes de contenu</li>
          <li>Effectuer un travail significatif de post-édition (modification, amélioration) de la Traduction qu’il aura générée à l'aide du logiciel de Traduction automatique de l'outil.</li>
        </ul>
        <h4>Modération d'une Traduction par l’Éditeur</h4>
        <p>En soumettant une Traduction, le Contributeur déclare avoir pris connaissance de ce qui suit : </p>
        <ul>
          <li>- L’Éditeur procédera à une modération de la Traduction. Il pourra rejeter un contenu illicite ou contraire aux présentes conditions.   </li>
          <li>L’Éditeur peut décider de refuser la Traduction pour des raisons qui lui semblent légitimes.</li>
          <li>Le Contributeur peut être contacté par l’Éditeur via l’adresse mail qui aura été fournie au moment de la création de compte.</li>
          <li>Toute infraction aux exigences légales en matière de diffamation, de violation du droit d’auteur ou de plagiat entraînera la suppression immédiate de la proposition de Traduction, ainsi que le blocage du compte du Contributeur.</li>
        </ul>
        <p>Toute décision ou modification de l’Éditeur sera communiquée au Contributeur.</p>
        <h4>Droits d’auteur et licences de réutilisation</h4>
        <p>Si la Traduction est acceptée, le Contributeur s’engage à accepter ce qui suit : </p>
        <ul>
          <li>La Traduction sera publiée sous licence CC BY, sous format PDF et HTML, accompagnée de la date de publication. À ce titre, le Contributeur autorise l’Éditeur et toute personne à reproduire, à publier et diffuser, en tout ou partie, sur tout support et pour toute utilisation, la Traduction en créditant l'auteur de celle-ci. Cette autorisation est valable pour tout le monde et pour la durée des droits d’auteurs. </li>
          <li>Le Contributeur sera reconnu comme auteur de la Traduction, à condition d’effectuer un travail significatif de post-édition. Le Contributeur conserve tous ses droits d’auteur sur la Traduction. En conséquence, son nom sera affiché sur la Traduction sous format PDF et HTML.</li>
        </ul>







        <h4>Responsabilité scientifique et légale </h4>
        <p>Les Traductions soumises ne sont pas évaluées scientifiquement, ni validées par les auteurs originaux. Le Contributeur ayant soumis une Traduction sera tenu pour seul responsable légal de la Traduction et de son contenu. </p>

        <h4>Responsabilités techniques</h4>
        <ul>
          <li>Le Contributeur est seul responsable de l’utilisation qu’il fait du site MersenneTranslate et des Traductions soumises à l’Éditeur.</li>
          <li>Le Contributeur reconnaît être parfaitement informé des limites du réseau Internet et des connexions électroniques. </li>
          <li>Le Contributeur garantit l’Éditeur contre toute conséquence d’une action ou réclamation consécutive à la mise en ligne de la Traduction à laquelle il a participé, si celle-ci s’avère illicite. </li>
          <li>Conformément à l’article 6II de la loi du 21 juin 2004, il est également rappelé au Contributeur que si la Traduction fait l’objet d’une action ou réclamation, les données permettant de l’identifier ou d’identifier son ordinateur pourront être communiquées sur demande par les hébergeurs du Site MersenneTranslate à l’autorité compétente.</li>
          <li>Toute contribution du Contributeur est effectuée à titre gracieux, sa mise en ligne ne donne donc droit à aucune rémunération. </li>
        </ul>
        <h2>RESPONSABILITÉS DE L’ÉDITEUR</h2>
        <h4>Modération des contenus</h4>
        <p>Une fois la Traduction reçue par l'Éditeur :</p>
        <ul>
          <li>L'équipe éditoriale de l’É procède à une modération du contenu. Elle s'assure qu'il ne contient pas de propos illicite, à caractère diffamatoire, injurieux ou discriminatoire de quelque sorte que ce soit, conformément à la loi française, ou encore contraire aux présentes conditions. </li>
          <li>Le processus de modération est sous l’entière responsabilité de l’Éditeur.</li>
          <li>L’Éditeur se réserve le droit de de refuser la Traduction soumise.</li>
          <li>L’Éditeur se réserve également le droit de retirer de la diffusion, après publication, la Traduction pour des raisons qui lui semblent légitimes.</li>
          <li>L’Éditeur s'engage à informer le Contributeur de toute décision, modération et modification relative à la Traduction</li>
        </ul>
        <p>Le Contributeur a la possibilité de demander des explications concernant la modération de leur Traduction en utilisant les adresses de contact du site. </p>
        
        <h2>RESPONSABILITÉS DE MATHDOC</h2>
        <h4>Responsabilités en termes de Contenu</h4>
        <p>Ni Mathdoc, ni ses établissements tutelles ne sauraient être tenus pour responsables du contenu de la Traduction (textes, illustrations, vidéos, données, code…) ainsi que du contenu présent sur le Site Publication. </p>
        <p>Le Contributeur et l’Éditeur sont seuls responsables des contenus mis en ligne sur le site Publication. </p>


        <h4>Engagements techniques</h4>

        <p>Mathdoc administre et gère l'ensemble des serveurs, et des logiciels et bases de données qu'il héberge.</p>
        <p>Mathdoc s’engage à faire ses meilleurs efforts pour :</p>
        <ul>
          <li>éviter toute utilisation détournée ou frauduleuse des contenus</li>
          <li>assurer la sécurité de ses serveurs et de son réseau contre toute attaque physique et informatique extérieure</li>
          <li>assurer la disponibilité et l’accessibilité de MersenneTranslate.</li>
        </ul>
        <p>Cependant, le cas échéant, ni Mathdoc, ni ses établissements tutelles, ne sauraient être tenus pour responsables des difficultés d’accès ou d’impossibilité momentanée d’accès au Site MersenneTranslate liées à des circonstances extérieures, à des cas constitutifs de Force majeure, ou dues à des perturbations du réseau de télécommunication. </p>
        <p>Afin d’assurer la maintenance du site, Mathdoc se réserve le droit de suspendre temporairement l’accès à MersenneTranslate. Mathdoc en informera l’Éditeur au minimum vingt-quatre (24) heures au préalable par tous moyens. </p>
        <p>À la suite d’une demande fondée sur l’article 6-I de la loi n° 2004-575 du 21 juin 2004 dite loi sur la confiance dans l’économie numérique, Mathdoc aura le droit, et cela, sans engager la responsabilité de ses établissements tutelles, de modifier ou de supprimer de manière temporaire ou définitive tout ou partie d’un contenu qui serait manifestement illicite sans information préalable de l’auteur du contenu. </p>

      </div>
      <div class="hypertext-links">
        <h2>Liens hypertextes</h2>
        <p>Le Site MersenneTranslate peut contenir des liens hypertextes vers des sites existants ou gérés par des tiers. Ni Mathdoc ni ses établissements tutelles ne sauraient être tenus pour responsables quant aux conditions d’accès, aux contenus, aux publicités et aux services proposés ou à l’usage qui peut être fait de ces sites.</p>

      </div>
      <div class="illicit-content">
        <h2>SIGNALEMENT DE CONTENUS ILLICITES </h2>
        <p>Toute personne qui aurait connaissance d’un contenu manifestement illicite devra en informer Mathdoc par mail ou courrier simple adressé à :</p>
        <ul>
          <li>Adresse postale : Cellule Mathdoc - CS 40700 - 38058 Grenoble Cedex 9</li>
          <li>Courriel : contact-mersenne@listes.mathdoc.fr</li>
        </ul>
        <p>afin que Mathdoc puisse, le cas échéant, prendre les mesures qui s’imposent.</p>
      </div>
      <div class="intelectual-propertie">
        <h2>PROPRIÉTÉ INTELLECTUELLE </h2>
        <p>L’ensemble du contenu du Site MersenneTranslate comprenant les textes, images, vidéo, données, code… est protégé au titre du droit d’auteur et appartient à Mathdoc et à ses établissements tutelles, à l’exception du contenu créé ou mis en ligne par l’Éditeur ou par le Contributeur lui-même. </p>
        <p>Le droit d’utilisation du Site MersenneTranslate accordés au Contributeur ne confère aucun droit de propriété intellectuelle au profit du Contributeur sur les contenus de celui-ci. </p>
        <p>L’ensemble du Site MersenneTranslate relève de la législation française et internationale sur le droit d’auteur et la propriété intellectuelle. Tous les droits de reproduction et de diffusion sont réservés (sauf pour usage strictement privé), y compris pour les représentations iconographiques et photographiques. </p>

      </div>
      <div class="protection-of-personnal-data">
        <h2>PROTECTION DES DONNÉES PERSONNELLES</h2>
        <p>Voir la <a href="#privacy-fr">politique de confidentialité</a></p>
      </div>
      <div class="storage-of-connection-data">
        <h2>CONSERVATION DES DONNÉES DE CONNEXION</h2>
        <p>Voir la <a href="#privacy-fr">politique de confidentialité</a></p>
      </div>

      <div class="applicable-law">
        <h2>DROIT APPLICABLE – LITIGES</h2>
        <h4>Droit applicable et langue du présent contrat</h4>
        <p>Les présentes conditions sont soumises aux lois et règlements français.</p>
        <p>Dans l’hypothèse où il serait traduit en plusieurs langues, seul le texte français fera foi.</p>
  
        <h4>Litiges</h4>
        <p>En cas de difficulté sur l’interprétation ou l’exécution des présentes conditions générales d'utilisation, le Contributeur et les établissements tutelles de Mathdoc s’efforceront de résoudre le différend à l’amiable.</p>
        <p>Dans l’hypothèse où le Contributeur et les établissements tutelles de Mathdoc ne parviendraient pas à résoudre leur différend à l’amiable, toute difficulté qui pourrait survenir au sujet ou en relation avec la négociation, l’interprétation, l’exécution, la non-exécution ou la résiliation de ce contrat sera soumise au tribunal français compétent.</p>
        <p>Cette clause s’applique même en cas de référé, de pluralité de défendeurs ou d’appel en garantie.</p>
  
      </div>
      
      <div class="suspension">
        <h2>SUSPENSION – RÉSILIATION</h2>
        <p>Le Contributeur s’engage à utiliser le Site MersenneTranslate conformément à l’usage pour lequel il a été défini en préambule. Il s’engage également à respecter les présentes conditions générales d’utilisation.</p>
    
      </div>
     
    </div>
    <hr class="panel-title-separator">

    <h1  id="privacy-title-fr" data-bs-toggle="collapse" data-bs-target="#privacy-fr" aria-controls="privacy-fr" aria-expanded="false" style="cursor: pointer;">
      Politique de confidentialité
      <span class="collapse-icon">
        <i class="fa fa-chevron-down"></i>
        <i class="fa fa-chevron-up"></i>
      </span>
    </h1>
    <div id="privacy-fr" class="open-on-outline-submenu collapse-body collapse">
      <div class="data-protection-reulation">
        <h2 class="data-protection-regulation">Le centre Mersenne et le Règlement Général sur la Protection des données</h2>
        <p>Cette page vise à vous informer de l'utilisation de vos données personnelles sur ce site.</p>
        <p>Ce document a été mis à jour le 1er juillet 2024.</p>
        <p>Mathdoc/Centre Mersenne s'engage à ce que les traitements de données personnelles effectués sur ce site soient conformes au Règlement Général sur la Protection des Données (RGPD),  entré en vigueur le 25 Mai 2018, et notamment à la directive 2016/679 du Parlement européen.</p>
        <p>Mathdoc/Centre Mersenne met en place des processus et mesures permettant de garantir une protection optimale des données et une minimisation de la collecte.</p>
        <p>Le service MersenneTranslate, développé par Mathdoc/Centre Mersenne, est destiné à permettre la Traduction semi-automatique et la post-édition, par des Contributeurs authentifiés, d’articles scientifiques publiés sur les sites des Comptes Rendus de l’Académie des sciences.</p>
        <p>La consultation du site nécessite un compte Contributeur.</p>
        <p>Pour vous fournir des services personnalisés, tels que l’accès à l’outil de Traduction , des alertes par courriel, une identification est nécessaire.</p>
        <p>Dans ce cadre, Mathdoc est amené à traiter des informations personnelles vous concernant. </p>
      </div>
      <div class="owner-and-data-controller">
        <h2 class="owner-and-data-controller">Propriétaire et responsable de traitement</h2>
        <ul>
          <li>Mathdoc</li>
          <li>Mathdoc – Unité d’appui et de recherche 5638 </li>
          <li>Centre National de la Recherche Scientifique / Université Grenoble Alpes</li>
          <li>Bâtiment CETA</li>
          <li>Domaine Universitaire de Saint-Martin d’Hères</li>
          <li>150 rue de la Chimie – CS 40700</li>
          <li>38 058 Grenoble cedex 9</li>
          <li>France</li>
          <li>contact-mersenne@listes.mathdoc.fr</li>
          <li>Tél. + 33 4 57 04 11 17</li>
        </ul>
        <h2>Représentante du responsable de traitement</h2>
        <ul>
          <li>Evelyne Miot, directrice de Mathdoc</li>
          <li>Déléguée à la protection des données du CNRS (DPD)</li>
          <li>CNRS – SPD, 2 rue Jean Zay,</li>
          <li>54500 Vandoeuvre-lès-Nancy, France</li>
          <li>dpd.demandes@cnrs.fr</li>
        </ul>
      </div>
      <div class="definitions">
        <h2>Définitions</h2>
        <h3>Donnée personnelle</h3>
        <p>« Constitue une donnée à caractère personnel toute information relative à une personne physique identifiée ou qui peut être identifiée, directement ou indirectement, par référence à un numéro d’identification ou à un ou plusieurs éléments qui lui sont propres. Pour déterminer si une personne est identifiable, il convient de considérer l’ensemble des moyens en vue de permettre son identification dont dispose ou auxquels peut avoir accès le responsable du traitement ou toute autre personne  » (http://www.cil.cnrs.fr/CIL/spip.php?rubrique299).</p>
        <h3>Traitement d’une donnée personnelle</h3>
        <p>Un « traitement de données personnelles » est une opération, ou ensemble d’opérations, portant sur des données personnelles, quel que soit le procédé utilisé (collecte, enregistrement, organisation, conservation, adaptation, modification, extraction, consultation, utilisation, communication par transmission diffusion ou toute autre forme de mise à disposition, rapprochement).</p>

      </div>
      <div class="data-and-processing">
        <h2>Données et traitements</h2>
        <h3>Informations personnelles concernant les auteurs des articles</h3>
        <p>MersenneTranslate est également amené à diffuser des informations personnelles concernant les auteurs des articles scientifiques des Comptes Rendus de l’Académie des sciences sélectionnés pour Traduction : nom, prénom, affiliation, adresse de messagerie.</p>
        <h3>Données traitées</h3>
        <p>Le centre Mersenne est amené à traiter les données personnelles suivantes vous concernant lors des actions suivantes :</p>
        <table class="legal-table">
          <thead>
            <tr>
              <th scope="col">Action</th>
              <th scope="col">Données traitées</th>
              <th scope="col">Types de traitement</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Authentification</td>
              <td>Logs</td>
              <td>Collecte, enregistrement, conservation, destruction </td>
            </tr>
            <tr>
              <td>Connexion</td>
              <td>Logs</td>
              <td>Collecte, enregistrement, conservation, destruction</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="responsability-and-consent">
        <h2>Responsabilité et consentement</h2>
        <p>Mathdoc/centre Mersenne, via sa plateforme, ne fait pas commerce des données des Contributeurs et tiers. Les informations que nous recueillons ont volontairement été saisies par les Contributeurs, via une action de leur part (connexion, navigation sur le site, travail sur Traduction...).</p>
        <p>Les données, elles, peuvent être transférées à des tiers si la loi l’exige.</p>
      </div>
      <div class="legal-basis-for-processing">
        <h2>Base juridique du traitement</h2>
        <p>Mathdoc est une structure publique d'appui et de recherche.</p>
        <p>Le traitement des données dont il est question dans cette page est nécessaire
          à l'exécution d'une mission de service public.</p>
        <h3>Finalité du traitement</h3>
        <p>Les Données relatives au Contributeur sont collectées afin de permettre au centre Mersenne/Mathdoc de fournir ses services, ainsi que pour les raisons suivantes :</p>
        <ul>
          <li>Pour la navigation sécurisée sur MersenneTranslate et le bon fonctionnement du service (détecter, éviter ou retracer toute tentative de malveillance ou d’instrusion informatique ou toute violation des conditions d’utilisation du Service.)</li>
          <li>Pour permettre la transmission des informations pour publication des Traductions sur le site des Comptes Rendus de l’Acadéùie des sciences</li>
          <li>Pour des raisons de transparence</li>
          <li>Pour identifier quel contenu appartient à quel Contributeur</li>
          <li>Pour contacter les Contributeurs (ex. envoyer des notifications par courriel pour avertir de l’acceptation ou refus de la soumission)</li>
        </ul>

      </div>
      <div class="users-right">
        <h2>Droits Contributeur</h2>
        <p>Les Contributeurs peuvent exercer des droits concernant les données personnelles traitées par le centre Mersenne et faire les demandes suivantes :</p>
        <ul>
          <li>Modification ou suppression des données de connexion</li>
          <li>Modification ou suppression des données personnelles diffusées sur le Site Mersenne ou sur les sites Publications.  </li>
        </ul>
        <p>Pour ce faire, veuillez contacter le centre Mersenne à l’adresse suivante : contact-mersenne@listes.mathdoc.fr.</p>
        <p>Attention, les données d’un article publié (PDF) ne sont pas modifiables.</p>
      </div>
      <div class="processing-detail">
        <h2>Détail des traitements</h2>
        <h3>Création de compte et accession au Service</h3>
        <p>À chacune des actions suivantes du Contributeur, des données personnelles sont collectées et traitées : </p>
        <ul>
          <li>création de compte</li>
          <li>connexion au service</li>
          <li>lancement, post-édition, sauvegarde et soumission de la Traduction</li>
        </ul>
        <h3>Données concernées</h3>
        <p>Création de compte :</p>
        <ul>
          <li>Nom, prénom, adresse mail</li>
        </ul>
        <p>Post-édition :</p>
        <ul>
          <li>Nom, prénom, adresse mail, affiliation (facultatif) et n° ORCID (facultatif) du Contributeur et des Contributeurs indirects.</li>
        </ul>
        <p>Toutes les actions</p>
        <ul>
          <li>logs</li>
        </ul>
        <p>Des logs sont collectés et sauvegardés pour analyser le comportement du serveur et les éventuels dysfonctionnements.</p>
        <p>Les données enregistrées dans les logs sont : adresse IP, date, requête effectuée (sous forme d’URL), type de navigateur et statut de la réponse.</p>
        <h3>Types de traitement</h3>
        <p>Collecte, enregistrement, conservation, destruction.</p>
        <h3>Destinataires</h3>
        <p>Service informatique de Mathdoc</p>
      </div>

      <div class="data-backup">
        <h2>Sauvegarde, conservation et sécurité des données</h2>
        <p>Sécurité :</p>
        <ul>
          <li>Nous mettons en œuvre une variété de mesures de sécurité pour préserver l’intégrité de vos informations personnelles. Les ordinateurs et serveurs utilisés pour stocker des informations personnelles identifiables sont conservés dans un environnement sécurisé.</li>
          <li>Sécurité logique des fichiers</li>
          <li>Accès au serveur restreint, avec authentification et canal chiffré</li>
          <li>Données Contributeurs dans une base MySQL interrogeable par la seule application OJS</li>
          <li>Stockage des mots de passe chiffrés et salés (authentification par hachage cryptographique)</li>
          <li>Sauvegarde matériel Baie De Disques</li>
        </ul>
      </div>

      <div class="confidentiality">
        <h2>Confidentialité</h2>
        <p>Accès (physique et réseau) restreint</p>
        <p>Secret professionnel </p>
      </div>

      <div class="backup">
        <h2>Sauvegarde et conservation</h2>
        <p>Les données personnelles que nous recueillons sont stockées et conservées de manière absolument confidentielle dans un environnement sécurisé afin de vous fournir le meilleur service.</p>
        <p>Toutes les données du site MersenneTranslate et des sites Publication sont sauvegardées et hébergées à GRICAD.</p>
        <ul>
          <li>UAR 3758 GRICAD</li>
          <li>Bâtiment IMAG</li>
          <li>700 Avenue Centrale</li>
          <li>38400 Saint-Martin-d’Hères</li>
          <li>Tel : + 33 4 57 42 18 54</li>
          <li>gricad-contact@univ-grenoble-alpes.fr</li>
        </ul>
      </div>

      <div class="duration-of-data-storage">
        <h2>Durée de conservation des catégories de données</h2>
        <p>Les données sont conservées 12 mois :</p>
        <ul>
          <li>3 mois en archives courantes</li>
          <li>9 mois en archives réservées</li>
        </ul>
      </div>
    </div>
    <hr class="panel-title-separator">
    
  </div>
  {% endif %}
</div>
{% endblock %}
