
{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load helpers %}

{% block top %}
{% endblock top %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block footer %}
{% endblock footer %}

{% block content %}

<div class="d-flex justify-content-center" style="margin-top:60px;">
  <div class="row align-items-center" id="reversed_texts" style="display:none">
      <div class="col">
        <h5>Original text</h5>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="synchScroll" checked>
          <label class="form-check-label" for="synchScroll">
            Synchronize scrolling
          </label>
        </div>
        <div class="trans_text" style="margin-top:24px;">{{article.body_html|safe}}</div>
      </div>
      <div class="col">
        <h5>Reversed translation</h5>
        <div class="rev_text"  style="margin-top:60px;"></div>
      </div>
  </div>

  <div id="loading" class="text-center" style="width:600px;">
    <div id="loadingModal" class="text-secondary" style="font-size:25px;">
      <div class="spinner-border" style="width: 1.5rem; height: 1.5rem;" role="status"></div>
      Translating the text...
    </div>

    <div class="progress" style="margin:10px;">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
  </div>

  <div id="errorMatecat" style="display:none;">
    <h2>Sorry, Matecat is currently unavailable, please try later.</h2>
  </div>
</div>

{% block extrajs %}
  <script src="{% static "ptf/vendors/jquery/js/jquery-3.5.1.min.js" %}"></script>
  <script src="{% static 'traduction/js/progressbar.js' %}"></script>
  <script>
    var id = "{{id|escapejs}}";
    var pwd = "{{pwd|escapejs}}";
    var pk = "{{pk|escapejs}}";
    var timeout = (new Date()).getTime() + 15000;
    var progressbar = setInterval(GetProgressReversed, 500);
  </script>
{% endblock extrajs %}
{% endblock %}
