{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

{% if messages %}
  <div class="m-5">
  {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" fade show role="alert" >
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message }}
      </div>
    </div>
  {% endfor %}
  </div>
{% endif %}

<div id="loadingModal" class="text-secondary" style="display:none; width:100%; text-align:center; font-size:25px;">
  <div class="spinner-border" style="width: 1.5rem; height: 1.5rem;" role="status"></div>
  {% if LANGUAGE_CODE == 'en' %}
  Please wait...
  {% else %}
  Veuillez patienter...
  {% endif %}
</div>

{% if LANGUAGE_CODE == "en" %}

{% include "traduction/translation_table.html" with translations=accepted_translations with_user=True with_accept=False with_delete=False with_revert=True with_doi=True caption="Accepted translations" %}
{% include "traduction/translation_table.html" with translations=submitted_translations with_user=True with_accept=True with_delete=True with_doi=True caption="Translations awaiting approval" %}
{% include "traduction/translation_table.html" with translations=edit_translations with_user=True with_accept=False with_delete=True caption="Translations in progress" %}
{% include "traduction/translation_table.html" with translations=published_translations published=True with_user=True with_accept=False with_delete=False  with_datatable=True with_doi=True caption="Published translations" %}

{% else %}

{% include "traduction/translation_table.html" with translations=accepted_translations with_user=True with_accept=False with_delete=False with_revert=True with_doi=True caption="Traductions acceptées" %}
{% include "traduction/translation_table.html" with translations=submitted_translations with_user=True with_accept=True with_delete=True with_doi=True caption="Traduction en attente d'approbation" %}
{% include "traduction/translation_table.html" with translations=edit_translations with_user=True with_accept=False with_delete=True caption="Traductions en cours" %}
{% include "traduction/translation_table.html" with translations=published_translations published=True with_user=True with_accept=False with_delete=False  with_datatable=True with_doi=True caption="Traductions publiées" %}

{% endif %}
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function() {
    $('.with-datatable').DataTable();

    $(".btnForFile").on('click', function() {
      $(this).parent().children('.inputForFile').trigger('click');
    });

    $(".inputForFile").on('change', function() {
      $(this).parent().submit();
    });

  });
</script>
{% endblock %}
