{% block content %}

{% if LANGUAGE_CODE == 'en' %}
{% if translations %}

<div class="table-responsive m-5">
  <h2>{{caption}}</h2>
  <table class="table table-striped caption-top align-middle {% if with_datatable %}with-datatable{% endif %}">
    <tr>
      <thead class="thead-light">
      <tr>
        <th scope="col">DOI</th>
        <th scope="col">Title</th>
        <th scope="col">Lang</th>
        <th scope="col">State</th>
        <th scope="col">Actions</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      {% for translation in translations %}
      <tr>
        <td><a href="http://doi.org/{{translation.doi}}">{{translation.doi}}</a></td>
        <td style="max-width: 1000px">{{translation.article.title_tex}}</td>
        <td>{{translation.lang}}</td>
        <td>{{translation.get_state_display}}</td>
        <td>
          {% if translation.state != 'published' %}
          <a href="{% url 'edit-article' colid translation.doi translation.pk %}"><button type="button" class="btn btn-primary">{% if translation.state == 'edit' %} <i class="bi bi-pencil-square"></i> Edit translation {% else %}<i class="bi bi-eye"></i> View translation {% endif %}</button></a>
          <br/>
          {% endif %}
        </td>
        <td><div class="float-end">
        {% if translation.state == 'edit' or translation.state == 'submitted_to_staff' %}
          <form onsubmit="return confirm('Do you really want to delete the translation?');" id="form-delete-{{translation.pk}}" action={% url 'translation-delete' translation.pk %} method="POST">
          {% csrf_token %}
          <button type="submit" name="submit" class="btn btn-danger btn-delete-submission"><i class="bi bi-trash"></i></button>
          </form>
        {% endif %}
        </div></td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% else %}
<div class="table-responsive m-5">
  No translations.
</div>
{% endif %}
<div class="table-responsive m-5">
  <a class="btn btn-outline-success" role="button" href="{% url 'new-translation' %}">Start a new translation</a>
</div>
{% else %}
{% if translations %}

<div class="table-responsive m-5">
  <h2>{{caption}}</h2>
  <table class="table table-striped caption-top align-middle {% if with_datatable %}with-datatable{% endif %}">
    <tr>
      <thead class="thead-light">
      <tr>
        <th scope="col">DOI</th>
        <th scope="col">Titre</th>
        <th scope="col">Lang</th>
        <th scope="col">Etat</th>
        <th scope="col">Actions</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      {% for translation in translations %}
      <tr>
        <td><a href="http://doi.org/{{translation.doi}}">{{translation.doi}}</a></td>
        <td style="max-width: 1000px">{{translation.article.title_tex}}</td>
        <td>{{translation.lang}}</td>
        <td>{% if translation.get_state_display == "Submitted to Staff" %} Transmise à l'équipe {% elif translation.get_state_display == "Edit" %} En cours {% endif %}</td>
        <td>
          {% if translation.state != 'published' %}
          <a href="{% url 'edit-article' colid translation.doi translation.pk %}"><button type="button" class="btn btn-primary">{% if translation.state == 'edit' %} <i class="bi bi-pencil-square"></i> Modifier {% else %}<i class="bi bi-eye"></i> Voir la traduction {% endif %}</button></a>
          <br/>
          {% endif %}
        </td>
        <td><div class="float-end">
        {% if translation.state == 'edit' or translation.state == 'submitted_to_staff' %}
          <form onsubmit="return confirm('Voulez vous vraiment supprimer la traduction ?');" id="form-delete-{{translation.pk}}" action={% url 'translation-delete' translation.pk %} method="POST">
          {% csrf_token %}
          <button type="submit" name="submit" class="btn btn-danger btn-delete-submission"><i class="bi bi-trash"></i></button>
          </form>
        {% endif %}
        </div></td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% else %}
<div class="table-responsive m-5">
  Pas de traductions.
</div>
{% endif %}
<div class="table-responsive m-5">
  <a class="btn btn-outline-success" role="button" href="{% url 'new-translation' %}">Commencer une nouvelle traduction</a>
</div>
{% endif %}


{% endblock %}
