{% if translations %}
<div class="table-responsive m-5">
  {% if LANGUAGE_CODE == 'en' %}
  <h2>{{caption}}</h2>
  <table class="table table-striped caption-top align-middle {% if with_datatable %}with-datatable{% endif %}">
    <thead class="thead-light">
    <tr>
      <th scope="col">Collection</th>
      <th scope="col">DOI</th>
      <th scope="col">Title</th>
      <th scope="col">Lang</th>
      {% if with_user %}
      <th scope="col">User</th>
      {% endif %}
      {% if published %}
        <th scope="col">Date</th>
      {% else %}
        <th scope="col">Actions</th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for translation in translations %}
    <tr>
      <td>{{translation.article.get_collection}}</td>
      <td><a href="http://doi.org/{{translation.doi}}">{{translation.doi}}</a></td>
      <td style="max-width: 1000px">{{translation.article.title_tex}}</td>
      <td>{{translation.lang}}</td>
      {% if with_user %}
      {% with first_user=translation.users.first %}
      <td>{{translation.corresponding_emails_display}}</td>
      {% endwith %}
      {% endif %}
      <td style="min-width: {% if with_accept %}{% if with_delete %}310{% else %}250{% endif %}{% else %}{% if with_delete %}150{% else %}{% if with_revert %}220{% else %}120{% endif %}{% endif %}{% endif %}px">
        {% if with_delete %}
        <div class="float-end">
          <form onsubmit="return confirm('Do you really want to delete the translation?');" id="form-delete-{{translation.pk}}" action={% url 'translation-delete' translation.pk %} method="POST">
            {% csrf_token %}
            <button type="submit" name="submit" class="btn btn-danger btn-delete-submission"><i class="bi bi-trash"></i>&nbsp;</button>
          </form>
        </div>
        {% endif %}
        {% if with_accept %}
        <div class="float-end me-1">
          <form action={% url 'translation-accept' translation.pk %} method="POST">
            {% csrf_token %}
            <button type="submit" name="submit" class="btn btn-success long-action" href=""><i class="bi bi-check-lg"></i> Accept</button>
          </form>
        </div>
        <div class="float-end me-1">
          <form action={% url 'translation-reopen' translation.pk %} method="POST">
            {% csrf_token %}
            <button type="submit" name="submit" class="btn btn-secondary long-action" href="">Re-open <i class="bi bi-backspace"></i></button>
          </form>
        </div>
        {% endif %}
        {% if with_revert %}
        <div class="float-end me-1">
          <form action={% url 'translation-publish' translation.pk %} method="POST">
            {% csrf_token %}
            <button type="submit" name="submit" class="btn btn-primary long-action" href=""><i class="bi bi-cloud-upload"></i> Publish</button>
          </form>
        </div>
        <div class="float-end me-1">
          <form action={% url 'translation-revert' translation.pk %} method="POST">
            {% csrf_token %}
            <button type="submit" name="submit" class="btn btn-secondary" href=""><i class="bi bi-skip-backward"></i> Revert</button>
          </form>
        </div>
        {% endif %}
        {% if published %}
          {{translation.get_trans_article.date_published|date:"Y-m-d"}}
        {% else %}
          {% if translation.article %}
            <a class="btn btn-secondary" href="{% url 'edit-article' translation.article.get_collection translation.article.doi translation.pk %}">
              {% if with_delete %}
                <i class="bi bi-pencil-square"></i> Edit
              {% else %}
                <i class="bi bi-eye"></i> View
              {% endif %}
            </a>
            <a class="btn btn-secondary popup" href="{% url 'reversed-translation' translation.pk %}" target="popup" onclick="window.open('{% url 'reversed-translation' translation.pk %}','popup','width=1000,height=900'); return false;"><i class="bi bi-translate"></i>&nbsp;</a>
          {% endif %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h2>{{caption}}</h2>
  <table class="table table-striped caption-top align-middle {% if with_datatable %}with-datatable{% endif %}">
    <thead class="thead-light">
    <tr>
      <th scope="col">Collection</th>
      <th scope="col">DOI</th>
      <th scope="col">Titre</th>
      <th scope="col">Lang</th>
      {% if with_user %}
      <th scope="col">Utilisateur</th>
      {% endif %}
      {% if published %}
        <th scope="col">Date</th>
      {% else %}
        <th scope="col">Actions</th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for translation in translations %}
    <tr>
      <td>{{translation.article.get_collection}}</td>
      <td><a href="http://doi.org/{{translation.doi}}">{{translation.doi}}</a></td>
      <td style="max-width: 1000px">{{translation.article.title_tex}}</td>
      <td>{{translation.lang}}</td>
      {% if with_user %}
      {% with first_user=translation.users.first %}
      <td>{{translation.corresponding_emails_display}}</td>
      {% endwith %}
      {% endif %}
      <td style="min-width: {% if with_accept %}{% if with_delete %}310{% else %}250{% endif %}{% else %}{% if with_delete %}150{% else %}{% if with_revert %}220{% else %}120{% endif %}{% endif %}{% endif %}px">
        {% if with_delete %}
        <div class="float-end">
          <form onsubmit="return confirm('Vous voulez vraiment supprimer la traduction?');" id="form-delete-{{translation.pk}}" action={% url 'translation-delete' translation.pk %} method="POST">
            {% csrf_token %}
            <button type="submit" name="submit" class="btn btn-danger btn-delete-submission"><i class="bi bi-trash"></i>&nbsp;</button>
          </form>
        </div>
        {% endif %}
        {% if with_accept %}
        <div class="float-end me-1">
          <form action={% url 'translation-accept' translation.pk %} method="POST">
            {% csrf_token %}
            <button type="submit" name="submit" class="btn btn-success long-action" href=""><i class="bi bi-check-lg"></i> Accepter</button>
          </form>
        </div>
        <div class="float-end me-1">
          <form action={% url 'translation-reopen' translation.pk %} method="POST">
            {% csrf_token %}
            <button type="submit" name="submit" class="btn btn-secondary long-action" href="">Rouvrir <i class="bi bi-backspace"></i></button>
          </form>
        </div>
        {% endif %}
        {% if with_revert %}
        <div class="float-end me-1">
          <form action={% url 'translation-publish' translation.pk %} method="POST">
            {% csrf_token %}
            <button type="submit" name="submit" class="btn btn-primary long-action" href=""><i class="bi bi-cloud-upload"></i> Publier</button>
          </form>
        </div>
        <div class="float-end me-1">
          <form action={% url 'translation-revert' translation.pk %} method="POST">
            {% csrf_token %}
            <button type="submit" name="submit" class="btn btn-secondary" href=""><i class="bi bi-skip-backward"></i> Retour</button>
          </form>
        </div>
        {% endif %}
        {% if published %}
          {{translation.get_trans_article.date_published|date:"Y-m-d"}}
        {% else %}
          {% if translation.article %}
            <a class="btn btn-secondary" href="{% url 'edit-article' translation.article.get_collection translation.article.doi translation.pk %}">
              {% if with_delete %}
                <i class="bi bi-pencil-square"></i> Modifier
              {% else %}
                <i class="bi bi-eye"></i> Voir
              {% endif %}
            </a>
            <a class="btn btn-secondary popup" href="{% url 'reversed-translation' translation.pk %}" target="popup" onclick="window.open('{% url 'reversed-translation' translation.pk %}','popup','width=1000,height=900'); return false;"><i class="bi bi-translate"></i>&nbsp;</a>
          {% endif %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% endif %}

