{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load helpers %}

{% block center_middle %}
<div class="row d-flex justify-content-center">
  <div class="col-md-10 col-lg-8 col-xl-7">
    {% if messages %}
      {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" fade show role="alert" >
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message }}
      </div>
    </div>
      {% endfor %}
    {% endif %}

    <form method="post">
      {% csrf_token %}

      {% if form.errors %}
      <div class="mb-4">
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if LANGUAGE_CODE == "en" %}
      <div>
        <div class="mt-5">
          <p></p>
          <h3>Participate in translating articles from the Comptes rendus de l'Académie des Sciences des sciences</h3>
          <p>You’re about to start translating an article from the Comptes Rendus de l’Académie des Sciences.</p>
          <p>Before you start, please read:</p>
          <ul>
            <li>The <a href="{% url 'legal' %}">General Terms and Conditions of Use</a></li>
            <li>The <a href="{% url 'code-of-conduct' %}">Best Practices for translation</a></li>
          </ul>
  
          <p>What you need to know before you start translating:</p>
          <ul>
              <li>The translation will be published on the Comptes Rendus de l'Académie des Sciences website under the CC BY 4.0 license, and will be accessible from the web page of the original article.</li>
              <li>You will be considered as the author of the translation, if it is published.</li>
          </ul>
        </div>
        
        <div class="form-outline mb-4">
          <h4>Start translating</h4>
          <label for="id_doi" class="form-label mt-5">
            
            Please enter the DOI of the article you want to translate.<br>
            Only articles from <i>Comptes Rendus Géoscience, Chimie</i> or <i>Biologies</i> can be translated at the moment.
          </label>
          <input id="id_doi" class="form-control" type="text" name="doi" value="{{form.doi.value}}" placeholder="10.5802/cr...">
          <div class="form-info">
            <p>The DOI is visible in the metadata section of the article in the journal website.<br>
            It starts with 10.5802/cr</p>
          </div>
          <div id="doi-error"></div>
        </div>
  
        <div id="display_when_known_doi" style="display:none">
          <div class="mb-3 clearfix">
            <div id="vo-lang" class="form-outline">
              <label id="vo-lang-label">Original language: </label><span></span>
            </div>
            <div id="other-lang" style="display:none" class="form-outline">
              <div style="float:left;width: 270px"><label class="me-2">This article is already translated in:</label></div>
              <div id="other-lang-content" style="float:left;"></div>
            </div>
          </div>
  
          <div class="form-outline mb-1">
            <label for="id_lang" class="form-label">Please select the language of your translation</label>
            <select class="form-control" name="lang" id="id_lang">
              {% comment %} <option value="" disabled selected hidden>Select translation language</option> {% endcomment %}
              {% for value, label in form.fields.lang.choices %}
                <option value="{{ value }}"{% if form.lang.value == value %} selected{% endif %}>{{ value|get_flag_unicode }}&nbsp;&nbsp;&nbsp;&nbsp;{{ label }}</option>
              {% endfor %}
            </select>
          </div>
  
          {% comment %} <div id="article_langs" class="alert alert-light" role="alert">
          </div> {% endcomment %}
          <div class="form-check mb-2">
            <input class="form-check-input checkbox-of-submission" type="checkbox" value="" id="checkbox_author" required>
            <label class="form-check-label" for="checkbox_author">I agree to make my translation public, under CC BY 4.0 license.</label>
            <p>By clicking on the "Generate translation" button, I accept the above and <a href="/page/legal/#gcu">the terms and conditions</a>.</p>
          </div>
          <button type="submit" class="btn btn-success long-action-with-progress start">Generate translation</button>
        </div>
  
      </div>
      {% else %}
      <div class="french-text" >
        <div class="mt-5">
          <p></p>
          <h3>Participer à la traduction des articles des Comptes Rendus de L'Académie des Sciences</h3>
          <p>Vous êtes sur le point de lancer la traduction semi-automatique d’un article scientifique des Compte rendus de l’Académie des sciences. </p>
          <p>Avant de commencer, merci de lire ce qui suit :</p>
          <ul>
            <li>Les <a href="{% url 'legal' %}">Conditions Générales d’Utilisation</a> (notamment les <a href="/page/code-of-conduct/">engagements du contributeur</a>).</li>
            <li><a href="{% url 'code-of-conduct' %}">Les bonnes pratiques </a>de la traduction</li>
          </ul>
          <p>Pour en savoir plus sur l’outil, référez-vous au <a href="{% url 'instructions'%}">mode d'emploi</a></p>
  
          <p>À savoir avant de lancer une traduction  :</p>
          <ul>
            <li>La traduction sera diffusée sur le site des Comptes Rendus de l’Académie des sciences sous licence CC BY 4.0, et sera accessible depuis la notice web de l’article original</li>
            <li>Vous serez reconnu comme auteur de la traduction, si celle-ci est validée.</li>
          </ul>
        </div>
        <div class="form-outline mt-5">
          <h4>Lancer la traduction</h4>
          <label for="id_doi" class="form-label">
            Merci d’entrer le DOI de l’article pour lequel vous souhaitez contribuer à la traduction<br>
            Seuls les articles des <i>Comptes Rendus Géoscience, Chimie</i> ou <i>Biologies</i> peuvent être traduits pour le moment.
          </label>
          <input id="id_doi" class="form-control" type="text" name="doi" value="{{form.doi.value}}" placeholder="10.5802/cr...">
          <div class="form-info">
            <p>Le DOI se trouve dans les métadonnées de l’article, sur le site web de la revue.<br>
              Son format est le suivant : 10.5802/cr</p>
          </div>
          <div id="doi-error"></div>
        </div>
  
        <div id="display_when_known_doi" style="display:none">
          <div class="mb-3 clearfix">
            <div id="vo-lang" class="form-outline">
              <label id="vo-lang-label">Langue originale: </label><span></span>
            </div>
            <div id="other-lang" style="display:none" class="form-outline">
              <div style="float:left;width: 270px"><label class="me-2">Cet article est déjà traduit en :</label></div>
              <div id="other-lang-content" style="float:left;"></div>
            </div>
          </div>
  
          <div class="form-outline mb-1">
            <label for="id_lang" class="form-label">Merci de sélectionner la langue dans laquelle vous souhaitez traduire l’article.</label>
            <select class="form-control" name="lang" id="id_lang">
              {% comment %} <option value="" disabled selected hidden>Select translation language</option> {% endcomment %}
              {% for value, label in form.fields.lang.choices %}
                <option value="{{ value }}"{% if form.lang.value == value %} selected{% endif %}>{{ value|get_flag_unicode }}&nbsp;&nbsp;&nbsp;&nbsp;{{ label }}</option>
              {% endfor %}
            </select>
          </div>
  
          {% comment %} <div id="article_langs" class="alert alert-light" role="alert">
          </div> {% endcomment %}
          <div class="form-check mb-2">
            <input class="form-check-input checkbox-of-submission" type="checkbox" value="" id="checkbox_author" required>
            <label class="form-check-label" for="checkbox_author">J'accepte de rendre ma traduction publique, sous licence CC BY 4.0.</label>
            <p>En cliquant sur le bouton “Générer la traduction”,   j'accepte les éléments ci-dessus ainsi que <a href="/page/legal/#cgu">les conditions générales</a>.</p>
          </div>
          <button type="submit" class="btn btn-success long-action-with-progress start">Générer la traduction</button>
        </div>

      
      
      </div>
      {% endif %}

    </form>
    <br>
    {% if LANGUAGE_CODE == "en" %}
    <div>
      <div id="loadingModal" class="text-secondary" style="display:none">
        <div class="spinner-border spinner-border-sm" role="status"></div>
        Pre-translating the text, please wait...
      </div>
  
    </div>
    {% else %}
    <div>
      <div id="loadingModal" class="text-secondary " style="display: none;">
        <div class="spinner-border spinner-border-sm" role="status"></div>
        Pré-traduction du texte, veuillez patienter...
      </div>
    </div>
    {% endif %}

    


  </div>
  </div>

{% block extrajs %}
  <script src="{% static "ptf/vendors/jquery/js/jquery-3.5.1.min.js" %}"></script>
    <script src="{% static 'traduction/js/progressbar.js' %}"></script>
    <script src="{% static 'traduction/js/select_lang.js' %}"></script>
{% endblock extrajs %}


{% endblock %}
