{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load helpers %}

{% block center_middle %}
<div class="row d-flex justify-content-center h-100 mt-5">
  <div class="col-md-8 col-lg-8 col-xl-6 offset-xl-1">
    <form method="post" enctype="multipart/form-data" id="translation-form">
      {% csrf_token %}

    <!--      <div class="float-end"><i class="bi bi-pencil"></i></div>-->
      {% if LANGUAGE_CODE == 'en' %}
      <div class="form-outline mb-4">
        <p class="form-label">Are you ready to submit a translation in {{trans_display_lang|safe}} for</p>
        <p class="form-label"><i>{{article.title_tex}}</i> ?</p>
        <p class="form-label">After submission, you will no longer be able to change your translation.</p>
      </div>

      {% if empty_fields %}
      <div class="alert alert-danger">
        <strong>
          <p>Your article is not ready for submission.</p>
        </strong>
          {% if 'contrib' in empty_fields %}
          <p class="mb-0">Please enter your full name and your email.</p>
          {% endif %}
          {% if 'metadata' in empty_fields %}
          <p class="mb-F0">You have to translate all metadata of the article with the full text.</p>
          {% endif %}
      </div>
      <div class="alert alert-light">
          {% if 'kwds_len' in empty_fields %}
          Note : Every keywords must be translated.
          {% endif %}
      </div>
      {% endif %}

      <div class="form-check">
          <input class="form-check-input checkbox-of-submission" type="checkbox" value="" id="checkbox_terms" required>
        <label class="form-check-label" for="checkbox_terms">I have read and agree to the <a href="{% url 'legal' %}">terms of use</a></label>
      </div>
      <div class="form-check">
          <input class="form-check-input checkbox-of-submission" type="checkbox" value="" id="checkbox_code" required>
        <label class="form-check-label" for="checkbox_code">I have read and agree to the <a href="{% url 'code-of-conduct' %}">code of conduct & ethics</a></label>
      </div>
      <div class="form-check mb-5">
          <input class="form-check-input checkbox-of-submission" type="checkbox" value="" id="checkbox_licence" required>
        <label class="form-check-label" for="checkbox_licence">I agree that the translation, if editorially accepted for publication, will be published under the CC BY licence</label>
      </div>

      <button type="submit" class="btn btn-success {% if empty_fields %}btn-not-allowed disabled{% endif %}" name="save_and_submit">Yes, submit my translation</button>
    </form>
    
      {% else %}
      <div class="form-outline mb-4">
      <p class="form-label">Êtes vous prêt à soumettre une traduction en {% trans trans_display_lang %} de l'article</p>
      <p class="form-label"><i>{{article.title_tex}}</i> ?</p>
      <p class="form-label">Après la soumision, vous ne pourrez plus apporter de modification.</p>
    </div>

      {% if empty_fields %}
      <div class="alert alert-danger">
        <strong>
          <p>Votre article n'est pas prêt pour soumission.</p>
        </strong>
          {% if 'contrib' in empty_fields %}
          <p class="mb-0">Veuillez entrer votre nom complet ainsi que votre couriel.</p>
          {% endif %}
          {% if 'metadata' in empty_fields %}
          <p class="mb-F0">Vous devez traduire toutes les métadonnées de l'article en plus du text intégral.</p>
          {% endif %}
      </div>
      <div class="alert alert-light">
          {% if 'kwds_len' in empty_fields %}
          Note : Tous les mots clés doivent être traduits.
          {% endif %}
      </div>
      {% endif %}

      <div class="form-check">
          <input class="form-check-input checkbox-of-submission" type="checkbox" value="" id="checkbox_terms" required>
        <label class="form-check-label" for="checkbox_terms">J'ai lu et j'accepte les <a href="{% url 'legal' %}">conditions d'utilisation</a></label>
      </div>
      <div class="form-check">
          <input class="form-check-input checkbox-of-submission" type="checkbox" value="" id="checkbox_code" required>
        <label class="form-check-label" for="checkbox_code">J'ai lu et j'accepte le <a href="{% url 'code-of-conduct' %}">code de conduite et d'éthique</a></label>
      </div>
      <div class="form-check mb-5">
        <input class="form-check-input checkbox-of-submission" type="checkbox" value="" id="checkbox_licence" required>
      <label class="form-check-label" for="checkbox_licence">J'accepte que la traduction, sous réserve d'acceptation pour publication, soit publiée sous licence CC BY 4.0</label>
    </div>

      <button type="submit" class="btn btn-success {% if empty_fields %}btn-not-allowed disabled{% endif %}" name="save_and_submit">Oui, soumettre ma traduction</button>
      {% endif %}
    </form>
    {% if LANGUAGE_CODE == 'en' %}
      <button class="btn btn-outline-primary mt-4 redirect-button" data-url="{% url 'edit-article' translation.article.get_collection translation.article.doi translation.pk %}">No, I would like to edit my translation</button>

      <form onsubmit="return confirm('Do you really want to delete the translation?');" id="form-delete-{{translation.pk}}" action={% url 'translation-delete' translation_id %} method="POST">
      {% csrf_token %}
      <button type="submit" name="submit" class="btn btn-link mt-4 p-0 link-danger">I do not want to continue, please delete my translation</button>
    {% else %}
      <button class="btn btn-outline-primary mt-4 redirect-button" data-url="{% url 'edit-article' translation.article.get_collection translation.article.doi translation.pk %}">Non, je veux modifier ma traduction</button>

      <form onsubmit="return confirm('Vous voulez vraiment supprimer votre traduction?');" id="form-delete-{{translation.pk}}" action={% url 'translation-delete' translation_id %} method="POST">
        {% csrf_token %}
        <button type="submit" name="submit" class="btn btn-link mt-4 p-0 link-danger">Je ne veux pas continuer, veuillez effacer ma traduction</button>
        
      </form>
    {% endif %}
    
  </div>
</div>

{% endblock %}
