{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block center_middle %}
<div class="row d-flex justify-content-center h-100 mt-5">
  {% if LANGUAGE_CODE == 'en' %}
  <div class="col-md-8 col-lg-8 col-xl-8 offset-xl-2">
    <p>Thank you for sending your translation of <strong>{{translation.article.title_tex}}</strong></p>
    <p>We are handling your request. You can contact us at {{editorial_email}}</p>
    <div>
      <a class="btn btn-outline-success" role="button" href="{% url 'new-translation' %}">Start a new translation</a>
    </div>
  </div>
  {% else %}
  <div class="col-md-8 col-lg-8 col-xl-8 offset-xl-2">
    <p>Merci pour l'envoie de votre traduction de <strong>{{translation.article.title_tex}}</strong></p>
    <p>Nous traitons votre demande. Vous pouvez nous contacter à {{editorial_email}}</p>
    <div>
      <a class="btn btn-outline-success" role="button" href="{% url 'new-translation' %}">Commencer une nouvelle traduction</a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
