{% load i18n %}
<h2>
  {% trans 'Flux RSS' %} {% trans "des comptes-rendus de l'Académie des sciences" %}
</h2>
<p>
  {% trans "Sélectionnez puis copiez les liens des séries voulues dans votre lecteur de flux RSS préféré : " %}<br>
  <div class="row">
    <div class="col-md-2">
      <h4>Mathématique</h4>
    </div>
    <div class="col-md-10">
      <div class="upper-right">
        <pre class="upper-right-content" id="syndication-feed-url-math">{{request.scheme}}://{{ request.get_host }}/mathematique/{{ LANGUAGE_CODE }}/latest/feed/crmath/</pre>
        <button class="copy-button btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#syndication-feed-url-math" aria-hidden="true" title="{% trans "Copier dans le presse-papier" %}">
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h4>Mécanique</h4>
    </div>
    <div class="col-md-10">
      <div class="upper-right">
        <pre class="upper-right-content" id="syndication-feed-url-meca">{{request.scheme}}://{{ request.get_host }}/mecanique/{{ LANGUAGE_CODE }}/latest/feed/crmeca/</pre>
        <button class="copy-button btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#syndication-feed-url-meca" aria-hidden="true" title="{% trans "Copier dans le presse-papier" %}">
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h4>Physique</h4>
    </div>
    <div class="col-md-10">
      <div class="upper-right">
        <pre class="upper-right-content" id="syndication-feed-url-phys">{{request.scheme}}://{{ request.get_host }}/physique/{{ LANGUAGE_CODE }}/latest/feed/crphys/</pre>
        <button class="copy-button btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#syndication-feed-url-phys" aria-hidden="true" title="{% trans "Copier dans le presse-papier" %}">
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h4>Géoscience</h4>
    </div>
    <div class="col-md-10">
      <div class="upper-right">
        <pre class="upper-right-content" id="syndication-feed-url-geos">{{request.scheme}}://{{ request.get_host }}/geoscience/{{ LANGUAGE_CODE }}/latest/feed/crgeos/</pre>
        <button class="copy-button btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#syndication-feed-url-geos" aria-hidden="true" title="{% trans "Copier dans le presse-papier" %}">
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h4>Chimie</h4>
    </div>
    <div class="col-md-10">
      <div class="upper-right">
        <pre class="upper-right-content" id="syndication-feed-url-chim">{{request.scheme}}://{{ request.get_host }}/chimie/{{ LANGUAGE_CODE }}/latest/feed/crchim/</pre>
        <button class="copy-button btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#syndication-feed-url-chim" aria-hidden="true" title="{% trans "Copier dans le presse-papier" %}">
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h4>Biologies</h4>
    </div>
    <div class="col-md-10">
      <div class="upper-right">
        <pre class="upper-right-content" id="syndication-feed-url-biol">{{request.scheme}}://{{ request.get_host }}/biologies/{{ LANGUAGE_CODE }}/latest/feed/crbiol/</pre>
        <button class="copy-button btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#syndication-feed-url-biol" aria-hidden="true" title="{% trans "Copier dans le presse-papier" %}">
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
  </div>
</p>
