{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block extra_css %}
<link href="{% static 'vuejs/css/app.css' %}" rel="preload" as="style">
<link href="{% static 'vuejs/js/app.js' %}" rel="preload" as="script">
<link href="{% static 'vuejs/js/chunk-vendors.js' %}" rel="preload" as="script">
<link href="{% static 'vuejs/css/app.css' %}" rel="stylesheet">
<style>
.page-container {
  margin-top: 15rem;
}
.header {
  height: 15rem;
  z-index: 1;
}
</style>
{% endblock extra_css %}

{% block center_middle %}
<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-8 col-lg-6 col-xl-4">
    <p><strong> You are about to accept this submision. Please check all informations.</p>
    <p> When it is done, you can click on "Accept" button</strong></p>
    <h2>Summary:</h2>
    <div class="check-documents">
      <p class="form-label"><strong>Preprint doi</strong>: {{ doi }}</p>
      <p class="form-label"><strong>Title</strong>: {{ artitcle_title|safe }} </p>

      <p class="form-label"><strong>Recommendation doi</strong>: {{ recommendation_doi }}</p>
    </div>
    <h2>Files:</h2>
    <div class="check-documents">
      <p class="form-label"><strong>PDF</strong>: {{ pdf_file_name }}</p>

      <p class="form-label"><strong>Illustration image</strong>: {{ article_image }}</p>

      <p class="form-label"><strong>Source</strong>: {{ source_file_name }}</p>

      <p class="form-label"><strong>Bibliographie</strong>: {{ biblio_file_name }}</p>
    </div>
    <form method="POST" action="{% url 'submission-accept' submission_id colid %}" enctype="multipart/form-data" id="submission-form">
      {% csrf_token %}
      <button type="submit" name="submit" class="btn btn-success btn-sm long-action" href="" style="margin-left: 88%"><i class="bi bi-check-lg"></i> <span class="button-text">Accept</span></button>
    </form>

  </div>
</div>
{% endblock center_middle %}

{% block extra_js %}
<script src="{% static 'vuejs/js/chunk-vendors.js' %}"></script>

{% comment %} <script src="{% static 'vuejs/js/app.js' %}"></script> {% endcomment %}
{% endblock %}