{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block center_middle %}
<div class="row d-flex justify-content-center align-items-center h-100 mt-5">
  <div class="col-md-8 col-lg-8 col-xl-8 offset-xl-2">
    <p>Thank you for posting your article <strong>{{submission.article.title_tex}}</strong></p>
    <p>We are processing your request. If you have any questions, you can reach us at contact@peercommunityjournal.org.</p>
    <p class="mt-5"><a href="{% url "submission-create" %}">Submit a new article</a></p>
  </div>
</div>
{% endblock %}
