{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load helpers %}

{% block center_middle %}
<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-8 col-lg-6 col-xl-4">
    <form method="post" action="{% url 'submission-update' submission_id %}" enctype="multipart/form-data" id="submission-form">
      {% csrf_token %}

      {% if  not object.is_submission_form_valid %}
      <div class="alert alert-danger">
        <strong>
          <p>To proceed with the submission process, please upload the following files and then click the 'Next' button.</p>
        </strong>
      </div>
      {% endif %}
      <button type="submit" class="btn btn-lg btn-success {% if not object.is_submission_form_valid %}disabled{% endif %} next-button" id="filesNext1" data-href="{% url 'edit-article' colid doi %}" data-action="next">Next</button>
      
      

      
      <div class="form-outline mb-4">
        {% if object.pdf %}
        <div class="row g-0 justify-content-between">
          <div class="col-8">
            <label for="id_pdf" class="form-label">PDF of your article formatted according to <a href="https://peercommunityjournal.org/page/instructions/#4">author’s instructions</a></label>
            <input class="form-control" type="file" name="pdf" id="id_pdf">
          </div>
          <div class="col-4 align-self-end">
            <p class="text-end">{{object.pdf|basename}}</p>
          </div>
        </div>
        {% else %}
        <label for="id_pdf" class="form-label">PDF of your article formatted according to <a href="https://peercommunityjournal.org/page/instructions/#4">author’s instructions</a></label>
        <input class="form-control" type="file" name="pdf" id="id_pdf">
        {% endif %}
      </div>
      <div class="form-outline mb-5">
        {% if object.source %}
        <div class="row g-0 justify-content-between">
          <div class="col-8">
            <label for="id_source" class="form-label">Editable source file (docx, odt, tex, ...) used to generate this PDF of your article</label>
            <input class="form-control" type="file" name="source" id="id_source">
          </div>
          <div class="col-4 align-self-end">
            <p class="text-end">{{object.source|basename}}</p>
          </div>
        </div>
        {% else %}
          <label for="id_source" class="form-label">Editable source file (docx, odt, tex, ...) used to generate this PDF of your article</label>
          <input class="form-control" type="file" name="source" id="id_source">
        {% endif %}
      </div>

      <div class="form-outline mb-5">
        {% if object.image %}
        <div class="row g-0 justify-content-between">
          <div class="col-8">
            <label for="id_image" class="form-label">Image to illustrate your article on the home page of PCJ (png or jpeg files for which you own the rights, min size: 200*200px, max size: 1600*1600px)</label>
            <input class="form-control" type="file" name="image" id="id_image">
          </div>
          <div class="col-4">
            <figure class="text-end">
              <img src="{{object.image.url}}" height="100"/>
              <figcaption class="text-center">{{object.image|basename}}</figcaption>
            </figure>
          </div>
        </div>
        {% else %}
          <label for="id_image" class="form-label">Image to illustrate your article on the home page of PCJ (png or jpeg files for which you own the rights, min size: 200*200px, max size: 1600*1600px)</label>
          <input class="form-control" type="file" name="image" id="id_image">
        {% endif %}
      </div>
      
      
      
      <div class="form-outline mb-5">
        {% if object.biblio %}
        <div class="row g-0 justify-content-between">
          <div class="col-8">
            <label for="id_biblio" class="form-label">BibTeX file of your article’s references </label>
            <input class="form-control" type="file" name="biblio" id="id_biblio">
          </div>
          <div class="col-4 align-self-end">
            <p class="text-end">{{object.biblio|basename}}</p>
          </div>
          <p>Please do not upload the BibTeX file containing your all your references, but only the references of your article. For non latex users, a .bib file is easily obtained by exporting your references from your reference management software (Endnote, Zotero, Mendeley, …). If you don't use reference management software, you can try <a href="https://anystyle.io/">https://anystyle.io/</a>.  For LaTex users, if you only have a colossal bib file containing the references of your entire life, you should reduce it to the references of your submitted article by using the instructions you can find <a href="https://www.dropbox.com/scl/fi/0obxcpc75spatx6qavtv9/HOW-TO.txt?rlkey=eo1mxvwywxqpz5fwe07t8iy05&dl=1">there</a>.)</p>

        </div>
        {% else %}
          <label for="id_biblio" class="form-label">BibTeX file of your article’s references</label>
          <input class="form-control" type="file" name="biblio" id="id_biblio">
          <p>Please do not upload the BibTeX file containing your all your references, but only the references of your article. For non latex users, a .bib file is easily obtained by exporting your references from your reference management software (Endnote, Zotero, Mendeley, …). If you don't use reference management software, you can try <a href="https://anystyle.io/">https://anystyle.io/</a>.  For LaTex users, if you only have a colossal bib file containing the references of your entire life, you should reduce it to the references of your submitted article by using the instructions you can find <a href="https://www.dropbox.com/scl/fi/0obxcpc75spatx6qavtv9/HOW-TO.txt?rlkey=eo1mxvwywxqpz5fwe07t8iy05&dl=1">there</a>.)</p>

        {% endif %}
      </div>

      {% if form.errors %}
      <div class="mb-4">
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% comment %} <button type="submit" id="files-save-button" class="btn btn-outline-secondary disabled" name="save_for_later" style="background-color: #0d6efd; color:white;" data-action="save">Save</button> {% endcomment %}
      <button data-bs-toggle="modal" data-bs-target="#nextFilesModal" id="filesNext2" type="submit" class="btn btn-lg btn-success {% if not object.is_submission_form_valid %}disabled{% endif %} next-button" data-href="{% url 'edit-article' colid doi %}" data-action="next">Next</button>
      </form>
    <form onsubmit="return confirm('Do you really want to delete the submission?');" id="form-delete-{{submission.pk}}" action={% url 'submission-delete' submission.pk %} method="POST">
    {% csrf_token %}
    <button type="submit" name="submit" class="btn btn-link mt-4 p-0">Delete submission</button>
    </form>

    <div class="modal fade" id="nextFilesModal"  aria-hidden="true" style="text-align: center;">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">The operation might take some time.</h1>
            {% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
          </div>
          <div class="modal-body">
            </br>
            It seems that your files are large in size. The operation may take longer than usual. You will be redirected in a few minutes. Please wait.
            </br>
            <div class="spinner-border m-5" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div class="delete-modal modal-footer">
            <p aria-hidden="true" class="placeholder-glow" style="width: 90%; text-align: center;">
              <span class="placeholder w-75"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>


{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static "editor/js/files.js" %}"></script>
{% endblock %}

