{% if submissions %}
<div class="table-responsive m-5">
  <h2>{{caption}}</h2>
<table class="table table-striped caption-top align-middle {% if with_datatable %}with-datatable{% endif %}">
  <thead class="thead-light">
  <tr>
    <th scope="col">PCI</th>
    <th scope="col">Recommendation DOI</th>
    <th scope="col">Titre</th>
    {% if with_doi %}
    <th scope="col">PCJ DOI</th>
    {% endif %}
    {% if with_user %}
    <th scope="col">User</th>
    {% endif %}
    {% if published %}
      <th scope="col">Date</th>
    {% endif %}
      <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for submission in submissions %}
  <tr>
    <td>{{submission.article.get_subj_text}}</td>
    <td><a href="http://doi.org/{{submission.recommendation_doi}}">{{submission.recommendation_doi}}</a></td>
    <td style="min-width:280px">{{submission.article.title_tex}}</td>
    {% if with_doi %}
      {% if published %}
        <td><a href="https://peercommunityjournal.org/articles/{{submission.article.doi}}">{{submission.article.doi}}</a></td>
      {% else %}
        <td><a href="https://pcj-test.centre-mersenne.org/articles/{{submission.article.doi}}">{{submission.article.doi}}</a></td>
      {% endif %}
    {% endif %}
    {% if with_user %}
    {% with first_user=submission.users.first %}
    <td>{{submission.corresponding_emails_display}}</td>
    {% endwith %}
    {% endif %}
    <td style="min-width: {% if with_accept or with_revert or with_delete or with_post_published_modification %}480{% endif %}px">
      {% if with_delete %}
      <div class="float-end">
        <form onsubmit="return confirm('Do you really want to delete the submission?');" id="form-delete-{{submission.pk}}" action={% url 'submission-delete' submission.pk %} method="POST">
        {% csrf_token %}
        <button type="submit" name="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
        </form>
      </div>
      {% endif %}
      {% if with_accept %}
      <div class="float-end mx-2">
        <form action={% url 'submission-accept' submission.pk colid %} method="POST">
          {% csrf_token %}
          <button type="submit" name="submit" class="btn btn-success btn-sm long-action {% if not is_article_valid or not is_submission_valid %}disable{% endif %}" href=""><i class="bi bi-check-lg"></i> <span class="button-text">Accept</span></button>
        </form>
      </div>
      {% endif %}
      {% if with_revert %}
      <div class="float-end mx-2">
        <form action={% url 'submission-revert' submission.pk %} method="POST">
        {% csrf_token %}
        <button type="submit" name="submit" class="btn btn-secondary btn-sm" href=""><i class="bi bi-skip-backward"></i> Revert</button>
        </form>
      </div>
      {% endif %}
      
      {% if published %}
          {{submission.article.date_published|date:"Y-m-d"}}
      {% else %}
        <a class="btn btn-secondary btn-sm me-1" href="{% url 'convert-file' colid submission.article.doi %}"><i class="bi bi-eye"></i> <span class="button-text">Preview</span></a>
      {% endif %}
      {% if with_delete %}
      <div class="btn-group btn-group-sm">
        <form class="me-1" action={% url 'api-fetch-crossref' colid submission.article.doi %} method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary btn-sm long-action" name="Submit" title="Get references from Crossref"><i class="bi bi-cloud-download"></i></button>
        </form>
        <a class="btn btn-secondary me-1" href="{% url 'submission-download' submission.pk 'src' %}" title="Download the Submission source file"><i class="bi bi-download"></i> Source</a>
        <a class="btn btn-secondary me-1" href="{% url 'submission-download' submission.pk 'bib' %}" title="Download the Submission file with references"><i class="bi bi-download"></i> Refs</a>
      </div>
      {% endif %}
      {% if with_post_published_modification %}
      <div class="float-end mx-2">
      <a class="btn btn-secondary btn-sm me-1" href="{% url 'post-publication-modification' colid submission.article.doi %}"><i class="bi bi-pencil"></i> <span class="button-text">Change HTML</span></a>
      </div>
      {% endif %}
      {% comment %}
      <a class="btn btn-secondary btn-sm" href="{% url 'edit-article' colid submission.article.doi %}"><i class="bi bi-pencil"></i> Edit</a>
      <a href="{% url 'submission-update' submission.pk %}">Edit submission</a>
      {% endcomment %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endif %}

