{% load i18n %}

<div>
  <form class="form-horizontal" method="post" action="{% url 'search' %}">{% csrf_token %}
    <div class="form-group">
      {% if with_browse %}
      <div class="col-xs-2" style="padding-left:0px;padding-right:0px;width:118px">
        <a href="{% url 'book-series' %}" class="btn btn-primary">{% trans 'Parcourir les livres' %}</a>
      </div>
      <div class="col-xs-1 browse-or"><em>{% trans 'ou' %}</em></div>
      <div class="col-xs-7" id="line-container">
      {% elif with_articles %}
      <div class="col-xs-2" style="padding-left:0px;padding-right:0px;width:118px">
        <a href="{% url 'articles' %}" class="btn btn-primary">{% trans 'Afficher les articles' %}</a>
      </div>
      <div class="col-xs-1 browse-or"><em>{% trans 'ou' %}</em></div>
      <div class="col-xs-7" id="line-container">
      {% else %}
      <div class="col-sm-offset-1 col-xs-8" id="line-container">
      {% endif %}
        <div class="input-group search-group">
          <div class="search-group-inner">
            <input class="searchinput form-control" type="text" name="q0" value="{{ qs.0.value }}"
                   {% if not qs.0.name or qs.0.name == 'all' %}placeholder="{% if COLLECTION_PID == 'ALL' %}{% trans 'Rechercher des articles, des livres...' %}{% else %}{% trans 'Rechercher des articles, des auteurs...' %}{% endif %}"{% endif %}/>
            <span class="searchclear glyphicon glyphicon-remove"></span>
          </div>
          <div class="input-group-btn" id="search-group-btn">
            <input type="hidden" name="qt0" value="{% if qs.0.name %}{{ qs.0.name }}{% else %}all{% endif %}">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              {% if not qs.0.name or qs.0.name == 'all' %}
                {% trans 'Tout' %}
              {% elif qs.0.name == 'author' %}
                {% trans 'Auteur' %}
              {% elif qs.0.name == 'body' %}
                {% trans 'Plein texte' %}
              {% elif qs.0.name == 'references' %}
                {% trans 'Bibliographie' %}
              {% else %}
                {% trans 'Titre' %}
              {% endif %}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">{% trans 'Tout' %}</a></li>
              <li><a href="#">{% trans 'Auteur' %}</a></li>
              <li><a href="#">{% trans 'Titre' %}</a></li>
              <li><a href="#">{% trans 'Bibliographie' %}</a></li>
              <li><a href="#">{% trans 'Plein texte' %}</a></li>
            </ul>
            <button id="add-search-field" type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div><!-- /input-group -->

        {% for obj in qs|slice:"1:" %}
          {% include "common/search-form.html" with i=forloop.counter obj=obj write_template=False %}
        {% endfor %}

      </div>
      <div class="col-xs-2 search-button-div">
        <button type="submit" class="btn btn-primary" name="Submit">
          <span class="glyphicon glyphicon-search"></span>
          <span id="search-button-text">{% trans 'Rechercher' %}</span>
        </button>
        {% block help %}
        {% if not with_browse and not with_articles %}
          <a href="{% url 'help' %}"><img src="/static/mersenne_cms/img/question.png"></a>
        {% endif %}
        {% endblock help %}
      </div>
    </div>
  </form>
  <div id="template-search-form" style="display:none">
    {% include "common/search-form.html" with write_template=True %}
  </div>
</div>
