{% load i18n %}
{% load static %}
{% load cms_tags %}

{% get_all_pages request 'top' as pages %}

<header class='container-fluid'>
  <div class='row top-logo-title-row clearfix'>
    <div class='div-logo-mrr'>
      <a href="/">
        <img src="{% static "mrr/img/mrr.png" %}" class="center-block logo-mrr" alt="logo Mathematics Research Reports">
      </a>
    </div>
    <div class="div-top-title">
      <a class="top-title-v" href="/"><img src="{% static "mrr/img/mrr-title-v.png" %}"/></a>
      <a class="top-title-h" href="/"><img src="{% static "mrr/img/mrr-title-h.png" %}"/></a>
    </div>
    <div class="div-menu-lg">
      <div class="mrr-container">
        <nav class="navbar navbar-default">
          <div class="collapse navbar-collapse menu-mrr-navbar-collapse">
            <ul class="nav navbar-nav">
              {% for page, sub_pages, is_active in pages %}
                {% if sub_pages %}
                  <li class="dropdown {% if is_active %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ page.menu_title }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      {% for sub_page in sub_pages %}
                        <li>
                          <a href="{% url 'page_detail' sub_page.slug %}">{{ sub_page.menu_title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  {% if page.is_link %}
                    <li {% if is_active %}class="active"{% endif %}>
                      <a href="{% url 'page_detail' page.slug %}" class="menu-link">
                        {{ page.menu_title }}{% if is_active %} <span class="sr-only">(current)</span>{% endif %}
                      </a>
                    </li>
                  {% else %}
                    <li>
                      <a href="#" class="menu-link">{{ page.menu_title }}</a>
                    </li>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="row div-menu-sm">
      <div class="mrr-container">
        <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mrr-navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="mrr-navbar-collapse">
            <ul class="nav navbar-nav">
              {% for page, sub_pages, is_active in pages %}
                {% if sub_pages %}
                  <li class="dropdown {% if is_active %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ page.menu_title }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      {% for sub_page in sub_pages %}
                        <li>
                          <a href="{% url 'page_detail' sub_page.slug %}">{{ sub_page.menu_title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  {% if page.is_link %}
                    <li {% if is_active %}class="active"{% endif %}>
                      <a href="{% url 'page_detail' page.slug %}" class="menu-link">
                        {{ page.menu_title }}{% if is_active %} <span class="sr-only">(current)</span>{% endif %}
                      </a>
                    </li>
                  {% else %}
                    <li>
                      <a href="#" class="menu-link">{{ page.menu_title }}</a>
                    </li>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </nav>
      </div>
    </div>

  <div class="row search-bar-row">
    <div class="container">
      <div id='search-bar'>
        {% include "common/search-bar.html" with with_browse=True %}
      </div><!-- /#search-bar -->
    </div><!-- /.container -->
  </div><!-- /.row -->
</header>
