{% extends 'admin/base_site.html' %}

{% load static %}

{% block extrahead %}
    <script>window.CKEDITOR_BASEPATH = '{% static "ckeditor/ckeditor/" %}';</script>
    {{ block.super }}
{% endblock extrahead %}

{% block blockbots %}
    {{ block.super }}
    <script>
      if (typeof CKEDITOR !== 'undefined') {
        CKEDITOR.stylesSet.add( 'my_styles', [
            // Block-level styles.
            { name: 'Blue Title', element: 'h2', styles: { color: 'Blue' } },
            { name: 'Red Title',  element: 'h3', styles: { color: 'Red' } },

            // Inline styles.
            { name: 'CSS Style', element: 'span', attributes: { 'class': 'my_style' } },
            { name: 'Marker: Yellow', element: 'span', styles: { 'background-color': 'Yellow' } }
        ]);
      }
    </script>
{% endblock blockbots %}
