{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
  <div class="right_col" role="main">
    <h1>Archivage Numdam : Tâches en Erreur </h1>
    <ul class="list-group">
      {% for task in object_list %}
      <li class="list-group-item">
        <a href="{% url 'tasks-retry' task.pk %}" class='btn btn-primary btn-sm'><span class="glyphicon glyphicon-repeat"></span> Retry</a>
        <button id="deleteTaskButton" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteTaskModal" data-url="{% url 'tasks-delete' pk=task.pk %}" data-taskargs="{{ task.task_args }}">
          <span class="glyphicon glyphicon-trash"></span></a>
        </button>
        {{ task.task_name }} - {{ task.task_args }}
      </li>
      {% empty %}
      <li class="list-group-item">Good news : no tasks in error</li>
      {% endfor %}
    </ul>
    <a href="{% url 'numdam' %}">Back to Numdam</a>
    <!-- Modal de suppression -->
    <div class="modal fade" id="deleteTaskModal" tabindex="-1" role="dialog" aria-labelledby="deleteEtat" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title">Suppression de la tâche : <small id='task-args'></small></h5>
          </div>
          <form id="delete-form" method="post">{% csrf_token %}
            <div class="modal-body">
              <p>Êtes-vous sûr(e) ?</p>
            </div>
            <div class="modal-footer">
              <input class="btn btn-default" type="button" value="Annuler" data-dismiss="modal">
              <input class="btn btn-primary" type="submit" value="Supprimer">
            </div>
          </form>
        </div>
      </div>
    </div><!--/.modal de suppression -->
  </div>
{% endblock content %}
{% block extrajs %}
    <script type='text/javascript' src="{% static "ptf-tools/js/task_delete.js" %}"></script>
{% endblock extrajs %}
