{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "comments_views/core/vendors/font-awesome_6.3.0/css/fontawesome.min.css" %}" />
<link rel="stylesheet" href="{% static "comments_views/core/vendors/font-awesome_6.3.0/css/solid.min.css" %}" />
<link rel="stylesheet" href="{% static "comments_moderation/css/dashboard/dashboard_comments.css" %}">
<link rel="stylesheet" href="{% static "comments_views/core/css/dashboard/page_content_comments.css" %}">
<link rel="stylesheet" href="{% static "ptf/css/custom-alerts.css" %}">
{% endblock extra_css %}

{% block extrajs %}
<script src="{% static "ptf/js/mathjax-config.js" %}" defer></script>
<script src="{% static "comments_views/core/js/dashboard_comments.js"%}"></script>
<script type="text/javascript" id="MathJax-script" defer
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script src="{% static "ptf/js/custom-alerts.js" %}"></script>
{% endblock extrajs %}

{% block content %}
{% include "common/common-message-snack-bar.html"%}

<div class="right_col comment-centered-content-container">
  <div id="comment-dashboard-content-wrapper" class="comment-container-trammel">
    {% block comment_content %}
    {% endblock comment_content %}
  </div>
{% endblock %}
