{% extends "dashboard/blocks/comment_wrapper.html" %}
{% load static %}

{% if form_moderators %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "ptf/css/custom-modal.css" %}">
<link rel="stylesheet" href="{% static "comments_moderation/css/moderators.css" %}" />
{% endblock extra_css %}

{% block extrajs %}
{{ block.super }}
<script src="{% static "ptf/js/custom-modal.js" %}"></script>
<script src="{% static "comments_moderation/js/moderators.js" %}"></script>
{% endblock extrajs %}

{% block content %}
{% include "common/comment_add_moderator_modal.html" %}
{% if moderator_remove_form %}
{% include "common/comment_edit_moderators_modal.html" %}
{% endif %}
{{ block.super }}
{% endblock content %}

{% endif %}
