{% extends "base.html" %}
{% load i18n %}
{% load stringsfilter %}
{% load gdml %}

{% block title %}
  Geodesic - {% if document_type == "journal" %}{% trans 'Revues' %}{% else %}{% trans 'Séminaires' %}{% endif %}
{% endblock %}

{% block content %}
<div class="flex-grow-1">
  <div class="row mt-5">
    <div class="col-12">
      <h5>Filtrer</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="input-group">
        <input id="journal-filter" type="text" class="form-control" placeholder="{% trans "Titre" %}">
        <span id="journal-filter-remove" class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <select id="source-select" class="form-select" aria-label="Source">
          <option value="ALL" {% if not source_id %}selected{% endif %}>All Sources</option>
          {% for source in sources %}
            <option value="{{source.domain}}" {% if source_id == source.domain %}selected{% endif %}>{{source.name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="row mt-3 mb-5">
    <div class="col-12">
      <div class="btn-toolbar">
        <div class="btn-group btn-group-sm">
        {% for item in letters %}
          {% if item.found %}<button class="btn btn-outline-secondary btn-letter" data-letter="{{ item.name }}">{{ item.name }}</button>
          {% else %}
            <button class="btn btn-outline-secondary disabled">{{ item.name }}</button>
          {% endif %}
        {% endfor %}
          <button class="btn btn-outline-secondary btn-letter active" data-letter="all">{% trans 'Tous' %}</button>
        </div>
      </div>
    </div>
  </div>

  {% for collection in collections %}
    <div class="journal-grid row {% if forloop.counter|divisibleby:2 %}row-even{% else %}row-odd{% endif %}"
         data-journal="{{collection.title_tex|lower}} {{collection.pid|lower}}"
         data-letter="{{collection.title_tex|first_letter_in_ascii}}"
         data-source="{{collection|get_data_source}}"
         style="display:none">
      <div class="col-12 journal-list">
        <div style="padding-top:10px">
          <a href="{% url 'collection-issues' collection.pid %}">
            {% include 'common/common-title.html' with item=collection for_search=True %}
          </a>
          {%  if collection.fyear > 0 %}
            : {{ collection.fyear }}
            {% if collection.lyear > collection.fyear %}
              - {{ collection.lyear }}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  <div style="height:1000px"></div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
  window.onload = function() {
    document.getElementById('journal-filter').focus();
    filterBySource();
  };
</script>
{% endblock extra_js %}
