{% extends "base.html" %}
{% load i18n %}
{% load stringsfilter %}
{% block page_id %}journals{% endblock %}

{% block title %}
  Geodesic - Sources
{% endblock %}

{% block content %}
<div class="flex-grow-1">
  <div class="row mt-5">
    <div class="col-12">
      <h3>Sources</h3>
    </div>
  </div>

  {% for source in sources %}
    <div class="row mt-3">
      <div class="col-6 col-lg-4">
        <a class="article-title" href="{{ source.url }}">{{ source.name }}</a>
      </div>
      <div class="col-6">
        {% for coltype, documents_data in source.documents.items %}
          {% if forloop.counter > 1 %}<br/>{% endif %}
          {{ documents_data.items_count }}
          {% if coltype == "journal" %}
             Articles
          {% elif coltype == "acta" %}
            {% trans 'Actes de séminaires' %}
          {% elif coltype == "proceeding" %}
            {% trans 'Actes de congrès' %}
          {% else %}
            {% trans 'Livres' %}
          {% endif %}
          {% trans 'dans' %} <a href="{{documents_data.url}}">{{ documents_data.collections_count }}
          {% if coltype == "journal" %}
             {% trans 'Revue' %}{{ documents_data.collections_count|pluralize }}
          {% elif coltype == "acta" %}
            {% trans 'Séminaires' %}
          {% elif coltype == "proceeding" %}
            {% trans "Congrès" %}{{ documents_data.collections_count|pluralize }}
          {% else %}
            {% trans 'Collections de Livres' %}
          {% endif %}
          </a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

