:root {
    font-size: 14px;
    --gap-section: 3rem;
    --color-primary: #2a3f54;
    --color-secondary: white;
    --color-link: #356391;
    --animation-slide-transform: translateX(-100%);
    --animation-slide-duration: 750ms;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--color-link);
    /* font-weight: bold; */
    text-decoration: unset;
}

a:hover {
    text-decoration: underline;
}

body {
    min-height: 100vh;
    margin: unset;
    padding: unset;
}

h1 {
    font-size: 1.8rem;
}


#allauth-page-template {
    width: 100vw;
    padding: 4rem 1rem;
    width: 100%;
    display: grid;
    /* grid-template-columns: 100%; */
    justify-items: center;
}

#allauth-page-content {
    width: min(100%, 550px);
    display: flex;
    flex-direction: column;
    gap: var(--gap-section);
}

#allauth-page-header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-around;
    align-items: center;
}

#allauth-img-title {
    width: 180px;
    height: 180px;
}

#allauth-page-form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-section);
}

form.allauth-form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-section);
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.form-input {
    width: 100%;
    font-size: 0.9rem;
}

.form-inline-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
}

.form-input-label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-input.required .form-input-label::after {
    content: " *";
    color: rgb(156, 33, 33);
}

.form-inline-input .form-input-widget.checkbox {
    margin-top: -0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    font-size: 0.9rem;
    text-indent: 0.8rem;
    height: 3rem;
    width: 100%;
}

input[type="checkbox"] {
    box-sizing: border-box;
    font-size: 0.9rem;
    height: 1.3rem;
    width: 1.3rem;
}

.form-input-help-text {
    /* text-align: center; */
    margin-left: 1rem;
    margin-top: 0.2rem;
    font-style: italic;
}

.allauth-form-footer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
    text-align: center;
}

.allauth-form-buttons button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: 1px solid var(--color-primary);
    transition: all 0.25s ease-in-out;
    border-radius: 4px;
    font-weight: bold;
}

.allauth-form-buttons button:hover,
.allauth-form-buttons button:focus,
.allauth-form-buttons button:focus-visible {
    cursor: pointer;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}


.message-error {
    font-size: 0.9rem;
    text-align: left;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.allauth-form .form-input,
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: var(--animation-slide-transform);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.25,0.75,0.7, 1);
    transition-duration: var(--animation-slide-duration);
}

.allauth-form .form-input.show,
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.allauth-form .form-input:nth-child(2) {
    transition-delay: 75ms;
}

.allauth-form .form-input:nth-child(3) {
    transition-delay: 150ms;
}

.allauth-form .form-input:nth-child(4) {
    transition-delay: 225ms;
}

.allauth-form .form-input:nth-child(5) {
    transition-delay: 300ms;
}

.allauth-form .form-input:nth-child(6) {
    transition-delay: 375ms;
}

.allauth-form .form-input:nth-child(7) {
    transition-delay: 450ms;
}

.allauth-form .form-input:nth-child(8) {
    transition-delay: 525ms;
}

@media all and (width < 1000px) {
    :root {
        --animation-slide-transform: translateX(-50%);
        --animation-slide-duration: 500ms;
    }
}

@media all and (width < 600px) {
    :root {
        font-size: 13px;
    }

    #allauth-img-title {
        width: 33vw;
        height: 33vw;
    }
}

@media all and (width < 500px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
