/* CSS for mesh/header.html template */
header {
    position: fixed;
    z-index: 10;
    top: 0px;
    height: var(--header-height);
    width: calc(100% - var(--sidebar-width));
    background-color: var(--header-background-color);
    box-shadow: 5px 0px 5px 0px #a4a4a4;
    color: var(--color-secondary);
    text-align: center;
}

header a,
header .as-link {
    color: var(--color-secondary);
    text-decoration: underline;
}


header a:hover,
header .as-link:hover {
    color: var(--color-tertiary);
}

header a:focus,
header a:focus-visible,
header .as-link:focus-visible,
header .as-link:focus {
    color: inherit;
    background-color: inherit;
    outline: 3px solid #b4b4b4;
}

#header-content {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    margin-top: 0.1rem;
}

#header-left-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
}

#header-right-content {
    float: right;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center
}

#mesh-sidebar-toggle {
    display: none;
    width: 1.2rem;
    padding: 0.3rem;
    border: unset;
}

#header-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.1rem;
    font-size: 1.6rem;
    font-weight: bold;
    max-width: 30vw;
    text-decoration: unset;
}

#mesh-app-name-subtitle{
    font-size: 1.1rem;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
}

.header-badge {
    padding: 0.4rem 0.8rem;
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
    white-space: nowrap;
    color: var(--color-secondary);
    overflow: hidden;
    max-width: 35vw;
    text-overflow: ellipsis;
}

.header-badge.limit-width {
    max-width: 30vw;
}

#mesh-user-role-indicator,
#mesh-dropdown-user-role a.btn-secondary {
    color: var(--role-color);
    border: 1px solid var(--role-color);
    background-color: var(--header-background-color);
}

#mesh-dropdown-user-role .dropdown-menu {
    background-color: var(--header-background-color);
}

#mesh-dropdown-user-role .dropdown-item {
    color: var(--role-color);
}

#mesh-dropdown-user-role .dropdown-item:hover {
    background-color: var(--role-color);
    color: var(--header-background-color);
}

#mesh-impersonate-indicator {
    border-color: var(--color-impersonate);
    color: var(--color-impersonate);
    display: none;
}

.mesh-role-item {
    color: var(--role-color);
}

.mesh-impersonate-item,
a.mesh-impersonate-item,
.as-link.mesh-impersonate-item {
    color: var(--color-impersonate);
}

.mesh-impersonate-active #mesh-impersonate-indicator {
    display: block;
}

#mesh-user-menu {
    position: relative;
    float: right;
}

#mesh-user-menu .custom-dropdown-content {
    text-align: left;
    right: 0.5rem;
    margin-top: 0.8rem;
    background-color: var(--header-background-color);
    padding: 1rem;
    border-radius: 4px;
    width: max-content;
    box-shadow: 0px 0px 4px 1px #a8a8a8;
    outline: 4px solid #ddd;
    outline-offset: 0px;
    transition: all 0.2s ease-out;
}

#mesh-user-menu-content {
    min-width: min(380px, calc(100vw - 5rem));
    max-width: min(calc(100vw - 5rem), 400px);
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

#mesh-user-menu-toggle {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: baseline;
    font-size: 1.1rem;
    padding: 0.3rem 0.5rem;
    white-space: nowrap;
    transition: all 0.2s ease-out;
    border-radius: 4px;
}

#mesh-user-menu-toggle:hover,
#mesh-user-menu-toggle:focus-visible,
.custom-dropdown-open #mesh-user-menu-toggle {
        background-color: var(--color-secondary);
        color: var(--color-primary);
}

#mesh-user-menu-content .menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#mesh-user-menu-content .menu-item-content {
    word-break: normal;
}

#mesh-user-menu-content .menu-item-content.nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#mesh-user-menu-content .menu-item:last-child {
    text-align: center;
}

#mesh-user-menu-content .menu-subitem {
    margin-left: 2rem;
}

.role-switch-item {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: fit-content;
    min-width: 100%;
}

.role-switch-item form.active button {
    color: var(--color-tertiary);
    border-color: var(--color-tertiary)
}

.role-switch-item form.active button:hover {
    background-color: unset;
    color: var(--color-tertiary);
    border-color: var(--color-tertiary);
    cursor: unset;
}

#mesh-user-menu-content .menu-form-button {
    border: 1px solid var(--color-secondary);
}

.menu-item-icon-journal_section {
    display: inline-flex;
    justify-content: center;
    flex: 0 0 2.5rem;
    font-size: 1.2rem;
}

#mesh-user-menu-content form.menu-item {
    justify-content: center;
}

.user-menu-separator {
    margin: 0.5rem 0;
    content: "";
    height: 0;
    border-bottom: 1px solid var(--color-secondary);
}

/* Hide sidebar */
@media all and (width < 1200px) {
    #mesh-app-name-subtitle {
        display: none;
    }
    header {
        width: 100%;
    }
    #mesh-sidebar-toggle {
        display: unset;
    }
}

@media all and (width < 992px) {
    #mesh-user-menu-label {
        display: none;
    }

    #mesh-user-menu-toggle {
        text-align: center;
        width: 2rem;
        height: 2rem;
        box-sizing: border-box;
    }

    #header-left-content {
        gap: 1rem;
    }

    #header-nav-bar-default {
        display: none;
    }

    #header-nav-bar-small {
        display: unset;
    }

    #header-nav-bar-small-toggle:hover,
    .custom-dropdown-open #header-nav-bar-small-toggle {
        color: var(--color-tertiary)
    }
    #header-nav-bar-small .custom-dropdown-content {
        right: unset;
    }

    #header-nav-journal_section {
        display: flex;
        flex-direction: column;
        background-color: var(--color-primary);
    }

    .header-nav-item {
        font-size: 1rem;
    }
}

@media all and (width < 576px) {
    #header-left-content {
        gap: 0.5rem;
    }

    #mesh-user-role-indicator.limit-width .user-role-label {
        display: none;
    }
}
