.mesh-log-item-wrapper {
    margin-left: 3.5rem;
    position: relative;
    padding-bottom: 1.25rem;
}

.mesh-log-item-wrapper:before {
    position: absolute;
    content: "";
    width: 2px;
    background-color: var(--color-primary);
    bottom: 0;
    left: -2.55rem;
    top: 0;
    margin-top: 0.5rem;
    height: 100%;
    display: block;
}

.mesh-log-item-wrapper:last-child:before {
    all: unset;
}

.mesh-log-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    left: -3.5rem;
    top: 0.3rem;
    width: 2rem;
    height: 2rem;
}

.mesh-log-item {
    padding: 0.5rem 0.5rem;
    width: fit-content;
    border-radius: 4px;
    max-width: 1000px;
    /* background-color: #f4f4f4;
    box-shadow: 0px 0px 4px 0px #b5b5b5; */
}

.log-content {
    width: fit-content;
    border-bottom: 1px dashed grey;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.log-metadata {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.9rem;
    width: fit-content;
}

.log-author-name {
    color: var(--color-primary);
    font-weight: bold;
}

.log-author-impersonate {
    font-weight: bold;
    color: var(--color-impersonate);
}
