.page-title {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#table-review-files {
    margin: unset;
}

.review-file {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* justify-content: space-evenly; */
}

#review-data {
    gap: 0.5rem;
    row-gap: 1.7rem;
}

.form-buttons {
    margin-top: 1rem;
    text-align: center;
}

td.author-access,
th.author-access {
    width: 150px;
}

.inline-badge {
    padding: 3px 5px;
    font-weight: bold;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: 3px;
}

.recommendation.accepted {
    background-color: var(--color-success);
}

.recommendation.rejected {
    background-color: var(--color-error);
}

.recommendation.rev_requested {
    background-color: goldenrod;
}
