#mesh-sidebar {
    width: var(--sidebar-width);
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-color);
    position: fixed;
    left:0;
    top: 0;
    bottom: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transform: translate3d(0, 0, 0);
    transition: transform var(--sidebar-transition);
    box-shadow: 2px var(--header-height) 5px 0px #8a8a8a;
    z-index: 600;
}

#mesh-sidebar-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.45)
}

#mesh-sidebar hr {
    all: unset;
    width: 100%;
    height: 0px;
    border-bottom: 1px solid;
}

#mesh-sidebar-logo {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 1rem calc(0.1*var(--sidebar-width));
}

#mesh-sidebar-logo img {
    max-width: 100%;
}

.mesh-sidebar-nav-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: var(--sidebar-color);
    text-decoration: none;
    padding: 1rem 0;
}

.mesh-sidebar-nav-item:hover,
.mesh-sidebar-nav-item:focus {
    background-color: var(--sidebar-color);
    color: var(--sidebar-background-color);
    transition: 0.15s ease-out;
}

.mesh-sidebar-nav-item > i {
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.mesh-sidebar-nav-item > .nav-item-label {
    padding: 0 1rem 0 0;
}

/* Hide sidebar */
@media all and (width < 1200px) {
    #mesh-sidebar {
        transform: translate3d(calc(-1 * var(--sidebar-width)), 0, 0);
        box-shadow: unset;
    }

    #mesh-sidebar.active {
        transform: translate3d(0, 0, 0);
        box-shadow: initial;
    }

    #mesh-sidebar-background.active {
        display: unset;
        z-index: 599;
    }
}
