:root {
    font-size: 14px;
    --color-primary: #2a3f54;
    --color-highlight: #6ABFAC;
    --color-secondary: white;
    --color-tertiary: gold;
    --color-error: #a94442;
    --color-success: #155724;
    --color-info: #0c5460;
    font-family: sans-serif, Helvetica, Arial;
    --color-link: rgb(45, 45, 139);
    --color-link-hover: rgb(45, 136, 139);
    --color-breadcrumb: black;
    --color-breadcrumb-last: var(--color-link-hover);
    --color-impersonate: rgb(255, 156, 68);
    --role-color: #baffd1;
    --sidebar-width: 17rem;
    --header-height: 3rem;
    --footer-height: 0rem;
    --breadcrumb-height: 3.5rem;
    --sidebar-transition: 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    --sidebar-background-color: #1e2f40;
    --sidebar-color: var(--color-secondary);
    --header-background-color: #1e2f40;
    --default-background-color: #eeeeee;
    background-color: var(--default-background-color);
    --component-background-color: white;
    --tooltip-color: white;
    --tooltip-background-color: rgba(0, 0, 0, 0.9);
    --disabled-background-color: #ddd;
    --disabled-color: #999;
}

* {
    box-sizing: border-box;
}

.color-error {
    color: var(--color-error);
}

.color-success {
    color: var(--color-success);
}

.color-info {
    color: var(--color-info);
}

.color-primary {
    color: var(--color-primary)
}

/* Override custom-alerts.css style */
.custom-alert-messages {
    /* Make the margin slightly bigger than the nav-bar height */
    margin-top: calc(var(--header-height) + 0.5rem) !important;
}

body {
    all: unset;
    box-sizing: border-box;
    --top-fixed-height: var(--header-height);
}

body.with-breadcrumb {
    --top-fixed-height: calc(var(--header-height) + var(--breadcrumb-height));
}

.display-none {
    display: none !important;
}

a {
    color: var(--color-link);
}

a:hover {
    color: var(--color-link-hover);
}

button,
.as-button {
    all: unset;
    padding: 0.5rem;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: 4px;
    transition: 0.1s ease-out;
    font-weight: bold;
    display: inline-flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    align-items: baseline;
}

header button,
header .as-button,
#sidebar button,
#sidebar .as-button {
    background-color: transparent;
    display: inline;
}

button:hover,
button:focus,
button.active,
.as-button:hover,
.as-button:focus {
    cursor: pointer;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

button.active {
    cursor: initial;
}

button.inactive {
    background-color: var(--disabled-background-color);
    color: var(--disabled-color);
    border-color: var(--disabled-background-color);
}

button.inactive:hover {
    filter: brightness(90%);
}

.as-link {
    all: unset;
    display: inline;
    color: var(--color-link);
    cursor: pointer;
}

.as-link:hover {
    color: var(--color-link-hover);
    background-color: inherit;
}

.button-highlight {
    border: 1px solid var(--color-tertiary);
    background-color: var(--color-tertiary);
    color: black;
}

.button-light {
    border: 1px solid var(--color-primary);
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.button-light:hover,
.as-button:focus {
    background-color: var(--color-secondary);
    filter: brightness(95%);
    color: var(--color-primary);
}

.button-success {
    background-color: var(--color-success);
    color: var(--color-secondary);
    border: 1px solid var(--color-success);
}

.button-success:hover,
.button-success:focus {
    background-color: var(--color-secondary);
    color: var(--color-success);
}

.button-error {
    background-color: var(--color-error);
    color: var(--color-secondary);
    border: 1px solid var(--color-error);
}

.button-error:hover,
.button-error:focus {
    background-color: var(--color-secondary);
    color: var(--color-error);
}

.button-info {
    background-color: var(--color-info);
    color: var(--color-secondary);
    border: 1px solid var(--color-info);
}

.button-info:hover,
.button-info:focus {
    background-color: var(--color-secondary);
    color: var(--color-info);
}

.flex-row-break {
    height: 0;
    flex-basis: 100%;
}

*:focus-visible,
button.as-link:focus-visible,
input.delete-link:focus-visible,
.custom-form .form-input-file:focus-visible + .form-input-file-label {
	outline: 3px solid #b4b4b4;
}

#mesh-page-wrapper {
    margin-left: var(--sidebar-width);
    min-height: calc(100vh - var(--top-fixed-height));
    display: flex;
    flex-direction: column;
    position: relative;
    transition: margin-left var(--sidebar-transition);
}

main {
    position: relative;
    top: var(--top-fixed-height);
    text-align: center;
    flex-grow: 1;
}

#main-content {
    --content-width: calc(min(1600px, 100%) - 2rem);
    position: relative;
    width: calc(var(--content-width) + 2rem);
    padding: 0 1rem;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    text-align: initial;
}

footer {
    height: var(--footer-height);
    width: 100%;
    background-color: var(--color-primary);
    text-align: center;
}

.page-title-block {
    font-size: 2rem;
    /* display: flex; */
    gap: 0.8rem;
    padding: 1rem 0 1.5rem 0;
    border-bottom: 2px solid rgb(71, 71, 71);
    align-items: end;
}

.page-title {
    padding: 0rem 0.5rem;
}

.page-title-action {
    font-size: 0.9rem;
}

button.delete-link,
input.delete-link {
    color: #a94442;
    font-size: 0.9em;
}

button.delete-link:hover,
input.delete-link:hover {
    text-decoration: underline;
    color: #580f0e;
}

/* [BEGIN] Page content general styles */
#mesh-page-journal_section {
    width: 100%;
    box-sizing: border-box;
}

#mesh-page-content-header {
    width: 100%;
    margin: 1rem 0;
}

#mesh-page-content {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    /* overflow: auto; */ /* THIS BREAKS STICKY POSITIONING */
}

.mesh-page-content-section {
    padding: 0.5rem;
}

.mesh-page-content-section .section-title {
    font-size: 1.3rem;
    color: var(--color-primary);
    font-weight: bold;
    padding: 0.5rem;
}

.mesh-page-content-section .section-separator {
    content: "";
    height: 0px;
    margin: 0.25rem 0;
    width: min(800px, 100%);
    border: 2px solid var(--color-primary);
    opacity: 0.75;
}

.mesh-page-content-section .section-subtitle {
    display: inline-block;
    font-size: 1rem;
    color: initial;
    font-style: italic;
}

.mesh-page-content-section .section-actions {
    display: inline-block;
    font-size: 1rem;
    margin-left: 1rem;
}

.mesh-page-content-section .section-content {
    padding: 1rem;
}

#mesh-submission-description .section-content {
    font-style: italic;
}

.mesh-page-content-section .section-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mesh-page-content-section .item-block {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
    overflow: auto;
}

.mesh-page-content-section .item-block .item-title {
    min-width: 170px;
    text-align: center;
    background-color: #d2eaff;
    padding: 0.5rem 0.2rem;
    border-radius: 4px;
    font-weight: bold;
}

.mesh-page-content-section .item-block .item-content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.mesh-page-content-section .item-block .item-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 10rem;
}

.mesh-page-content-section .item-block .item-file i.fa-solid {
    font-size: 3rem;
}

.mesh-page-content-section .item-block .item-file-title {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.content-sticky {
    position: sticky;
    top: var(--top-fixed-height);
    z-index: 4;
}

/* [END] Page content general styles */

/* [BEGIN] Submission list */
#submission-lists {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#submission-lists.disabled .submission-list-content {
    color: var(--disabled-color);
}

.submission-list-title-block {
    font-weight: bold;
    height: fit-content;
    border-bottom: 2px solid var(--color-primary);
    width: 100%;
    background-color: var(--default-background-color);
}

.submission-list-title {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem;
    padding-bottom: 0.8rem;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.submission-list.todo .submission-list-title {
    background-color: var(--color-error);
}

.submission-list.todo .submission-list-title-block {
    border-color: var(--color-error);
}

.submission-list.waiting .submission-list-title {
    background-color: var(--color-info);
}

.submission-list.waiting .submission-list-title-block {
    border-color: var(--color-info);
}

#submission-lists.disabled .submission-list.todo .submission-list-title,
#submission-lists.disabled .submission-list.waiting .submission-list-title,
#submission-lists.disabled .submission-list.archived .submission-list-title {
    background-color: var(--disabled-background-color);
}

#submission-lists.disabled .submission-list.todo .submission-list-title-block,
#submission-lists.disabled .submission-list.waiting .submission-list-title-block,
#submission-lists.disabled .submission-list.archived .submission-list-title-block{
    border-color: var(--disabled-background-color);
}


.submission-list-actions {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: center;
}

.submission-list-actions a,
.submission-list-actions button,
.submission-list-actions form {
    /* 34% implies max. 2 elements per line. */
    flex: 1 0 34%;
    flex-wrap: nowrap;
    white-space: nowrap;
    box-sizing: border-box;
}

.mesh-submission-table tbody {
    font-size: calc(1rem - 1px);
}

.mesh-submission-table td.submission-action-column,
.mesh-submission-table th.submission-action-column {
    /* The column will actually stretch to fit content if content width > 200px. */
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    text-align: center;
}

/* TODO: Find better CSS rule to auto adjust width + text-ellipsis */
.mesh-submission-table {
    --cell-title-width: max(min(20vw, 450px), 200px);

}

.mesh-submission-table th.submission-title,
.mesh-submission-table td.submission-title {
    width: var(--cell-title-width);
    min-width: var(--cell-title-width);
    max-width: var(--cell-title-width);
    padding: 1rem;
}

.mesh-submission-table .submission-name {
    display: block;
    min-width: calc(var(--cell-title-width) - 2rem);
    max-width: calc(var(--cell-title-width) - 2rem);
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
    font-size: 1rem;
    font-weight: bold;
}


.mesh-submission-table .submission-author {
    margin-left: 1rem;
}

.mesh-submission-table .submission-review-summary {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: nowrap;
}

.mesh-submission-table .submission-review-summary > * {
    white-space: nowrap;
}

.mesh-submission-table .submission-review-summary i {
    color: var(--color-primary);
}

.submission-state {
    color: var(--color-info);
}

.submission-state.emphasize {
    color: var(--color-error);
}

#role-submissions {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.3rem;
    align-items: center;
}

#role-submissions-label i {
    color: var(--color-primary);
    font-size: 1.15em;
}

.role-submission button {
    display: block;
    white-space: nowrap;
}

.role-submissions button.active {
    outline: 1px solid var(--color-primary);
}

.role-submissions button.active::after {
    position: absolute;
    bottom: -8px;
    left: 6px;
    content: "";
    height: 3px;
    width: calc(100% - 12px);
    background-color: var(--color-primary);
    box-shadow: 2px 5px 4px 0 #7a7a7a;
}

.role-submissions-number {
    margin: 0 0.2rem;
}

.submission-state {
    --submission-state-color: #8a8a8a;;
    font-weight: bold;
    width: fit-content;
    padding: 3px 5px;
    background-color: var(--submission-state-color);
    color: var(--color-secondary);
    border-radius: 3px;
}

/*
.submission-state.opened {
    --submission-state-color: #8a8a8a;
}

.submission-state.submitted {
    --submission-state-color: var(--color-primary);
}

.submission-state.review {
    --submission-state-color: goldenrod;
}

.submission-state.rev_requested {
    --submission-state-color: #8a8a8a;
}

.submission-state.rev_submited {
    --submission-state-color: var(--color-primary);
}

.submission-state.accepted {
    --submission-state-color: var(--color-success);
}

.submission-state.rejected {
    --submission-state-color: var(--color-error);
}
*/

/* [END] Submission list */

.mesh-component {
    background-color: var(--component-background-color);
    border-radius: 4px;
    padding: 1rem;
}

/* [BEGIN] Collapse element & toggle */
.custom-collapse {
    display: none;
}

.custom-collapse.show {
    display: initial;
}
/* [END] Collapse element & toggle */

.existing-item-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    justify-content: center;
}

.existing-item-list.single-column {
    flex-direction: column;
}

.existing-item {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex: 0.3 0 min(100%, 450px);
    align-items: center;
    justify-content: space-between;
    border: 1px solid #999;
    border-radius: 4px;
}

.existing-item-list.single-column .existing-item  {
    flex: unset;
    width: min(100%, 550px);
}

#existing-authors .existing-item {
    flex-basis: min(100%, 550px);
}

#existing-authors.single-column .existing-item  {
    flex: unset;
    width: min(100%, 700px);
}

.existing-item-name {
    color: var(--color-primary);
    font-weight: bold;
    word-break: normal;
}

.existing-item-badge {
    font-weight: normal;
    font-size: 0.8rem;
    padding: 0.1rem 0.25rem;
    border-radius: 2px;
}

.existing-item-actions {
    display: flex;
    flex-direction: row;
    gap: 0.15rem;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.existing-item-actions button,
.existing-item-actions a {
    flex-wrap: nowrap;
}

button.primary {
    background-color: goldenrod;
    color: white;
    border-color: goldenrod;
}

button.primary:hover {
    background-color: white;
    color: goldenrod;
    cursor: pointer;
}

.form-stepper-journal_section {
    padding: 1rem;
    margin: 1.5rem 0;
    border-radius: 5px;
    border: 2px solid #acacac;
    /* position: sticky;
    top: var(--top-fixed-height);
    background-color: var(--default-background-color);
    z-index: 1; */
}

.form-stepper-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-primary);
    padding: 0.2rem;
    margin-bottom: 0.5rem;
}

form.form-mesh-button button {
    width: 100%;
    box-sizing: border-box;
}

.raw-data-display {
    display: grid !important;
    grid-template-columns: minmax(100px, 250px) 1fr;
    row-gap: 1.5rem;
    /* border: 3px solid #5b6a7a;
    border-radius: 20px; */
}

.raw-data-display > *:nth-child(odd) {
    font-weight: bold;
    color: var(--color-primary);
}

.raw-data-display > *:nth-child(odd)::after {
    content: ":";
}

.ckeditor-content > *:first-child {
    margin-top: unset
}

.ckeditor-content > *:last-child  {
    margin-bottom: unset;
}

.review-author-availability {
    display: flex;
    flex-direction: row;
    width: fit-content;
    flex-wrap: nowrap;
    gap: 0.35rem;
    align-items: center;
}

@media all and (width < 1500px) {
    .mesh-submission-table td.submission-action-column,
    .mesh-submission-table th.submission-action-column {
        width: unset;
        min-width: unset;
        max-width: unset;
    }
    :root {
        font-size: 13px;
    }
}

/* Hide sidebar */
@media all and (width < 1200px) {
    #mesh-page-wrapper {
        margin-left: 0;
    }
}

@media all and (width < 768px) {
    :root {
        font-size: 12px;
    }

    body.with-breadcrumb {
        --top-fixed-height: var(--header-height);
    }

    /* No sticky elements on small screens. */
    .content-sticky {
        position: unset;
        z-index: unset;
        top: unset;
    }

    .page-title-block {
        align-items: center;
    }

    .page-title-action-text {
        display: none;
    }

    .page-title-action {
        margin-left: 1rem;
    }

    .form-stepper-journal_section {
        padding-left: 2rem;
    }

    .existing-item-actions {
        flex-wrap: wrap;
    }

    .raw-data-display {
        grid-template-columns: 1fr;
    }

    .raw-data-display > *:nth-child(even) {
        margin-left: 1rem;
    }
}
