/* CSS for mesh/submission/submission_details.html template */
#mesh-submission-metadata {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
}

.mesh-submission-metadata-column {
    display: flex;
    flex-direction: column;
    gap: 0.3rem
}

.mesh-submission-metadata-column:first-child {
    text-align: left;
}

.mesh-submission-metadata-column:last-child {
    align-items: flex-end;
}

.submission-name {
    color: var(--color-primary);
    font-weight: bold;
}

/* TODO - Responsive: Change this style when width decreases. */
.mesh-submission-metadata-column:last-child > * {
    word-break: keep-all;
    white-space: nowrap;
}

#mesh-submission-metadata .submission-name {
    font-size: 1.6rem;
}

#mesh-submission-metadata .submission-author,
#mesh-submission-metadata .submission-journal {
    margin-left: 1rem;
}

.value {
    font-weight: bold;
    font-style: italic;
}

#mesh-submission-metadata .submission-state {
    font-weight: bold;
    font-size: 1.1rem;
}

#mesh-submission-metadata .submission-assigned-editors {
    max-width: min(800px, 60vw);
    white-space: initial;
    word-break: normal;
}

#mesh-submission-metadata .submission-assigned-editor {
    white-space: nowrap;
    color: var(--color-primary);
    font-weight: bold;
}

#mesh-submission-metadata #assigned-editors-edit {
    display: inline-flex;
    padding: 0.4rem;
    margin-right: 0.5rem;
    font-size: 0.9rem;
}

#mesh-submission-actions {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: var(--component-background-color);
    padding: 0.4rem;
}

#mesh-submission-actions legend {
    margin-left: 0.4rem;
    /*padding: 0 0.5rem;*/
    font-weight: bold;
}

.mesh-submission-action-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
    align-items: baseline;
}

.mesh-submission-action-list .action-list-title {
    width: 150px;
}

.mesh-submission-action-list .action-list {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5rem;
}

.mesh-submission-action-list .action-list-item * {
    text-decoration: unset;
}

#submission-abstract a {
    position: relative;
    padding-right: 0.6em;
}

#submission-abstract a:after {
    position: absolute;
    font-family: "Font Awesome 6 Free";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    content: "\f08e";
    padding-left: 0.4em;
    font-size: 0.5em;
    top: 0;
}

.mesh-submission-version {
    border-radius: 8px;
    background-color: var(--component-background-color);
    border: 2px solid #b7b7b7;
    margin-bottom: 2rem;
}

.mesh-submission-version-last {
    border: 3px solid rgb(15, 150, 164);
    box-shadow: 0px 0px 5px 0px #7b7b7b;
}

.referee-name a {
    font-size: 0.85rem;
    margin-right: 0.5rem;
}

.table-reviews .review-files {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.table-reviews .review-file {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-reviews .review-file a {
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: unset;
}

#table-decisions-wrapper {
    margin-bottom: 1rem;
}
