{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}MESH - Mersenne editing system helper{% endblock title %}</title>

    <link rel="stylesheet" href="{% static "mesh/vendors/font-awesome_6.3.0/css/fontawesome.min.css" %}"/>
    <link rel="stylesheet" href="{% static "mesh/vendors/font-awesome_6.3.0/css/solid.min.css" %}"/>
    <link rel="stylesheet" href="{% static "ptf/vendors/bootstrap5/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "mesh/css/styles.css" %}" />
    <link rel="stylesheet" href="{% static "ptf/css/custom-dropdown.css" %}" />
    <link rel="stylesheet" href="{% static "ptf/css/custom-alerts.css" %}">
    <link rel="stylesheet" href="{% static "ptf/css/custom-tooltip.css" %}">


    <link rel="shortcut icon" type="image/png" href="{% static "mesh/img/favicon.png" %}" />
    {% block extra_css %}
    {% endblock extra_css %}

    <script src="{% static "ptf/vendors/bootstrap5/js/bootstrap.bundle.min.js" %}"></script>
    <script defer src="{% static "mesh/js/mesh.js" %}"></script>
    <script defer src="{% static "ptf/js/custom-dropdown.js" %}"></script>
    <script defer src="{% static "ptf/js/custom-alerts.js" %}"></script>
    <script defer src="{% static "ptf/js/custom-tooltip.js" %}"></script>
    <script src="{% static "ptf/js/mathjax-config.js" %}" defer></script>
    <script type="text/javascript"
            id="MathJax-script"
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
            defer>
    </script>
    {% block extra_js %}
    {% endblock extra_js %}
  </head>
  <body class="{% if breadcrumb %}with-breadcrumb{% endif %}">
    {% include "common/common-message-snack-bar.html" %}

    {% include "mesh/sidebar.html" %}

    <div id="mesh-page-wrapper">
      {% block header %}
      {% include "mesh/header.html" %}
      {% endblock header %}
      <main>
        <div id="main-content">
          {% block breadcrumb %}
          {% include "mesh/components/breadcrumb.html" %}
          {% endblock breadcrumb %}

          {% block main_content %}
          {% endblock main_content %}
        </div>
      </main>

      {% block footer %}
      {% include "mesh/footer.html" %}
      {% endblock footer %}
    </div>
  </body>
</html>
