{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}MESH - Mersenne editing system helper{% endblock title %}</title>

    <link rel="shortcut icon" type="image/png" href="{% static "mesh/img/favicon.png" %}" />

    <link rel="stylesheet" href="{% static "ptf/css/custom-alerts.css" %}">
    {% block extra_css %}
    {% endblock extra_css %}

    <script defer src="{% static "mesh/js/mesh_anonymous.js" %}"></script>
    <script src="{% static "ptf/js/custom-alerts.js" %}"></script>
    {% block extra_js %}
    {% endblock extra_js %}
  </head>
  <body>
    {% include "common/common-message-snack-bar.html" %}
    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
