{% comment %}
  Datatable config.
  This element is not displayed but some javascript is responsible for parsing the
  data and injecting it in the dataTable config.
{% endcomment %}
{% load i18n %}
<div class="table-config">
  {% comment %}
    The below text is displayed according to the table status.
    This enables us to inject a translated version of the different strings.
  {% endcomment %}
  <div  class="table-language-config"
        data-length-menu="{% translate "Display _MENU_ records per page" %}"
        data-zero-records="{% translate "Nothing found - sorry" %}"
        data-info="{% translate "Showing page _PAGE_ of _PAGES_" %}"
        data-info-empty="{% translate "No records available" %}"
        data-info-filtered="({% translate "filtered from _MAX_ total records"%})">
  </div>
</div>
