{% load i18n %}
{% comment %}
  Expect a `files` variable in the form:
  [
    {
      "file_wrapper": BaseFileWrapperModel,
      "type": str
    }
  ]
{% endcomment %}
{% if files %}
<div class="mesh-table-wrapper mesh-files-table">
  <table  class="mesh-table mesh-files-table"
          data-searching="false"
          data-paging="false"
          data-info="false">
    <thead>
      <tr>
        <th>{% translate "Name" %}</th>
        <th>{% translate "Size" %}</th>
        <th>{% translate "Type" %}</th>
        <th>{% translate "Date" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
      <tr>
        <td>
          <a href="{{ file.file_wrapper.get_file_url }}" target="_blank">{{ file.file_wrapper.name }}</a>
        </td>
        <td>
          {{ file.file_wrapper.file.size|filesizeformat }}
        </td>
        <td>
          {{ file.type }}
        </td>
        <td>
          {{ file.file_wrapper.date_created|date:"DATE_FORMAT" }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
