{% load mesh_tags %}
{% load i18n static %}
<link rel="stylesheet" href="{% static "mesh/css/header.css" %}" />

<header>
  <div id="header-content">
    {% block header_content%}
    <div id="header-left-content">
      <div id="mesh-sidebar-toggle" class="as-button">
        <i class="fa-solid fa-layer-group"></i>
      </div>
      <a href="{% url "mesh:home" %}" id="header-title">
        <div data-tooltip="Mersenne Editing System Helper">
          MESH&nbsp;
        </div>
        <div id="mesh-app-name-subtitle">
          Mersenne Editing System Helper
        </div>
      </a>
    </div>

    {% with impersonate_data=request|get_impersonate_data %}
    <div id="header-right-content" class="{% if impersonate_data %}mesh-impersonate-active{% endif %}">
      {% comment %} Role & Impersonate badges {% endcomment %}
      {% if impersonate_data %}
      <div  id="mesh-impersonate-indicator"
            class="header-badge limit-width"
            data-tooltip="{% translate "The user you are currently impersonating" %}: {{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user.email }})">
        <i class="fa-solid fa-eye"></i>
        {{ request.user.email }}
      </div>
      {% endif %}

    <div id="mesh-dropdown-user-role" class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid {{ role_handler.current_role.icon_class }}" aria-hidden="true"></i> {{ role_handler.current_role.name }}
      </a>
      <ul class="dropdown-menu">
        {% for role in available_roles %}
        <li>
          <form method="POST" action="{% url "mesh:role_switch" %}">
            {% csrf_token %}
            <input type="hidden" name="role_code" value="{{ role.code }}" />
            <a class="dropdown-item" href="javascript:;" onclick="this.parentNode.submit()">
              <i class="fa-solid {{ role.icon_class }}" aria-hidden="true"></i> {{ role.name }}
            </a>
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>

    {% comment %} Olivier: why put the active role in the session ?
      {% if request.session.user_role %}
      <div  id="mesh-user-role-indicator"
            class="header-badge{% if impersonate_data %} limit-width{% endif %}"
            data-tooltip="{% translate "Current role" %}: {{ request.session.user_role.name }}">
        {% if request.session.user_role.icon_class %}
        {% include "mesh/components/icon.html" with icon_class=request.session.user_role.icon_class %}
        {% else %}
        <i class="fa fa-circle-info" aria-hidden="true"></i>
        {% endif %}
        <span class="user-role-label">{{ request.session.user_role.name }}</span>
      </div>
      {% endif %}
  {% endcomment %}

      {% comment %} User Menu {% endcomment %}
      <div id="mesh-user-menu" class="custom-dropdown">
        <div id="mesh-user-menu-toggle" class="custom-dropdown-toggle" tabindex="0">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span id="mesh-user-menu-label">MENU</span>
        </div>

        {% comment %} Menu content {% endcomment %}
        <div class="custom-dropdown-content" aria-labelledby="mesh-user-menu-toggle">
          <div id="mesh-user-menu-content">
            {% comment %} Current user & impersonate data {% endcomment %}
            {% if impersonate_data %}
            <div class="menu-item">
              <div class="menu-item-icon-journal_section">
                <i class="fa-solid fa-user"></i>
              </div>
              <div  class="menu-item-content nowrap"
                    data-tooltip="{{ impersonate_data.source }}">
                {% translate "Current user" %}: <strong>{{ impersonate_data.source }}</strong>
              </div>
            </div>

            <div class="menu-item mesh-impersonate-item">
              <div class="menu-item-icon-journal_section">
                <i class="fa-solid fa-eye"></i>
              </div>
              <div  class="menu-item-content nowrap"
                    data-tooltip="{{ request.user }}">
                {% translate "Logged in as" %}: <strong>{{ request.user }}</strong>
              </div>
            </div>
            <div></div>
            <form id="menu-impersonate-close-form" class="menu-item" method="POST" action="{% url "mesh:impersonate_close" %}">
              {% csrf_token %}
              <div class="form-buttons">
                <button type="submit" class="menu-form-button">{% translate "Close impersonate mode" %}</button>
              </div>
            </form>
            <div></div>

            {% else %}
            <div class="menu-item">
              <div class="menu-item-icon-journal_section">
                <i class="fa-solid fa-user"></i>
              </div>
              <div  class="menu-item-content nowrap"
                    data-tooltip="{{ request.user }}">
                {% translate "Current user" %}: <strong>{{ request.user }}</strong>
              </div>
            </div>
            {% endif %}

            {% comment %} User role data  {% endcomment %}
            {% comment %} Olivier - not needed as there's a dropdown in the header
            {% with current_role=request.session.user_role %}
            {% if current_role %}
            <div class="menu-item mesh-role-item">
              <div class="menu-item-icon-journal_section">
                <i class="fa fa-circle-info" aria-hidden="true"></i>
              </div>
              <div class="menu-item-content">
                {% translate "Current role" %}: <strong>{{ current_role.name }}</strong>
              </div>
            </div>

            {% if request.session.available_roles|length > 1 %}
            <div class="menu-item">
              <div class="menu-item-icon-journal_section">
                <i class="fa-solid fa-arrow-right-arrow-left"></i>
              </div>
              <div class="menu-item-content">
                {% translate "Switch role" %}:
              </div>
            </div>
            <div class="role-switch-item">
              {% for role in request.session.available_roles %}
                <form method="POST" action="{% url "mesh:role_switch" %}" class="{% if role.code == current_role.code %}active{% endif %}">
                  {% csrf_token %}
                  {% with role_form=role.code|role_switch_form %}
                  {{ role_form }}
                  {% endwith %}
                  <button type="submit" class="" {% if role.code == current_role.code%}disabled{% endif %}>{{ role.name|upper }}</button>
                </form>
              {% endfor %}
            </div>
            {% endif %}

            {% endif %}
            {% endwith %}
            {% endcomment %}

            {% if request.session.can_impersonate %}
            <div class="menu-item mesh-impersonate-item">
              <div class="menu-item-icon-journal_section">
                <i class="fa-solid fa-eye"></i>
              </div>
              <a class="menu-item-content as-link mesh-impersonate-item" href="{% url "mesh:impersonate_init"%}">
                {% translate "Impersonate user" %}</span>
              </a>
            </div>
            {% endif %}

            {% if not impersonate_data %}
            <div class="menu-item">
              <div class="menu-item-icon-journal_section">
                <i class="fa-solid fa-lock"></i>
              </div>
              <div class="menu-item-content">
                <a href="{% url "account_change_password" %}">Change password</a>
              </div>
            </div>
            {% endif %}

            <div class="user-menu-separator"></div>

            <form class="menu-item" method="POST" action="{% url "account_logout" %}">
              {% csrf_token %}
              <div class="form-buttons">
                <button class="menu-form-button" type="submit">{% translate "Log Out" %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endwith %}
    {% endblock header_content%}
  </div>
</header>
