{% extends "mesh/forms/form_full_page.html" %}
{% load i18n static %}

{% block form_description %}
<link rel="stylesheet" href="{% static "mesh/css/components/tree_node.css" %}" />

<div class="custom-form-description">
  {% if journal_sections_tree.children %}
  <div class="tree-wrapper mesh-component">
    {% include "mesh/components/tree_node.html" with tree_node=journal_sections_tree level=0 %}
  </div>
  {% else %}
  <p>
    {% translate "There is no section for this journal." %}
  </p>
  {% endif %}
  {% if form %}
  <p>
    {% translate "You can create a section by filling the form below" %}:
  </p>
  {% endif %}
</div>
{% endblock form_description %}
