{% extends "base.html" %}
{% load mesh_tags i18n static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "mesh/css/log.css" %}" />
{% endblock extra_css%}

{% block main_content %}
<div id="mesh-page-journal_section">
  <div class="page-title-block">
    <div class="page-title-action">
      <a class="as-button" href="{{ sort_url }}" data-tooltip="{% if order == "desc" %}{% translate "Current sorting: ascending" %}{% else %}{% translate "Current sorting: descending" %}{% endif %}">
        {% if order == "desc" %}
        <i class="fa-solid fa-arrow-up-wide-short"></i>
        {% else %}
        <i class="fa-solid fa-arrow-down-short-wide"></i>
        {% endif %}
        <span class="page-title-action-text">{% translate "Sort" %}</span>
      </a>
    </div>
    <div class="page-title">{{ page_title }}</div>
  </div>

  <div id="mesh-page-content">
    <div class="mesh-log-timeline">
      {% for log in logs %}
      <div class="mesh-log-item-wrapper">
        <div class="mesh-log-icon">
          <i class="fa-solid fa-calendar"></i>
        </div>
        <div class="mesh-log-item">
          <div class="log-content">
            {{ log.content }}
          </div>
          <div class="log-metadata">
            <div class"log-date">
              <i>{{ log.date_created|date:"DATETIME_FORMAT" }}</i>
            </div>
            <div class="log-author">
              &nbsp;-
              <span class="log-author-name">{{ log.created_by }}</span>
              {% if log.impersonated_by %}
              ,&nbsp;
              {% endif %}
            </div>
            <div class="log-author-impersonate-text">
              {% if log.impersonated_by %}
              {% translate "impersonated by" %} <span class="log-author-impersonate">{{ log.impersonated_by }}</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock main_content %}
