{% extends "base.html" %}

{% load static i18n mesh_tags %}
{% block main_content %}
<p>
  {% translate "Welcome to" %} MESH!
</p>

<ul>
  <li>
    <h2><a href="{% url "mesh:submission_list" %}">{% translate "My submissions" %}</a></h2>
  </li>
  {% check_rights role_handler "can_create_submission" as can_create_submission %}
  {% if can_create_submission %}
  <li>
    <h2><a href="{% url "mesh:submission_create" %}">New submission</a></h2>
  </li>
  {% endif %}
</ul>
{% endblock main_content %}
