{% load mesh_tags %}
{% load i18n static %}
<link rel="stylesheet" href="{% static "mesh/css/sidebar.css" %}">

<div id="mesh-sidebar-background"></div>

<aside id="mesh-sidebar">
  <div id="mesh-sidebar-logo">
    <a href="{% url "mesh:home" %}">
      <img src="{% static "mesh/img/favicon.png" %}">
    </a>
  </div>
  <hr>
  <div id="mesh-sidebar-nav-list">
    <a class="mesh-sidebar-nav-item" href="{% url "mesh:submission_list" %}">
      <i class="fa-solid fa-list"></i>
      <span class="nav-item-label">
        {{ request.session.user_role.submission_list_title }}
      </span>
    </a>

    {% if role_handler.current_role.rights.can_access_journal_sections %}
    <a class="mesh-sidebar-nav-item" href="{% url "mesh:journal_section_list"%}">
      <i class="fa-solid fa-layer-group"></i>
      <span class="nav-item-label">
        {% translate "Journal sections" %}
      </span>
    </a>
    {% endif %}
  </div>
</aside>
