{% load i18n %}

{% comment %}
<form id="main-search" class="d-flex justify-content-center align-items-center flex-wrap gap-1" action="{% url 'search' %}" method='post'>
  {% csrf_token %}
  <div class="input-group flex-nowrap w-auto">
    <input id="main-search-input" type="text" class="form-control" name="q0" value="{{ qs.0.value }}" placeholder="{% trans 'Rechercher des articles, des auteurs...' %}">
    <label class="sr-only" for="main-search-input">{% trans 'Rechercher' %}</label>
    <input type="hidden" name="qt0" value="all">
    <button class="btn btn-primary" type="submit" name="Submit"><i class="fa fa-search"></i></button>
  </div>
</form>
{% endcomment %}

<form method="post" action="{% url 'search' %}">
  {% csrf_token %}
  <div class="input-group">
    <input id="main-search-input" class="form-control" type="text" name="q0" value="{{ qs.0.value }}" {% if homepage %}placeholder="{% trans 'Rechercher des articles, des auteurs...' %}"{% endif %}>
    <div class="input-group-btn">
      <button class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <input type="hidden" name="qt0" value="all">
</form>
