{% load i18n %}

{% if item.doi and item.classname == "Article" %}
  <a href="{% url 'article' item.doi %}{% if source %}?source={{ source }}{% endif %}">
{% else %}
  <a href="{% url 'item_id' item.pid %}{% if source %}?source={{ source }}{% endif %}">
{% endif %}
  {% include 'common/title/title.html' with item=item %}
  </a>
<p>{% include 'common/binary-files.html' with embargo=embargo binary_files=binary_files small=True%}</p>
