{% load i18n %}
{% load static %}

{% if group_issues %}
<div class="article-div" style="margin-bottom:40px">
  <div class="row">
    <div class="col-12">
      <h3>{% trans 'Sommaire' %}</h3>
      <hr class="separator">
      {% for issue_articles in issues_articles %}
        {% with issue=issue_articles.issue %}
          {% if issue.ctype != 'issue_special'%}
            {% if issue.title_html %}
              {% include 'common/issue-header-cr.html' with volume_toc=True %}
              {% if not forloop.last %}<hr class="separator">{% endif %}
            {% elif with_thematic %}
              {% include 'common/issue-header-general-cr.html' with volume_toc=True with_title_link=True %}
              {% if not forloop.last %}<hr class="separator">{% endif %}
            {% else %}
              {% include 'common/issue/issue-items-articles.html' with articles=issue_articles.articles %}
            {% endif %}
          {% endif %}
        {% endwith %}
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
  {% for issue_articles in issues_articles %}
  {% include 'common/issue/issue-items.html' with volume_items=True issue=issue_articles.issue articles=issue_articles.articles %}
  {% endfor %}
{% endif %}
