{% load static %}
{% load i18n %}
{% load cms_tags %}

<div id="footer">

  <div class="logos-footer col-xs-12">
      <span class="footer-logo-text">{% trans 'Diffusé par' %} :</span><a class="logo-footer" href="http://www.centre-mersenne.org"><img align="middle" class="logo-footer" src="{% static "mersenne_cms/img/logo-mersenne.png" %}"></a>
      <span class="footer-logo-text">{% trans 'Soutenu par' %} :</span><a class="logo-footer" href="https://www-fourier.ujf-grenoble.fr/"><img align="middle" class="logo-footer" src="{% static "aif/img/logo-if-invert.png" %}"></a>
      <!--<span class="footer-logo-text">Member of :</span><a class="logo-footer" href="https://freejournals.org/"><img align="middle" class="logo-footer" src="{% static "mersenne_cms/img/logo-FJN-long.png" %}"></a>-->
      <span class="footer-logo-text">{% trans 'Développé par' %} :</span><a class="logo-footer" href="http://www.mathdoc.fr"><img align="middle" class="logo-footer" src="{% static "mersenne_cms/img/logo-mathdoc-footer.png" %}"></a>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-6 footer-text">
    {% include "footer_issns.html" %}
    {% now "Y" as cur_year %}
<!--    <span>©&nbsp;1949 - {{cur_year}}&nbsp;</span><a href="http://www.centre-mersenne.org">Centre Mersenne</a>, <a href="{% url 'home' %}">Annales de l'Institut Fourier</a>, and the authors-->
    </div>
    <div class="col-xs-12 col-sm-5 col-md-6">
    {% get_all_pages request 'bottom' as pages %}
      <nav class="navbar navbar-expand-sm menu-bottom">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href='{% url 'syndication-feed' %}' alt='syndication feed'>
                <i class="fa fa-rss" aria-hidden="true"></i> {% trans "Nous suivre" %}
              </a>
            </li>

          {% for page, sub_pages, is_active in pages %}
            {% if sub_pages %}
              <li class="dropdown nav-item {% if is_active %}active{% endif %}">
                <a href="#" class="dropdown-toggle menu-link" data-toggle="dropdown" >{{ page.menu_title }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% for sub_page in sub_pages %}
                  {% with sub_page.slug as slug %}
                    <li><a href="{% url 'page_detail' slug %}" class="nav-link">{{ sub_page.menu_title }}</a></li>
                  {% endwith %}
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              {% if page.is_link %}
                {% with page.slug as slug %}
                  <li  class="nav-item {% if is_active %} active{% endif %}"><a href="{% url 'page_detail' slug %}" class="nav-link">{{ page.menu_title }}</a></li>
                {% endwith %}
              {% else %}
                <li class="nav-item"><a href="#" class="nav-link">{{ page.menu_title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
