{% load i18n %}
{% load static %}
{% load cms_tags %}

<div id="language-switch" title="{% if LANGUAGE_CODE == 'fr' %}Cliquer pour afficher le site en anglais{% else %}Click to display the French version{% endif %}">
  <form id="language-switch-form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <div class="onoffswitch" id="lang_flags">
      <input type="checkbox"
             name="language"
             value="{% if LANGUAGE_CODE == 'fr' %}en{% else %}fr{% endif %}"
             class="onoffswitch-checkbox"
             id="lang_onoffswitch"
             {% if LANGUAGE_CODE == 'fr' %}checked{% endif %}>
      <label class="onoffswitch-label" for="lang_onoffswitch">
        <span class="onoffswitch-inner" data-on="" data-off=""></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
  </form>
</div>

<div class="clearfix"></div>
<div id="mathml-switch"
  {% if LANGUAGE_CODE == 'fr' %}
    {% if request.session.formula_display == 'tex' %}
       title="Cliquer pour afficher les formules sous forme graphique"
    {% else %}
       title="Cliquer pour afficher le code source TeX"
    {% endif %}
  {% else %}
    {% if request.session.formula_display == 'tex' %}
       title="Click to display formulæ in graphical form"
    {% else %}
       title="Click to display the TeX source code"
    {% endif %}
  {% endif %}>
  <form action="{% url 'set_formula_display' %}" method="post">{% csrf_token %}
    <div class="onoffswitch">
      <input type="checkbox" name="formula-display" value="tex" class="onoffswitch-checkbox"
             id="tex_onoffswitch"
             onclick="this.form.submit();"
             {% if request.session.formula_display == 'tex' %}checked{% endif %}>
      <label class="onoffswitch-label" for="tex_onoffswitch">
        <span class="onoffswitch-inner" data-on="TeX" data-off="TeX"></span>
        <div class="onoffswitch-switch">
          <div class="onoffswitch-switch-label">{% if request.session.formula_display == 'tex' %}ON{% else %}OFF{% endif %}</div>
        </div>
      </label>
    </div>
  </form>
</div>
