{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html>
<head>
  <!-- Mersenne base -->
{% block head %}
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0">
  {% block extra_head %}{% endblock extra_head %}
  <title>
  {% block base_title %}
  {% endblock base_title %}
  </title>
  {% block css %}
    <link rel="stylesheet" href="{% static "ptf/vendors/bootstrap/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "ptf/vendors/font-awesome/css/font-awesome.min.css" %}" />
    <link rel="stylesheet" href="{% static "ptf/vendors/flag-icon/css/flag-icon.min.css" %}" />
    <link rel="stylesheet" href="{% static "ptf/vendors/bootstrap-select/css/bootstrap-select.min.css" %}">
    <link rel="stylesheet" href="{% static "ptf/css/ptf.css" %}" />
    <link rel="stylesheet" href="{% static "ptf/css/style.css" %}" />
    <link rel="stylesheet" href="{% static "ptf/css/search-bar.css" %}" />
    {% block extra_css %}{% endblock extra_css %}
  {% endblock css %}
{% endblock head %}
</head>
<body>
{% block body %}

{% block top %}
  {% include "mersenne_cms/top.html" %}
{% endblock top %}

{% block menu_top %}{% endblock menu_top %}

<div class="page-container">
  {% block container %}
  {% block search_bar %}
    <div id="search-bar" class="hidden-xs">
      {% include "shared/search-bar.html" with with_browse=True %}
    </div>
  {% endblock search_bar %}
  <div class="container content-container">
    {% block left %}
    {% endblock %}
    <div class="row row-offcanvas row-offcanvas-left">
    {% block menu_wrapper %}
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <ul class="mersenne-cms-menu nav">
          {% block menu %}
            {% include "mersenne_cms/menu.html" %}
          {% endblock menu %}
          </ul>
          {% block extra_menu %}{% endblock extra_menu %}
      </div>
    {% endblock menu_wrapper %}

    <div class="col-xs-10 col-sm-9 col-md-7 cms-page-content">
    {% block content %}
      {% include "mersenne_cms/page_content.html" %}
    {% endblock content %}
    </div>

    </div>
  </div>

  {% endblock container %}
</div>
{% block footer %}
  {% include "blocks/last-articles.html" %}
  {% include "mersenne_cms/footer.html" %}

{% endblock footer %}

  {% block js %}
    <script type="text/javascript" src="{% static "ptf/vendors/jquery/js/jquery-3.5.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "ptf/vendors/bootstrap/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "ptf/vendors/clipboard/js/clipboard.min.js" %}"></script>
    <script type="text/javascript" src="{% static "ptf/js/ptf.js" %}"></script>
    <script type="text/javascript" src="{% static "ptf/js/search-bar.js" %}"></script>
    <script type="text/javascript" src="{% static "ptf/vendors/bootstrap-select/js/bootstrap-select.min.js" %}"></script>
    <script type="text/javascript" src="{% static "ptf/vendors/bootstrap-select/js/defaults-fr_FR.min.js" %}"></script>
    {% if request.session.formula_display != 'tex' %}
      <script src="ptf/js/mathjax-config.js" defer></script>
      <script type="text/javascript" id="MathJax-script" defer
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
      </script>
    {% endif %}
    {% block extra_js %}{% endblock extra_js %}
  {% endblock js %}
{% endblock body %}
</body>
</html>
