{% load static %}
{% load i18n %}

<div id="footer">

  <div class="menu-footer links-footer">
    <a class="link-footer" href="{% url 'page_by_mersenne_id' 'legal' %}">{% trans "Legal notice" %}</a>
    <a class="link-footer" href="{% url 'page_by_mersenne_id' 'contact' %}">{% trans "Contact" %}</a>
    <a class="link-footer" href="{% url 'page_by_mersenne_id' 'gtu' %}">{% trans "General terms of use" %}</a>
  </div>

  <div class="logos-footer col-xs-12 col-md-6">
    <a class="logo-footer" href="http://www.mathdoc.fr"><img align="middle" class="logo-auto" src="{% static "mersenne_cms/img/logo-mathdoc-footer.png" %}"></a>
    <a class="logo-footer" href="https://www.uga-editions.com/"><img align="middle" class="logo-auto" src="{% static "mersenne_cms/img/logo-uga-ed-footer.png" %}"></a>
    <a class="logo-footer" href="http://www.cnrs.fr/insmi"><img align="middle" class="logo-auto" src="{% static "mersenne_cms/img/logo-cnrs-footer.png" %}"></a>
    <a class="logo-footer" href="http://www.univ-grenoble-alpes.fr/"><img align="middle" class="logo-auto" src="{% static "mersenne_cms/img/logo-uga-footer.png" %}"></a>
  </div>

</div>
