{% load cms_tags %}

{% get_all_pages request 'top' as pages %}
{% for page, sub_pages, is_active in pages %}
  <li class="mersenne-cms-menu mersenne-cms-menu-lvl1{% if not page.is_link %} nolink{% endif %}">
    {% if page.is_link %}

      {% with page.slug as slug %}
        <a class="menu_title" href="{% url 'page_detail' slug %}">
          {% if page.menu_fa %}
            <i class="{{ page.menu_fa }}"></i>
          {% endif %}
          {{ page.menu_title }}
        </a>
      {% endwith %}

      {% else %}

      <span class="menu_title">
        {% if page.menu_fa %}
          <i class="{{ page.menu_fa }}"></i>
        {% endif %}
        {{ page.menu_title }}
      </span>

    {% endif %}
      
  </li>

  {% if sub_pages %}
    <ul class="mersenne-cms-sub-menus nav">
    {% for sub_page in sub_pages %}
      <li class="mersenne-cms-menu mersenne-cms-menu-lvl2">
        {% with sub_page.slug as slug %}
           <a class="menu_title" href="{% url 'page_detail' slug %}">
        {% endwith %}
          <i class="fa fa-angle-right" aria-hidden="true"></i>  {{ sub_page.menu_title }}
        </a>
      </li>
    {% endfor %}
      </ul>
    {% endif %}
{% endfor %}
<br />

<li>
<form action="{% url 'set_language' %}" method="post">
  <select class="selectpicker" data-width="fit" onchange="this.form.submit()" name="language" id="language-picker">
    {% for language_tuple in languages %}
      <option data-content='<span><span class="flag-icon {% get_flag_icon language_tuple.0 %}"></span> {{ language_tuple.1 }}</span>' value="{{ language_tuple.0 }}" {% if language_tuple.0 in language %}selected="true"{% endif %}>{{ language_tuple.1 }}</option>
    {% endfor %}
  </select>
  <input type="hidden" name="path" value="{{ request.path }}">
</form>
</li>
<div class="bfh-selectbox bfh-languages" data-language="en_US" data-available="en_US,fr_CA,es_MX" data-flags="true" blank="false"></div>