{% load i18n %}

{% if page %}
  {% block CmsPage %}
    {% comment %} Do not display the edit button for an user "logged in" via SSO  {% endcomment %}
    {% comment %}
    {% if request.user.is_authenticated and not request.session.oidc_user_data %}
        <a role="button" class="btn btn-primary edit-button" style="float: right;" href="{% url 'admin:mersenne_cms_page_change' page.pk %}">{% trans "Modifier la page" %}</a>
    {% endif %}
    {% endcomment %}
    <div class="cms-page">
    {% block CmsPageTitle %}
      {% if page.title %}
          <h1 class="page-title">{{ page.title }}</h1>
      {% endif %}
    {% endblock CmsPageTitle %}
    {% block CmsPageContent %}
      {% autoescape off %}
        {{ page.content }}
      {% endautoescape %}
    {% endblock CmsPageContent %}
    </div>
  {% endblock CmsPage %}
{% endif %}
