{% load static %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
  <div class="navbar-header navbar-header-extra">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav" data-bs-toggle="offcanvas" data-bs-target=".sidebar-nav">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Nom de la revue</a>
  </div>
  <div class="navbar-collapse collapse">
    <a href="{% url 'home' %}" ><img class="navbar-header__logo" src="{% static "logo.png" %}"></a>
  </div>
  </div>
</nav>
