:root {
    --header-height: 8.4rem;
}

html, body {
    height: 100%;
}

.active {
    background-color: #d5d5d5;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
}

.page-container {
    position: relative;
    min-height: calc(100% - var(--header-height) - 171px);
    /* 100% - height(header) - height(footer=160) + margin(header=10) + border(footer=1) */
    height: auto !important;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-top: var(--header-height);
}

#breadcrumb {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 24px;
}

.breadcrumb-chevron {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 24px;
    color: #888;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.disabled.breadcrumb-disabled {
    color: #BBB;
}

.nav-pills>li>a, .nav-pills>li>form>a {
    color: #333;
    font-variant: small-caps;
}

.nav-pills>li>a:hover, .nav-pills>li>form>a:hover {
    color: #333;
    background-color: #eee;
}

.nav-pills .nav-link.active {
    color: #eee;
    background-color: #333;
}

.header {
    background-color: white;
    position: fixed;
    top: 0;
    padding-bottom: 10px;
    height: var(--header-height);
    width: 100%;
    z-index: 1000;
}

/*@media (max-height: 250px) {*/
/*    .header {*/
/*        visibility: hidden;*/
/*        opacity: 0;*/
/*        transition: 1.5s;*/
/*    }*/
/*    .page-container {*/
/*        margin-top: 0;*/
/*    }*/
/*}*/
