{% extends "oai/response.html" %}
{% block response_body %}
  <Identify>
    <repositoryName>{{ identify.name }}</repositoryName>
    <baseURL>{{ identify.base_url }}</baseURL>
    <protocolVersion>{{ identify.protocol_version }}</protocolVersion>
    <adminEmail>{{ identify.admin_email }}</adminEmail>
    <earliestDatestamp>{{ identify.earliest_datestamp }}</earliestDatestamp>
    <deletedRecord>{{ identify.deleted_record }}</deletedRecord>
    <granularity>{{ identify.granularity }}</granularity>
    <description>
      <oai-identifier xmlns="http://www.openarchives.org/OAI/2.0/oai-identifier" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai-identifier http://www.openarchives.org/OAI/2.0/oai-identifier.xsd">
	<scheme>oai</scheme>
        <repositoryIdentifier>{{ identify.repositoryIdentifier }}</repositoryIdentifier>
        <delimiter>{{ identify.delimiter }}</delimiter>
        <sampleIdentifier>{{ identify.sample_identifier }}</sampleIdentifier>
      </oai-identifier>
    </description>
  </Identify>
{% endblock %}
</OAI-PMH>
