{% extends "oai/response.html" %}
{% block response_body %}
<ListMetadataFormats{% if identifier %} identifier="{{ identifier }}"{% endif %}>
{% for f in formats %}
<metadataFormat>
<metadataPrefix>{{ f.prefix }}</metadataPrefix>
<schema>{{ f.schema }}</schema>
<metadataNamespace>{{ f.namespace }}</metadataNamespace>
</metadataFormat>
{% endfor %}
</ListMetadataFormats>
{% endblock %}
