{% extends "oai/response.html" %}
{% block response_body %}
  <ListSets>
    {% for s in sets.0.all %}
    <set>
      <setSpec>{{ s.pid }}</setSpec>
      <setName>{{ s.title_html }}</setName>
    </set>
    {% endfor %}
    {% for s in sets.1 %}
    <set>
      <setSpec>{{ s.pid }}</setSpec>
      <setName>{{ s.title }}</setName>
    </set>
    {% endfor %}

  </ListSets>
{% endblock %}
