{% load static %}<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="{% static "oai/xsl/oai2.xsl" %}"?>
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"
         xmlns:xlink="http://www.w3.org/1999/xlink">
<responseDate>
   {{now}}
</responseDate>
{{ oairequest | safe }}
{% block response_body %}{% endblock %}
</OAI-PMH>
