{% extends "account/allauth_form_base_template.html" %}
{% load static i18n %}

{% block title %}MESH - {% translate "Password reset" %}{% endblock title %}

{% block allauth_form_title %}MESH - {% translate "Password reset" %}{% endblock allauth_form_title %}

{% block allauth_form_description %}
<div id="allauth-form-description">
  <p>
    {% translate "This account is inactive." %}
  </p>
  <p>
    <a href="{% url 'account_login'%}">{% trans "Go back to the login page"%}</a>
  </p>
</div>
{% endblock allauth_form_description %}
