{% extends "mesh/base_anonymous.html" %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "mesh/css/allauth_forms.css" %}" />
{% endblock extra_css %}

{% block title %}MESH - Allauth form{% endblock title %}

{% block content %}
<div id="allauth-page-template"  role="main">
  <div id="allauth-page-content">
    <div id="allauth-page-header">
      <div id="allauth-img-title-journal_section">
        <img id="allauth-img-title" src="{% static "mesh/img/favicon.png" %}">
      </div>
      <h1 id="allauth-form-title">
        {% block allauth_form_title %}
        {% endblock allauth_form_title %}
      </h1>
    </div>
    <div id="allauth-page-form">
      {% block allauth_form_description %}
      {% endblock allauth_form_description %}
      {% block allauth_page_form %}
      <form class="allauth-form" enctype="multipart/form-data" method="POST">
        {% csrf_token %}

        {% block allauth_form_inputs %}
        {% include "mesh/forms/form_template.html" %}
        {% endblock allauth_form_inputs %}

        <div class="allauth-form-footer">
          {% block allauth_form_footer %}
          {% endblock allauth_form_footer %}
        </div>
      </form>
      {% endblock allauth_page_form %}
    </div>
  </div>
</div>
{% endblock content %}
