{% extends "account/allauth_form_base_template.html" %}
{% load static i18n %}

{% block title %}MESH - {% translate "Password reset" %}{% endblock title %}

{% block allauth_form_title %}MESH - {% translate "Password reset" %}{% endblock allauth_form_title %}

{% block allauth_form_description %}
<div id="allauth-form-description">
  {% if confirmation %}
  <p>
    We have confirmed your e-mail address: {{confirmation.email_address.email}}
  </p>
  {% else %}
  <p>
    This e-mail confirmation link expired or is invalid. Please login to issue a new verification e-mail.
  </p>
  {% endif %}
  <p>
    Back to the <a href="{% url "account_login" %}">login</a> screen
  </p>
</div>
{% endblock allauth_form_description %}
