{% extends "account/allauth_form_base_template.html" %}
{% load static %}

{% block title %}MESH - Login{% endblock title %}

{% block allauth_form_title %}MESH - Login{% endblock allauth_form_title %}

{% block allauth_form_footer %}
<div class="allauth-form-buttons">
  <button type="submit">LOG IN</button>
</div>
<div id="form-text">
  <div>Don't have an account ?&nbsp;<a href="{% url "account_signup" %}">Register</a></div>
</div>
{% endblock allauth_form_footer %}
