{% extends "account/allauth_form_base_template.html" %}
{% load static i18n %}

{% block title %}MESH - {% translate "Password reset" %}{% endblock title %}

{% block allauth_form_title %}MESH - {% translate "Password reset" %}{% endblock allauth_form_title %}

{% block allauth_form_description %}
<div id="allauth-form-description">
  {% if token_fail %}
  <p>
      The password reset link was invalid, possibly because it has already been used.<br>
      Please request a <a href="{{ passwd_reset_url }}">new password reset</a> or go back to the <a href="{% url "account_login" %}">login</a> screen.
  </p>
  {% else %}
  <p>
      Please fill the form below to reset your password.
  </p>
  {% endif %}
</div>
{% endblock allauth_form_description %}

{% block allauth_form_footer %}
<div class="allauth-form-buttons">
  <button type="submit">RESET PASSWORD</button>
</div>
<div id="form-text">
  <div>Back to the <a href="{% url "account_login" %}">login</a> screen
</div>
{% endblock allauth_form_footer %}
