{% extends "account/allauth_form_base_template.html" %}
{% load static i18n %}

{% block title %}MESH - {% translate "Change password" %}{% endblock title %}

{% block allauth_form_title %}MESH - {% translate "Change password" %}{% endblock allauth_form_title %}

{% block allauth_form_description %}
<div id="allauth-form-description">
  <p>
    Fill the following form to change the password associated with your account.
  </p>
</div>
{% endblock allauth_form_description %}

{% block allauth_form_footer %}
<div class="allauth-form-buttons">
  <button type="submit">CHANGE PASSWORD</button>
</div>
<div id="form-text">
  <div>Back to the <a href="{% url "mesh:home" %}">application</a>
</div>
{% endblock allauth_form_footer %}
