{% extends "account/allauth_form_base_template.html" %}
{% load static i18n %}

{% block title %}MESH - {% translate "Password reset" %}{% endblock title %}

{% block allauth_form_title %}MESH - {% translate "Password reset" %}{% endblock allauth_form_title %}

{% block allauth_form_description %}
<div id="allauth-form-description">
  <p>
    Enter your email adress below and click the button to reset your account password.
  </p>
</div>
{% endblock allauth_form_description %}

{% block allauth_form_footer %}
<div class="allauth-form-buttons">
  <button type="submit">RESET PASSWORD</button>
</div>
<div id="form-text">
  <div>Back to <a href="{% url "account_login" %}">login</a> screen</div>
</div>
{% endblock allauth_form_footer %}
