{% extends "account/allauth_form_base_template.html" %}
{% load static i18n %}

{% block title %}MESH - {% translate "Sign up" %}{% endblock title %}

{% block allauth_form_title %}MESH - {% translate "Sign up" %}{% endblock allauth_form_title %}

{% block allauth_form_description %}
<div id="allauth-form-description">
  <p>
    We have sent you an e-mail to reset your password.
    Please check your spam folder if you do not see the e-mail in the next few minutes.
  </p>
  <p>
      Back to the <a href="{% url "account_login" %}">login</a> screen
  </p>
</div>
{% endblock allauth_form_description %}
