{% extends "account/allauth_form_base_template.html" %}
{% load static i18n %}

{% block title %}MESH - {% translate "Password reset" %}{% endblock title %}

{% block allauth_form_title %}MESH - {% translate "Password reset" %}{% endblock allauth_form_title %}

{% block allauth_form_description %}
<div id="allauth-form-description">
  <p>
    Your password has been reset.
  </p>
  <p>
    Back to the <a href="{% url "account_login" %}">login</a> screen
  </p>
</div>
{% endblock allauth_form_description %}
