{% extends "account/allauth_form_base_template.html" %}
{% load static i18n %}

{% block title %}MESH - {% translate "Sign up" %}{% endblock title %}

{% block allauth_form_title %}MESH - {% translate "Sign up" %}{% endblock allauth_form_title %}

{% block allauth_form_description %}
<div id="allauth-form-description">
  <p>
    Please <a href="{% url "account_login" %}">sign in</a> if you already have an account.
  </p>
</div>
{% endblock allauth_form_description %}

{% block allauth_form_footer %}
<div class="allauth-form-buttons">
  <button type="submit">SIGN UP</button>
</div>
{% endblock allauth_form_footer %}
