{% load i18n %}
{% load static %}

<div class='row'>
  <div class='d-none d-md-block col-md-5 col-lg-4'>
    <img src="{% block img %}{% endblock img %}" class="img-thumbnail">
  </div>
  <div class='col-12 col-md-7 col-lg-8'>
    {% for vserie in sorted_issues %}
      <div class='row'>
      {% for volume in vserie.volumes %}
        <div class='col-12 col-md-6 col-lg-4 col-xl-3 mb-2'>
          <div class="card card-default h-100">
            <div class="card-body">
              {% with volume.issues|first as first_issue %}
                {% if first_issue.ctype == 'issue' %}
                  {% if volume.volume %}
                    <a href="{% url 'volume-items' first_issue.get_vid %}">
                      <strong>{% include 'common/volume/volume_string.html' %} {{ volume.volume }}</strong>
                    </a>
                    ({% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }})
                  {% else %}
                    <a href="{% url 'issue-items' first_issue.pid %}">
                      {% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }}
                    </a>
                  {% endif %}
                {% else %}
                  {% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }}
                {% endif %}
                <br>
                {% for issue in volume.issues %}
                  {% if issue.number %}
                    <a href="{% url 'issue-items' issue.pid %}">[{{ issue.number }}]</a>
                  {% endif %}
                {% endfor %}
              {% endwith %}
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
<hr>
