{% load i18n %}
{% load helpers %}
{% load static %}

{% with binary_files=issue.get_binary_files_href %}

<div class="article-div" style="margin-bottom:40px">
  <div class="row">
    <div class="col-12">
      {% if articles_to_appear %}
          {% if is_cr %}
            <h3 style="margin-top:0px">{% trans "Première publication" %}</h3>
            <div class="online-first-desc">
            {% if LANGUAGE_CODE == 'fr' %}{{online_first_desc_fr|safe}}{% else %}{{online_first_desc_en|safe}}{% endif %}
            </div>
          {% else %}
            <h3 style="margin-top:0px">
              {% trans "Articles acceptés à paraître dans un prochain fascicule" %}
            </h3>
          {% endif %}
          {% if issue.title_html and online_first_cr %}
            <hr class="separator">
            {% include 'common/issue-header-cr.html' %}
          {% endif %}
      {% else %}
        {% if last_issue %}In Progress<br/>{% endif %}

        {% if volume_items %}
          <h3>
          {% if issue.number and not group_issues %}
            {% if LANGUAGE_CODE == 'fr' %}Sommaire du{% endif %}
            <a href="{% url 'issue-items' issue.pid %}">{% trans 'Fascicule' %} no. {{ issue.number }}</a>
            {% if LANGUAGE_CODE == 'en' %} Table of Contents{% endif %}
            </a>
          {% endif %}
          </h3>
          {% if issue.title_html %}
            <h3 class="issue-title">{% include 'common/title/title.html' with item=issue with_links=False is_issue_title=True %}</h3>
            <div>{% include 'common/contribution/contrib.html' with item=issue is_issue=True %}</div>
          {% endif %}

        {% else %}
          {% if is_cr %}
            <!--issue header is in apps/cr_app -->
            {% include 'common/issue-header-cr.html' %}
            {% comment %} {% if issue.abstract_set %}
              {% for abstract in issue.abstract_set.all|get_abstract_tag:'abstract' %}
                {% if abstract.tag == "abstract" %}
                  {% if LANGUAGE_CODE == 'fr' and abstract.lang == 'fr'%}
                    {{ abstract.value_html|safe }}
                  {% elif LANGUAGE_CODE == 'en' and abstract.lang == 'en' %}
                    {{ abstract.value_html|safe }}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %} {% endcomment %}
            {% if issue.body_html %}
              {{ issue.body_html|safe }}
            {% endif %}
          {% elif issue.title_html %}
            <h3 class="issue-title">{% include 'common/title/title.html' with item=issue with_links=False %}</h3>
            {% include 'common/contribution/contrib.html' with item=issue is_issue=True %}
          {% endif %}
          {% if is_cr %}<h3>{% else %}<h2>{% endif %}
          {% trans 'Sommaire' %}
          {% if is_cr and issue.title_html %}</h3>{% else %}</h2>{% endif %}

        {% endif %}

        {% block toc_header %} <!-- CRAS display the volume/issue PDF in issue-header-cr.html -->
        
        {% for extid in issue.extid_set.all|sort_by:'id_type' %}
          {% include 'common/extid/externalid_detail.html' with externalid=extid resource_type='extid' sequence=0 %}
        {% endfor %}
        {% include 'common/resourceid.html' with item=issue %}
        {% if binary_files.self %}
          <h2>{% if is_cr %}{% trans 'Volume complet' %}{% else %}{% trans 'Tome complet' %}{% endif %}</h2>
          <p>{% include 'common/contribution/contrib.html' with item=issue %}</p>
          {% include 'common/binary-files.html' with embargo=issue.embargo binary_files=binary_files.self %}
          <br/>
        {% endif %}
        {% endblock %}

      {% endif %}
    </div>
  </div>
  <hr class="separator">

  {% if binary_files.toc %}
    <div class="row">
      <div class="col-12">
        <p>{% trans 'Liste complète des exposés' %}</p>
          {% include 'common/binary-files.html' with embargo=issue.embargo binary_files=binary_files.toc %}
      </div>
    </div>
    <hr class="separator">
  {% endif %}

  {% if binary_files.frontmatter %}
    <div class="row">
      <div class="col-12">
        <p >{% trans 'Pages préliminaires' %}</p>
          {% include 'common/binary-files.html' with embargo=issue.embargo binary_files=binary_files.frontmatter %}
      </div>
    </div>
    <hr class="separator">
  {% endif %}
  {% if resource_in_special_issue %}
    {% include 'common/issue/special-issue-items-resource.html' with resources=resource_in_special_issue %}
  {% else %}
    {% include 'common/issue/issue-items-articles.html' with articles=articles %}
  {% endif %}
  {% comment %} {% if issue.abstract_set and issue.ctype == "issue_special" %}
    <hr class="separator">
    {% for abstract in issue.abstract_set.all|get_abstract_tag:'footnote' %}
        {% if LANGUAGE_CODE == 'fr' and abstract.lang == 'fr'%}
          {{ abstract.value_html|safe }}
        {% elif LANGUAGE_CODE == 'en' and abstract.lang == 'en' %}
          {{ abstract.value_html|safe }}
        {% endif %}
    {% endfor %}
  {% endif %} {% endcomment %}

    {% if binary_files.backmatter %}
    <hr class="separator">
    <div class="row">
      <div class="col-12">
        <p>{% trans 'Pages finales' %}</p>
        {% include 'common/binary-files.html' with embargo=issue.embargo binary_files=binary_files.backmatter %}
      </div>
    </div>
  {% endif %}


</div>
{% endwith %}

