{% load i18n %}
{% load static %}

<div id="how-to-cite-tab" class="tab-pane">
    {% trans "Pour citer ce numéro:" %}
    <div class="upper-right">
        <pre class="upper-right-content" id="how-to-cite-div"> {{ howtocite|safe }}</pre>
        <button class="fa fa-clipboard copy-button btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#how-to-cite-div" aria-hidden="true" title="{% trans "Copier dans le presse-papier" %}"></button>
    </div>
</div>