{% load i18n %}
{% load helpers %}
{% load static %}

{% for resource in resources %}

  <div class="row">
    {% if is_cr and articles_to_appear %}
      {% if article.has_graphical_abstract %}
        {% include 'common/abstract/graphical-abstract-summary.html' with images=article.get_illustrations %}
        <div class="col-sm-10">
      {% else %}
        <div class="col-sm-12">
      {% endif %}
      {% include 'common/title/title.html' with item=resource with_links=True %}
      <div style="margin-bottom: 10px;">{% include 'common/contribution/contrib.html' with item=resource for_issue=True %}</div>
      <div class="d-flex flex-row align-items-center">
        {% include 'common/binary-files.html' with embargo=article.my_container.embargo binary_files=article.get_binary_files_href.self %}
        <div style="margin-left: 50px">
          <a href="{{ article.get_doi_href }}">doi:{{article.doi}}</a>
          {% if article.date_online_first %} | {% trans "Première publication : " %}<time datetime="{{ article.date_online_first|date:'Y-m-d' }}">{{ article.date_online_first|date:"Y-m-d" }}</time>{% endif %}
        </div>
      </div>
    </div>
    {% else %}
      {% if article.has_graphical_abstract %}
        {% include 'common/abstract/graphical-abstract-summary.html' with images=article.get_illustrations %}
        <div class="col-sm-8">
      {% else %}
        <div class="col-sm-10">
      {% endif %}
      
      {% include 'common/title/title.html' with item=resource with_links=True %}
      <div style="margin-bottom: 10px;">{% include 'common/contribution/contrib.html' with item=resource for_issue=True %}</div>
      {% include 'common/binary-files.html' with embargo=article.my_container.embargo binary_files=article.get_binary_files_href.self %}
      </div>
      <div class="col-2 d-none d-sm-none d-md-block article-pages {% if articles_to_appear %}to-appear-pages{% endif %}">
        {{ article.get_summary_page_text }}
        {% if article.page_type == 'volant' %} ({% trans 'Pages volantes' %}){% endif %}
        {% if article.page_type == 'supplement' %} ({% trans 'Pages supplémentaires' %}){% endif %}
        {% if article.page_type == 'preliminaire' %} ({% trans 'Pages préliminaires' %}){% endif %}
        {% if article.page_type == 'special' %} ({% trans 'Pages spéciales' %}){% endif %}
      </div>
    {% endif %}
  </div>
  {% if not forloop.last %}
    <hr class="separator">
  {% endif %}
{% endfor %}