{% load i18n %}
{% load helpers %}
{% load static %}

{% if embargo %}
  <span class="fa fa-time" alt="{% trans 'Le texte intégral des articles récents est réservé aux abonnés de la revue.' %}"></span>
  {% if display_embargo_text %}
    <span style="line-height:24px;display:inline-block;vertical-align: middle"> {% trans 'Le texte intégral des articles récents est réservé aux abonnés de la revue.' %}
    {% if doi %}{% blocktrans %}Consulter l'article sur le <a href='{{ doi }}'>site de la revue</a>{% endblocktrans %}
    {% elif website %}{% blocktrans %}Consultez le <a href='{{ website }}'>site de la revue</a>{% endblocktrans %}{% endif %}
    </span>
  {% endif %}
{% else %}
   {% if binary_files.pdf %}
    <a target="_blank" href="{{ binary_files.pdf |replace_basename_binary_file }}" class="btn btn-primary{% if small %} btn-xs{%endif%}">
      <i class="fa fa-file-pdf-o{% if not small %} fa-lg{% endif %}" aria-hidden="true"></i> Get full text PDF
    </a>
  {% endif %}
  {% for recommendation in recommendations %}
      <a class="btn_recommendation btn btn-primary pull-right" href="https://doi.org/{{ recommendation.id_value }}" target="_blank">
        Peer reviewed and recommended by PCI
      </a>
  {% endfor %}
  {% if SHOW_DJVU and binary_files.djvu %}
    <a href="{{ binary_files.djvu |replace_basename_binary_file }}">
      <img src="{% static 'ptf/img/djvu.png' %}">
    </a>
  {% endif %}
  {% if binary_files.tex %}
    <a href="{{ binary_files.tex |replace_basename_binary_file }}">
      <img src="{% static 'ptf/img/tex.png' %}">
    </a>
  {% endif %}
{% endif %}
