{% extends "common/menu-elements.html" %}

{% block menu %}
{% if pos == "top" %}
  <li role="presentation" {% if request.path == '/' %}class="active"{% endif %}>
    <a class="menu-link nav-link" href="{% url 'home' %}">
      Home{% if request.path == '/' %} <span class="sr-only">(current)</span>{% endif %}
    </a>
  </li>
{% endif %}

{{ block.super }}
{% endblock menu %}