{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
  <div class="cover-thumbnail">
    <a href="{% static "ambp/img/AMBP.jpg" %}" class="lightbox" title="">
      <img src="{% static "ambp/img/AMBP.jpg" %}">
    </a>
  </div>
  {% include "common/issue-list.html" %}
{% endblock content %}
