<template>
    <h4>
        <span>Comptes Rendus de l'Académie des Sciences 〉</span>
        Special Issue
    </h4>
    <div class="column left form-box">
      <BaseInput 
          v-model="special.titleEn"
          label="Title [en]"
          type="text"
      />

      <BaseInput
          v-model="special.titleFr"
          label="Title [fr]"
          type="text"
      />

      <BaseInput
          v-model="special.year"
          label="Year"
          
      />

      
    </div>
      

      <!-- <div class="mb-3">
          <label class="doi-label">Image d'illustration</label>
          </br>
            <input
                id="issue_icon_input"
                placeholder="image d'illutration"
                @change="loadImage('issue_icon', $event)"
                accept=".jpg, .jpeg, .png"
                type="file"

            />
            <button id="iconBin" @click="removeImage('issue_icon')" title="Delete this image"><i class="bi bi-trash"></i></button>
          <div class="canvas">
              <div :id="'icon_text'">
                <p> <br><br> Click and paste your image here <br><br> (Ctrl + v or ⌘ + v).</p>
              </div>
              <img id="issue_icon" class="img-preview" />
          </div>
      </div> -->
      <!-- <div class="column left">
        
            
          <div v-for="(contrib, index) in special.contribs" v-bind:id="'contrib-' + index" v-bind:key="contrib.contrib_xml" >
            <div class="se-label">Editor</div>
            <BaseAuthor
              v-model="special.contribs"
              label="Authors"
              :index="index"
              :contrib="contrib"
              @remove-contributor="removeContributor(index)"
            />
          </div>
          <button class="btn btn-add-article" @click="insertNewAuthor()"><i class="bi bi-plus-lg"></i> Add an editor</button>
      </div> -->

      <!-- Editor section-->
      <!--WARNING: One should import a generic component BaseAuthor but for some reasons the import make vuejs bug.
      This is a temporary solution that shall be investigated.-->
      <div class="column left">
        
        <div v-for="(contrib, index) in special.contribs" v-bind:id="'contrib-' + index" v-bind:key="contrib.contrib_xml" >
          <div class="form-row form-box">
            <BaseInput
              v-model="contrib['first_name']"
              label="Firstname:"
              type="text"
            />
            <BaseInput
              v-model="contrib['last_name']"
              label="Lastname:"
              type="text"
            />
            <BaseInput
              v-model="contrib['orcid']"
              label="ORCID:"
              type="text"
            />
            <button id="iconBin" @click="removeContributor(index)" title="Delete this editor" style="margin-left: 95%;"><i class="bi bi-trash"></i></button>
          </div>
          
        </div>
        <button class="btn btn-add-article" @click="insertNewAuthor()"><i class="bi bi-plus-lg"></i> Add an editor</button>
      </div>
      
<!--
      <div class="form-row form-box">
        <BaseCKEditor 
            v-model="special.head_fr"
            label="Description [fr]"
            type="text"
            id="head_fr"
        />
      </div>

      <div class="form-row form-box">
        <BaseCKEditor 
            v-model="special.head_en"
            label="Description [en]"
            type="text"
            id="head_en"
        />
      </div> -->

    
    
    
    

    
    
    
    <div v-for="(item, index) in articles">
      <div class="column left form-box">
        <span class="badge badge-pill">Article <span v-html="index + 1"></span></span>
        <div class="form-row">
          <label class="doi-label">DOI</label>
          <input @keyup.enter="fetchRefDoi(index, item)" class="sc-text-input" v-model.trim="item.doi" placeholder="Enter a DOI (10.5802/cr...) and press return" />
          <button @click="fetchRefDoi(index, item)" title="Get reference metadata from Crossref">
            <i class="bi bi-cloud-download"></i>
          </button>
          <button @click="removeArticle(index)" title="Delete this article"><i class="bi bi-trash"></i></button>
          <button :disabled="index <= 0" @click="moveRef(index, -1)" title="Move this reference up">
            <i class="bi bi-arrow-up"></i>
          </button>
          <button :disabled="index >= articles.length - 1" @click="moveRef(index, +1)" title="Move this reference down">
            <i class="bi bi-arrow-down"></i>
          </button>
        </div>
        <div class="form-row">
          <div style="background-color: white;">
            <div v-html="item.citation" :id="'citation' + index"></div>
          </div>
          
        </div>
      </div>

      <!-- <div class="column right">
        <label class="doi-label">Illustration</label>
        <div class="form-row">
          <input type="file" :id="'image-input-' + index" accept=".jpg, .jpeg, .png" @change="loadImage(index, $event)" />
          <button @click="removeImage(index)" title="Delete this image"><i class="bi bi-trash"></i></button>
        </div>
        <div class="canvas" @paste="onPaste(index, $event)" @drop.stop.prevent="onDrop(index, $event)" @dragover.prevent>
          <div :id="'image-label-' + index">
            <p> <br><br> Click and paste your image here <br><br> (Ctrl + v or ⌘ + v).</p>
          </div>
          <img :id="'image-article-' + index" class="img-preview"/>
        </div>
      </div> -->
    </div>

  <div class="column-left">
    <button class="btn btn-add-article" @click="insertNewRef()"><i class="bi bi-plus-lg"></i> Add an article</button>
    <!-- <div class="concluding-part">
      <button data-bs-toggle="collapse" class="collapsed" href="#footnote" id="footnote-button">
        <i class="bi bi-chevron-double-down" aria-hidden="true"></i>
        Add a closing text
      </button>
      <button v-if="special.tail_fr || special.tail_en" @click="removeFootnotes()" title="Delete footnotes"><i class="bi bi-trash"></i></button>


      <div class="collapse" id="footnote">
        <div>
          <div class="form-row form-box">
            <BaseCKEditor 
                v-model="special.tail_fr"
                label="Conclusion [fr]"
                type="text"
                id="tail_fr"
            />
          </div>

          <div class="form-row form-box">
            <BaseCKEditor 
                v-model="special.tail_en"
                label="Conclusion [en]"
                type="text"
                id="tail_en"
            />
          </div>
        </div>
      </div>
    </div> -->
    
  </div>
  <div class="column-left">

    <button v-if="special.titleFr && special.titleEn" class="btn btn-primary" v-on:click="saveForm">Save</button>
    <button v-else class="btn btn-primary disabled" v-on:click="titleError">Save</button>
    <p id="saveButtonLegend"></p>
  </div>
  
</template>

<script>
import BaseInput from '../components/BaseInput.vue'
import BaseSelect from '../components/BaseSelect.vue'
import BaseCKEditor from "../components/BaseCKEditor.vue"
import BaseImage from "../components/BaseImage.vue"
import BaseAuthor from "../components/BaseAuthor.vue"
import axios from "axios"
// import { useRoute } from 'vue-router'

function add_ckeditor(ids, config) {
  console.log("bonjour")
  setTimeout(() => {
    ids.forEach((id) => {
      CKEDITOR.replace(id, config);
    });
  }, 100);
}

function get_ckeditor(id) {
  return CKEDITOR.instances[id];
}

function displayIcon(ImageId, data, name) {
  let output = document.getElementById(ImageId);
  
  output.src = data;
  output.name = name;
  document.getElementById("icon_text").innerHTML = name;
}

function displayImage(index, data, name) {
  let output = document.getElementById("image-article-" + index);
  output.src = data;
  output.name = name;
  document.getElementById("image-label-" + index).innerHTML = name;
}



export default {
    data () {
        return {
            special: {},                
            status: [
                "Draft",
                "Published"
            ],
            articles : [],
            colid: "",
            pk: 0,
            IssueIcon : {},
            IssueIllustration : null,
            editorContentConfig: {
                toolbar: [
                { name: "document", items: ["Source", "-", "Preview", "-", "NewPage"] },
                { name: "clipboard", items: ["Cut", "Copy", "Paste", "PasteText", "PasteFromWord", "-", "Undo", "Redo"] },
                { name: "editing", items: ["Find", "Replace", "-", "SelectAll", "-"] },
                { name: "styles", items: ["Styles", "Format", "Font", "FontSize"] },
                { name: "colors", items: ["TextColor", "BGColor"] },
                { name: "tools", items: ["Maximize", "ShowBlocks"] },
                { name: "mathjax", items: ["Mathjax"] },
                "/",
                { name: "basicstyles", items: ["Bold", "Italic", "Underline", "Strike", "Subscript", "Superscript", "-", "CopyFormatting", "RemoveFormat"] },
                { name: "paragraph", items: ["NumberedList", "BulletedList", "-", "Outdent", "Indent", "-", "CreateDiv", "-", "JustifyLeft", "JustifyCenter", "JustifyRight", "JustifyBlock", "-", "BidiLtr", "BidiRtl"] },
                { name: "links", items: ["Link", "Unlink", "Anchor"] },
                { name: "insert", items: ["Image", "Flash", "Table", "HorizontalRule", "SpecialChar"] },
                ],
                height: 500,
                width: "90%",
                removePlugins: "exportpdf",
                extraPlugins: "mathjax",
                mathJaxLib: "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-AMS_HTML",
                mathJaxClass: "mathjax-formula",
                editorplaceholder: "Write the special issue description here.",
                filebrowserBrowseUrl: "/ckeditor/browse/",
                filebrowserUploadUrl: "/ckeditor/upload/",
            },
            editorCitationConfig: {
                toolbar: [
                { name: "document", items: ["Source"] },
                { name: "basicstyles", items: ["Bold", "Italic", "Underline", "Strike", "-", "RemoveFormat"] },
                { name: "paragraph", items: ["NumberedList", "BulletedList", "-", "Outdent", "Indent", "-", "JustifyLeft", "JustifyCenter", "JustifyBlock"] },
                { name: "links", items: ["Link", "Unlink", "Anchor"] },
                { name: "styles", items: ["Styles", "Format", "Font", "FontSize"] },
                { name: "colors", items: ["TextColor", "BGColor"] },
                ],
                height: 180,
                width: "100%",
                removePlugins: ["exportpdf", "mathjax"],
                forcePasteAsPlainText: true,
            },
        }
    },
    el: "#special-issue",
    components: {
        BaseInput,
        BaseSelect,
        BaseCKEditor,
        BaseImage,
        BaseAuthor
    },
    methods: {
        titleError() {
          let legend = document.getElementById("saveButtonLegend")
          legend.style = "color: red"
          legend.textContent = "One title field is empty. Please enter a value before saving."
          setTimeout(() => {
            legend.textContent = ""
          }, 5000)
        },
        removeContributor(index) {
          console.log("remove contrib")
          let contributor = document.getElementById(`contrib-${index}`)
          console.log(this.special.contribs)
          this.special.contribs.splice(index, 1)
          for (let i = 0; i < this.special.contribs.length; i++) {
              get_ckeditor("citation" + i).setData(this.articles[i].citation);
              displayImage(i, this.articles[i].src, this.articles[i].imageName);
            }

        },
        getDefaultImage(index, source) {
          let journal = source.replace("é", "e")
          let imageName = "logo-as.png";
          let series = ["Biologies", "Chimie", "Geoscience", "Mecanique", "Mathematique", "Physique", "Palevol"];
          for (const serie of series) {
            if (journal.match("^Comptes Rendus") && journal.search(serie) > 14) {
              imageName = "couv_" + serie.toLowerCase().substring(0, 4) + ".jpg";
              break;
            }
          }
          displayImage(index, "/static/cr/img/" + imageName, imageName);
        },
        onPaste(index, event) {
          const data = event.clipboardData || window.clipboardData;
          this.processEventData(index, data.items);
        },
        onDrop(index, event) {
          let imageFile = event.dataTransfer.getData("text/uri-list");
          let imageName = event.dataTransfer.getData("application/x-moz-file-promise-dest-filename");
          if (!imageFile) {
            imageFile = event.dataTransfer.getData("text/plain");
          }
          imageName = imageName ? imageName : imageFile.split("/").pop();
          if (!imageFile) {
            this.processEventData(index, event.dataTransfer.items);
          } else {
            displayImage(index, imageFile, imageName);
          }
        },
        moveRef(index, step) {
            let pos = index + step;
            if (pos >= 0 && pos < this.articles.length) {
              let refs = this.articles.splice(index, 1);
              this.articles.splice(pos, 0, refs[0]);
              let d1 = get_ckeditor("citation" + index);
              let d2 = get_ckeditor("citation" + pos);
              let tmp = d1.getData();
              d1.setData(d2.getData());
              d2.setData(tmp);

              let im1 = document.getElementById("image-article-" + index);
              let im2 = document.getElementById("image-article-" + pos);
              for (const im_attr of ["src", "name"]) {
                tmp = im1.getAttribute(im_attr);
                im1.setAttribute(im_attr, im2.getAttribute(im_attr));
                im2.setAttribute(im_attr, tmp);
              }
              let n1 = document.getElementById("image-label-" + index);
              let n2 = document.getElementById("image-label-" + pos);
              tmp = n1.innerHTML;
              n1.innerHTML = n2.innerHTML;
              n2.innerHTML = tmp;
            }
        },
        removeArticle(index) {
          this.articles.splice(index, 1);
          for (let i = 0; i < this.articles.length; i++) {
            get_ckeditor("citation" + i).setData(this.articles[i].citation);
            displayImage(i, this.articles[i].src, this.articles[i].imageName);
          }
        },
        removeFootnotes() {
          this.special.tail_en = ""
          this.special.tail_fr = ""
          CKEDITOR.instances.tail_fr.setData("")
          CKEDITOR.instances.tail_en.setData("")
          setTimeout(() => {
            this.checkFootnote(this.special.tail_fr, this.special.tail_en)
          }, 500)
        },
        removeImage(index) {
          if(index == "issue_icon") {
            displayIcon(index, "", "<p> <br><br> Click and paste your image here <br><br> (Ctrl + v or ⌘ + v).</p>")
            this.IssueIllustration = None
          } else {
            this.articles[index].src = "";
            displayImage(index, "", "<p> <br><br> Click and paste your image here <br><br> (Ctrl + v or ⌘ + v).</p>")
          }
          
        },
        fetchRefDoi(index, article) {
          if (!article || !article.doi.trim() || !article.doi.startsWith("10.")) {
            this.wrongDOI(index);
            return false;
          }
          let url = "/fetch-ref/" + index + "/" + article.doi + "/";
          axios
            .get(url)
            .then((response) => {
              // if (!article.src) {
              //   this.getDefaultImage(index, response.data.source_tex);
              // }
              if (!response.data.citation_tex) {
                this.wrongDOI(index);
                return false;
              }
              let doi = '<p><a href="https://doi.org/' + response.data.doi + '">';
              let citation = response.data.citation_html.split("] ")[1];
              let author = citation.match(/<span class="citation-author">(.*?)<\/span>/);
              let document_title = citation.match(/<span class="citation-document-title">(.*?)<\/span>/);
              let publication_title = citation.match(/<span class="citation-publication-title">(.*?)<\/span>/);
              let volume = citation.match(/<span class="citation-volume">(.*?)<\/span>(.*)/);
              citation = document_title ? doi + document_title[1].trim() + "</a></p>" : "";
              citation += author ? "<p>" + author[1] + "</p>" : "";
              citation += publication_title ? publication_title[1].slice(2) : "";
              citation += volume ? volume[1] + volume[2] : "";
              article.citation = citation;
            })
            .catch((error) => {
              console.error(error);
              return false;
            });
          return true;
        },
        insertNewRef() {
          let newRef = {
            doi: "",
            citation: "",
            image: "",
          };
          this.articles.push(newRef);
          let index = this.articles.length - 1;
          
        },
        loadImage(ImageId, event) {
              if (event.target.files[0].type.match("^image")) {
                  this.IssueIllustration = event.target.files[0]
                  this.readImage(ImageId, event.target.files[0]);
              }
          },
        readImage(ImageId, imageFile) {
            let reader = new FileReader();
            reader.onload = function () {
              if (ImageId == "issue_icon") {
                displayIcon(ImageId, reader.result, imageFile.name);
              } else {
                displayImage(ImageId, reader.result, imageFile.name);
              }
                
            };
            reader.readAsDataURL(imageFile);
        },
        saveForm() {
          // console.log("contribs", this.special.contribs)
            let saveButtonLegend = document.getElementById('saveButtonLegend')
            saveButtonLegend.innerHTML = "Saving Data"
            let formData = new FormData()
            // formData.append("articles", this.articles)
            // for (let i = 0; i < this.articles.length; i++) {
              
            //   let img = document.getElementById("image-article-" + i);
            //   if (img.src) {
            //     let src = img.src.match("^data:|^https:") ? img.src : new URL(img.src).pathname;
            //     this.articles[i].src = src;
            //     this.articles[i].imageName = img.name;
            //   }
            // }
            let data = {}
            if (this.articles.length > 0) {
              this.articles.forEach((item, index) => {
                formData.append(`article[${index}]`, JSON.stringify(item))
              })
              formData.append("nb_articles", this.articles.length)
            }
            
            if (this.special.contribs.length > 0) {
              this.special.contribs.forEach((item, index) => {
                if (!("author_id" in item)) {
                  item["author_id"] = null
                }
                console.log(JSON.stringify(item))
                formData.append(`contrib[${index}]`, JSON.stringify(item))
              })
              formData.append("nb_contrib", this.special.contribs.length)
            }
            
            formData.append("title", this.special.titleFr )
            formData.append("trans_title", this.special.titleEn)
            formData.append("year", this.special.year)
            formData.append("volume", this.special.volume)
            formData.append("contribs", this.special.contribs)
            // let icon_src = document.getElementById('issue_icon').src
            // if (this.IssueIllustration) {
            //   formData.set("IssuesIllustration", this.IssueIllustration)
            //   data.icon = formData.get("IssuesIllustration")
            // } else if (icon_src) {
            //   formData.append("icon_present", true)
            // }
            // data.head_fr = get_ckeditor("head_fr").getData()
            // data.head_en = get_ckeditor("head_en").getData()
            // formData.append("head_fr", data.head_fr)
            // formData.append("head_en", data.head_en)
            // data.tail_fr = get_ckeditor("tail_fr").getData()
            // data.tail_en = get_ckeditor("tail_en").getData()
            // formData.append("tail_fr", data.tail_fr)
            // formData.append("tail_en", data.tail_en)
          
            let url = "/special_issue_edit_api/" + this.colid + "/" + this.pk + "/"
            const csrf_token = document.querySelector("[name=csrfmiddlewaretoken]").value
            
            axios
                .post(url, formData, {
                    headers: {
                        "X-CSRFTOKEN": csrf_token,
                        // "Content-type": "application-json"
                        "Content-type": "multipart/form-data"
                    },
                })
                .then((response) => {
                    console.log("r", response)
                    saveButtonLegend.innerHTML = "Data Saved"
                    setTimeout(() => {
                    saveButtonLegend.innerHTML = ""
                    }
                    ,2000)
                    let new_url = "/special_issue_edit/" + response.data.colid + "/" + response.data.pk
                    window.location.href = new_url
                    }
                     
                  )
                .catch((error) => {
                    console.log(error)
                })
            console.log("route", this.$route)
            // this.$router.push({ name: 'special_issue_edit_api', params: {'colid': }})
            
        },
        mountImages(mountIcon=false) {
          setTimeout(() => {
            for (let i = 0; i < this.articles.length; i++) {
              let imname = document.getElementById("image-label-" + i);
              let img = document.getElementById("image-article-" + i);
              if (imname && img && this.articles[i].src) {
                imname.innerHTML = this.articles[i].imageName;
                img.name = this.articles[i].imageName;
                let src = this.articles[i].src;
                if (src.startsWith("/static/") || src.startsWith("http")) {
                  img.src = src;
                } else {
                  // We remove the site domain to get the Trammel media path:
                  img.src = "/media" + src.split("/media").pop();
                }
              }
            }
            if (this.icon_name != "") {
              document.getElementById('icon_text').innerHTML = ""
            }
          }, 100);
          setTimeout(() => {
            
            let img = document.getElementById("issue_icon");
            if(mountIcon) {
              img.src = this.icon_path
              document.getElementById('icon_text').innerHTML = ""

            } else {
              document.getElementById('icon_text').innerHTML = "<p> <br><br> Click and paste your image here <br><br> (Ctrl + v or ⌘ + v).</p>"
            }

          }, 100);
        },
        checkFootnote(tailFr, tailEn) {
          let footnoteButton = document.getElementById("footnote-button")
          let footnoteFields = document.getElementById("footnote")
          if(tailFr != "" | tailEn != "") {
              footnoteButton.classList = []
              footnoteButton.setAttribute("aria-expanded", 'true')
              footnoteFields.classList = ["collapse", "show"]
            } else {
              footnoteButton.classList = ["collapsed"]
              footnoteButton.setAttribute("aria-expanded", 'false')
              footnoteFields.classList = ["collapse", "show", "collapsing"]
              setTimeout(() => {
                footnoteFields.classList = ["collapse"]
              }, 100)
            }
        },
        insertNewAuthor(){
          let contrib = {
            firstname: "",
            lastname: "",
            prefix: "",
            suffix: "",
            orcid: "",
            email: "",
            string_name: "",
            mid: "",
            addresses: [],
            address_text: "",
            role: "editor",
            deceased_before_publication: false,
            equal_contrib: false,
            contrib_xml: '<contrib equal-contrib="yes"><name><surname></surname><given-names></given-names></name></contrib>',
            corresponding: false,
          }
          this.special["contribs"].push(contrib)
          let index = 0
          let contributors = this.special["contribs"]
          if (contributors.length > 0) {
            index = contributors.length - 1
          }
        }
    },
    
    mounted() {
        console.log("bonjour")
        let location = window.location.href;
        let pathname = new URL(location).pathname;
        let uri = pathname.replace("_edit", "_edit_api");
        let mountIcon = false
        
        // console.log(uri);
    
        axios.get(uri).then((response) => {
            this.special.titleFr = response.data["title"]
            this.special.titleEn = response.data["trans_title"]
            this.special.year = response.data["year"]
            // this.special.head_fr = response.data["head_fr"]
            // this.special.head_en = response.data["head_en"]
            // this.special.tail_fr = response.data["tail_fr"]
            // this.special.tail_en = response.data["tail_en"]
            this.special.volume = response.data["volume"]
            this.special.contribs = response.data["contribs"]
            // console.log("contribs", this.special.contribs)
            this.colid = response.data["colid"]
            this.pk = response.data["pk"]
            // if (response.data["icon_name"]) {
            //   this.icon_name = response.data["icon_name"]
            //   this.icon_path = response.data["icon_path"]
            //   mountIcon = true
            // }
            this.articles = Array.from(response.data["articles"])
            
            // add_ckeditor(["head_fr", "head_en"], this.editorContentConfig)
            // add_ckeditor(["tail_en", "tail_fr"], this.editorCitationConfig);
            
            // this.mountImages(mountIcon)
            // this.checkFootnote(this.special.tail_fr, this.special.tail_en)
            console.log("articles", this.articles)
        });
        
    },
}
</script>

<style>
:root {
  --default-padding: 4px;
  --default-margin: 5px;
  --body-bg: #f7f7f7;
  --blue-color: #4d75b0;
  --green-color: #1ba265;
  --label-text-color: #151234;
  --badge-background-color: #efefe7;
  --badge-text-color: #5550a3;
  --badge-font-size: 14px;
  --error-background-color: #f9fbc1;
  --error-text-color: #79082e;
  --border-radius: 3px;
}

body {
    background: var(--body-bg);
}

textarea {
  width: 500px;
  max-width: 900px;
  border-radius: var(--border-radius);
}

input {
  width: 500px;
  max-width: 900px;
  border-radius: var(--border-radius);
}

input[type="file"] {
  display: inline;
  width: 130px;
  margin-top: var(--default-margin);
  margin-bottom: var(--default-margin);
  color: rgba(0, 0, 0, 0);
}

input[type="number"] {
  max-width: 100px;
  padding: 3px 5px;
}

label {
  display: inline-block;
  width: 120px;
  color: var(--blue-color);
}

/* label::after {
  content: " :";
} */

.column {
  float: left;
  margin-bottom: 10px;
}

.left {
  width: 85%;
  min-width: 800px;
}

.right {
  margin-left: 10px;
  margin-right: 10px;
  width: 10%;
}

.form-row {
  min-width: 180px;
  align-items: center;
  margin: var(--default-margin);
  margin-bottom: 15px;
  padding: var(--default-padding);
  border-radius: 5px;
}

.form-box {
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px 1.8px;
}

.textarea-label {
  display: inline;
}

.textarea-label::after {
  content: "";
}

.doi-label {
  width: 50px;
  white-space: nowrap;
}

.concluding-part {
  width: 90%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.concluding-part button[aria-expanded="true"] i.bi.bi-chevron-double-down::before {
  transition: transform 0.5s;
  transform: rotate(180deg);
}

.img-preview {
  margin-top: var(--default-margin);
  max-width: 200px;
  max-height: 200px;
  border-radius: 4px;
}

.canvas {
  border: 1px solid;
  padding: 10px;
  width: 220px;
  height: 240px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 11px;
}

.btn-needs-save {
  background-color: var(--blue-color);
}

.btn-add-article {
  margin-top: 20px;
  border-color: var(--green-color);
  color: var(--label-text-color);
  border-width: 1px;
}

.badge-pill {
  border-radius: var(--border-radius);
  margin-left: var(--default-margin);
  padding: 8px;
  background-color: var(--badge-background-color);
  color: var(--badge-text-color);
  font-size: var(--badge-font-size);
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px 1.8px;
}

.form-button {
  display: flex;
  justify-content: space-between;
}

#id-save-text {
  background-color: var(--error-background-color);
  color: var(--error-text-color);
  font-size: 16px;
}

.cke_notifications_area {
    display: none;
}


</style>