{% extends "base.html" %}
{% block page_content %}
{% block content %}
<div id="publisher-status">
<h3>Volumes en attente de publication</h3>
<div>
<ul id="pub-actions">
{% if begin %}
<li><a href="{% url 'begin-publication' %}">Start publication</a></li>
{% else %}
<li>Start publication (En cours: début le {{ checkpoint1|date:"d E, h:i"}})</li>
{% endif %}
{% if end %}
<li><a href="{% url 'end-publication' %}">End publication</a></li>
{% else %}
<li>End publication (Terminée le {{ checkpoint2|date:"d E, h:i"}})</li>
{% endif %}
</ul>
</div>
<table>
<tr><th>Journaux</th><th style="text-align:left">Publiées</th><th style="text-align:left">À publier</th></tr>
{% for data in journal_info %}
<tr>
<td width="40%">{{ data.journal.title }}</td><td> {{ data.first_pub_year }}--{{ data.last_pub_year }}</td>
<td><form method="get" action="{% url 'publish' %}"><input type="text" name="py1" size="4" value="{{ data.first_year }}" {% if begin %}disabled="disabled"{% endif %}/><input type="text" name="py2" size="4" value="{{ data.last_year }}" {% if begin %}disabled="disabled"{% endif %}/>
<input type="submit" value="Publier" {% if begin %}disabled="disabled"{% endif %}/><input type="hidden" name="jid" value="{{ data.journal.id }}"/></form>
</td>
</tr>
{% endfor %}
<tr><th colspan="4">Actes &amp; Séminaires</th></tr>
{% for data in acta_info %}
<tr>
<td width="40%">{{ data.journal.title }}</td><td> {{ data.first_pub_year }}--{{ data.last_pub_year }}</td>
<td><form method="get" action="{% url 'publish' %}"><input type="text" name="py1" size="4" value="{{ data.first_year }}" {% if begin %}disabled="disabled"{% endif %}"/><input type="text" name="py2" size="4" value="{{ data.last_year }}" {% if begin %}disabled="disabled"{% endif %}"/>
<input type="submit" value="Publier" {% if begin %}disabled="disabled"{% endif %}/><input type="hidden" name="jid" value="{{ data.journal.id }}"/></form>
</td>
</tr>
{% endfor %}
<tr><th colspan="4">Séries</th></tr>
{% for data in series_info %}
<tr>
<td width="40%">{{ data.journal.title }}</td><td> {{ data.first_pub_year }}--{{ data.last_pub_year }}</td>
<td><form method="get" action="{% url 'publish' %}"><input type="text" name="py1" size="4" value="{{ data.first_year }}" {% if begin %}disabled="disabled"{% endif %}/><input type="text" name="py2" size="4" value="{{ data.last_year }}" {% if begin %}disabled="disabled"{% endif %}/>
<input type="submit" value="Publier" {% if begin %}disabled="disabled"{% endif %}/><input type="hidden" name="jid" value="{{ data.journal.id }}"/></form>
</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
{% endblock %}
</body>
</html



