{% extends "mesh/forms/form_full_page.html" %}
{% load static i18n %}

{% block form_description %}
<div class="custom-form-description">
  {% if section_editors %}
  <p>
    {% translate "Users with section editor rights" %}:
  </p>
  <div class="existing-item-list">
    {% for editor in section_editors %}
    <div class="existing-item mesh-component">
      <div class="existing-item-name">{{ editor.user }}</div>
      {% if editor.buttons %}
      <div class="existing-item-actions">
        {% for button in editor.buttons %}
        {% include "mesh/components/button.html" with button=button %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if assigned_editors %}
  <p>
    {% translate "Currently assigned editors" %}:
  </p>
  <div class="existing-item-list single-column">
    {% for editor in assigned_editors %}
    <div class="existing-item mesh-component">
      <div class="existing-item-name">{{ editor.user }}</div>
      {% if editor.buttons %}
      <div class="existing-item-actions">
        {% for button in editor.buttons %}
        {% include "mesh/components/button.html" with button=button %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>
    {% translate "There aren't any editor assigned to the submission" %}
    <a href="{% url "mesh:submission_details" pk=submission.pk %}">{{ submission.name|safe }}</a>.
    <br>
  </p>
  {% endif %}
  <p>
    {% translate "Please fill the below form to assign a new editor." %}
  </p>
</div>
{% endblock form_description %}
