{% extends "base.html" %}
{% load i18n static %}
{% comment %}
  Base template to render a single form as a full page component.
  Arguments:
    - `form`  The Django form instance. It should inherit from `MeshFormMixin` to enable all features.
{% endcomment %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "mesh/css/components/forms.css" %}" />
{% endblock extra_css%}

{% block main_content %}
<div id="mesh-page-journal_section">
  {% if stepper %}
  <div class="form-stepper-journal_section">
    {% if stepper.title %}
    <div class="form-stepper-title">
      {{ stepper.title }}
    </div>
    {% endif %}
    {% include "mesh/components/stepper.html" with stepper=stepper %}
  </div>
  {% endif %}

  <div class="page-title-block">
    {% block page_title_block %}
    <div class="page-title">
      {% block page_title %}
      {% if submit_confirm %}
      <span>{% translate "Confirm" %}:</span>
      {% endif %}
      <span>{{ page_title }}</span>
      {% endblock page_title %}
    </div>
    {% comment %} Buttons to display next to the page title. {% endcomment %}
    {% if title_buttons %}
    <div class="page-title-actions">
      {% for button in title_buttons %}
      <div class="page-title-action">
        {% include "mesh/components/button.html" with button=button %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endblock page_title_block %}
  </div>

  <div id="mesh-page-content">
    {% block form_description %}
    {% if form_description %}
    <div class="custom-form-description">
      {% for p in form_description %}
      <p>
        {{ p|safe }}
      </p>
      {% endfor %}
    </div>
    {% endif %}
    {% endblock form_description %}

    {% block form_wrapper %}
    <div class="custom-form-wrapper">
      <form class="custom-form" enctype="multipart/form-data" method="POST" id="id-form-fullpage">
        {% csrf_token %}
        {% include "mesh/forms/form_template.html" %}
        {% comment %}
          Form buttons - Default is one "Save" button to submit the form.
          This can be overriden with the `form.buttons` list
        {% endcomment %}
        {% if form.buttons %}
        <div class="form-buttons">
          {% for button in form.buttons %}
          {% include "mesh/components/button.html" with button=button %}
          {% endfor %}
        </div>
        {% endif %}
      </form>
    </div>
    {% endblock form_wrapper %}
  </div>
</div>
{% endblock main_content %}
