<div class="form-input-label">
  {{ field.label_tag }}
</div>
{% if field.field.widget.template_name == "ckeditor/widget.html" %}
<div class="form-input-widget ckeditor-input">
{% else %}
<div class="form-input-widget{% if type %} {{ type }}{% endif %}">
{% endif %}
  {{ field }}
  {% comment %} CSS to improve for help_text.inline {% endcomment %}
  {% if field.help_text %}
  {% if field.help_text.type == "list" %}
  {% for text in field.help_text.texts %}
  <div class="form-input-help-text{% if type == "checkbox" %} inline{% endif %}">
    {{ text }}
  </div>
  {% endfor %}
  {% else %}
  <div class="form-input-help-text{% if type == "checkbox" %} inline{% endif %}">
    {{ field.help_text }}
  </div>
  {% endif %}
  {% endif %}
</div>
