{% comment %}
  Base template for a form's inputs.
  Arguments:
    - `form`  The Django form object.
{% endcomment %}
{% load i18n %}
<div class="form-inputs">
  {% for field in form %}
  {% with type=field.field.widget.input_type %}
  <div class="form-input{% if field.errors%} input-error{% endif %}{% if field.field.required %} required{% endif %}">
    {% comment %} Field-level defined layout  {% endcomment %}
    {% if field.field.custom_display == "inline" %}
    {% include "mesh/forms/form_input_inline.html" with type=type %}
    {% elif field.field.custom_display == "block" %}
    {% include "mesh/forms/form_input_block.html" with type=type %}
    {% comment %} One can force the display of all fields within a form as inline or block. {% endcomment %}
    {% elif form.custom_display == "inline" %}
    {% include "mesh/forms/form_input_inline.html" with type=type %}
    {% elif form.custom_display == "block" %}
    {% include "mesh/forms/form_input_block.html" with type=type %}
    {% comment %}
    Block input (default) - label and input on 2 different lines
    TODO: The default input style could be inferred from the field type ?
    {% endcomment %}
    {% elif type and type in "date,datetime,checkbox" %}
    {% include "mesh/forms/form_input_inline.html" with type=type %}
    {% else %}
    {% include "mesh/forms/form_input_block.html" with type=type %}
    {% endif %}
  </div>
  {% endwith %}
  {% if field.field.separator_after_or %}
  <div class="form-input-hr-separator or">
    <hr role="presentation">
    <span>{% translate "OR" %}</span>
    <hr role="presentation">
  </div>
  {% elif field.field.separator_after %}
  <div class="form-input-hr-separator">
    <hr role="presentation">
  </div>
  {% endif %}
  {% endfor %}
</div>
