{% extends "mesh/forms/form_full_page.html" %}
{% load i18n static %}

{% block page_title %}
<span>{% translate "Journal section" %}&nbsp;- {{ journal_section.name }}</span>
{% endblock page_title %}

{% block form_description %}
<link rel="stylesheet" href="{% static "mesh/css/components/tree_node.css" %}" />

<div class="custom-form-description">
  {% if journal_sections_tree %}
  <div class="tree-wrapper mesh-component">
    {% include "mesh/components/tree_node.html" with tree_node=journal_sections_tree level=1 %}
  </div>
  {% endif %}
  <p>
    {% translate "Fill the below form to edit the journal section" %} - {{ journal_section.name }}
  </p>
  <p>
    {% translate "Upon deletion, all existing sections and submissions in this section will be placed in the parent section." %}
  </p>
</div>
{% endblock form_description %}
