{% extends "mesh/forms/form_full_page.html" %}
{% load static i18n %}

{% block form_description %}
<div class="custom-form-description">
  {% if authors %}
  <p>
    {% translate "Current authors" %}:
  </p>
  <div id="existing-authors" class="existing-item-list single-column">
    {% for author in authors %}
    <div class="existing-item mesh-component">
      <div class="existing-item-name">
        <span>{{ author.author }}</span>
      </div>
      {% if author.buttons %}
      <div class="existing-item-actions">
        {% for button in author.buttons%}
        {% include "mesh/components/button.html" with button=button %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>
    {% translate "There aren't any author for the submission" %}
    <a href="{% url "mesh:submission_details" pk=submission.pk %}">{{ submission.name|safe }}</a>.
    <br>
  </p>
  {% endif %}
  <p>
    {% translate "Please fill the below form to add an author." %}
  </p>
</div>
{% endblock form_description %}
