{% extends "base.html" %}
{% load mesh_tags i18n static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "mesh/css/components/table.css" %}">
<link rel="stylesheet" href="{% static "mesh/css/review_details.css" %}">
{% endblock extra_css%}

{% block extra_js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
{% endblock extra_js %}

{% block main_content %}
<div id="mesh-page-journal_section">
  <div class="page-title-block">
    <div class="page-title">
      {% translate "Review details" %} - {{ review_proxy.version.submission.name|safe }}
    </div>
  </div>

  <div id="mesh-page-content">
    <div class="mesh-page-content-section">
      <div class="section-title">
        {% translate "REVIEW DATA" %}
        <div class="section-separator"></div>
      </div>
      <div id="review-data" class="raw-data-display section-content">
        <div>{% translate "Submission" %}</div>
        <div><a href="{% url "mesh:submission_details" pk=review_proxy.version.submission.pk %}">{{ review_proxy.version.submission.name|safe }}</a></div>

        <div>{% translate "Reviewer" %}</div>
        <div>{{ review_proxy.reviewer }}</div>

        <div>{% translate "Round" %}</div>
        <div>#{{ review_proxy.version.number }}</div>

        <div>{% translate "Status" %}</div>
        <div><span class="inline-badge">{{ review_proxy.get_state_display }}</span></div>

        <div>{% translate "Recommendation" %}</div>
        <div>
          {% if review_proxy.recommendation %}
          <span class="inline-badge recommendation {{ review_proxy.recommendation }}">{{ review_proxy.get_recommendation_display }}</span>
          {% endif %}
        </div>

        <div>
          {% translate "Files" %}
        </div>
        <div class="mesh-table-wrapper">
          {% if review_proxy.additional_files %}
          {% include "mesh/dataTable_config.html" %}
          {% check_rights role_handler "can_edit_review_file_right" review_proxy as can_edit_review_file_right %}
          {% if can_edit_review_file_right %}
          <form method="POST" action="{% url "mesh:review_file_access_update" pk=review_proxy.pk %}">
            {% csrf_token %}
          {% endif %}
            <table  id="table-review-files"
              class="mesh-table"
              data-searching="false"
              data-paging="false"
              data-info="false">
              <thead>
                <tr>
                  <th>{% translate "Name" %}</th>
                  <th class="author-access">{% translate "Author access" %}</th>
                </tr>
              </thead>
              <tbody>
              {% for file_wrapper in review_proxy.additional_files %}
              <tr>
                <td class="review-file">
                  <a href="{{ file_wrapper.get_file_url }}" target="_blank">{{ file_wrapper.name }}</a>
                  <i>{{ file_wrapper.file.size|filesizeformat }}</i>
                </td>
                <td class="author-access">
                  {% if file_wrapper.author_access %}
                  <div class="review-author-availability" data-tooltip="{% translate "Available to the author(s)" %}">
                    {% if edit_right %}
                    <input type="checkbox" name="{{ input_prefix }}{{ file_wrapper.pk }}" checked value="{{ input_value }}">
                    {% endif %}
                    <i class="fa-solid fa-user color-primary"></i>
                    <i class="fa-solid fa-circle-check color-success"></i>
                  </div>
                  {% else %}
                  <div class="review-author-availability" data-tooltip="{% translate "Not available to the author(s)" %}">
                    {% if edit_right %}
                    <input type="checkbox" name="{{ input_prefix }}{{ file_wrapper.pk }}" value="{{ input_value }}">
                    {% endif %}
                    <i class="fa-solid fa-user color-primary"></i>
                    <i class="fa-solid fa-circle-xmark color-error"></i>
                  </div>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% if can_edit_review_file_right %}
          <div class="form-buttons">
            <button type="submit">
              <i class="fa-solid fa-floppy-disk" aria-hidden="true"></i>
              {% translate "Save" %}
            </button>
          </div>
        </form>
        {% endif %}
        {% endif %}
        </div>

        <div>{% translate "Comment / Message" %}</div>
        <div class="ckeditor-content" >{% if review_proxy.comment %}{{ review_proxy.comment|safe }}{% endif %}</div>

        <div>{% translate "Accepted" %}</div>
        <div>
          {% if review_proxy.accepted %}
          <i class="fa-solid fa-circle-check"></i>
          {% elif review_proxy.accepted is False %}
          <i class="fa-solid fa-circle-xmark"></i>
          {% endif %}
        </div>

        <div>{% translate "Response date" %}</div>
        <div><i>{{  review_proxy.date_accepted|date:"DATE_FORMAT" }}</i></div>

        <div>{% translate "Response comment" %}</div>
        <div class="ckeditor-content" >{% if review_proxy.accept_comment %}{{ review_proxy.accept_comment|safe }}{% endif %}</div>

        <div>{% translate "Submitted" %}</div>
        <div>
          {% if review_proxy.submitted %}
          <i class="fa-solid fa-circle-check"></i>
          {% elif review_proxy.submited is False %}
          <i class="fa-solid fa-circle-xmark"></i>
          {% endif %}
        </div>

        <div>{% translate "Submitted on" %}</div>
        <div>{% if review_proxy.date_submitted %}<i>{{ review_proxy.date_submitted }}</i>{% endif %}</div>
      </div>
    </div>
    <div class="mesh-page-content-section">
      <div class="section-title">
        {% translate "REQUEST DATA" %}
        <div class="section-separator"></div>
      </div>
      <div id="review-metadata" class="raw-data-display section-content">
        <div>{% translate "Requested by" %}</div>
        <div>{{ review_proxy.created_by }}</div>

        <div>{% translate "Requested on" %}</div>
        <div><i>{{  review_proxy.date_created|date:"DATE_FORMAT" }}</i></div>

        <div>{% translate "Response due date" %}</div>
        <div><i>{{  review_proxy.date_response_due|date:"DATE_FORMAT" }}</i></div>

        <div>{% translate "Review due date" %}</div>
        <div><i>{{  review_proxy.date_review_due|date:"DATE_FORMAT" }}</i></div>

        <div>{% translate "Request e-mail" %}</div>
        <div>{% if review_proxy.request_email %}{{  review_proxy.request_email|safe }}{% endif %}</div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}
