{% extends "mesh/forms/form_full_page.html" %}
{% load static i18n %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "mesh/css/components/table.css" %}">
{% endblock extra_css%}

{% block extra_js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
{% endblock extra_js %}

{% block page_title %}
<span>
  {% translate "Confirm Review" %}
</span>
{% endblock page_title %}


{% block form_description %}
<div class="custom-form-description">
  <p>
    {% blocktranslate %}
    You are about to submit your review for the round {{ review_proxy.version.number }} of the submission
    {% endblocktranslate %}
    <a href="{% url "mesh:submission_details" pk=review_proxy.version.submission.pk %}">{{ review_proxy.version.submission.name|safe }}</a>
  </p>
  <p>
    {% translate "Please confirm that the below information is correct." %}
  </p>
  <div class="review-recap">
    {% comment %} Metadata {% endcomment %}
    <div class="mesh-page-content-section">
      <div class="section-title">
        {% translate "Data" %}
        <div class="section-separator"></div>
      </div>
      <div id="submission-recap-metadata" class="raw-data-display section-content">
        <div>
          {% translate "Recommendation" %}
        </div>
        <div>
          {{ review_proxy.get_recommendation_display }}
        </div>
        <div>
          {% translate "Review comment" %}
        </div>
        <div class="ckeditor-content">
          {{ review_proxy.comment|safe }}
        </div>
      </div>
    </div>
    {% comment %} Files {% endcomment %}
    <div class="mesh-page-content-section">
      <div class="section-title">
        {% translate "Files" %}
        <div class="section-separator"></div>
      </div>
      <div class="section-content">
        {% include "mesh/files_table.html" with files=review_files %}
      </div>
    </div>
  </div>
</div>
{% endblock form_description %}
