<template>
  <h4>
    <span v-if="journal_title">{{ journal_title }} &#x232A; </span>Virtual Issue
  </h4>

  <div class="column left">
    <div class="form-row">
      <label>Title [en]</label>
      <input v-model="page.menu_title_en" placeholder="English title of the virtual issue" />
    </div>

    <div class="form-row">
      <label>Title [fr]</label>
      <input v-model="page.menu_title_fr" placeholder="French title of the virtual issue" />
    </div>

    <div class="form-row">
      <label>State</label>
      <select v-model="page.state">
        <option value="draft">Draft</option>
        <option value="published">Published</option>
      </select>
    </div>

    <div class="form-row">
      <label>Menu order</label>
      <input type="number" v-model.number="page.menu_order" min="0" />
    </div>

    <div class="form-row form-box">
      <div style="margin: 10px"><label class="textarea-label">Description [en]</label></div>
      <textarea id="head_en" v-model="page.head_en"></textarea>
    </div>

    <div class="form-row form-box">
      <div style="margin: 10px"><label class="textarea-label">Description [fr]</label></div>
      <textarea id="head_fr" v-model="page.head_fr"></textarea>
    </div>
  </div>

  <div v-for="(item, index) in articles">
    <div class="column left form-box">
      <span class="badge badge-pill">Article <span v-html="index + 1"></span></span>
      <div class="form-row">
        <label class="doi-label">DOI</label>
        <input @keyup.enter="fetchRefDoi(index, item)" class="sc-text-input" v-model.trim="item.doi" placeholder="Enter a DOI (10.5802/cr...) and press return" />
        <button @click="fetchRefDoi(index, item)" title="Get reference metadata from Crossref">
          <i class="bi bi-cloud-download"></i>
        </button>
        <button @click="removeArticle(index)" title="Delete this article"><i class="bi bi-trash"></i></button>
        <button :disabled="index <= 0" @click="moveRef(index, -1)" title="Move this reference up">
          <i class="bi bi-arrow-up"></i>
        </button>
        <button :disabled="index >= articles.length - 1" @click="moveRef(index, +1)" title="Move this reference down">
          <i class="bi bi-arrow-down"></i>
        </button>
      </div>
      <div class="form-row">
        <textarea :id="'citation' + index" v-model="item.citation"></textarea>
      </div>
    </div>

    <div class="column right">
      <label class="doi-label">Illustration</label>
      <div class="form-row">
        <input type="file" :id="'image-input-' + index" accept=".jpg, .jpeg, .png" @change="loadImage(index, $event)" />
        <button @click="removeImage(index)" title="Delete this image"><i class="bi bi-trash"></i></button>
      </div>
      <div class="canvas" @paste="onPaste(index, $event)" @drop.stop.prevent="onDrop(index, $event)" @dragover.prevent>
        <div :id="'image-label-' + index">
          <p> <br><br> Click and paste your image here <br><br> (Ctrl + v or ⌘ + v).</p>
        </div>
        <img :id="'image-article-' + index" class="img-preview" />
      </div>
    </div>
  </div>

  <div class="column left">
    <button class="btn btn-add-article" @click="insertNewRef()"><i class="bi bi-plus-lg"></i> Add an article</button>
    <div class="concluding-part">
      <button data-bs-toggle="collapse" class="collapsed" href="#footnote">
        <i class="bi bi-chevron-double-down" aria-hidden="true"></i>
        Add a closing text
      </button>

      <div class="collapse" id="footnote">
        <div>
          <div class="form-row form-box">
            <div style="margin: 10px"><label class="textarea-label">Conclusion [en]</label></div>
            <textarea id="tail_en" v-model="page.tail_en"></textarea>
          </div>

          <div class="form-row form-box">
            <div style="margin: 10px"><label class="textarea-label">Conclusion [fr]</label></div>
            <textarea id="tail_fr" v-model="page.tail_fr"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="form-button">
        <button id="id-save" class="btn btn-primary" v-on:click="saveForm">
          <i class="fa fa-arrow-circle-o-up"></i> Save
        </button>
        <button class="btn btn-danger" v-on:click="deleteForm">
          <i class="bi bi-trash"></i> Delete
        </button>
    </div>
    <p id="id-save-text"></p>
  </div>
</template>

<script>
import axios from "axios";

function add_ckeditor(ids, config) {
  setTimeout(() => {
    ids.forEach((id) => {
      CKEDITOR.replace(id, config);
    });
  }, 100);
}

function get_ckeditor(id) {
  return CKEDITOR.instances[id];
}

function displayImage(index, data, name) {
  let output = document.getElementById("image-article-" + index);
  output.src = data;
  output.name = name;
  document.getElementById("image-label-" + index).innerHTML = name;
}

export default {
  components: {},
  el: "#virtual-issue",
  data() {
    return {
      pid: "",
      colid: "",
      articles: [],
      page: {},
      parents: [],
      editorContentConfig: {
        toolbar: [
          { name: "document", items: ["Source", "-", "Preview", "-", "NewPage"] },
          { name: "clipboard", items: ["Cut", "Copy", "Paste", "PasteText", "PasteFromWord", "-", "Undo", "Redo"] },
          { name: "editing", items: ["Find", "Replace", "-", "SelectAll", "-"] },
          { name: "styles", items: ["Styles", "Format", "Font", "FontSize"] },
          { name: "colors", items: ["TextColor", "BGColor"] },
          { name: "tools", items: ["Maximize", "ShowBlocks"] },
          { name: "mathjax", items: ["Mathjax"] },
          "/",
          { name: "basicstyles", items: ["Bold", "Italic", "Underline", "Strike", "Subscript", "Superscript", "-", "CopyFormatting", "RemoveFormat"] },
          { name: "paragraph", items: ["NumberedList", "BulletedList", "-", "Outdent", "Indent", "-", "CreateDiv", "-", "JustifyLeft", "JustifyCenter", "JustifyRight", "JustifyBlock", "-", "BidiLtr", "BidiRtl"] },
          { name: "links", items: ["Link", "Unlink", "Anchor"] },
          { name: "insert", items: ["Image", "Flash", "Table", "HorizontalRule", "SpecialChar"] },
        ],
        height: 500,
        width: "90%",
        removePlugins: "exportpdf",
        extraPlugins: "mathjax",
        mathJaxLib: "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-AMS_HTML",
        mathJaxClass: "mathjax-formula",
        editorplaceholder: "Write the virtual issue description here.",
        filebrowserBrowseUrl: "/ckeditor/browse/",
        filebrowserUploadUrl: "/ckeditor/upload/",
      },
      editorCitationConfig: {
        toolbar: [
          { name: "document", items: ["Source"] },
          { name: "basicstyles", items: ["Bold", "Italic", "Underline", "Strike", "-", "RemoveFormat"] },
          { name: "paragraph", items: ["NumberedList", "BulletedList", "-", "Outdent", "Indent", "-", "JustifyLeft", "JustifyCenter", "JustifyBlock"] },
          { name: "links", items: ["Link", "Unlink", "Anchor"] },
          { name: "styles", items: ["Styles", "Format", "Font", "FontSize"] },
          { name: "colors", items: ["TextColor", "BGColor"] },
        ],
        height: 180,
        width: "100%",
        removePlugins: ["exportpdf", "mathjax"],
        forcePasteAsPlainText: true,
      },
    };
  },
  methods: {
    insertNewRef() {
      let newRef = {
        doi: "",
        citation: "",
        image: "",
      };
      this.articles.push(newRef);
      let index = this.articles.length - 1;
      add_ckeditor(["citation" + index], this.editorCitationConfig);
    },
    removeArticle(index) {
      this.articles.splice(index, 1);
      for (let i = 0; i < this.articles.length; i++) {
        get_ckeditor("citation" + i).setData(this.articles[i].citation);
        displayImage(i, this.articles[i].src, this.articles[i].imageName);
      }
    },
    removeImage(index) {
      this.articles[index].src = "";
      displayImage(index, "", "<p> <br><br> Click and paste your image here <br><br> (Ctrl + v or ⌘ + v).</p>")
    },
    moveRef(index, step) {
      let pos = index + step;
      if (pos >= 0 && pos < this.articles.length) {
        let refs = this.articles.splice(index, 1);
        this.articles.splice(pos, 0, refs[0]);
        let d1 = get_ckeditor("citation" + index);
        let d2 = get_ckeditor("citation" + pos);
        let tmp = d1.getData();
        d1.setData(d2.getData());
        d2.setData(tmp);

        let im1 = document.getElementById("image-article-" + index);
        let im2 = document.getElementById("image-article-" + pos);
        for (const im_attr of ["src", "name"]) {
          tmp = im1.getAttribute(im_attr);
          im1.setAttribute(im_attr, im2.getAttribute(im_attr));
          im2.setAttribute(im_attr, tmp);
        }
        let n1 = document.getElementById("image-label-" + index);
        let n2 = document.getElementById("image-label-" + pos);
        tmp = n1.innerHTML;
        n1.innerHTML = n2.innerHTML;
        n2.innerHTML = tmp;
      }
    },
    fetchRefDoi(index, article) {
      if (!article || !article.doi.trim() || !article.doi.startsWith("10.")) {
        this.wrongDOI(index);
        return false;
      }
      let url = "/fetch-ref/" + index + "/" + article.doi + "/";
      axios
        .get(url)
        .then((response) => {
          if (!article.src) {
            this.getDefaultImage(index, response.data.source_tex);
          }
          if (!response.data.citation_tex) {
            this.wrongDOI(index);
            return false;
          }
          let doi = '<p><a href="https://doi.org/' + response.data.doi + '">';
          let citation = response.data.citation_html.split("] ")[1];
          let author = citation.match(/<span class="citation-author">(.*?)<\/span>/);
          let document_title = citation.match(/<span class="citation-document-title">(.*?)<\/span>/);
          let publication_title = citation.match(/<span class="citation-publication-title">(.*?)<\/span>/);
          let volume = citation.match(/<span class="citation-volume">(.*?)<\/span>(.*)/);
          citation = document_title ? doi + document_title[1].trim() + "</a></p>" : "";
          citation += author ? "<p>" + author[1] + "</p>" : "";
          citation += publication_title ? publication_title[1].slice(2) : "";
          citation += volume ? volume[1] + volume[2] : "";
          article.citation = citation;
          get_ckeditor("citation" + index).setData(citation);
        })
        .catch((error) => {
          console.error(error);
          return false;
        });
      return true;
    },
    getDefaultImage(index, source) {
      let journal = source.replace("é", "e")
      let imageName = "logo-as.png";
      let series = ["Biologies", "Chimie", "Geoscience", "Mecanique", "Mathematique", "Physique", "Palevol"];
      for (const serie of series) {
        if (journal.match("^Comptes Rendus") && journal.search(serie) > 14) {
          imageName = "couv_" + serie.toLowerCase().substring(0, 4) + ".jpg";
          break;
        }
      }
      displayImage(index, "/static/cr/img/" + imageName, imageName);
    },
    loadImage(index, event) {
      if (event.target.files[0].type.match("^image")) {
        this.readImage(index, event.target.files[0]);
      }
    },
    onPaste(index, event) {
      const data = event.clipboardData || window.clipboardData;
      this.processEventData(index, data.items);
    },
    onDrop(index, event) {
      let imageFile = event.dataTransfer.getData("text/uri-list");
      let imageName = event.dataTransfer.getData("application/x-moz-file-promise-dest-filename");
      if (!imageFile) {
        imageFile = event.dataTransfer.getData("text/plain");
      }
      imageName = imageName ? imageName : imageFile.split("/").pop();
      if (!imageFile) {
        this.processEventData(index, event.dataTransfer.items);
      } else {
        displayImage(index, imageFile, imageName);
      }
    },
    processEventData(index, items) {
      if (items) {
        for (let i = 0; i < items.length; i++) {
          if (items[i].type.match("^image")) {
            let imageFile = items[i].getAsFile();
            this.readImage(index, imageFile);
            break;
          }
        }
      }
    },
    readImage(index, imageFile) {
      let reader = new FileReader();
      reader.onload = function () {
        displayImage(index, reader.result, imageFile.name);
      };
      reader.readAsDataURL(imageFile);
    },
    isValidId(index) {
      let doi = this.articles[index].doi;
      if (doi && (doi.startsWith("10.") || doi.startsWith("http"))) {
        return true;
      }
      return false;
    },
    wrongDOI(index) {
      let i = index + 1;
      console.error("Reference: " + i + ": No information found or wrong DOI.");
      notify_message({
        title: "Reference: " + i,
        message: "\nNo information found or wrong DOI.",
        type: "notice",
      });
    },
    saveForm() {
      const elt_text = document.getElementById("id-save-text");
      for (let i = 0; i < this.articles.length; i++) {
        if (!this.isValidId(i)) {
          elt_text.innerHTML = "Incorrect DOI for the reference " + (i + 1);
          return;
        }
      }
      if (!this.page.menu_title_fr || !this.page.menu_title_en) {
        elt_text.innerHTML = "Menu title fields [en] and [fr] cannot be empty.";
        return;
      }
      elt_text.innerHTML = "Saving data...";
      for (let i = 0; i < this.articles.length; i++) {
        this.articles[i].citation = get_ckeditor("citation" + i).getData();
        let img = document.getElementById("image-article-" + i);
        if (img.src) {
          let src = img.src.match("^data:|^https:") ? img.src : new URL(img.src).pathname;
          this.articles[i].src = src;
          this.articles[i].imageName = img.name;
        }
      }
      let data = {};
      data.articles = this.articles;
      data.page = this.page;
      data.title_fr = this.page.menu_title_fr;
      data.title_en = this.page.menu_title_en;
      data.head_fr = get_ckeditor("head_fr").getData();
      data.tail_fr = get_ckeditor("tail_fr").getData();
      data.head_en = get_ckeditor("head_en").getData();
      data.tail_en = get_ckeditor("tail_en").getData();
      let url = "/virtual_issue_deploy/" + this.colid + "/" + this.pid + "/";
      const csrf_token = document.querySelector("[name=csrfmiddlewaretoken]").value;
      axios
        .post(url, data, {
          headers: {
            "X-CSRFTOKEN": csrf_token,
            "Content-Type": "application/json",
          },
        })
        .then((response) => {
          const elt = document.getElementById("id-save");
          elt.classList.remove("btn-needs-save");
          elt_text.innerHTML = "Data saved";
          notify_user(response, url);
        })
        .catch((error) => {
          elt_text.innerHTML = "Error while saving data";
          console.error(error);
          notify_user(error.response, url);
        })
        .finally(() => {
          console.log(url);
          setTimeout(function () {
            elt_text.innerHTML = "";
          }, 2000);
        });
    },
    deleteForm() {
      if(confirm("Are you sure you want to delete this virtual issue?")) {
        const elt_text = document.getElementById("id-save-text");
        elt_text.innerHTML = "Deleting data...";
        let url = "/page/" + this.colid + "/" + this.pid + "/delete/";
        const csrf_token = document.querySelector("[name=csrfmiddlewaretoken]").value;
        axios
          .post(url, {
            headers: {
              "X-CSRFTOKEN": csrf_token,
              "Content-Type": "application/json",
            },
          })
          .then((response) => {;
            elt_text.innerHTML = "Data deleted";
            notify_user(response, url);
          })
          .catch((error) => {
            elt_text.innerHTML = "Error while deleting data";
            console.error(error);
            notify_user(error.response, url);
          })
          .finally(() => {
            console.log(url);
            setTimeout(function () {
              elt_text.innerHTML = "";
            }, 2000);
            window.location = "/virtual_issues/" + this.colid + "/"
          });
      }
    },
    mountImages() {
      setTimeout(() => {
        for (let i = 0; i < this.articles.length; i++) {
          let imname = document.getElementById("image-label-" + i);
          let img = document.getElementById("image-article-" + i);
          if (imname && img && this.articles[i].src) {
            imname.innerHTML = this.articles[i].imageName;
            img.name = this.articles[i].imageName;
            let src = this.articles[i].src;
            if (src.startsWith("/static/") || src.startsWith("http")) {
              img.src = src;
            } else {
              // We remove the site domain to get the Trammel media path:
              img.src = "/media" + src.split("/media").pop();
            }
          }
        }
      }, 100);
    },
  },
  mounted() {
    let location = window.location.href;
    let pathname = new URL(location).pathname;
    let uri = pathname.replace("_update", "_parse");
    axios.get(uri).then((response) => {
      this.colid = response.data["colid"];
      this.journal_title = response.data["journal_title"];
      this.pid = response.data["pid"];
      this.page = response.data["page"];
      this.page.head_fr = response.data["head_fr"];
      this.page.tail_fr = response.data["tail_fr"];
      this.page.head_en = response.data["head_en"];
      this.page.tail_en = response.data["tail_en"];
      this.parents = response.data["parents"];
      this.articles = Array.from(response.data["articles"]);
      add_ckeditor(["head_en", "head_fr"], this.editorContentConfig);
      add_ckeditor(["tail_en", "tail_fr"], this.editorCitationConfig);
      this.mountImages();
    });
  },
  updated() {
  let ids = Array.from({ length: this.articles.length }, (v, i) => "citation" + i);
  console.log(ids)
  this.editorContentConfig["filebrowserBrowseUrl"] += this.colid 
  this.editorContentConfig["filebrowserUploadUrl"] += this.colid 
  console.log("conf", this.editorContentConfig.filebrowserBrowseUrl,this.editorContentConfig.filebrowserUploadUrl)
  add_ckeditor(ids, this.editorContentConfig);
  },
};
</script>

<style>
:root {
  --default-padding: 4px;
  --default-margin: 5px;
  --body-bg: #f7f7f7;
  --blue-color: #4d75b0;
  --green-color: #1ba265;
  --label-text-color: #151234;
  --badge-background-color: #efefe7;
  --badge-text-color: #5550a3;
  --badge-font-size: 14px;
  --error-background-color: #f9fbc1;
  --error-text-color: #79082e;
  --border-radius: 3px;
}

body {
    background: var(--body-bg);
}

input {
  width: 600px;
  max-width: 900px;
  border-radius: var(--border-radius);
}

input[type="file"] {
  display: inline;
  width: 130px;
  margin-top: var(--default-margin);
  margin-bottom: var(--default-margin);
  color: rgba(0, 0, 0, 0);
}

input[type="number"] {
  max-width: 100px;
  padding: 3px 5px;
}

label {
  display: inline-block;
  width: 120px;
  color: var(--blue-color);
}

label::after {
  content: " :";
}

.column {
  float: left;
  margin-bottom: 10px;
}

.left {
  width: 85%;
  min-width: 800px;
}

.right {
  margin-left: 10px;
  margin-right: 10px;
  width: 10%;
}

.form-row {
  min-width: 180px;
  align-items: center;
  margin: var(--default-margin);
  margin-bottom: 15px;
  padding: var(--default-padding);
  border-radius: 5px;
}

.form-box {
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px 1.8px;
}

.textarea-label {
  display: inline;
}

.textarea-label::after {
  content: "";
}

.doi-label {
  width: 50px;
  white-space: nowrap;
}

.concluding-part {
  width: 90%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.concluding-part button[aria-expanded="true"] i.bi.bi-chevron-double-down::before {
  transition: transform 0.5s;
  transform: rotate(180deg);
}

.img-preview {
  margin-top: var(--default-margin);
  max-width: 200px;
  max-height: 200px;
  border-radius: 4px;
}

.canvas {
  border: 1px solid;
  padding: 10px;
  width: 220px;
  height: 240px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 11px;
}

.btn-needs-save {
  background-color: var(--blue-color);
}

.btn-add-article {
  margin-top: 20px;
  border-color: var(--green-color);
  color: var(--label-text-color);
  border-width: 1px;
}

.badge-pill {
  border-radius: var(--border-radius);
  margin-left: var(--default-margin);
  padding: 8px;
  background-color: var(--badge-background-color);
  color: var(--badge-text-color);
  font-size: var(--badge-font-size);
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px 1.8px;
}

.form-button {
  display: flex;
  justify-content: space-between;
}

#id-save-text {
  background-color: var(--error-background-color);
  color: var(--error-text-color);
  font-size: 16px;
}

.cke_notifications_area {
    display: none;
}


</style>
