{% extends "base.html" %}
{% load i18n %}

{% block title %}
MDML
{% endblock %}

{% block searchbar %}
{% endblock searchbar %}

{% block content %}
  <p>
The goal of the Mathdoc Digital Mathematics Library is to make
the bigest possible part of the mathematical corpus available
from the same place, with the best possible metadata to
facilitate searching, and interoperate with relevant
infrastructures. The system is based on
<ul>
<li> an OAI-PMH harvester to gather metadata</li>
<li>a periodic task orchestrator</li>
<li>the new [http://numdam.org Numdam] platform to
provide the core XML parser, and the searching and browsing
interface.</li>
</ul>

The main expected benefit of this work is to move ahead: an
entirely new technology behind, a worldwide scope. Our main target
audience is the working mathematician, always struggling to find a
source for published references they gather from database searches,
citations or colleagues' hints. We try to make it easy to search a
still highly fragmented, heterogeneous corpus. <br><br>

***
<br><br>

This website is hosted by<br>

Cellule Mathdoc<br>
Joint service unit (UMS)  n°5638<br>
Centre national de la recherche scientifique-Université Grenoble Alpes<br>
<br>
Bâtiment CETA<br>
Domaine Universitaire<br>
150, rue de la chimie<br>
38400 Saint Martin d’Hères<br>
<br>
France
<br>
Tél. +33 4 57 04 11 03<br>

accueil@listes.mathdoc.fr<br>


Publications Director: Thierry Bouche<br>

Main developer: Alexandre Bouquet<br>

***
<br>
<h4>Article 1 : Personal data Protection</h4>
<br>
In accordance with the French data protection and freedom of information law (loi n°78-17 du 6 janvier 1978 dite “Informatique et Libertés”) and the General Data Protection Regulation 2016/679, (entered into force on May 25, 2018), Mathdoc via the Centre Mersenne has implemented a privacy policy available under the following link: <a href="https://www.centre-mersenne.org/spage/privacy/">https://www.centre-mersenne.org/spage/privacy/</a>
<br><br>
You have a right to to access, to rectify, to portability, and to delete any of your personal data that might appear on this website and/or be processed by Mathdoc via the Centre Mersenne. You also have a right to oppose to such personal data process; to ask for limitation to such process; to withdraw your consent to such process, and to ask, if applicable, for your account to be deleted.
<br><br>
To exercise this right, you may write to contact-mersenne@listes-mathdoc.fr.
<br><br>
To exercise such rights or for any further information, you may send an e-mail to: contact-mersenne@listes-mathdoc.fr.
<br><br>
<h4>Article 2 : Liability</h4>
<br>
Under no circumstances shall Mathdoc and/or CNRS and UGA be liable for any damages that may result from or be in relation to the use or interpretation of this website and/or its contents.
<br><br>
<h4>Article 3 : Intellectual property</h4>
<br>
This website is protected by French and international legislation on intellectual property. It is the exclusive property of CNRS and UGA. All rights of reproduction and distribution are reserved (except for strictly private use), including illustrations and photographs. Any reproduction or representation, of this website by any means whatsoever without authorization is forbidden subject to legal exceptions.
<br><br>
All of its contents including, but not limited to, all texts, videos and images that appear or are available on the website are also protected by French and international legislation on intellectual property.
<br><br>
Any use, adaptation, extraction, copy, translation, reproduction, sale, publication, exploitation, or modification whatsoever of the whole or of any protected item of this site without prior approval are forbidden, except if the particular license applicable to such contents permits it and subject to legal exceptions.
<br><br>
The initials 'CNRS', the words « Centre National de la Recherche Scientifique » and the logo are registered as a trademark. It is thus prohibited to use these denominations/name in any form or by any means whatsoever or for any purpose whatsoever withour prior written agreement of CNRS.
<br><br>
It is also prohibited to refer to names and logos of Mathdoc and the Centre Mersenne without prior written agreement of CNRS and UGA.
<br><br>
<h4>Article 4 : Open access content</h4>
<br>
Open acess publications are free to read for everybody, without limitation. They can be reproduced and/or shared subject to the terms of the applicable license.
<br>
<h4>Article 5 : Hyperlinks</h4><br>
You may display on your website hyperlinks to this website or its contents, provided you do so in a way that does not damage Mathdoc and/or CNRS and UGA’s interests and that guarantees a possibility for the user to identify the origin and the author of the document.
Hyperlinks to websites operated by third parties that may appear on this website do not incur any responsibility for, nor approval of, the information contained in those websites on the part of Mathdoc and/or CNRS and UGA.  </p>
{% endblock %}
