{% extends "base.html" %}
{% load static %}

{% block site_css %}
  <link rel="stylesheet" href="{% static "gdml/css/style_gdml.css" %}" />
{% endblock site_css %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "ptf/vendors/flag-icon/css/flag-icon.min.css" %}" />
{% endblock extra_css %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static "ptf/js/bs5/select.js" %}"></script>
<script type="text/javascript" src="{% static "gdml/js/gdml.js" %}"></script>
{% endblock extra_js %}
