{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
Geodesic
{% endblock %}

{% block container %}
<div class='row text-center'>
  <div class='hidden-xs col-sm-12'>
    <a href="{% url 'home' %}"><img src="{% static "gdml/geodesic.jpg" %}" class="center-block logo-ep" alt="logo dml"></a>
  </div>
</div><!--/.row -->
<div class="row" style="margin-top:50px">
  <div class="col-12 text-center">
    <h4>{% blocktrans %}Geodesic, la bibliothèque numérique de mathématiques de Mathdoc, contient actuellement {{articles_count}} articles de {{size_sources}} {% endblocktrans %}<a href="{% url 'show_harvest_source' %}">sources</a></h4>
  </div><!-- /.container -->
</div><!-- /.row -->
<div class="mt-5 text-center">
  <h4>{% trans 'Parcourir nos collections' %}</h4>
  <div class="row justify-content-center">
    <div class="col-12">
      <nav class="navbar navbar-expand-sm navhome-light">
        <div class="container-fluid container-navbar-home">
          <ul class="navbar-nav mx-auto">
            {% include "top_menu_list.html" %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<div id='search-bar' class="home mt-4 text-center">
  <h4>{% trans 'Rechercher' %}</h4>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-6">
      {% include "common/search/search-bar.html" %}
    </div>
  </div>
</div><!-- /#search-bar -->

{% endblock %}
