{% load i18n %}
{% load static %}
{% load cms_tags %}
{% load helpers %}
{% load gdml %}

{% if homepage %}
<header class="homepage">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="ms-auto">
        {% include "common/language-select.html" %}
      </div>
    </div>
  </nav>
{% else %}
<header class="page">
  <div class="navbar-dark menu-top fixed-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-1 header-logo text-center navbar-brand">
        <a class="navbar-brand" href="/"><img src="{% static "gdml/img/geodesic_150.png" %}" class="align-center me-2" alt="Geodesic Logo"/></a>
          <span class="navbar-brand-text">GEODESIC</span>
      </div>
      <div class="col">
        <div class="row mt-2">
          <div class="ms-auto col-6 col-md-5 col-lg-4">
            {% include "common/search/search-bar.html" %}
          </div>
          <div class="col-1 me-4 me-lg-1">
            {% include "common/language-select.html" %}
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 ms-2">
            <nav class="navbar navbar-expand-lg">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  {% include "top_menu_list.html" %}
                  <li id="id-nav-item-source" class="nav-item ms-4 ms-xl-5 {% if 'source' in request.path %}active{% endif %}">
                    <a href="{% url 'show_harvest_source' %}" class="nav-link">{% trans 'Sources' %}</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
</header>
