{% load i18n %}
{% load static %}
{% load cms_tags %}
{% load helpers %}
{% load gdml %}

<li class="nav-item me-1 {% if document_type == 'journal' or obj|get_col_type == 'journal' %}active{% endif %}">
  <a href="{% url 'journals' %}" class="nav-link">{% trans 'Revues' %}</a>
</li>
<li class="nav-item me-1 {% if document_type == 'acta' or obj|get_col_type == 'acta' %}active{% endif %}">
  <a href="{% url 'actas' %}" class="nav-link">{% trans 'Séminaires' %}</a>
</li>
<li class="nav-item me-1 {% if document_type == 'book' or obj|get_col_type == 'book' %}active{% endif %}">
  <a href="{% url 'books' %}" class="nav-link">{% trans 'Livres' %}</a>
</li>
<li class="nav-item me-1 {% if document_type == 'proceeding' or obj|get_col_type == 'proceeding' %}active{% endif %}">
  <a href="{% url 'proceedings' %}" class="nav-link">{% trans 'Congrès' %}</a>
</li>
<!--<li class="nav-item me-1 {% if document_type == 'lecture-notes' or obj|get_col_type == 'lecture-notes' %}active{% endif %}">-->
<!--  <a href="{% url 'lectures' %}" class="nav-link">{% trans 'Notes de cours' %}</a>-->
<!--</li>-->
<!--<li class="nav-item me-3 md-lg-4 md-xl-5 {% if document_type == 'thesis' or obj|get_col_type == 'thesis' %}active{% endif %}">-->
<!--  <a href="{% url 'thesis' %}" class="nav-link">{% trans 'Thèses' %}</a>-->
<!--</li>-->
