{% load i18n %}
{% load static %}
{% load cms_tags %}

{% get_all_pages request 'top' as pages %}


<header class='container-fluid'>
  <div id="header-wrapper">
    <div id="header-left">
      <a href="/"><img src="{% static "wbln/img/gauche.png" %}" id="mersenne-banner"  alt="Mersenne banner"><img src="{% static "mersenne_cms/img/logo-mersenne.png" %}" id="mersenne-banner-small"></a>
    </div>
    <div id='header-title'>
        <h1><a class="top-title" href="/">Winter Braids Lecture Notes</a></h1>
    </div>
    <div id='header-right'>
      {% get_language_info_list for LANGUAGES as languages %}
      <form class="language-form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <select class="selectpicker" data-width="fit" name="language" onchange="this.form.submit()">
          {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %} data-content='<span><span class="flag-icon {% get_flag_icon language.code %}"></span></span>'>
              {{ language.name_local }}
            </option>
          {% endfor %}
        </select>
      </form>
    </div>
  </div>
  <div class="row search-bar-row">
    <div class="container">
      <div id='search-bar'>
        {% include "common/search-bar.html" with with_browse=True %}
      </div><!-- /#search-bar -->
    </div><!-- /.container -->
  </div><!-- /.row -->
</header>
