{% extends "base.html" %}
{% load i18n %}
{% block page_id %}index{% endblock %}
{% block left %}
<div id="left">
<p class="cover">
{{ blocks.icon|safe }}
</p>
</div>
{% endblock %}
{% block content %}
<div class="book-series-header">
{% include "book-series-menu.html" %}
</div>
{% include "index-annees.html" %}
<hr style="width:20%"/>
{% include "series-index.html" %}
{% endblock %}
