{% extends "base.html" %}
{% load i18n %}
{% block page_id %}series-books{% endblock %}
{% block left %}
<div id="left">
<p class="cover">
{{ blocks.icon|safe }}
</p>
{% if not author and not year %}
<ul class="sort-menu">
<li>{% trans 'Trier par:' %}</li>
<li><a href="{% url 'series-books' series.pid %}?order_by=fau">{% trans 'Auteur' %} &#8599;</a></li>
<li><a href="{% url 'series-books' series.pid %}?order_by=-fau">{% trans 'Auteur' %} &#8600;</a></li>
<li><a href="{% url 'series-books' series.pid %}?order_by=year">{% trans 'Année' %} &#8599;</a></li>
<li><a href="{% url 'series-books' series.pid %}?order_by=-year">{% trans 'Année' %} &#8600;</a></li>
</ul>
{% endif %}
</div>
{% endblock %}
{% block content %}
<div id="content">
<div class="book-series-header">
{% include "book-series-menu.html" %}
</div>
{% include "index-annees.html" %}
<hr width="20%"/>
{% include "common/results-pagination.html" %}
{% if author %}
<p>{% trans 'Ouvrages par' %} {{ author }}</p>
{% elif year %}
<p>{{ year }}</p>
{% endif %}
{{ blocks.blist|safe }}
{% include "common/results-pagination.html" %}
</div>
{% endblock %}
