{% load i18n %}
<div class="book-series-menu">
<ul>
<li class="series-title">{{ series.title }}</li>
<li class="series-books-link"><a href="{% url 'series-books' series.pid %}">{% trans 'Tous les ouvrages' %}</a></li>
<li class="series-index-link"><a href="{% url 'series-index' series.pid %}">{% trans 'Par auteur' %}</a></li>
</ul>
</div>
