{% extends "base.html" %}
{% block left %}
<div id="left">
<p class="cover">
{{ journal_icon|safe }}
</p>
</div>
{% endblock %}
{% block content %}
<div id="content">
{% include "common/results-pagination.html" %}
{{ content|safe }}
</div>
{% endblock %}
