{# liste des chapitres d'un livre ou monographie #}
{% load i18n %}
{% load helpers %}

<div class="row" style="margin:0px">
  {% if book.my_publisher.pub_key == 'societe-mathematique-de-france' %}
    <div class="float-minus-100">
  {% else %}
    <div class="col-12">
  {% endif %}
    <h3>
      {% include 'common/title/title.html' with item=book %} ({{ book.year }})
    </h3>
  </div>
  {% if book.my_publisher.pub_key == 'societe-mathematique-de-france' %}
    {% include "common/smf.html" %}
  {% endif %}
</div>
<span class="book-author">
  {% if book_parts and not book.contributions.exists %}
  {# on est dans le cas d'une monographie avec book_parts où le contribgroub niveau book_meta est vide #}
      {% include 'common/contribution/contrib.html' with item=book_parts.0 %}
  {% else %}
      {% include 'common/contribution/contrib.html' with item=book %}
  {% endif %}
</span>
{% if not book_parts %}
    {% include 'common/container.html' with container=book %}
  <hr></hr>
{% else %}
  <h3>{%  trans 'Sommaire' %}</h3>
  {% for book_part in book_parts %}
    <div class="row" style="margin-bottom:10px;">
      <div class="col-1" style="width:90px;padding-right:0px;margin-top:5px">
        {% include 'common/binary-files.html' with binary_files=book_part.get_binary_files_href.self %}
      </div>
      <div class="col-11" style="line-height: 28px;max-width:calc(100% - 90px)">
        <a href="{% url 'book-part' book_part.pid %}">
          {% include 'common/title/title.html' with item=book_part %}
        </a>
        {%  if book.ctype != 'book-monograph' %}
            {% include 'common/contribution/contrib.html' with item=book_part %}
        {% endif %}
        {{ book_part.get_page_text }}
      </div>
    </div>
  {% endfor %}

  {% if book.ctype == 'book-monograph' and references %}

    <h3>{% trans 'Bibliographie' %}</h3>
    {% for book_part in book_parts %}
          {% include 'common/bibliographie.html' with item=book_part %}
    {% endfor %}
{#      {% with book_parts|last as last %}#}
{#          {% include 'common/bibliographie.html' with item=last%}#}
{#      {% endwith %}#}
  {% endif %}
{% endif %}


