{# liste des books pour une collection #}
{% load i18n %}
{% trans "Période couverte dans Numdam" %} {{ serie.fyear }}-{{ serie.lyear }}
<br><br>

{% for volume in sorted_volumes %}
    {% include 'common/contribution/contrib.html' with item=volume %} - <a href="{% url 'book-toc' volume.pid %}">{% include 'common/title/title.html' with item=volume %} </a> - {% include 'common/volume/volume_string.html' %} {{ volume.volume }}({{ volume.year }})<br>
{% endfor %}




