<div class='PCJ-Section'>
<p>Introduction</p>
</div>
<div class='PCJ-text'>
<p>Nematomorpha, also known as Gordiacea or Gordian worms, are a phylum
of parasitic organisms that belong to the Ecdysozoa, a clade of
invertebrate animals characterized by molting <a href="https://paperpile.com/c/xO8HK1/f1Xw">(Aguinaldo et al., 1997)</a>.
The name “Gordian” is derived from the legendary Gordian knot, as
nematomorphs often intertwine themselves into compact balls that
resemble knots. These animals can measure up to 1 m in length, with a
diameter ranging from 1 to 3 millimeters. There are approximately 360
described species of horsehair worms, but as this is one of the most
understudied animal phyla, their true diversity is probably much larger
in terms of number of species <a href="https://paperpile.com/c/xO8HK1/2ImU">(Schmidt-Rhaesa, 2013)</a>.
Two classes exist within the phylum, one marine (Nectonematida) and the
other freshwater (Gordiida) <a href="https://paperpile.com/c/xO8HK1/2ImU">(Schmidt-Rhaesa, 2013)</a>.
Horsehair worms are commonly found in moist environments such as
watering troughs, swimming pools, streams or puddles. While the adult
worms are free living either in freshwater or marine environments, the
larvae are parasitic and rely on arthropods including beetles,
cockroaches, mantises, orthopterans, and crustaceans. The host must be
in contact with water for the mature adult to emerge from the body
cavity (Hanelt &amp; Janovy, 2003). The parasite may alter the behavior
of the host and increase the chance that it ends up in water, where the
adult exits the body of the host (Thomas et al., 2002). As expected,
given their parasitic lifestyle (Hanelt, Thomas &amp; Schmidt-Rhaesa,
2005), nematomorphs are characterized by a series of morphological
peculiarities such as the loss of circulatory, excretory and digestive
systems (for instance, adults have lost their mouth and do not feed -
they just reproduce). The sex of an individual and some characters can
be mostly recognized with simple optics, but specific determination
requires scanning electron microscopy imaging. Structures important for
identification are the fine cuticle structure and the cuticular
structures on the posterior end of males (Hanelt e al., 2005).</p>
</div>
<div class='PCJ-text'>
<p>The phylogenetic position of Nematomorpha within the Metazoa Tree of
Life has been recalcitrant to resolution <a href="https://paperpile.com/c/xO8HK1/659m">(Laumer et al., 2019)</a>,
hampered not only by the lack of high-quality genomic data for this
phylum but also for some of the other phyla composing Ecdysozoa, such as
Kinorrhyncha, Loricifera or Priapulida. However, in the majority of
cases molecular data have only been used to investigate systematic
relationships between or within phyla closely related to Nematomorpha,
with hairworm sequence data often solely serving as an outgroup in
phylogenetic analyses <a href="https://paperpile.com/c/xO8HK1/f1Xw+Zin9">(Aguinaldo et al., 1997;
Blaxter et al., 1998; Sørensen et al., 2008)</a>. In this study, we
contribute a key genomic resource to unveil not only the evolution of
Ecdysozoa, but also to further our understanding on the genomic basis of
parasitic lifestyles. In addition, we describe a species new to science
from this enigmatic animal phylum.</p>
</div>
<div class='PCJ-Section'>
<p>1. Species Description</p>
</div>
<div class='PCJ-Subsection'>
<p>Taxonomic Results</p>
</div>
<div class='PCJ-text'>
<p>Phylum Nematomorpha Vejdovsky, 1886</p>
</div>
<div class='PCJ-text'>
<p>Order Gordioidea Rauther, 1930</p>
</div>
<div class='PCJ-text'>
<p>Family Chordodidae, 1900</p>
</div>
<div class='PCJ-text'>
<p>Genus <span class="italique">Gordionus</span> Müller, 1926</p>
</div>
<div class='PCJ-text'>
<p><span class="italique">Gordionus montsenyensis</span> Schmidt-Rhaesa &amp; Fernández sp.
nov.</p>
</div>
<div class='PCJ-Subsection'>
<p>Material examined</p>
</div>
<div class='PCJ-text'>
<p>Holotype. Adult male, anterior and posterior end (accession number
ZMH V13667 in the Zoological Museum Hamburg (ZMH) of the Leibniz
Institute for the Analysis of Biodiversity Change (LIB), Hamburg,
Germany), collected from the Tordera river on the foothill of Montseny
Natural Reserve, Barcelona (Spain)(code Nem3 in Fig. 1). Paratype. One
female, full body (accession number ZMH V13668), with the same
collection data of the holotype. Additional material: two female adults,
full body, one female adult, anterior and posterior end (accession
numbers ZMH V 13669 to 13671) (codes Nem4 and Nem6 in Fig. 1). DNA
extracted and kept at the cryocollection of the Metazoa Phylogenomics
Lab, Institute of Evolutionary Biology (Spanish National Research
Council - University Pompeu Fabra).</p>
</div>
<div class='PCJ-Figure'>
<p><img src=/media/img/PCJ_2024__4_/10_24072_pcjournal_408/src/media/image1.png class=article-body-img></img></p>
</div>
<div class='PCJ-caption-figure'>
<p><strong>Figure 1 -</strong> Maximum likelihood phylogenetic tree
showing the placement of <span class="italique">Gordionus montsenyensis</span> sp. nov.
Standard nonparametric bootstrap, SH-aLRT and UFBoot support is
indicated for each node. NCBI accession numbers are indicated in
brackets. Nematomorph silhouette retrieved from PhyloPic (credit: Eduard
Solà Vázquez, vectorised by Yan Wong).</p>
</div>
