{# liste des books pour une collection #}
{% load i18n %}

<h4 style="text-align: center;margin-top:20px;margin-bottom:5px">
  {{ sorted_volumes.count }} {% trans 'Thèses' %}
</h4>

<p style="text-align: center">
{% trans "Période de disponibilité" %}: {{ serie.fyear }}-{{ serie.lyear }}
</p>

<div class="container" style="margin-bottom:30px">
  {% for volume in sorted_volumes %}
    <div class="row {% if forloop.counter|divisibleby:2 %}row-even{% else %}row-odd{% endif %}" style="line-height:30px">
      <div class="col-xs-2">
        {% include 'common/common-contrib.html' with item=volume %}
      </div>
      <div class="col-xs-9">
        <a href="{% url 'book-toc' volume.pid %}">{% include 'common/common-title.html' with item=volume %}</a>
        ({{ volume.year }})
      </div>
    </div>
  {% endfor %}
</div>




