{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="right_col dashboard" role="main" dashboard="{{ dashboard.pk }}">
    <a href="#" data-url="{% url 'api_update_texmf_zip' %}" data-reload="0" class="btn btn-default handle-one-button" title="Copie /cedram_dev/production/distrib/*.zip vers https://(test.)centre-mersenne.org"><span class="glyphicon glyphicon-copy"></span> Copier les texmf*.zip</a>
    {% if clockss_gap %}
      <h2>Last Clockss: {{ clockss_gap }}</h2>
    {% endif %}

    <div style="margin-top:50px">
      <ul class="nav nav-tabs article-tab">
        <li class="{% if request.resolver_match.view_name == 'published_articles' %}active{% endif %}">
          <a href="{% url 'published_articles' %}">Articles publiés</a>
        </li>
        <li class="{% if request.resolver_match.view_name == 'created_volumes' %}active{% endif %}">
          <a href="{% url 'created_volumes' %}">Volumes crées</a>
        </li>
      </ul>
      <div class="tab-content" style="margin-top:10px">
        <div id="articles-tab" class="tab-pane fade in active">
          <table style="width:100%" id="articles_count">
            <thead>
              <tr>
                <th rowspan="2"></th>
                {% for year in years %}
                  <th colspan="2" style="text-align:center">
                    <h2>{{ year }}</h2>
                  </th>
                {% endfor %}
              </tr>
              <tr>
                {% for year in years %}
                  <th style="text-align:center;padding-left:4%">Articles</th>
                  <th style="text-align:center;padding-right:4%">Pages</th>
                {% endfor %}
              </tr>
            </thead>
            {% block table_content %}
            {% for journal in journals %}
            <tr>
              <td><a href="{% url 'collection-detail' journal.pid %}">{{journal.pid}}</a></td>
              {% for year_articles in journal.years %}
              <td style="text-align:center;padding-left:7%"><a href="/{% block list_link %}{% endblock %}/{{journal.pid}}/{{year_articles.year}}">{{year_articles.articles}}</a></td>
              <td style="text-align:center;padding-right:7%">{{year_articles.pages}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
            <tr>
              <td><strong>TOTAL</strong></td>
              {% for year_articles in total_articles %}
              <td style="text-align:center;padding-left:7%"><strong>{{year_articles.total_articles}}</strong></td>
              <td style="text-align:center;padding-right:7%">{{year_articles.total_pages}}</strong></td>
              {% endfor %}
            </tr>
            {% endblock %}
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
