{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% with issues_articles|first as first %}
    {{ first.issue.my_collection.title_sort }}, {% include 'common/volume/volume_string.html' %} {{ first.issue.volume }} ({{ first.issue.year }})
  {% endwith %}
{% endblock %}

{% block breadcrumb %}
  {% include "common/breadcrumb.html" %}
  {% comment %}
  {% with issues_articles|first as first %}
    <div id="crumbs" style="margin-top:10px;">
      <ul>
        <li>
          {% with coltype|add:'-issues' as url %}<a href="{% url url first.issue.my_collection.pid %}">{% endwith %}
            {% if request.session.formula_display == 'tex' %}
              {{ first.issue.my_collection.title_tex|safe }}
            {% else %}
              {{ first.issue.my_collection.title_html|safe }}
            {% endif %}
          </a>
        </li>
      </ul>
      <ul class="crumb-noarrow">
        <li><a href="">{% if first.issue.vseries %}{%  trans 'Série' %} {{ first.issue.vseries }} : {% endif %}{% include 'common/volume_string.html' %} {{ first.issue.volume }} ({{ first.issue.year }})</a></li>
      </ul>
    </div>
  {% endwith %}
  {% endcomment %}
{% endblock %}

{% block center_middle %}
  {% include 'common/volume-general-items.html' %}
{% endblock %}

