{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_css %}
<link href="{% static 'vuejs/css/app.css' %}" rel="preload" as="style">
<link href="{% static 'vuejs/js/app.js' %}" rel="preload" as="script">
<link href="{% static 'vuejs/js/chunk-vendors.js' %}" rel="preload" as="script">
<link href="{% static 'vuejs/css/app.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block center_middle %}
{% comment %}
<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#confirmModal">
  Get metadata from Crossref
</button>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Get metadata from Crossref</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This will replace all the current metadata. All the changes you have previously done will be removed.</p>
        <p>Are you sure ?</p>
        <div class="spinner-border" role="status" style="display:none">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="modal-footer">
        <form id="form-crossref" action={% url 'api-fetch-crossref' colid doi %} method="POST">
        <button form="form-crossref" type="submit" class="btn btn-primary long-action" name="Submit">Yes</button>
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
{% endcomment %}

<div id="app"></div>
{% endblock center_middle %}

{% block extra_js %}
<script src="{% static 'vuejs/js/chunk-vendors.js' %}"></script>
<script src="{% static 'vuejs/js/app.js' %}"></script>
{% endblock %}
