{% load static %}


{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block extra_head %}{% endblock extra_head %}

  <link rel="stylesheet" href="{% static "ptf/vendors/font-awesome/css/font-awesome.min.css" %}" />


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="{% static 'ptf/css/ptf.css' %}" />
  <link rel="stylesheet" href="{% static 'ptf/vendors/flag-icon/css/flag-icon.min.css' %}" />
  <link rel="stylesheet" href="{% static 'ptf/vendors/bootstrap-select/css/bootstrap-select.min.css' %}">
  <link rel="stylesheet" href="{% static 'gdml/css/style_gdml.css' %}" />
  <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
  {% block extra_css %}
  {% endblock extra_css %}

  <link rel="shortcut icon" type="images/x-icon" href="{% static 'editor/img/favicon.ico' %}" />
</head>

<body>
  <div class="all-but-footer">
    {% include "top_dashboard.html" %}


      <div class="clearfix"></div>
      <div class="container-fluid page-container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block container %}
          {% block content %}

          <div id="breadcrumbs">

           </div>
          {% endblock content %}

        {% endblock container %}
      </div>
  </div>
  {% include "footer_dashboard.html" %}

  <script src="{% static 'ptf/vendors/jquery/js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'ptf/vendors/bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

  <script src="https://cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>

  <script src="{% static 'ptf/vendors/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'ptf/vendors/bootstrap-select/js/defaults-fr_FR.min.js' %}"></script>
  {% block extra_js %}{% endblock extra_js %}
</body>
<style>

</style>
</html>
