{% extends "base_backend.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{{collection.title_tex}}
{% endblock %}

{% block content %}
<div class='row' style="margin:30px">
  <div>
    <h1 class="float-start me-5">{{collection.title_tex}}</h1>
    <div class="float-start mt-2">
      <a class="btn btn-secondary me-2" href="{% url 'edit-collection' collection.pid %}" title="Edit the collection"><i class="bi bi-pencil-square"></i> Edit</a>
      <a href="/item/{{collection.pid}}" target="_blank">View in the front-office</a>
    </div>
  </div>
  <div class="row mb-2 mt-3"><div class="col col-sm-2 col-label">Lang</div><div class="col col-sm-10 col-after-label">{{collection.lang}}</div></div>
  <div class="row mb-2"><div class="col col-sm-2 col-label">p-issn</div><div class="col col-sm-10 col-after-label">{{collection.issn}}</div></div>
  <div class="row mb-2"><div class="col col-sm-2 col-label">e-issn</div><div class="col col-sm-10 col-after-label">{{collection.e_issn}}</div></div>
  <div class="row mb-2"><div class="col col-sm-2 col-label">Moving wall</div><div class="col col-sm-10 col-after-label">{{collection.wall}}</div></div>
  <div class="row mb-2"><div class="col col-sm-2 col-label">Availability in Geodesic</div><div class="col col-sm-10 col-after-label">{{collection.fyear}} - {{collection.lyear}}</div></div>
  <div class="col-md-4">
    <button class="btn btn-secondary mt-3" onclick="window.location.href='{% url 'history' %}?type=import&col={{collection.pid}}'">
      Voir l'historique
    </button>
  </div>
  <div class="row mt-5">
    <h3>Periods</h3>
    <table class="table align-middle ms-3">
      <thead>
        <tr>
          <th class="period-date">Begin</th>
          <th class="period-date">End</th>
          <th class="period-name">Source</th>
          <th class="period-actions">Actions</th>
        </tr>
      </thead>
      {% for period in collection.periods.all %}
      <tr>
        <td>{{period.begin}}</td>
        <td>{{period.end}}</td>
        <td>{{period.source.name}}</td>
        <td>
          <div class="float-start me-5">
            <a class="btn btn-secondary" href="{% url 'import_periode' period.pk %}" title="Import the documents of the period"><i class="bi bi-cloud-download"></i> Import</a>
          </div>
               <form method="post" class="widget-right">{% csrf_token %}
                  <div class="form-check form-switch switch-primary period-switch">
                    <label>Published</label>
                    <input type="hidden" name="pk" value="{{period.pk}}">

                    <input class="form-check-input" type="checkbox" id='{% if period.published %}flexCheckChecked{% else %}flexCheckDefault{% endif %}' onclick="sendForm(this.form)" name="published" {% if period.published %}checked=""{% endif %} >
                  </div>
                </form>
             <!-- <label>

                <span></span>Published
              </label> -->

        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div><!--/.row -->

{% endblock %}


 {% block extra_js %}
<script type="text/javascript">
  function sendForm(form) {
    setTimeout(function(){
         let inputs = $( form ).serialize()
         console.log(inputs)
        form.submit()

      }, 1000);
    console.log(form)
}

</script>
<style>
  .widget-right {
    float: right;
    top: -30px;
    position: relative;
    width: 157px;
  }



  input[type="checkbox"] label span::before, .checkbox-inline.checkbox-switch span::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  content: " ";
  top: 0;
  position: relative;
  left: 0;
  transition: all 0.3s ease;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

input[type="checkbox"] label span, .checkbox-inline.checkbox-switch span {
  width: 35px;
  border-radius: 20px;
  height: 18px;
  border: 1px solid #dbdbdb;
    border-top-color: rgb(219, 219, 219);
    border-right-color: rgb(219, 219, 219);
    border-bottom-color: rgb(219, 219, 219);
    border-left-color: rgb(219, 219, 219);
  background-color: rgb(255, 255, 255);
  border-color: rgb(223, 223, 223);
  box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}


.form-check-input:checked {
  background-color: rgb(77, 119, 89) !important;
  border-color: rgb(77, 119, 89) !important;
}

</style>

{% endblock extra_js %}
