<div class="row">
  <div class="col-11">
    <table class="table table-hover table-responsive caption-top align-middle with-dataTable">
      <thead><tr><th></th><th></th><th></th><th></th></tr></thead>
      <tbody>
        {% for col in collections %}
        <tr onclick="document.location='{% url 'collection_view' col.pid %}';">
          <td>{{ col.title_tex }}</td>
          <td>{{ col.pid }}</td>
          <td><span style="width:50px; display:inline-block">Issn:</span> {{ col.issn }}<br/><span style="width:50px; display:inline-block">E-issn:</span> {{ col.e_issn }}</td>
          {% with events=col.get_last_history_events %}
          <td>{% if events %}<a href="{% url 'history' %}?search=&col={{col.pid}}&status=error&month=all" class="btn btn-warning">View Errors{% endif %}</a></td>
          {% endwith %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
