{% extends "base_backend.html" %}
{% load i18n %}
{% load static %}

{% block title %}
Collections
{% endblock %}


{% block content %}
<div class="row" style="margin:30px;">
  <div class="col-sm-offset-1 col-xs-10">
    <h4>Collections</h4>
  </div>
</div>

{% include "collections_table.html" %}

{% endblock %}

{% block extra_js %}
    <script>
    $(document).ready(function() {
      $('.with-dataTable').DataTable(
        {pageLength: 50}
      );
    });
    </script>
{% endblock extra_js %}



