{% extends "base_dashboard.html" %}
{% load i18n %}
{% load static %}

{% block title %}
Tableau de bord Geodesic
{% endblock %}

{% block content %}

<div class='row text-center' style="margin-top:30px"></div><!--/.row -->

<div class="row" style="margin-top:50px; margin-bottom:10px">
  <div class="col-sm-offset-1 col-xs-10">
    <h4>Gestion de la Bibliotheque Numerique Geodesic</h4>


    <a href="{% url 'crawl_collection' 'DA2' 'DA' %}" id="btn-task" class="btn btn-secondary">
        <span class="glyphicon glyphicon-floppy-disk"></span> Crawl DA
    </a>

    {% comment %}
        pid is the pid of the HistoryEvent that holds data about the progress.
        It is made with {colid}-{source_name}
    {% endcomment %}

    {% include "task/progress_bar.html" with task_mod="backend.tasks" task_name="crawl_collection" pid="DA2-DA" task_title="Crawl DA" %}
  </div>
</div>

{% endblock %}

{% block extra_js %}
  <script src="{% static 'task/js/progress_bar.js' %}"></script>
{% endblock extra_js %}


