{% extends "base_dashboard.html" %}
{% load i18n %}
{% load static %}

{% block title %}
Tableau de bord Geodesic
{% endblock %}

{% block content %}

<div class='row text-center' style="margin-top:30px"></div><!--/.row -->

<div class="row" style="margin-top:50px; margin-bottom:10px">
  <div class="col-sm-offset-1 col-xs-10">
    <h4>Gestion de la Bibliotheque Numerique Geodesic</h4>
  {% if login %}

    <div id="container">
      <div class="row">
        <div class="col-7">

        {% spaceless %}

        {% endspaceless %}

          <div id="handle-all-progress" class="progress" style="display:none">
            <div class="progress-bar" role="progressbar" aria-valuenow="00" aria-valuemin="0" aria-valuemax="100" style="width:0%">0%</div>
            <br/>
          </div>


          <div id="importing-progress" class="hidden">
            <h4>Progression d'Import</h4>
            <div class="progress hidden">
              <div class="progress-bar progress-bar-success" style="min-width: 2em;">
                0%
              </div>
            </div>
            <div class="progress-error hidden">
              <div class="progress-bar progress-bar-warning hidden" style="width: 0%">
                0%
              </div>
            </div>
            <p id="polling" class="hidden">
              Status numéros à importer <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
            </p>
          </div>
          <div id="results" class="hidden mt-3 mb-3 row"></div>
          <div id="last_cmd_btn" class="col-md-4 mb-4 mt-4"><span class='badge bg-secondary'><h6>Dernières commande</h6></span></div>

          <div id="last_cmds" class="mt-3 mb-3 row">
            {% for commande in commands %}
             {% for key, data in commande.items %}
              {% for result in data %}
                <div class="col-md-3">
                    <p>
                      {% if result.progress != '100'%} Remaining tasks :  {{result.progress }} <br> {% endif %}
                      Errors : {{result.failures}}<br>
                      Successes : {{result.success}}
                    </p>
                </div>
            <div class="col-md-9">
               <p> Import de  <b><a class="link-secondary link-standard " href="{% url 'history' %}?col={{result.collection}}"> {{result.title}}</a></b> par <b>{{result.username}}</b>
                 {% if result.periode  %}
                    sur la période {{result.periode}}
                 {% endif %}
                  {% if result.numbers  %}
                    pour les numéros  {{ result.numbers }}
                 {% endif %}
                 le <b>{{result.date}}</b>
               </p>
            </div>

              {% endfor %}
             {% endfor %}
            {% endfor %}
          </div>

        </div>
        <div class="col-md-4">
            {% if crawl_progress %}
              <button class="btn btn-danger">Terminer</button>
            {% endif %}
          </div>
      </div>

<!--		<ul class="nav nav-tabs">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" data-bs-toggle="tab" aria-current="page" href="#collections-tab">Collections ({{collections|length}})</a>-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Dernières commandes</a>-->
<!--        </li>-->
<!--    </ul>-->

      {% comment %}
      <div class="tab-content">
        <div class="tab-pane fade show active" id="collections-tab">
          <div class="row">
            <div class="col-md-11">
             <div class="btn-action-right">
                <button class="btn btn-primary" onclick="createCollection()">Collection <span><i class="bi bi-file-plus-fill"></i></span></button>
              </div>
            <table class="table table-hover table-responsive dataTable no-footer" id="collections_list">
            <tr><th></th></tr></table>
            <!--  <div id="app"></div> -->
            </div>
          </div><!--/.row -->
        </div>
        <div id="libraries-tab"></div>
        <div class="tab-pane" id="corpus-tab">
          <div class="row">
            <div class="col-md-4">
                <div class="citems"></div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Collection supprimée</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Collection: <p class="col-deleted"></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.location.href = '/dashboard/'">Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endcomment %}
    </div>
	</div>

  <style>

   html,body{
      overflow-x:hidden;
   }

  .tab-content {
    width: 53%;
  }

  .btn.btn-warning, .btn.btn-xs.btn-warning{
    width: 121px;
  }
  .btn-action-right {
     margin-left: 14%;
     margin-right: auto;
     position: absolute;
     margin-top: 20px;
     z-index: 1000;
  }

ul {
  height: 40px;
}

 .nav-item {
  height: 40px;
}
  .nav-link {

  }
    .progress-bar {
      background-color: #08b564 !important;
    }
    .d-flex.justify-content-between.heading-block {
      min-height: 53px;
      margin-top: 15px;
    }

   .list-group-item.text-start {
      width: 100%;
      cursor: pointer;
      min-height: 61px;
    }
    .col-title {
      width: 605px;
    }
    .hidden {
      visibility: hidden;
    }
    .list-group-item.text-start:hover {
      background-color: #ff982b;
      color: white;
    }

    .list-group-item.text-start {
     min-height: 61px;
     margin-bottom: 0px;
      border-bottom: 1px solid gray !important;
    }

    .list-group-item {
      position: relative;
      display: block;
      padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
      color: var(--bs-list-group-color);
      text-decoration: none;
      background-color: var(--bs-list-group-bg);
      border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
      border: none;

    }

    .list-group-item.active {
      z-index: 2;
      color: #000;
      background-color: beige;
      border-color: var(--bs-list-group-active-border-color);
    }
    .card {
      color: #000;
    }
    .sc-card button {
      height: 33px;
      margin-left: 10px;
    }
    li.sc-card {
      height: auto;
      font-size:medium;
    }
    .action-import {
      float: right;
      color: #fff;
    }
  </style>
    {% endif %}
  </div><!-- /.col -->
</div><!-- /.row -->
{% endblock %}

{% block extra_js %}
    <script>
    $(document).ready(function() {
      $('.with-dataTable').DataTable(
        {pageLength: 50}
      );
    });
    </script>

    <script type='text/javascript' src="{% static 'js/collection_history.js' %}?v=00002"></script>
    <script type='text/javascript' src="{% static 'js/importing_col.js' %}?v=00002"></script>

    <!-- <script src="{% static "ptf/vendors/vue/vue.js" %}"></script> -->

   <!-- <script src="{% static 'fullvuejs/js/app.js' %}"></script>
    <script src="{% static 'fullvuejs/js/chunk-vendors.js' %}"></script>
    <script src="{% static 'ptf/vendors/vue/axios.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fullvuejs/css/app.css' %}" /> -->

    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" />

{% endblock extra_js %}


