{% extends "sources.html" %}


{% load i18n %}
{% load static %}

{% block title %}
Gestion des collections et Sources
{% endblock %}
<link rel="stylesheet" href="{% static 'css/app.css' %}" />
   {% block breadcrumbs %}
      {{block.super}}
      {% breadcrumb source.publisher "manage_collections_import" source.pk %}
      {% breadcrumb collection.title_html collection.title_html %}
    {% endblock %}
{% block content %}
<div class='row text-center' style="margin-top:30px">

  <div class="container" id="app">

    {{lib.publisher}}
    <div class="row">
       <div class="col-5">
          <div class="card mt-5">
            <div class="d-flex justify-content-start">
                <div class="p-2 flex-fill"><h4>{{collection.title_html}}</h4></div>
                <div class="flex-fill">
                  <span><h4>source :</h4></span><span>{{collection.domain}}</span>
                </div>
              </div>
           </div>
         </div>
    </div>
</div><!--/.row -->
<script>

</script>
<style>
  .container{
    margin-left: 80px;
    width: 90%;
  }
  .list-group-item {
    cursor: pointer;
  }
  .list-group {

    margin-left: 0px;

  }
  .progress-bar {
    background-color: #11bb93 !important;
  }
  #editbtn {
    margin-left: 10px;
  }
</style>
{% endblock %}



