{% extends "base_backend.html" %}  {% comment %} TODO FIX for PTF - GDML {% endcomment %}
{% load i18n %}
{% load static %}


{% block title %}
Gestion des collections et Sources
{% endblock %}



{% block content %}
    {{ sources_data|json_script:"sources_data"}}

<div class='row text-center' style="margin-top:30px">
  <div class="container-xl" id="app-dashboard">



    <div class="row">
      <div class="col-5">
        <h6>Choix de la source</h6>
        <hr />
        <ul class="list-group" id="list-sources">
          {% for object in sources %}
          <li class="list-group-item" id="{{object.pk}}">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button {% if object.id == library %} {% else %} collapsed {% endif %}" type="button" @click="SelectSource('{{ object.id }}')" data-bs-toggle="collapse" data-bs-target="#collapse-{{object.id}}" aria-expanded="{% if object.id == library %}true{% else %}false{% endif %}"  aria-controls="collapseOne">
                      {{object.name}}
                  </button>
                </h2>
                <div id="collapse-{{object.id}}" class="accordion-collapse collapse {% if object.id == library %} show {% else %} collapse {% endif %}"  aria-expanded="{% if object.id == library %}true{% else %}false {% endif %}"  aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                    {% for collection in object.collections %}
                      {% autoescape on %}
                      <li>{{collection.title_html|safe}}</li>
                      {% endautoescape%}
                    {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="p-2">
            {% if can_change %}
             <button class="btn btn-primary w-30" id="resetBtn" @click="ResetSource()">
              <span>Ajouter une source</span>
            </button>
            {% endif %}

            <div class="source-form invisible">
              <form method="post" action="">
                {% csrf_token %}
                <div class="row g-3 align-items-center mt-3">
                       <div class="col-md-3">Nom</div>
                       <div class="col-md-6" ><input v-model:value="source.name"  type="text" id="id_name" class="form-control" name="name"></div>
                </div>

                <div class="row g-3 align-items-center mt-3">
                       <div class="col-md-3">Site web</div>
                       <div class="col-md-6" ><input v-model:value="source.website" type="text" id="id_website" class="form-control" name="website"></div>
                </div>
                  <div class="row g-3 align-items-center mt-3">
                       <div class="col-md-3">nom de domaine</div>
                       <div class="col-md-6" ><input v-model:value="source.domain"  type="text" id="id_domain" class="form-control" name="domain"></div>
                </div>
                {% if can_change %}
                <input class="btn btn-action mt-3 btn-needs-save" id="id-save" type="button" v-if="updateMode"  @click="saveForm()" value="Modifier"/>
                <input class="btn btn-action mt-3 btn-needs-save" id="id-save" v-if="!updateMode" type="button" @click="saveForm()" value="Valider">
                {% endif %}
              </form>
              <p id="id-save-text" class="mt-3 badge bg-info"></p>

              </div>
            </div>
          </div>

        </div>
      </div>
    <div>
    </div>
</div><!--/.row -->
<script src="{% static 'ptf/vendors/vue/axios.min.js' %}"></script>
<script src="{% static "ptf/vendors/vue/vue.js" %}"></script>

<script>


 var sources_data = JSON.parse(decodeURI(document.getElementById("sources_data").textContent));
 console.log(sources_data);
  var app = new Vue({
    delimiters: ["[[", "]]"],
    el: '#app-dashboard',

    data: {
      csrftoken: '',
      sources:    sources_data,
      source: "",
      updateMode: true


    },
    methods: {


        SelectSource(id) {
         let self=(this)

         let source = this.sources.filter(s => s.id == id)
         self.source = source[0]
         console.log(this.sources)
         console.log(self.source)

         this.updateMode=true

        },


        setSource(id) {
          console.log(id)
          console.log("set source")
          if(id !== null) {
              let uri = "/backend/sources/"+id;
              axios.get(uri).then(response => {
                this.source = response.data;
              })
          }

        },
        ResetSource() {
          this.source=""
          this.source={
            id:"",
            name:"",
            website:"",
            domain:"",
            article_href:"",
            periode_href:"",
            pdf_href:""
          }
          this.updateMode = !this.updateMode
        },


        showForm(){
            console.log('update source');
            let el = document.getElementsByClassName('source-form');
            el = el[0]
            el.className="source-form visible mt-5";
        },
        saveForm() {
          var elt_text = document.getElementById("id-save-text")
          elt_text.innerHTML = "Saving data...";
                console.log(this.collectionedit);


          if(this.source.id !== "") {
            method = "PATCH"
          }
          else {
            method= "POST"
          }
          console.log(method)
          var url=""
          if(method == "PATCH") {
              url = "/backend/api-sources/" + this.source.id + "/" ;
              console.log(url)
          } else {
              url = "/backend/api-sources/";
          }
          console.log(url)
           axios({
            method: method,
            headers: {
              'X-CSRFTOKEN': this.csrftoken,
              'Content-Type': 'application/json'
            },
              url: url,
              data:this.source
            })
            .then(response => {
              var elt = document.getElementById("id-save");
              elt.classList.remove("btn-needs-save");
              elt_text.innerHTML = "Data saved";
              console.log(response);
              setTimeout(function() { elt_text.innerHTML = "" }, 5000);
            })
            .catch(error => {
              elt_text.innerHTML = "Error while saving data" + error
              console.log(error)
            })
            .finally(() => {});
        }
     },
     mounted() {
          console.log("mounted");
          this.csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

          this.updateMode=true
          this.showForm()

    },

    watch: {


    },
    computed: {


    }
  })




</script>
<style>
  .container{
    margin-left: 80px;
    width: 90%;
  }
  .list-group-item {
    cursor: pointer;
  }
  .list-group {

    margin-left: 0px;

  }
  .progress-bar {
    background-color: #11bb93 !important;
  }
  #editbtn {
    margin-left: 10px;
  }
  .accordion-body {
  padding: 0 !important;
  }
  #list-colls .list-group-item:hover {
    border-top-width: 0;
    background: rgb(230, 230, 230);
  }

  .nav.active {
    background-color: #ff982b;
    color: white;
  }

  .container {
    margin-left: 80px;
    width: 90%;
    overflow-y: scroll;
    height: 43vh;
  }

  .btn-secondary:hover, .btn-primary:hover {
    color: #fff;
    background: #0eb16c;
    border-color: #0eb16c;
  }

  .btn-action {
    border-color: #000;
    background-color: #469999;
  }
  .btn-action:hover {
    background: #000;
    color: #fff;
  }

   .btn-primary:hover {
       background-color: #469999;;


   }
</style>
{% endblock %}



