{% extends "base_dashboard.html" %}
{% load i18n %}
{% load static %}

{% block title %}
Gestion des collections et Sources
{% endblock %}



{% block content %}

<div class="container-xl justify-content-center align-items-center">
  <div class="row  justify-content-left align-items-center">
    <div class="col-8 mt-4">
     {% block breadcrumb %}
      <h6><span class="deactivate">collections</span><span class="sep"> / </span>  <a href="{% url 'collection_view' collection.pid  %}">{{title}}</a></h6>
    {% endblock %}
    </div>
  </div>

  <div class="row d-flex justify-content-left align-items-center">
    <div class="col-6">
      <div class="card mt-3 text-center">
        <div class="card-header">
          <div class="card-subtitle mb-2 text-muted mb-3"><h5>Import de la période </h5></div>
          <div class="card-title"></div><h5>{{title}}</h5>
        </div>
        <div class="card-body">
          <form method="post" novalidate>
            <div>
              {% csrf_token %}
              <div class="row mt-2">
                <div class="mb-3 d-flex align-items-center justify-content-md-start">
                  <input class="m-3" type="radio" value="all_period" name="typeimport" id="all_period" checked onclick="disabledInput(this)">
                  <label class="m-3" for="all_period"><strong>Toute la période</strong></label>
                  {% if periode.begin != None %}
                   <div class="periode-range">
                     <span>[</span> <b>{{ periode.begin }} - {{ periode.end }} </b><span> ]</span>
                    </div>
                  {% endif %}
                </div>
                {% for cat, fields in all_fields.items %}
                <div class="mb-6 d-flex align-items-center justify-content-md-start">
                  <div class="">
                      <input class="m-3" type="radio" name="typeimport" id="{{ cat }}" onclick="disabledInput(this)">
                      <label class="m-3" for="{{ cat }}">
                          {% if cat == 'periods' %}
                          A partir de la période
                          {% elif cat == 'numbers' %}
                          A partir des numéros
                          {% endif %}
                      </label>
                  </div>

                  <div class="d-flex">
                      {% for field in fields %}
                      <div class="me-3">
                          {{ field.label }}
                          {{ field }}
                      </div>

                      {% endfor %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <input type="submit" class="btn btn-secondary mt-3" name="import" id="action_import" value="Import">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .mb-3 .d-flex {
    flex: 1;
  }

  .mb-3 .d-flex label {
    width: 100%;
    text-align: center;
  }

  .mb-3:nth-child(2), .mb-3:nth-child(3){
    margin-left:50px;
  }
</style>


<script type="text/javascript" src="{% static "ptf/vendors/jquery/js/jquery-3.5.1.min.js" %}"></script>
<script>

  var date_start = document.getElementById("id_date_start");
  var date_end = document.getElementById("id_date_end");
  var number_start = document.getElementById("id_number_start");
  var number_end = document.getElementById("id_number_end");
  var selectedInput = "all_period";
  function disabledInput(element) {
    selectedInput = element.id

    switch (element.id) {
      case 'periods':
        console.log("periods")
        date_start.disabled = false;
        date_end.disabled = false;
        number_start.disabled = true;
        number_end.disabled = true;
        number_start.value = "";
        number_end.value = "";
        break;

      case 'numbers':
         console.log("numbers")
        date_start.disabled = true;
        date_end.disabled = true;
        number_start.disabled = false;
        number_end.disabled = false;
        date_start.value = "";
        date_end.value = "";
        break;

      case 'all_period':
        date_start.disabled = true;
        date_end.disabled = true;
        number_start.disabled = true;
        number_end.disabled = true;
        date_start.value = "";
        date_end.value = "";
        number_start.value = "";
        number_end.value = "";
    }
  }

  $(document).ready(function () {
    date_start.disabled = true;
    date_end.disabled = true;
    number_start.disabled = true;
    number_end.disabled = true;


    selected_input=$('input[type="radio"]:checked')
    console.log(selected_input.first());
    var selected = selected_input[0]
    if(date_start.value != "") {
      selected = $("#periods")[0]
      $("#periods").attr("checked","checked")
    }
    disabledInput(selected);


  });



</script>

<style>
  span.deactivate, .sep {
    color: #919191;
  }
</style>
{% endblock %}


