
{% load static %}

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
    Profile
  </title>
  <link href="{% static './gdml/css/style_gdml.css' %}" rel="stylesheet"/>
     <link href="{% static './gdml/css/bootstrap.min.css' %}" rel="stylesheet"/>

 </head>
 <body>
  <!-- partial:index.partial.html -->
  <label>{{user.username}}</label>

 <div>
     <label>Permissions: </label>
    <br />
   {% with groups=user.groups.all %}

   {% for group in groups %}
    {{ group }}
   <br />
   {% endfor %}
   {% endwith %}
 </div>
 </body>
</html>
