{% extends "base_dashboard.html" %}


{% load i18n %}
{% load static %}

{% block title %}
Gestion des collections et Sources
{% endblock %}
<link rel="stylesheet" href="{% static 'css/app.css' %}" />

{% block content %}
   {% block breadcrumbs %}
      {% breadcrumb "Sources" "sources" %}
      {% if source %}
        {% breadcrumb source.name "sources" pk=source.id %}
        {% breadcrumb "Collections" "manage_collections_list" %}
      {% endif %}
    {% endblock %}

<div class='row text-center' style="margin-top:30px">
  <div class="container-xl" id="app-dashboard">


    {{ collections|json_script:"collections" }}
    {{ sources_data|json_script:"sources_data"}}
    <div class="row">

      <div class="col-6">
      </div>
    <div>
  </div>
  <div id="app"></div>

</div><!--/.row -->
<script src="{% static 'ptf/vendors/vue/axios.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/chunk-vendors.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/app.css' %}" />
<script>


  $(document).ready(function(){
    console.log('pret');
    $('#resetBtn').click(function(){
      console.log('add source');
    $('.source-form').attr("class","source-form visible mt-5");
    })


  })

  $("#updateBtn").click(function(evt){ console.log("click"); })


  var periodes = JSON.parse(document.getElementById("periodes").textContent);
  var collections = JSON.parse(document.getElementById("collections").textContent);
  var sources_data = JSON.parse(document.getElementById("sources_data").textContent);
  console.log(sources_data);
  function go_managecollection(collection) {
    console.log(collection);
    console.log(collections);
    periode = periodes.find(col => col.id == collection);
    source = periode.source
    collection = periode.collection.pid;
    console.log(periode);
    window.location.href="/dashboard/sources/"+source.id+"/collections/"+collection;
  }
  function actions_collection(pid) {
    //window.location.href="/dashboard/collections/"+pid;
  }

  var app = new Vue({
    delimiters: ["[[", "]]"],
    el: '#app-dashboard',
    data: {
      collections: collections,
      periodes: periodes,
      sources: sources_data,
      source: '',
      updateMode:false
    },
    methods: {
        SelectSource(id) {
         this.source = this.sources.filter(s => s.id == id)
         this.source = this.source[0]
         console.log(id)
         console.log(this.source)
         this.updateMode=true
        },
        ResetSource() {
          this.source=""
          this.source={
            id:"",
            name:"",
            website:"",
            domain:"",
            article_href:"",
            periode_href:"",
            pdf_href:""
          }
        },
        EditCollection() {
          window.location.href="/dashboard/collections-manage/"+this.collection.collection.pid
        },
        showForm(){
            console.log('update source');
            let el = document.getElementsByClassName('source-form');
            el = el[0]
            el.className="source-form visible mt-5";
        },
        saveForm() {
          var elt_text = document.getElementById("id-save-text")
          elt_text.innerHTML = "Saving data...";
                console.log(this.collectionedit);

          const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;

          if(this.source.id !== "") {
            method = "PATCH"
          }
          else {
            method= "POST"
          }
          console.log(method)
          var url=""
          if(method == "PATCH") {
              url = "/dashboard/api/sources/" + this.source.id + "/" ;
          } else {
              url = "/dashboard/api/sources";
          }
           axios({
            method: method,
            headers: {
              'X-CSRFTOKEN': csrf_token,
              'Content-Type': 'application/json'
            },
              url: url,
              data:this.source
            })
            .then(response => {
              var elt = document.getElementById("id-save");
              elt.classList.remove("btn-needs-save");
              elt_text.innerHTML = "Data saved";
              console.log(response);
              setTimeout(function() { elt_text.innerHTML = "" }, 1000);
            })
            .catch(error => {
              elt_text.innerHTML = "Error while saving data" + error
              console.log(error)
            })
            .finally(() => {});
        }
     }
  })

</script>
<style>
  .container{
    margin-left: 80px;
    width: 90%;
  }
  .list-group-item {
    cursor: pointer;
  }
  .list-group {

    margin-left: 0px;

  }
  .progress-bar {
    background-color: #11bb93 !important;
  }
  #editbtn {
    margin-left: 10px;
  }
  .accordion-body {
  padding: 0 !important;
  }
  #list-colls .list-group-item:hover {
    border-top-width: 0;
    background: rgb(230, 230, 230);
  }
</style>
{% endblock %}



