{% extends "base_backend.html" %}
{% load i18n %}
{% load static %}

{% block title %}
Sources
{% endblock %}


{% block content %}
<div class="row" style="margin:30px;">
  <div class="col-sm-offset-1 col-xs-10">
    <h4>Sources</h4>
  </div>
</div>

<div class="row" style="margin:30px">
  <div class="col-11">
    <table class="table table-hover table-responsive caption-top align-middle with-dataTable">
      <thead><tr><th></th></tr></thead>
      <tbody>
        {% for source in sources %}
        <tr onclick="document.location='{% url 'source' source.pk %}';">
          <td>{{ source.name }} ({{ source.source.count }} collections )</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block extra_js %}
    <script>
    $(document).ready(function() {
      $('.with-dataTable').DataTable(
        {pageLength: 50}
      );
    });
    </script>
{% endblock extra_js %}



