{% extends "base_backend.html" %}
{% load i18n %}
{% load static %}

{% block title %}
Source
{% endblock %}


{% block content %}
<div class='row' style="margin:30px">
  <div>
    <h1 class="float-start me-5">{{source.name}}</h1>
  </div>
  <div class="row mb-5 mt-3">
    <div class="col col-sm-2 col-label">URL</div>
    <div class="col col-sm-10 col-after-label">{{source.website}}</div>
  </div>

  {% include "collections_table.html" with source=source %}

</div>

{% endblock %}

{% block extra_js %}
    <script>
    $(document).ready(function() {
      $('.with-dataTable').DataTable(
        {pageLength: 50}
      );
    });
    </script>
{% endblock extra_js %}



