{% load i18n %}
{% load static %}

{% url 'home' as home_url %}
<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid content">
      <a href="{% url 'dashboard' %}" aria-current="page" class="nav-link">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        {% include "blocks/menu_items.html" %}
        <ul class="nav nav-pills ms-auto mb-1">
          {% if user.is_authenticated %}
          <li>

          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="editorSettingsDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu" aria-labelledby="editorSettingsDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change password</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              <a class="nav-link" onclick="this.closest('form').submit();return false;">Logout</a>
            </form>
          </li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% comment %}
  {% if show_breadcrumb %}
  <div id="breadcrumb" class="d-flex justify-content-center align-items-center">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e4eef3">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <div class="navbar-nav">
            <a class="nav-link disabled breadcrumb-disabled" aria-current="page" href="">Create Submission</a>
            <span class="breadcrumb-chevron"><i class="bi bi-arrow-right-circle-fill"></i></span>
            <a class="nav-link {% if disable_edit %}disabled breadcrumb-disabled{% endif %}{% if current_page == 'edit' %}active{% endif %}" href="{% url 'edit-article' colid doi %}">Edit Article Metadata</a>
            <span class="breadcrumb-chevron"><i class="bi bi-arrow-right-circle-fill"></i></span>
            <a class="nav-link {% if current_page == 'preview' %}active{% endif %} save-reminder" href="{% url 'preview-article' colid doi %}">Preview</a>
            <span class="breadcrumb-chevron"><i class="bi bi-arrow-right-circle-fill"></i></span>
            {% if submission_ended %}
            <a class="nav-link {% if current_page == 'posted' %}active{% endif %} save-reminder" href="{% url 'submission-posted' submission_id %}">End of Submission</a>
            {% else %}
            <a class="nav-link {% if current_page == 'finalize' %}active{% endif %} save-reminder" href="{% url 'submission-update' submission_id %}">Finalize Submission</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </div>
  {% endif %}
  {% endcomment %}

</div>

<style>
  .target-image {

    background: url(img/gdml-logo.png) no-repeat 6px center;
    width: 151px;
    height: 182px;
    display: block;
  }

  .target-image:hover {
    background: white !important;
  }

</style>
