<div style="margin-bottom: 10px; margin-top: 20px">
  <a href="/suggest_update/{{ article.my_container.my_collection.pid }}/{{ article.doi }}/"><button class="btn btn-primary"><span class="glyphicon glyphicon-circle-arrow-right"></span> Articles suggérés</button></a>
  {% if article.has_graphical_abstract %}
  <a href="/graphical_abstract_update/{{ article.my_container.my_collection.pid }}/{{ article.doi }}/"><button class="btn btn-primary"><span class="glyphicon glyphicon-circle-arrow-right"></span> Résumé graphique</button></a>
  {% endif %}
</div>
