{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<div class="right_col">
  <span class="common-title article-title">
    <a>{{ article.title_html|safe }}</a>
  </span>
  {% if article.trans_lang == LANGUAGE_CODE and article.trans_title_tex %}
  <br />
  <span class="article-trans-title">[{{ article.trans_title_html|safe }}]</span>
  {% endif %}
  <div>
    {% for contribution in article.contributions.all %}
    {{ contribution.display_name }}
    {% endfor %}
  </div>
  {{ article.my_container.my_collection.title_html }}
  <div><a>{{ citation_base }}</a></div>
  <div><a href="https://doi.org/{{ article.doi }}">{{ article.doi }}</a></div>

  <div class="row">
    <div class="col-md-6">
      {% include "editorial_tools/button-items.html" with article=article %}
    </div>
  </div>
</div>

{% endblock content %}
