{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<div class="right_col">
  <h1>Résumé graphique et illustration de :</h1>

  <dl>
    <h2><dt class="article-title">{{ article.title_tex }}</dt></h2>
    <dt class="authors"><em>{{ author }}</em></dt>
    <dt class="journal-title">{{ article.my_container.my_collection.title_html }}</dt>
    <dt class="citation-base">{{ citation_base }}</dt>
    <dt>DOI : <a href="https://doi.org/{{ article.doi }}">{{ article.doi }}</a></dt>
  </dl>
  <br />

  <form id="gaForm" method="post" enctype="multipart/form-data" action="/graphical_abstract_deploy/{{ article.my_container.my_collection.pid }}/{{ article.doi }}/both/">
    {% csrf_token %}

    {% for field in form %}
    <div class="fieldWrapper">
      {{ field.errors }} {{ field.label_tag }} {{ field }}
      <img class="img-ga-preview" id="{{ field.name }}" />
    </div>
    {% endfor %}

    {% if date_modified %}
    <p style="text-align: right">Dernière modification : {{ date_modified }}</p>
    {% endif %}

    <br />
    <button class="btn btn-sm btn-default btn-deploy" type="submit">
      <i class="fa fa-arrow-circle-o-up"></i> Sauvegarder et mettre à jour
    </button>
  </form>
</div>

{% endblock content %}
