{% if pid|slice:"1:2" in "CR" and pid|length == 6 %}
<div class="row" style="margin-top: 20px">
  <div class="col-xs-12 col-sm-6 col-lg-4 tools-box">
    <div class="card">
      <div class="card-header" id="heading">
        <button style="color:inherit;{% if not request.user.is_staff %}pointer-events:none{% endif %}" class="btn-link" data-toggle="collapse" data-target="#dashboard" aria-controls="dashboard">
          <h4>{{ title }}</h4>
        </button>
      </div>
      <div id="dashboard" class="collapse {% if not request.user.is_staff %}in{% endif %}" aria-labelledby="heading">
        <div class="card-body">
          {% for vserie in issues %}
          <div>
            {% for volume in vserie.volumes %}
            {% if volume.volume and volume.volume != '0' %}
            <div>
              {% with volume.issues|first as first_issue %}
              {% if first_issue.ctype == 'issue' %}
              <a href="{% url 'editor_volume_items' pid first_issue.get_vid %}">
                {% include 'common/volume_string.html' %} {{ volume.volume }}</a> ({% if volume.fyear != volume.lyear %}{{ volume.fyear }}-{% endif %}{{ volume.lyear }})
              {% endif %}
              {% endwith %}
            </div>
            {% endif %}
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        <div class="row" style="margin-top: 20px">
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <label for="journal-dois">Find an article</label>
            <input list="datalistOptions" id="journal-dois" placeholder="DOI..." />
            <datalist id="datalistOptions">{{ choices|safe }}</datalist>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
