{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<div class="right_col">
  <h1 id="{{ journal.pid }}">{{ journal.title_tex }}</h1>

  <h2>Ajouter ou éditer un numéro spécial</h2>
  {% comment %} <form method="get" action="{% url 'special_issue_create' colid %}"> {% endcomment %}
  
    <a href="{% url 'special-issue-edit' colid  'create' %}">
     <div class="newBox"><span class="badge badge-create-page"><span class="glyphicon glyphicon-plus"></span> Ajouter un numéro spécial</span></div>
    </a>  
  
  {% if special_issues %}
  <table class="page-table">
    <thead>
      <tr>
        <th>TITRE</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      {% for special_issue in special_issues %}
      <tr>
        <td><a href="{% url 'special-issue-edit' colid special_issue.id %}"> {{ special_issue.title_html }}</a></td>
        <td>
          <div class="btn-group">
            {% comment %} <div class="btn-group">
              <select id="deploy-one-site-sel-{{ forloop.counter }}" class="btn btn-default " >
                <option class="select_target " data-row="{{ forloop.counter }}" value="test_website">Test</option>
                <option class="select_target " data-row="{{ forloop.counter }}" value="website">Prod</option>
              </select>
            </div> {% endcomment %}
            <div class="btn-group">
              <button id="deploy-one-site-sel-{{ forloop.counter }}"
                      type="button"
                      class="btn btn-default dropdown-toggle"
                      value="test_website"
                      data-bs-toggle="dropdown"
                      data-toggle="dropdown"
                      data-toggle="dropdown"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">
                <i id="matching-indicator-{{forloop.counter}}" class="fa fa-spinner fa-spin hidden" aria-hidden="true"></i>
                Test <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a class="select_target" data-row="{{ forloop.counter }}" value="test_website">Test</a></li>
                <li><a class="select_target" data-row="{{ forloop.counter }}" value="website">Prod</a></li>
              </ul>
            </div>
            <a href="#" class="btn btn-default handle-one-button"
                        data-url="{% url 'api_deploy_jats_resource' colid special_issue.pid 'toreplacesite' %}"
                        data-select-id="deploy-one-site-sel-{{ forloop.counter }}"
                        data-reload="1"
                        data-matching-indicator="matching-indicator-{{ forloop.counter }}">
              <i class="fa fa-arrow-circle-o-up"></i> Transfer to
            </a> 
            <a href="#" class="btn btn-default handle-one-button"
                        data-url="{% url 'api_delete_jats_issue' colid special_issue.pid 'toreplacesite' %}"
                        data-select-id="deploy-one-site-sel-{{ forloop.counter }}"
                        data-matching-indicator="matching-indicator-{{ forloop.counter }}"
                        data-reload="1">
              <i class="fa fa-trash"></i> Delete on website
            
            </a>
            <a href="{% url 'special_issue_delete' colid  special_issue.id %}" class="btn btn-danger">
            {% comment %} <a href="{% url 'special_issue_delete' colid special_issue.id %}" class="btn btn-danger"> {% endcomment %}
              <i class="fa fa-trash"></i> Delete on trammel
            </a>
          </div>
        </td>
        
        
        {% comment %} <td>{{ p.state }}</td> {% endcomment %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Pas de collections transverses associées à cette série.</p>
  {% endif %}
  <div style="padding-bottom: 200px"></div>
</div>

{% endblock content %}
{% block extrajs %}
<script src="/static/ptf-tools/js/collection_detail_table.js"></script>
<script src="/static/ptf-tools/js/archiving.js"></script>
{% endblock extrajs %}



