{% extends "base.html" %}

{% load static %}
{% load i18n %}


{% block content %}

<div class="right_col">
  <div id="special-issue"></div>
</div>

<link href="{% static '/vuejs/special-issues/dist/index.css' %}" rel="stylesheet" />
<script src="{% static '/vuejs/special-issues/dist/index.js' %}"></script>

{% endblock content %}

