{% extends "base.html" %}

{% load static %}
{% load i18n %}


{% block content %}

<div>
    
    <form methode="POST">
        {{ form.as_p }}

    </form>
</div>

<link href="{% static '/vuejs/virtual-issues/dist/index.css' %}" rel="stylesheet" />
<script src="{% static '/vuejs/virtual-issues/dist/index.js' %}"></script>

{% endblock content %}