{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<div class="right_col">
  <h1>Suggestions d'articles de :</h1>

  <dl>
    <h2><dt class="article-title">{{ article.title_tex }}</dt></h2>
    <dt class="authors"><em>{{ author }}</em></dt>
    <dt class="journal-title">{{ article.my_container.my_collection.title_html }}</dt>
    <dt class="citation-base">{{ citation_base }}</dt>
    <dt>DOI : <a href="{{ url }}">{{ article.doi }}</a></dt>
  </dl>
  <br />

  <form id="suggestForm" name="suggestForm" method="post" action="/suggest_deploy/{{ article.my_container.my_collection.pid }}/{{ article.doi }}/test_website/">
    {% csrf_token %}
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item active">
          <a class="nav-link active" data-toggle="tab" href="#doi-list">Liste de DOIs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#exclusion-list">Liste d'exclusion</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="doi-list" class="tab-pane active">{{ form.doi_list }}</div>
        <div id="exclusion-list" class="tab-pane">{{ form.exclusion_list }}</div>
      </div>
    </div>

    {% if date_modified %}
    <p>Dernière modification : {{ date_modified }}</p>
    {% endif %}

    <div class="row">
      <div class="col-md-4">Liste automatique : {{ form.automatic_list }}</div>
    </div>

    Séléctionnez un site :
    <select class="btn btn-sm btn-default btn-select-site" id="site" onchange="chgActionForm(this)">
      <option value="/suggest_deploy/{{ article.my_container.my_collection.pid }}/{{ article.doi }}/test_website/">Test</option>
      <option value="/suggest_deploy/{{ article.my_container.my_collection.pid }}/{{ article.doi }}/website/">Production</option>
    </select>
    <button class="btn btn-sm btn-default btn-deploy" type="submit">
      <i class="fa fa-arrow-circle-o-up"></i> Sauvegarder et mettre à jour
    </button>
  </form>

  <div class="debug">
    <h3>Détails de la recherche automatique :</h3>
    {% for head, suggested, tail in debug %}
    <div>{{ head }}</div>
    <br />
    <ul>
      {% for doi, url, score in suggested %}
      <li>
        {% if  url %}<a href="{{ url }}">{% endif %}{{ doi }}</a>
        <br />
        {{ score }}
      </li>
      {% endfor %}
    </ul>
    <pre>{{ tail }}</pre>
    {% endfor %}
  </div>
</div>

{% endblock content %}
