{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<div class="right_col">
  <h1 id="{{ journal.pid }}">{{ journal.title_tex }}</h1>

  <h2>Ajouter ou éditer une collection transverse</h2>

  <div class="newBox"><a href="/virtual_issue_create/{{ colid }}/"><span class="badge badge-create-page"><span class="glyphicon glyphicon-plus"></span> Ajouter une collection transverse</span></a></div>

  {% if pages %}
  <table class="page-table">
    <thead>
      <tr>
        <th>PAGE</th>
<!--        <th>PARENT PAGE</th>-->
        <th>PAGE_ID</th>
        <th>STATE</th>
      </tr>
    </thead>
    <tbody>
      {% for p in pages %}
      <tr>
        <td><a href="/virtual_issue_update/{{ colid }}/{{ p.id }}/"> {{ p.menu_title }}</a></td>
<!--        <td>{% if p.parent_page %}{{ p.parent_page }}{% else %} ----- {% endif %}</td>-->
        <td><a href="/virtual_issue_update/{{ colid }}/{{ p.id }}/"> {{ p.id }}</a></td>
        <td>{{ p.state }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Pas de collections transverses associées à cette série.</p>
  {% endif %}
  <div style="padding-bottom: 200px"></div>
</div>

{% endblock content %}
