{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}

<div class="right_col">
  {% with issues_articles|first as first %}

  <h1>{{ first.issue.my_collection.title_sort }}, {% include 'common/volume_string.html' %} {{ first.issue.volume }} ({{ first.issue.year }})</h1>

  <div class="article-div">
    <div class="row">
      <div class="col-xs-12">
        {% for issue_articles in issues_articles %}
        <h2 style="margin-bottom: 20px">
          {% if LANGUAGE_CODE == 'fr' %}Sommaire du
          {% trans 'Fascicule' %} no.
          {% elif LANGUAGE_CODE == 'en' %}Table of Contents of the
          {% trans 'Fascicle' %} no.
          {% endif %}
          {{ issue_articles.issue.number }}
        </h2>

        {% for article in issue_articles.articles %}
        {% if article.date_published or article.date_online_first %}
        <div class="row">
          <div class="col-md-6">
            {% if article.subj_set.count %}
            <div class="article-subj">{{ article.get_subj_text }}</div>
            {% endif %}

            <span class="common-title article-title">
              <a>{{ article.title_html|safe }}</a>
            </span>
            {% if article.trans_lang == LANGUAGE_CODE and article.trans_title_tex %}
            <br />
            <span class="article-trans-title">[{{ article.trans_title_html|safe }}]</span>
            {% endif %}

            <div>
              {% for contribution in article.contributions.all %}
              {{ contribution.display_name }}
              {% endfor %}
            </div>
            <div><a>{% include 'common/volume_string.html' %} {{ first.issue.volume }} ({{ first.issue.year }}) no. {{ issue_articles.issue.number }}</a></div>
            <a href="https://doi.org/{{ article.doi }}">{{ article.doi }}</a>
            {% include "editorial_tools/button-items.html" with article=article %}
          </div>

          <div class="col-md-6 hidden-xs hidden-sm">
            <div class="col-sm-3">
              {% if article.get_illustrations.graphical_abstract %}
              <div style="text-align: center">
                <img class="img-ga-summary-trammel" src="{{ article.get_illustrations.graphical_abstract.url }}" />
                graphical abstract
              </div>
              {% endif %}
            </div>
            <div class="col-sm-3">
              {% if article.get_illustrations.illustration %}
              <div style="text-align: center">
                <img class="img-ga-summary-trammel" src="{{ article.get_illustrations.illustration.url }}" />
                illustration
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %}

        {% if not forloop.last %}
        <hr class="separator" />
        {% else %}
        <hr />
        {% endif %}
        {% endfor %}

        {% if not forloop.last %}
        <hr class="separator" />
        <hr class="separator" />
        <hr class="separator" />
        {% endif %}

        {% endfor %}
      </div>
    </div>
  </div>
  {% endwith %}
</div>

{% endblock content %}
