{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {{ COLLECTION_TITLE }} - {% trans "Recherche" %}
{% endblock %}

{% block extra_head %}
<meta name="robots" content="noindex">
{% endblock extra_head %}

{% block container %}
<div class="row">
  <div class="wrapper-sidebar">
    <div class="col-xs-3" id="sidebar">
      {% include "common/facets.html" %}
    </div>
    <div class="col-xs-9" id="results">
      <div id="toggle-sidebar">
        <button type="button" id="sidebarCollapse" class="btn btn-default btn-toggle">
            <i class="glyphicon glyphicon-align-left"></i>
            {% trans "Filter results" %}
        </button>
      </div>
      {% include "common/search-results.html" %}
    </div>
  </div>
</div>
{% endblock %}

