<p>
  Dear Centre Mersenne,
  <br/>
  <br/>
  Editorial Team has accepted  <strong>"{{submission.article.title_tex}}"</strong> .
  <br/>
  <br/>
  url : <a href="https://pcj-test.centre-mersenne.org/articles/{{submission.article.doi}}/">https://pcj-test.centre-mersenne.org/articles/{{submission.article.doi}}/</a>
</p>

