<p>
  Dear Author,
  <br/>
  <br/>
  Thank you for submitting your article entitled <strong>"{{submission.article.title_tex}}"</strong> to Peer Community Journal.
  <br/>
  <br/>
  We will review your submission and get back to you shortly with either a list of required changes to your PDF or the proofs of your article for final review before publication.
  <br/>
  <br/>
  If you have any questions, please do not hesitate to contact us by replying to this email or by writing to {{editorial_email}}
  <br/>
  <br/>
  Thank you for considering PCJ as a venue for your work.
  <br/>
  <br/>
  Yours sincerely,
  <br/>
  The PCJ Editorial Team
</p>
