:root {
    --primary-color: #000000;
    --primary-accent-color: #21222a;
    --secondary-color: #e32c2e;
    --secondary-accent-color: #e74b4e;

    --header-padding: 0;

    --search-bar-padding: 15px 20%;
    --search-bar-bg-color: #fceeee;
    --searchclear-color: var(--primary-color);

    --footer-text-color: var(--primary-color);
    --footer-link-color: var(--primary-color);
    --footer-link-hover-color: var(--primary-accent-color);

    --link-hover-color: rgb(35, 82, 124);
    --header-active-nav-link-bg-color: var(--primary-color);
    --header-active-nav-link-color: white;

    --header-bg-color: white;
    --footer-bg-color: #fceeee;
    --footer-border: 0;

    --header-nav-border: 0;
    --header-nav-margin: 20px 0 20px 0;

    --facet-header-bg-color: var(--primary-color);
    --facet-header-color: white;

    --btn-light-color: black;
    --btn-light-bg-color: white;
    --btn-light-hover-color: black;

    --btn-primary-color: white;
    --btn-primary-bg-color: var(--primary-color);
    --btn-primary-border-color: transparent;
    --btn-primary-hover-color: white;
    --btn-primary-hover-bg-color: var(--primary-accent-color);
    --btn-primary-hover-border-color: transparent;

    --header-nav-link-color: var(--primary-color);
    --header-nav-link-hover-color: var(--secondary-color);
    --header-nav-link-hover-bg-color: transparent;

    --breadcrumb-color: white;
    --breadcrumb-background-color: var(--secondary-color);
    --breadcrumb-hover-color: white;
    --breadcrumb-hover-background-color: var(--primary-color);
    --breadcrumb-active-color: white;
    --breadcrumb-active-background-color: var(--primary-color);

    --pagination-link-active-bg-color: var(--primary-color);
    --pagination-link-active-border-color: var(--primary-color);
    --pagination-link-color: var(--primary-color);
    --pagination-link-hover-color: var(--primary-color);
}

body {
    background-color: #fceeee;
}

@media (max-width: 576px) {
    img#logo-cml-bg {
        width: 50%;
        min-width: 300px;
    }
}

@media (max-width: 1500px) {
    .menu-top {
      display: none;
    }
}

@media (min-width: 1500px) {
    button.hamburger-icon {
        display: none !important;
    }
  
    div:has(> button.hamburger-icon) {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .hamburger-icon {
      display: block !important;
    }

    div:has(> .hamburger-icon) {
        display: flex !important;
    }
}

div:has(#collapseContent) > div:first-of-type {
    min-height: 125px;
}

#logo-cml-bg {
    z-index: 100;
    height: auto;
    width: 25%;
    min-width: 450px;
}

header .navbar .nav li:not(.active) .menu-link:hover {
    color: var(--secondary-color);
}

div:has(> #news-container) {
    gap: 2rem;
}

#news-container .card-header {
    font-size: 22px;
    font-weight: bold;
}

#news-container .card-body p:last-child {
    margin-bottom: 0;
}

@media (min-width: 768.02px) {
    div:has(> #line-container) {
        width: auto !important;
    }
}

@media (max-width: 1200px) {
    .navbar .container-fluid {
        margin: 0;
        padding: 0;
    }
}

header #collapseContent .nav-link, header #collapseContent .dropdown-menu .dropdown-item {
    color: var(--primary-color);
    background-color: inherit;
}

header #collapseContent .nav-link:hover, header #collapseContent .nav-link:focus,
header #collapseContent .dropdown-menu .dropdown-item:hover, header #collapseContent .dropdown-menu .dropdown-item:focus {
    color: var(--secondary-color);
}

header #collapseContent .dropdown-menu {
    border: 0;
    box-shadow: none;
    padding-left: 2rem;
}

.nav-tabs .nav-link.active {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: #dee2e6 #dee2e6 rgba(255, 255, 255, 0.5);
}

pre {
    background-color: rgba(225, 225, 225, 0.4);
}

header .navbar {
    width: 75%;
    max-width: 75%;
}

header .navbar .nav {
    flex-wrap: nowrap;
    gap: 1rem;
}

#article-div .nav-pills .nav-link.active {
    background-color: var(--primary-color);
}

#article-div .nav-pills .nav-link.active:hover {
    background-color: var(--secondary-accent-color);
}

header .navbar .nav .menu-link {
    font-size: calc(8px + 0.6vw);
    padding: 0.7rem;
}

header .navbar .nav .dropdown-item {
    color: var(--primary-color);
    transition: color .15s ease-in-out;
}

header .navbar .nav li.active .dropdown-toggle {
    color: white;
}

header .navbar .nav .dropdown-toggle {
    transition: color .15s ease-in-out, border-color .15s ease-in-out;
    color: black;
    border-color: lightgray;
}

header .navbar .nav .dropdown-toggle.show {
    color: black;
    border-color: lightgray;
}

#search-group-btn {
    position: relative;
}

#search-group-btn .dropdown-toggle {
    border-color: lightgray;
    transition: background-color .15s ease-in-out;
}

#search-group-btn .dropdown-toggle.show, .dropdown-toggle.show {
    border-bottom-color: transparent !important;
    position: relative;
    border-radius: 0 !important;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    z-index: 1001;
}

.dropdown-menu {
    transition: color .15s ease-in-out, border-color .15s ease-in-out;
    margin-top: -3px !important;
    border-radius: 0 0.25rem 0.25rem 0.25rem;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    border: 1px solid black;
    min-width: 100% !important;
}

.search-facets .btn-dark {
    background-color: var(--secondary-color);
}

.search-facets .btn-dark:hover, .search-facets .btn-dark:focus {
    background-color: var(--secondary-accent-color);
}

.search-facets .btn-light {
    color: white;
    background-color: var(--primary-color);
    border: 0 !important;
}

.search-facets .btn-light:hover, .search-facets .btn-light:focus {
    background-color: var(--primary-accent-color);
}

.facet-header {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card {
    border-radius: 0.5rem;
}

 .navbar .nav li:not(.active) .dropdown-toggle.show {
    background-color: white;
}

header .navbar .nav .dropdown-menu {
    transition: color .15s ease-in-out, border-color .15s ease-in-out;
    margin-top: 0 !important;
    top: auto;
    border: 0;
    border-radius: 0 .25rem .25rem .25rem;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
}

#search-bar form {
    justify-content: end;
    width: max(750px, 50%);
    max-width: max(750px, 50%);
}

#search-bar .browse-button {
    order: 1;
}

#search-bar .browse-button .btn-primary {
    color: white;
    background-color: var(--secondary-color);
}

#search-bar .browse-button .btn-primary:hover, #search-bar .browse-button .btn-primary:focus {
    background-color: var(--secondary-accent-color);
}

#search-bar .search-button-div .search-button {
    color: white;
    background-color: var(--primary-color);
}

#search-bar .search-button-div .search-button:hover, #search-bar .search-button-div .search-button:focus {
    background-color: var(--primary-accent-color);
}

.search-group, #search-group-btn {
    gap: 0.5rem;
}

.search-group-added > .input-group {
    border: 1px solid black;
    border-radius: 0.25rem !important;
}

#line-container .search-group:not(.search-group-added) .searchinput, #line-container .btn-light {
    border-radius: 0.25rem !important;
    border: 1px solid black !important;
}

.logo-footer-div {
    flex-direction: column;
}

.logos-footer {
    width: 60%;
    padding: 0 3% !important;
}

header > div {
    padding: 20px 4% !important;
}

.cms-page table {
    overflow-x: scroll;
    display: block;
}

header > div:first-of-type {
    padding: 0 4% 0 0 !important;
}

#footer .nav .menu-link {
    text-align: end;
}

.language-select-button {
    border: 1px solid black !important;
    background-color: white;
    color: black;
}

.language-select-button:hover, .language-select-button:focus {
    background-color: #e4e4e4;
    color: black;
}

#search-bar {
    width: 100%;
}

.btn-tex input {
    color: black;
}

.btn-tex input:hover, .btn-tex input:active {
    color: black;
}

.journal-title {
    padding: 0 20px;
}

#navbar-collapse-button {
    border: 1px solid #e4e4e4;
}

header nav .container-fluid {
    justify-content: start !important;
    width: 80%;
}

@media (max-width: 500px) {
    .journal-header-content {
        width: 100%;
    }
}