.custom-tooltip {
    position: fixed;
    z-index: 700;
    padding: 0.5rem 0.85rem;
    border-radius: 4px;
    background-color: var(--tooltip-background-color);
    color: var(--tooltip-color) !important;
    font-size: 0.85rem;
    font-weight: normal;
    max-width: calc(min(80vw, 450px));
    text-decoration: unset;
    word-break: break-word; /* To be adapted ?*/
    animation: fade 150ms ease-out 1;
}

@keyframes fade {
    0% { opacity: 0; }
    60% { opacity: 0; }
    100% { opacity: 1; }
}
