.custom-modal {
    font-size: 15px;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    z-index: 200;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 5vw;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    background: rgba(0, 0, 0, .0);
    animation: fadeIn .25s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    text-align: center;
}

.custom-modal.active {
    display: block;
}

.custom-modal-content {
    margin-top: min(300px, 10vh);
    margin-bottom: min(300px, 10vh);
    display: inline-block;
    background-color: #F7F7F7;
    border-radius: 4px;
    border: 1px solid;
    text-align: left;
    opacity:0;
    animation: scaleUp .25s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.custom-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.custom-modal-buttons {
    display: flex;
    float: right;
    flex-direction: row;
    gap: 0.8em;
    padding-right: 1em;
    flex-wrap: wrap;
}

.custom-modal-button {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    border-radius: 4px;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3px;
}

.custom-modal-button > i {
    margin-right: 0.2em;
}

.custom-modal-panel-switches {
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    padding: 1em;
    border-bottom: 1px solid gray;
    flex-wrap: wrap;
}

.custom-modal-panel-switch:after {
    content: '';
    height: 1.5em;
    padding-left: 1.2em;
    border-right: 1px solid;
}

.custom-modal-panel-switch:last-child:after {
    all: unset;
}

.custom-modal-panel-switch {
    position: relative;
    padding: 0.4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    flex-wrap: nowrap;
}

.custom-modal-panel-switch:hover {
    cursor: pointer;
}


.custom-modal-panel {
    padding: 2em;
    display: none;
}

.custom-modal-panel.active {
    display: block;
}

@keyframes fadeIn {
    0% {
        background:rgba(0,0,0,.0);
    }
    100% {
        background:rgba(0,0,0,.7);
    }
}

@keyframes scaleUp {
    0% {
        transform:scale(.8) translateY(1000px);
        opacity:0;
    }
    100% {
        transform:scale(1) translateY(0px);
        opacity:1;
    }
}
