/* Messages styling */
@keyframes shake {
    50%, 95% {
      transform: translate3d(-1px, 0, 0);
    }

    55%, 90%{
      transform: translate3d(2px, 0, 0);
    }

    60%, 70%, 80% {
      transform: translate3d(-4px, 0, 0);
    }

    65% ,75% {
      transform: translate3d(4px, 0, 0);
    }
  }

.custom-alert-messages {
    animation: shake 2s linear both 1;
    transition: opacity 2.5s ease-in;
    position: fixed;
    top: 0;
    right: 0;
    margin: min(30px, 5vw);
    z-index: 100;
    min-width: min(250px, 70vw);
    max-width: min(450px, 90vw);
    opacity: 1;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: end;
}

.custom-alert-messages > .custom-alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    text-align: left;
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 1em;
    box-shadow: 1px 2px 5px 1px #b9b9b9b5;
    width: 100%;
}

.custom-alert-messages > .custom-alert.custom-alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.custom-alert-messages > .custom-alert.custom-alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.custom-alert-messages > .custom-alert.custom-alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.custom-alert-messages > .custom-alert.custom-alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.custom-alert-messages > .custom-alert.custom-alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.fade-out {
    opacity: 0;
}

.custom-alert-messages button {
    all: unset;
    background-color: inherit;
    color: inherit;
    margin-right: 1.5em;
    font-size: 1.4em;
    margin-bottom: 2px;
}

.custom-alert-messages button:hover {
    cursor: pointer;
    font-weight: bold;
}
