#article-body-html thead {
    background-color: whitesmoke;
}

#article-body-html table {
    width: 100%;
}

#article-body-html th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: white;
    padding-top: 5px;
    text-align: center;
    vertical-align: top;
}

#article-body-html tr:last-child {
    border-bottom: 1px solid #ddd;
}

#article-body-html table.formula tr:last-child {
    border-bottom: 0px;
}

#article-body-html td {
    padding-top: 5px;
}

#article-body-html {
    text-align: justify;
}



#article-body-html .formula td {
    border: 0px;
}

.article-body-img {
    max-width: 70%;
    margin-bottom: 5px;
}

figure {
    background-color: white;
    text-align: center;
    margin-bottom: 30px;
}
