.facet-header,
.facet-header-no-click {
    background-color: #f2efdc; /*#f2f2f2;*/
    border-color: #e7e7e7;
    border: 1px solid #e7e7e7;
    height: 35px;
    border-radius: 2px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    min-width: 180px;
}

.facet-header:hover {
    cursor: pointer;
}

.facet-header:after,
.facet-header-no-click:after {
    clear: both;
}

.facet-header-title {
    width: 120px;
    width: calc(100% - 22px);
    float: left;
}

.facet-header-glyph {
    margin-top: 10px;
}

.facet {
    padding-left: 20px;
}

.facet-active {
    background-color: #f2efdc;
    text-decoration: none;
}

.facet-active:hover a {
    text-decoration: line-through;
}

.facet-button {
    padding: 3px;
    font-size: 10px;
    line-height: 1;
    margin-top: -1px;
    margin-left: 5px;
}
