#search-bar {
    padding: 20px 10px 0px 10px;
}

.search-group-added {
    margin-top: 10px;
}

.search-group-inner {
    position: relative;
    vertical-align: middle;
}

.searchclear {
    position: absolute;
    right: 5px;
    top: 10px;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    z-index: 3;
}

.search-button {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.search-button:hover {
    color: #fff;
}

.bt-checkbox {
    vertical-align: bottom;
    margin-bottom: -2px;
}

.bt-input-text {
    display: inline-block;
}

.bt-input-text-between {
    width: 60px;
    display: inline-block;
}

.form-control-in {
    max-width: 32%;
    padding: 6px;
}

.bt-input-with-text {
    max-width: 400px;
}
