html {
    position: relative;
    min-height: 100%;
}

main {
    margin-bottom: 175px;
}

@media all and (max-width: 750px) {
    main {
        margin-bottom: 380px;
    }
}

footer {
    bottom: 0;
    margin-top: 0px;
    padding-top: 15px;
    position: absolute;
    width: 100%;
}
