{% load i18n %}
{% if authors %}
<div id="table-submission-authors-wrapper" class="mesh-table-wrapper">
  <table  id="table-submission-authors"
          class="mesh-table mesh-dataTable"
          data-searching="false"
          data-paging="false"
          data-info="false">
    <thead>
      <tr>
        <th data-orderable="false">{% translate "Name" %}</th>
        <th data-orderable="false">E-mail</th>
        <th data-orderable="false">{% translate "Corresponding" %}</th>
        <th data-orderable="false">{% translate "Added on" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for author in authors %}
      <tr>
        <td>{{ author.full_name }}</td>
        <td>{{ author.email }}</td>
        <td>
          {% if author.primary %}
          <i class="fa-solid fa-check"></i>
          {% else %}
          <i class="fa-solid fa-xmark"></i>
          {% endif %}
        </td>
        <td>
          {{ author.date_created|date:"DATE_FORMAT" }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
