{% load mesh_tags %}
{% if file_wrapper %}
<div class="item-file" data-tooltip="{{ file_wrapper.name }}" data-tooltip-position="top">
  <a href="{{ file_wrapper.get_file_url }}" target="_blank">
    <i class="fa-solid fa-file-lines"></i>
  </a>
  <div class="item-file-title">
    <a href="{{ file_wrapper.get_file_url }}" target="_blank">
      {{ file_wrapper.name }}
    </a>
  </div>
  <div class="item-file-date">
    <i>{{ file_wrapper.date_created|date:"DATE_FORMAT" }}</i>
  </div>
</div>
{% endif %}
