{% extends "base.html" %}
{% comment %}
  Base view for the submission list.
  Arguments:
    - `submissions_config`    The config on how to display the submissions along with the raw data.
                              Type: `list[SubmissionListConfig]`
    - `filters`               A FilterSet instance - Optional.
    - `submission_count`      The count of submissions.
    - `all_role_submissions`  The count of submissions per role.
{% endcomment %}
{% load static i18n mesh_tags %}

{% block extra_css%}
{{ block.super }}
<link rel="stylesheet" href="{% static "mesh/css/components/filters.css" %}">
<link rel="stylesheet" href="{% static "mesh/css/components/table.css" %}">
{% endblock extra_css%}

{% block extra_js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
{% endblock extra_js %}

{% block breadcrumb %}
  {% if all_submissions_count != 0 %}
    {{ block.super }}
  {% endif %}
{% endblock breadcrumb %}

{% block main_content %}
<div id="mesh-page-journal_section">
  <div class="page-title-block">
    <div class="page-title">
      {% if archived is True %}{% translate "Archived submissions" %}{% else %}{{ request.session.user_role.submission_list_title }}{% endif %}{% if filters.active or submission_count.total %}&nbsp;&nbsp;-&nbsp;{% endif %}
      {% if filters.active %}
      <span>{{ submission_count.value }}&nbsp;/&nbsp;{{ submission_count.total }}</span>
      {% elif submission_count.total %}
      <span>{{ submission_count.total }}</span>
      {% endif %}

      {% if role_handler.current_role.rights.can_create_submission %}
      <div class="float-end text-center">
        <a class="btn btn-lg button-highlight" href="{% url "mesh:submission_create" %}">
          <i class="fa-solid fa-pen-nib"></i>
          <span class="nav-item-label">
            {% translate "Create a new submission" %}
          </span>
        </a>
      </div>
      {% endif %}
    </div>
  </div>

  <div id="mesh-page-content">
    {% comment %} List of submissions per active role. {% endcomment %}
    {% comment %} Olivier - The active roles are displayed in the header with a dropdown
    {% if all_role_submissions %}
    <div id="role-submissions">
      <div id="role-submissions-label">
        {% translate "Submissions per role" %}
        <i  class="fa-solid fa-circle-question"
            data-tooltip="{% translate "Summary of the available submissions for all your active roles." %}"
            data-tooltip-position="bottom">
        </i>
        :
      </div>
      {% for role_submissions in all_role_submissions %}
      <form class="role-submissions"
            method="POST"
            action="{% url "mesh:role_switch" %}"
            data-tooltip="{% if role_submissions.active %}{% translate "Active role" %}{% else %}{% translate "Switch to role" %}: {{ role_submissions.role.name}}{% endif %}">
        {% csrf_token %}
        {% with role_form=role_submissions.role.code|role_switch_form %}
        {{ role_form }}
        {% endwith %}
        <button class="{% if role_submissions.active %}active{% endif %}" type="submit" {% if role_submissions.active %}disabled{% endif %}>
          {% include "mesh/components/icon.html" with icon_class=role_submissions.role.icon_class %}
          <span>{{ role_submissions.role.name }}</span>
          <span class="role-submissions-number">{{ role_submissions.submissions }}</span>
        </button>
      </form>
      {% endfor %}
    </div>
    {% endif %}
    {% endcomment %}

    {% comment %} Filters {% endcomment %}
    {% if filters %}
    {% include "mesh/components/filter_set.html" with id="submission-filter-set" filter_set=filters %}
    {% endif %}

    {% comment %} Submission lists {% endcomment %}
    {% if submissions_config %}
    <div id="submission-lists"{% if all_submissions_count == 0 %} class="disabled"{% endif %}>
      {% for submission_list in submissions_config %}
      {% if submission_list.all_submissions|length > 0 %}
      {% include "mesh/submission/submission_list.html" with submission_list=submission_list filters_active=filters.active%}
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock main_content %}
