{% extends "base.html" %}
{% load mesh_tags i18n static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "mesh/css/submission_details.css" %}" />
<link rel="stylesheet" href="{% static "mesh/css/components/table.css" %}">
{% endblock extra_css%}

{% block extra_js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
{% endblock extra_js %}

{% block main_content %}
<div id="mesh-page-journal_section">
  <div id="mesh-page-content-header">
    {% comment %}
    Display in a pretty way all the article metadata here:
      - Name
      - Status
      - Last modification/action
      - Author(s)
    {% endcomment %}
    <div id="mesh-submission-metadata" class="mb-4">
      <div class="mesh-submission-metadata-column">
        <div class="submission-name">{{ submission_proxy.name|safe }}</div>
        {% if submission_proxy.authors_string %}
        <div class="submission-author">
          {% translate "by" %}
          <span class="value">{{ submission_proxy.authors_string }}</span>
        </div>
        {% endif %}
        {% if submission_proxy.journal_section %}
        <div class="submission-journal">
          {% translate "Published in" %} <span class="value">{{ submission_proxy.journal_section }}</span>
        </div>
        {% endif %}
      </div>
      <div class="mesh-submission-metadata-column">
        <div class="submission-state {{ submission.state }}">
          {{ submission_proxy.status.status.value|upper }}
        </div>
        <div class="submission-status{% if submission_proxy.status.status|stringformat:"s" == "SubmissionState.TODO" %} emphasize{% endif %}">
            <i>{{ submission_proxy.status.description }}</i>
        </div>
        <div class="submission-submit-date">
          {% if submission_proxy.date_first_version %}
          {% translate "Submitted" %}: {{ submission_proxy.date_first_version|date:"DATE_FORMAT" }}
          {% else %}
          {% translate "Created" %}: {{ submission_proxy.date_created|date:"DATE_FORMAT" }}
          {% endif %}
        </div>
        {% if role_handler.current_role.rights.can_access_last_activity %}
        <div class="submission-last-mod-date">
          <i>{% translate "Last activity" %}: {{ submission_proxy.date_last_activity|date:"DATETIME_FORMAT" }}</i>
        </div>
        {% endif %}
        {% with editors=submission_proxy.editors.all %}
        {% if editors %}
        <div class="submission-assigned-editors">
          {% if submission_proxy.can_assign_editor %}
          <a id="assigned-editors-edit" class="as-button" href="{% url "mesh:submission_editors" pk=submission_proxy.pk%}">
            <i class="fa-solid fa-edit"></i>
            {% translate "Edit" %}
          </a>
          {% endif %}
          <span>{% translate "Assigned editors" %}:</span>
          {% for editor in editors %}
          <span class="submission-assigned-editor">{{ editor.user.get_full_name }}{% if not forloop.last %}, {% endif %}</span>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
      </div>
    </div>

    {% comment %}
    Display all actions (cf. Editflow ?):
      - Edit submission
      - Create round
      - Request review
      - Close round ?
      - Request revision
      - Accept submission
      - Reject submission
    {% endcomment %}
    {% if message_if_no_actions %}
      <fieldset id="mesh-submission-actions" class="mt-5 p-4">{{ message_if_no_actions|safe }}</fieldset>
    {% else %}
      {% if action_lists %}
      <fieldset id="mesh-submission-actions">
        <legend>ACTIONS</legend>
        {% for action_list in action_lists %}
        <div class="mesh-submission-action-list">
          <div class="action-list-title">
            {{ action_list.title }}
          </div>
          <div class="action-list">
            {% for action in action_list.actions %}
            <div class="action-list-item">
              {% include "mesh/components/button.html" with button=action %}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </fieldset>
      {% endif %}
    {% endif %}
  </div>

  {% comment %}
  Display all actual submission data:
    - Abstract/Description
    - By version:
        - Version
        - Content
        - Date
  {% endcomment %}
  <div id="mesh-page-content">
    {% comment %} Description {% endcomment %}
    <div id="mesh-submission-description" class="mesh-page-content-section">
      <div class="section-title">
        {% translate "Abstract" %}
      </div>
      <div class="section-content">
        <div id="submission-abstract" class="ckeditor-content">
          {{ submission_proxy.abstract|safe }}
        </div>
      </div>
    </div>

    {% comment %} Editorial decisions {% endcomment %}
    {% if editorial_decisions %}
    <div class="mesh-page-content-section">
      <div class="section-title">
        {% translate "Editorial decisions" %}
      </div>
      <div  id="table-decisions-wrapper"
            class="section-content mesh-table-wrapper">
        <table  id="table-decisions"
                class="mesh-table"
                data-order='[[2, "desc"]]'
                data-searching="false"
                data-paging="false"
                data-info="false">
          <thead>
            <tr>
              <th data-orderable="false"></th>
              <th><span class="th-label">{% translate "Decision" %}</span></th>
              <th><span class="th-label">{% translate "Date" %}</span></th>
              <th><span class="th-label">{% translate "By" %}</span></th>
              <th data-orderable="false"><span class="th-label">{% translate "Comment" %}</span></th>
              <th data-orderable="false"><span class="th-label">{% translate "Files" %}</span></th>
            </tr>
          </thead>
          <tbody>
            {% for decision in editorial_decisions %}
            <tr>
              <td>
                {% check_rights role_handler "can_edit_editorial_decision" decision as can_edit_editorial_decision %}
                {% if can_edit_editorial_decision %}
                <a clas="as-button" href="{% url "mesh:editorial_decision_update" pk=decision.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
                {% endif %}
              </td>
              <td>{{ decision.get_value_display }}</td>
              <td data-order="{{ decision.date_created|date:"U" }}">{{ decision.date_created|date:"DATETIME_FORMAT" }}</td>
              <td>{{ decision.created_by }}</td>
              <td class="ckeditor-content">{{ decision.comment|safe }}</td>
              <td>
                {% for file_wrapper in decision.additional_files.all %}
                <div class="decision-file">
                  <a href="{{ file_wrapper.get_file_url }}" target="_blank">{{ file_wrapper.name }}</a>
                </div>
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}

    {% comment %} Submission versions {% endcomment %}
    {% if submission_proxy.versions %}
    {% for version_proxy in submission_proxy.versions %}
    <div class="mesh-submission-version mesh-page-content-section{% if forloop.first %} mesh-submission-version-last{% endif %}">
      {% comment %} Version metadata & actions {% endcomment %}
      <div class="section-title">
        {% translate "Version" %} {{ version_proxy.number }} -
        <div class="section-subtitle">
          {% if version_proxy.submitted %}
          {% translate "Submitted on" %} {{ version_proxy.date_submitted|date:"DATE_FORMAT" }}
          {% else %}
          {% translate "Draft" %}
          {% endif %}
        </div>
        <div class="section-actions">
          {% comment %} Not used anymore - Kept for the HTML syntax {% endcomment %}
          {% if version_proxy.close_url %}
          <div class="section-action">
            <a href="{{ version_proxy.close_url }}">
              <i class='fa-solid fa-lock'></i>
              {% translate "Close review" %}
            </a>
          </div>
          {% endif %}
        </div>
      </div>

      {% comment %} Version data {% endcomment %}
      <div class="section-content">
        {% comment %} Main file of the submission version {% endcomment %}
        <div class="item-block">
          <div class="item-title">
            {% translate "Submission" %}
          </div>
          <div class="item-content">
            {% include "mesh/submission/file_details.html" with file_wrapper=version_proxy.main_file %}
          </div>
        </div>

        {% comment %} Additional files {% endcomment %}
        {% with additional_files=version_proxy.additional_files.all %}
        {% if additional_files%}
        <div class="item-block">
          <div class="item-title">
            {% translate "Additional files" %}
          </div>
          <div class="item-content">
            {% for file in additional_files %}
            {% include "mesh/submission/file_details.html" with file_wrapper=file %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endwith %}

        {% comment %} Reviews {% endcomment %}
        {% check_rights role_handler "can_access_reviews" version_proxy as can_access_reviews %}
        {% if can_access_reviews %}
        <div class="item-block">
          {% if not version_proxy.reviews %}
            {% if role_handler.current_role.rights.can_access_last_activity %}
              {% translate "There aren't any reviews for this round." %}
            {% endif %}
            {% check_rights role_handler "can_invite_reviewer" version_proxy as can_invite_reviewer %}
            {% if can_invite_reviewer %}
            <a href="{% url "mesh:review_create" version_pk=version_proxy.pk %}">
              <i class="fa-solid fa-plus"></i>
              {% translate "New referee request" %}
            </a>
            {% endif %}
          {% else %}
          <div id="table-reviews-wrapper-{{ version_proxy.pk }}" class="mesh-table-wrapper">
            <table  id="table-reviews-{{ version_proxy.pk }}"
                    class="table-reviews mesh-table mesh-dataTable"
                    data-searching="false"
                    data-paging="false"
                    data-info="false">
              <thead>
                <tr>
                  <th data-orderable="false"><span class="th-label">{% translate "Reviews" %}</span></th>
                  <th data-orderable="false"></th>
                  <th data-orderable="false"></th>
                  <th data-orderable="false"><span class="th-label">{% translate "File(s)" %}</span></th>
                </tr>
              </thead>
              <tbody>
                {% for review_proxy in version_proxy.reviews %}
                <tr>
                  <td class="referee-name">
                    {% if review_proxy.can_access_review_details %}
                    <a href="{% url "mesh:review_details" pk=review_proxy.pk %}" class="as-button" data-tooltip="{% translate "See details" %}">
                      <i class="fa-solid fa-link"></i>
                    </a>
                    {% endif %}
                    {{ review_proxy.reviewer }}
                  </td>
                  <td>
                    {{ review_proxy.get_state_display }}
                    {% if review_proxy.date_submitted %}
                    <br>
                    <small><i>{{ review_proxy.date_submitted|date:"DATE_FORMAT" }}</i></small>
                    {% elif review_proxy.accepted is False %}
                    <br>
                    <small><i>{{ review_proxy.date_accepted|date:"DATE_FORMAT" }}</i></small>
                    {% elif review_proxy.accepted is None %}
                    <br>
                    <small>Due date: <i>{{ review_proxy.date_response_due|date:"DATE_FORMAT" }}</i></small>
                    {% else %}
                    <br>
                    <small>Due date: <i>{{ review_proxy.date_review_due|date:"DATE_FORMAT" }}</i></small>
                    {% endif %}

                  </td>
                  <td>
                    <b>
                      {% if review_proxy.recommendation %}
                      {{ review_proxy.get_recommendation_display }}
                      {% endif %}
                    </b>
                  </td>
                  <td>
                    {% with review_files=review_proxy.additional_files %}
                    {% if review_files %}
                    <div class="review-files">
                      {% for file_wrapper in review_files %}
                      <div class="review-file">
                        <a href="{{ file_wrapper.get_file_url }}" target="_blank">
                          <i class="fa-solid fa-file-lines" aria-hidden="true"></i>
                          <span>{{ file_wrapper.name }}</span>
                        </a>
                        {% if file_wrapper.author_access %}
                        <div class="review-author-availability" data-tooltip="{% translate "Available to the author(s)" %}">
                          <i class="fa-solid fa-user color-primary"></i>
                          <i class="fa-solid fa-circle-check color-success"></i>
                        </div>
                        {% else %}
                        <div class="review-author-availability" data-tooltip="{% translate "Not available to the author(s)" %}">
                          <i class="fa-solid fa-user color-primary"></i>
                          <i class="fa-solid fa-circle-xmark color-error"></i>
                        </div>
                        {% endif %}
                      </div>
                      {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock main_content %}
