{% comment %}
  Base view for the submission list.
  Arguments:
    - `submission_list`     A `SubmissionListConfig` instance.
    - `filters_active`      Whether filters are active. Influence the display of total submissions.
{% endcomment %}
{% load i18n %}
<div class="submission-list {{ submission_list.html_classes }}">
  <div class="submission-list-title-block content-sticky">
    <span class="submission-list-title">
      {% if not submission_list.display or not submission_list.in_filters %}
      {{ submission_list.title }}&nbsp;&nbsp;-&nbsp;&nbsp;{{ submission_list.all_submissions|length }}
      {% else %}
      {{ submission_list.title }}&nbsp;&nbsp;-&nbsp;&nbsp;{{ submission_list.submissions|length }}{% if filters_active %}&nbsp;/&nbsp;{{ submission_list.all_submissions|length }}{% endif %}
      {% endif %}
    </span>
  </div>
  <div class="submission-list-content mesh-component">
    {% if submission_list.display %}

    {% if submission_list.submissions %}
    {% include "mesh/submission/submission_table.html" with id=submission_list.id  submissions=submission_list.submissions %}
    {% elif filters_active and submission_list.all_submissions %}
    <p>
      {% translate "No submissions matching your filters." %}
    </p>
    {% else %}
    <p>
      {% translate "You have no submissions." %}
    </p>
    {% endif %}

    {% elif submission_list.display_html %}
    {{ submission_list.display_html|safe }}
    {% else %}
    <p>
      {% translate "Display is turned off." %}
    </p>
    {% endif %}
  </div>
</div>
