{% comment %}
  Template for the submission table.
  Arguments:
    - `id` (optional)   The table ID.
    - `submissions`     An iterable of Submission instances to be displayed in the table.
    - `no_actions`      Whether to disable the "Actions" column.
{% endcomment %}
{% load i18n %}
{% load mesh_tags %}
<div  id="{% if id %}{{ id }}-wrapper{% else %}submission-table-wrapper{% endif %}"
      class="mesh-table-wrapper mesh-component mesh-submission-table-wrapper">
  {% include "mesh/dataTable_config.html" %}
  <table  id="{% if id %}{{ id }}{% else %}submission-table{% endif %}"
          class="mesh-table mesh-dataTable mesh-submission-table"
          data-order='[[3, "asc"]]'>
    <thead>
      <tr>
        <th data-class-name="submission-title">
          <span class="th-label">{% translate "Submission" %}</span>
        </th>
        {% if with_journal_sections %}
        <th>
          <span class="th-label">Section</span>
        </th>
        {% endif %}
        <th>
          <span class="th-label">{% translate "Status" %}</span>
        </th>
        {% if role_handler.current_role.rights.can_access_last_activity %}
        <th>
          <span class="th-label">{% translate "Last activity" %}</span>
        </th>
        {% endif %}
        <th>
          <span class="th-label">{% translate "Submitted on" %}</span>
        </th>
        {% if role_handler.current_role.rights.can_access_shortcut_actions %}
        <th data-orderable="false" data-class-name="submission-action-column">
          <span class="th-label">
            <i class="fa-solid fa-sliders"></i>
            {% translate "Action(s)" %}
          </span>
        </th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for submission_proxy in submissions %}
      <tr>
        <td data-order="{{ submission_proxy.name }}">
          <a class="submission-name"
              href="{% url "mesh:submission_details" pk=submission_proxy.pk %}"
              data-tooltip="{{ submission_proxy.name }}"
              data-tooltip-html="true">
              {{ submission_proxy.name|safe }}
          </a>
          </a>
          {% if submission_proxy.authors_string %}
          <div class="submission-author mt-2">
            <i>{{ submission_proxy.authors_string }}</i>
          </div>
          {% endif %}
        </td>

        {% if with_journal_sections %}
        <td>
          {% if submission_proxy.journal_section %}
          {{ submission_proxy.journal_section }}
          {% else %}
          -
          {% endif %}
        </td>
        {% endif %}

        <td data-order="{{ submission_proxy.status_order }}">
          <div class="submission-state {% comment %}{{ submission_proxy.status }}{% endcomment %}">{{ submission_proxy.status.status.value|upper }}</div>
          <div class="submission-status{% if submission_proxy.state.state|stringformat:"s" == "SubmissionState.TODO" %} emphasize{% endif %}">
            <i>{{ submission_proxy.status.description }}</i>
          </div>
          {% include "mesh/components/review_summary.html" with summary=submission_proxy.review_summary %}
        </td>

        {% if role_handler.current_role.rights.can_access_last_activity %}
        <td data-order="{{submission_proxy.date_last_activity|date:"U"}}">
          <i>{{ submission_proxy.date_last_activity|date:"DATE_FORMAT" }}</i>
        </td>
        {% endif %}

        <td data-order="{{submission_proxy.date_submission|date:"U"}}">
          <i>
            {{ submission_proxy.date_submission|date:"DATE_FORMAT" }}
          </i>
        </td>

        {% if role_handler.current_role.rights.can_access_shortcut_actions %}
        {% with shortcut_actions=submission_proxy|get_shortcut_actions_tag:role_handler.current_role.rights %}
        <td>
          <div class="submission-list-actions">
            {% for action in shortcut_actions %}
            {% include "mesh/components/button.html" with button=action %}
            {% endfor %}
          </div>
        </td>
        {% endwith %}
        {% endif %}

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
