{% extends "mesh/forms/form_full_page.html" %}
{% load static i18n %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "mesh/css/components/table.css" %}">
{% endblock extra_css%}

{% block extra_js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
{% endblock extra_js %}

{% block page_title %}
<span>
  {% if submission_proxy.is_draft %}
  {% translate "Confirm Submission" %}
  {% else %}
  {% translate "Confirm Revisions" %}
  {% endif %}
</span>
{% endblock page_title %}

{% block form_description %}
<div class="custom-form-description">
  <p>
    {% if submission_proxy.is_draft %}
    {% translate "You are about to submit the submission" %} {{ submission_proxy.name|safe }}
    {% else %}
    {% translate "You are about to submit revisions for the submission" %}
    <a href="{% url "mesh:submission_details" pk=submission_proxy.pk %}">{{ submission_proxy.name|safe }}</a>
    {% endif %}
  </p>
  <p>
    {% translate "Please confirm that the below information is correct." %}
  </p>
  <div class="submission-recap">
    {% if submission_proxy.is_draft %}
    {% comment %} Metadata {% endcomment %}
    <div class="mesh-page-content-section">
      <div class="section-title">
        {% translate "Article metadata" %}
        <div class="section-separator"></div>
      </div>
      <div id="submission-recap-metadata" class="raw-data-display section-content">
        <div>
          {% translate "Title" %}
        </div>
        <div class="submission-title">
          {{ submission_proxy.name|safe }}
        </div>
        {% if submission_proxy.journal_section %}
        <div>
          {% translate "Section" %}
        </div>
        <div>
          {{ submission_proxy.journal_section }}
        </div>
        {% endif %}
        <div>
          {% translate "Abstract" %}
        </div>
        <div class="ckeditor-content">
          {{ submission_proxy.abstract|safe }}
        </div>
      </div>
    </div>
    {% comment %} Authors {% endcomment %}
    <div class="mesh-page-content-section">
      <div class="section-title">
        {% translate "Authors" %}
        <div class="section-separator"></div>
      </div>
      <div class="section-content">
      {% include "mesh/submission/authors_table.html" with authors=submission_proxy.all_authors %}
      </div>
    </div>
    {% endif %}
    {% comment %} Files {% endcomment %}
    <div class="mesh-page-content-section">
      <div class="section-title">
        {% translate "Files" %}
        <div class="section-separator"></div>
      </div>
      <div class="section-content">
        {% include "mesh/files_table.html" with files=submission_files %}
      </div>
    </div>
  </div>
</div>
{% endblock form_description %}
