{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="right_col" style="padding-top:80px">
  <div class="history-filters">
    <div class="btn-group">
      <a href="{% url 'history' %}{{type_link}}&type=import" class="btn {% if request.GET.type == 'import' %}btn-primary{% else %}btn-default{% endif %}">Import</a>
      <a href="{% url 'history' %}{{type_link}}&type=edit" class="btn {% if request.GET.type == 'edit' %}btn-primary{% else %}btn-default{% endif %}">Edit</a>
      <a href="{% url 'history' %}{{type_link}}&type=matching" class="btn {% if request.GET.type == 'matching' %}btn-primary{% else %}btn-default{% endif %}">Matching</a>
      <a href="{% url 'history' %}{{type_link}}&type=deploy" class="btn {% if request.GET.type == 'deploy' %}btn-primary{% else %}btn-default{% endif %}">Deploy</a>
      <a href="{% url 'history' %}{{type_link}}&type=archive" class="btn {% if request.GET.type == 'archive' %}btn-primary{% else %}btn-default{% endif %}">Archive</a>
      <a href="{% url 'history' %}{{type_link}}" class="btn {% if request.GET.type %}btn-default{% else %}btn-primary{% endif %}">Tous</a>
    </div>
    <div class="btn-group" style="margin-left:50px">
      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-bs-toggle="dropdown">{% if request.GET.col %}{{request.GET.col}}{% else %}Revues{% endif %}
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            {% for col in collections %}
              <li><a href="{% url 'history' %}{{col_link}}&col={{col}}">{{col}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <a href="{% url 'history' %}{{col_link}}" class="btn {% if request.GET.col %}btn-default{% else %}btn-primary{% endif %}">Tous</a>
    </div>
    <div class="btn-group" style="margin-left:50px">
      <a href="{% url 'history' %}{{status_link}}&status=error" class="btn {% if request.GET.status == 'error' %}btn-primary{% else %}btn-default{% endif %}">Errors</a>
      <a href="{% url 'history' %}{{status_link}}&status=warning" class="btn {% if request.GET.status == 'warning' %}btn-primary{% else %}btn-default{% endif %}">+ Warnings</a>
      <a href="{% url 'history' %}{{status_link}}" class="btn {% if request.GET.status %}btn-default{% else %}btn-primary{% endif %}">Tous</a>
    </div>
  </div>
  {% for group in grouped_events %}
    <div id="accordion-month-{{forloop.counter}}" class="panel-group history-month">
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-month-{{forloop.counter}}" data-target="#collapse-{{forloop.counter}}">
          <h4 class="panel-title">
            <span class="history-month-title">
              {{group.group_date|date:"Y-m"}}
            </span>
            <span class="label label-primary">{{group.count}} events</span>
            {% if group.error_count %}
              <span class="label label-danger">{{group.error_count}} Errors</span>
            {% endif %}
            {% if group.warning_count %}
              <span class="label label-warning">{{group.warning_count}} Warnings</span>
            {% endif %}
          </h4>
        </div>
        <div id="collapse-{{forloop.counter}}" class="panel-collapse collapse">
          <div class="panel-body" id="accordion-ids-{{forloop.counter}}">
            {% for event in group.events %}
            <div class="panel panel-default">
              <div class="panel-body" {% if event.ids_count > 1 or event.message %}data-toggle="collapse" data-parent="accordion-ids-{{forloop.counter}}" data-target="#ids-collapse-{{forloop.counter}}"{% endif %}>
                <div class="history-left-cols{% if event.ids_count > 1 or event.message %}-lg{% endif%}">
                  <span class="history-plus-sign {% if event.ids_count > 1 or event.message %}glyphicon glyphicon-plus{% endif %}"> </span>
                  <span class="history-type">
                    {% if event.type == "edit" %}
                    <span class="glyphicon glyphicon-edit"></span>
                    {% elif event.type == "matching" %}
                    <span class="glyphicon glyphicon-heart"></span>
                    {% endif %}
                    {{event.type|title}}
                  </span>
                  <span class="history-date">{{event.created_on|date:"Y-m-d H:i"}}</span>
                  <span class="history-pid"><a href="{% url 'item_id' event.pid %}">{{event.pid}}</a></span>
                  {% if event.ids_count > 1 %}
                    <span class="badge">{{event.ids_count}} ids</span>
                  {% endif %}
                </div>
                {% if event.status == "ERROR" %}
                  <div class="pull-right">
                    <span class="history-message" title="{{event.message}}">{{event.message|truncatechars:50}}</span>
                    <span class="label label-danger{% if event.obsolete %}-old{% endif %} history-label"><span class="glyphicon glyphicon-fire"></span> Error{% if event.obsolete %} <span class="glyphicon glyphicon-time"></span>{% endif %}</span>
                  </div>
                {% elif event.status == "WARNING" %}
                  <div class="pull-right">
                    <span class="history-message" title="{{event.message}}">{{event.message|truncatechars:50}}</span>
                    <span class="label label-warning{% if event.obsolete %}-old{% endif %} history-label"><span class="glyphicon glyphicon-exclamation-sign"></span> Warning{% if event.obsolete %} <span class="glyphicon glyphicon-time"></span>{% endif %}</span>
                  </div>
                {% elif event.message or event.ids_count == 1 %}
                <div class="history-middle-col">
                  {% if event.ids_count == 1 %}
                  {% for id in event.ids %}
                    <span>{% if id.seq %}[{{id.seq}}] {% endif %}{{id.type}}:{{id.id}}</span>
                  {% endfor %}
                  {% endif %}
                  {% if event.message and event.status != "OK" %}
                  <span>{{event.message}}</span>
                  {% endif %}
                </div>
                {% endif %}
              </div>
              {% if event.ids_count > 1 or event.message %}
                <div id="ids-collapse-{{forloop.counter}}" class="collapse plus">
                  <div class="history-plus-ids">
                  {% for id in event.ids %}
                    <span class="no-history-plus-article-id">{% if id.seq %}[{{id.seq}}] {% endif %}{{id.type}}:{{id.id}}</span><br/>
                  {% endfor %}
                  </div>
                  {% if event.message %}
                  <div class="history-full-message">{{event.message|safe}}</div>
                  {% endif %}
                  <div class="clearfix"> </div>
                  {% for article in event.articles %}
                  <div class="history-plus-article clearfix">
                    <div class="history-plus-article-pid">{{article.pid}}</div>
                    <div class="history-plus-article-ids">
                      {% for id in article.ids %}
                      <span class="no-history-plus-article-id">{% if id.seq %}[{{id.seq}}] {% endif %}{{id.type}}:{{id.id}}</span>
                      {% endfor %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock content %}

