{% load i18n %}
{% load static %}

<div class="row justify-content-between justify-content-lg-start" {% if not group_issues %}style="margin-bottom:40px"{% endif %}>
  <div class="col-sm-12 col-md-2" style="text-align: center">
    {% if issue.icon %}
      {% if volume_toc %}
      <a href="{{ issue.get_absolute_url }}">
      {% else %}
      <a class="lightbox" href="{{ issue.icon }}" title="">
      {% endif %}
      <img {% if group_issues %}style="margin-top:0px;"{% endif %} class="mrs-journal-icon {% if volume_toc %}volume-toc{% endif %}" src="{{issue.icon}}">
      </a>
    {% else %}
      {% with ""|add:issue.my_collection.pid|lower|add:"/img/couv-"|add:issue.my_collection.pid|lower|add:".jpg" as couv %}
      {% if volume_toc %}
      <a href="{{ issue.get_absolute_url }}">
      {% else %}
      <a class="lightbox" href="{% static couv %}" title="">
      {% endif %}
      <img class="mrs-journal-icon {% if volume_toc %}volume-toc{% endif %}" src="{% static couv %}">
      </a>
      {% endwith %}
    {% endif %}

  </div>
  {% if issue.title_html %}
  <div class="col-sm-12 col-md-9">
    <p class="article-author" style="margin-top: 10px;{% if group_issues %}margin-bottom:5px;{% endif %}">{% trans "Numéro spécial" %}{% if issue.with_online_first %} - {% trans "En cours" %}{% endif %}</p>
    <h3 {% if group_issues %}style="margin-top:0px;"{% endif %} class="issue-title">{% include 'common/common-title.html' with item=issue with_links=group_issues %}</h3>
    {% include 'common/common-contrib.html' with item=issue is_issue=True %}
    {% if not group_issues and issue.ctype == 'issue_special' %}
    {% include 'common/issue/issue-how-to-cite.html' with item=issue is_special_issue=True %}
    {% endif %}
    {% include 'common/common-binary-files.html' with embargo=issue.embargo binary_files=binary_files.self %}
  </div>
  {% endif %}
</div>
