{% load i18n %}
{% load stringsfilter %}
{% load static %}

<div class="row" {% if not group_issues %}style="margin-bottom:40px"{% endif %}>
  <div class="col-12 col-sm-2" style="text-align: center">
    {% with ""|add:issue.my_collection.pid|lower|add:"/img/couv-"|add:issue.my_collection.pid|lower|add:".jpg" as couv %}
    {% if with_title_link %}
    <a href="{% url 'volume-general-items' vid %}" title="">
    {% else %}
    <a class="lightbox" href="{% static couv %}" title="">
    {% endif %}
    <img class="mrs-journal-icon {% if volume_toc %}volume-toc{% endif %}" src="{% static couv %}">
    </a>
    {% endwith %}
  </div>
  <div class="col-12 col-sm-10 col-md-9 col-md-offset-1">
    <h3 class="issue-title">
      <span class="common-title article-title">
        {% with year|get_volume_in_progress_msg as title %}
          {% if with_title_link %}
            <a href="{% url 'volume-general-items' vid %}">{% trans title %}</a>
          {% else %}
            {% trans title %}
          {% endif %}
        {% endwith %}
      </span>
    </h3>
  </div>
</div>
