{% load i18n %}
{% load static %}

<div class="article-div" style="margin-bottom:40px">
  <div class="row">
    <div class="col-12">
      <h3>{% trans 'Sommaire' %}</h3>
      <hr class="separator">
      {% for issue_articles in issues_articles %}
      {% with issue=issue_articles.issue %}
        {% include 'common/issue-header-general-cr.html' with volume_toc=True with_title_link=False %}
        <hr class="separator">
        {% include 'common/issue/issue-items-articles.html' with articles=issue_articles.articles %}
      {% endwith %}
      {% endfor %}
    </div>
  </div>
</div>
